AppsFlyer Add PR Events.json
{"updatedAt":"2025-06-24T02:13:39.000Z","createdAt":"2025-04-07T05:31:29.055Z","id":"rocnXquQsQNZN5jX","name":"AppsFlyer Add PR Events","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Start AF Event PR Add","formFields":{"values":[{"fieldLabel":"How many Events to Update per Try?","fieldType":"number","placeholder":"5"},{"fieldLabel":"How many Apps?","fieldType":"number","placeholder":"5"},{"fieldLabel":"OS Enabled","fieldType":"dropdown","fieldOptions":{"values":[{"option":"true"},{"option":"false"}]}},{"fieldLabel":"Pr Goals","fieldType":"dropdown","fieldOptions":{"values":[{"option":"true"},{"option":"false"}]}},{"fieldLabel":"Reprocess Remaining Events?","fieldType":"dropdown","fieldOptions":{"values":[{"option":"true"},{"option":"false"}]}},{"fieldLabel":"Randomize","fieldType":"dropdown","fieldOptions":{"values":[{"option":"true"}]}}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-840,-1245],"id":"a6a08808-0f51-45fa-8c11-179a262a9b56","name":"On form submission","webhookId":"c5a77cc6-9b00-4b6e-90af-ed27ad1787e1"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1fI4AzqXVjdzBrh3ojdMnOtx860Vo-U2YpI9x_1JvPQ8","mode":"list","cachedResultName":"Sigma AppsFlyer PR events","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fI4AzqXVjdzBrh3ojdMnOtx860Vo-U2YpI9x_1JvPQ8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":955404301,"mode":"list","cachedResultName":"mostRecent","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fI4AzqXVjdzBrh3ojdMnOtx860Vo-U2YpI9x_1JvPQ8/edit#gid=955404301"},"columns":{"mappingMode":"defineBelow","value":{"Last Updated":"={{ $now.toLocaleString(DateTime.DATETIME_SHORT) }}","Result":"={{ $json.error.message }} ","row_number":"={{ $json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"Distinct PRODUCT_TITLE","displayName":"Distinct PRODUCT_TITLE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Distinct APP_ID","displayName":"Distinct APP_ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"with PR_GOALS","displayName":"with PR_GOALS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Product Title","displayName":"Product Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"App Id","displayName":"App Id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OS Enabled","displayName":"OS Enabled","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Pr Goals","displayName":"Pr Goals","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Media Source","displayName":"Media Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Last Updated","displayName":"Last Updated","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Result","displayName":"Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"finalValue","displayName":"finalValue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3120,-1420],"id":"7c0ad4a1-d090-4fe5-99b9-e9cf51e0fa8b","name":"GS Error","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1fI4AzqXVjdzBrh3ojdMnOtx860Vo-U2YpI9x_1JvPQ8","mode":"list","cachedResultName":"Sigma AppsFlyer PR events","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fI4AzqXVjdzBrh3ojdMnOtx860Vo-U2YpI9x_1JvPQ8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":955404301,"mode":"list","cachedResultName":"mostRecent","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fI4AzqXVjdzBrh3ojdMnOtx860Vo-U2YpI9x_1JvPQ8/edit#gid=955404301"},"columns":{"mappingMode":"defineBelow","value":{"Last Updated":"={{ $now.toLocaleString(DateTime.DATETIME_SHORT) }}","Result":"={{ $('run AFEvntAutomtr').item.json.body.message }}","finalValue":"={{ $('run AFEvntAutomtr').item.json.body.events[$json.body.events.length - 1].finalValue }}","Remaining Events":"={{ $('run AFEvntAutomtr').item.json.body.lastOptionCount }}","row_number":"={{ $('GS get Apps').item.json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"Distinct PRODUCT_TITLE","displayName":"Distinct PRODUCT_TITLE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Distinct APP_ID","displayName":"Distinct APP_ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"with PR_GOALS","displayName":"with PR_GOALS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Product Title","displayName":"Product Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"App Id","displayName":"App Id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OS Enabled","displayName":"OS Enabled","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Pr Goals","displayName":"Pr Goals","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Media Source","displayName":"Media Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Last Updated","displayName":"Last Updated","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Result","displayName":"Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"finalValue","displayName":"finalValue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Remaining Events","displayName":"Remaining Events","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3120,-1220],"id":"42c2449d-40ad-46d0-88a2-abca54432f69","name":"GS Success","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1fI4AzqXVjdzBrh3ojdMnOtx860Vo-U2YpI9x_1JvPQ8","mode":"list","cachedResultName":"Sigma AppsFlyer PR events","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fI4AzqXVjdzBrh3ojdMnOtx860Vo-U2YpI9x_1JvPQ8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":955404301,"mode":"list","cachedResultName":"mostRecent","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fI4AzqXVjdzBrh3ojdMnOtx860Vo-U2YpI9x_1JvPQ8/edit#gid=955404301"},"columns":{"mappingMode":"defineBelow","value":{"Last Updated":"={{ $now.toLocaleString(DateTime.DATETIME_SHORT) }}","Result":"=No fields - item(s) exist, but they're empty","row_number":"={{ $json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"Distinct PRODUCT_TITLE","displayName":"Distinct PRODUCT_TITLE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Distinct APP_ID","displayName":"Distinct APP_ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"with PR_GOALS","displayName":"with PR_GOALS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Product Title","displayName":"Product Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"App Id","displayName":"App Id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OS Enabled","displayName":"OS Enabled","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Pr Goals","displayName":"Pr Goals","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Media Source","displayName":"Media Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Last Updated","displayName":"Last Updated","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Result","displayName":"Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"finalValue","displayName":"finalValue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Remaining Events","displayName":"Remaining Events","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Schedule?","displayName":"Schedule?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3120,-1020],"id":"9c58d4c8-8312-45ce-aa0e-21df9154155b","name":"GS Error Empty","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1fI4AzqXVjdzBrh3ojdMnOtx860Vo-U2YpI9x_1JvPQ8","mode":"list","cachedResultName":"Sigma AppsFlyer PR events","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fI4AzqXVjdzBrh3ojdMnOtx860Vo-U2YpI9x_1JvPQ8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":955404301,"mode":"list","cachedResultName":"mostRecent","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fI4AzqXVjdzBrh3ojdMnOtx860Vo-U2YpI9x_1JvPQ8/edit#gid=955404301"},"filtersUI":{"values":[{"lookupColumn":"OS Enabled","lookupValue":"={{ $json[\"OS Enabled\"] }}"},{"lookupColumn":"Pr Goals","lookupValue":"={{ $json[\"Pr Goals\"] }}"},{"lookupColumn":"Media Source","lookupValue":"inboxdollars_int"}]},"options":{"returnFirstMatch":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[260,-1145],"id":"3457852a-5c39-412c-964c-998c0c142622","name":"GS get Apps","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"jsCode":"// Process the incoming items\nconst items = $input.all(); // Access all incoming data items\n\n// Function to format date\nfunction formatDate(dateString) {\n    const date = new Date(dateString);\n    \n    const year = date.getFullYear();\n    const day = String(date.getDate()).padStart(2, '0');\n    const month = String(date.getMonth() + 1).padStart(2, '0');\n    let hours = date.getHours();\n    const minutes = String(date.getMinutes()).padStart(2, '0');\n    const ampm = hours >= 12 ? 'PM' : 'AM';\n\n    // Convert hours to 12-hour format\n    hours = hours % 12;\n    hours = hours ? String(hours).padStart(2, '0') : '12';\n\n    return `${year}-${day}-${month} ${hours}:${minutes} ${ampm}`;\n}\n\n// Process each incoming item\nitems.forEach(item => {\n    const entry = item.json; // Access the JSON data of the current item\n\n// EVENTS\n    if (entry[\"How many Events to Update per Try?\"] === null || entry[\"How many Events to Update per Try?\"] === 0) {\n        entry[\"How many Events to Update per Try?\"] = 5; // Set to 44 if null or 0\n    }\n    entry[\"howManyEvents\"] = entry[\"How many Events to Update per Try?\"];\n\n// APPS\n    if (entry[\"How many Apps?\"] === null || entry[\"How many Apps?\"] === 0) {\n        entry[\"How many Apps?\"] = 6; // Set to 6 if null or 0\n    }\n    entry[\"howManyApps\"] = entry[\"How many Apps?\"];\n  \n// OS ENABLED\n    if (!entry[\"OS Enabled\"] || entry[\"OS Enabled\"].length === 0) {\n        entry[\"OS Enabled\"] = \"true\"; // Set to \"true\" if not defined or if the array is empty\n    }\n\n// PR GOALS\n    if (!entry[\"Pr Goals\"] || entry[\"Pr Goals\"].length === 0) {\n        entry[\"Pr Goals\"] = \"false\"; // Set to \"true\" if not defined or if the array is empty\n    }\n\n// Reprocess\n    if (entry[\"Reprocess Remaining Events?\"] === null || entry[\"Reprocess Remaining Events?\"] === \"\" || typeof entry[\"Reprocess Remaining Events?\"] === 'undefined') {\n        entry[\"Reprocess Remaining Events?\"] = \"false\"; // Set if null, empty string or undefined\n    }\n    entry[\"Reprocess\"] = entry[\"Reprocess Remaining Events?\"];\n\n// Randomize\n    if (!entry[\"Randomize\"] || entry[\"Randomize\"].length === 0) {\n        entry[\"Randomize\"] = \"false\"; // Set to \"true\" if not defined or if the array is empty\n    }\n\n// submittedAt\n    if (entry[\"submittedAt\"]) {\n        entry[\"submittedAt\"] = formatDate(entry[\"submittedAt\"]);\n    }\n});\n\n// Return the processed items\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-180,-1245],"id":"6cf0c7c2-902a-49d1-8863-d2657bab04d4","name":"Code","disabled":true},{"parameters":{"url":"https://appsflyereventautomator-d6iic2snba-uc.a.run.app/run-script?","sendQuery":true,"queryParameters":{"parameters":[{"name":"appId","value":"={{ $json['App Id'] }}"},{"name":"max","value":"={{ $('renVars').item.json.howManyEvents }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2680,-1120],"id":"751de4e2-5171-495b-94a8-67a0dfc6a8bc","name":"run AFEvntAutomtr","executeOnce":true,"alwaysOutputData":false,"onError":"continueErrorOutput","notes":"Execute Once"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2240,-1320],"id":"6988a2fa-2511-4c78-946f-1304e260ce48","name":"Loop Over Items"},{"parameters":{"maxItems":"={{ $('renVars').item.json.howManyApps }}"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1800,-1145],"id":"30679ebd-875e-4861-b261-0237ea9a5752","name":"Limit howManyApps"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"1100dfd7-a343-4056-a399-07998cd5c605","leftValue":"={{ $json[\"Remaining Events\"].toString()}}","rightValue":0,"operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"7872cd5a-91b6-4155-ae41-862a8ab72dad","leftValue":"={{ $json['Last Updated'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[700,-1045],"id":"94f72f53-c443-43a4-b75f-047ba766a6b3","name":"Fresh Events"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"1100dfd7-a343-4056-a399-07998cd5c605","leftValue":"={{ $json[\"Remaining Events\"] }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[700,-1245],"id":"7ae6ef0f-6b10-4585-ab14-f40814c4b74c","name":"Remaining Events"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('renVars').item.json.Reprocess }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"a6ca12e4-b941-4444-b953-b0b88042e781"}],"combinator":"and"},"renameOutput":true,"outputKey":"ReprocessTRUE"}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra","renameFallbackOutput":"Default"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[480,-1145],"id":"093ed3bc-249e-4715-8fb7-37f1f4f57d0f","name":"Remaining or Fresh"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"7dfb9302-541f-4ce5-83eb-ea8d12b93c4a","leftValue":"={{ $('run AFEvntAutomtr').item.json.error.message }}","rightValue":"b","operator":{"type":"boolean","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Error Message"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('run AFEvntAutomtr').item.json }}","rightValue":30,"operator":{"type":"boolean","operation":"notEmpty","singleValue":true},"id":"c050c27a-bc24-40cd-b4c5-c70c50ce3231"}],"combinator":"and"},"renameOutput":true,"outputKey":"No Error"}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2900,-1120],"id":"56ec0164-4755-4281-a761-193bd58a40c6","name":"Error Handling"},{"parameters":{"url":"https://api.ipify.org?format=json","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[40,-1345],"id":"9f7ee28e-f81d-4f3f-ae47-3fea5e5241e9","name":"Get IP","disabled":true},{"parameters":{"operation":"completion","respondWith":"redirect","redirectUrl":"=https://docs.google.com/spreadsheets/d/1fI4AzqXVjdzBrh3ojdMnOtx860Vo-U2YpI9x_1JvPQ8/edit?gid=955404301&range=i{{ $json.row_number }}"},"type":"n8n-nodes-base.form","typeVersion":1,"position":[2460,-1320],"id":"825a4c87-e053-4841-ad21-7a6769cc7a02","name":"Load GS in Form","webhookId":"e19ea0ff-5372-4c27-abc5-21b87b5f70af"},{"parameters":{"maxItems":10},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1580,-1145],"id":"8acdfa64-6ddb-4fea-b630-284c35e88c7d","name":"Max 10 Loops"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[40,-1145],"id":"b303d4c9-f53e-44ae-bbe9-ba57e88b7213","name":"Wait before GS","webhookId":"2a9be444-7e9e-481d-ad50-96b2c538ceae"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"['App Id']","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[920,-1145],"id":"9949c5da-cf7a-4e29-9331-c9ced1284809","name":"Remove Duplicates"},{"parameters":{"type":"random"},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[1360,-1220],"id":"6d0c3a9b-acfb-4ce8-9229-3d6536623f3b","name":"Randomize1"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2020,-1145],"id":"c8bfeb50-4376-4e67-bf49-7d7dd036df09","name":"Wait 30s before","webhookId":"d88242f9-a3e8-4ea2-95ec-8e2f0d2ef689"},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2460,-1120],"id":"016382c0-4471-4ce1-b4e8-17b6b73d8db0","name":"Wait1minute","webhookId":"fa2c6b9b-df51-45bf-ab4e-b9ca65919c12"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3340,-1045],"id":"0389ebb0-8ecb-4b85-b1d4-5a840e62eeaf","name":"Wait 30s after","webhookId":"e52d3874-edfa-4455-8494-a8557f1aaddc"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"19e46a25-4f3a-4a44-83c6-bd0e3d1c1b48","leftValue":"={{ $('renVars').item.json.Randomize }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{"ignoreCase":false}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1140,-1145],"id":"f4831f4d-9b9c-45bc-a40e-96323a1a47b8","name":"ifRandomize"},{"parameters":{"content":"## Google Cloud: [Log](https://console.cloud.google.com/run/detail/us-central1/appsflyereventautomator/logs?invt=AbtzzA&project=appsflyer-data-384718&supportedpurview=project/)","height":80,"width":280},"type":"n8n-nodes-base.stickyNote","position":[2160,-960],"typeVersion":1,"id":"ac7ca1b8-ec35-40bb-bd80-e4ad80d378f6","name":"Sticky Note"},{"parameters":{"content":"## GSheet [AP Events](https://docs.google.com/spreadsheets/d/1fI4AzqXVjdzBrh3ojdMnOtx860Vo-U2YpI9x_1JvPQ8/edit?gid=955404301#gid=955404301/)","height":80},"type":"n8n-nodes-base.stickyNote","position":[-240,-960],"typeVersion":1,"id":"2e582e7a-f1ee-4407-801a-062a9457e6b0","name":"Sticky Note1"},{"parameters":{"content":"## Sigma [AF Events for CSV](https://app.sigmacomputing.com/prodege/workbook/AdOps-Disco-Offers-ADO-lkS2B9dyNwmez7Qk33M0X?:nodeId=onQVofTpfT&:explore=d9857b5d-142e-4dca-943e-b9c44595492f)","height":80,"width":400},"type":"n8n-nodes-base.stickyNote","position":[-860,-1400],"typeVersion":1,"id":"7a0170d5-2903-4ddd-b219-08cfa4565d6f","name":"Sticky Note2"},{"parameters":{"assignments":{"assignments":[{"id":"99ef505c-8fa8-4660-914e-132138d63cbf","name":"How many Events to Update per Try?","value":"={{ $('On form submission').first().json['How many Events to Update per Try?'] ? $('On form submission').first().json['How many Events to Update per Try?'] : ( $('On form submission').first().json['How many Events to Update per Try?'] === null ? 1 : 5 ) }}","type":"number"},{"id":"9a127ead-b2b4-424f-822f-6a7c379acd79","name":"How many Apps?","value":"={{ $('On form submission').first().json['How many Apps?'] ? $('On form submission').first().json['How many Apps?'] : ( $('On form submission').first().json['How many Apps?'] === null ? 1 : 5 ) }}","type":"number"},{"id":"03e03164-ea93-4b24-b46f-45024c3ff762","name":"OS Enabled","value":"={{ $('On form submission').first().json['OS Enabled'] ? $('On form submission').first().json['OS Enabled'] : ( $('On form submission').first().json['OS Enabled'] === null ? 'true' : 'true' ) }}","type":"string"},{"id":"e5a24324-8f02-4e5c-b915-ebd5f339d4e7","name":"Pr Goals","value":"={{ $('On form submission').first().json['Pr Goals'] ? $('On form submission').first().json['Pr Goals'] : ( $('On form submission').first().json['Pr Goals'] === null ? 'false' : 'false' ) }}","type":"string"},{"id":"456bf7d4-ec37-4fa1-9cf8-0a07d071efd0","name":"Reprocess Remaining Events?","value":"={{ $('On form submission').first().json['Reprocess Remaining Events?'] ? $('On form submission').first().json['Reprocess Remaining Events?'] : ( $('On form submission').first().json['Reprocess Remaining Events?'] === null ? 'false' : 'false' ) }}","type":"string"},{"id":"4be28991-5071-4bf9-8329-39837e3558b2","name":"Randomize","value":"={{ $('On form submission').first().json['Randomize'] ? $('On form submission').first().json['Randomize'] : ( $('On form submission').first().json['Randomize'] === null ? 'false' : 'false' ) }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-620,-1245],"id":"9490eceb-5fcd-4fe9-9eab-8f3b0c7844fb","name":"validateVars"},{"parameters":{"assignments":{"assignments":[{"id":"9c3e8989-410a-47f3-afab-86e49d64f1da","name":"howManyApps","value":"={{ $json['How many Apps?'] }}","type":"string"},{"id":"1745228f-a2ce-4c25-beaa-8510907f40db","name":"Reprocess","value":"={{ $json['Reprocess Remaining Events?'] }}","type":"string"},{"id":"41d449f2-097a-427f-bd95-1beb81a6fbad","name":"howManyEvents","value":"={{ $json['How many Events to Update per Try?'] }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,-1245],"id":"d12bb123-71ef-44d8-8403-55b7bde9cfb5","name":"renVars"},{"parameters":{"content":"## Adds more Events in AppsFlyer MMP\n### Prefixes with \"_pr\" for the Proxy (Shmuli) to capture data without OfferServer tracking","height":180,"width":400},"type":"n8n-nodes-base.stickyNote","position":[-860,-1620],"typeVersion":1,"id":"4c302615-827f-49fc-9806-04f8940d17af","name":"Sticky Note3"},{"parameters":{"content":"# we can re-use some of this technology for NOR","height":80,"width":1140,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-380,-1620],"typeVersion":1,"id":"62db42df-6baa-41cf-9d4d-e8f0441861eb","name":"Sticky Note4"}],"connections":{"On form submission":{"main":[[{"node":"validateVars","type":"main","index":0}]]},"GS Success":{"main":[[{"node":"Wait 30s after","type":"main","index":0}]]},"GS Error":{"main":[[{"node":"Wait 30s after","type":"main","index":0}]]},"GS Error Empty":{"main":[[{"node":"Wait 30s after","type":"main","index":0}]]},"GS get Apps":{"main":[[{"node":"Remaining or Fresh","type":"main","index":0}]]},"Code":{"main":[[{"node":"Get IP","type":"main","index":0},{"node":"Wait before GS","type":"main","index":0}]]},"run AFEvntAutomtr":{"main":[[{"node":"Error Handling","type":"main","index":0}],[{"node":"Error Handling","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Load GS in Form","type":"main","index":0}],[{"node":"Wait1minute","type":"main","index":0}]]},"Limit howManyApps":{"main":[[{"node":"Wait 30s before","type":"main","index":0}]]},"Fresh Events":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Remaining Events":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Remaining or Fresh":{"main":[[{"node":"Remaining Events","type":"main","index":0}],[{"node":"Fresh Events","type":"main","index":0}]]},"Error Handling":{"main":[[{"node":"GS Error","type":"main","index":0}],[{"node":"GS Success","type":"main","index":0}],[{"node":"GS Error Empty","type":"main","index":0}]]},"Get IP":{"main":[[]]},"Load GS in Form":{"main":[[]]},"Max 10 Loops":{"main":[[{"node":"Limit howManyApps","type":"main","index":0}]]},"Wait before GS":{"main":[[{"node":"GS get Apps","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"ifRandomize","type":"main","index":0}]]},"Randomize1":{"main":[[{"node":"Max 10 Loops","type":"main","index":0}]]},"Wait 30s before":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait1minute":{"main":[[{"node":"run AFEvntAutomtr","type":"main","index":0}]]},"Wait 30s after":{"main":[[{"node":"Wait 30s before","type":"main","index":0}]]},"ifRandomize":{"main":[[{"node":"Randomize1","type":"main","index":0}],[{"node":"Max 10 Loops","type":"main","index":0}]]},"validateVars":{"main":[[{"node":"renVars","type":"main","index":0}]]},"renVars":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"db7ddb54-46c3-44bf-a1a0-3b3eef6d98f3","activeVersionId":null,"triggerCount":2,"shared":[{"updatedAt":"2025-06-24T02:13:39.778Z","createdAt":"2025-06-24T02:13:39.778Z","role":"workflow:owner","workflowId":"rocnXquQsQNZN5jX","projectId":"NOrA7nVi3G84Nq0v"}],"activeVersion":null,"tags":[{"updatedAt":"2025-06-06T18:17:32.180Z","createdAt":"2025-03-28T23:24:04.262Z","id":"E1LwzwLZUFJpM0Xk","name":"appsflyer AF"},{"updatedAt":"2025-04-03T02:21:11.003Z","createdAt":"2025-04-03T02:21:11.003Z","id":"d0jgR8K9Z3D5glEj","name":"GOOD"},{"updatedAt":"2025-03-28T05:18:56.320Z","createdAt":"2025-03-28T05:18:56.320Z","id":"jEMJy2OFy0YxTQSO","name":"GSheet"}]}