AWIN Shop API Connection.json
{"updatedAt":"2025-08-19T20:56:25.000Z","createdAt":"2025-08-19T17:57:58.697Z","id":"OmtDFju2PJP5B8v0","name":"AWIN Shop API Connection","active":false,"isArchived":false,"nodes":[{"parameters":{"fields":{"values":[{"name":"InsertionOrderStatus","stringValue":"ACTIVE"},{"name":"pageSize","type":"numberValue","numberValue":"=10"},{"name":"currentPage","type":"numberValue","numberValue":"=2"},{"name":"prodegeBrand","stringValue":"Mypoints"}]},"options":{}},"id":"32bb9e9f-3ad6-439a-a55b-947ac156fb86","name":"Initialize Variables","type":"n8n-nodes-base.set","typeVersion":3,"position":[-64,496]},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-288,496],"id":"92ce15f2-e93a-4c6a-aaa7-5e05a8d99fce","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://api.awin.com/publishers/174411/reports/campaign","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"endDate","value":"2025-07-17"},{"name":"includeNumbersWithoutCampaign","value":"False"},{"name":"interval","value":"day"},{"name":"region","value":"US"},{"name":"startDate","value":"2025-07-15"},{"name":"timezone","value":"UTC"},{"name":"set","value":"boolean"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-800,384],"id":"9b914bb7-4c4b-4085-b7c5-20bcb148d3c3","name":"AWINcampaignReport","disabled":true},{"parameters":{"method":"POST","url":"https://api.awin.com/publisher/174411/promotions","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n \"filters\": {\n  \"membership\": \"joined\",\n  \"regionCodes\": [\n   \"US\"\n  ],\n  \"status\": \"active\",\n  \"type\": \"all\",\n  \"updatedSince\": \"2025-07-01\"\n },\n \"pagination\": {\n  \"page\": 1,\n  \"pageSize\": 20\n }\n}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[512,480],"id":"0c6fc658-d695-473f-82bd-08a119a5aa22","name":"AWINgetOffers","credentials":{"httpBearerAuth":{"id":"mFOJJw5m3mchBBov","name":"tavilyfef2"}}},{"parameters":{"jsCode":"// Extract the data array from the input\nconst promotions = $input.all()[0].json.data;\n\n// Define the columns for Google Sheets\nconst columns = [\n  'Promotion ID',\n  'Type',\n  'Advertiser ID',\n  'Advertiser Name',\n  'Joined',\n  'Title',\n  'Description',\n  'Terms',\n  'Start Date',\n  'End Date',\n  'Status',\n  'URL',\n  'Tracking URL',\n  'Date Added',\n  'Campaign',\n  'Regions - All',\n  'Regions - Countries'\n];\n\n// Format the data for Google Sheets\nconst formattedData = promotions.map(promo => {\n  // Handle regions formatting\n  let regionsAll = promo.regions.all ? 'Yes' : 'No';\n  let regionsCountries = '';\n  \n  if (promo.regions.list && promo.regions.list.length > 0) {\n    regionsCountries = promo.regions.list\n      .map(region => `${region.name} (${region.countryCode})`)\n      .join(', ');\n  }\n  \n  // Format dates to be more readable\n  const formatDate = (dateString) => {\n    if (!dateString) return '';\n    return new Date(dateString).toLocaleString('en-US', {\n      year: 'numeric',\n      month: '2-digit',\n      day: '2-digit',\n      hour: '2-digit',\n      minute: '2-digit',\n      hour12: false\n    });\n  };\n  \n  return {\n    'Promotion ID': promo.promotionId,\n    'Type': promo.type,\n    'Advertiser ID': promo.advertiser.id,\n    'Advertiser Name': promo.advertiser.name,\n    'Joined': promo.advertiser.joined ? 'Yes' : 'No',\n    'Title': promo.title,\n    'Description': promo.description,\n    'Terms': promo.terms,\n    'Start Date': formatDate(promo.startDate),\n    'End Date': formatDate(promo.endDate),\n    'Status': promo.status,\n    'URL': promo.url,\n    'Tracking URL': promo.urlTracking,\n    'Date Added': formatDate(promo.dateAdded),\n    'Campaign': promo.campaign || '',\n    'Regions - All': regionsAll,\n    'Regions - Countries': regionsCountries\n  };\n});\n\n// Return the formatted data\nreturn formattedData;"},"id":"ef1c50d2-f967-4f8d-8788-957b17d65c50","name":"AWINprocessFormat","type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,192]},{"parameters":{"assignments":{"assignments":[{"id":"7e25e0bb-8db7-4b46-bdcd-3e44cc024e9b","name":"SourceNetwork","value":"AWIN","type":"string"},{"id":"8af8c985-5520-4a3d-95f4-d0fa986fcd13","name":"AdvertiserID","value":"={{ $json[\"Advertiser ID\"] }}","type":"number"},{"id":"41366f04-e0e3-4562-9fc4-cc7c6ae82ea5","name":"AdvertiserName","value":"={{ $json[\"Advertiser Name\"] }}","type":"string"},{"id":"d8f973cc-0036-48a9-8deb-b8807dd492c4","name":"CampaignID","value":"={{ $json[\"Promotion ID\"] }}","type":"number"},{"id":"567e3506-46c5-4621-9afb-b8f069111969","name":"ContractStatus","value":"={{ $json.Status }}","type":"string"},{"id":"f6a8ddb3-94e5-4900-bc78-7b80e0315cb4","name":"RegionsCountries","value":"={{ $json[\"Regions - Countries\"] }}","type":"string"},{"id":"5869e075-525e-4abb-9188-4ae4ec22efde","name":"Terms","value":"={{ $json.Terms }}","type":"string"},{"id":"a376acba-a9be-4a0a-a573-011c73fb49dc","name":"TrackingURL","value":"={{ $json[\"Tracking URL\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,288],"id":"3dc92f0e-3c8f-4c4a-b141-27fd2439102a","name":"awinSetSimilar"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"AdvertiserName"},{"fieldName":"CampaignID"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[2080,512],"id":"d695ee03-b76b-4f67-a388-6b7da690b30c","name":"Sort"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1zxbnujx7hq1duDAZ7844USmsr-XzP-RyDR0uxfiGx5E","mode":"id"},"sheetName":{"__rl":true,"value":"1653824325","mode":"id"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["CampaignID"],"schema":[{"id":"SourceNetwork","displayName":"SourceNetwork","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"AdvertiserID","displayName":"AdvertiserID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"AdvertiserName","displayName":"AdvertiserName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CampaignID","displayName":"CampaignID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ContractStatus","displayName":"ContractStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"RegionsCountries","displayName":"RegionsCountries","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Terms","displayName":"Terms","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TrackingURL","displayName":"TrackingURL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"handlingExtraData":"insertInNewColumn","useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2288,400],"id":"10d49ee9-e3bc-4f8c-b208-c86a4abef826","name":"gsCombined","credentials":{"googleApi":{"id":"oEEbP0TZ34kNKGnb","name":"GSA: n8n-shop-gservice-2025may18"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1872,512],"id":"4ab19ce0-14f0-4b16-b809-8115a969da37","name":"Merge"},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zxbnujx7hq1duDAZ7844USmsr-XzP-RyDR0uxfiGx5E","mode":"id"},"sheetName":{"__rl":true,"value":"1476449652","mode":"id"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"Promotion ID","displayName":"Promotion ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Advertiser ID","displayName":"Advertiser ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Advertiser Name","displayName":"Advertiser Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Joined","displayName":"Joined","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Terms","displayName":"Terms","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Start Date","displayName":"Start Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"End Date","displayName":"End Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tracking URL","displayName":"Tracking URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Date Added","displayName":"Date Added","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Campaign","displayName":"Campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Regions - All","displayName":"Regions - All","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Regions - Countries","displayName":"Regions - Countries","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"handlingExtraData":"insertInNewColumn"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1520,96],"id":"8b78b172-4e47-4cdb-974a-a297cd800ecf","name":"gsAWIN","credentials":{"googleApi":{"id":"oEEbP0TZ34kNKGnb","name":"GSA: n8n-shop-gservice-2025may18"}}},{"parameters":{"content":"# Overview\nThis workflow aggregates affiliate marketing data from multiple networks:\n- Commission Junction (CJ): https://developers.cj.com/docs/rest-apis/link-search\n- Impact Radius (IR): https://developer.impact.com/\n- Awin: https://wiki.awin.com/index.php/API_Authentication\n\nThe workflow standardizes data formats across networks, enabling unified processing and comparison of affiliate offers from diverse sources to support multiple brand websites.","height":300,"width":860},"type":"n8n-nodes-base.stickyNote","position":[-336,-128],"typeVersion":1,"id":"3f3c7e64-97c0-4d1e-bfad-e0a9d77b2cdc","name":"Sticky Note2"},{"parameters":{"content":"## Credentials\n- CJ Bearer Auth token (credential name: \"CJ Bearer Auth n8n-SHOP-cj-20250717\")\n- HTTP Bearer Authentication for accessing the CJ Link Search API\n- Personal Access Token for CJ's API (referenced but implementation details hidden)\n- Additional credentials may be needed for destination systems where processed data is sent","height":180,"width":720,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1456,-128],"typeVersion":1,"id":"d40be186-eead-43f9-a6a9-ceb1800bd830","name":"Sticky Note3"},{"parameters":{"content":"## Robustness improvements:\n- Implement network-specific error handling for each API\n- Add circuit breakers to prevent cascade failures when one network is down\n- Create separate logging for each network's API calls\n- Implement staggered/queued requests to manage rate limits across all networks\n- Add data validation for each network's specific response format\n- Create fallback mechanisms when certain networks are unavailable\n- Add monitoring dashboards to track performance across networks\n- Implement network-specific retry policies based on their API behavior\n- Develop a health check system to verify all network connections\n- Consider a caching layer for frequently accessed campaign data","height":280,"width":840,"color":3},"type":"n8n-nodes-base.stickyNote","position":[576,-128],"typeVersion":1,"id":"9bd053f2-9d26-4175-8bb8-497e65f989b9","name":"Sticky Note4"},{"parameters":{"table":"TEST_SVC_N8N.TEST_COMBINED","columns":"SourceNetwork, AdvertiserID, AdvertiserName, CampaignID, ContractStatus, RegionsCountries, Terms, TrackingURL, CREATED_TS, UPDATED_TS"},"type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[2304,704],"id":"98b22e8c-799d-449f-9a31-fae4a6800a8f","name":"Snowflake","credentials":{"snowflake":{"id":"RC04CfI3v4QBk3xy","name":"Snowflake ops_disco_automation_db dev_wh"}}},{"parameters":{"method":"POST","url":"https://api.awin.com/publisher/174411/promotions","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n \"filters\": {\n  \"membership\": \"joined\",\n  \"regionCodes\": [\n   \"US\"\n  ],\n  \"status\": \"active\",\n  \"type\": \"all\",\n  \"updatedSince\": \"2025-07-01\"\n },\n \"pagination\": {\n  \"page\": 1,\n  \"pageSize\": 20\n }\n}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[512,688],"id":"5b368985-b2c6-4bbe-ac05-441eec678278","name":"AWINgetProgramDetails","credentials":{"httpBearerAuth":{"id":"mFOJJw5m3mchBBov","name":"tavilyfef2"}}},{"parameters":{"method":"POST","url":"https://api.awin.com/publisher/174411/promotions","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n \"filters\": {\n  \"membership\": \"joined\",\n  \"regionCodes\": [\n   \"US\"\n  ],\n  \"status\": \"active\",\n  \"type\": \"all\",\n  \"updatedSince\": \"2025-07-01\"\n },\n \"pagination\": {\n  \"page\": 1,\n  \"pageSize\": 20\n }\n}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[512,912],"id":"c76954ce-d7db-48db-8c64-a4e9006ce4a1","name":"AWINgetProgramInfo","credentials":{"httpBearerAuth":{"id":"mFOJJw5m3mchBBov","name":"tavilyfef2"}}}],"connections":{"Initialize Variables":{"main":[[{"node":"AWINgetOffers","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Initialize Variables","type":"main","index":0}]]},"AWINgetOffers":{"main":[[{"node":"AWINprocessFormat","type":"main","index":0}]]},"AWINprocessFormat":{"main":[[{"node":"gsAWIN","type":"main","index":0},{"node":"awinSetSimilar","type":"main","index":0}]]},"awinSetSimilar":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Snowflake","type":"main","index":0},{"node":"gsCombined","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Sort","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"AWINgetOffers":[{"json":{"data":[{"promotionId":3302037,"type":"promotion","advertiser":{"id":19106,"name":"Burton Snowboards US","joined":true},"title":"Shop Burton's New Arrivals!","description":"We just restocked with all-new apparel, bags, and caps in fresh cuts and standout colorways. Dial in your everyday look or pack for your next trip—whatever your vibe, we’ve got the gear.","terms":"https://www.burton.com/c/new-arrivals?utm_source=aw&utm_medium=affiliate&utm_campaign=na_us_en_conversion_c26q1_merchandising_new_arrivals_boards_graphic_tees_general&utm_content=!!!id!!!__!!!sitename!!!__19106&aw_publisherid=!!!id!!!&aw_sitedomain=!!!sitename!!!&utm_id=!!!id!!!","startDate":"2025-07-17T14:22:00+00:00","endDate":"2025-09-01T05:59:00+00:00","status":"active","url":"https://www.burton.com/c/new-arrivals?utm_source=aw&utm_medium=affiliate&utm_campaign=na_us_en_conversion_c26q1_merchandising_new_arrivals_boards_graphic_tees_general&utm_content=!!!id!!!__!!!sitename!!!__19106&aw_publisherid=!!!id!!!&aw_sitedomain=!!!sitename!!!&utm_id=!!!id!!!","urlTracking":"https://www.awin1.com/cread.php?awinmid=19106&awinaffid=174411&campaign=Shop+Burton%27s+New+Arrivals%21&ued=https%3A%2F%2Fwww.burton.com%2Fc%2Fnew-arrivals%3Futm_source%3Daw%26utm_medium%3Daffiliate%26utm_campaign%3Dna_us_en_conversion_c26q1_merchandising_new_arrivals_boards_graphic_tees_general%26utm_content%3D%21%21%21id%21%21%21__%21%21%21sitename%21%21%21__19106%26aw_publisherid%3D%21%21%21id%21%21%21%26aw_sitedomain%3D%21%21%21sitename%21%21%21%26utm_id%3D%21%21%21id%21%21%21","dateAdded":"2025-07-17T14:22:34+00:00","campaign":"Shop Burton's New Arrivals!","regions":{"all":true}},{"promotionId":3302033,"type":"promotion","advertiser":{"id":19107,"name":"Burton Snowboards Canada","joined":true},"title":"Shop Burton's New Arrivals!","description":"We just restocked with all-new apparel, bags, and caps in fresh cuts and standout colorways. Dial in your everyday look or pack for your next trip—whatever your vibe, we’ve got the gear.","terms":"https://www.burton.com/c/new-arrivals?utm_source=aw&utm_medium=affiliate&utm_campaign=na_us_en_conversion_c26q1_merchandising_new_arrivals_boards_graphic_tees_general&utm_content=!!!id!!!__!!!sitename!!!__19106&aw_publisherid=!!!id!!!&aw_sitedomain=!!!sitename!!!&utm_id=!!!id!!!","startDate":"2025-07-17T14:20:00+00:00","endDate":"2025-09-01T05:59:00+00:00","status":"active","url":"https://www.burton.com/c/new-arrivals?utm_source=aw&utm_medium=affiliate&utm_campaign=na_us_en_conversion_c26q1_merchandising_new_arrivals_boards_graphic_tees_general&utm_content=!!!id!!!__!!!sitename!!!__19106&aw_publisherid=!!!id!!!&aw_sitedomain=!!!sitename!!!&utm_id=!!!id!!!","urlTracking":"https://www.awin1.com/cread.php?awinmid=19107&awinaffid=174411&campaign=Shop+Burton%27s+New+Arrivals%21&ued=https%3A%2F%2Fwww.burton.com%2Fc%2Fnew-arrivals%3Futm_source%3Daw%26utm_medium%3Daffiliate%26utm_campaign%3Dna_us_en_conversion_c26q1_merchandising_new_arrivals_boards_graphic_tees_general%26utm_content%3D%21%21%21id%21%21%21__%21%21%21sitename%21%21%21__19106%26aw_publisherid%3D%21%21%21id%21%21%21%26aw_sitedomain%3D%21%21%21sitename%21%21%21%26utm_id%3D%21%21%21id%21%21%21","dateAdded":"2025-07-17T14:20:49+00:00","campaign":"Shop Burton's New Arrivals!","regions":{"all":true}},{"promotionId":3301177,"type":"promotion","advertiser":{"id":30659,"name":"Joseph Joseph US","joined":true},"title":"Ends Soon! Sale up to 50% off + Extra 10% off","description":"Ends Soon! Sale up to 50% off + Extra 10% off","terms":"","startDate":"2025-07-17T09:44:00+00:00","endDate":"2025-07-21T04:00:00+00:00","status":"expiringSoon","url":"https://us.josephjoseph.com/collections/sale","urlTracking":"https://www.awin1.com/cread.php?awinmid=30659&awinaffid=174411&campaign=Summer+Sale+2025&ued=https%3A%2F%2Fus.josephjoseph.com%2Fcollections%2Fsale","dateAdded":"2025-07-17T09:44:53+00:00","campaign":"Summer Sale 2025","regions":{"all":true}},{"promotionId":3301089,"type":"promotion","advertiser":{"id":17207,"name":"ClickInks.com (US)","joined":true},"title":"Refer a Friend and Get $5!","description":"Refer a Friend and Get $5!","terms":"","startDate":"2025-07-17T09:05:00+00:00","endDate":"2025-07-31T22:59:00+00:00","status":"active","url":"https://www.clickinks.com/specialoffer.aspx","urlTracking":"https://www.awin1.com/cread.php?awinmid=17207&awinaffid=174411&ued=https%3A%2F%2Fwww.clickinks.com%2Fspecialoffer.aspx","dateAdded":"2025-07-17T09:05:52+00:00","campaign":"","regions":{"all":true}},{"promotionId":3301079,"type":"promotion","advertiser":{"id":17207,"name":"ClickInks.com (US)","joined":true},"title":"Ink Cartridges For Only 99c!","description":"Ink Cartridges For Only 99c!","terms":"","startDate":"2025-07-17T09:04:00+00:00","endDate":"2025-07-31T22:59:00+00:00","status":"active","url":"https://www.clickinks.com/specialoffer.aspx","urlTracking":"https://www.awin1.com/cread.php?awinmid=17207&awinaffid=174411&ued=https%3A%2F%2Fwww.clickinks.com%2Fspecialoffer.aspx","dateAdded":"2025-07-17T09:04:13+00:00","campaign":"","regions":{"all":true}},{"promotionId":3301073,"type":"promotion","advertiser":{"id":17207,"name":"ClickInks.com (US)","joined":true},"title":"Win a Year Supply of Ink!","description":"Win a Year Supply of Ink!","terms":"","startDate":"2025-07-17T09:03:00+00:00","endDate":"2025-07-31T22:59:00+00:00","status":"active","url":"https://www.clickinks.com/win-years-supply-ink-2012.aspx","urlTracking":"https://www.awin1.com/cread.php?awinmid=17207&awinaffid=174411&ued=https%3A%2F%2Fwww.clickinks.com%2Fwin-years-supply-ink-2012.aspx","dateAdded":"2025-07-17T09:03:46+00:00","campaign":"","regions":{"all":true}},{"promotionId":3301071,"type":"promotion","advertiser":{"id":17207,"name":"ClickInks.com (US)","joined":true},"title":"35% Off Clearance Sale!","description":"35% Off Clearance Sale!","terms":"","startDate":"2025-07-17T09:03:00+00:00","endDate":"2025-07-31T22:59:00+00:00","status":"active","url":"https://www.clickinks.com/Clearance.aspx","urlTracking":"https://www.awin1.com/cread.php?awinmid=17207&awinaffid=174411&ued=https%3A%2F%2Fwww.clickinks.com%2FClearance.aspx","dateAdded":"2025-07-17T09:03:03+00:00","campaign":"","regions":{"all":true}},{"promotionId":3300167,"type":"promotion","advertiser":{"id":15432,"name":"Under Armour (Canada)","joined":true},"title":"40% Off Sitewide for Military, First Responders, Nurses, Medical & Teachers!","description":"40% Off Sitewide for Military, First Responders, Nurses, Medical & Teachers!","terms":"https://www.underarmour.ca","startDate":"2025-07-17T04:00:00+00:00","endDate":"2025-07-24T03:59:00+00:00","status":"expiringSoon","url":"https://www.underarmour.ca","urlTracking":"https://www.awin1.com/cread.php?awinmid=15432&awinaffid=174411&campaign=40%25+Off+Sitewide+for+Military%2C+First+Responders%2C+Nurses%2C+Medical+%26+Teachers%21&ued=https%3A%2F%2Fwww.underarmour.ca","dateAdded":"2025-07-16T20:05:54+00:00","campaign":"40% Off Sitewide for Military, First Responders, Nurses, Medical & Teachers!","regions":{"all":true}},{"promotionId":3300165,"type":"promotion","advertiser":{"id":15432,"name":"Under Armour (Canada)","joined":true},"title":"Extra 40% Off for Students","description":"Extra 40% Off for Students","terms":"https://www.underarmour.ca","startDate":"2025-07-17T04:00:00+00:00","endDate":"2025-07-24T03:59:00+00:00","status":"expiringSoon","url":"https://www.underarmour.ca","urlTracking":"https://www.awin1.com/cread.php?awinmid=15432&awinaffid=174411&campaign=Extra+40%25+Off+for+Students&ued=https%3A%2F%2Fwww.underarmour.ca","dateAdded":"2025-07-16T20:04:27+00:00","campaign":"Extra 40% Off for Students","regions":{"all":true}},{"promotionId":3300075,"type":"promotion","advertiser":{"id":15431,"name":"Under Armour US","joined":true},"title":"Extra 40% Off for Students","description":"Extra 40% Off for Students","terms":"https://www.underarmour.com/","startDate":"2025-07-17T04:00:00+00:00","endDate":"2025-07-24T03:59:00+00:00","status":"expiringSoon","url":"https://www.underarmour.com/","urlTracking":"https://www.awin1.com/cread.php?awinmid=15431&awinaffid=174411&campaign=Extra+40%25+Off+for+Students&ued=https%3A%2F%2Fwww.underarmour.com%2F","dateAdded":"2025-07-16T19:50:04+00:00","campaign":"Extra 40% Off for Students","regions":{"all":true}},{"promotionId":3300073,"type":"promotion","advertiser":{"id":15431,"name":"Under Armour US","joined":true},"title":"40% Off Sitewide for Military, First Responders, Nurses, Medical & Teachers!","description":"40% Off Sitewide for Military, First Responders, Nurses, Medical & Teachers!","terms":"https://www.underarmour.com/","startDate":"2025-07-17T04:00:00+00:00","endDate":"2025-07-24T03:59:00+00:00","status":"expiringSoon","url":"https://www.underarmour.com/","urlTracking":"https://www.awin1.com/cread.php?awinmid=15431&awinaffid=174411&campaign=40%25+Off+Sitewide+for+Military%2C+First+Responders%2C+Nurses%2C+Medical+%26+Teachers%21&ued=https%3A%2F%2Fwww.underarmour.com%2F","dateAdded":"2025-07-16T19:49:03+00:00","campaign":"40% Off Sitewide for Military, First Responders, Nurses, Medical & Teachers!","regions":{"all":true}},{"promotionId":3299893,"type":"promotion","advertiser":{"id":29069,"name":"Dermstore (US)","joined":true},"title":"Refer a Friend! Earn $50 for each friend you refer to Dermstore and they'll get 15% off their first order too!","description":"Refer a Friend! Earn $50 for each friend you refer to Dermstore and they'll get 15% off their first order too!","terms":"Terms and Conditions apply","startDate":"2025-07-16T17:26:00+00:00","endDate":"2025-08-01T03:25:00+00:00","status":"active","url":"https://www.dermstore.com/c/myreferrals/","urlTracking":"https://www.awin1.com/cread.php?awinmid=29069&awinaffid=174411&ued=https%3A%2F%2Fwww.dermstore.com%2Fc%2Fmyreferrals%2F","dateAdded":"2025-07-16T17:26:02+00:00","campaign":"","regions":{"all":true}},{"promotionId":3299883,"type":"promotion","advertiser":{"id":18530,"name":"Samsung (Canada)","joined":true},"title":"24'' Monitor for as low as $100","description":"With pre-order of Galaxy Fold7 | Z Flip7 or eligible Galaxy Watch","terms":"Program T&C applies.","startDate":"2025-07-16T17:18:00+00:00","endDate":"2025-07-25T03:59:00+00:00","status":"active","url":"https://www.samsung.com/ca/smartphones/galaxy-z-fold7/buy/","urlTracking":"https://www.awin1.com/cread.php?awinmid=18530&awinaffid=174411&campaign=B7Q7&ued=https%3A%2F%2Fwww.samsung.com%2Fca%2Fsmartphones%2Fgalaxy-z-fold7%2Fbuy%2F","dateAdded":"2025-07-16T17:18:20+00:00","campaign":"B7Q7","regions":{"all":true}},{"promotionId":3299881,"type":"promotion","advertiser":{"id":18530,"name":"Samsung (Canada)","joined":true},"title":"No trade-in? No problem!","description":"Save $200 on Galaxy Z Fold7 and keep your current phone.","terms":"Program T&C applies.","startDate":"2025-07-16T17:16:00+00:00","endDate":"2025-07-25T03:59:00+00:00","status":"active","url":"https://www.samsung.com/ca/smartphones/galaxy-z-fold7/buy/","urlTracking":"https://www.awin1.com/cread.php?awinmid=18530&awinaffid=174411&campaign=B7Q7&ued=https%3A%2F%2Fwww.samsung.com%2Fca%2Fsmartphones%2Fgalaxy-z-fold7%2Fbuy%2F","dateAdded":"2025-07-16T17:16:16+00:00","campaign":"B7Q7","regions":{"all":true}},{"promotionId":3299839,"type":"promotion","advertiser":{"id":55457,"name":"Alpyn Beauty","joined":true},"title":"20% Off Anti-Age Duo Set!","description":"20% Off Anti-Age Duo Set that includes the Barrier Cream and Instant Bright Eye products","terms":"","startDate":"2025-07-16T16:13:00+00:00","endDate":"2025-08-01T07:00:00+00:00","status":"active","url":"https://alpynbeauty.com/products/anti-age-duo","urlTracking":"https://www.awin1.com/cread.php?awinmid=55457&awinaffid=174411&ued=https%3A%2F%2Falpynbeauty.com%2Fproducts%2Fanti-age-duo","dateAdded":"2025-07-16T16:13:30+00:00","campaign":"","regions":{"all":true}},{"promotionId":3299837,"type":"promotion","advertiser":{"id":55457,"name":"Alpyn Beauty","joined":true},"title":"Free Barrier Cream Sample on ALL Orders!","description":"Free Barrier Cream Sample on ALL Orders!","terms":"","startDate":"2025-07-16T16:10:00+00:00","endDate":"2025-08-01T07:00:00+00:00","status":"active","url":"https://alpynbeauty.com/","urlTracking":"https://www.awin1.com/cread.php?awinmid=55457&awinaffid=174411&ued=https%3A%2F%2Falpynbeauty.com%2F","dateAdded":"2025-07-16T16:10:47+00:00","campaign":"","regions":{"all":true}},{"promotionId":3299835,"type":"promotion","advertiser":{"id":55457,"name":"Alpyn Beauty","joined":true},"title":"Save $25 + Free Shipping on the Alpyn Sculpt and Soothe Set!","description":"Save $25 + Free Shipping on the Alpyn Sculpt and Soothe Set!","terms":"","startDate":"2025-07-16T16:07:00+00:00","endDate":"2025-08-01T07:00:00+00:00","status":"active","url":"https://alpynbeauty.com/products/sculpt-soothe-set","urlTracking":"https://www.awin1.com/cread.php?awinmid=55457&awinaffid=174411&ued=https%3A%2F%2Falpynbeauty.com%2Fproducts%2Fsculpt-soothe-set","dateAdded":"2025-07-16T16:07:52+00:00","campaign":"","regions":{"all":true}},{"promotionId":3299493,"type":"promotion","advertiser":{"id":29069,"name":"Dermstore (US)","joined":true},"title":"Receive a SkinCeuticals A.G.E. Advanced Eye Cream 4ml  ($30.93 value) when you spend $175 or more on the brand.","description":"Receive a SkinCeuticals A.G.E. Advanced Eye Cream 4ml  ($30.93 value) when you spend $175 or more on the brand.","terms":"Terms and Conditions apply","startDate":"2025-07-16T14:02:00+00:00","endDate":"2025-07-21T14:01:00+00:00","status":"expiringSoon","url":"https://www.dermstore.com/c/brands/skinceuticals/view-all/","urlTracking":"https://www.awin1.com/cread.php?awinmid=29069&awinaffid=174411&ued=https%3A%2F%2Fwww.dermstore.com%2Fc%2Fbrands%2Fskinceuticals%2Fview-all%2F","dateAdded":"2025-07-16T14:02:05+00:00","campaign":"","regions":{"all":true}},{"promotionId":3298299,"type":"voucher","advertiser":{"id":36696,"name":"Wegjewel.inc","joined":true},"title":"Moissanite Sale:Save $50 on $300+ with MOI50","description":"Everyday Shine. Moissanite — Made to Steal the Spotlight.","terms":"NONE","startDate":"2025-07-16T08:07:00+00:00","endDate":"2026-11-29T08:06:00+00:00","status":"active","url":"https://willworkjewelry.com/collections/moissanite","urlTracking":"https://www.awin1.com/cread.php?awinmid=36696&awinaffid=174411&ued=https%3A%2F%2Fwillworkjewelry.com%2Fcollections%2Fmoissanite","dateAdded":"2025-07-16T08:07:21+00:00","campaign":"","regions":{"all":true},"voucher":{"code":"MOI50","exclusive":false,"attributable":false}},{"promotionId":3298297,"type":"promotion","advertiser":{"id":36696,"name":"Wegjewel.inc","joined":true},"title":"Moissanite Sale:Save $50 on $300+ with MOI50","description":"Everyday Shine. Moissanite — Made to Steal the Spotlight.","terms":"NONE","startDate":"2025-07-16T08:06:00+00:00","endDate":"2026-10-31T08:04:00+00:00","status":"active","url":"https://willworkjewelry.com/collections/moissanite","urlTracking":"https://www.awin1.com/cread.php?awinmid=36696&awinaffid=174411&ued=https%3A%2F%2Fwillworkjewelry.com%2Fcollections%2Fmoissanite","dateAdded":"2025-07-16T08:06:07+00:00","campaign":"","regions":{"all":false,"list":[{"name":"United States of America","countryCode":"US"},{"name":"Canada","countryCode":"CA"}]}}],"pagination":{"page":1,"pageSize":20,"total":307}}}],"AWINprocessFormat":[{"json":{"Promotion ID":3302037,"Type":"promotion","Advertiser ID":19106,"Advertiser Name":"Burton Snowboards US","Joined":"Yes","Title":"Shop Burton's New Arrivals!","Description":"We just restocked with all-new apparel, bags, and caps in fresh cuts and standout colorways. Dial in your everyday look or pack for your next trip—whatever your vibe, we’ve got the gear.","Terms":"https://www.burton.com/c/new-arrivals?utm_source=aw&utm_medium=affiliate&utm_campaign=na_us_en_conversion_c26q1_merchandising_new_arrivals_boards_graphic_tees_general&utm_content=!!!id!!!__!!!sitename!!!__19106&aw_publisherid=!!!id!!!&aw_sitedomain=!!!sitename!!!&utm_id=!!!id!!!","Start Date":"07/17/2025, 14:22","End Date":"09/01/2025, 05:59","Status":"active","URL":"https://www.burton.com/c/new-arrivals?utm_source=aw&utm_medium=affiliate&utm_campaign=na_us_en_conversion_c26q1_merchandising_new_arrivals_boards_graphic_tees_general&utm_content=!!!id!!!__!!!sitename!!!__19106&aw_publisherid=!!!id!!!&aw_sitedomain=!!!sitename!!!&utm_id=!!!id!!!","Tracking URL":"https://www.awin1.com/cread.php?awinmid=19106&awinaffid=174411&campaign=Shop+Burton%27s+New+Arrivals%21&ued=https%3A%2F%2Fwww.burton.com%2Fc%2Fnew-arrivals%3Futm_source%3Daw%26utm_medium%3Daffiliate%26utm_campaign%3Dna_us_en_conversion_c26q1_merchandising_new_arrivals_boards_graphic_tees_general%26utm_content%3D%21%21%21id%21%21%21__%21%21%21sitename%21%21%21__19106%26aw_publisherid%3D%21%21%21id%21%21%21%26aw_sitedomain%3D%21%21%21sitename%21%21%21%26utm_id%3D%21%21%21id%21%21%21","Date Added":"07/17/2025, 14:22","Campaign":"Shop Burton's New Arrivals!","Regions - All":"Yes","Regions - Countries":""}},{"json":{"Promotion ID":3302033,"Type":"promotion","Advertiser ID":19107,"Advertiser Name":"Burton Snowboards Canada","Joined":"Yes","Title":"Shop Burton's New Arrivals!","Description":"We just restocked with all-new apparel, bags, and caps in fresh cuts and standout colorways. Dial in your everyday look or pack for your next trip—whatever your vibe, we’ve got the gear.","Terms":"https://www.burton.com/c/new-arrivals?utm_source=aw&utm_medium=affiliate&utm_campaign=na_us_en_conversion_c26q1_merchandising_new_arrivals_boards_graphic_tees_general&utm_content=!!!id!!!__!!!sitename!!!__19106&aw_publisherid=!!!id!!!&aw_sitedomain=!!!sitename!!!&utm_id=!!!id!!!","Start Date":"07/17/2025, 14:20","End Date":"09/01/2025, 05:59","Status":"active","URL":"https://www.burton.com/c/new-arrivals?utm_source=aw&utm_medium=affiliate&utm_campaign=na_us_en_conversion_c26q1_merchandising_new_arrivals_boards_graphic_tees_general&utm_content=!!!id!!!__!!!sitename!!!__19106&aw_publisherid=!!!id!!!&aw_sitedomain=!!!sitename!!!&utm_id=!!!id!!!","Tracking URL":"https://www.awin1.com/cread.php?awinmid=19107&awinaffid=174411&campaign=Shop+Burton%27s+New+Arrivals%21&ued=https%3A%2F%2Fwww.burton.com%2Fc%2Fnew-arrivals%3Futm_source%3Daw%26utm_medium%3Daffiliate%26utm_campaign%3Dna_us_en_conversion_c26q1_merchandising_new_arrivals_boards_graphic_tees_general%26utm_content%3D%21%21%21id%21%21%21__%21%21%21sitename%21%21%21__19106%26aw_publisherid%3D%21%21%21id%21%21%21%26aw_sitedomain%3D%21%21%21sitename%21%21%21%26utm_id%3D%21%21%21id%21%21%21","Date Added":"07/17/2025, 14:20","Campaign":"Shop Burton's New Arrivals!","Regions - All":"Yes","Regions - Countries":""}},{"json":{"Promotion ID":3301177,"Type":"promotion","Advertiser ID":30659,"Advertiser Name":"Joseph Joseph US","Joined":"Yes","Title":"Ends Soon! Sale up to 50% off + Extra 10% off","Description":"Ends Soon! Sale up to 50% off + Extra 10% off","Terms":"","Start Date":"07/17/2025, 09:44","End Date":"07/21/2025, 04:00","Status":"expiringSoon","URL":"https://us.josephjoseph.com/collections/sale","Tracking URL":"https://www.awin1.com/cread.php?awinmid=30659&awinaffid=174411&campaign=Summer+Sale+2025&ued=https%3A%2F%2Fus.josephjoseph.com%2Fcollections%2Fsale","Date Added":"07/17/2025, 09:44","Campaign":"Summer Sale 2025","Regions - All":"Yes","Regions - Countries":""}},{"json":{"Promotion ID":3301089,"Type":"promotion","Advertiser ID":17207,"Advertiser Name":"ClickInks.com (US)","Joined":"Yes","Title":"Refer a Friend and Get $5!","Description":"Refer a Friend and Get $5!","Terms":"","Start Date":"07/17/2025, 09:05","End Date":"07/31/2025, 22:59","Status":"active","URL":"https://www.clickinks.com/specialoffer.aspx","Tracking URL":"https://www.awin1.com/cread.php?awinmid=17207&awinaffid=174411&ued=https%3A%2F%2Fwww.clickinks.com%2Fspecialoffer.aspx","Date Added":"07/17/2025, 09:05","Campaign":"","Regions - All":"Yes","Regions - Countries":""}},{"json":{"Promotion ID":3301079,"Type":"promotion","Advertiser ID":17207,"Advertiser Name":"ClickInks.com (US)","Joined":"Yes","Title":"Ink Cartridges For Only 99c!","Description":"Ink Cartridges For Only 99c!","Terms":"","Start Date":"07/17/2025, 09:04","End Date":"07/31/2025, 22:59","Status":"active","URL":"https://www.clickinks.com/specialoffer.aspx","Tracking URL":"https://www.awin1.com/cread.php?awinmid=17207&awinaffid=174411&ued=https%3A%2F%2Fwww.clickinks.com%2Fspecialoffer.aspx","Date Added":"07/17/2025, 09:04","Campaign":"","Regions - All":"Yes","Regions - Countries":""}},{"json":{"Promotion ID":3301073,"Type":"promotion","Advertiser ID":17207,"Advertiser Name":"ClickInks.com (US)","Joined":"Yes","Title":"Win a Year Supply of Ink!","Description":"Win a Year Supply of Ink!","Terms":"","Start Date":"07/17/2025, 09:03","End Date":"07/31/2025, 22:59","Status":"active","URL":"https://www.clickinks.com/win-years-supply-ink-2012.aspx","Tracking URL":"https://www.awin1.com/cread.php?awinmid=17207&awinaffid=174411&ued=https%3A%2F%2Fwww.clickinks.com%2Fwin-years-supply-ink-2012.aspx","Date Added":"07/17/2025, 09:03","Campaign":"","Regions - All":"Yes","Regions - Countries":""}},{"json":{"Promotion ID":3301071,"Type":"promotion","Advertiser ID":17207,"Advertiser Name":"ClickInks.com (US)","Joined":"Yes","Title":"35% Off Clearance Sale!","Description":"35% Off Clearance Sale!","Terms":"","Start Date":"07/17/2025, 09:03","End Date":"07/31/2025, 22:59","Status":"active","URL":"https://www.clickinks.com/Clearance.aspx","Tracking URL":"https://www.awin1.com/cread.php?awinmid=17207&awinaffid=174411&ued=https%3A%2F%2Fwww.clickinks.com%2FClearance.aspx","Date Added":"07/17/2025, 09:03","Campaign":"","Regions - All":"Yes","Regions - Countries":""}},{"json":{"Promotion ID":3300167,"Type":"promotion","Advertiser ID":15432,"Advertiser Name":"Under Armour (Canada)","Joined":"Yes","Title":"40% Off Sitewide for Military, First Responders, Nurses, Medical & Teachers!","Description":"40% Off Sitewide for Military, First Responders, Nurses, Medical & Teachers!","Terms":"https://www.underarmour.ca","Start Date":"07/17/2025, 04:00","End Date":"07/24/2025, 03:59","Status":"expiringSoon","URL":"https://www.underarmour.ca","Tracking URL":"https://www.awin1.com/cread.php?awinmid=15432&awinaffid=174411&campaign=40%25+Off+Sitewide+for+Military%2C+First+Responders%2C+Nurses%2C+Medical+%26+Teachers%21&ued=https%3A%2F%2Fwww.underarmour.ca","Date Added":"07/16/2025, 20:05","Campaign":"40% Off Sitewide for Military, First Responders, Nurses, Medical & Teachers!","Regions - All":"Yes","Regions - Countries":""}},{"json":{"Promotion ID":3300165,"Type":"promotion","Advertiser ID":15432,"Advertiser Name":"Under Armour (Canada)","Joined":"Yes","Title":"Extra 40% Off for Students","Description":"Extra 40% Off for Students","Terms":"https://www.underarmour.ca","Start Date":"07/17/2025, 04:00","End Date":"07/24/2025, 03:59","Status":"expiringSoon","URL":"https://www.underarmour.ca","Tracking URL":"https://www.awin1.com/cread.php?awinmid=15432&awinaffid=174411&campaign=Extra+40%25+Off+for+Students&ued=https%3A%2F%2Fwww.underarmour.ca","Date Added":"07/16/2025, 20:04","Campaign":"Extra 40% Off for Students","Regions - All":"Yes","Regions - Countries":""}},{"json":{"Promotion ID":3300075,"Type":"promotion","Advertiser ID":15431,"Advertiser Name":"Under Armour US","Joined":"Yes","Title":"Extra 40% Off for Students","Description":"Extra 40% Off for Students","Terms":"https://www.underarmour.com/","Start Date":"07/17/2025, 04:00","End Date":"07/24/2025, 03:59","Status":"expiringSoon","URL":"https://www.underarmour.com/","Tracking URL":"https://www.awin1.com/cread.php?awinmid=15431&awinaffid=174411&campaign=Extra+40%25+Off+for+Students&ued=https%3A%2F%2Fwww.underarmour.com%2F","Date Added":"07/16/2025, 19:50","Campaign":"Extra 40% Off for Students","Regions - All":"Yes","Regions - Countries":""}},{"json":{"Promotion ID":3300073,"Type":"promotion","Advertiser ID":15431,"Advertiser Name":"Under Armour US","Joined":"Yes","Title":"40% Off Sitewide for Military, First Responders, Nurses, Medical & Teachers!","Description":"40% Off Sitewide for Military, First Responders, Nurses, Medical & Teachers!","Terms":"https://www.underarmour.com/","Start Date":"07/17/2025, 04:00","End Date":"07/24/2025, 03:59","Status":"expiringSoon","URL":"https://www.underarmour.com/","Tracking URL":"https://www.awin1.com/cread.php?awinmid=15431&awinaffid=174411&campaign=40%25+Off+Sitewide+for+Military%2C+First+Responders%2C+Nurses%2C+Medical+%26+Teachers%21&ued=https%3A%2F%2Fwww.underarmour.com%2F","Date Added":"07/16/2025, 19:49","Campaign":"40% Off Sitewide for Military, First Responders, Nurses, Medical & Teachers!","Regions - All":"Yes","Regions - Countries":""}},{"json":{"Promotion ID":3299893,"Type":"promotion","Advertiser ID":29069,"Advertiser Name":"Dermstore (US)","Joined":"Yes","Title":"Refer a Friend! Earn $50 for each friend you refer to Dermstore and they'll get 15% off their first order too!","Description":"Refer a Friend! Earn $50 for each friend you refer to Dermstore and they'll get 15% off their first order too!","Terms":"Terms and Conditions apply","Start Date":"07/16/2025, 17:26","End Date":"08/01/2025, 03:25","Status":"active","URL":"https://www.dermstore.com/c/myreferrals/","Tracking URL":"https://www.awin1.com/cread.php?awinmid=29069&awinaffid=174411&ued=https%3A%2F%2Fwww.dermstore.com%2Fc%2Fmyreferrals%2F","Date Added":"07/16/2025, 17:26","Campaign":"","Regions - All":"Yes","Regions - Countries":""}},{"json":{"Promotion ID":3299883,"Type":"promotion","Advertiser ID":18530,"Advertiser Name":"Samsung (Canada)","Joined":"Yes","Title":"24'' Monitor for as low as $100","Description":"With pre-order of Galaxy Fold7 | Z Flip7 or eligible Galaxy Watch","Terms":"Program T&C applies.","Start Date":"07/16/2025, 17:18","End Date":"07/25/2025, 03:59","Status":"active","URL":"https://www.samsung.com/ca/smartphones/galaxy-z-fold7/buy/","Tracking URL":"https://www.awin1.com/cread.php?awinmid=18530&awinaffid=174411&campaign=B7Q7&ued=https%3A%2F%2Fwww.samsung.com%2Fca%2Fsmartphones%2Fgalaxy-z-fold7%2Fbuy%2F","Date Added":"07/16/2025, 17:18","Campaign":"B7Q7","Regions - All":"Yes","Regions - Countries":""}},{"json":{"Promotion ID":3299881,"Type":"promotion","Advertiser ID":18530,"Advertiser Name":"Samsung (Canada)","Joined":"Yes","Title":"No trade-in? No problem!","Description":"Save $200 on Galaxy Z Fold7 and keep your current phone.","Terms":"Program T&C applies.","Start Date":"07/16/2025, 17:16","End Date":"07/25/2025, 03:59","Status":"active","URL":"https://www.samsung.com/ca/smartphones/galaxy-z-fold7/buy/","Tracking URL":"https://www.awin1.com/cread.php?awinmid=18530&awinaffid=174411&campaign=B7Q7&ued=https%3A%2F%2Fwww.samsung.com%2Fca%2Fsmartphones%2Fgalaxy-z-fold7%2Fbuy%2F","Date Added":"07/16/2025, 17:16","Campaign":"B7Q7","Regions - All":"Yes","Regions - Countries":""}},{"json":{"Promotion ID":3299839,"Type":"promotion","Advertiser ID":55457,"Advertiser Name":"Alpyn Beauty","Joined":"Yes","Title":"20% Off Anti-Age Duo Set!","Description":"20% Off Anti-Age Duo Set that includes the Barrier Cream and Instant Bright Eye products","Terms":"","Start Date":"07/16/2025, 16:13","End Date":"08/01/2025, 07:00","Status":"active","URL":"https://alpynbeauty.com/products/anti-age-duo","Tracking URL":"https://www.awin1.com/cread.php?awinmid=55457&awinaffid=174411&ued=https%3A%2F%2Falpynbeauty.com%2Fproducts%2Fanti-age-duo","Date Added":"07/16/2025, 16:13","Campaign":"","Regions - All":"Yes","Regions - Countries":""}},{"json":{"Promotion ID":3299837,"Type":"promotion","Advertiser ID":55457,"Advertiser Name":"Alpyn Beauty","Joined":"Yes","Title":"Free Barrier Cream Sample on ALL Orders!","Description":"Free Barrier Cream Sample on ALL Orders!","Terms":"","Start Date":"07/16/2025, 16:10","End Date":"08/01/2025, 07:00","Status":"active","URL":"https://alpynbeauty.com/","Tracking URL":"https://www.awin1.com/cread.php?awinmid=55457&awinaffid=174411&ued=https%3A%2F%2Falpynbeauty.com%2F","Date Added":"07/16/2025, 16:10","Campaign":"","Regions - All":"Yes","Regions - Countries":""}},{"json":{"Promotion ID":3299835,"Type":"promotion","Advertiser ID":55457,"Advertiser Name":"Alpyn Beauty","Joined":"Yes","Title":"Save $25 + Free Shipping on the Alpyn Sculpt and Soothe Set!","Description":"Save $25 + Free Shipping on the Alpyn Sculpt and Soothe Set!","Terms":"","Start Date":"07/16/2025, 16:07","End Date":"08/01/2025, 07:00","Status":"active","URL":"https://alpynbeauty.com/products/sculpt-soothe-set","Tracking URL":"https://www.awin1.com/cread.php?awinmid=55457&awinaffid=174411&ued=https%3A%2F%2Falpynbeauty.com%2Fproducts%2Fsculpt-soothe-set","Date Added":"07/16/2025, 16:07","Campaign":"","Regions - All":"Yes","Regions - Countries":""}},{"json":{"Promotion ID":3299493,"Type":"promotion","Advertiser ID":29069,"Advertiser Name":"Dermstore (US)","Joined":"Yes","Title":"Receive a SkinCeuticals A.G.E. Advanced Eye Cream 4ml  ($30.93 value) when you spend $175 or more on the brand.","Description":"Receive a SkinCeuticals A.G.E. Advanced Eye Cream 4ml  ($30.93 value) when you spend $175 or more on the brand.","Terms":"Terms and Conditions apply","Start Date":"07/16/2025, 14:02","End Date":"07/21/2025, 14:01","Status":"expiringSoon","URL":"https://www.dermstore.com/c/brands/skinceuticals/view-all/","Tracking URL":"https://www.awin1.com/cread.php?awinmid=29069&awinaffid=174411&ued=https%3A%2F%2Fwww.dermstore.com%2Fc%2Fbrands%2Fskinceuticals%2Fview-all%2F","Date Added":"07/16/2025, 14:02","Campaign":"","Regions - All":"Yes","Regions - Countries":""}},{"json":{"Promotion ID":3298299,"Type":"voucher","Advertiser ID":36696,"Advertiser Name":"Wegjewel.inc","Joined":"Yes","Title":"Moissanite Sale:Save $50 on $300+ with MOI50","Description":"Everyday Shine. Moissanite — Made to Steal the Spotlight.","Terms":"NONE","Start Date":"07/16/2025, 08:07","End Date":"11/29/2026, 08:06","Status":"active","URL":"https://willworkjewelry.com/collections/moissanite","Tracking URL":"https://www.awin1.com/cread.php?awinmid=36696&awinaffid=174411&ued=https%3A%2F%2Fwillworkjewelry.com%2Fcollections%2Fmoissanite","Date Added":"07/16/2025, 08:07","Campaign":"","Regions - All":"Yes","Regions - Countries":""}},{"json":{"Promotion ID":3298297,"Type":"promotion","Advertiser ID":36696,"Advertiser Name":"Wegjewel.inc","Joined":"Yes","Title":"Moissanite Sale:Save $50 on $300+ with MOI50","Description":"Everyday Shine. Moissanite — Made to Steal the Spotlight.","Terms":"NONE","Start Date":"07/16/2025, 08:06","End Date":"10/31/2026, 08:04","Status":"active","URL":"https://willworkjewelry.com/collections/moissanite","Tracking URL":"https://www.awin1.com/cread.php?awinmid=36696&awinaffid=174411&ued=https%3A%2F%2Fwillworkjewelry.com%2Fcollections%2Fmoissanite","Date Added":"07/16/2025, 08:06","Campaign":"","Regions - All":"No","Regions - Countries":"United States of America (US), Canada (CA)"}}],"AWINgetProgramDetails":[{"json":{"data":[{"promotionId":3302037,"type":"promotion","advertiser":{"id":19106,"name":"Burton Snowboards US","joined":true},"title":"Shop Burton's New Arrivals!","description":"We just restocked with all-new apparel, bags, and caps in fresh cuts and standout colorways. Dial in your everyday look or pack for your next trip—whatever your vibe, we’ve got the gear.","terms":"https://www.burton.com/c/new-arrivals?utm_source=aw&utm_medium=affiliate&utm_campaign=na_us_en_conversion_c26q1_merchandising_new_arrivals_boards_graphic_tees_general&utm_content=!!!id!!!__!!!sitename!!!__19106&aw_publisherid=!!!id!!!&aw_sitedomain=!!!sitename!!!&utm_id=!!!id!!!","startDate":"2025-07-17T14:22:00+00:00","endDate":"2025-09-01T05:59:00+00:00","status":"active","url":"https://www.burton.com/c/new-arrivals?utm_source=aw&utm_medium=affiliate&utm_campaign=na_us_en_conversion_c26q1_merchandising_new_arrivals_boards_graphic_tees_general&utm_content=!!!id!!!__!!!sitename!!!__19106&aw_publisherid=!!!id!!!&aw_sitedomain=!!!sitename!!!&utm_id=!!!id!!!","urlTracking":"https://www.awin1.com/cread.php?awinmid=19106&awinaffid=174411&campaign=Shop+Burton%27s+New+Arrivals%21&ued=https%3A%2F%2Fwww.burton.com%2Fc%2Fnew-arrivals%3Futm_source%3Daw%26utm_medium%3Daffiliate%26utm_campaign%3Dna_us_en_conversion_c26q1_merchandising_new_arrivals_boards_graphic_tees_general%26utm_content%3D%21%21%21id%21%21%21__%21%21%21sitename%21%21%21__19106%26aw_publisherid%3D%21%21%21id%21%21%21%26aw_sitedomain%3D%21%21%21sitename%21%21%21%26utm_id%3D%21%21%21id%21%21%21","dateAdded":"2025-07-17T14:22:34+00:00","campaign":"Shop Burton's New Arrivals!","regions":{"all":true}},{"promotionId":3302033,"type":"promotion","advertiser":{"id":19107,"name":"Burton Snowboards Canada","joined":true},"title":"Shop Burton's New Arrivals!","description":"We just restocked with all-new apparel, bags, and caps in fresh cuts and standout colorways. Dial in your everyday look or pack for your next trip—whatever your vibe, we’ve got the gear.","terms":"https://www.burton.com/c/new-arrivals?utm_source=aw&utm_medium=affiliate&utm_campaign=na_us_en_conversion_c26q1_merchandising_new_arrivals_boards_graphic_tees_general&utm_content=!!!id!!!__!!!sitename!!!__19106&aw_publisherid=!!!id!!!&aw_sitedomain=!!!sitename!!!&utm_id=!!!id!!!","startDate":"2025-07-17T14:20:00+00:00","endDate":"2025-09-01T05:59:00+00:00","status":"active","url":"https://www.burton.com/c/new-arrivals?utm_source=aw&utm_medium=affiliate&utm_campaign=na_us_en_conversion_c26q1_merchandising_new_arrivals_boards_graphic_tees_general&utm_content=!!!id!!!__!!!sitename!!!__19106&aw_publisherid=!!!id!!!&aw_sitedomain=!!!sitename!!!&utm_id=!!!id!!!","urlTracking":"https://www.awin1.com/cread.php?awinmid=19107&awinaffid=174411&campaign=Shop+Burton%27s+New+Arrivals%21&ued=https%3A%2F%2Fwww.burton.com%2Fc%2Fnew-arrivals%3Futm_source%3Daw%26utm_medium%3Daffiliate%26utm_campaign%3Dna_us_en_conversion_c26q1_merchandising_new_arrivals_boards_graphic_tees_general%26utm_content%3D%21%21%21id%21%21%21__%21%21%21sitename%21%21%21__19106%26aw_publisherid%3D%21%21%21id%21%21%21%26aw_sitedomain%3D%21%21%21sitename%21%21%21%26utm_id%3D%21%21%21id%21%21%21","dateAdded":"2025-07-17T14:20:49+00:00","campaign":"Shop Burton's New Arrivals!","regions":{"all":true}},{"promotionId":3301177,"type":"promotion","advertiser":{"id":30659,"name":"Joseph Joseph US","joined":true},"title":"Ends Soon! Sale up to 50% off + Extra 10% off","description":"Ends Soon! Sale up to 50% off + Extra 10% off","terms":"","startDate":"2025-07-17T09:44:00+00:00","endDate":"2025-07-21T04:00:00+00:00","status":"expiringSoon","url":"https://us.josephjoseph.com/collections/sale","urlTracking":"https://www.awin1.com/cread.php?awinmid=30659&awinaffid=174411&campaign=Summer+Sale+2025&ued=https%3A%2F%2Fus.josephjoseph.com%2Fcollections%2Fsale","dateAdded":"2025-07-17T09:44:53+00:00","campaign":"Summer Sale 2025","regions":{"all":true}},{"promotionId":3301089,"type":"promotion","advertiser":{"id":17207,"name":"ClickInks.com (US)","joined":true},"title":"Refer a Friend and Get $5!","description":"Refer a Friend and Get $5!","terms":"","startDate":"2025-07-17T09:05:00+00:00","endDate":"2025-07-31T22:59:00+00:00","status":"active","url":"https://www.clickinks.com/specialoffer.aspx","urlTracking":"https://www.awin1.com/cread.php?awinmid=17207&awinaffid=174411&ued=https%3A%2F%2Fwww.clickinks.com%2Fspecialoffer.aspx","dateAdded":"2025-07-17T09:05:52+00:00","campaign":"","regions":{"all":true}},{"promotionId":3301079,"type":"promotion","advertiser":{"id":17207,"name":"ClickInks.com (US)","joined":true},"title":"Ink Cartridges For Only 99c!","description":"Ink Cartridges For Only 99c!","terms":"","startDate":"2025-07-17T09:04:00+00:00","endDate":"2025-07-31T22:59:00+00:00","status":"active","url":"https://www.clickinks.com/specialoffer.aspx","urlTracking":"https://www.awin1.com/cread.php?awinmid=17207&awinaffid=174411&ued=https%3A%2F%2Fwww.clickinks.com%2Fspecialoffer.aspx","dateAdded":"2025-07-17T09:04:13+00:00","campaign":"","regions":{"all":true}},{"promotionId":3301073,"type":"promotion","advertiser":{"id":17207,"name":"ClickInks.com (US)","joined":true},"title":"Win a Year Supply of Ink!","description":"Win a Year Supply of Ink!","terms":"","startDate":"2025-07-17T09:03:00+00:00","endDate":"2025-07-31T22:59:00+00:00","status":"active","url":"https://www.clickinks.com/win-years-supply-ink-2012.aspx","urlTracking":"https://www.awin1.com/cread.php?awinmid=17207&awinaffid=174411&ued=https%3A%2F%2Fwww.clickinks.com%2Fwin-years-supply-ink-2012.aspx","dateAdded":"2025-07-17T09:03:46+00:00","campaign":"","regions":{"all":true}},{"promotionId":3301071,"type":"promotion","advertiser":{"id":17207,"name":"ClickInks.com (US)","joined":true},"title":"35% Off Clearance Sale!","description":"35% Off Clearance Sale!","terms":"","startDate":"2025-07-17T09:03:00+00:00","endDate":"2025-07-31T22:59:00+00:00","status":"active","url":"https://www.clickinks.com/Clearance.aspx","urlTracking":"https://www.awin1.com/cread.php?awinmid=17207&awinaffid=174411&ued=https%3A%2F%2Fwww.clickinks.com%2FClearance.aspx","dateAdded":"2025-07-17T09:03:03+00:00","campaign":"","regions":{"all":true}},{"promotionId":3300167,"type":"promotion","advertiser":{"id":15432,"name":"Under Armour (Canada)","joined":true},"title":"40% Off Sitewide for Military, First Responders, Nurses, Medical & Teachers!","description":"40% Off Sitewide for Military, First Responders, Nurses, Medical & Teachers!","terms":"https://www.underarmour.ca","startDate":"2025-07-17T04:00:00+00:00","endDate":"2025-07-24T03:59:00+00:00","status":"expiringSoon","url":"https://www.underarmour.ca","urlTracking":"https://www.awin1.com/cread.php?awinmid=15432&awinaffid=174411&campaign=40%25+Off+Sitewide+for+Military%2C+First+Responders%2C+Nurses%2C+Medical+%26+Teachers%21&ued=https%3A%2F%2Fwww.underarmour.ca","dateAdded":"2025-07-16T20:05:54+00:00","campaign":"40% Off Sitewide for Military, First Responders, Nurses, Medical & Teachers!","regions":{"all":true}},{"promotionId":3300165,"type":"promotion","advertiser":{"id":15432,"name":"Under Armour (Canada)","joined":true},"title":"Extra 40% Off for Students","description":"Extra 40% Off for Students","terms":"https://www.underarmour.ca","startDate":"2025-07-17T04:00:00+00:00","endDate":"2025-07-24T03:59:00+00:00","status":"expiringSoon","url":"https://www.underarmour.ca","urlTracking":"https://www.awin1.com/cread.php?awinmid=15432&awinaffid=174411&campaign=Extra+40%25+Off+for+Students&ued=https%3A%2F%2Fwww.underarmour.ca","dateAdded":"2025-07-16T20:04:27+00:00","campaign":"Extra 40% Off for Students","regions":{"all":true}},{"promotionId":3300075,"type":"promotion","advertiser":{"id":15431,"name":"Under Armour US","joined":true},"title":"Extra 40% Off for Students","description":"Extra 40% Off for Students","terms":"https://www.underarmour.com/","startDate":"2025-07-17T04:00:00+00:00","endDate":"2025-07-24T03:59:00+00:00","status":"expiringSoon","url":"https://www.underarmour.com/","urlTracking":"https://www.awin1.com/cread.php?awinmid=15431&awinaffid=174411&campaign=Extra+40%25+Off+for+Students&ued=https%3A%2F%2Fwww.underarmour.com%2F","dateAdded":"2025-07-16T19:50:04+00:00","campaign":"Extra 40% Off for Students","regions":{"all":true}},{"promotionId":3300073,"type":"promotion","advertiser":{"id":15431,"name":"Under Armour US","joined":true},"title":"40% Off Sitewide for Military, First Responders, Nurses, Medical & Teachers!","description":"40% Off Sitewide for Military, First Responders, Nurses, Medical & Teachers!","terms":"https://www.underarmour.com/","startDate":"2025-07-17T04:00:00+00:00","endDate":"2025-07-24T03:59:00+00:00","status":"expiringSoon","url":"https://www.underarmour.com/","urlTracking":"https://www.awin1.com/cread.php?awinmid=15431&awinaffid=174411&campaign=40%25+Off+Sitewide+for+Military%2C+First+Responders%2C+Nurses%2C+Medical+%26+Teachers%21&ued=https%3A%2F%2Fwww.underarmour.com%2F","dateAdded":"2025-07-16T19:49:03+00:00","campaign":"40% Off Sitewide for Military, First Responders, Nurses, Medical & Teachers!","regions":{"all":true}},{"promotionId":3299893,"type":"promotion","advertiser":{"id":29069,"name":"Dermstore (US)","joined":true},"title":"Refer a Friend! Earn $50 for each friend you refer to Dermstore and they'll get 15% off their first order too!","description":"Refer a Friend! Earn $50 for each friend you refer to Dermstore and they'll get 15% off their first order too!","terms":"Terms and Conditions apply","startDate":"2025-07-16T17:26:00+00:00","endDate":"2025-08-01T03:25:00+00:00","status":"active","url":"https://www.dermstore.com/c/myreferrals/","urlTracking":"https://www.awin1.com/cread.php?awinmid=29069&awinaffid=174411&ued=https%3A%2F%2Fwww.dermstore.com%2Fc%2Fmyreferrals%2F","dateAdded":"2025-07-16T17:26:02+00:00","campaign":"","regions":{"all":true}},{"promotionId":3299883,"type":"promotion","advertiser":{"id":18530,"name":"Samsung (Canada)","joined":true},"title":"24'' Monitor for as low as $100","description":"With pre-order of Galaxy Fold7 | Z Flip7 or eligible Galaxy Watch","terms":"Program T&C applies.","startDate":"2025-07-16T17:18:00+00:00","endDate":"2025-07-25T03:59:00+00:00","status":"active","url":"https://www.samsung.com/ca/smartphones/galaxy-z-fold7/buy/","urlTracking":"https://www.awin1.com/cread.php?awinmid=18530&awinaffid=174411&campaign=B7Q7&ued=https%3A%2F%2Fwww.samsung.com%2Fca%2Fsmartphones%2Fgalaxy-z-fold7%2Fbuy%2F","dateAdded":"2025-07-16T17:18:20+00:00","campaign":"B7Q7","regions":{"all":true}},{"promotionId":3299881,"type":"promotion","advertiser":{"id":18530,"name":"Samsung (Canada)","joined":true},"title":"No trade-in? No problem!","description":"Save $200 on Galaxy Z Fold7 and keep your current phone.","terms":"Program T&C applies.","startDate":"2025-07-16T17:16:00+00:00","endDate":"2025-07-25T03:59:00+00:00","status":"active","url":"https://www.samsung.com/ca/smartphones/galaxy-z-fold7/buy/","urlTracking":"https://www.awin1.com/cread.php?awinmid=18530&awinaffid=174411&campaign=B7Q7&ued=https%3A%2F%2Fwww.samsung.com%2Fca%2Fsmartphones%2Fgalaxy-z-fold7%2Fbuy%2F","dateAdded":"2025-07-16T17:16:16+00:00","campaign":"B7Q7","regions":{"all":true}},{"promotionId":3299839,"type":"promotion","advertiser":{"id":55457,"name":"Alpyn Beauty","joined":true},"title":"20% Off Anti-Age Duo Set!","description":"20% Off Anti-Age Duo Set that includes the Barrier Cream and Instant Bright Eye products","terms":"","startDate":"2025-07-16T16:13:00+00:00","endDate":"2025-08-01T07:00:00+00:00","status":"active","url":"https://alpynbeauty.com/products/anti-age-duo","urlTracking":"https://www.awin1.com/cread.php?awinmid=55457&awinaffid=174411&ued=https%3A%2F%2Falpynbeauty.com%2Fproducts%2Fanti-age-duo","dateAdded":"2025-07-16T16:13:30+00:00","campaign":"","regions":{"all":true}},{"promotionId":3299837,"type":"promotion","advertiser":{"id":55457,"name":"Alpyn Beauty","joined":true},"title":"Free Barrier Cream Sample on ALL Orders!","description":"Free Barrier Cream Sample on ALL Orders!","terms":"","startDate":"2025-07-16T16:10:00+00:00","endDate":"2025-08-01T07:00:00+00:00","status":"active","url":"https://alpynbeauty.com/","urlTracking":"https://www.awin1.com/cread.php?awinmid=55457&awinaffid=174411&ued=https%3A%2F%2Falpynbeauty.com%2F","dateAdded":"2025-07-16T16:10:47+00:00","campaign":"","regions":{"all":true}},{"promotionId":3299835,"type":"promotion","advertiser":{"id":55457,"name":"Alpyn Beauty","joined":true},"title":"Save $25 + Free Shipping on the Alpyn Sculpt and Soothe Set!","description":"Save $25 + Free Shipping on the Alpyn Sculpt and Soothe Set!","terms":"","startDate":"2025-07-16T16:07:00+00:00","endDate":"2025-08-01T07:00:00+00:00","status":"active","url":"https://alpynbeauty.com/products/sculpt-soothe-set","urlTracking":"https://www.awin1.com/cread.php?awinmid=55457&awinaffid=174411&ued=https%3A%2F%2Falpynbeauty.com%2Fproducts%2Fsculpt-soothe-set","dateAdded":"2025-07-16T16:07:52+00:00","campaign":"","regions":{"all":true}},{"promotionId":3299493,"type":"promotion","advertiser":{"id":29069,"name":"Dermstore (US)","joined":true},"title":"Receive a SkinCeuticals A.G.E. Advanced Eye Cream 4ml  ($30.93 value) when you spend $175 or more on the brand.","description":"Receive a SkinCeuticals A.G.E. Advanced Eye Cream 4ml  ($30.93 value) when you spend $175 or more on the brand.","terms":"Terms and Conditions apply","startDate":"2025-07-16T14:02:00+00:00","endDate":"2025-07-21T14:01:00+00:00","status":"expiringSoon","url":"https://www.dermstore.com/c/brands/skinceuticals/view-all/","urlTracking":"https://www.awin1.com/cread.php?awinmid=29069&awinaffid=174411&ued=https%3A%2F%2Fwww.dermstore.com%2Fc%2Fbrands%2Fskinceuticals%2Fview-all%2F","dateAdded":"2025-07-16T14:02:05+00:00","campaign":"","regions":{"all":true}},{"promotionId":3298299,"type":"voucher","advertiser":{"id":36696,"name":"Wegjewel.inc","joined":true},"title":"Moissanite Sale:Save $50 on $300+ with MOI50","description":"Everyday Shine. Moissanite — Made to Steal the Spotlight.","terms":"NONE","startDate":"2025-07-16T08:07:00+00:00","endDate":"2026-11-29T08:06:00+00:00","status":"active","url":"https://willworkjewelry.com/collections/moissanite","urlTracking":"https://www.awin1.com/cread.php?awinmid=36696&awinaffid=174411&ued=https%3A%2F%2Fwillworkjewelry.com%2Fcollections%2Fmoissanite","dateAdded":"2025-07-16T08:07:21+00:00","campaign":"","regions":{"all":true},"voucher":{"code":"MOI50","exclusive":false,"attributable":false}},{"promotionId":3298297,"type":"promotion","advertiser":{"id":36696,"name":"Wegjewel.inc","joined":true},"title":"Moissanite Sale:Save $50 on $300+ with MOI50","description":"Everyday Shine. Moissanite — Made to Steal the Spotlight.","terms":"NONE","startDate":"2025-07-16T08:06:00+00:00","endDate":"2026-10-31T08:04:00+00:00","status":"active","url":"https://willworkjewelry.com/collections/moissanite","urlTracking":"https://www.awin1.com/cread.php?awinmid=36696&awinaffid=174411&ued=https%3A%2F%2Fwillworkjewelry.com%2Fcollections%2Fmoissanite","dateAdded":"2025-07-16T08:06:07+00:00","campaign":"","regions":{"all":false,"list":[{"name":"United States of America","countryCode":"US"},{"name":"Canada","countryCode":"CA"}]}}],"pagination":{"page":1,"pageSize":20,"total":307}}}],"AWINgetProgramInfo":[{"json":{"data":[{"promotionId":3302037,"type":"promotion","advertiser":{"id":19106,"name":"Burton Snowboards US","joined":true},"title":"Shop Burton's New Arrivals!","description":"We just restocked with all-new apparel, bags, and caps in fresh cuts and standout colorways. Dial in your everyday look or pack for your next trip—whatever your vibe, we’ve got the gear.","terms":"https://www.burton.com/c/new-arrivals?utm_source=aw&utm_medium=affiliate&utm_campaign=na_us_en_conversion_c26q1_merchandising_new_arrivals_boards_graphic_tees_general&utm_content=!!!id!!!__!!!sitename!!!__19106&aw_publisherid=!!!id!!!&aw_sitedomain=!!!sitename!!!&utm_id=!!!id!!!","startDate":"2025-07-17T14:22:00+00:00","endDate":"2025-09-01T05:59:00+00:00","status":"active","url":"https://www.burton.com/c/new-arrivals?utm_source=aw&utm_medium=affiliate&utm_campaign=na_us_en_conversion_c26q1_merchandising_new_arrivals_boards_graphic_tees_general&utm_content=!!!id!!!__!!!sitename!!!__19106&aw_publisherid=!!!id!!!&aw_sitedomain=!!!sitename!!!&utm_id=!!!id!!!","urlTracking":"https://www.awin1.com/cread.php?awinmid=19106&awinaffid=174411&campaign=Shop+Burton%27s+New+Arrivals%21&ued=https%3A%2F%2Fwww.burton.com%2Fc%2Fnew-arrivals%3Futm_source%3Daw%26utm_medium%3Daffiliate%26utm_campaign%3Dna_us_en_conversion_c26q1_merchandising_new_arrivals_boards_graphic_tees_general%26utm_content%3D%21%21%21id%21%21%21__%21%21%21sitename%21%21%21__19106%26aw_publisherid%3D%21%21%21id%21%21%21%26aw_sitedomain%3D%21%21%21sitename%21%21%21%26utm_id%3D%21%21%21id%21%21%21","dateAdded":"2025-07-17T14:22:34+00:00","campaign":"Shop Burton's New Arrivals!","regions":{"all":true}},{"promotionId":3302033,"type":"promotion","advertiser":{"id":19107,"name":"Burton Snowboards Canada","joined":true},"title":"Shop Burton's New Arrivals!","description":"We just restocked with all-new apparel, bags, and caps in fresh cuts and standout colorways. Dial in your everyday look or pack for your next trip—whatever your vibe, we’ve got the gear.","terms":"https://www.burton.com/c/new-arrivals?utm_source=aw&utm_medium=affiliate&utm_campaign=na_us_en_conversion_c26q1_merchandising_new_arrivals_boards_graphic_tees_general&utm_content=!!!id!!!__!!!sitename!!!__19106&aw_publisherid=!!!id!!!&aw_sitedomain=!!!sitename!!!&utm_id=!!!id!!!","startDate":"2025-07-17T14:20:00+00:00","endDate":"2025-09-01T05:59:00+00:00","status":"active","url":"https://www.burton.com/c/new-arrivals?utm_source=aw&utm_medium=affiliate&utm_campaign=na_us_en_conversion_c26q1_merchandising_new_arrivals_boards_graphic_tees_general&utm_content=!!!id!!!__!!!sitename!!!__19106&aw_publisherid=!!!id!!!&aw_sitedomain=!!!sitename!!!&utm_id=!!!id!!!","urlTracking":"https://www.awin1.com/cread.php?awinmid=19107&awinaffid=174411&campaign=Shop+Burton%27s+New+Arrivals%21&ued=https%3A%2F%2Fwww.burton.com%2Fc%2Fnew-arrivals%3Futm_source%3Daw%26utm_medium%3Daffiliate%26utm_campaign%3Dna_us_en_conversion_c26q1_merchandising_new_arrivals_boards_graphic_tees_general%26utm_content%3D%21%21%21id%21%21%21__%21%21%21sitename%21%21%21__19106%26aw_publisherid%3D%21%21%21id%21%21%21%26aw_sitedomain%3D%21%21%21sitename%21%21%21%26utm_id%3D%21%21%21id%21%21%21","dateAdded":"2025-07-17T14:20:49+00:00","campaign":"Shop Burton's New Arrivals!","regions":{"all":true}},{"promotionId":3301177,"type":"promotion","advertiser":{"id":30659,"name":"Joseph Joseph US","joined":true},"title":"Ends Soon! Sale up to 50% off + Extra 10% off","description":"Ends Soon! Sale up to 50% off + Extra 10% off","terms":"","startDate":"2025-07-17T09:44:00+00:00","endDate":"2025-07-21T04:00:00+00:00","status":"expiringSoon","url":"https://us.josephjoseph.com/collections/sale","urlTracking":"https://www.awin1.com/cread.php?awinmid=30659&awinaffid=174411&campaign=Summer+Sale+2025&ued=https%3A%2F%2Fus.josephjoseph.com%2Fcollections%2Fsale","dateAdded":"2025-07-17T09:44:53+00:00","campaign":"Summer Sale 2025","regions":{"all":true}},{"promotionId":3301089,"type":"promotion","advertiser":{"id":17207,"name":"ClickInks.com (US)","joined":true},"title":"Refer a Friend and Get $5!","description":"Refer a Friend and Get $5!","terms":"","startDate":"2025-07-17T09:05:00+00:00","endDate":"2025-07-31T22:59:00+00:00","status":"active","url":"https://www.clickinks.com/specialoffer.aspx","urlTracking":"https://www.awin1.com/cread.php?awinmid=17207&awinaffid=174411&ued=https%3A%2F%2Fwww.clickinks.com%2Fspecialoffer.aspx","dateAdded":"2025-07-17T09:05:52+00:00","campaign":"","regions":{"all":true}},{"promotionId":3301079,"type":"promotion","advertiser":{"id":17207,"name":"ClickInks.com (US)","joined":true},"title":"Ink Cartridges For Only 99c!","description":"Ink Cartridges For Only 99c!","terms":"","startDate":"2025-07-17T09:04:00+00:00","endDate":"2025-07-31T22:59:00+00:00","status":"active","url":"https://www.clickinks.com/specialoffer.aspx","urlTracking":"https://www.awin1.com/cread.php?awinmid=17207&awinaffid=174411&ued=https%3A%2F%2Fwww.clickinks.com%2Fspecialoffer.aspx","dateAdded":"2025-07-17T09:04:13+00:00","campaign":"","regions":{"all":true}},{"promotionId":3301073,"type":"promotion","advertiser":{"id":17207,"name":"ClickInks.com (US)","joined":true},"title":"Win a Year Supply of Ink!","description":"Win a Year Supply of Ink!","terms":"","startDate":"2025-07-17T09:03:00+00:00","endDate":"2025-07-31T22:59:00+00:00","status":"active","url":"https://www.clickinks.com/win-years-supply-ink-2012.aspx","urlTracking":"https://www.awin1.com/cread.php?awinmid=17207&awinaffid=174411&ued=https%3A%2F%2Fwww.clickinks.com%2Fwin-years-supply-ink-2012.aspx","dateAdded":"2025-07-17T09:03:46+00:00","campaign":"","regions":{"all":true}},{"promotionId":3301071,"type":"promotion","advertiser":{"id":17207,"name":"ClickInks.com (US)","joined":true},"title":"35% Off Clearance Sale!","description":"35% Off Clearance Sale!","terms":"","startDate":"2025-07-17T09:03:00+00:00","endDate":"2025-07-31T22:59:00+00:00","status":"active","url":"https://www.clickinks.com/Clearance.aspx","urlTracking":"https://www.awin1.com/cread.php?awinmid=17207&awinaffid=174411&ued=https%3A%2F%2Fwww.clickinks.com%2FClearance.aspx","dateAdded":"2025-07-17T09:03:03+00:00","campaign":"","regions":{"all":true}},{"promotionId":3300167,"type":"promotion","advertiser":{"id":15432,"name":"Under Armour (Canada)","joined":true},"title":"40% Off Sitewide for Military, First Responders, Nurses, Medical & Teachers!","description":"40% Off Sitewide for Military, First Responders, Nurses, Medical & Teachers!","terms":"https://www.underarmour.ca","startDate":"2025-07-17T04:00:00+00:00","endDate":"2025-07-24T03:59:00+00:00","status":"expiringSoon","url":"https://www.underarmour.ca","urlTracking":"https://www.awin1.com/cread.php?awinmid=15432&awinaffid=174411&campaign=40%25+Off+Sitewide+for+Military%2C+First+Responders%2C+Nurses%2C+Medical+%26+Teachers%21&ued=https%3A%2F%2Fwww.underarmour.ca","dateAdded":"2025-07-16T20:05:54+00:00","campaign":"40% Off Sitewide for Military, First Responders, Nurses, Medical & Teachers!","regions":{"all":true}},{"promotionId":3300165,"type":"promotion","advertiser":{"id":15432,"name":"Under Armour (Canada)","joined":true},"title":"Extra 40% Off for Students","description":"Extra 40% Off for Students","terms":"https://www.underarmour.ca","startDate":"2025-07-17T04:00:00+00:00","endDate":"2025-07-24T03:59:00+00:00","status":"expiringSoon","url":"https://www.underarmour.ca","urlTracking":"https://www.awin1.com/cread.php?awinmid=15432&awinaffid=174411&campaign=Extra+40%25+Off+for+Students&ued=https%3A%2F%2Fwww.underarmour.ca","dateAdded":"2025-07-16T20:04:27+00:00","campaign":"Extra 40% Off for Students","regions":{"all":true}},{"promotionId":3300075,"type":"promotion","advertiser":{"id":15431,"name":"Under Armour US","joined":true},"title":"Extra 40% Off for Students","description":"Extra 40% Off for Students","terms":"https://www.underarmour.com/","startDate":"2025-07-17T04:00:00+00:00","endDate":"2025-07-24T03:59:00+00:00","status":"expiringSoon","url":"https://www.underarmour.com/","urlTracking":"https://www.awin1.com/cread.php?awinmid=15431&awinaffid=174411&campaign=Extra+40%25+Off+for+Students&ued=https%3A%2F%2Fwww.underarmour.com%2F","dateAdded":"2025-07-16T19:50:04+00:00","campaign":"Extra 40% Off for Students","regions":{"all":true}},{"promotionId":3300073,"type":"promotion","advertiser":{"id":15431,"name":"Under Armour US","joined":true},"title":"40% Off Sitewide for Military, First Responders, Nurses, Medical & Teachers!","description":"40% Off Sitewide for Military, First Responders, Nurses, Medical & Teachers!","terms":"https://www.underarmour.com/","startDate":"2025-07-17T04:00:00+00:00","endDate":"2025-07-24T03:59:00+00:00","status":"expiringSoon","url":"https://www.underarmour.com/","urlTracking":"https://www.awin1.com/cread.php?awinmid=15431&awinaffid=174411&campaign=40%25+Off+Sitewide+for+Military%2C+First+Responders%2C+Nurses%2C+Medical+%26+Teachers%21&ued=https%3A%2F%2Fwww.underarmour.com%2F","dateAdded":"2025-07-16T19:49:03+00:00","campaign":"40% Off Sitewide for Military, First Responders, Nurses, Medical & Teachers!","regions":{"all":true}},{"promotionId":3299893,"type":"promotion","advertiser":{"id":29069,"name":"Dermstore (US)","joined":true},"title":"Refer a Friend! Earn $50 for each friend you refer to Dermstore and they'll get 15% off their first order too!","description":"Refer a Friend! Earn $50 for each friend you refer to Dermstore and they'll get 15% off their first order too!","terms":"Terms and Conditions apply","startDate":"2025-07-16T17:26:00+00:00","endDate":"2025-08-01T03:25:00+00:00","status":"active","url":"https://www.dermstore.com/c/myreferrals/","urlTracking":"https://www.awin1.com/cread.php?awinmid=29069&awinaffid=174411&ued=https%3A%2F%2Fwww.dermstore.com%2Fc%2Fmyreferrals%2F","dateAdded":"2025-07-16T17:26:02+00:00","campaign":"","regions":{"all":true}},{"promotionId":3299883,"type":"promotion","advertiser":{"id":18530,"name":"Samsung (Canada)","joined":true},"title":"24'' Monitor for as low as $100","description":"With pre-order of Galaxy Fold7 | Z Flip7 or eligible Galaxy Watch","terms":"Program T&C applies.","startDate":"2025-07-16T17:18:00+00:00","endDate":"2025-07-25T03:59:00+00:00","status":"active","url":"https://www.samsung.com/ca/smartphones/galaxy-z-fold7/buy/","urlTracking":"https://www.awin1.com/cread.php?awinmid=18530&awinaffid=174411&campaign=B7Q7&ued=https%3A%2F%2Fwww.samsung.com%2Fca%2Fsmartphones%2Fgalaxy-z-fold7%2Fbuy%2F","dateAdded":"2025-07-16T17:18:20+00:00","campaign":"B7Q7","regions":{"all":true}},{"promotionId":3299881,"type":"promotion","advertiser":{"id":18530,"name":"Samsung (Canada)","joined":true},"title":"No trade-in? No problem!","description":"Save $200 on Galaxy Z Fold7 and keep your current phone.","terms":"Program T&C applies.","startDate":"2025-07-16T17:16:00+00:00","endDate":"2025-07-25T03:59:00+00:00","status":"active","url":"https://www.samsung.com/ca/smartphones/galaxy-z-fold7/buy/","urlTracking":"https://www.awin1.com/cread.php?awinmid=18530&awinaffid=174411&campaign=B7Q7&ued=https%3A%2F%2Fwww.samsung.com%2Fca%2Fsmartphones%2Fgalaxy-z-fold7%2Fbuy%2F","dateAdded":"2025-07-16T17:16:16+00:00","campaign":"B7Q7","regions":{"all":true}},{"promotionId":3299839,"type":"promotion","advertiser":{"id":55457,"name":"Alpyn Beauty","joined":true},"title":"20% Off Anti-Age Duo Set!","description":"20% Off Anti-Age Duo Set that includes the Barrier Cream and Instant Bright Eye products","terms":"","startDate":"2025-07-16T16:13:00+00:00","endDate":"2025-08-01T07:00:00+00:00","status":"active","url":"https://alpynbeauty.com/products/anti-age-duo","urlTracking":"https://www.awin1.com/cread.php?awinmid=55457&awinaffid=174411&ued=https%3A%2F%2Falpynbeauty.com%2Fproducts%2Fanti-age-duo","dateAdded":"2025-07-16T16:13:30+00:00","campaign":"","regions":{"all":true}},{"promotionId":3299837,"type":"promotion","advertiser":{"id":55457,"name":"Alpyn Beauty","joined":true},"title":"Free Barrier Cream Sample on ALL Orders!","description":"Free Barrier Cream Sample on ALL Orders!","terms":"","startDate":"2025-07-16T16:10:00+00:00","endDate":"2025-08-01T07:00:00+00:00","status":"active","url":"https://alpynbeauty.com/","urlTracking":"https://www.awin1.com/cread.php?awinmid=55457&awinaffid=174411&ued=https%3A%2F%2Falpynbeauty.com%2F","dateAdded":"2025-07-16T16:10:47+00:00","campaign":"","regions":{"all":true}},{"promotionId":3299835,"type":"promotion","advertiser":{"id":55457,"name":"Alpyn Beauty","joined":true},"title":"Save $25 + Free Shipping on the Alpyn Sculpt and Soothe Set!","description":"Save $25 + Free Shipping on the Alpyn Sculpt and Soothe Set!","terms":"","startDate":"2025-07-16T16:07:00+00:00","endDate":"2025-08-01T07:00:00+00:00","status":"active","url":"https://alpynbeauty.com/products/sculpt-soothe-set","urlTracking":"https://www.awin1.com/cread.php?awinmid=55457&awinaffid=174411&ued=https%3A%2F%2Falpynbeauty.com%2Fproducts%2Fsculpt-soothe-set","dateAdded":"2025-07-16T16:07:52+00:00","campaign":"","regions":{"all":true}},{"promotionId":3299493,"type":"promotion","advertiser":{"id":29069,"name":"Dermstore (US)","joined":true},"title":"Receive a SkinCeuticals A.G.E. Advanced Eye Cream 4ml  ($30.93 value) when you spend $175 or more on the brand.","description":"Receive a SkinCeuticals A.G.E. Advanced Eye Cream 4ml  ($30.93 value) when you spend $175 or more on the brand.","terms":"Terms and Conditions apply","startDate":"2025-07-16T14:02:00+00:00","endDate":"2025-07-21T14:01:00+00:00","status":"expiringSoon","url":"https://www.dermstore.com/c/brands/skinceuticals/view-all/","urlTracking":"https://www.awin1.com/cread.php?awinmid=29069&awinaffid=174411&ued=https%3A%2F%2Fwww.dermstore.com%2Fc%2Fbrands%2Fskinceuticals%2Fview-all%2F","dateAdded":"2025-07-16T14:02:05+00:00","campaign":"","regions":{"all":true}},{"promotionId":3298299,"type":"voucher","advertiser":{"id":36696,"name":"Wegjewel.inc","joined":true},"title":"Moissanite Sale:Save $50 on $300+ with MOI50","description":"Everyday Shine. Moissanite — Made to Steal the Spotlight.","terms":"NONE","startDate":"2025-07-16T08:07:00+00:00","endDate":"2026-11-29T08:06:00+00:00","status":"active","url":"https://willworkjewelry.com/collections/moissanite","urlTracking":"https://www.awin1.com/cread.php?awinmid=36696&awinaffid=174411&ued=https%3A%2F%2Fwillworkjewelry.com%2Fcollections%2Fmoissanite","dateAdded":"2025-07-16T08:07:21+00:00","campaign":"","regions":{"all":true},"voucher":{"code":"MOI50","exclusive":false,"attributable":false}},{"promotionId":3298297,"type":"promotion","advertiser":{"id":36696,"name":"Wegjewel.inc","joined":true},"title":"Moissanite Sale:Save $50 on $300+ with MOI50","description":"Everyday Shine. Moissanite — Made to Steal the Spotlight.","terms":"NONE","startDate":"2025-07-16T08:06:00+00:00","endDate":"2026-10-31T08:04:00+00:00","status":"active","url":"https://willworkjewelry.com/collections/moissanite","urlTracking":"https://www.awin1.com/cread.php?awinmid=36696&awinaffid=174411&ued=https%3A%2F%2Fwillworkjewelry.com%2Fcollections%2Fmoissanite","dateAdded":"2025-07-16T08:06:07+00:00","campaign":"","regions":{"all":false,"list":[{"name":"United States of America","countryCode":"US"},{"name":"Canada","countryCode":"CA"}]}}],"pagination":{"page":1,"pageSize":20,"total":307}}}]},"versionId":"e2658692-8130-4118-b0c3-c91d6439728c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-08-19T17:57:58.700Z","createdAt":"2025-08-19T17:57:58.700Z","role":"workflow:owner","workflowId":"OmtDFju2PJP5B8v0","projectId":"NOrA7nVi3G84Nq0v"}],"activeVersion":null,"tags":[]}