Backup workflows to git repository.json
{"updatedAt":"2025-12-19T11:12:07.998Z","createdAt":"2025-12-19T09:06:07.098Z","id":"TcN2ROEKp2ZJa64Z","name":"Backup workflows to git repository","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"bbf97c9d-b92b-43c5-ab0c-63cb39a7b33a","name":"GitHub","type":"n8n-nodes-base.github","position":[528,192],"typeVersion":1,"alwaysOutputData":true,"webhookId":"e1b30440-e0eb-46e4-b716-3f8ff6606afd","credentials":{"githubApi":{"id":"rAmCuR2HuNC56Jsf","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"rushikeshnalbalwar"},{"name":"repo.name","value":"n8n"},{"name":"repo.path"}]},"options":{}},"id":"4e3788a0-add7-4c76-8242-f090a2aac224","name":"Globals","type":"n8n-nodes-base.set","position":[-176,112],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"4b7f8f97-05a8-4c93-bc33-ed2f5be0d7d6","name":"n8n","type":"n8n-nodes-base.n8n","position":[64,112],"typeVersion":1,"credentials":{"n8nApi":{"id":"uxjTkIsQjJz2JgNa","name":"n8n-git"}}},{"parameters":{"options":{}},"id":"09944802-c7cc-45f0-b4d5-be2b10be6014","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[288,112],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"35942ef1-d208-47ab-9b73-bda8e9bf4a9e","name":"If","type":"n8n-nodes-base.if","position":[720,192],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"1381671d-d852-4d4d-a27e-6713a48c61af","name":"If1","type":"n8n-nodes-base.if","position":[1600,464],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"f4924a47-7088-4331-bf62-9bb9e1e7fdbd","name":"Code","type":"n8n-nodes-base.code","position":[1280,160],"typeVersion":2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"1fa56ba4-ea59-42c4-8dc5-e3a8197bf65b","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[912,352],"typeVersion":1,"webhookId":"dcd63140-b42b-4b78-81b3-fc0cce2be906","credentials":{"githubApi":{"id":"rAmCuR2HuNC56Jsf","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"342ebfe6-3d10-424b-9c59-4e2a4a576c53","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[1968,672],"typeVersion":1,"webhookId":"df594da0-1647-4815-bf26-bc73df48c50b","credentials":{"githubApi":{"id":"rAmCuR2HuNC56Jsf","name":"GitHub account"}}},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"7597f37a-b215-416b-b00f-c3ecebe1c561","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[2128,688],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"66e646e9-aaad-49eb-89f8-834a30ad06de","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1744,464],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"e820c73f-29b4-4f99-8736-fafe97b16d4b","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1024,368],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"5f5c7893-7a5a-4858-a87e-f11ebfc557bf","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[720,80],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"987d0acb-ada3-48f5-a67c-9788ecc75b8c","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1232,64],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"6deab7e8-8f06-4f02-a58d-5c6376b71038","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"eaa1dbd6-cf4f-462a-84ab-13bffb8386f4","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-256,240],"typeVersion":1},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-352,112],"id":"9c3079f4-d64c-42b1-9357-4da9f1b3fe35","name":"When clicking ‘Execute workflow’"}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"If","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GitHub","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Globals","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6edaa121-0d9c-4b40-915b-a5e676b80e9b","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-19T09:06:07.101Z","createdAt":"2025-12-19T09:06:07.101Z","role":"workflow:owner","workflowId":"TcN2ROEKp2ZJa64Z","projectId":"Lgsn4NWhkbeG1opy"}],"activeVersion":null,"tags":[]}