Collapsing Shells BAI-69.json
{"updatedAt":"2025-11-10T20:58:36.000Z","createdAt":"2025-10-17T15:51:54.031Z","id":"w6Cn88bOUnWKuZlY","name":"Collapsing Shells BAI-69","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-368,176],"id":"2421fa3f-62e8-4e50-9655-3c996de5148d","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"executeQuery","query":"--//\\\\-- BAI-69 Collapse Shells into PPN - \n--// from Dean\n--// Get the default Payouts/Revenue from the O&O shell (1671934) and set them as the Default Payout and Revenue on the PPN shell (1671936)\nSELECT aoe.OFFER_ID AS OfferID, aoe.offer_event_id AS UUID, aoe.order_num as order_col, aoe.offer_event_name AS event_label\n  , aoe.ext_offer_event_id AS event_name\n    , revenue/100 as Revenue_USD , payout/100 as Payout_USD\nFROM  OPS_AUTOMATION_DB.DISCOVER_MART.DIM_ADGATE_OFFER_EVENTS aoe\nWHERE OFFER_ID= {{ $('Loop Over OID Rows').item.json[\"O&O ID\"] }} -- Current O&O ex 1671934 \n AND aoe.deleted_at IS NULL\n--QUALIFY ROW_NUMBER() OVER (PARTITION BY offerid,uuid ORDER BY updatedat DESC) = 1\nORDER BY OfferID, order_col\n;\n\n\n\n"},"type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[976,-48],"id":"29b4c7d1-9c05-453e-a365-f1afc53635d0","name":"Snowflake Current OO Events","credentials":{"snowflake":{"id":"RC04CfI3v4QBk3xy","name":"Snowflake ops_disco_automation_db dev_wh"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"194BvKOthzAsdAfGnpOkRrd40JZ2utV-9NMexIgKYpWU","mode":"list","cachedResultName":"Collapse Shells n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/194BvKOthzAsdAfGnpOkRrd40JZ2utV-9NMexIgKYpWU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":152752091,"mode":"list","cachedResultName":"primary","cachedResultUrl":"https://docs.google.com/spreadsheets/d/194BvKOthzAsdAfGnpOkRrd40JZ2utV-9NMexIgKYpWU/edit#gid=152752091"},"filtersUI":{"values":[{"lookupColumn":"Status"}]},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRange","headerRow":8,"firstDataRow":9}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-144,176],"id":"675370ce-dfc1-40d9-971d-942f94302447","name":"GSheet Get OIDs","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"authentication":"serviceAccount","operation":"create","documentId":{"__rl":true,"value":"194BvKOthzAsdAfGnpOkRrd40JZ2utV-9NMexIgKYpWU","mode":"list","cachedResultName":"Collapse Shells n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/194BvKOthzAsdAfGnpOkRrd40JZ2utV-9NMexIgKYpWU/edit?usp=drivesdk"},"title":"=OO_{{ $json[\"O&O ID\"] }}","options":{"sheetId":"={{ $json[\"O&O ID\"] }}"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[752,-48],"id":"a98ac66a-273e-4aa5-8309-a561a27c6c0e","name":"GSheet Create OO tab","alwaysOutputData":true,"credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}},"onError":"continueRegularOutput"},{"parameters":{"authentication":"serviceAccount","operation":"create","documentId":{"__rl":true,"value":"194BvKOthzAsdAfGnpOkRrd40JZ2utV-9NMexIgKYpWU","mode":"list","cachedResultName":"Collapse Shells n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/194BvKOthzAsdAfGnpOkRrd40JZ2utV-9NMexIgKYpWU/edit?usp=drivesdk"},"title":"=OID_PPN1_{{ $('set OIDs').item.json[\"PPN ID1\"] }}_{{ $now.format('MMddmm') }}","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[816,544],"id":"d02cfecc-888b-4447-ab1b-23954ab89edd","name":"GSheet Create PPN tab","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}},"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1488,544],"id":"4fcbcc7b-a9af-4580-a3f2-2a240bf6698e","name":"Loop Over Items1","disabled":true},{"parameters":{"operation":"executeQuery","query":"--//\\\\-- BAI-69 Collapse Shells into PPN - \n--//\\\\-- For item YieldOps 2: Prepare Multi CPI upload file for the existing PPN Shells (how this is done is pending, final option choice TBD)\nWITH events AS (\n    SELECT aoe.offer_id AS OFFERID,\n      aoe.offer_event_id AS UUID, aoe.order_num as order_col,\n      aoe.offer_event_name AS human_readable_name,\n      --name,\n      ROUND(revenue/100,2) AS revenue_usd,\n      ROUND(payout/100,2) AS payout_usd\n      --updatedat\n    FROM OPS_AUTOMATION_DB.DISCOVER_MART.DIM_ADGATE_OFFER_EVENTS aoe\n    WHERE aoe.offer_id ={{ $('set IDs').item.json[\"PPN ID1\"] }} -- Current O&O ex 1671936\n        --QUALIFY ROW_NUMBER() OVER (PARTITION BY offerid, uuid ORDER BY updatedat DESC) = 1\n        ),\n    affs AS (\n      SELECT\n      t.offer_id,\n      t.aff_id,\n      split_part(f.value::string, '-', 2)::int AS source_id\n      FROM OPS_AUTOMATION_DB.ADGATE.OFFERS_APPROVED_AFFS t,\n      LATERAL FLATTEN(input => TRY_PARSE_JSON(t.sources)) f\n      WHERE f.value IS NOT NULL\n      AND t.offer_id ={{ $('set IDs').item.json[\"PPN ID1\"] }} -- Current O&O ex 1671936\n      )\nSELECT\ne.offerid as Offer_ID\n, e.UUID as Event_ID\n, a.aff_id as Affiliate_ID\n, a.source_id as Source_ID\n, e.revenue_usd as Revenue\n, e.payout_usd as Payout\n, CAST(NULL AS NUMBER) AS Revshare\n, CAST(NULL AS NUMBER) AS Daily_Caps\n, CAST(NULL AS NUMBER) AS Monthly_Caps\n, 'update'::string     AS Action\nFROM events e\nLEFT JOIN affs a\nON e.offerid = a.offer_id\nORDER BY a.aff_id, a.source_id, e.order_col;\n;"},"type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[1040,480],"id":"e8ac2d59-9b66-4f77-8a7a-d93221b31943","name":"Snowflake Current PPN1 Events","credentials":{"snowflake":{"id":"RC04CfI3v4QBk3xy","name":"Snowflake ops_disco_automation_db dev_wh"}},"disabled":true},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"={{ $('GSheet Create PPN tab').item.json.spreadsheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('GSheet Create PPN tab').item.json.sheetId }}","mode":"id"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1264,480],"id":"fd32ffbb-8c68-430f-9346-1716e2429270","name":"GSheet Current PPN1 Events","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}},"disabled":true},{"parameters":{"content":"## To Do\n- values for additional columns on primary GSheet\n-- New Offer Name\n-- New Campaign Name\n-- New Global Cap\n-- New PPN Cap\n-- Main Events (link to the proper tab)","height":320,"width":432,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-112,-400],"typeVersion":1,"id":"60e111f7-ca8a-44ed-a411-90654f52a6bc","name":"Sticky Note"},{"parameters":{"content":"## Gets O&O Events","height":224,"width":800,"color":7},"type":"n8n-nodes-base.stickyNote","position":[736,-112],"typeVersion":1,"id":"e6f769d1-b115-4bd6-bdce-94970e2a0c75","name":"Sticky Note1"},{"parameters":{"content":"## Creates PPN Events\n- adds to sheet for AdOps to download as CSV before uploading to Multi-CPI form","height":288,"width":896,"color":7},"type":"n8n-nodes-base.stickyNote","position":[752,416],"typeVersion":1,"id":"cc55a061-9818-44d0-b2c2-91e1fbd8bd9a","name":"Sticky Note2"},{"parameters":{"content":"## Limit\n- don't want to create 100s of tabs (yet)\n- probably remove when production","height":240,"width":256,"color":3},"type":"n8n-nodes-base.stickyNote","position":[224,96],"typeVersion":1,"id":"b8ad8db1-b9a7-4162-9380-9cff49bb31e7","name":"Sticky Note3"},{"parameters":{"maxItems":5},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[304,176],"id":"bccadcac-a9fd-4411-a60e-29efa4986f45","name":"Limit"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[528,176],"id":"b4c30ce7-e925-4113-929b-0122f790a0e1","name":"Loop Over OID Rows"},{"parameters":{"assignments":{"assignments":[{"id":"aa47322a-dce6-4c4c-82a2-eabc7b67de40","name":"row_number","value":"={{ $json.row_number }}","type":"number"},{"id":"a8a395c0-a8ef-4eea-a599-699ea1adcbd1","name":"O&O ID","value":"={{ $json[\"O&O ID\"] }}","type":"number"},{"id":"36e2c2dc-7805-4c6d-8693-5c942c34a07e","name":"PPN ID1","value":"={{ $json[\"PPN ID1\"] }}","type":"number"},{"id":"f5fae1dc-44a0-4aa8-ab7c-0ea825080507","name":"PPN ID2","value":"={{ $json[\"PPN ID2\"] }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,176],"id":"4d48c5d4-ba89-4581-b71c-299f6b3e0463","name":"set OIDs"},{"parameters":{"operation":"executeQuery","query":"--//\\\\-- BAI-69 Collapse Shells into PPN - \n--// from Dean\n--// Get the default Payouts/Revenue from the O&O shell (1671934) and set them as the Default Payout and Revenue on the PPN shell (1671936)\nSELECT aoe.OFFER_ID AS OfferID, aoe.offer_event_name AS event_label\n  , aoe.order_num as order_col\n  , aoe.ext_offer_event_id AS event_name\n  , revenue/100 as PPN1_Revenue_USD , payout/100 as PPN1_Payout_USD\nFROM  OPS_AUTOMATION_DB.DISCOVER_MART.DIM_ADGATE_OFFER_EVENTS aoe\nWHERE OFFER_ID= {{ $('Loop Over OID Rows').item.json[\"PPN ID1\"] }} -- Current O&O ex 1671934 \n AND aoe.deleted_at IS NULL\n AND OFFER_ID > 0\nGROUP BY ALL\nORDER BY order_col\n;"},"type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[1648,-96],"id":"b6f9c811-81cf-4949-aa0d-1e9462611bd2","name":"Snowflake Get PPN1 Events","executeOnce":true,"notesInFlow":true,"alwaysOutputData":true,"credentials":{"snowflake":{"id":"RC04CfI3v4QBk3xy","name":"Snowflake ops_disco_automation_db dev_wh"}},"notes":"Once"},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"194BvKOthzAsdAfGnpOkRrd40JZ2utV-9NMexIgKYpWU","mode":"list","cachedResultName":"Collapse Shells n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/194BvKOthzAsdAfGnpOkRrd40JZ2utV-9NMexIgKYpWU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"=OO_{{ $('Loop Over OID Rows').item.json['O&O ID'] }}","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"EVENT_LABEL":"={{ $json.EVENT_LABEL }}","EVENT_NAME":"={{ $json.EVENT_NAME }}","PPN1_Revenue_USD":"={{ $json.PPN1_REVENUE_USD }}","PPN1_Payout_USD":"={{ $json.PPN1_PAYOUT_USD }}"},"matchingColumns":["EVENT_NAME"],"schema":[{"id":"OFFERID","displayName":"OFFERID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UUID","displayName":"UUID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ORDER_COL","displayName":"ORDER_COL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EVENT_LABEL","displayName":"EVENT_LABEL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EVENT_NAME","displayName":"EVENT_NAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REVENUE_USD","displayName":"REVENUE_USD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PAYOUT_USD","displayName":"PAYOUT_USD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PPN1_Revenue_USD","displayName":"PPN1_Revenue_USD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PPN1_Payout_USD","displayName":"PPN1_Payout_USD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PPN2_Revenue_USD","displayName":"PPN2_Revenue_USD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PPN2_Payout_USD","displayName":"PPN2_Payout_USD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"cellFormat":"USER_ENTERED"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1872,-96],"id":"287630ab-5d11-4867-a844-cfd0efaa262c","name":"GSheet Upsert PPN1 Events","notesInFlow":false,"credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"194BvKOthzAsdAfGnpOkRrd40JZ2utV-9NMexIgKYpWU","mode":"list","cachedResultName":"Collapse Shells n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/194BvKOthzAsdAfGnpOkRrd40JZ2utV-9NMexIgKYpWU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"=OO_{{ $('Loop Over OID Rows').item.json['O&O ID'] }}","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["EVENT_NAME"],"schema":[{"id":"OFFERID","displayName":"OFFERID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"UUID","displayName":"UUID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ORDER_COL","displayName":"ORDER_COL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EVENT_LABEL","displayName":"EVENT_LABEL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EVENT_NAME","displayName":"EVENT_NAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REVENUE_USD","displayName":"REVENUE_USD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PAYOUT_USD","displayName":"PAYOUT_USD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PPN1_Revenue_USD","displayName":"PPN1_Revenue_USD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PPN1_Payout_USD","displayName":"PPN1_Payout_USD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PPN2_Revenue_USD","displayName":"PPN2_Revenue_USD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PPN2_Payout_USD","displayName":"PPN2_Payout_USD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"cellFormat":"USER_ENTERED","handlingExtraData":"insertInNewColumn"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1424,-48],"id":"feb19054-e947-4b92-bec2-f1678858f2b8","name":"GSheet Append OO Events","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"method":"PUT","url":"=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Google Sheets').item.json[\"spreadsheetId\"] }}/values/Main!A:Z","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"valueInputOption","value":"RAW"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"range","value":"Main!A:Z"},{"name":"values","value":"={{ [$json.headers] }}"}]},"options":{}},"id":"e3d82a48-3375-4df5-b53b-16326b220a24","name":"Update Google Sheet","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-144,416],"disabled":true},{"parameters":{"values":{"string":[{"name":"headers","value":"={{ [\n  \"PPN1_Revenue_USD\",\n  \"PPN1_Payout_USD\",\n  \"PPN1_Revenue_USD\",\n  \"PPN1_Payout_USD\",\n  \"PPN1_Payout_USD\"\n] }}"}]},"options":{}},"id":"fe633f1f-50f8-4c6f-bbed-446c22ce2b42","name":"Define headers","type":"n8n-nodes-base.set","typeVersion":1,"position":[-368,416],"disabled":true},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"PPN1_Revenue_USD\": null,\n  \"PPN1_Payout_USD\": null,\n  \"PPN2_Revenue_USD\": null,\n  \"PPN2_Payout_USD\": null\n}\n","includeOtherFields":true,"options":{"stripBinary":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,-48],"id":"5ec18c31-c60f-404e-abcf-60b713812d80","name":"add Columns"},{"parameters":{"operation":"executeQuery","query":"--//\\\\-- BAI-69 Collapse Shells into PPN - \n--// from Dean\n--// Get the default Payouts/Revenue from the O&O shell (1671934) and set them as the Default Payout and Revenue on the PPN shell (1671936)\nSELECT aoe.OFFER_ID AS OfferID, aoe.offer_event_name AS event_label\n  , aoe.order_num as order_col\n  , aoe.ext_offer_event_id AS event_name\n  , revenue/100 as PPN2_Revenue_USD , payout/100 as PPN2_Payout_USD\nFROM  OPS_AUTOMATION_DB.DISCOVER_MART.DIM_ADGATE_OFFER_EVENTS aoe\nWHERE OFFER_ID= {{ $('Loop Over OID Rows').item.json[\"PPN ID2\"] }} -- Current O&O ex 1671934 \n AND aoe.deleted_at IS NULL\nAND aoe.OFFER_ID > 0\nGROUP BY ALL\nORDER BY order_col\n;"},"type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[2032,112],"id":"cbfeebe7-44a6-4c3c-b222-bb9eb6fc0b97","name":"Snowflake Get PPN2 Events","executeOnce":true,"notesInFlow":true,"alwaysOutputData":true,"credentials":{"snowflake":{"id":"RC04CfI3v4QBk3xy","name":"Snowflake ops_disco_automation_db dev_wh"}},"notes":"Once"},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"194BvKOthzAsdAfGnpOkRrd40JZ2utV-9NMexIgKYpWU","mode":"list","cachedResultName":"Collapse Shells n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/194BvKOthzAsdAfGnpOkRrd40JZ2utV-9NMexIgKYpWU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"=OO_{{ $('Loop Over OID Rows').item.json['O&O ID'] }}","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"EVENT_NAME":"={{ $json.EVENT_NAME }}","EVENT_LABEL":"={{ $json.EVENT_LABEL }}","PPN2_Revenue_USD":"={{ $json.PPN2_REVENUE_USD }}","PPN2_Payout_USD":"={{ $json.PPN2_PAYOUT_USD }}"},"matchingColumns":["EVENT_NAME"],"schema":[{"id":"OFFERID","displayName":"OFFERID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UUID","displayName":"UUID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ORDER_COL","displayName":"ORDER_COL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EVENT_LABEL","displayName":"EVENT_LABEL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EVENT_NAME","displayName":"EVENT_NAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REVENUE_USD","displayName":"REVENUE_USD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PAYOUT_USD","displayName":"PAYOUT_USD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PPN1_Revenue_USD","displayName":"PPN1_Revenue_USD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PPN1_Payout_USD","displayName":"PPN1_Payout_USD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PPN2_Revenue_USD","displayName":"PPN2_Revenue_USD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PPN2_Payout_USD","displayName":"PPN2_Payout_USD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"cellFormat":"USER_ENTERED"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2224,112],"id":"c4bdccc7-1ee7-4125-b926-ec28cd6b1f49","name":"GSheet Upsert PPN2 Events","notesInFlow":false,"credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"204deff3-c143-4a1b-a5d5-585b0148fbec","leftValue":"={{ $('Loop Over OID Rows').item.json[\"PPN ID2\"] }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1648,112],"id":"9959e6df-0dc1-411c-a2e1-58f1cf96e9f2","name":"If PPN2"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1840,112],"id":"76dd0cf3-1cd3-4e7d-bdc1-13e3215fe0f1","name":"Wait2s","webhookId":"f3a94608-cbef-4fa7-bd1c-4c11c6b45f49"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"GSheet Get OIDs","type":"main","index":0}]]},"Snowflake Current OO Events":{"main":[[{"node":"add Columns","type":"main","index":0}]]},"GSheet Get OIDs":{"main":[[{"node":"set OIDs","type":"main","index":0}]]},"GSheet Create OO tab":{"main":[[{"node":"Snowflake Current OO Events","type":"main","index":0}]]},"GSheet Create PPN tab":{"main":[[{"node":"Snowflake Current PPN1 Events","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"GSheet Create PPN tab","type":"main","index":0}]]},"Snowflake Current PPN1 Events":{"main":[[{"node":"GSheet Current PPN1 Events","type":"main","index":0}]]},"GSheet Current PPN1 Events":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over OID Rows","type":"main","index":0}]]},"Loop Over OID Rows":{"main":[[],[{"node":"GSheet Create OO tab","type":"main","index":0}]]},"set OIDs":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Snowflake Get PPN1 Events":{"main":[[{"node":"GSheet Upsert PPN1 Events","type":"main","index":0}]]},"GSheet Upsert PPN1 Events":{"main":[[]]},"GSheet Append OO Events":{"main":[[{"node":"Snowflake Get PPN1 Events","type":"main","index":0},{"node":"If PPN2","type":"main","index":0}]]},"Define headers":{"main":[[{"node":"Update Google Sheet","type":"main","index":0}]]},"add Columns":{"main":[[{"node":"GSheet Append OO Events","type":"main","index":0}]]},"Snowflake Get PPN2 Events":{"main":[[{"node":"GSheet Upsert PPN2 Events","type":"main","index":0}]]},"GSheet Upsert PPN2 Events":{"main":[[{"node":"Loop Over OID Rows","type":"main","index":0}]]},"If PPN2":{"main":[[{"node":"Wait2s","type":"main","index":0}],[{"node":"Loop Over OID Rows","type":"main","index":0}]]},"Wait2s":{"main":[[{"node":"Snowflake Get PPN2 Events","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"38cb973a-ca04-4423-b86f-129898ec97f9","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-17T20:54:27.186Z","createdAt":"2025-10-17T20:54:27.186Z","role":"workflow:owner","workflowId":"w6Cn88bOUnWKuZlY","projectId":"NOrA7nVi3G84Nq0v"}],"activeVersion":null,"tags":[{"updatedAt":"2025-09-16T22:03:04.244Z","createdAt":"2025-09-16T22:03:04.244Z","id":"1JleW3VaKeNkbHMv","name":"catalog"},{"updatedAt":"2025-05-19T05:10:36.690Z","createdAt":"2025-05-19T05:10:36.690Z","id":"XbZNUbSszDlg0tE4","name":"Google Service Creds"},{"updatedAt":"2025-03-28T05:18:56.320Z","createdAt":"2025-03-28T05:18:56.320Z","id":"jEMJy2OFy0YxTQSO","name":"GSheet"},{"updatedAt":"2025-06-06T18:17:45.414Z","createdAt":"2025-05-20T18:50:07.486Z","id":"o9kQdq2i4tcW3ACG","name":"disco PM"},{"updatedAt":"2025-04-30T04:41:58.583Z","createdAt":"2025-04-30T04:41:58.583Z","id":"s7RJscwb71jTz2ag","name":"Snowflake"}]}