DISCO OS3 Create Shell (BAI-17).json
{"updatedAt":"2025-11-19T18:35:45.000Z","createdAt":"2025-08-13T17:14:23.365Z","id":"nVWBsYb1CJecEnzi","name":"DISCO OS3 Create Shell (BAI-17)","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"Simple New Offer Example\nA minimal example for creating a basic offer:\n\n{\n  \"details\": {\n    \"advertiser_id\": 123,\n    \"name\": \"Simple App Install\",\n    \"product_id\": \"APP001\",\n    \"status\": \"pending\",\n    \"url\": \"https://example.com/app\",\n    \"categories\": [1, 21],\n    \"session_hours\": 24,\n    \"has_jump_page_enabled\": false,\n    \"is_game\": false,\n    \"is_pausing_postbacks_disabled\": false,\n    \"keep_on_ow_after_conversion\": false,\n    \"offer_events\": [\n      {\n        \"name\": \"install\",\n        \"label\": \"Install App\",\n        \"default\": true,\n        \"payout_type\": \"flat\",\n        \"payout\": 1.50,\n        \"revenue\": 2.00,\n        \"payable\": true,\n        \"multiple_conversions_allowed\": false,\n        \"hourly_cap\": 0,\n        \"daily_cap\": 0,\n        \"monthly_cap\": 0,\n        \"total_cap\": 0,\n        \"daily_aff_cap\": 0,\n        \"monthly_aff_cap\": 0,\n        \"daily_ppn_cap\": 0,\n        \"monthly_ppn_cap\": 0,\n        \"total_ppn_cap\": 0\n      }\n    ]\n  },\n  \"limitations\": {\n    \"private\": 0,\n    \"is_sensitive\": 0,\n    \"is_sms_verification_required\": 0,\n    \"is_phone_reverification_disabled\": 0,\n    \"minimum_contact_time_minutes\": 0,\n    \"uses_hourly_scheduling\": 0,\n    \"device_id_required\": 0,\n    \"ignore_high_complaint_rule\": 0,\n    \"conversion_delay\": 0\n  },\n  \"allowed_affiliates\": {\n    \"approved\": \"[]\",\n    \"blocked\": \"[]\",\n    \"approved_tags\": \"\",\n    \"blocked_tags\": \"\"\n  }\n}","height":1072,"width":368},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-112,-256],"id":"6008ed08-0de6-46ee-8f65-16d0dc519f3b","name":"Sticky Note1"},{"parameters":{"resource":"issueComment","issueKey":"={{ $('Webhook1').item.json.headers.adokey }}","comment":"=Oops, this looks like a Fintech offer, we don't have an automation set up to create ththese shells yet.","options":{}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[-2240,528],"id":"d8d76ee2-30a4-4b42-a7d4-d193d17f84de","name":"Add a comment1","credentials":{"jiraSoftwareCloudApi":{"id":"GDYZH1VJ2qrlv5SU","name":"n8n-fef-exp_Aug31"}}},{"parameters":{"resource":"issueComment","issueKey":"={{ $('Webhook1').item.json.headers.adokey }}","comment":"=Oops, this looks like a General offer, we don't have an automation set up to create ththese shells yet.","options":{}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[-2240,736],"id":"76f66c04-62e2-4054-9d68-c591eabbbfb2","name":"Add a comment2","credentials":{"jiraSoftwareCloudApi":{"id":"GDYZH1VJ2qrlv5SU","name":"n8n-fef-exp_Aug31"}}},{"parameters":{"jsCode":"// Parse JIRA description table format to JSON\nconst input = $input.first();\nconst description = input.json.body.fields.description;\n\nfunction parseJiraTable(text) {\n  const result = {};\n  \n  // Find the table section\n  const tableStart = text.indexOf('||*Fields*||*Values*||');\n  if (tableStart === -1) {\n    return { error: 'Table format not found' };\n  }\n  \n  // Extract the table portion\n  const tableSection = text.substring(tableStart);\n  const lines = tableSection.split('\\n'); // Fixed: use \\n not \\\\n\n  \n  // Process each line that contains field-value pairs\n  for (let line of lines) {\n    line = line.trim();\n    \n    // Skip header and empty lines\n    if (!line || line.includes('||*Fields*||*Values*||') || line.length < 3) {\n      continue;\n    }\n    \n    // Check if line starts and ends with |\n    if (line.startsWith('|') && line.endsWith('|')) {\n      // Remove leading and trailing pipes\n      const content = line.slice(1, -1);\n      const parts = content.split('|');\n      \n      if (parts.length >= 2) {\n        let fieldName = parts[0].trim();\n        let fieldValue = parts.slice(1).join('|').trim();\n        \n        // Clean field name\n        fieldName = cleanFieldName(fieldName);\n        \n        // Process field value\n        fieldValue = processFieldValue(fieldValue);\n        \n        result[fieldName] = fieldValue;\n      }\n    }\n  }\n  \n  return result;\n}\n\nfunction cleanFieldName(fieldName) {\n  // Remove special formatting and normalize\n  return fieldName\n    .replace(/[^a-zA-Z0-9\\s\\(\\)\\&\\#\\%\\?\\/]/g, '') // Remove special chars except common ones\n    .trim()\n    .toLowerCase()\n    .replace(/\\s+/g, '_') // Replace spaces with underscores\n    .replace(/[\\(\\)\\&\\#\\%\\?\\/]/g, '') // Remove remaining special chars\n    .replace(/_+/g, '_') // Replace multiple underscores with single\n    .replace(/^_|_$/g, ''); // Remove leading/trailing underscores\n}\n\nfunction processFieldValue(value) {\n  if (!value || value.trim() === '') {\n    return null;\n  }\n  \n  // Handle JIRA link format [url|url]\n  const linkMatch = value.match(/\\[([^|]+)\\|[^\\]]+\\]/);\n  if (linkMatch) {\n    return linkMatch[1]; // Extract the actual URL\n  }\n  \n  // Clean up JIRA formatting\n  value = value\n    .replace(/^h1\\.\\s*/, '') // Remove h1. prefix\n    .trim();\n  \n  return value;\n}\n\n// Parse the input\nconst parsedData = parseJiraTable(description);\n\n// Return the result\nreturn {\n  json: {\n    parsed_fields: parsedData,\n    field_count: Object.keys(parsedData).length\n  }\n};"},"id":"7c239a6f-bea1-43e8-9f10-7e1d4caef095","name":"parseJiraDescription1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4112,528]},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-3008,736],"id":"eb5d8b91-a155-4b00-af66-76529de4e951","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"offer_type\": \"game\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2864,736],"id":"25c06fb8-14b8-4537-889e-16590881b677","name":"Structured Output Parser3"},{"parameters":{"promptType":"define","text":"=Your job is to identify the type of offer based on the available data.\n\nOffer types and their attributes:\n\n1. Game\n- Have install, level, and usually purchase events\n- Usually have event names like 'reach level 50'\n\n2. Fintech\n- These are usually online banks, and savings type offers\n- Usually have a sign up and deposit events\n\n3. General offer\n- These could be general lead generation offers with a single sign up, purchase, or subscription event\n\nHere is the offer data you have to analyze and tag as one of the offer types above:\n\n Offer details:\n\n{{ $('parseJiraDescription1').item.json.parsed_fields }}\n\nOffer goals:\n\n{{ $('Webhook1').item.json.body.fields.customfield_10477 }}","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-3008,528],"id":"e161f37a-dcd8-4663-a914-ceba0afdcdfd","name":"Offer Type Agent1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output.offer_type }}","rightValue":"Game","operator":{"type":"string","operation":"equals"},"id":"fbd84e12-5a06-437b-b7a9-1edad1b5cb71"}],"combinator":"and"},"renameOutput":true,"outputKey":"Game"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"71bce53f-2f1f-4fe6-aaa6-b7f1f3b37c8d","leftValue":"={{ $json.output.offer_type }}","rightValue":"Fintech","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Fintech"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c105a375-6ee9-4195-b730-02531487e6c8","leftValue":"={{ $json.output.offer_type }}","rightValue":"General offer","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"General Offer"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2656,512],"id":"2f249551-8b7a-415a-a2bd-b0f1db68f660","name":"Switch"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1968,-256],"id":"24f06229-3e31-4ef3-83a1-ec51ca392143","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"offerName\": \"\",\n    \"offerVersion\": \"\",\n    \"offerUrl\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1824,-256],"id":"0ec1ca82-a2e0-4335-b8c0-4db0ce186ac3","name":"Structured Output Parser4"},{"parameters":{"assignments":{"assignments":[{"id":"9c2b2f82-45f3-4949-85d1-ffe33f8b8100","name":"productName","value":"={{ $('Webhook1').item.json.body.fields.customfield_10447 }}","type":"string"},{"id":"6da4cd5d-4d11-4825-808c-4bdf7b3088a8","name":"advertiserName","value":"={{ $('Webhook1').item.json.body.fields.customfield_10048 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3856,528],"id":"86e63da8-d994-4e24-8fa6-7e676726e003","name":"setData1"},{"parameters":{"promptType":"define","text":"=Your job is to review the offer details and create the name for the offer and specify the proper url for it based on the device type of iOS or Android in the Offer Version.\n\nThe naming convetion used for offers follows this format: \n\nDescriptive data: 'Product Name Device (Targeting) Supply Sources'\n\nActual data examples: \n- 'Jewel Hunter Android (US) O&O only'\n- 'Plink by Pokerist iOS (T1) O&O & PPN'\n\nSupply should be O&O or PPN and must be extracted from the Supply data shared below.\n\nHere is your offer data to create the offer name from:\nOffer Version: {{ $json.tableName }}\nProduct Name: {{ $('setData1').item.json.productName }}\nTargeting: {{ $('parseJiraDescription1').item.json.parsed_fields.targeting_demographicsgeo }}\nSupply: {{ $('parseJiraDescription1').item.json.parsed_fields.caps_system_wide_oo }}\niOS URL: {{ $('parseJiraDescription1').item.json.parsed_fields.ios_tracking_url_link_id }}\nAndroid URL: {{ $('parseJiraDescription1').item.json.parsed_fields.android_tracking_url_link_id }}","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-1968,-448],"id":"d42f61b2-8072-40c3-b001-fefb840ba75c","name":"Game Naming Agent1"},{"parameters":{"httpMethod":"POST","path":"cf217b89-a3ea-47ec-bbe5-94fe05e3a9c3","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-4384,528],"id":"5cc1dca9-75e0-41fd-a396-d0ee2946a983","name":"Webhook1","webhookId":"cf217b89-a3ea-47ec-bbe5-94fe05e3a9c3"},{"parameters":{"jsCode":"try {\n  // Get the input data\n  const inputData = $('Webhook1').first().json.body.fields.customfield_10477;\n  \n  // Simple test first - just return the raw input\n  if (!inputData || typeof inputData !== 'string') {\n    return [{ json: { error: \"Invalid input data\", inputData: inputData } }];\n  }\n  \n  // Function to parse a single table\n  function parseTable(tableText) {\n    try {\n      const lines = tableText.trim().split('\\n').filter(line => line.trim());\n      \n      if (lines.length < 3) return null;\n      \n      // Extract table title from first line\n      const titleLine = lines[0];\n      const titleMatch = titleLine.match(/\\|([^|]+)\\|/);\n      const tableName = titleMatch ? titleMatch[1].trim() : 'Unknown Table';\n      \n      // Extract column headers from second line\n      const headerLine = lines[1];\n      const headers = headerLine\n        .split('|')\n        .map(h => h.replace(/\\+/g, '').trim())\n        .filter(h => h.length > 0);\n      \n      // Parse data rows (skip first two lines)\n      const dataRows = [];\n      for (let i = 2; i < lines.length; i++) {\n        const line = lines[i];\n        if (!line || !line.includes('|')) continue;\n        \n        const cells = line\n          .split('|')\n          .map(cell => cell.trim())\n          .filter((cell, index, arr) => {\n            return !(index === 0 && cell === '') && !(index === arr.length - 1 && cell === '');\n          });\n        \n        if (cells.length > 0) {\n          const rowData = {};\n          headers.forEach((header, index) => {\n            if (index < cells.length) {\n              let value = cells[index];\n              \n              // Convert numeric values\n              if (value && !isNaN(value) && value !== '') {\n                value = parseFloat(value);\n              }\n              \n              // Handle currency values\n              if (typeof value === 'string' && value.startsWith('$')) {\n                const numValue = parseFloat(value.substring(1));\n                if (!isNaN(numValue)) {\n                  value = numValue;\n                }\n              }\n              \n              rowData[header] = value || null;\n            } else {\n              rowData[header] = null;\n            }\n          });\n          dataRows.push(rowData);\n        }\n      }\n      \n      // Filter data to only include specified fields\n      const allowedFields = ['Goal For Members', 'Event Type', 'Revenue', 'Rewards'];\n      const filteredData = dataRows.map(row => {\n        const filteredRow = {};\n        allowedFields.forEach(field => {\n          if (row.hasOwnProperty(field)) {\n            filteredRow[field] = row[field];\n          }\n        });\n        return filteredRow;\n      });\n      \n      return {\n        tableName: tableName,\n        data: filteredData\n      };\n    } catch (parseError) {\n      return {\n        error: \"Error parsing table\",\n        errorMessage: parseError.message,\n        tableText: tableText.substring(0, 200) // First 200 chars for debugging\n      };\n    }\n  }\n  \n  // Split input into individual tables\n  const sections = inputData.split(/\\n\\s*\\n/);\n  const tables = [];\n  \n  for (const section of sections) {\n    if (section.trim() && section.includes('|')) {\n      const parsedTable = parseTable(section);\n      if (parsedTable) {\n        tables.push(parsedTable);\n      }\n    }\n  }\n  \n  // Ensure we always return an array\n  if (tables.length === 0) {\n    return [{ json: { message: \"No tables found\", sections: sections.length } }];\n  }\n  \n  // Return each table as a separate item\n  return tables.map(table => ({ json: table }));\n  \n} catch (error) {\n  // Catch any unexpected errors\n  return [{ \n    json: { \n      error: \"Unexpected error\", \n      message: error.message,\n      stack: error.stack\n    } \n  }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2464,-272],"id":"85b4d7b2-6dc5-4526-9050-ef06d71945f2","name":"Code3"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"output.offerVersion","field2":"output.tableName"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1536,-256],"id":"a35e6094-e098-4923-8494-c0fff4aec2af","name":"Merge2"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1968,96],"id":"2b4dbd1a-bca5-4c65-80aa-b6ffde99e4bf","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"jsonSchemaExample":"{\n  \"tableName\": \"Cool Matching Game\",\n  \"events\": [\n    {\n      \"name\": \"install\",\n      \"label\": \"Install\",\n      \"payout_type\": \"flat\",\n      \"payout\": 0,\n      \"revenue\": 2.00,\n      \"payable\": false,\n      \"multiple_conversions_allowed\": false,\n      \"hourly_cap\": 0,\n      \"daily_cap\": 100,\n      \"monthly_cap\": 0,\n      \"total_cap\": 0,\n      \"daily_aff_cap\": 0,\n      \"monthly_aff_cap\": 0,\n      \"daily_ppn_cap\": 0,\n      \"monthly_ppn_cap\": 0,\n      \"total_ppn_cap\": 0\n    },\n    {\n      \"name\": \"event\",\n      \"label\": \"Level 10\",\n      \"payout_type\": \"flat\",\n      \"payout\": 1.50,\n      \"revenue\": 0,\n      \"payable\": true,\n      \"multiple_conversions_allowed\": false,\n      \"hourly_cap\": 0,\n      \"daily_cap\": 0,\n      \"monthly_cap\": 0,\n      \"total_cap\": 0,\n      \"daily_aff_cap\": 0,\n      \"monthly_aff_cap\": 0,\n      \"daily_ppn_cap\": 0,\n      \"monthly_ppn_cap\": 0,\n      \"total_ppn_cap\": 0\n    },\n    {\n      \"name\": \"purchase\",\n      \"label\": \"Purchase Power Pack\",\n      \"payout_type\": \"flat\",\n      \"payout\": 2,\n      \"revenue\": 1,\n      \"payable\": true,\n      \"multiple_conversions_allowed\": false,\n      \"hourly_cap\": 0,\n      \"daily_cap\": 0,\n      \"monthly_cap\": 0,\n      \"total_cap\": 0,\n      \"daily_aff_cap\": 0,\n      \"monthly_aff_cap\": 0,\n      \"daily_ppn_cap\": 0,\n      \"monthly_ppn_cap\": 0,\n      \"total_ppn_cap\": 0\n    }\n  ]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1824,96],"id":"6a12eae7-5aa5-4f5e-9ef0-e772af10b367","name":"Structured Output Parser5"},{"parameters":{"promptType":"define","text":"=You are an \"n8n Data Validation Agent.\"\n\nEvery time data comes in for the relevant fields in the Impact software, it is essential to ensure that the input data matches the expected data type. Upon detection of any anomalies or inconsistencies, your task is to make the necessary corrections in the data to maintain the system's efficient operation.\n\nNote the required data formats for each field:\n\n\"name\": It should be on of the following strings \"install\", \"event\", or \"purchase\"\n\n\"label\": Needs to be a string, e.g., \"Install App.\"\n\n\"payout_type\": It should be a string like \"flat.\"\n\n\"payout\": It should be numeric (like 1.50).\n\n\"revenue\": Numeric data type is expected (like 2.00).\n\n\"payable\": A boolean is required. If payout > 0 then set this to true, otherwise false.\n\n\"multiple_conversions_allowed\": A boolean value is needed (default to false)\n\n\"hourly_cap\", \"daily_cap\", \"monthly_cap\", \"total_cap\", \"daily_aff_cap\", \"monthly_aff_cap\", \"daily_ppn_cap\", \"monthly_ppn_cap\", and \"total_ppn_cap\": All these fields should have numeric values. By default, these can be set as zeros.\n\nYour data to for tableName: {{ $json.tableName }}:\n\n{{ $json.data.toJsonString() }}","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-1968,-80],"id":"fa6980ae-e06a-4d88-a32b-d7c07b9379e2","name":"Goal Formatting Agent1"},{"parameters":{"assignments":{"assignments":[{"id":"90e5dca1-15e6-40d7-ad33-01a1723fec35","name":"advertiser_id","value":"={{ $('getAdvertiserId').item.json.ID }}","type":"number"},{"id":"a73acdc1-0444-4fd3-805a-39cea8fd130b","name":"name","value":"={{ $json.output.offerName }}","type":"string"},{"id":"b8fa840e-0535-409f-99d8-1c7c113b778d","name":"product_id","value":"={{ $('Webhook1').item.json.body.fields.customfield_10447 }}","type":"string"},{"id":"7e75579d-efe7-4e86-a3b6-a46e40958fed","name":"status","value":"pending","type":"string"},{"id":"b84c40b6-c846-411b-85ce-1aa18d23ff47","name":"url","value":"={{ $json.output.offerUrl }}","type":"string"},{"id":"13d2bbd9-ea50-4502-afc6-02443040f856","name":"categories","value":"","type":"string"},{"id":"86847a3e-1792-4c2f-8c39-29c77620481f","name":"session_hours","value":0,"type":"number"},{"id":"668c129a-09b4-474c-83db-9ce884cdca60","name":"has_jump_page_enabled","value":false,"type":"boolean"},{"id":"84c6098a-41c2-4f87-9fc4-e4ba2db30c6b","name":"is_game","value":true,"type":"boolean"},{"id":"95564ca4-64f5-4b2c-82f6-0ae3618d530e","name":"is_pausing_postbacks_disabled","value":false,"type":"boolean"},{"id":"5fcfc8ba-6153-449e-9765-9c18962a2d72","name":"keep_on_ow_after_conversion","value":false,"type":"boolean"},{"id":"f34c0de8-988d-48ab-a128-f3ee41170c58","name":"offer_events","value":"={{ $json.output.events }}","type":"array"},{"id":"6ffa074b-daf3-489b-9db9-43b0c734d309","name":"limitations.private","value":0,"type":"number"},{"id":"f4012a70-3758-4e84-9d85-be7b46177c15","name":"limitations.is_sensitive","value":1,"type":"number"},{"id":"6fd948c0-7097-4645-b988-1671fdd8f585","name":"limitations.is_sms_verification_required","value":0,"type":"number"},{"id":"77eb3316-921c-48bc-b42f-83a6292fc19c","name":"limitations.is_phone_reverification_disabled","value":0,"type":"number"},{"id":"220f2fa3-9850-453f-85b5-522c72fb90f4","name":"limitations.minimum_contact_time_minutes","value":60,"type":"number"},{"id":"1eadc81c-7b3c-40c6-af56-7aa527ecfc43","name":"limitations.uses_hourly_scheduling","value":0,"type":"number"},{"id":"87bcdc83-7a63-4796-a184-d97d1ffb8262","name":"limitations.device_id_required","value":0,"type":"number"},{"id":"a4e15386-c320-4af2-b72d-154c2998f390","name":"limitations.ignore_high_complaint_rule","value":0,"type":"number"},{"id":"848bf655-5b62-40a3-a12d-8a5f3fca7542","name":"limitations.conversion_delay","value":14400,"type":"number"},{"id":"c303dc52-5480-40d3-a190-783c11e777ee","name":"allowed_affiliates.approved","value":null,"type":"number"},{"id":"c06af9d3-2bda-4e56-9b15-c10527d2104d","name":"allowed_affiliates.blocked","value":null,"type":"number"},{"id":"09281177-8df2-4e81-9be4-cb061f9db8db","name":"allowed_affiliates.approved_tags","value":0,"type":"number"},{"id":"1304bc86-fd2c-480d-ad0a-0d5303bc40af","name":"allowed_affiliates.blocked_tags","value":0,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1312,-256],"id":"a7c88a7f-72a0-4830-a36b-1750fe1f72d3","name":"setShell1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1088,-256],"id":"8a39d10f-35fe-43c6-aa9d-7092459e0934","name":"HTTP Request1","disabled":true},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,-256],"id":"bfee2d50-7939-45da-8a9f-3cc4639e8d5c","name":"Code4"},{"parameters":{"resource":"issueComment","issueKey":"={{ $('Webhook1').item.json.query.ADOkey }}","comment":"=Shell(s) created:","options":{}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[-672,-256],"id":"6428e6d5-a7c9-4c35-9e74-52647a2d36e3","name":"Add a comment3","credentials":{"jiraSoftwareCloudApi":{"id":"GDYZH1VJ2qrlv5SU","name":"n8n-fef-exp_Aug31"}}},{"parameters":{"operation":"update","issueKey":"={{ $('Webhook1').item.json.headers.adokey }}","updateFields":{"customFieldsUi":{"customFieldsValues":[{"fieldId":{"__rl":true,"value":"customfield_11151","mode":"list","cachedResultName":"Offer IDs"},"fieldValue":"=Insert offer ids"}]}}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[-464,-256],"id":"acc64bed-14ae-48e3-8021-3c7e82a265bc","name":"Update an issue1","credentials":{"jiraSoftwareCloudApi":{"id":"GDYZH1VJ2qrlv5SU","name":"n8n-fef-exp_Aug31"}}},{"parameters":{"resource":"issueComment","issueKey":"={{ $('Webhook1').item.json.headers.adokey }}","comment":"=⚠️ No Advertiser found in OS3 with the name: {{ $('Webhook1').item.json.body.fields.customfield_10048 }}\n\nPlease fix spelling to match OS3 Advvertiser or create new advertiser and update Jira ticket with name then re-run 'create shell(s)'","options":{}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[-3280,720],"id":"17d33801-2f90-4e34-bba6-e2cbd8f3e4ac","name":"Add a comment","credentials":{"jiraSoftwareCloudApi":{"id":"GDYZH1VJ2qrlv5SU","name":"n8n-fef-exp_Aug31"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dbbf6ffc-7a35-435f-8424-027c4db0fe3e","leftValue":"={{ $json.ID }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}},{"id":"cfe4131e-0f8b-4435-aee5-fb95cdff6084","leftValue":"={{ $json.COMPANY }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3440,528],"id":"ba2c4c7d-9ee4-4ed0-bf54-7ea3b120d7e6","name":"If"},{"parameters":{"operation":"executeQuery","query":"SELECT ID, COMPANY\nFROM OPS_AUTOMATION_DB.ADGATE.ADVERTISERS\nWHERE COMPANY ILIKE '%Clever Apps%';"},"type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[-3648,528],"id":"7c28c0a5-7257-4a47-8b7f-b48b882cb1ae","name":"getAdvertiserId","credentials":{"snowflake":{"id":"RC04CfI3v4QBk3xy","name":"Snowflake ops_disco_automation_db dev_wh"}}},{"parameters":{"content":"## http request needs these fields added still:\n\nCreatives: icon is required.\nCreatives: 1:1 Asset is required.\nCreatives: 2:1 Asset is required.\nCreatives: 3:1 Asset is required.\nThe vc description field is required.\nThe vc anchor field is required.\nThe vc sticky field is required.\nThe vc things to know field is required.\nThe vc days to complete field is required.\nThe offer events.0.order field is required.","height":352,"width":432,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-3488,-464],"typeVersion":1,"id":"1505cf74-b3db-42f7-98b8-39a24d7c953a","name":"Sticky Note"}],"connections":{"parseJiraDescription1":{"main":[[{"node":"setData1","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Offer Type Agent1","type":"ai_languageModel","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"Offer Type Agent1","type":"ai_outputParser","index":0}]]},"Offer Type Agent1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Code3","type":"main","index":0}],[{"node":"Add a comment1","type":"main","index":0}],[{"node":"Add a comment2","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Game Naming Agent1","type":"ai_languageModel","index":0}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"Game Naming Agent1","type":"ai_outputParser","index":0}]]},"setData1":{"main":[[{"node":"getAdvertiserId","type":"main","index":0}]]},"Game Naming Agent1":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"parseJiraDescription1","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Game Naming Agent1","type":"main","index":0},{"node":"Goal Formatting Agent1","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"setShell1","type":"main","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Goal Formatting Agent1","type":"ai_languageModel","index":0}]]},"Structured Output Parser5":{"ai_outputParser":[[{"node":"Goal Formatting Agent1","type":"ai_outputParser","index":0}]]},"Goal Formatting Agent1":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"setShell1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Add a comment3","type":"main","index":0}]]},"Add a comment3":{"main":[[{"node":"Update an issue1","type":"main","index":0}]]},"If":{"main":[[{"node":"Offer Type Agent1","type":"main","index":0}],[{"node":"Add a comment","type":"main","index":0}]]},"getAdvertiserId":{"main":[[{"node":"If","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook1":[{"json":{"headers":{"host":"prodegellc.app.n8n.cloud","user-agent":"Automation for Jira AC app/1.0;9e5e23d5-c420-4561-accf-fecc49507ef4","content-length":"15627","accept":"application/json; charset=UTF-8, */*;q=0.8","accept-encoding":"gzip, br","adokey":"ADO-13370","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"104.192.142.248","cf-ew-via":"15","cf-ipcountry":"US","cf-ray":"96ea0850a20935ca-LHR","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"application/json","x-b3-sampled":"0","x-b3-spanid":"82265e429c816000","x-b3-traceid":"c58a9693de78c0b57d8af08547c51f2a","x-forwarded-for":"104.192.142.248, 172.69.224.123","x-forwarded-host":"prodegellc.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-30-6d57d45df-x2ghq","x-is-trusted":"yes","x-real-ip":"104.192.142.248"},"params":{},"query":{"ADOkey":"ADO-13370"},"body":{"self":"https://prodege.atlassian.net/rest/api/2/issue/236700","id":236700,"key":"ADO-13370","changelog":{"startAt":0,"maxResults":0,"total":0,"histories":null},"fields":{"statuscategorychangedate":"2025-08-11T09:27:32.300-0700","issuetype":{"namedValue":"New Offer Request","self":"https://prodege.atlassian.net/rest/api/2/issuetype/10120","id":10120,"description":"Stories track functionality or features expressed as user goals.","iconUrl":"https://prodege.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10315?size=medium","name":"New Offer Request","untranslatedName":null,"subtask":false,"fields":{},"statuses":[],"hierarchyLevel":0},"timespent":null,"project":{"self":"https://prodege.atlassian.net/rest/api/2/project/10096","id":10096,"key":"ADO","name":"AdOps Disco PM","description":null,"avatarUrls":{"48x48":"https://prodege.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10569","24x24":"https://prodege.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10569?size=small","16x16":"https://prodege.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10569?size=xsmall","32x32":"https://prodege.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10569?size=medium"},"issuetypes":null,"projectCategory":null,"email":null,"lead":null,"components":null,"versions":null,"projectTypeKey":"business","simplified":true},"fixVersions":[],"aggregatetimespent":null,"statusCategory":{"self":"https://prodege.atlassian.net/rest/api/2/statuscategory/3","id":3,"key":"done","colorName":"green","name":"Done"},"resolution":{"self":"https://prodege.atlassian.net/rest/api/2/resolution/10000","id":10000,"name":"Done","description":"Work has been completed on this issue.","namedValue":"Done"},"customfield_10476":null,"customfield_10477":"|Monopoly Go! - iOS| | | | | | | | | | |\n|+Goal For Members+|+Event Type+|+Conversion Rate+|+Purchase Amount+|+Revenue+|+Rewards+|+Estimated Conversion Time+|+Android Tokens+|+Ios Tokens+|+Minimum Time To Complete+|+Maximum Time To Complete+|\n|Install|Install|1.00| |$10| |0 days|12wsfe|12wsfe|0 days|0 days|\n|Complete Level 10|Event|0.80| | | |2 days|234rfd|234rfd|1 Day|10 Days|\n|Purchase $5 Bundle|Purchase|0.10|$5| | |5 days|ewr43|ewr43|5 Days|20 Days|\n\n|Monopoly Go! - Android| | | | | | | | | | |\n|+Goal For Members+|+Event Type+|+Conversion Rate+|+Purchase Amount+|+Revenue+|+Rewards+|+Estimated Conversion Time+|+Android Tokens+|+Ios Tokens+|+Minimum Time To Complete+|+Maximum Time To Complete+|\n|Install|Install|1.00| |$10| |0 days|12wsfe|12wsfe|0 days|0 days|\n|Complete Level 10|Event|0.80| | | |2 days|234rfd|234rfd|1 Day|10 Days|\n|Purchase $5 Bundle|Purchase|0.10|$5| | |5 days|ewr43|ewr43|5 Days|20 Days|","customfield_11316":null,"customfield_10349":null,"resolutiondate":1754929652250,"workratio":-1,"lastViewed":"2025-08-13T10:42:07.833-0700","watches":{"self":"https://prodege.atlassian.net/rest/api/2/issue/ADO-13370/watchers","watchCount":1,"isWatching":false},"created":1754929634577,"customfield_11151":"Comma-delimited list of Offer Shell IDs in OS3","customfield_11153":"41442430372","customfield_10021":null,"priority":{"self":"https://prodege.atlassian.net/rest/api/2/priority/10011","id":10011,"name":"Minor","iconUrl":"https://prodege.atlassian.net/images/icons/priorities/minor.svg","namedValue":"Minor"},"labels":[],"customfield_10019":"1|i02tzj:","timeestimate":null,"aggregatetimeoriginalestimate":null,"versions":[],"issuelinks":[{"id":129669,"type":{"id":10001,"name":"Cloners","inward":"is cloned by","outward":"clones"},"outwardIssue":{"self":"https://prodege.atlassian.net/rest/api/2/issue/235992","id":235992,"key":"ADO-13166","changelog":{"startAt":0,"maxResults":0,"total":0,"histories":null},"fields":{"summary":"Fairy Merge_Clever Apps Pte LTD (D)_8/5/25","status":{"self":"https://prodege.atlassian.net/rest/api/2/status/10183","description":"","iconUrl":"https://prodege.atlassian.net/","name":"Health Check","untranslatedName":null,"id":10183,"statusCategory":{"self":"https://prodege.atlassian.net/rest/api/2/statuscategory/4","id":4,"key":"indeterminate","colorName":"yellow","name":"In Progress"},"untranslatedNameValue":null},"priority":{"self":"https://prodege.atlassian.net/rest/api/2/priority/10011","id":10011,"name":"Minor","iconUrl":"https://prodege.atlassian.net/images/icons/priorities/minor.svg","namedValue":"Minor"},"issuetype":{"namedValue":"New Offer Request","self":"https://prodege.atlassian.net/rest/api/2/issuetype/10120","id":10120,"description":"Stories track functionality or features expressed as user goals.","iconUrl":"https://prodege.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10315?size=medium","name":"New Offer Request","untranslatedName":null,"subtask":false,"fields":{},"statuses":[],"hierarchyLevel":0}},"renderedFields":null},"inwardIssue":null,"issue":{"self":"https://prodege.atlassian.net/rest/api/2/issue/235992","id":235992,"key":"ADO-13166","changelog":{"startAt":0,"maxResults":0,"total":0,"histories":null},"fields":{"summary":"Fairy Merge_Clever Apps Pte LTD (D)_8/5/25","status":{"self":"https://prodege.atlassian.net/rest/api/2/status/10183","description":"","iconUrl":"https://prodege.atlassian.net/","name":"Health Check","untranslatedName":null,"id":10183,"statusCategory":{"self":"https://prodege.atlassian.net/rest/api/2/statuscategory/4","id":4,"key":"indeterminate","colorName":"yellow","name":"In Progress"},"untranslatedNameValue":null},"priority":{"self":"https://prodege.atlassian.net/rest/api/2/priority/10011","id":10011,"name":"Minor","iconUrl":"https://prodege.atlassian.net/images/icons/priorities/minor.svg","namedValue":"Minor"},"issuetype":{"namedValue":"New Offer Request","self":"https://prodege.atlassian.net/rest/api/2/issuetype/10120","id":10120,"description":"Stories track functionality or features expressed as user goals.","iconUrl":"https://prodege.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10315?size=medium","name":"New Offer Request","untranslatedName":null,"subtask":false,"fields":{},"statuses":[],"hierarchyLevel":0}},"renderedFields":null},"inward":false}],"assignee":{"self":"https://prodege.atlassian.net/rest/api/2/user?accountId=622980f249c9000070235f43","name":null,"key":null,"accountId":"622980f249c9000070235f43","emailAddress":"boden.johnson@prodege.com","avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/40522b244a8eb9b1b3f8b7cb1ec47b6e?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FBJ-4.png","24x24":"https://secure.gravatar.com/avatar/40522b244a8eb9b1b3f8b7cb1ec47b6e?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FBJ-4.png","16x16":"https://secure.gravatar.com/avatar/40522b244a8eb9b1b3f8b7cb1ec47b6e?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FBJ-4.png","32x32":"https://secure.gravatar.com/avatar/40522b244a8eb9b1b3f8b7cb1ec47b6e?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FBJ-4.png"},"displayName":"Boden Johnson","active":true,"timeZone":"America/Los_Angeles","groups":null,"locale":null,"accountType":"atlassian"},"updated":1755107028852,"status":{"self":"https://prodege.atlassian.net/rest/api/2/status/10276","description":"","iconUrl":"https://prodege.atlassian.net/","name":"Archived","untranslatedName":null,"id":10276,"statusCategory":{"self":"https://prodege.atlassian.net/rest/api/2/statuscategory/3","id":3,"key":"done","colorName":"green","name":"Done"},"untranslatedNameValue":null},"components":[],"timeoriginalestimate":null,"description":"Deal Link: [https://app.hubspot.com/contacts/20464009/record/0-3/41442430372|https://app.hubspot.com/contacts/20464009/record/0-3/41442430372]\n\n||*Fields*||*Values*||\n|iOS Campaign Name|Fairymerge_US_IOS|\n|Android Campaign Name| |\n|Advertiser|Clever Apps Pte LTD (D)\n\\\\\n\\\\\nadvertiser name in os3:\n[+Clever Apps+|https://adgate.prdg.io/admin/account-management?advertiser_active=active#137712]|\n|Sales Rep|Ben Edwards-Daem|\n|Account Manager|Hannah Siggers|\n|Advertiser Email for OS3 Reporting|ivanmokshin13cleverapps@gmail.com|\n|Intregration Type / Platform (same as PMMR)|Adjust : Prodege|\n|Billing Platform|HO|\n|Android URL| |\n|IOS URL|[https://apps.apple.com/gb/app/fairyland-merge-magic/id1637090783|https://apps.apple.com/gb/app/fairyland-merge-magic/id1637090783]|\n|Budget_NOR|uncapped|\n|Rate(&Type)|$8 CPI|\n|Clients KPIs|25% D7|\n|ROAS Goals (format as Day & ROAS %)|D1 7% - D3 15% - D7 25% - D14 35% - D30 45%|\n|GS Revenue from IAP %|0.7%|\n|Payback Window?|100% D120|\n|Launch Dates|ASAP|\n|CAPS: System Wide (O&O)|PPN cap - 10 installs per day (Private cap for Prime)|\n|Conversion Point / When Pixel Fires|Please see integration sheet|\n|Cost to Member / Minimum Spend|$0|\n|Targeting: Demographics/Geo|US|\n|Disqualifications/Rejections| |\n|Android/ iOS/ Desktop|iOS (Apple)|\n|Need Cost Reporting? (TUNE, AppsFlyer, Adjust)|Adjust|\n|Client Estimate of Time it Takes to Complete (# Days)|Please see integration sheet|\n|Contract: Cookie/ Attribution Window/ CTIT (# Days)|30 days|\n|Member Displayed: Time Allowed to Complete (# Days)|30 days|\n|If a game, what category?|Puzzle|\n|Did you add it to the PMMR?|Yes|\n|iOS Tracking URL / Link ID|[https://app.adjust.com/1r60a36v?|https://app.adjust.com/1r60a36v?campaign=%7Boffer_name%7D%20(%7Boffer_id%7D)&creative=%7Baff_sub2%7D&click_id=%7Btransaction_id%7D&campaign_id=%7Boffer_id%7D&external_tracker_ids=1]|\n|Android Tracking URL / Link ID| |\n|Suppress Shop/Merchant Page?|Yes|\n|Keywords| |\n|Pass sale amount/Ad Revenue in MMP|Yes|\n|Award| |\n|Pend or Instant Award (if different than standard)| |\n|Other Notes/Context/Required Copy?|Integration sheet - [https://docs.google.com/spreadsheets/d/1b49Sa8h2I7YHEh64_E_5rqVlv7-8YitG75eE3iCE9Y8/edit?usp=sharing|https://docs.google.com/spreadsheets/d/1b49Sa8h2I7YHEh64_E_5rqVlv7-8YitG75eE3iCE9Y8/edit?usp=sharing]|","timetracking":{"originalEstimate":null,"remainingEstimate":null,"timeSpent":null,"originalEstimateSeconds":0,"remainingEstimateSeconds":0,"timeSpentSeconds":0},"customfield_10015":null,"customfield_10447":" Fairy Merge","security":null,"attachment":[],"aggregatetimeestimate":null,"customfield_10009":null,"summary":"TEST (BODEN) - Fairy Merge_Clever Apps Pte LTD (D)_8/5/25","creator":{"self":"https://prodege.atlassian.net/rest/api/2/user?accountId=622980f249c9000070235f43","name":null,"key":null,"accountId":"622980f249c9000070235f43","emailAddress":"boden.johnson@prodege.com","avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/40522b244a8eb9b1b3f8b7cb1ec47b6e?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FBJ-4.png","24x24":"https://secure.gravatar.com/avatar/40522b244a8eb9b1b3f8b7cb1ec47b6e?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FBJ-4.png","16x16":"https://secure.gravatar.com/avatar/40522b244a8eb9b1b3f8b7cb1ec47b6e?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FBJ-4.png","32x32":"https://secure.gravatar.com/avatar/40522b244a8eb9b1b3f8b7cb1ec47b6e?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FBJ-4.png"},"displayName":"Boden Johnson","active":true,"timeZone":"America/Los_Angeles","groups":null,"locale":null,"accountType":"atlassian"},"subtasks":[],"customfield_10480":null,"customfield_10120":null,"reporter":{"self":"https://prodege.atlassian.net/rest/api/2/user?accountId=622980f249c9000070235f43","name":null,"key":null,"accountId":"622980f249c9000070235f43","emailAddress":"boden.johnson@prodege.com","avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/40522b244a8eb9b1b3f8b7cb1ec47b6e?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FBJ-4.png","24x24":"https://secure.gravatar.com/avatar/40522b244a8eb9b1b3f8b7cb1ec47b6e?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FBJ-4.png","16x16":"https://secure.gravatar.com/avatar/40522b244a8eb9b1b3f8b7cb1ec47b6e?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FBJ-4.png","32x32":"https://secure.gravatar.com/avatar/40522b244a8eb9b1b3f8b7cb1ec47b6e?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FBJ-4.png"},"displayName":"Boden Johnson","active":true,"timeZone":"America/Los_Angeles","groups":null,"locale":null,"accountType":"atlassian"},"aggregateprogress":{"progress":0,"total":0},"customfield_10001":null,"customfield_10048":"Clever Apps Pte LTD (D)","environment":null,"customfield_10557":null,"duedate":null,"progress":{"progress":0,"total":0},"votes":{"self":"https://prodege.atlassian.net/rest/api/2/issue/ADO-13370/votes","votes":0,"hasVoted":false},"comment":{"maxResults":1,"total":1,"startAt":0,"comments":[{"self":"https://prodege.atlassian.net/rest/api/2/issue/236700/comment/718256","id":718256,"author":{"self":"https://prodege.atlassian.net/rest/api/2/user?accountId=557058%3Af58131cb-b67d-43c7-b30d-6b58d40bd077","name":null,"key":null,"accountId":"557058:f58131cb-b67d-43c7-b30d-6b58d40bd077","emailAddress":"com.codebarrel.addons.automation@connect.atlassian.com","avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAJ-0.png","24x24":"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAJ-0.png","16x16":"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAJ-0.png","32x32":"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAJ-0.png"},"displayName":"Automation for Jira","active":true,"timeZone":"America/Los_Angeles","groups":null,"locale":null,"accountType":"app"},"body":"(-) REMOVED: Needs Additional? = *Needs RevOps*\n\nby: Boden Johnson","renderedBody":null,"updateAuthor":{"self":"https://prodege.atlassian.net/rest/api/2/user?accountId=557058%3Af58131cb-b67d-43c7-b30d-6b58d40bd077","name":null,"key":null,"accountId":"557058:f58131cb-b67d-43c7-b30d-6b58d40bd077","emailAddress":"com.codebarrel.addons.automation@connect.atlassian.com","avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAJ-0.png","24x24":"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAJ-0.png","16x16":"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAJ-0.png","32x32":"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAJ-0.png"},"displayName":"Automation for Jira","active":true,"timeZone":"America/Los_Angeles","groups":null,"locale":null,"accountType":"app"},"created":1754929664285,"updated":1754929664285,"visibility":null}],"last":false},"worklog":{"maxResults":20,"total":0,"startAt":0,"worklogs":[],"last":false}},"renderedFields":null},"webhookUrl":"https://prodegellc.app.n8n.cloud/webhook-test/cf217b89-a3ea-47ec-bbe5-94fe05e3a9c3","executionMode":"test"}}]},"versionId":"0d2b40b9-4bba-411c-b862-f4e05d11fae9","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-19T18:32:56.187Z","createdAt":"2025-11-19T18:32:56.187Z","role":"workflow:editor","workflowId":"nVWBsYb1CJecEnzi","projectId":"Lgsn4NWhkbeG1opy"},{"updatedAt":"2025-08-19T19:00:47.642Z","createdAt":"2025-08-19T19:00:47.642Z","role":"workflow:editor","workflowId":"nVWBsYb1CJecEnzi","projectId":"b3bmgB8rCty49ITL"},{"updatedAt":"2025-08-13T17:14:23.368Z","createdAt":"2025-08-13T17:14:23.368Z","role":"workflow:owner","workflowId":"nVWBsYb1CJecEnzi","projectId":"mgIEHBWki7fUa4tV"}],"activeVersion":null,"tags":[{"updatedAt":"2025-06-06T18:17:45.414Z","createdAt":"2025-05-20T18:50:07.486Z","id":"o9kQdq2i4tcW3ACG","name":"disco PM"},{"updatedAt":"2025-06-06T18:17:53.513Z","createdAt":"2025-04-09T22:53:12.719Z","id":"ua93nX6ZUDbcpnxI","name":"jira"}]}