Error Handler.json
{"updatedAt":"2025-12-19T06:05:35.917Z","createdAt":"2025-12-11T09:11:11.373Z","id":"jLFSwa3HZpulBKUR","name":"Error Handler","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"743816fa-6071-4b64-8e5b-83e418bc1a20","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","position":[800,-48],"typeVersion":1},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"id":"41e5385d-3f98-4e8e-821d-71a9cbd97b1e","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1744,176],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"jsonSchemaExample":"{\n\"diagnosis\":\"\",\n\"cause\":\"\",\n\"resolution\":\"\"\n}"},"id":"eb6a8510-3f4f-48bd-ac57-b2b41d01a667","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[1856,176],"typeVersion":1.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"strict"},"conditions":[{"id":"9b2f3ff3-db9c-406b-a97f-37620dc5fab9","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.mode }}","rightValue":"manual"}],"combinator":"and"},"options":{"ignoreCase":true}},"id":"29e43cf9-6a39-4282-9cad-5f17bd0d6131","name":"Remove Manual Exec","type":"n8n-nodes-base.if","position":[1264,-48],"typeVersion":2.2},{"parameters":{"resource":"execution","operation":"get","executionId":"={{ $('Error Trigger').item.json.execution.id }}","options":{"activeWorkflows":true},"requestOptions":{}},"id":"0002a1cc-d52c-40bb-a869-1251dca354ac","name":"Get Failed Exec","type":"n8n-nodes-base.n8n","position":[1056,-48],"typeVersion":1,"credentials":{"n8nApi":{"id":"mnkRMRiE1wVDBsCt","name":"n8n account"}}},{"parameters":{"jsCode":"// 1) Grab the full execution JSON\nconst exec = items[0].json;\nconst workflowData = exec.workflowData || {};\nconst resultData = exec.data?.resultData || {};\nconst runData = resultData.runData || {};\n\n// 2) Find the error node and previous successful node\nconst lastNodeExecuted = resultData.lastNodeExecuted;\nconst errorObj = resultData.error || {};\n\n// 3) Find trigger node (Webhook, Manual Trigger, etc.)\nconst triggerTypes = ['webhook', 'manualTrigger', 'scheduleTrigger', 'cron'];\nlet triggerNodeName = null;\nlet triggerData = {};\n\nfor (const [nodeName, runs] of Object.entries(runData)) {\n  const nodeType = runs[0]?.data?.main?.[0]?.[0]?.json ? \n    workflowData.nodes?.find(n => n.name === nodeName)?.type || '' : '';\n  \n  if (triggerTypes.some(t => nodeType.toLowerCase().includes(t)) || \n      nodeName.toLowerCase().includes('webhook') ||\n      nodeName.toLowerCase().includes('trigger')) {\n    triggerNodeName = nodeName;\n    const rawData = runs[0]?.data?.main?.[0]?.[0]?.json || {};\n    \n    // Clean trigger data - remove bloated headers/cookies\n    triggerData = cleanPayload(rawData);\n    break;\n  }\n}\n\n// 4) Get the input data that caused the error (from previous node)\nlet errorInputData = {};\nlet previousNodeName = null;\n\nif (lastNodeExecuted && runData[lastNodeExecuted]) {\n  const errorRun = runData[lastNodeExecuted][0];\n  const sources = errorRun?.source || [];\n  \n  if (sources.length && sources[0]?.previousNode) {\n    previousNodeName = sources[0].previousNode;\n    const prevRuns = runData[previousNodeName];\n    \n    if (prevRuns && prevRuns[0]?.data?.main?.[0]?.[0]?.json) {\n      errorInputData = cleanPayload(prevRuns[0].data.main[0][0].json);\n    }\n  }\n}\n\n// 5) Build workflow execution links\nconst baseUrl = 'https://prodegellc.app.n8n.cloud';\nconst workflowLink = `${baseUrl}/workflow/${exec.workflowId}`;\nconst executionLink = `${baseUrl}/workflow/${exec.workflowId}/executions/${exec.id}`;\n\n// 6) Get node configuration that failed\nconst failedNodeConfig = workflowData.nodes?.find(n => n.name === lastNodeExecuted) || {};\n\n// 7) Build the comprehensive error report\nconst errorReport = {\n  // === EXECUTION SUMMARY ===\n  summary: {\n    executionId: exec.id,\n    workflowId: exec.workflowId,\n    workflowName: workflowData.name,\n    status: exec.status,\n    mode: exec.mode,\n    startedAt: exec.startedAt,\n    stoppedAt: exec.stoppedAt,\n    durationMs: exec.stoppedAt && exec.startedAt ? \n      new Date(exec.stoppedAt) - new Date(exec.startedAt) : null,\n  },\n  \n  // === ERROR DETAILS ===\n  error: {\n    nodeName: lastNodeExecuted,\n    nodeType: cleanNodeType(errorObj.node?.type || failedNodeConfig.type),\n    nodeId: errorObj.node?.id || failedNodeConfig.id,\n    errorType: errorObj.name,\n    errorMessage: errorObj.message,\n    previousNode: previousNodeName,\n    nodeParameters: cleanParameters(errorObj.node?.parameters || failedNodeConfig.parameters),\n  },\n  \n  // === CONTEXT DATA ===\n  context: {\n    triggerNode: triggerNodeName,\n    triggerData: triggerData,\n    errorInputData: errorInputData,\n  },\n  \n  // === LINKS ===\n  links: {\n    workflow: workflowLink,\n    execution: executionLink,\n  },\n  \n  // === EXECUTION FLOW (what ran before error) ===\n  executionFlow: Object.keys(runData).map(nodeName => {\n    const run = runData[nodeName][0];\n    return {\n      node: nodeName,\n      status: run.executionStatus,\n      executionTimeMs: run.executionTime,\n    };\n  }),\n  \n  // === STACK TRACE (condensed) ===\n  stackTrace: condenseStack(errorObj.stack),\n};\n\n// === HELPER FUNCTIONS ===\n\nfunction cleanPayload(data) {\n  if (!data || typeof data !== 'object') return data;\n  \n  const cleaned = { ...data };\n  \n  // Remove bloated headers but keep useful ones\n  if (cleaned.headers) {\n    const usefulHeaders = ['content-type', 'user-agent', 'cf-ipcountry', 'x-real-ip'];\n    const filteredHeaders = {};\n    for (const [key, value] of Object.entries(cleaned.headers)) {\n      if (usefulHeaders.includes(key.toLowerCase())) {\n        filteredHeaders[key] = value;\n      }\n    }\n    cleaned.headers = Object.keys(filteredHeaders).length ? filteredHeaders : undefined;\n  }\n  \n  // Remove cookies entirely\n  if (cleaned.headers?.cookie) delete cleaned.headers.cookie;\n  \n  // Keep body, query, params\n  if (cleaned.body && Object.keys(cleaned.body).length === 0) delete cleaned.body;\n  if (cleaned.query && Object.keys(cleaned.query).length === 0) delete cleaned.query;\n  if (cleaned.params && Object.keys(cleaned.params).length === 0) delete cleaned.params;\n  \n  return cleaned;\n}\n\nfunction cleanNodeType(type) {\n  if (!type) return null;\n  // Convert \"n8n-nodes-base.stopAndError\" to \"StopAndError\"\n  return type.split('.').pop();\n}\n\nfunction cleanParameters(params) {\n  if (!params) return null;\n  // Remove empty or internal parameters\n  const cleaned = {};\n  for (const [key, value] of Object.entries(params)) {\n    if (value !== '' && value !== null && value !== undefined) {\n      cleaned[key] = value;\n    }\n  }\n  return Object.keys(cleaned).length ? cleaned : null;\n}\n\nfunction condenseStack(stack) {\n  if (!stack) return null;\n  // Get first 3 meaningful lines\n  const lines = stack.split('\\n').slice(0, 4);\n  return lines.join('\\n');\n}\n\nreturn [{ json: errorReport }];"},"id":"68b47049-a93e-41b6-9292-2700a033874f","name":"Extract Error Details","type":"n8n-nodes-base.code","position":[1488,-48],"typeVersion":2},{"parameters":{"promptType":"define","text":"=Can you please help me with this error that occured in my n8n workflow? {{ JSON.stringify($json) }}","hasOutputParser":true,"options":{"systemMessage":"You are an seasoned n8n expert with specializations in managing n8n instances and workflows. The user will provide a detailed error json object and your goal is to review, analyze and understand the error and using your expertise diagnose the error and provide a detailed report to the user with your diagnosis, cause and resolution so the user understands and can immediately fix the issue."}},"id":"b900e74e-6771-4471-ad31-d19c9296c030","name":"Error Solver Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1712,-48],"typeVersion":1.8},{"parameters":{"assignments":{"assignments":[{"id":"fac5fbee-d63d-4148-b047-5ed5af4f2574","name":"error.diagnosis","type":"string","value":"={{ $json.output.diagnosis }}"},{"id":"ece9388d-f667-4984-a143-7241f622fe76","name":"error.cause","type":"string","value":"={{ $json.output.cause }}"},{"id":"acb6b34a-a651-42fc-a44a-331b2e0d745c","name":"error.resolution","type":"string","value":"={{ $json.output.resolution }}"},{"id":"c765754b-d6d5-4592-ac3f-99a350bc3c19","name":"error.workflowName","type":"string","value":"={{ $('Extract Error Details').item.json.summary.workflowName }}"},{"id":"dabebc62-3e0c-4d22-afbf-54ba66a912fb","name":"error.workflowId","type":"string","value":"={{ $('Extract Error Details').item.json.summary.workflowId }}"},{"id":"6ab19800-9a0f-439f-bf62-7a7afc5bf958","name":"workflowLink","type":"string","value":"={{ $execution.resumeUrl.split('/').slice(0, 3).join('/') }}/workflow/{{ $('Extract Error Details').item.json.summary.workflowId }}"},{"id":"29daaea5-052b-46d4-8192-141db159bff2","name":"error.executionId","type":"string","value":"={{ $('Extract Error Details').item.json.summary.executionId }}"},{"id":"9e4e553c-c82b-41ec-8ee2-14162cdc3bd8","name":"executionLink","type":"string","value":"={{ $execution.resumeUrl.split('/').slice(0, 3).join('/') }}/workflow/{{ $('Extract Error Details').item.json.summary.workflowId }}/executions/{{ $('Extract Error Details').item.json.summary.executionId }}}"},{"id":"7269ea9f-ed49-46cd-89f2-d4a467da529d","name":"error.duration","type":"number","value":"={{ $('Extract Error Details').item.json.summary.durationMs }}"},{"id":"29a6e6d2-5058-4dd9-b2f9-3980a6a9073a","name":"error.startedAt","type":"string","value":"={{ $('Extract Error Details').item.json.summary.startedAt }}"},{"id":"a0ad0e13-5a6e-48db-9a80-74c09434de7f","name":"error.nodeName","type":"string","value":"={{ $('Extract Error Details').item.json.error.nodeName }}"},{"id":"6c1001d4-a581-4520-9f16-a2c7cf0e1f84","name":"error.previousNode","type":"string","value":"={{ $('Extract Error Details').item.json.error.previousNode}}"},{"id":"8c3402ca-3f15-44ae-9b96-ea37c174334c","name":"rawJson","type":"string","value":"={{ JSON.stringify($('Extract Error Details').item.json) }}"},{"id":"c0a85d97-387e-4a20-927d-68389362ef80","name":"error.message","value":"={{ $('Extract Error Details').item.json.error.errorMessage }}","type":"string"}]},"options":{}},"id":"f9ea6094-5bcf-4626-b7f6-7b4556a774ac","name":"Set Diagnosis Fields","type":"n8n-nodes-base.set","position":[2080,-48],"typeVersion":3.4},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":" #oe-error-monitoring","mode":"name"},"text":"=🚨 *{{ $json.error.workflowName }}* 🚨\n• *Status:* `☠️Failed☠️`\n\n• *Failed Node:* `{{ $json.error.nodeName }}` \n• *Previous Node:* `{{ $json.error.previousNode }}` \n• *Error:* {{ $json.error.message }}\n• *Execution Start Time:* {{ $json.error.startedAt }}\n• *Duration:* {{ $json.error.duration }}ms\n\n🔍 *cause:* {{ $json.error.cause }}\n💡 *Fix:* {{ $json.error.resolution }}\n\n<{{ $json.executionLink }}|View Execution> | <{{ $json.workflowLink }}|View Workflow>","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[2288,-48],"id":"21c93ed8-999c-4f88-b16b-125bd69a18c6","name":"Send a message","webhookId":"3af81f90-aa32-4160-a32b-ea5c5b1832ed","credentials":{"slackApi":{"id":"3toyTjW1jCWQIrsZ","name":"Slack Access Token n8n (LastPass)"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Get Failed Exec","type":"main","index":0}]]},"Get Failed Exec":{"main":[[{"node":"Remove Manual Exec","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Error Solver Agent","type":"ai_languageModel","index":0}]]},"Error Solver Agent":{"main":[[{"node":"Set Diagnosis Fields","type":"main","index":0}]]},"Remove Manual Exec":{"main":[[{"node":"Extract Error Details","type":"main","index":0}],[{"node":"Extract Error Details","type":"main","index":0}]]},"Set Diagnosis Fields":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Extract Error Details":{"main":[[{"node":"Error Solver Agent","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Error Solver Agent","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Error Trigger":[{"json":{"execution":{"id":40158,"url":"https://prodegellc.app.n8n.cloud/workflow/ax4s46LPtt9jjsB2/executions/40158","retryOf":"34","error":{"message":"Example Error Message","stack":"Stacktrace"},"lastNodeExecuted":"Node With Error","mode":"manual"},"workflow":{"id":"1","name":"Example Workflow"}}}]},"versionId":"e627f6ba-d7da-448f-86e2-b9dcc08a2de1","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-11T09:11:11.376Z","createdAt":"2025-12-11T09:11:11.376Z","role":"workflow:owner","workflowId":"jLFSwa3HZpulBKUR","projectId":"NOrA7nVi3G84Nq0v"}],"activeVersion":null,"tags":[]}