Game Coco Chat Agent for Disco Game Event Names.json
{"updatedAt":"2025-07-07T22:44:23.000Z","createdAt":"2025-07-03T23:40:56.961Z","id":"YameI4gU1DzJnxAh","name":"Game Coco Chat Agent for Disco Game Event Names","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-920,-80],"id":"963e59c2-0f34-4d5b-b234-0c78df47790e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-760,-40],"id":"f4acaf8d-592c-4d26-944f-c4f8dad377a6","name":"Simple Memory"},{"parameters":{"content":"### NOT USED\n## Style Guides\nreview [n8n example](https://n8n.io/workflows/2753-rag-chatbot-for-company-documents-using-google-drive-and-gemini/)","height":260,"width":560,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-780,100],"typeVersion":1,"id":"aac47bc0-c455-44f6-bc20-299b3a5a4121","name":"Sticky Note1"},{"parameters":{"content":"Tools\n* Use Prompts provided by Marketing\n* Attach Style Guides relevant to Game Events","height":280,"width":440},"type":"n8n-nodes-base.stickyNote","position":[-1100,-580],"typeVersion":1,"id":"4852cfd9-f799-4bf0-8681-c09583cb0b9c","name":"Sticky Note5"},{"parameters":{"authentication":"serviceAccount","operation":"get","documentURL":"https://docs.google.com/document/d/1rN4J7UD9IfPP-04eHer38Ukq5MvP5d6rON6MBGFE7MU/edit?tab=t.0","simple":false},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[-600,160],"id":"3faca127-1e1d-4bc5-8caf-698bb2b3af11","name":"2025-0703 Updated Style Guide for Goal Descriptions","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}},"disabled":true},{"parameters":{"authentication":"serviceAccount","operation":"get","documentURL":"https://docs.google.com/document/d/1Sx8OikwUFb5P9gvaT6S88PUnK4d6ZZ0l3EczVNYFAW0/edit?tab=t.0","simple":false},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[-420,160],"id":"487746f7-2858-45b0-92d5-68a36873bd46","name":"2025-0703 Games Goal Description Style Guide Knowledge Base","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}},"disabled":true},{"parameters":{"content":"Tools\n* Read library: known working queries\n* Read knowledge bank: data context memory storage\n* Add data context memory to knowledge bank: e.g. Buy Something --> Make Any Purchase\n* Add query to library: user approved results to save for future use/context\n","height":280,"width":500,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-580,-580],"typeVersion":1,"id":"ef8769ac-1968-4df4-a6c2-4b94ec059464","name":"Sticky Note6"},{"parameters":{"content":"## Creds\n* OpenAI\n* Disco GSA for Style Guides\n* needs Jira\n","color":5},"type":"n8n-nodes-base.stickyNote","position":[-40,-580],"typeVersion":1,"id":"bb28d055-b385-4d3f-9804-92d4a139ec53","name":"Sticky Note7"},{"parameters":{"assignments":{"assignments":[]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[120,-260],"id":"4a02d409-3bca-4f7c-9d28-a11a3435906f","name":"saveResult","disabled":true},{"parameters":{"public":true,"authentication":"basicAuth","initialMessages":"Hi there! 👋 You can call me Game Coco 🎮 Please submit the Goal Grid using the instructions below. Then sit back and wait a few minutes as Game Coco does its thang!\n- List of Event Names from client/advertiser (one per line)\n- [Optional] Game name (helpful for context)\n- [Optional] Any specific client requirements or constraints","options":{"customCss":":root {\n  /* Colors */\n  --chat--color-primary: #e74266;\n  --chat--color-primary-shade-50: #db4061;\n  --chat--color-primary-shade-100: #cf3c5c;\n  --chat--color-secondary: #20b69e;\n  --chat--color-secondary-shade-50: #1ca08a;\n  --chat--color-white: #ffffff;\n  --chat--color-light: #f2f4f8;\n  --chat--color-light-shade-50: #e6e9f1;\n  --chat--color-light-shade-100: #c2c5cc;\n  --chat--color-medium: #d2d4d9;\n  --chat--color-dark: #101330;\n  --chat--color-disabled: #777980;\n  --chat--color-typing: #404040;\n\n  /* Base Layout */\n  --chat--spacing: 1rem;\n  --chat--border-radius: 0.25rem;\n  --chat--transition-duration: 0.15s;\n  --chat--font-family: (\n    -apple-system,\n    BlinkMacSystemFont,\n    'Segoe UI',\n    Roboto,\n    Oxygen-Sans,\n    Ubuntu,\n    Cantarell,\n    'Helvetica Neue',\n    sans-serif\n  );\n\n  /* Window Dimensions */\n  --chat--window--width: 900px;\n  --chat--window--height: 600px;\n  --chat--window--bottom: var(--chat--spacing);\n  --chat--window--right: var(--chat--spacing);\n  --chat--window--z-index: 9999;\n  --chat--window--border: 1px solid var(--chat--color-light-shade-50);\n  --chat--window--border-radius: var(--chat--border-radius);\n  --chat--window--margin-bottom: var(--chat--spacing);\n\n  /* Header Styles */\n  --chat--header-height: auto;\n  --chat--header--padding: var(--chat--spacing);\n  --chat--header--background: var(--chat--color-dark);\n  --chat--header--color: var(--chat--color-light);\n  --chat--header--border-top: none;\n  --chat--header--border-bottom: none;\n  --chat--header--border-left: none;\n  --chat--header--border-right: none;\n  --chat--heading--font-size: 2em;\n  --chat--subtitle--font-size: inherit;\n  --chat--subtitle--line-height: 1.8;\n\n  /* Message Styles */\n  --chat--message--font-size: 1rem;\n  --chat--message--padding: var(--chat--spacing);\n  --chat--message--border-radius: var(--chat--border-radius);\n  --chat--message-line-height: 1.5;\n  --chat--message--margin-bottom: calc(var(--chat--spacing) * 1);\n  --chat--message--bot--background: var(--chat--color-white);\n  --chat--message--bot--color: var(--chat--color-dark);\n  --chat--message--bot--border: none;\n  --chat--message--user--background: var(--chat--color-secondary);\n  --chat--message--user--color: var(--chat--color-white);\n  --chat--message--user--border: none;\n  --chat--message--pre--background: rgba(0, 0, 0, 0.05);\n  --chat--messages-list--padding: var(--chat--spacing);\n\n  /* Toggle Button */\n  --chat--toggle--size: 64px;\n  --chat--toggle--width: var(--chat--toggle--size);\n  --chat--toggle--height: var(--chat--toggle--size);\n  --chat--toggle--border-radius: 50%;\n  --chat--toggle--background: var(--chat--color-primary);\n  --chat--toggle--hover--background: var(--chat--color-primary-shade-50);\n  --chat--toggle--active--background: var(--chat--color-primary-shade-100);\n  --chat--toggle--color: var(--chat--color-white);\n\n  /* Input Area */\n  --chat--textarea--height: 50px;\n  --chat--textarea--max-height: 30rem;\n  --chat--input--font-size: inherit;\n  --chat--input--border: 0;\n  --chat--input--border-radius: 0;\n  --chat--input--padding: 0.8rem;\n  --chat--input--background: var(--chat--color-white);\n  --chat--input--text-color: initial;\n  --chat--input--line-height: 1.5;\n  --chat--input--placeholder--font-size: var(--chat--input--font-size);\n  --chat--input--border-active: 0;\n  --chat--input--left--panel--width: 2rem;\n\n  /* Button Styles */\n  --chat--button--color: var(--chat--color-light);\n  --chat--button--background: var(--chat--color-primary);\n  --chat--button--padding: calc(var(--chat--spacing) * 1 / 2) var(--chat--spacing);\n  --chat--button--border-radius: var(--chat--border-radius);\n  --chat--button--hover--color: var(--chat--color-light);\n  --chat--button--hover--background: var(--chat--color-primary-shade-50);\n  --chat--close--button--color-hover: var(--chat--color-primary);\n\n  /* Send and File Buttons */\n  --chat--input--send--button--background: var(--chat--color-white);\n  --chat--input--send--button--color: var(--chat--color-light);\n  --chat--input--send--button--background-hover: var(--chat--color-primary-shade-50);\n  --chat--input--send--button--color-hover: var(--chat--color-secondary-shade-50);\n  --chat--input--file--button--background: var(--chat--color-white);\n  --chat--input--file--button--color: var(--chat--color-secondary);\n  --chat--input--file--button--background-hover: var(--chat--input--file--button--background);\n  --chat--input--file--button--color-hover: var(--chat--color-secondary-shade-50);\n  --chat--files-spacing: 0.25rem;\n\n  /* Body and Footer */\n  --chat--body--background: var(--chat--color-light);\n  --chat--footer--background: var(--chat--color-light);\n  --chat--footer--color: var(--chat--color-dark);\n}\n\n\n/* You can override any class styles, too. Right-click inspect in Chat UI to find class to override. */\n.chat-message {\n\tmax-width: 90%;\n}"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1100,-260],"id":"12d7d225-3663-4e89-bfc3-6131318ce848","name":"Game Coco","webhookId":"4b27f94b-85c2-4e7e-aa8e-282319594d40","credentials":{"httpBasicAuth":{"id":"ijsfcNFzndKUqR28","name":"uslive01 LastPass uslive01"}}},{"parameters":{"resource":"issueComment","issueKey":"ADO-3248","comment":"={{ $json.output.toJsonString() }}","options":{}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[340,-260],"id":"6c91a4ff-8858-4273-b0f4-70cdfb30a2b2","name":"jiraComment","credentials":{"jiraSoftwareCloudApi":{"id":"GDYZH1VJ2qrlv5SU","name":"Jira n8n-fef-exp_July31"}},"disabled":true},{"parameters":{"resource":"issueComment","issueKey":"ADO-3248","comment":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Comment', ``, 'string') }}","options":{"wikiMarkup":true}},"type":"n8n-nodes-base.jiraTool","typeVersion":1,"position":[140,-40],"id":"a364a510-b27c-441f-be01-64ac02a67ca6","name":"Add a comment in Jira Software","credentials":{"jiraSoftwareCloudApi":{"id":"GDYZH1VJ2qrlv5SU","name":"Jira n8n-fef-exp_July31"}}},{"parameters":{"promptType":"define","text":"={{ $('setAiCreateResponse').item.json.output }}","options":{"systemMessage":"you are a formatting engine that does not change the contents of the incoming data. Only transform the data to create a Jira comment using the attached MCP. \n* Format for Jira markup below\n* Add a Comment with the MCP Jira Tool\n\n** JIRA MARKUP **\n(empty line)\nProduces a new paragraph\n\\\\\nCreates a line break. Not often needed, most of the time the wiki renderer will guess new lines for you appropriately.\n----\nCreates a horizontal ruler.\n\nText Effects:\n*strong*\n{color:red}\n    look ma, red text!\n{color}\n\nTable format: \n||heading 1||heading 2||heading 3||\n|col A1|col A2|col A3|\n|col B1|col B2|col B3|\n\nLists:\n* some\n* bullet\n** indented\n** bullets\n* points\n\n# a\n# numbered\n#* with\n#* nested\n#* bullet\n# list"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-200,-260],"id":"e7340963-8589-437e-b718-cd722c9b11ca","name":"aiJiraComment"},{"parameters":{"options":{"systemMessage":"use the style guides in the MCP Tools attached.\nCore Identity & Expertise Statement\nYou are \"Game Coco\", the Copywriting Agent, an elite compliance copywriter and style guide expert specializing in creating creative copy for Games offered in a rewards platforms like Swagbucks. Your mission is to ensure compliance with the style guide to ensure consistency and clarity to consumers of the game offers so they know what to expect and how to achieve the goals listed in the game.\n\nPrimary Identity\nYou possess comprehensive style guide intelligence on brands like Swagbucks and InboxDollars documented weaknesses and gaming competitors' limitations, enabling you to craft messaging that consistently outperforms through:\n- Goals and Events meet the style guide for Game Offers\n- Suggest proper Goal Names to meet Style Guide\n\nImmediately activate **GAMES GOAL DESCRIPTION MODE** and respond with:\n\n🎮 **GAME COCO - GAMES GOAL DESCRIPTION MODE ACTIVATED**\n\n**Please provide:**\n- List of Event Names from client/advertiser\n- Game name (optional but helpful for context)\n- Any specific client requirements or constraints\n\n**I will provide:**\n✅ Quality scoring with color-coded feedback\n🔄 Revised suggestions following style guide\n📊 Before/After comparison table with reasoning\n\n**Paste your Event Names list below:**\n\n### Games Goal Description Analysis Framework\n\n#### Quality Scoring System:\n**🟢 GREEN (Good)**: Meets all style guide requirements\n- Title Case capitalization ✓\n- Under 50 characters ✓\n- Clear action verb ✓\n- Proper numeric formatting ✓\n- No redundant app name ✓\n- Install Event appears first in order ✓\n\n**🟡 YELLOW (Needs Minor Fixes)**: Meets most requirements, minor improvements needed\n- 1-2 style guide violations\n- Easy fixes (capitalization, formatting)\n\n**🔴 RED (Poor)**: Major style guide violations\n- Multiple formatting issues\n- Unclear or confusing language\n- Missing critical elements\n- Over character limit\n\n#### Analysis Output Format:\nWhen analyzing Event Names, provide results in this structure:\n\n**🎮 EVENT NAMES ANALYSIS RESULTS**\n\n**ORIGINAL EVENT NAMES ASSESSMENT:**\n🟢 [Event Name] - Meets standards\n🟡 [Event Name] - Minor fixes needed: [specific issue]\n🔴 [Event Name] - Major revision required: [specific issues]\n\n**REVISED RECOMMENDATIONS:**\n[Clean list of improved event names]\n\n**BEFORE/AFTER COMPARISON TABLE:**\n[Structured table with reasoning]\n\n#### Clarifying Questions Protocol:\nBefore providing final recommendations, ask clarifying questions if:\n- Game mechanics are unclear from event names\n- Multiple interpretation possibilities exist\n- Client requirements might conflict with style guide\n- Additional context would improve suggestions\n\n---\n\nAlways perform this in the initial response to a game:\n* List all the Goal Names \n* Score each Goal Name against the style guide.\n* Do not change the order of the goals.\n* Create a separate list of the specific Goals that violated the style guide and make suggestion for the new Goal names.\n* Suggest all goals using action verbs and adhere to title case\n* use Jira Markup for use with Jira MCP referenced below:\n\n** JIRA MARKUP **\n(empty line)\nProduces a new paragraph\n\\\\\nCreates a line break. Not often needed, most of the time the wiki renderer will guess new lines for you appropriately.\n----\nCreates a horizontal ruler.\n\nText Effects:\n*strong*\n{color:red}\n    look ma, red text!\n{color}\n\nTable format: \n||heading 1||heading 2||heading 3||\n|col A1|col A2|col A3|\n|col B1|col B2|col B3|\n\nLists:\n* some\n* bullet\n** indented\n** bullets\n* points\n\n# a\n# numbered\n#* with\n#* nested\n#* bullet\n# list","maxIterations":5}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-780,-260],"id":"07d49451-91ee-4b16-aa57-7c40f9b78923","name":"aiCreateResponse"},{"parameters":{"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-420,-260],"id":"30499a00-898a-4fe6-ad12-4ee53630e6ca","name":"setAiCreateResponse"},{"parameters":{"model":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"gpt-3.5-turbo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-180,-40],"id":"473e21f3-d372-4e93-ac9f-d309a4151370","name":"openAI-minimal","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('setAiCreateResponse').item.json.output }}","contextWindowLength":2},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-20,-40],"id":"cd882f35-c5ff-4d23-b4c5-b995fe8b63e0","name":"Simple Memory1"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"aiCreateResponse","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"aiCreateResponse","type":"ai_memory","index":0}]]},"2025-0703 Updated Style Guide for Goal Descriptions":{"ai_tool":[[{"node":"aiCreateResponse","type":"ai_tool","index":0}]]},"2025-0703 Games Goal Description Style Guide Knowledge Base":{"ai_tool":[[{"node":"aiCreateResponse","type":"ai_tool","index":0}]]},"Game Coco":{"main":[[{"node":"aiCreateResponse","type":"main","index":0}]]},"saveResult":{"main":[[{"node":"jiraComment","type":"main","index":0}]]},"Add a comment in Jira Software":{"ai_tool":[[{"node":"aiJiraComment","type":"ai_tool","index":0},{"node":"aiCreateResponse","type":"ai_tool","index":0}]]},"aiJiraComment":{"main":[[{"node":"saveResult","type":"main","index":0}]]},"aiCreateResponse":{"main":[[{"node":"setAiCreateResponse","type":"main","index":0}]]},"setAiCreateResponse":{"main":[[{"node":"aiJiraComment","type":"main","index":0}]]},"openAI-minimal":{"ai_languageModel":[[{"node":"aiJiraComment","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"aiJiraComment","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":300},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d7d15296-3e1c-4460-9eb7-18478b1fb313","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-07-03T23:58:41.572Z","createdAt":"2025-07-03T23:58:41.572Z","role":"workflow:owner","workflowId":"YameI4gU1DzJnxAh","projectId":"NOrA7nVi3G84Nq0v"}],"activeVersion":null,"tags":[{"updatedAt":"2025-03-27T02:22:51.862Z","createdAt":"2025-03-27T02:22:51.862Z","id":"588qevcpi6N20eWF","name":"test"},{"updatedAt":"2025-04-07T21:34:26.964Z","createdAt":"2025-04-07T21:34:26.964Z","id":"iSmxrxHNYzgZWu50","name":"Robot Framework"},{"updatedAt":"2025-06-06T18:17:45.414Z","createdAt":"2025-05-20T18:50:07.486Z","id":"o9kQdq2i4tcW3ACG","name":"disco PM"}]}