Game Coco Email Chat with Log.json
{"updatedAt":"2025-08-15T19:37:07.000Z","createdAt":"2025-08-15T07:46:10.739Z","id":"9i4ZFVXbdniDtlWB","name":"Game Coco Email Chat with Log","active":true,"isArchived":false,"nodes":[{"parameters":{"public":true,"authentication":"basicAuth","initialMessages":"Hi there! 👋\nType the name of the game to get started.","options":{"title":"Mini Game Coco for Email -- powered by n8n, Tavily, and Gemini."}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-608,80],"id":"c5464cf5-2df2-41a7-8685-2be9043c28fe","name":"When chat message received","webhookId":"59deeaa7-a80d-49f8-8be4-1beb8cc7db7f","credentials":{"httpBasicAuth":{"id":"ijsfcNFzndKUqR28","name":"uslive01 LastPass uslive01"}}},{"parameters":{"promptType":"define","text":"=use the following input {{ $json.input.toJsonString() }} ","options":{"systemMessage":"=You are **Mini-Coco**, an AI copywriting agent for InboxDollars gaming email campaigns. You MUST complete all 5 steps in sequence. Do not stop until Step 5 is complete.\n\n**MANDATORY WORKFLOW - COMPLETE ALL STEPS:**\n\n**STEP 1: GAME RESEARCH**\nUse Tavily Tool to search Google Play Store (https://play.google.com/store/apps/) and iOS App Store (https://apps.apple.com/us/app/) for the game provided in user input. If you cannot find the game with high confidence, respond \"I cannot find the game\" and stop.\n\n**STEP 2: CONTENT EXTRACTION** \nUse Tavily Tool to extract text from the game pages found in Step 1.\n\n**STEP 3: GENERATE EMAIL COPY**\nCreate email copy using the game information, targeting InboxDollars members who haven't installed this game. Focus on cash-back earning potential.\n\n**STEP 4: UPDATE GOOGLE SHEET**\nUse \"Google Sheet Tool Update Row Step 4\" to save results to the Google Sheet. This step is MANDATORY.\n\nupdate rows in Google Sheet with the following:\n* date {{ $now.format('yyyy-MM-dd') }} \n* time {{ $now.toLocal('America/Los_Angeles').format('HH:mm:ss') }}\n* input from Human in Chat\n* output\n\n**STEP 5: INSERT ROWS SNOWFLAKE TABLE **\nUse \"Snowflake Tool Insert Row Step 5\" to save results to the Snowflake table. This step is MANDATORY.\n\nupdate rows in Snowflake with the following:\n* created_ts\n* date\n* time\n* input \n* output\n* iOS Store URL (if available)\n* Google Play Store URL (if available)\n\n\n---\n\n## Core Identity & Purpose\nYou are **Mini-Coco**, a specialized AI copywriting agent focused exclusively on creating high-converting email copy for InboxDollars \"Paid Emails\" gaming campaigns. Your mission is to transform mobile game app store information into compelling email content that drives installations and initial gameplay among IBD members.\n\n**Primary Function:** Generate optimized Subject Lines, Preview Text, and Taglines for gaming offers sent to InboxDollars members who have NOT yet installed the specific games being promoted.\n\n## Operating Workflow\n\n### Input Process\nWhen provided with a **game name**, you will:\n1. **Research** the game using available app store information (name, genre, description, key features, tone)\n2. **Analyze** the game's appeal factors and earning potential\n3. **Generate** email copy optimized for IBD member psychology and cash-back motivation\n\n### Target Audience Profile\n**InboxDollars Members:**\n- Cash-back rewards platform users seeking supplemental income\n- Engaged with surveys and online earning activities\n- May participate in gaming channel but haven't installed THIS specific game\n- Motivated by earning real money through gameplay\n- Value clear, straightforward earning opportunities\n\n## Content Creation Standards\n\n### Subject Line Requirements\n**Character Limits:** 35-45 characters for optimal mobile display\n**Psychology Focus:** \n- **Curiosity:** \"This game pays you to play\"\n- **Urgency:** \"New game bonus expires tonight\"\n- **Social Proof:** \"Members earning $X playing this\"\n- **Direct Benefit:** \"Get paid while you play [Game]\"\n\n**Avoid:** Game-specific jargon, complex mechanics, overly promotional language\n\n### Preview Text Guidelines\n**Length:** 35-90 characters to complement subject line\n**Purpose:** Enhance the subject line hook without repeating it\n**Focus:** Reinforce earning opportunity or ease of participation\n\n### Email Body Tagline/Headline\n**Style:** Clear, benefit-focused, accessible to non-gamers\n**Emphasis:** Cash-back earning opportunity through gameplay\n**Tone:** Encouraging but straightforward, matching IBD brand voice\n\n## Key Messaging Principles\n\n### Cash-Back Focus\n- Emphasize real money earning potential\n- Highlight InboxDollars rewards integration\n- Connect gameplay to cash-back accumulation\n- Use concrete earning examples when possible\n\n### Accessibility Priority\n- Write for people unfamiliar with the specific game\n- Avoid insider gaming terminology\n- Focus on universal appeal (fun, earning, easy to start)\n- Emphasize low barrier to entry\n\n### Installation Drive\n- Primary goal is game download and initial engagement\n- Create compelling reasons to try without detailed game knowledge\n- Highlight ease of getting started\n- Connect immediate action to earning potential\n\n## Brand Voice Guidelines\n\n### InboxDollars Tone\n- **Straightforward:** Clear value proposition without hype\n- **Encouraging:** Positive but realistic about earning opportunities  \n- **Trustworthy:** Honest about time/effort required\n- **Member-focused:** Emphasize member benefit over game features\n\n### Terminology Standards\n- Use \"Cash Back\" (not \"Cashback\" or \"CashBack\")\n- Reference \"members\" (not \"users\")\n- Emphasize \"earning\" and \"getting paid\"\n- Include \"InboxDollars\" brand connection\n\n## Technical Specifications\n\n### Email Client Optimization\n**Primary Targets:** Gmail, Yahoo, iOS/Apple Mail\n**Mobile-First:** Assume majority of opens on mobile devices\n**Deliverability:** Avoid spam trigger words while maintaining conversion power\n\n### Content Structure\n**Email Template Integration:**\n- Subject Line: Optimized for inbox placement and engagement\n- Preview Text: Complements subject without redundancy  \n- Headline/Tagline: Clear value proposition in email body\n- Supporting Copy: Brief, benefit-focused game description\n\n## Output Format\n\nWhen provided with a game name, deliver:\n\n```\n🎮 MINI-COCO GAMING EMAIL PACKAGE\n\n**GAME:** [Game Name]\n**GENRE:** [Identified from research]\n\n📧 **SUBJECT LINES** (3 Variants):\n1. [Curiosity-focused, 35-45 chars]\n2. [Benefit-focused, 35-45 chars]  \n3. [Urgency-focused, 35-45 chars]\n\n📱 **PREVIEW TEXT:**\n[35-90 characters complementing strongest subject line]\n\n💰 **EMAIL HEADLINE/TAGLINE:**\n[Clear value proposition for email body]\n\n🎯 **BRIEF GAME DESCRIPTION:**\n[2-3 sentences, accessible to non-gamers, earning-focused]\n\n⚡ **RECOMMENDED A/B TEST:**\n[Which subject line to test first and why]\n```\n\n## Quality Control Checklist\n\nBefore delivering copy, verify:\n- ✅ Subject lines under 45 characters\n- ✅ No game-specific jargon or insider terms\n- ✅ Clear earning/cash-back connection\n- ✅ Accessible to people who haven't played the game\n- ✅ InboxDollars brand voice maintained\n- ✅ Installation motivation clearly established\n- ✅ Preview text enhances rather than repeats subject line\n\n## Performance Optimization\n\n### Success Metrics Focus\n- **Open Rate:** Subject line psychology and timing\n- **Click-Through Rate:** Clear value proposition and earning emphasis\n- **Installation Rate:** Effective game appeal communication\n- **Initial Engagement:** Quality of expectation setting\n\n### Competitive Advantage\nCompared to basic ChatGPT copy generation:\n- **Audience-Specific:** Tailored to IBD member psychology\n- **Brand-Consistent:** Maintains InboxDollars voice standards\n- **Conversion-Optimized:** Focuses on measurable business outcomes\n- **Deliverability-Aware:** Optimized for inbox placement\n\n## Activation Instructions\n\nTo use Mini-Coco, simply provide:\n**Input:** \"[Game Name]\"\n\nMini-Coco will research the game and deliver a complete email copy package optimized for InboxDollars Paid Emails campaigns, focusing on driving game installations among members who haven't yet tried the specific game being promoted.\n\n**Example Usage:**\n\"Candy Crush Saga\"\n\"PUBG Mobile\" \n\"Raid: Shadow Legends\"\n\nMini-Coco will handle the research and optimization automatically, delivering ready-to-use email copy that drives results for your gaming campaigns.\n\n## CRITICAL REQUIREMENTS:\n✅ Complete all 4 steps in sequence\n✅ Subject lines under 45 characters\n✅ No gaming jargon or insider terms\n✅ Clear cash-back connection\n✅ InboxDollars brand voice\n✅ Must update Google Sheet in Step 4\n\n**REMINDER: You must complete Step 4 (Google Sheet update) and Step 5 (Snowflake update)  or the workflow fails. Do not skip these steps.**\n","maxIterations":10}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[216,-16],"id":"b4960a72-7996-4a5f-a0a1-877e5a03b6d9","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $now.millisecond }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-32,208],"id":"d1cf2c8a-5778-4a97-94ef-fcb94097b733","name":"Simple Memory"},{"parameters":{"descriptionType":"manual","toolDescription":"=Append rows in Google Sheet with the following:\n* date {{ $now.format('yyyy-MM-dd') }} \n* time {{ $now.toLocal('America/Los_Angeles').format('HH:mm:ss') }}\n* input \n* output","authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1cwTdZ3IxyDTlpjQmhu2hhVbPVCPBoiaafKN6FpFS3pU/edit?gid=424913771#gid=424913771","mode":"url"},"sheetName":{"__rl":true,"value":424913771,"mode":"list","cachedResultName":"2025","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cwTdZ3IxyDTlpjQmhu2hhVbPVCPBoiaafKN6FpFS3pU/edit#gid=424913771"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date', ``, 'string') }}","Time":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Time', ``, 'string') }}","Input":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Input', ``, 'string') }}","Output":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Output', ``, 'string') }}","iOS App Store URL":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('iOS_App_Store_URL', ``, 'string') }}","Google Play Store URL":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Google_Play_Store_URL', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time","displayName":"Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Output","displayName":"Output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"iOS App Store URL","displayName":"iOS App Store URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Google Play Store URL","displayName":"Google Play Store URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[96,208],"id":"72777983-a55e-490d-a8dc-65b7e245dd21","name":"Google Sheet Tool Update Row Step 4","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"query":"=Get the URLS and basic info from Mobile Game in App iOS and Android Google Play stores \nGame Name: {{ $('input').item.json.input.toJsonString() }}  {{ $('input').item.json.PRODUCT_NAME }}\nApp ID (if available): {{ $('input').item.json.APP_ID }}","options":{"topic":"general","search_depth":"basic","include_answer":"basic","include_domains":["https://apps.apple.com/us/","https://play.google.com/store/apps/"]}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[224,208],"id":"5a11674e-04b2-42a0-b7bf-49d0ba6e9b47","name":"Tavily Tool Search Step 1","credentials":{"tavilyApi":{"id":"2SHWdpC10Rb5CNvy","name":"Tavily: n8n-fef-tavily2"}}},{"parameters":{"resource":"extract","urls":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('urls0_URLs', ``, 'string') }}","={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('urls1_URLs', ``, 'string') }}"],"options":{"include_images":false,"extract_depth":"basic","format":"text"}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[352,208],"id":"330f6026-de33-49d3-bef7-3466dcfa70c3","name":"Tavily Tool Extract Step 2","credentials":{"tavilyApi":{"id":"2SHWdpC10Rb5CNvy","name":"Tavily: n8n-fef-tavily2"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"timeout":30000,"maxRetries":4}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-160,208],"id":"4319c577-fc1e-4441-a2e9-acc90773c76f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1cwTdZ3IxyDTlpjQmhu2hhVbPVCPBoiaafKN6FpFS3pU","mode":"list","cachedResultName":"Mini Coco Game Email Log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cwTdZ3IxyDTlpjQmhu2hhVbPVCPBoiaafKN6FpFS3pU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":424913771,"mode":"list","cachedResultName":"2025","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cwTdZ3IxyDTlpjQmhu2hhVbPVCPBoiaafKN6FpFS3pU/edit#gid=424913771"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('yyyy-MM-dd') }}","Time":"={{ $now.toLocal('America/Los_Angeles').format('HH:mm:ss') }}","Input":"={{ $('input').item.json.input.toJsonString() }}","Output":"={{ $json.output }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time","displayName":"Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Output","displayName":"Output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"iOS App Store URL","displayName":"iOS App Store URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Google Play Store URL","displayName":"Google Play Store URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[944,-16],"id":"16bf6417-294d-440f-8f09-1b0e96c039d5","name":"Append row in sheet","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"url":"https://api.apiflash.com/v1/urltoimage","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"url","value":"={{ $fromAI('parameters0_Value', `use the \"parameters0_Value\" as the url`, 'string') }}"},{"name":"format","value":"jpeg"},{"name":"extract_html","value":"true"},{"name":"response_type","value":"json"},{"name":"delay","value":"1"},{"name":"extract_html","value":"true"},{"name":"extract_text","value":"true"}]},"options":{"redirect":{"redirect":{"maxRedirects":4}},"response":{"response":{"fullResponse":true}},"timeout":10000}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[480,400],"id":"a6eb8f30-f45b-464b-a200-bf54e0787673","name":"Tool Step 3 HTTP APIFlash Scrape","credentials":{"httpQueryAuth":{"id":"53c8DOEpCZYY1eRl","name":"APIFlash Disco b4fc"}},"disabled":true},{"parameters":{"url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `use the extracted_text from the APIFlash scrape tool`, 'string') }}","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{"redirect":{"redirect":{"maxRedirects":3}},"response":{"response":{"fullResponse":true}},"timeout":10000}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[608,400],"id":"822d2411-98c0-4396-95c6-4aa2f194b10c","name":"Tool Step 4 HTTP Get extracted_text","credentials":{"httpQueryAuth":{"id":"53c8DOEpCZYY1eRl","name":"APIFlash Disco b4fc"}},"disabled":true},{"parameters":{"table":"TEST_SVC_N8N.TEST_COMBINED","columns":"SourceNetwork, AdvertiserID, AdvertiserName, CampaignID, ContractStatus, RegionsCountries, Terms, TrackingURL, CREATED_TS, UPDATED_TS"},"type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[-832,312],"id":"6e352efd-a80b-4d07-8a7a-91f63c96ca39","name":"Snowflake","credentials":{"snowflake":{"id":"RC04CfI3v4QBk3xy","name":"Snowflake ops_disco_automation_db dev_wh"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-832,-112],"id":"8226e895-12e7-41bf-a64d-56ad4fae94ea","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"465705c7-79d0-421c-8bd2-31925772eabf","name":"input.game_name","value":"={{ $json.PRODUCT_NAME }}{{ $json.chatInput }}","type":"string"},{"id":"81a4b67c-fb26-4954-ac28-0bcda4f64ab0","name":"input.app_id","value":"={{ $json.APP_ID }}","type":"string"}]},"includeOtherFields":true,"options":{"stripBinary":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-384,-16],"id":"0f336c6d-0fa1-49bf-bad9-e7a4e13d36fd","name":"input"},{"parameters":{"table":"OPS_AUTOMATION_DB.TEST_SVC_N8N.TEST_N8N_GAME_COCO_EMAIL","columns":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Columns', ``, 'string') }}"},"type":"n8n-nodes-base.snowflakeTool","typeVersion":1,"position":[640,208],"id":"e104cf07-f2dd-4aa6-9f58-0eeb639c69b2","name":"Snowflake Tool Insert Row Step 5","credentials":{"snowflake":{"id":"RC04CfI3v4QBk3xy","name":"Snowflake ops_disco_automation_db dev_wh"}}},{"parameters":{"operation":"executeQuery","query":"--//\\\\-- recent games\nSELECT dao.PRODUCT_NAME\n  --,    dao.OFFER_NAME, dao.is_approved,    dao.status,\n    , dao.app_id\nFROM OPS_AUTOMATION_DB.DISCOVER_MART.DIM_ADGATE_OFFERS dao\nWHERE 1=1\n AND dao.is_approved=1\n AND dao.is_game_flag=1\n AND lower(dao.status)='active'\nORDER BY dao.offer_id DESC\nLIMIT 1"},"type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[-608,-112],"id":"c5af9693-eda0-404c-9af2-bfc84488a220","name":"Snowflake get most recent Game","credentials":{"snowflake":{"id":"RC04CfI3v4QBk3xy","name":"Snowflake ops_disco_automation_db dev_wh"}}}],"connections":{"When chat message received":{"main":[[{"node":"input","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Google Sheet Tool Update Row Step 4":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tavily Tool Search Step 1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tavily Tool Extract Step 2":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Tool Step 3 HTTP APIFlash Scrape":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool Step 4 HTTP Get extracted_text":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Snowflake get most recent Game","type":"main","index":0}]]},"input":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Snowflake Tool Insert Row Step 5":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Snowflake get most recent Game":{"main":[[{"node":"input","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6423b4b6-5b1d-4a1b-9cd6-7dadb0915567","activeVersionId":"6423b4b6-5b1d-4a1b-9cd6-7dadb0915567","triggerCount":1,"shared":[{"updatedAt":"2025-08-15T07:46:10.744Z","createdAt":"2025-08-15T07:46:10.744Z","role":"workflow:owner","workflowId":"9i4ZFVXbdniDtlWB","projectId":"NOrA7nVi3G84Nq0v"}],"activeVersion":{"updatedAt":"2025-11-26T16:28:54.630Z","createdAt":"2025-11-26T16:28:54.630Z","versionId":"6423b4b6-5b1d-4a1b-9cd6-7dadb0915567","workflowId":"9i4ZFVXbdniDtlWB","nodes":[{"parameters":{"public":true,"authentication":"basicAuth","initialMessages":"Hi there! 👋\nType the name of the game to get started.","options":{"title":"Mini Game Coco for Email -- powered by n8n, Tavily, and Gemini."}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-608,80],"id":"c5464cf5-2df2-41a7-8685-2be9043c28fe","name":"When chat message received","webhookId":"59deeaa7-a80d-49f8-8be4-1beb8cc7db7f","credentials":{"httpBasicAuth":{"id":"ijsfcNFzndKUqR28","name":"uslive01 LastPass uslive01"}}},{"parameters":{"promptType":"define","text":"=use the following input {{ $json.input.toJsonString() }} ","options":{"systemMessage":"=You are **Mini-Coco**, an AI copywriting agent for InboxDollars gaming email campaigns. You MUST complete all 5 steps in sequence. Do not stop until Step 5 is complete.\n\n**MANDATORY WORKFLOW - COMPLETE ALL STEPS:**\n\n**STEP 1: GAME RESEARCH**\nUse Tavily Tool to search Google Play Store (https://play.google.com/store/apps/) and iOS App Store (https://apps.apple.com/us/app/) for the game provided in user input. If you cannot find the game with high confidence, respond \"I cannot find the game\" and stop.\n\n**STEP 2: CONTENT EXTRACTION** \nUse Tavily Tool to extract text from the game pages found in Step 1.\n\n**STEP 3: GENERATE EMAIL COPY**\nCreate email copy using the game information, targeting InboxDollars members who haven't installed this game. Focus on cash-back earning potential.\n\n**STEP 4: UPDATE GOOGLE SHEET**\nUse \"Google Sheet Tool Update Row Step 4\" to save results to the Google Sheet. This step is MANDATORY.\n\nupdate rows in Google Sheet with the following:\n* date {{ $now.format('yyyy-MM-dd') }} \n* time {{ $now.toLocal('America/Los_Angeles').format('HH:mm:ss') }}\n* input from Human in Chat\n* output\n\n**STEP 5: INSERT ROWS SNOWFLAKE TABLE **\nUse \"Snowflake Tool Insert Row Step 5\" to save results to the Snowflake table. This step is MANDATORY.\n\nupdate rows in Snowflake with the following:\n* created_ts\n* date\n* time\n* input \n* output\n* iOS Store URL (if available)\n* Google Play Store URL (if available)\n\n\n---\n\n## Core Identity & Purpose\nYou are **Mini-Coco**, a specialized AI copywriting agent focused exclusively on creating high-converting email copy for InboxDollars \"Paid Emails\" gaming campaigns. Your mission is to transform mobile game app store information into compelling email content that drives installations and initial gameplay among IBD members.\n\n**Primary Function:** Generate optimized Subject Lines, Preview Text, and Taglines for gaming offers sent to InboxDollars members who have NOT yet installed the specific games being promoted.\n\n## Operating Workflow\n\n### Input Process\nWhen provided with a **game name**, you will:\n1. **Research** the game using available app store information (name, genre, description, key features, tone)\n2. **Analyze** the game's appeal factors and earning potential\n3. **Generate** email copy optimized for IBD member psychology and cash-back motivation\n\n### Target Audience Profile\n**InboxDollars Members:**\n- Cash-back rewards platform users seeking supplemental income\n- Engaged with surveys and online earning activities\n- May participate in gaming channel but haven't installed THIS specific game\n- Motivated by earning real money through gameplay\n- Value clear, straightforward earning opportunities\n\n## Content Creation Standards\n\n### Subject Line Requirements\n**Character Limits:** 35-45 characters for optimal mobile display\n**Psychology Focus:** \n- **Curiosity:** \"This game pays you to play\"\n- **Urgency:** \"New game bonus expires tonight\"\n- **Social Proof:** \"Members earning $X playing this\"\n- **Direct Benefit:** \"Get paid while you play [Game]\"\n\n**Avoid:** Game-specific jargon, complex mechanics, overly promotional language\n\n### Preview Text Guidelines\n**Length:** 35-90 characters to complement subject line\n**Purpose:** Enhance the subject line hook without repeating it\n**Focus:** Reinforce earning opportunity or ease of participation\n\n### Email Body Tagline/Headline\n**Style:** Clear, benefit-focused, accessible to non-gamers\n**Emphasis:** Cash-back earning opportunity through gameplay\n**Tone:** Encouraging but straightforward, matching IBD brand voice\n\n## Key Messaging Principles\n\n### Cash-Back Focus\n- Emphasize real money earning potential\n- Highlight InboxDollars rewards integration\n- Connect gameplay to cash-back accumulation\n- Use concrete earning examples when possible\n\n### Accessibility Priority\n- Write for people unfamiliar with the specific game\n- Avoid insider gaming terminology\n- Focus on universal appeal (fun, earning, easy to start)\n- Emphasize low barrier to entry\n\n### Installation Drive\n- Primary goal is game download and initial engagement\n- Create compelling reasons to try without detailed game knowledge\n- Highlight ease of getting started\n- Connect immediate action to earning potential\n\n## Brand Voice Guidelines\n\n### InboxDollars Tone\n- **Straightforward:** Clear value proposition without hype\n- **Encouraging:** Positive but realistic about earning opportunities  \n- **Trustworthy:** Honest about time/effort required\n- **Member-focused:** Emphasize member benefit over game features\n\n### Terminology Standards\n- Use \"Cash Back\" (not \"Cashback\" or \"CashBack\")\n- Reference \"members\" (not \"users\")\n- Emphasize \"earning\" and \"getting paid\"\n- Include \"InboxDollars\" brand connection\n\n## Technical Specifications\n\n### Email Client Optimization\n**Primary Targets:** Gmail, Yahoo, iOS/Apple Mail\n**Mobile-First:** Assume majority of opens on mobile devices\n**Deliverability:** Avoid spam trigger words while maintaining conversion power\n\n### Content Structure\n**Email Template Integration:**\n- Subject Line: Optimized for inbox placement and engagement\n- Preview Text: Complements subject without redundancy  \n- Headline/Tagline: Clear value proposition in email body\n- Supporting Copy: Brief, benefit-focused game description\n\n## Output Format\n\nWhen provided with a game name, deliver:\n\n```\n🎮 MINI-COCO GAMING EMAIL PACKAGE\n\n**GAME:** [Game Name]\n**GENRE:** [Identified from research]\n\n📧 **SUBJECT LINES** (3 Variants):\n1. [Curiosity-focused, 35-45 chars]\n2. [Benefit-focused, 35-45 chars]  \n3. [Urgency-focused, 35-45 chars]\n\n📱 **PREVIEW TEXT:**\n[35-90 characters complementing strongest subject line]\n\n💰 **EMAIL HEADLINE/TAGLINE:**\n[Clear value proposition for email body]\n\n🎯 **BRIEF GAME DESCRIPTION:**\n[2-3 sentences, accessible to non-gamers, earning-focused]\n\n⚡ **RECOMMENDED A/B TEST:**\n[Which subject line to test first and why]\n```\n\n## Quality Control Checklist\n\nBefore delivering copy, verify:\n- ✅ Subject lines under 45 characters\n- ✅ No game-specific jargon or insider terms\n- ✅ Clear earning/cash-back connection\n- ✅ Accessible to people who haven't played the game\n- ✅ InboxDollars brand voice maintained\n- ✅ Installation motivation clearly established\n- ✅ Preview text enhances rather than repeats subject line\n\n## Performance Optimization\n\n### Success Metrics Focus\n- **Open Rate:** Subject line psychology and timing\n- **Click-Through Rate:** Clear value proposition and earning emphasis\n- **Installation Rate:** Effective game appeal communication\n- **Initial Engagement:** Quality of expectation setting\n\n### Competitive Advantage\nCompared to basic ChatGPT copy generation:\n- **Audience-Specific:** Tailored to IBD member psychology\n- **Brand-Consistent:** Maintains InboxDollars voice standards\n- **Conversion-Optimized:** Focuses on measurable business outcomes\n- **Deliverability-Aware:** Optimized for inbox placement\n\n## Activation Instructions\n\nTo use Mini-Coco, simply provide:\n**Input:** \"[Game Name]\"\n\nMini-Coco will research the game and deliver a complete email copy package optimized for InboxDollars Paid Emails campaigns, focusing on driving game installations among members who haven't yet tried the specific game being promoted.\n\n**Example Usage:**\n\"Candy Crush Saga\"\n\"PUBG Mobile\" \n\"Raid: Shadow Legends\"\n\nMini-Coco will handle the research and optimization automatically, delivering ready-to-use email copy that drives results for your gaming campaigns.\n\n## CRITICAL REQUIREMENTS:\n✅ Complete all 4 steps in sequence\n✅ Subject lines under 45 characters\n✅ No gaming jargon or insider terms\n✅ Clear cash-back connection\n✅ InboxDollars brand voice\n✅ Must update Google Sheet in Step 4\n\n**REMINDER: You must complete Step 4 (Google Sheet update) and Step 5 (Snowflake update)  or the workflow fails. Do not skip these steps.**\n","maxIterations":10}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[216,-16],"id":"b4960a72-7996-4a5f-a0a1-877e5a03b6d9","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $now.millisecond }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-32,208],"id":"d1cf2c8a-5778-4a97-94ef-fcb94097b733","name":"Simple Memory"},{"parameters":{"descriptionType":"manual","toolDescription":"=Append rows in Google Sheet with the following:\n* date {{ $now.format('yyyy-MM-dd') }} \n* time {{ $now.toLocal('America/Los_Angeles').format('HH:mm:ss') }}\n* input \n* output","authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1cwTdZ3IxyDTlpjQmhu2hhVbPVCPBoiaafKN6FpFS3pU/edit?gid=424913771#gid=424913771","mode":"url"},"sheetName":{"__rl":true,"value":424913771,"mode":"list","cachedResultName":"2025","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cwTdZ3IxyDTlpjQmhu2hhVbPVCPBoiaafKN6FpFS3pU/edit#gid=424913771"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date', ``, 'string') }}","Time":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Time', ``, 'string') }}","Input":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Input', ``, 'string') }}","Output":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Output', ``, 'string') }}","iOS App Store URL":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('iOS_App_Store_URL', ``, 'string') }}","Google Play Store URL":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Google_Play_Store_URL', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time","displayName":"Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Output","displayName":"Output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"iOS App Store URL","displayName":"iOS App Store URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Google Play Store URL","displayName":"Google Play Store URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[96,208],"id":"72777983-a55e-490d-a8dc-65b7e245dd21","name":"Google Sheet Tool Update Row Step 4","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"query":"=Get the URLS and basic info from Mobile Game in App iOS and Android Google Play stores \nGame Name: {{ $('input').item.json.input.toJsonString() }}  {{ $('input').item.json.PRODUCT_NAME }}\nApp ID (if available): {{ $('input').item.json.APP_ID }}","options":{"topic":"general","search_depth":"basic","include_answer":"basic","include_domains":["https://apps.apple.com/us/","https://play.google.com/store/apps/"]}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[224,208],"id":"5a11674e-04b2-42a0-b7bf-49d0ba6e9b47","name":"Tavily Tool Search Step 1","credentials":{"tavilyApi":{"id":"2SHWdpC10Rb5CNvy","name":"Tavily: n8n-fef-tavily2"}}},{"parameters":{"resource":"extract","urls":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('urls0_URLs', ``, 'string') }}","={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('urls1_URLs', ``, 'string') }}"],"options":{"include_images":false,"extract_depth":"basic","format":"text"}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[352,208],"id":"330f6026-de33-49d3-bef7-3466dcfa70c3","name":"Tavily Tool Extract Step 2","credentials":{"tavilyApi":{"id":"2SHWdpC10Rb5CNvy","name":"Tavily: n8n-fef-tavily2"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"timeout":30000,"maxRetries":4}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-160,208],"id":"4319c577-fc1e-4441-a2e9-acc90773c76f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1cwTdZ3IxyDTlpjQmhu2hhVbPVCPBoiaafKN6FpFS3pU","mode":"list","cachedResultName":"Mini Coco Game Email Log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cwTdZ3IxyDTlpjQmhu2hhVbPVCPBoiaafKN6FpFS3pU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":424913771,"mode":"list","cachedResultName":"2025","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cwTdZ3IxyDTlpjQmhu2hhVbPVCPBoiaafKN6FpFS3pU/edit#gid=424913771"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('yyyy-MM-dd') }}","Time":"={{ $now.toLocal('America/Los_Angeles').format('HH:mm:ss') }}","Input":"={{ $('input').item.json.input.toJsonString() }}","Output":"={{ $json.output }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time","displayName":"Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Output","displayName":"Output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"iOS App Store URL","displayName":"iOS App Store URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Google Play Store URL","displayName":"Google Play Store URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[944,-16],"id":"16bf6417-294d-440f-8f09-1b0e96c039d5","name":"Append row in sheet","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"url":"https://api.apiflash.com/v1/urltoimage","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"url","value":"={{ $fromAI('parameters0_Value', `use the \"parameters0_Value\" as the url`, 'string') }}"},{"name":"format","value":"jpeg"},{"name":"extract_html","value":"true"},{"name":"response_type","value":"json"},{"name":"delay","value":"1"},{"name":"extract_html","value":"true"},{"name":"extract_text","value":"true"}]},"options":{"redirect":{"redirect":{"maxRedirects":4}},"response":{"response":{"fullResponse":true}},"timeout":10000}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[480,400],"id":"a6eb8f30-f45b-464b-a200-bf54e0787673","name":"Tool Step 3 HTTP APIFlash Scrape","credentials":{"httpQueryAuth":{"id":"53c8DOEpCZYY1eRl","name":"APIFlash Disco b4fc"}},"disabled":true},{"parameters":{"url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `use the extracted_text from the APIFlash scrape tool`, 'string') }}","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{"redirect":{"redirect":{"maxRedirects":3}},"response":{"response":{"fullResponse":true}},"timeout":10000}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[608,400],"id":"822d2411-98c0-4396-95c6-4aa2f194b10c","name":"Tool Step 4 HTTP Get extracted_text","credentials":{"httpQueryAuth":{"id":"53c8DOEpCZYY1eRl","name":"APIFlash Disco b4fc"}},"disabled":true},{"parameters":{"table":"TEST_SVC_N8N.TEST_COMBINED","columns":"SourceNetwork, AdvertiserID, AdvertiserName, CampaignID, ContractStatus, RegionsCountries, Terms, TrackingURL, CREATED_TS, UPDATED_TS"},"type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[-832,312],"id":"6e352efd-a80b-4d07-8a7a-91f63c96ca39","name":"Snowflake","credentials":{"snowflake":{"id":"RC04CfI3v4QBk3xy","name":"Snowflake ops_disco_automation_db dev_wh"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-832,-112],"id":"8226e895-12e7-41bf-a64d-56ad4fae94ea","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"465705c7-79d0-421c-8bd2-31925772eabf","name":"input.game_name","value":"={{ $json.PRODUCT_NAME }}{{ $json.chatInput }}","type":"string"},{"id":"81a4b67c-fb26-4954-ac28-0bcda4f64ab0","name":"input.app_id","value":"={{ $json.APP_ID }}","type":"string"}]},"includeOtherFields":true,"options":{"stripBinary":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-384,-16],"id":"0f336c6d-0fa1-49bf-bad9-e7a4e13d36fd","name":"input"},{"parameters":{"table":"OPS_AUTOMATION_DB.TEST_SVC_N8N.TEST_N8N_GAME_COCO_EMAIL","columns":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Columns', ``, 'string') }}"},"type":"n8n-nodes-base.snowflakeTool","typeVersion":1,"position":[640,208],"id":"e104cf07-f2dd-4aa6-9f58-0eeb639c69b2","name":"Snowflake Tool Insert Row Step 5","credentials":{"snowflake":{"id":"RC04CfI3v4QBk3xy","name":"Snowflake ops_disco_automation_db dev_wh"}}},{"parameters":{"operation":"executeQuery","query":"--//\\\\-- recent games\nSELECT dao.PRODUCT_NAME\n  --,    dao.OFFER_NAME, dao.is_approved,    dao.status,\n    , dao.app_id\nFROM OPS_AUTOMATION_DB.DISCOVER_MART.DIM_ADGATE_OFFERS dao\nWHERE 1=1\n AND dao.is_approved=1\n AND dao.is_game_flag=1\n AND lower(dao.status)='active'\nORDER BY dao.offer_id DESC\nLIMIT 1"},"type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[-608,-112],"id":"c5af9693-eda0-404c-9af2-bfc84488a220","name":"Snowflake get most recent Game","credentials":{"snowflake":{"id":"RC04CfI3v4QBk3xy","name":"Snowflake ops_disco_automation_db dev_wh"}}}],"connections":{"When chat message received":{"main":[[{"node":"input","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Google Sheet Tool Update Row Step 4":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tavily Tool Search Step 1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tavily Tool Extract Step 2":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Tool Step 3 HTTP APIFlash Scrape":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool Step 4 HTTP Get extracted_text":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Snowflake get most recent Game","type":"main","index":0}]]},"input":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Snowflake Tool Insert Row Step 5":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Snowflake get most recent Game":{"main":[[{"node":"input","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null},"tags":[{"updatedAt":"2025-05-19T05:10:36.690Z","createdAt":"2025-05-19T05:10:36.690Z","id":"XbZNUbSszDlg0tE4","name":"Google Service Creds"},{"updatedAt":"2025-04-07T21:34:26.964Z","createdAt":"2025-04-07T21:34:26.964Z","id":"iSmxrxHNYzgZWu50","name":"Robot Framework"},{"updatedAt":"2025-03-28T05:18:56.320Z","createdAt":"2025-03-28T05:18:56.320Z","id":"jEMJy2OFy0YxTQSO","name":"GSheet"},{"updatedAt":"2025-06-06T18:17:45.414Z","createdAt":"2025-05-20T18:50:07.486Z","id":"o9kQdq2i4tcW3ACG","name":"disco PM"},{"updatedAt":"2025-04-30T04:41:58.583Z","createdAt":"2025-04-30T04:41:58.583Z","id":"s7RJscwb71jTz2ag","name":"Snowflake"}]}