GENERIC Anomaly Detection to Slack (BAI-95 b).json
{"updatedAt":"2025-12-18T22:29:14.000Z","createdAt":"2025-12-12T18:55:19.474Z","id":"teiSkerAYLvP7ybJ","name":"GENERIC Anomaly Detection to Slack (BAI-95 b)","active":true,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-5.1","mode":"list","cachedResultName":"gpt-5.1"},"responsesApiEnabled":false,"options":{"timeout":30000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[976,560],"id":"26058256-6087-4339-b48b-f720bc83828b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"httpMethod":"POST","path":"generic-a802-48e3-ad992af233e0","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[304,432],"id":"68af8151-c699-42ca-aefb-f70856a31749","name":"Webhook","webhookId":"3dc58acb-a802-48e3-88ab-ad992af233e0"},{"parameters":{"promptType":"define","text":"=# **Objective**\nIf you detect an anomaly in **Data** below, use the attached Slack Tool: \"Send to Slack {{ $('set Vars').item.json.slackType.toUpperCase()  }}\" and use {{ $('set Vars').item.json.slackTarget }} as the ID.\n\n# Context\n- Current time: {{ $now.format('yyyy-MM-dd HH:mm:ss') }}\n- Timezone: {{ $now.toLocal() }} {{ $now.toLocal().locale }}\n\n# User Controls\n- Standard Deviation Sensitivity (StdDevMultiplier): {{ $('set Vars').item.json.StdDevMultiplier }}\n- Alert Range Units (alertRangeUnits): {{ $('set Vars').item.json.alertRangeUnits }}\n\n# **Data**\nProcess the incoming JSON data for anomalies: {{ $json.data }}\n","options":{"systemMessage":"=# Role\nYou are an automated data monitoring and alerting bot. You analyze a JSON time-series dataset, detect anomalies using standard deviation thresholds, and post one Slack-formatted message if anomalies are found.\n\n# Instructions\n1. Analyze the returned data following the statistical analysis guidelines below\n2. Generate a Slack alert if anomalies are detected\n\n\n# Inputs\nYou will receive input data with the following structure:\n- data: array of objects (rows) - **this will be provided in the input**\n- StdDevMultiplier: number (default 3)\n- alertRangeUnits: integer N, the number of most recent complete time periods\n- timezone: IANA timezone string (default UTC)\n- direction: one of high | low | both (default high)\n\nThe input data will be passed to you as a JSON object. Access the time-series data \nfrom the 'data' field, and configuration parameters from their respective fields.\n\n# Data Structure Analysis\n- Time column detection:\n  - Detect the timestamp/date column by name patterns: date, time, datetime, day, hour, week, month, timestamp, ts.\n  - If multiple candidates exist, choose the most granular column by priority: second > minute > hour > day > week > month. Break ties by the column with the highest distinct count.\n- Time parsing and granularity:\n  - Parse timestamps using $json.timezone.\n  - Determine the dataset’s granularity by inspecting intervals and/or formats.\n  - Define complete periods in the chosen timezone. Exclude the most recent incomplete period.\n  - Week definition: ISO week (Monday start) unless data clearly indicates a different convention.\n- Metric detection:\n  - Consider numeric columns (including numeric strings).\n  - Ignore non-numeric columns and ID-like columns (names containing id, uuid, guid).\n- Aggregation within time buckets:\n  - If multiple rows map to the same time bucket, aggregate per metric by sum.\n\n# Statistical Analysis (Per Metric)\n- Baseline:\n  - Use the full history of complete periods (exclude the current incomplete period).\n  - Compute mean and population standard deviation (divide by N).\n  - If baseline size < max(10, $json.alertRangeUnits), proceed but note limited significance.\n- Thresholds and direction:\n  - Let k = $json.StdDevMultiplier.\n  - Upper = mean + k * stdev\n  - Lower = mean − k * stdev\n  - Direction rules:\n    - high: value > Upper\n    - low: value < Lower\n    - both: apply both rules\n  - If stdev = 0, treat the series as constant; only flag values that deviate from the mean per direction.\n- Alerting window:\n  - Consider only the last N complete periods, where N = $json.alertRangeUnits.\n  - If fewer than N complete periods exist, use the available complete periods and note the reduction.\n\n# Time-Based Filtering and Completeness\n- Build statistics on the full historical set of complete periods.\n- For anomaly detection, use only the last N complete periods.\n- Do not include any partial period in calculations or alerts. Completeness is evaluated using $json.timezone relative to the current period boundary.\n\n# Output Requirements and Constraints\n- Mandatory: produce at most one single message as output.\n- If no anomalies are detected across all metrics, produce no output.\n- Output must be formatted for Slack and may use Markdown for emphasis (bold) and bullet lists.\n- Use actual column names from the data.\n- Adapt references to the correct time unit (second, minute, hour, day, week, month) based on detected granularity.\n- For transparency, include:\n  - Metric name\n  - The time range analyzed for anomalies (last N complete periods, timezone)\n  - A list of each detected anomaly with its time period and value\n  - Sample size used for baseline\n  - Mean and threshold(s): Upper (and Lower if direction ≠ high)\n- When multiple metrics have anomalies, organize findings by metric.\n\n# Slack Message Structure and Formatting\n- Title line with emoji (e.g., \"🚨 Anomaly Detected ... 🚨\")\n- Lines for:\n  - Time Granularity (and Timezone)\n  - Alert Range: \"Past N [units]\"\n- For each metric with anomalies:\n  - Bold section header with the metric name with emoji (e.g., \":spiral_calendar_pad: Revenue\")\n  - Bullet list of anomalies:\n    - Each item: time period label and value\n    - Sorted chronologically descending (most recent first)\n    - Limit to 10; if truncated, append \"+ X more ...\"\n  - Statistical Summary:\n    - Upper threshold\n    - Mean\n    - Lower threshold\n    - Standard Deviation Sensitivity\n    - Baseline sample size\n- Number formatting:\n  - Use thousands separators for large numbers\n  - Round mean/stdev/thresholds to 2 decimals\n  - Detect percentages by name (rate, pct, %) and format to one decimal with a % sign\n  - Detect currency by name (amount, revenue, cost, $) and prefix with $ plus thousands separators\n\n# Edge Cases and Safeguards\n- Insufficient data:\n  - If baseline has very few points (< max(10, N)), include a note about limited significance.\n- Missing values: drop null/NaN from calculations and detection.\n- Duplicate timestamps within a bucket: aggregate by sum.\n- Multiple time columns: pick the most granular per rules.\n- If the time column cannot be parsed or determined, produce no output.\n- If $json.alertRangeUnits exceeds available complete periods, reduce to the available complete periods and note it.\n\n# Behavior Summary\n1. Detect time column and granularity; parse times in $json.timezone; exclude the incomplete current period.\n2. Identify numeric metric columns (ignore ID-like and non-numeric).\n3. Aggregate values per complete time bucket as needed (sum).\n4. Compute baseline mean and population stdev over all complete historical periods.\n5. Determine Upper/Lower thresholds using k = $json.StdDevMultiplier and $json.direction.\n6. Scan only the last N complete periods (N = $json.alertRangeUnits) for anomalies.\n7. If no anomalies are found for all metrics, output nothing; otherwise, produce exactly one Slack-formatted message per the structure above.","maxIterations":5}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1040,336],"id":"d58ce022-8687-494c-9537-0bc8e9704e47","name":"AI Agent Generic Anomaly"},{"parameters":{"content":"Webhook: https://prodegellc.app.n8n.cloud/webhook/generic-a802-48e3-ad992af233e0\nSet parameters:\n- ?StdDevMultiplier=2.5\n- &alertRangeUnits=3\n- &slackType=user (or 'channel')\n- &slackTarget=U2Y1ESCBZ (Slack User ID or name of channel without hash, e.g. 'ncrave-adops')","width":864,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-128,464],"typeVersion":1,"id":"f43d48b3-39ae-4e44-b8d1-a4a76f739f5d","name":"Sticky Note"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"body","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[80,240],"id":"486ee9c7-2e14-46ed-b359-bfcf7cad6d58","name":"Aggregate"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-368,144],"id":"78a25a47-29e1-4eae-bc2f-9f6ad9d09123","name":"Click"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    TO_CHAR(zd.created_at, 'YYYY-MM-DD HH24:00') AS created_date_hour\n    , zd.status\n    , COUNT(DISTINCT zd.ticket_id)\nFROM zendesk_db.zendesk_support.tickets zd\nJOIN zendesk_db.zendesk_support.ticket_tags zt ON zd.ticket_id = zt.ticket_id\nWHERE 1=1\n    --AND zd.ticket_id=16808425 // 2025-1029 added as example of a single ticket\n    AND zd.created_at >= DATEADD('day', -7, CURRENT_DATE())\n    --AND zd.created_at <= DATEADD('day', 0, CURRENT_DATE())\n    AND zd.custom_intent ILIKE '%offer%'\n    AND zd.status NOT IN ('solved','closed')\n    AND zd.brand_id NOT IN ('17689546278164','33000050083988') -- Adgate, PPN\n    AND zd.group_id NOT IN ('16297850363668') -- Verification group\n    AND zd.\"via/channel\" NOT LIKE 'native_messaging'\n    AND UPPER(zd.status) IN ('NEW','OPEN','PENDING')\nGROUP BY 1, 2\nORDER BY created_date_hour DESC\nLIMIT 450"},"type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[-144,240],"id":"14f0e99d-f7e0-4c25-8e6d-b76851337827","name":"SQL: Zendesk Tickets by Status","credentials":{"snowflake":{"id":"gyAQtZa8Xv82pKrh","name":"Snowflake SUPPORT n8n-support-gservice-2025oct"}}},{"parameters":{"content":"## Anomaly Notification\n\nUse data in generic format of:\n- x-axis = time unit\n- y-axis = numeric value(s)\n\nTrigger: Manual, Scheduled, Webhook\n\n### Webhook\n- Allow generic data input from sources like Sigma\n\n### Manual/Scheduled Snowflake:\n- Queries Zendesk ticket data from Snowflake\n- Transforms flat SQL results into nested JSON format\n- Aggregates multiple rows into single structured output","height":416,"width":464},"type":"n8n-nodes-base.stickyNote","position":[-352,-288],"typeVersion":1,"id":"b2067d07-19b2-4471-b1d7-4d5b79f8bbef","name":"Sticky Note3"},{"parameters":{"content":"## Robustness Improvements\n\n### Error Handling:\n- Add error handling for Snowflake connection failures\n- Validate SQL query returns data before transformation\n- Add retry logic with 3 attempts and exponential backoff\n\n### Data Validation:\n- Check for null/empty results from SQL query\n- Validate date formats before transformation\n- Add logging node to track execution history\n\n### Best Practices:\n- Add timeout handling (300s max)\n- Include data quality checks for ticket_count > 0\n- Consider adding data freshness validation","height":416,"width":448,"color":3},"type":"n8n-nodes-base.stickyNote","position":[128,-288],"typeVersion":1,"id":"832cde57-1d42-48d6-a6b1-d4f62474ae0a","name":"Sticky Note4"},{"parameters":{"content":"## Required Credentials\n\n### Snowflake:\n- Type: Service Account\n- Name: Snowflake SUPPORT n8n-support-gservice-2025oct\n- Access: Read-only on zendesk_db schema\n- Storage Location: n8n Cloud Credentials Manager","height":416,"width":352,"color":5},"type":"n8n-nodes-base.stickyNote","position":[608,-288],"typeVersion":1,"id":"b35e87f0-6b61-42a6-8257-a69d2723f106","name":"Sticky Note5"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Channel', ``, 'string') }}","mode":"name"},"text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_Text', ``, 'string') }}","otherOptions":{"includeLinkToWorkflow":true,"mrkdwn":true}},"type":"n8n-nodes-base.slackTool","typeVersion":2.3,"position":[1104,560],"id":"a4c8d2fe-c994-485e-adb9-2820ddccb9c0","name":"Send to Slack CHANNEL","webhookId":"dd33af5d-2fec-4b56-ab96-359b28643e4a","credentials":{"slackApi":{"id":"3toyTjW1jCWQIrsZ","name":"Slack Access Token n8n (LastPass)"}}},{"parameters":{"select":"user","user":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('User', ``, 'string') }}","mode":"id"},"text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_Text', ``, 'string') }}","otherOptions":{"includeLinkToWorkflow":true,"mrkdwn":true}},"type":"n8n-nodes-base.slackTool","typeVersion":2.3,"position":[1232,560],"id":"5a2f1e5a-1bc7-4acf-b4f8-2ccf6659d72c","name":"Send to Slack USER","webhookId":"dd33af5d-2fec-4b56-ab96-359b28643e4a","credentials":{"slackApi":{"id":"3toyTjW1jCWQIrsZ","name":"Slack Access Token n8n (LastPass)"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"97322d9c-a9dd-4744-af3c-fd20e0cd4da6","leftValue":"={{ $json.slackType }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[752,336],"id":"791d06e6-7b8a-4ff2-b301-f1a844b0fc95","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"bad37810-dd8b-4e4d-8052-55e8c9f3bd76","name":"data","value":"={{ $json.body.toJsonString() }}","type":"string"},{"id":"6bc5d666-bcdd-4b7f-bba4-013b394dc418","name":"alertRangeUnits","value":"={{ $json.query?.alertRangeUnits ?? 10 }}","type":"number"},{"id":"07a6deec-41c9-4ced-85b5-c1e9c7193423","name":"StdDevMultiplier","value":"={{ $json.query?.StdDevMultiplier ?? 2.0 }}","type":"number"},{"id":"dfbdbae7-9338-435e-8fab-3079ece1c616","name":"slackUserID.Feffer","value":"U2Y1ESCBZ","type":"string"},{"id":"c47ea308-1d09-408c-8745-72d6ae4f8cd0","name":"slackUserID.Kristie","value":"U1RHSMFGA","type":"string"},{"id":"1edff41b-7c31-43bf-8cda-55d01caaf678","name":"slackType","value":"={{ $json.query?.slackType ?? 'channel' }}","type":"string"},{"id":"466226a4-3f58-4d0b-b8c3-575fee308c96","name":"=slackTarget","value":"={{ $json.query?.slackTarget ?? 'test-fake-data-testing' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[528,336],"id":"cbf2cd94-8eca-4346-80ef-cd986b6e2322","name":"set Vars"},{"parameters":{"content":"**ChatGPT 5.1 (API) usage likely cost** using current OpenAI pricing (API token billing):\n\n### 📊 Token Usage You Provided\n* **Prompt tokens:** 24,227\n* **Completion tokens:** 294\n* **Total tokens:** 24,521\n\n### 💰 GPT-5.1 API Pricing (Standard Rates)\nAccording to OpenAI’s official API pricing:\n* **Input tokens:** **$1.25 / 1M tokens**\n* **Output tokens:** **$10.00 / 1M tokens** ([OpenAI Platform][1])\n\nThat means:\n* Each **input token** costs **$1.25 ÷ 1,000,000 ≈ $0.00000125**\n* Each **output token** costs **$10 ÷ 1,000,000 ≈ $0.00001** ([OpenAI Platform][1])\n\n### 🧮 Cost Breakdown\n#### 🔹 Input Cost\nPrompt tokens (24,227) × $0.00000125 ≈ **$0.03028**\n\n#### 🔹 Output Cost\nCompletion tokens (294) × $0.00001 ≈ **$0.00294**\n\n✅ Estimated Total Cost\n**≈ $0.0332** (about **3.3 cents USD**) for that single API call.\n\n### Notes & Clarifications\n* **Prompt caching discounts:** If you’re reusing the same system prompt or few repeated tokens, OpenAI applies a cached-input discount (often ~90%, dramatically lowering input cost). That could *reduce your real cost further*. ([ThePromptBuddy][2])\n* This estimate assumes **standard (non-cached) billing**. With caching, your input cost could be even lower.\n* These figures are based on **GPT-5.1 API pricing** — if you’re using a *specific variant* (like “gpt-5.1-chat-latest”), rates are the same by official docs. ([OpenAI Platform][1])","height":768,"width":880,"color":4},"type":"n8n-nodes-base.stickyNote","position":[992,-464],"typeVersion":1,"id":"5e462303-a6b5-4dc2-a399-67741d211f14","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"199fba0e-9ea2-4e0d-bb21-496234e15f99","name":"query.alertRangeUnits","value":"48","type":"string"},{"id":"b02655e8-3f02-4917-936e-a3142d384937","name":"query.slackType","value":"channel","type":"string"},{"id":"df5bedd3-adae-4cfb-abe7-d63dbdea2aab","name":"query.slackTarget","value":"test-fake-data-testing","type":"string"},{"id":"f5faf282-c43d-4a6a-a52d-1a491f6f6bda","name":"query.StdDevMultiplier","value":1.5,"type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,240],"id":"503aa862-96b2-4156-a471-350e44fff0d5","name":"set Manual Vars"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"43 10 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-368,336],"id":"f3ec3dbc-d9be-43cd-909b-1030972671c3","name":"Schedule Trigger"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent Generic Anomaly","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"set Vars","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"set Manual Vars","type":"main","index":0}]]},"Click":{"main":[[{"node":"SQL: Zendesk Tickets by Status","type":"main","index":0}]]},"SQL: Zendesk Tickets by Status":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Send to Slack CHANNEL":{"ai_tool":[[{"node":"AI Agent Generic Anomaly","type":"ai_tool","index":0}]]},"Send to Slack USER":{"ai_tool":[[{"node":"AI Agent Generic Anomaly","type":"ai_tool","index":0}]]},"If":{"main":[[{"node":"AI Agent Generic Anomaly","type":"main","index":0}]]},"set Vars":{"main":[[{"node":"If","type":"main","index":0}]]},"set Manual Vars":{"main":[[{"node":"set Vars","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"SQL: Zendesk Tickets by Status","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":300,"availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"prodegellc.app.n8n.cloud","user-agent":"crossover/76d1515ac1e9e3b7730b4712174d7682510ac032 (admin@sigmacomputing.com)","content-length":"62142","accept":"*/*","accept-encoding":"gzip, br","baggage":"sentry-environment=production,sentry-release=76d1515ac1e9e3b7730b4712174d7682510ac032,sentry-public_key=b1c902c5ecdd4bf189b3ffeccabfcc71,sentry-trace_id=2550f2ca400a493187e24b8089844393","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"54.188.54.135","cf-ew-via":"15","cf-ipcountry":"US","cf-ray":"9aefbb3703fbb248-PDX","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"application/json","sentry-trace":"2550f2ca400a493187e24b8089844393-827e8d641f7b2e4d","x-forwarded-for":"54.188.54.135, 104.23.160.105","x-forwarded-host":"prodegellc.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-30-6d57d45df-ngfj2","x-is-trusted":"yes","x-real-ip":"54.188.54.135"},"params":{},"query":{"slackUserID":"U2Y1ESCBZ","StdDevMultiplier":"2.5","alertRangeDays":"3"},"body":[{"Day of EVENT_DATE":"2025-12-15 00:00:00","Installs":53320,"Total Revenue":290938.3},{"Day of EVENT_DATE":"2025-12-14 00:00:00","Installs":66596,"Total Revenue":283352.4},{"Day of EVENT_DATE":"2025-12-13 00:00:00","Installs":59426,"Total Revenue":249695.76},{"Day of EVENT_DATE":"2025-12-12 00:00:00","Installs":56955,"Total Revenue":292328.47},{"Day of EVENT_DATE":"2025-12-11 00:00:00","Installs":61266,"Total Revenue":341152.53},{"Day of EVENT_DATE":"2025-12-10 00:00:00","Installs":63325,"Total Revenue":369174.99},{"Day of EVENT_DATE":"2025-12-09 00:00:00","Installs":68330,"Total Revenue":316039.95},{"Day of EVENT_DATE":"2025-12-08 00:00:00","Installs":69360,"Total Revenue":339341.13},{"Day of EVENT_DATE":"2025-12-07 00:00:00","Installs":71883,"Total Revenue":335373.64},{"Day of EVENT_DATE":"2025-12-06 00:00:00","Installs":66491,"Total Revenue":319632.91},{"Day of EVENT_DATE":"2025-12-05 00:00:00","Installs":63703,"Total Revenue":334343.42},{"Day of EVENT_DATE":"2025-12-04 00:00:00","Installs":64371,"Total Revenue":337348.38},{"Day of EVENT_DATE":"2025-12-03 00:00:00","Installs":71117,"Total Revenue":411569.34},{"Day of EVENT_DATE":"2025-12-02 00:00:00","Installs":72019,"Total Revenue":317532.83},{"Day of EVENT_DATE":"2025-12-01 00:00:00","Installs":65006,"Total Revenue":306379.52},{"Day of EVENT_DATE":"2025-11-30 00:00:00","Installs":68863,"Total Revenue":287034.05},{"Day of EVENT_DATE":"2025-11-29 00:00:00","Installs":65598,"Total Revenue":276657.99},{"Day of EVENT_DATE":"2025-11-28 00:00:00","Installs":62975,"Total Revenue":296629.62},{"Day of EVENT_DATE":"2025-11-27 00:00:00","Installs":61418,"Total Revenue":267824.82},{"Day of EVENT_DATE":"2025-11-26 00:00:00","Installs":68223,"Total Revenue":338164.86},{"Day of EVENT_DATE":"2025-11-25 00:00:00","Installs":72912,"Total Revenue":409397.48},{"Day of EVENT_DATE":"2025-11-24 00:00:00","Installs":75210,"Total Revenue":365457.52},{"Day of EVENT_DATE":"2025-11-23 00:00:00","Installs":76138,"Total Revenue":282844.89},{"Day of EVENT_DATE":"2025-11-22 00:00:00","Installs":68895,"Total Revenue":277196.02},{"Day of EVENT_DATE":"2025-11-21 00:00:00","Installs":63583,"Total Revenue":285441.59},{"Day of EVENT_DATE":"2025-11-20 00:00:00","Installs":79432,"Total Revenue":361162.96},{"Day of EVENT_DATE":"2025-11-19 00:00:00","Installs":70698,"Total Revenue":405946.74},{"Day of EVENT_DATE":"2025-11-18 00:00:00","Installs":44132,"Total Revenue":222721.01},{"Day of EVENT_DATE":"2025-11-17 00:00:00","Installs":67211,"Total Revenue":300787.46},{"Day of EVENT_DATE":"2025-11-16 00:00:00","Installs":70372,"Total Revenue":298932.82},{"Day of EVENT_DATE":"2025-11-15 00:00:00","Installs":64742,"Total Revenue":266659.67},{"Day of EVENT_DATE":"2025-11-14 00:00:00","Installs":64043,"Total Revenue":319060.92},{"Day of EVENT_DATE":"2025-11-13 00:00:00","Installs":63798,"Total Revenue":296830.99},{"Day of EVENT_DATE":"2025-11-12 00:00:00","Installs":69875,"Total Revenue":383598.31},{"Day of EVENT_DATE":"2025-11-11 00:00:00","Installs":70029,"Total Revenue":295309.02},{"Day of EVENT_DATE":"2025-11-10 00:00:00","Installs":66965,"Total Revenue":307652.88},{"Day of EVENT_DATE":"2025-11-09 00:00:00","Installs":66914,"Total Revenue":302590.14},{"Day of EVENT_DATE":"2025-11-08 00:00:00","Installs":64734,"Total Revenue":283454.67},{"Day of EVENT_DATE":"2025-11-07 00:00:00","Installs":61877,"Total Revenue":308433.27},{"Day of EVENT_DATE":"2025-11-06 00:00:00","Installs":63637,"Total Revenue":308642.93},{"Day of EVENT_DATE":"2025-11-05 00:00:00","Installs":64816,"Total Revenue":340324.73},{"Day of EVENT_DATE":"2025-11-04 00:00:00","Installs":66176,"Total Revenue":310331.22},{"Day of EVENT_DATE":"2025-11-03 00:00:00","Installs":60932,"Total Revenue":281386.18},{"Day of EVENT_DATE":"2025-11-02 00:00:00","Installs":67017,"Total Revenue":298795.69},{"Day of EVENT_DATE":"2025-11-01 00:00:00","Installs":59017,"Total Revenue":281400.74},{"Day of EVENT_DATE":"2025-10-31 00:00:00","Installs":54232,"Total Revenue":303955.01},{"Day of EVENT_DATE":"2025-10-30 00:00:00","Installs":63254,"Total Revenue":313678.14},{"Day of EVENT_DATE":"2025-10-29 00:00:00","Installs":65392,"Total Revenue":390165.32},{"Day of EVENT_DATE":"2025-10-28 00:00:00","Installs":68174,"Total Revenue":321814.89},{"Day of EVENT_DATE":"2025-10-27 00:00:00","Installs":71061,"Total Revenue":311842.61},{"Day of EVENT_DATE":"2025-10-26 00:00:00","Installs":68874,"Total Revenue":299708.84},{"Day of EVENT_DATE":"2025-10-25 00:00:00","Installs":63476,"Total Revenue":288962.31},{"Day of EVENT_DATE":"2025-10-24 00:00:00","Installs":58840,"Total Revenue":302304.81},{"Day of EVENT_DATE":"2025-10-23 00:00:00","Installs":58863,"Total Revenue":328555.34},{"Day of EVENT_DATE":"2025-10-22 00:00:00","Installs":62002,"Total Revenue":357351.42},{"Day of EVENT_DATE":"2025-10-21 00:00:00","Installs":64468,"Total Revenue":327641.39},{"Day of EVENT_DATE":"2025-10-20 00:00:00","Installs":61865,"Total Revenue":304666.38},{"Day of EVENT_DATE":"2025-10-19 00:00:00","Installs":67004,"Total Revenue":320726.71},{"Day of EVENT_DATE":"2025-10-18 00:00:00","Installs":63241,"Total Revenue":311558.12},{"Day of EVENT_DATE":"2025-10-17 00:00:00","Installs":62692,"Total Revenue":342663.07},{"Day of EVENT_DATE":"2025-10-16 00:00:00","Installs":61718,"Total Revenue":321207.43},{"Day of EVENT_DATE":"2025-10-15 00:00:00","Installs":62186,"Total Revenue":336574.79},{"Day of EVENT_DATE":"2025-10-14 00:00:00","Installs":61737,"Total Revenue":321639.94},{"Day of EVENT_DATE":"2025-10-13 00:00:00","Installs":63944,"Total Revenue":306755.89},{"Day of EVENT_DATE":"2025-10-12 00:00:00","Installs":64765,"Total Revenue":303695.42},{"Day of EVENT_DATE":"2025-10-11 00:00:00","Installs":61258,"Total Revenue":294881.14},{"Day of EVENT_DATE":"2025-10-10 00:00:00","Installs":55246,"Total Revenue":310051.05},{"Day of EVENT_DATE":"2025-10-09 00:00:00","Installs":58211,"Total Revenue":293512.47},{"Day of EVENT_DATE":"2025-10-08 00:00:00","Installs":61923,"Total Revenue":325880.8},{"Day of EVENT_DATE":"2025-10-07 00:00:00","Installs":62770,"Total Revenue":282204.92},{"Day of EVENT_DATE":"2025-10-06 00:00:00","Installs":60665,"Total Revenue":277289.81},{"Day of EVENT_DATE":"2025-10-05 00:00:00","Installs":63246,"Total Revenue":286597.26},{"Day of EVENT_DATE":"2025-10-04 00:00:00","Installs":60577,"Total Revenue":274102.91},{"Day of EVENT_DATE":"2025-10-03 00:00:00","Installs":56567,"Total Revenue":292304.94},{"Day of EVENT_DATE":"2025-10-02 00:00:00","Installs":56845,"Total Revenue":284018.89},{"Day of EVENT_DATE":"2025-10-01 00:00:00","Installs":59442,"Total Revenue":328519.57},{"Day of EVENT_DATE":"2025-09-30 00:00:00","Installs":59633,"Total Revenue":540270.89},{"Day of EVENT_DATE":"2025-09-29 00:00:00","Installs":63419,"Total Revenue":331806.26},{"Day of EVENT_DATE":"2025-09-28 00:00:00","Installs":68421,"Total Revenue":316655.15},{"Day of EVENT_DATE":"2025-09-27 00:00:00","Installs":66855,"Total Revenue":296749.29},{"Day of EVENT_DATE":"2025-09-26 00:00:00","Installs":64003,"Total Revenue":319149.19},{"Day of EVENT_DATE":"2025-09-25 00:00:00","Installs":65785,"Total Revenue":312485.87},{"Day of EVENT_DATE":"2025-09-24 00:00:00","Installs":66143,"Total Revenue":355074.42},{"Day of EVENT_DATE":"2025-09-23 00:00:00","Installs":66414,"Total Revenue":329913.31},{"Day of EVENT_DATE":"2025-09-22 00:00:00","Installs":64295,"Total Revenue":318812.72},{"Day of EVENT_DATE":"2025-09-21 00:00:00","Installs":68702,"Total Revenue":311045.19},{"Day of EVENT_DATE":"2025-09-20 00:00:00","Installs":64254,"Total Revenue":280033.71},{"Day of EVENT_DATE":"2025-09-19 00:00:00","Installs":59434,"Total Revenue":286237.7},{"Day of EVENT_DATE":"2025-09-18 00:00:00","Installs":62909,"Total Revenue":305160.14},{"Day of EVENT_DATE":"2025-09-17 00:00:00","Installs":63800,"Total Revenue":325462.36},{"Day of EVENT_DATE":"2025-09-16 00:00:00","Installs":62506,"Total Revenue":315930.49},{"Day of EVENT_DATE":"2025-09-15 00:00:00","Installs":64104,"Total Revenue":309804.19},{"Day of EVENT_DATE":"2025-09-14 00:00:00","Installs":70238,"Total Revenue":326203.03},{"Day of EVENT_DATE":"2025-09-13 00:00:00","Installs":67002,"Total Revenue":307353.34},{"Day of EVENT_DATE":"2025-09-12 00:00:00","Installs":60760,"Total Revenue":301074.33},{"Day of EVENT_DATE":"2025-09-11 00:00:00","Installs":61609,"Total Revenue":310362.56},{"Day of EVENT_DATE":"2025-09-10 00:00:00","Installs":64543,"Total Revenue":331341.62},{"Day of EVENT_DATE":"2025-09-09 00:00:00","Installs":74506,"Total Revenue":323017.9},{"Day of EVENT_DATE":"2025-09-08 00:00:00","Installs":82179,"Total Revenue":346537.39},{"Day of EVENT_DATE":"2025-09-07 00:00:00","Installs":85674,"Total Revenue":343581.37},{"Day of EVENT_DATE":"2025-09-06 00:00:00","Installs":84103,"Total Revenue":328080.37},{"Day of EVENT_DATE":"2025-09-05 00:00:00","Installs":76587,"Total Revenue":325348.32},{"Day of EVENT_DATE":"2025-09-04 00:00:00","Installs":77630,"Total Revenue":328272.77},{"Day of EVENT_DATE":"2025-09-03 00:00:00","Installs":84456,"Total Revenue":352786.69},{"Day of EVENT_DATE":"2025-09-02 00:00:00","Installs":85712,"Total Revenue":313013.46},{"Day of EVENT_DATE":"2025-09-01 00:00:00","Installs":85632,"Total Revenue":298980.11},{"Day of EVENT_DATE":"2025-08-31 00:00:00","Installs":90382,"Total Revenue":313888.35},{"Day of EVENT_DATE":"2025-08-30 00:00:00","Installs":85860,"Total Revenue":303481},{"Day of EVENT_DATE":"2025-08-29 00:00:00","Installs":83374,"Total Revenue":335211.92},{"Day of EVENT_DATE":"2025-08-28 00:00:00","Installs":84785,"Total Revenue":320682.72},{"Day of EVENT_DATE":"2025-08-27 00:00:00","Installs":89435,"Total Revenue":347701.29},{"Day of EVENT_DATE":"2025-08-26 00:00:00","Installs":90714,"Total Revenue":316763.32},{"Day of EVENT_DATE":"2025-08-25 00:00:00","Installs":85210,"Total Revenue":304545.53},{"Day of EVENT_DATE":"2025-08-24 00:00:00","Installs":87280,"Total Revenue":327409.9},{"Day of EVENT_DATE":"2025-08-23 00:00:00","Installs":84210,"Total Revenue":323842.58},{"Day of EVENT_DATE":"2025-08-22 00:00:00","Installs":79628,"Total Revenue":333606.51},{"Day of EVENT_DATE":"2025-08-21 00:00:00","Installs":86020,"Total Revenue":322862.02},{"Day of EVENT_DATE":"2025-08-20 00:00:00","Installs":87228,"Total Revenue":323781.12},{"Day of EVENT_DATE":"2025-08-19 00:00:00","Installs":90390,"Total Revenue":316877.96},{"Day of EVENT_DATE":"2025-08-18 00:00:00","Installs":85459,"Total Revenue":303558.2},{"Day of EVENT_DATE":"2025-08-17 00:00:00","Installs":85997,"Total Revenue":307461.34},{"Day of EVENT_DATE":"2025-08-16 00:00:00","Installs":78264,"Total Revenue":286970.5},{"Day of EVENT_DATE":"2025-08-15 00:00:00","Installs":76950,"Total Revenue":337908.79},{"Day of EVENT_DATE":"2025-08-14 00:00:00","Installs":80783,"Total Revenue":289914.61},{"Day of EVENT_DATE":"2025-08-13 00:00:00","Installs":85112,"Total Revenue":323792.49},{"Day of EVENT_DATE":"2025-08-12 00:00:00","Installs":84647,"Total Revenue":286867.65},{"Day of EVENT_DATE":"2025-08-11 00:00:00","Installs":76581,"Total Revenue":275450.39},{"Day of EVENT_DATE":"2025-08-10 00:00:00","Installs":79487,"Total Revenue":285571.98},{"Day of EVENT_DATE":"2025-08-09 00:00:00","Installs":75514,"Total Revenue":357077.67},{"Day of EVENT_DATE":"2025-08-08 00:00:00","Installs":72464,"Total Revenue":301270.66},{"Day of EVENT_DATE":"2025-08-07 00:00:00","Installs":81316,"Total Revenue":288719.23},{"Day of EVENT_DATE":"2025-08-06 00:00:00","Installs":80317,"Total Revenue":326029.65},{"Day of EVENT_DATE":"2025-08-05 00:00:00","Installs":83238,"Total Revenue":302535.43},{"Day of EVENT_DATE":"2025-08-04 00:00:00","Installs":72828,"Total Revenue":291201.22},{"Day of EVENT_DATE":"2025-08-03 00:00:00","Installs":71690,"Total Revenue":287798.05},{"Day of EVENT_DATE":"2025-08-02 00:00:00","Installs":67655,"Total Revenue":279365.81},{"Day of EVENT_DATE":"2025-08-01 00:00:00","Installs":67303,"Total Revenue":317628.91},{"Day of EVENT_DATE":"2025-07-31 00:00:00","Installs":73049,"Total Revenue":326033.68},{"Day of EVENT_DATE":"2025-07-30 00:00:00","Installs":77663,"Total Revenue":339319.86},{"Day of EVENT_DATE":"2025-07-29 00:00:00","Installs":79789,"Total Revenue":319410.19},{"Day of EVENT_DATE":"2025-07-28 00:00:00","Installs":79710,"Total Revenue":304746.52},{"Day of EVENT_DATE":"2025-07-27 00:00:00","Installs":79375,"Total Revenue":300410.1},{"Day of EVENT_DATE":"2025-07-26 00:00:00","Installs":77388,"Total Revenue":296224.6},{"Day of EVENT_DATE":"2025-07-25 00:00:00","Installs":75633,"Total Revenue":313000.93},{"Day of EVENT_DATE":"2025-07-24 00:00:00","Installs":78605,"Total Revenue":298028.67},{"Day of EVENT_DATE":"2025-07-23 00:00:00","Installs":79730,"Total Revenue":333036.81},{"Day of EVENT_DATE":"2025-07-22 00:00:00","Installs":78327,"Total Revenue":308757.16},{"Day of EVENT_DATE":"2025-07-21 00:00:00","Installs":79344,"Total Revenue":323952.33},{"Day of EVENT_DATE":"2025-07-20 00:00:00","Installs":80582,"Total Revenue":299988.5},{"Day of EVENT_DATE":"2025-07-19 00:00:00","Installs":78085,"Total Revenue":303880.29},{"Day of EVENT_DATE":"2025-07-18 00:00:00","Installs":76051,"Total Revenue":345656.09},{"Day of EVENT_DATE":"2025-07-17 00:00:00","Installs":83344,"Total Revenue":343124.01},{"Day of EVENT_DATE":"2025-07-16 00:00:00","Installs":84543,"Total Revenue":352406.54},{"Day of EVENT_DATE":"2025-07-15 00:00:00","Installs":81716,"Total Revenue":339873.22},{"Day of EVENT_DATE":"2025-07-14 00:00:00","Installs":78186,"Total Revenue":318663.08},{"Day of EVENT_DATE":"2025-07-13 00:00:00","Installs":76497,"Total Revenue":308134.4},{"Day of EVENT_DATE":"2025-07-12 00:00:00","Installs":74375,"Total Revenue":288407.51},{"Day of EVENT_DATE":"2025-07-11 00:00:00","Installs":70153,"Total Revenue":320048.71},{"Day of EVENT_DATE":"2025-07-10 00:00:00","Installs":76377,"Total Revenue":325876.34},{"Day of EVENT_DATE":"2025-07-09 00:00:00","Installs":78462,"Total Revenue":350548.24},{"Day of EVENT_DATE":"2025-07-08 00:00:00","Installs":77633,"Total Revenue":319426.29},{"Day of EVENT_DATE":"2025-07-07 00:00:00","Installs":76040,"Total Revenue":339285.89},{"Day of EVENT_DATE":"2025-07-06 00:00:00","Installs":73962,"Total Revenue":292262.88},{"Day of EVENT_DATE":"2025-07-05 00:00:00","Installs":69712,"Total Revenue":297986.81},{"Day of EVENT_DATE":"2025-07-04 00:00:00","Installs":68109,"Total Revenue":303827.07},{"Day of EVENT_DATE":"2025-07-03 00:00:00","Installs":72035,"Total Revenue":407862.07},{"Day of EVENT_DATE":"2025-07-02 00:00:00","Installs":68764,"Total Revenue":313961.31},{"Day of EVENT_DATE":"2025-07-01 00:00:00","Installs":75199,"Total Revenue":364940.09},{"Day of EVENT_DATE":"2025-06-30 00:00:00","Installs":76292,"Total Revenue":288396.55},{"Day of EVENT_DATE":"2025-06-29 00:00:00","Installs":77642,"Total Revenue":338712.2},{"Day of EVENT_DATE":"2025-06-28 00:00:00","Installs":76030,"Total Revenue":367044.5},{"Day of EVENT_DATE":"2025-06-27 00:00:00","Installs":75242,"Total Revenue":380352.05},{"Day of EVENT_DATE":"2025-06-26 00:00:00","Installs":77743,"Total Revenue":350579.66},{"Day of EVENT_DATE":"2025-06-25 00:00:00","Installs":79176,"Total Revenue":360870.06},{"Day of EVENT_DATE":"2025-06-24 00:00:00","Installs":80318,"Total Revenue":337309.48},{"Day of EVENT_DATE":"2025-06-23 00:00:00","Installs":76204,"Total Revenue":307293.38},{"Day of EVENT_DATE":"2025-06-22 00:00:00","Installs":78556,"Total Revenue":317631},{"Day of EVENT_DATE":"2025-06-21 00:00:00","Installs":74636,"Total Revenue":309114.16},{"Day of EVENT_DATE":"2025-06-20 00:00:00","Installs":74166,"Total Revenue":324086.96},{"Day of EVENT_DATE":"2025-06-19 00:00:00","Installs":67890,"Total Revenue":373624.52},{"Day of EVENT_DATE":"2025-06-18 00:00:00","Installs":78123,"Total Revenue":361269.27},{"Day of EVENT_DATE":"2025-06-17 00:00:00","Installs":76013,"Total Revenue":357093.65},{"Day of EVENT_DATE":"2025-06-16 00:00:00","Installs":76651,"Total Revenue":304159.33},{"Day of EVENT_DATE":"2025-06-15 00:00:00","Installs":69006,"Total Revenue":302740.69},{"Day of EVENT_DATE":"2025-06-14 00:00:00","Installs":66908,"Total Revenue":325447.08},{"Day of EVENT_DATE":"2025-06-13 00:00:00","Installs":65231,"Total Revenue":363655.56},{"Day of EVENT_DATE":"2025-06-12 00:00:00","Installs":69302,"Total Revenue":307417.21},{"Day of EVENT_DATE":"2025-06-11 00:00:00","Installs":71464,"Total Revenue":321406.31},{"Day of EVENT_DATE":"2025-06-10 00:00:00","Installs":75295,"Total Revenue":283560.76},{"Day of EVENT_DATE":"2025-06-09 00:00:00","Installs":69652,"Total Revenue":271945.84},{"Day of EVENT_DATE":"2025-06-08 00:00:00","Installs":64101,"Total Revenue":272163.85},{"Day of EVENT_DATE":"2025-06-07 00:00:00","Installs":59026,"Total Revenue":273384.81},{"Day of EVENT_DATE":"2025-06-06 00:00:00","Installs":56721,"Total Revenue":264532.82},{"Day of EVENT_DATE":"2025-06-05 00:00:00","Installs":59684,"Total Revenue":280576.53},{"Day of EVENT_DATE":"2025-06-04 00:00:00","Installs":82817,"Total Revenue":453969.57},{"Day of EVENT_DATE":"2025-06-03 00:00:00","Installs":64530,"Total Revenue":315137.79},{"Day of EVENT_DATE":"2025-06-02 00:00:00","Installs":46208,"Total Revenue":177521.13},{"Day of EVENT_DATE":"2025-06-01 00:00:00","Installs":65693,"Total Revenue":263347.27},{"Day of EVENT_DATE":"2025-05-31 00:00:00","Installs":62602,"Total Revenue":255983.76},{"Day of EVENT_DATE":"2025-05-30 00:00:00","Installs":60717,"Total Revenue":292329.57},{"Day of EVENT_DATE":"2025-05-29 00:00:00","Installs":63939,"Total Revenue":314308.84},{"Day of EVENT_DATE":"2025-05-28 00:00:00","Installs":63543,"Total Revenue":288079.02},{"Day of EVENT_DATE":"2025-05-27 00:00:00","Installs":65770,"Total Revenue":299984.39},{"Day of EVENT_DATE":"2025-05-26 00:00:00","Installs":64052,"Total Revenue":268108.91},{"Day of EVENT_DATE":"2025-05-25 00:00:00","Installs":66404,"Total Revenue":267314.76},{"Day of EVENT_DATE":"2025-05-24 00:00:00","Installs":62268,"Total Revenue":248194.33},{"Day of EVENT_DATE":"2025-05-23 00:00:00","Installs":59950,"Total Revenue":246339.52},{"Day of EVENT_DATE":"2025-05-22 00:00:00","Installs":63225,"Total Revenue":245683.88},{"Day of EVENT_DATE":"2025-05-21 00:00:00","Installs":65441,"Total Revenue":255436.92},{"Day of EVENT_DATE":"2025-05-20 00:00:00","Installs":67611,"Total Revenue":264107.59},{"Day of EVENT_DATE":"2025-05-19 00:00:00","Installs":66876,"Total Revenue":267352.8},{"Day of EVENT_DATE":"2025-05-18 00:00:00","Installs":70038,"Total Revenue":259889.74},{"Day of EVENT_DATE":"2025-05-17 00:00:00","Installs":67070,"Total Revenue":249334.7},{"Day of EVENT_DATE":"2025-05-16 00:00:00","Installs":61274,"Total Revenue":228218.31},{"Day of EVENT_DATE":"2025-05-15 00:00:00","Installs":61791,"Total Revenue":244608.4},{"Day of EVENT_DATE":"2025-05-14 00:00:00","Installs":63476,"Total Revenue":261496.76},{"Day of EVENT_DATE":"2025-05-13 00:00:00","Installs":67673,"Total Revenue":278304.64},{"Day of EVENT_DATE":"2025-05-12 00:00:00","Installs":66269,"Total Revenue":266738.19},{"Day of EVENT_DATE":"2025-05-11 00:00:00","Installs":65900,"Total Revenue":239404.04},{"Day of EVENT_DATE":"2025-05-10 00:00:00","Installs":64550,"Total Revenue":236382.28},{"Day of EVENT_DATE":"2025-05-09 00:00:00","Installs":65317,"Total Revenue":251454.27},{"Day of EVENT_DATE":"2025-05-08 00:00:00","Installs":66915,"Total Revenue":277041.01},{"Day of EVENT_DATE":"2025-05-07 00:00:00","Installs":57882,"Total Revenue":251861.58},{"Day of EVENT_DATE":"2025-05-06 00:00:00","Installs":62108,"Total Revenue":307754.97},{"Day of EVENT_DATE":"2025-05-05 00:00:00","Installs":45044,"Total Revenue":300970.04},{"Day of EVENT_DATE":"2025-05-04 00:00:00","Installs":46771,"Total Revenue":314641.68},{"Day of EVENT_DATE":"2025-05-03 00:00:00","Installs":43219,"Total Revenue":267464.55},{"Day of EVENT_DATE":"2025-05-02 00:00:00","Installs":41556,"Total Revenue":252874.77},{"Day of EVENT_DATE":"2025-05-01 00:00:00","Installs":43106,"Total Revenue":254731.12},{"Day of EVENT_DATE":"2025-04-30 00:00:00","Installs":42417,"Total Revenue":263511.02},{"Day of EVENT_DATE":"2025-04-29 00:00:00","Installs":43933,"Total Revenue":273099.65},{"Day of EVENT_DATE":"2025-04-28 00:00:00","Installs":44041,"Total Revenue":282429.53},{"Day of EVENT_DATE":"2025-04-27 00:00:00","Installs":45578,"Total Revenue":275699.66},{"Day of EVENT_DATE":"2025-04-26 00:00:00","Installs":44245,"Total Revenue":274824.48},{"Day of EVENT_DATE":"2025-04-25 00:00:00","Installs":44181,"Total Revenue":268288.69},{"Day of EVENT_DATE":"2025-04-24 00:00:00","Installs":45391,"Total Revenue":265158.29},{"Day of EVENT_DATE":"2025-04-23 00:00:00","Installs":45541,"Total Revenue":269626.16},{"Day of EVENT_DATE":"2025-04-22 00:00:00","Installs":48700,"Total Revenue":281865.5},{"Day of EVENT_DATE":"2025-04-21 00:00:00","Installs":49687,"Total Revenue":294110.2},{"Day of EVENT_DATE":"2025-04-20 00:00:00","Installs":44229,"Total Revenue":256179.41},{"Day of EVENT_DATE":"2025-04-19 00:00:00","Installs":43971,"Total Revenue":262389.95},{"Day of EVENT_DATE":"2025-04-18 00:00:00","Installs":44154,"Total Revenue":260843.96},{"Day of EVENT_DATE":"2025-04-17 00:00:00","Installs":43301,"Total Revenue":268883.02},{"Day of EVENT_DATE":"2025-04-16 00:00:00","Installs":45072,"Total Revenue":271242.67},{"Day of EVENT_DATE":"2025-04-15 00:00:00","Installs":46153,"Total Revenue":282377.57},{"Day of EVENT_DATE":"2025-04-14 00:00:00","Installs":44867,"Total Revenue":273541.45},{"Day of EVENT_DATE":"2025-04-13 00:00:00","Installs":46041,"Total Revenue":282925.87},{"Day of EVENT_DATE":"2025-04-12 00:00:00","Installs":43299,"Total Revenue":266216.11},{"Day of EVENT_DATE":"2025-04-11 00:00:00","Installs":42787,"Total Revenue":262859.83},{"Day of EVENT_DATE":"2025-04-10 00:00:00","Installs":44995,"Total Revenue":266620.19},{"Day of EVENT_DATE":"2025-04-09 00:00:00","Installs":45473,"Total Revenue":274610.63},{"Day of EVENT_DATE":"2025-04-08 00:00:00","Installs":46154,"Total Revenue":272796.03},{"Day of EVENT_DATE":"2025-04-07 00:00:00","Installs":46578,"Total Revenue":285029.33},{"Day of EVENT_DATE":"2025-04-06 00:00:00","Installs":49160,"Total Revenue":281613.94},{"Day of EVENT_DATE":"2025-04-05 00:00:00","Installs":47275,"Total Revenue":277300.13},{"Day of EVENT_DATE":"2025-04-04 00:00:00","Installs":45148,"Total Revenue":259120.14},{"Day of EVENT_DATE":"2025-04-03 00:00:00","Installs":46996,"Total Revenue":268480.91},{"Day of EVENT_DATE":"2025-04-02 00:00:00","Installs":46053,"Total Revenue":268101.98},{"Day of EVENT_DATE":"2025-04-01 00:00:00","Installs":46903,"Total Revenue":283177.92},{"Day of EVENT_DATE":"2025-03-31 00:00:00","Installs":45011,"Total Revenue":277640.49},{"Day of EVENT_DATE":"2025-03-30 00:00:00","Installs":49170,"Total Revenue":296697.96},{"Day of EVENT_DATE":"2025-03-29 00:00:00","Installs":46981,"Total Revenue":283777.01},{"Day of EVENT_DATE":"2025-03-28 00:00:00","Installs":45915,"Total Revenue":267954.97},{"Day of EVENT_DATE":"2025-03-27 00:00:00","Installs":47531,"Total Revenue":273273.89},{"Day of EVENT_DATE":"2025-03-26 00:00:00","Installs":50785,"Total Revenue":301873.08},{"Day of EVENT_DATE":"2025-03-25 00:00:00","Installs":46684,"Total Revenue":301551.22},{"Day of EVENT_DATE":"2025-03-24 00:00:00","Installs":44828,"Total Revenue":296495.71},{"Day of EVENT_DATE":"2025-03-23 00:00:00","Installs":45305,"Total Revenue":304407.17},{"Day of EVENT_DATE":"2025-03-22 00:00:00","Installs":43260,"Total Revenue":286913.98},{"Day of EVENT_DATE":"2025-03-21 00:00:00","Installs":41066,"Total Revenue":280034.81},{"Day of EVENT_DATE":"2025-03-20 00:00:00","Installs":42829,"Total Revenue":293883.15},{"Day of EVENT_DATE":"2025-03-19 00:00:00","Installs":43550,"Total Revenue":299404.23},{"Day of EVENT_DATE":"2025-03-18 00:00:00","Installs":43016,"Total Revenue":288593.28},{"Day of EVENT_DATE":"2025-03-17 00:00:00","Installs":41828,"Total Revenue":283249.32},{"Day of EVENT_DATE":"2025-03-16 00:00:00","Installs":43688,"Total Revenue":304211.74},{"Day of EVENT_DATE":"2025-03-15 00:00:00","Installs":42337,"Total Revenue":287919.87},{"Day of EVENT_DATE":"2025-03-14 00:00:00","Installs":38526,"Total Revenue":268281.21},{"Day of EVENT_DATE":"2025-03-13 00:00:00","Installs":40098,"Total Revenue":267688.71},{"Day of EVENT_DATE":"2025-03-12 00:00:00","Installs":42927,"Total Revenue":300347.13},{"Day of EVENT_DATE":"2025-03-11 00:00:00","Installs":42011,"Total Revenue":285436.84},{"Day of EVENT_DATE":"2025-03-10 00:00:00","Installs":41445,"Total Revenue":283360.81},{"Day of EVENT_DATE":"2025-03-09 00:00:00","Installs":40459,"Total Revenue":263066.77},{"Day of EVENT_DATE":"2025-03-08 00:00:00","Installs":40575,"Total Revenue":280661.99},{"Day of EVENT_DATE":"2025-03-07 00:00:00","Installs":39041,"Total Revenue":263868.79},{"Day of EVENT_DATE":"2025-03-06 00:00:00","Installs":39016,"Total Revenue":273901.45},{"Day of EVENT_DATE":"2025-03-05 00:00:00","Installs":40560,"Total Revenue":278234.55},{"Day of EVENT_DATE":"2025-03-04 00:00:00","Installs":40240,"Total Revenue":266125.24},{"Day of EVENT_DATE":"2025-03-03 00:00:00","Installs":39358,"Total Revenue":262647.41},{"Day of EVENT_DATE":"2025-03-02 00:00:00","Installs":40609,"Total Revenue":264447.24},{"Day of EVENT_DATE":"2025-03-01 00:00:00","Installs":39709,"Total Revenue":254130.08},{"Day of EVENT_DATE":"2025-02-28 00:00:00","Installs":37173,"Total Revenue":237630.51},{"Day of EVENT_DATE":"2025-02-27 00:00:00","Installs":40256,"Total Revenue":256756.44},{"Day of EVENT_DATE":"2025-02-26 00:00:00","Installs":41555,"Total Revenue":269707.61},{"Day of EVENT_DATE":"2025-02-25 00:00:00","Installs":42086,"Total Revenue":289295.25},{"Day of EVENT_DATE":"2025-02-24 00:00:00","Installs":44814,"Total Revenue":298241.6},{"Day of EVENT_DATE":"2025-02-23 00:00:00","Installs":44991,"Total Revenue":292770.31},{"Day of EVENT_DATE":"2025-02-22 00:00:00","Installs":43268,"Total Revenue":280989.9},{"Day of EVENT_DATE":"2025-02-21 00:00:00","Installs":43128,"Total Revenue":276005.37},{"Day of EVENT_DATE":"2025-02-20 00:00:00","Installs":45122,"Total Revenue":282668.95},{"Day of EVENT_DATE":"2025-02-19 00:00:00","Installs":45814,"Total Revenue":296083.7},{"Day of EVENT_DATE":"2025-02-18 00:00:00","Installs":46626,"Total Revenue":294107.66},{"Day of EVENT_DATE":"2025-02-17 00:00:00","Installs":45014,"Total Revenue":293499.17},{"Day of EVENT_DATE":"2025-02-16 00:00:00","Installs":46659,"Total Revenue":306985.41},{"Day of EVENT_DATE":"2025-02-15 00:00:00","Installs":42538,"Total Revenue":287472.02},{"Day of EVENT_DATE":"2025-02-14 00:00:00","Installs":38601,"Total Revenue":255693.04},{"Day of EVENT_DATE":"2025-02-13 00:00:00","Installs":42564,"Total Revenue":285985.61},{"Day of EVENT_DATE":"2025-02-12 00:00:00","Installs":46172,"Total Revenue":295606.4},{"Day of EVENT_DATE":"2025-02-11 00:00:00","Installs":46010,"Total Revenue":301149.15},{"Day of EVENT_DATE":"2025-02-10 00:00:00","Installs":45242,"Total Revenue":300580.1},{"Day of EVENT_DATE":"2025-02-09 00:00:00","Installs":45079,"Total Revenue":299778.34},{"Day of EVENT_DATE":"2025-02-08 00:00:00","Installs":44286,"Total Revenue":296918.8},{"Day of EVENT_DATE":"2025-02-07 00:00:00","Installs":42910,"Total Revenue":283650.01},{"Day of EVENT_DATE":"2025-02-06 00:00:00","Installs":44729,"Total Revenue":305030.5},{"Day of EVENT_DATE":"2025-02-05 00:00:00","Installs":44717,"Total Revenue":298596.75},{"Day of EVENT_DATE":"2025-02-04 00:00:00","Installs":45263,"Total Revenue":304808.72},{"Day of EVENT_DATE":"2025-02-03 00:00:00","Installs":44783,"Total Revenue":311433.34},{"Day of EVENT_DATE":"2025-02-02 00:00:00","Installs":45709,"Total Revenue":314848.13},{"Day of EVENT_DATE":"2025-02-01 00:00:00","Installs":44137,"Total Revenue":307403.74},{"Day of EVENT_DATE":"2025-01-31 00:00:00","Installs":42767,"Total Revenue":300037.15},{"Day of EVENT_DATE":"2025-01-30 00:00:00","Installs":43538,"Total Revenue":293965.87},{"Day of EVENT_DATE":"2025-01-29 00:00:00","Installs":44808,"Total Revenue":298862.15},{"Day of EVENT_DATE":"2025-01-28 00:00:00","Installs":46569,"Total Revenue":318161.2},{"Day of EVENT_DATE":"2025-01-27 00:00:00","Installs":46702,"Total Revenue":340124.27},{"Day of EVENT_DATE":"2025-01-26 00:00:00","Installs":52682,"Total Revenue":386962.68},{"Day of EVENT_DATE":"2025-01-25 00:00:00","Installs":49884,"Total Revenue":367440.85},{"Day of EVENT_DATE":"2025-01-24 00:00:00","Installs":46544,"Total Revenue":355327.73},{"Day of EVENT_DATE":"2025-01-23 00:00:00","Installs":47017,"Total Revenue":351299.48},{"Day of EVENT_DATE":"2025-01-22 00:00:00","Installs":47794,"Total Revenue":389955.06},{"Day of EVENT_DATE":"2025-01-21 00:00:00","Installs":48378,"Total Revenue":417952.55},{"Day of EVENT_DATE":"2025-01-20 00:00:00","Installs":51503,"Total Revenue":416800.11},{"Day of EVENT_DATE":"2025-01-19 00:00:00","Installs":52748,"Total Revenue":412390.05},{"Day of EVENT_DATE":"2025-01-18 00:00:00","Installs":47596,"Total Revenue":379763.19},{"Day of EVENT_DATE":"2025-01-17 00:00:00","Installs":44310,"Total Revenue":360284.85},{"Day of EVENT_DATE":"2025-01-16 00:00:00","Installs":46627,"Total Revenue":377386.92},{"Day of EVENT_DATE":"2025-01-15 00:00:00","Installs":48322,"Total Revenue":394829.19},{"Day of EVENT_DATE":"2025-01-14 00:00:00","Installs":47347,"Total Revenue":404720.86},{"Day of EVENT_DATE":"2025-01-13 00:00:00","Installs":46366,"Total Revenue":417745.64},{"Day of EVENT_DATE":"2025-01-12 00:00:00","Installs":50615,"Total Revenue":447126.51},{"Day of EVENT_DATE":"2025-01-11 00:00:00","Installs":46733,"Total Revenue":415681.01},{"Day of EVENT_DATE":"2025-01-10 00:00:00","Installs":45260,"Total Revenue":406268.04},{"Day of EVENT_DATE":"2025-01-09 00:00:00","Installs":46671,"Total Revenue":429888},{"Day of EVENT_DATE":"2025-01-08 00:00:00","Installs":47139,"Total Revenue":463950.47},{"Day of EVENT_DATE":"2025-01-07 00:00:00","Installs":45344,"Total Revenue":441727.76},{"Day of EVENT_DATE":"2025-01-06 00:00:00","Installs":57415,"Total Revenue":545661.04},{"Day of EVENT_DATE":"2025-01-05 00:00:00","Installs":46609,"Total Revenue":421100.61},{"Day of EVENT_DATE":"2025-01-04 00:00:00","Installs":45018,"Total Revenue":409414.43},{"Day of EVENT_DATE":"2025-01-03 00:00:00","Installs":42805,"Total Revenue":389423.82},{"Day of EVENT_DATE":"2025-01-02 00:00:00","Installs":44308,"Total Revenue":377249.63},{"Day of EVENT_DATE":"2025-01-01 00:00:00","Installs":42500,"Total Revenue":374106.55},{"Day of EVENT_DATE":"2024-12-31 00:00:00","Installs":34512,"Total Revenue":316486.01},{"Day of EVENT_DATE":"2024-12-30 00:00:00","Installs":41391,"Total Revenue":362161.47},{"Day of EVENT_DATE":"2024-12-29 00:00:00","Installs":44518,"Total Revenue":386195.63},{"Day of EVENT_DATE":"2024-12-28 00:00:00","Installs":43040,"Total Revenue":371920.97},{"Day of EVENT_DATE":"2024-12-27 00:00:00","Installs":41703,"Total Revenue":359645.24},{"Day of EVENT_DATE":"2024-12-26 00:00:00","Installs":40736,"Total Revenue":339151.41},{"Day of EVENT_DATE":"2024-12-25 00:00:00","Installs":34310,"Total Revenue":263077.75},{"Day of EVENT_DATE":"2024-12-24 00:00:00","Installs":34000,"Total Revenue":263643.07},{"Day of EVENT_DATE":"2024-12-23 00:00:00","Installs":38115,"Total Revenue":295669.85},{"Day of EVENT_DATE":"2024-12-22 00:00:00","Installs":37364,"Total Revenue":301794.05},{"Day of EVENT_DATE":"2024-12-21 00:00:00","Installs":35117,"Total Revenue":276726.64},{"Day of EVENT_DATE":"2024-12-20 00:00:00","Installs":34435,"Total Revenue":279577.62},{"Day of EVENT_DATE":"2024-12-19 00:00:00","Installs":35026,"Total Revenue":278578.21},{"Day of EVENT_DATE":"2024-12-18 00:00:00","Installs":35793,"Total Revenue":284609.94},{"Day of EVENT_DATE":"2024-12-17 00:00:00","Installs":38338,"Total Revenue":290651.4},{"Day of EVENT_DATE":"2024-12-16 00:00:00","Installs":39041,"Total Revenue":310425.16},{"Day of EVENT_DATE":"2024-12-15 00:00:00","Installs":38339,"Total Revenue":298570.95},{"Day of EVENT_DATE":"2024-12-14 00:00:00","Installs":35954,"Total Revenue":280022.47},{"Day of EVENT_DATE":"2024-12-13 00:00:00","Installs":34754,"Total Revenue":282479.89},{"Day of EVENT_DATE":"2024-12-12 00:00:00","Installs":34395,"Total Revenue":276672.6},{"Day of EVENT_DATE":"2024-12-11 00:00:00","Installs":36490,"Total Revenue":300796.87},{"Day of EVENT_DATE":"2024-12-10 00:00:00","Installs":36544,"Total Revenue":310797.64},{"Day of EVENT_DATE":"2024-12-09 00:00:00","Installs":35996,"Total Revenue":312176.68},{"Day of EVENT_DATE":"2024-12-08 00:00:00","Installs":35057,"Total Revenue":308713.15},{"Day of EVENT_DATE":"2024-12-07 00:00:00","Installs":33463,"Total Revenue":300639.77},{"Day of EVENT_DATE":"2024-12-06 00:00:00","Installs":34039,"Total Revenue":303006.49},{"Day of EVENT_DATE":"2024-12-05 00:00:00","Installs":34564,"Total Revenue":297024.84},{"Day of EVENT_DATE":"2024-12-04 00:00:00","Installs":37661,"Total Revenue":313396.39},{"Day of EVENT_DATE":"2024-12-03 00:00:00","Installs":37756,"Total Revenue":321839.29},{"Day of EVENT_DATE":"2024-12-02 00:00:00","Installs":39106,"Total Revenue":322588.87},{"Day of EVENT_DATE":"2024-12-01 00:00:00","Installs":37584,"Total Revenue":331057.78},{"Day of EVENT_DATE":"2024-11-30 00:00:00","Installs":35882,"Total Revenue":312593.07},{"Day of EVENT_DATE":"2024-11-29 00:00:00","Installs":34022,"Total Revenue":295715.22},{"Day of EVENT_DATE":"2024-11-28 00:00:00","Installs":32417,"Total Revenue":271507.41},{"Day of EVENT_DATE":"2024-11-27 00:00:00","Installs":34597,"Total Revenue":300674.81},{"Day of EVENT_DATE":"2024-11-26 00:00:00","Installs":36812,"Total Revenue":328101.01},{"Day of EVENT_DATE":"2024-11-25 00:00:00","Installs":38811,"Total Revenue":367348.59},{"Day of EVENT_DATE":"2024-11-24 00:00:00","Installs":39975,"Total Revenue":353802.17},{"Day of EVENT_DATE":"2024-11-23 00:00:00","Installs":37598,"Total Revenue":344618.44},{"Day of EVENT_DATE":"2024-11-22 00:00:00","Installs":36259,"Total Revenue":322510.98},{"Day of EVENT_DATE":"2024-11-21 00:00:00","Installs":36547,"Total Revenue":319002.52},{"Day of EVENT_DATE":"2024-11-20 00:00:00","Installs":36130,"Total Revenue":314818.54},{"Day of EVENT_DATE":"2024-11-19 00:00:00","Installs":36234,"Total Revenue":314963.23},{"Day of EVENT_DATE":"2024-11-18 00:00:00","Installs":35817,"Total Revenue":304527.2},{"Day of EVENT_DATE":"2024-11-17 00:00:00","Installs":36422,"Total Revenue":311340.02},{"Day of EVENT_DATE":"2024-11-16 00:00:00","Installs":33000,"Total Revenue":281321.73},{"Day of EVENT_DATE":"2024-11-15 00:00:00","Installs":30739,"Total Revenue":265797.86},{"Day of EVENT_DATE":"2024-11-14 00:00:00","Installs":33728,"Total Revenue":289618.15},{"Day of EVENT_DATE":"2024-11-13 00:00:00","Installs":35912,"Total Revenue":306418.03},{"Day of EVENT_DATE":"2024-11-12 00:00:00","Installs":35263,"Total Revenue":314977.98},{"Day of EVENT_DATE":"2024-11-11 00:00:00","Installs":34571,"Total Revenue":321053.17},{"Day of EVENT_DATE":"2024-11-10 00:00:00","Installs":36279,"Total Revenue":325200.21},{"Day of EVENT_DATE":"2024-11-09 00:00:00","Installs":34479,"Total Revenue":310852.38},{"Day of EVENT_DATE":"2024-11-08 00:00:00","Installs":33168,"Total Revenue":303531.81},{"Day of EVENT_DATE":"2024-11-07 00:00:00","Installs":35621,"Total Revenue":302428.21},{"Day of EVENT_DATE":"2024-11-06 00:00:00","Installs":36306,"Total Revenue":301389.53},{"Day of EVENT_DATE":"2024-11-05 00:00:00","Installs":36405,"Total Revenue":308890.44},{"Day of EVENT_DATE":"2024-11-04 00:00:00","Installs":37614,"Total Revenue":316045.69},{"Day of EVENT_DATE":"2024-11-03 00:00:00","Installs":38206,"Total Revenue":327504},{"Day of EVENT_DATE":"2024-11-02 00:00:00","Installs":34709,"Total Revenue":300075.01},{"Day of EVENT_DATE":"2024-11-01 00:00:00","Installs":33790,"Total Revenue":290461.82},{"Day of EVENT_DATE":"2024-10-31 00:00:00","Installs":31746,"Total Revenue":259402.06},{"Day of EVENT_DATE":"2024-10-30 00:00:00","Installs":35988,"Total Revenue":303150.21},{"Day of EVENT_DATE":"2024-10-29 00:00:00","Installs":37612,"Total Revenue":320720.26},{"Day of EVENT_DATE":"2024-10-28 00:00:00","Installs":36838,"Total Revenue":305850.07},{"Day of EVENT_DATE":"2024-10-27 00:00:00","Installs":36918,"Total Revenue":304568.94},{"Day of EVENT_DATE":"2024-10-26 00:00:00","Installs":35182,"Total Revenue":304613.5},{"Day of EVENT_DATE":"2024-10-25 00:00:00","Installs":35043,"Total Revenue":290201.68},{"Day of EVENT_DATE":"2024-10-24 00:00:00","Installs":36429,"Total Revenue":302639.02},{"Day of EVENT_DATE":"2024-10-23 00:00:00","Installs":36866,"Total Revenue":303951.86},{"Day of EVENT_DATE":"2024-10-22 00:00:00","Installs":38737,"Total Revenue":315842.21},{"Day of EVENT_DATE":"2024-10-21 00:00:00","Installs":38179,"Total Revenue":316620.57},{"Day of EVENT_DATE":"2024-10-20 00:00:00","Installs":38754,"Total Revenue":324156.28},{"Day of EVENT_DATE":"2024-10-19 00:00:00","Installs":36708,"Total Revenue":309387.74},{"Day of EVENT_DATE":"2024-10-18 00:00:00","Installs":36287,"Total Revenue":314239.58},{"Day of EVENT_DATE":"2024-10-17 00:00:00","Installs":35980,"Total Revenue":301378.39},{"Day of EVENT_DATE":"2024-10-16 00:00:00","Installs":36276,"Total Revenue":306988.54},{"Day of EVENT_DATE":"2024-10-15 00:00:00","Installs":37865,"Total Revenue":328385.01},{"Day of EVENT_DATE":"2024-10-14 00:00:00","Installs":37712,"Total Revenue":339218.35},{"Day of EVENT_DATE":"2024-10-13 00:00:00","Installs":38208,"Total Revenue":345113.01},{"Day of EVENT_DATE":"2024-10-12 00:00:00","Installs":35224,"Total Revenue":308174.24},{"Day of EVENT_DATE":"2024-10-11 00:00:00","Installs":34896,"Total Revenue":317041.42},{"Day of EVENT_DATE":"2024-10-10 00:00:00","Installs":35263,"Total Revenue":308370.36},{"Day of EVENT_DATE":"2024-10-09 00:00:00","Installs":35906,"Total Revenue":312821.69},{"Day of EVENT_DATE":"2024-10-08 00:00:00","Installs":36796,"Total Revenue":322508.1},{"Day of EVENT_DATE":"2024-10-07 00:00:00","Installs":37001,"Total Revenue":334504.85},{"Day of EVENT_DATE":"2024-10-06 00:00:00","Installs":37143,"Total Revenue":339081.13},{"Day of EVENT_DATE":"2024-10-05 00:00:00","Installs":31837,"Total Revenue":307812.96},{"Day of EVENT_DATE":"2024-10-04 00:00:00","Installs":32019,"Total Revenue":305343.26},{"Day of EVENT_DATE":"2024-10-03 00:00:00","Installs":32013,"Total Revenue":300125.22},{"Day of EVENT_DATE":"2024-10-02 00:00:00","Installs":34042,"Total Revenue":321205.83},{"Day of EVENT_DATE":"2024-10-01 00:00:00","Installs":35223,"Total Revenue":335337.57},{"Day of EVENT_DATE":"2024-09-30 00:00:00","Installs":36709,"Total Revenue":338861.76},{"Day of EVENT_DATE":"2024-09-29 00:00:00","Installs":33887,"Total Revenue":313736.71},{"Day of EVENT_DATE":"2024-09-28 00:00:00","Installs":32807,"Total Revenue":311680.68},{"Day of EVENT_DATE":"2024-09-27 00:00:00","Installs":31684,"Total Revenue":298599.73},{"Day of EVENT_DATE":"2024-09-26 00:00:00","Installs":32995,"Total Revenue":311963.81},{"Day of EVENT_DATE":"2024-09-25 00:00:00","Installs":33446,"Total Revenue":308427.83},{"Day of EVENT_DATE":"2024-09-24 00:00:00","Installs":33875,"Total Revenue":313729.54},{"Day of EVENT_DATE":"2024-09-23 00:00:00","Installs":34363,"Total Revenue":320883.48},{"Day of EVENT_DATE":"2024-09-22 00:00:00","Installs":32714,"Total Revenue":305707.59},{"Day of EVENT_DATE":"2024-09-21 00:00:00","Installs":31212,"Total Revenue":292554.97},{"Day of EVENT_DATE":"2024-09-20 00:00:00","Installs":31005,"Total Revenue":293466.99},{"Day of EVENT_DATE":"2024-09-19 00:00:00","Installs":32636,"Total Revenue":300830.43},{"Day of EVENT_DATE":"2024-09-18 00:00:00","Installs":32357,"Total Revenue":291889.89},{"Day of EVENT_DATE":"2024-09-17 00:00:00","Installs":33815,"Total Revenue":309821.74},{"Day of EVENT_DATE":"2024-09-16 00:00:00","Installs":34154,"Total Revenue":319705.74},{"Day of EVENT_DATE":"2024-09-15 00:00:00","Installs":33719,"Total Revenue":305867.45},{"Day of EVENT_DATE":"2024-09-14 00:00:00","Installs":32413,"Total Revenue":296409.06},{"Day of EVENT_DATE":"2024-09-13 00:00:00","Installs":31511,"Total Revenue":284899.71},{"Day of EVENT_DATE":"2024-09-12 00:00:00","Installs":31129,"Total Revenue":287651.09},{"Day of EVENT_DATE":"2024-09-11 00:00:00","Installs":31215,"Total Revenue":280872.25},{"Day of EVENT_DATE":"2024-09-10 00:00:00","Installs":31148,"Total Revenue":275997.78},{"Day of EVENT_DATE":"2024-09-09 00:00:00","Installs":27546,"Total Revenue":274574.02},{"Day of EVENT_DATE":"2024-09-08 00:00:00","Installs":28569,"Total Revenue":258455.27},{"Day of EVENT_DATE":"2024-09-07 00:00:00","Installs":28468,"Total Revenue":251709.08},{"Day of EVENT_DATE":"2024-09-06 00:00:00","Installs":28327,"Total Revenue":253287.89},{"Day of EVENT_DATE":"2024-09-05 00:00:00","Installs":29156,"Total Revenue":262891.63},{"Day of EVENT_DATE":"2024-09-04 00:00:00","Installs":30711,"Total Revenue":257480.51},{"Day of EVENT_DATE":"2024-09-03 00:00:00","Installs":33021,"Total Revenue":264840.65},{"Day of EVENT_DATE":"2024-09-02 00:00:00","Installs":35271,"Total Revenue":285672.77},{"Day of EVENT_DATE":"2024-09-01 00:00:00","Installs":34335,"Total Revenue":274256.74},{"Day of EVENT_DATE":"2024-08-31 00:00:00","Installs":32022,"Total Revenue":259931.68},{"Day of EVENT_DATE":"2024-08-30 00:00:00","Installs":32700,"Total Revenue":269064.4},{"Day of EVENT_DATE":"2024-08-29 00:00:00","Installs":33899,"Total Revenue":262736.86},{"Day of EVENT_DATE":"2024-08-28 00:00:00","Installs":34110,"Total Revenue":266755.95},{"Day of EVENT_DATE":"2024-08-27 00:00:00","Installs":37710,"Total Revenue":287042.86},{"Day of EVENT_DATE":"2024-08-26 00:00:00","Installs":36679,"Total Revenue":288796.99},{"Day of EVENT_DATE":"2024-08-25 00:00:00","Installs":38419,"Total Revenue":318215.64},{"Day of EVENT_DATE":"2024-08-24 00:00:00","Installs":35074,"Total Revenue":291638.47},{"Day of EVENT_DATE":"2024-08-23 00:00:00","Installs":34954,"Total Revenue":286835.6},{"Day of EVENT_DATE":"2024-08-22 00:00:00","Installs":36491,"Total Revenue":296235.01},{"Day of EVENT_DATE":"2024-08-21 00:00:00","Installs":36218,"Total Revenue":284565.08},{"Day of EVENT_DATE":"2024-08-20 00:00:00","Installs":37646,"Total Revenue":299425.06},{"Day of EVENT_DATE":"2024-08-19 00:00:00","Installs":37164,"Total Revenue":304612.97},{"Day of EVENT_DATE":"2024-08-18 00:00:00","Installs":36577,"Total Revenue":309180.92},{"Day of EVENT_DATE":"2024-08-17 00:00:00","Installs":35496,"Total Revenue":293724.83},{"Day of EVENT_DATE":"2024-08-16 00:00:00","Installs":36075,"Total Revenue":308645.23},{"Day of EVENT_DATE":"2024-08-15 00:00:00","Installs":35872,"Total Revenue":303818.33},{"Day of EVENT_DATE":"2024-08-14 00:00:00","Installs":35353,"Total Revenue":314621.91},{"Day of EVENT_DATE":"2024-08-13 00:00:00","Installs":34618,"Total Revenue":306728.37},{"Day of EVENT_DATE":"2024-08-12 00:00:00","Installs":35396,"Total Revenue":317623.88},{"Day of EVENT_DATE":"2024-08-11 00:00:00","Installs":34709,"Total Revenue":316446.02},{"Day of EVENT_DATE":"2024-08-10 00:00:00","Installs":33919,"Total Revenue":309068.85},{"Day of EVENT_DATE":"2024-08-09 00:00:00","Installs":32960,"Total Revenue":305279.2},{"Day of EVENT_DATE":"2024-08-08 00:00:00","Installs":30935,"Total Revenue":295607.97},{"Day of EVENT_DATE":"2024-08-07 00:00:00","Installs":31995,"Total Revenue":312624.87},{"Day of EVENT_DATE":"2024-08-06 00:00:00","Installs":34956,"Total Revenue":329845.85},{"Day of EVENT_DATE":"2024-08-05 00:00:00","Installs":33859,"Total Revenue":311533.04},{"Day of EVENT_DATE":"2024-08-04 00:00:00","Installs":32064,"Total Revenue":293034.49},{"Day of EVENT_DATE":"2024-08-03 00:00:00","Installs":29688,"Total Revenue":279653.66},{"Day of EVENT_DATE":"2024-08-02 00:00:00","Installs":28931,"Total Revenue":279859.72},{"Day of EVENT_DATE":"2024-08-01 00:00:00","Installs":29257,"Total Revenue":285694.89},{"Day of EVENT_DATE":"2024-07-31 00:00:00","Installs":28525,"Total Revenue":286437.55},{"Day of EVENT_DATE":"2024-07-30 00:00:00","Installs":29503,"Total Revenue":293928.63},{"Day of EVENT_DATE":"2024-07-29 00:00:00","Installs":30164,"Total Revenue":299684.62},{"Day of EVENT_DATE":"2024-07-28 00:00:00","Installs":29878,"Total Revenue":296497},{"Day of EVENT_DATE":"2024-07-27 00:00:00","Installs":28196,"Total Revenue":283408.77},{"Day of EVENT_DATE":"2024-07-26 00:00:00","Installs":28224,"Total Revenue":295048.99},{"Day of EVENT_DATE":"2024-07-25 00:00:00","Installs":29247,"Total Revenue":294115.16},{"Day of EVENT_DATE":"2024-07-24 00:00:00","Installs":29507,"Total Revenue":300859.21},{"Day of EVENT_DATE":"2024-07-23 00:00:00","Installs":29389,"Total Revenue":298443.58},{"Day of EVENT_DATE":"2024-07-22 00:00:00","Installs":29319,"Total Revenue":289890.65},{"Day of EVENT_DATE":"2024-07-21 00:00:00","Installs":28740,"Total Revenue":296717.31},{"Day of EVENT_DATE":"2024-07-20 00:00:00","Installs":27077,"Total Revenue":283211.85},{"Day of EVENT_DATE":"2024-07-19 00:00:00","Installs":26803,"Total Revenue":278893.42},{"Day of EVENT_DATE":"2024-07-18 00:00:00","Installs":26957,"Total Revenue":276605.83},{"Day of EVENT_DATE":"2024-07-17 00:00:00","Installs":27380,"Total Revenue":285942.12},{"Day of EVENT_DATE":"2024-07-16 00:00:00","Installs":28622,"Total Revenue":289136.32},{"Day of EVENT_DATE":"2024-07-15 00:00:00","Installs":27293,"Total Revenue":298529.45},{"Day of EVENT_DATE":"2024-07-14 00:00:00","Installs":26912,"Total Revenue":299285.93},{"Day of EVENT_DATE":"2024-07-13 00:00:00","Installs":25883,"Total Revenue":290646.28},{"Day of EVENT_DATE":"2024-07-12 00:00:00","Installs":27085,"Total Revenue":303612.49},{"Day of EVENT_DATE":"2024-07-11 00:00:00","Installs":26538,"Total Revenue":287707.07},{"Day of EVENT_DATE":"2024-07-10 00:00:00","Installs":26666,"Total Revenue":285791.33},{"Day of EVENT_DATE":"2024-07-09 00:00:00","Installs":28169,"Total Revenue":286683.8},{"Day of EVENT_DATE":"2024-07-08 00:00:00","Installs":28609,"Total Revenue":300338.55},{"Day of EVENT_DATE":"2024-07-07 00:00:00","Installs":28353,"Total Revenue":303169.9},{"Day of EVENT_DATE":"2024-07-06 00:00:00","Installs":26179,"Total Revenue":278416.21},{"Day of EVENT_DATE":"2024-07-05 00:00:00","Installs":26642,"Total Revenue":295927.51},{"Day of EVENT_DATE":"2024-07-04 00:00:00","Installs":25281,"Total Revenue":260628.55},{"Day of EVENT_DATE":"2024-07-03 00:00:00","Installs":26788,"Total Revenue":280597.57},{"Day of EVENT_DATE":"2024-07-02 00:00:00","Installs":27440,"Total Revenue":295981.75},{"Day of EVENT_DATE":"2024-07-01 00:00:00","Installs":27896,"Total Revenue":297801.55},{"Day of EVENT_DATE":"2024-06-30 00:00:00","Installs":27989,"Total Revenue":293959.75},{"Day of EVENT_DATE":"2024-06-29 00:00:00","Installs":26490,"Total Revenue":288046.74},{"Day of EVENT_DATE":"2024-06-28 00:00:00","Installs":26098,"Total Revenue":283814.42},{"Day of EVENT_DATE":"2024-06-27 00:00:00","Installs":25885,"Total Revenue":285992.39},{"Day of EVENT_DATE":"2024-06-26 00:00:00","Installs":26384,"Total Revenue":296188.93},{"Day of EVENT_DATE":"2024-06-25 00:00:00","Installs":29022,"Total Revenue":308736.11},{"Day of EVENT_DATE":"2024-06-24 00:00:00","Installs":29712,"Total Revenue":322182.61},{"Day of EVENT_DATE":"2024-06-23 00:00:00","Installs":28784,"Total Revenue":317042.59},{"Day of EVENT_DATE":"2024-06-22 00:00:00","Installs":26993,"Total Revenue":294631.78},{"Day of EVENT_DATE":"2024-06-21 00:00:00","Installs":26939,"Total Revenue":300991.04},{"Day of EVENT_DATE":"2024-06-20 00:00:00","Installs":27815,"Total Revenue":302251.85},{"Day of EVENT_DATE":"2024-06-19 00:00:00","Installs":28149,"Total Revenue":308589},{"Day of EVENT_DATE":"2024-06-18 00:00:00","Installs":28260,"Total Revenue":308224.55},{"Day of EVENT_DATE":"2024-06-17 00:00:00","Installs":27201,"Total Revenue":303837.15},{"Day of EVENT_DATE":"2024-06-16 00:00:00","Installs":25481,"Total Revenue":291180.48},{"Day of EVENT_DATE":"2024-06-15 00:00:00","Installs":24030,"Total Revenue":272006.85},{"Day of EVENT_DATE":"2024-06-14 00:00:00","Installs":24987,"Total Revenue":282117.15},{"Day of EVENT_DATE":"2024-06-13 00:00:00","Installs":25941,"Total Revenue":278157.98},{"Day of EVENT_DATE":"2024-06-12 00:00:00","Installs":26523,"Total Revenue":276539.96},{"Day of EVENT_DATE":"2024-06-11 00:00:00","Installs":26931,"Total Revenue":283369.27},{"Day of EVENT_DATE":"2024-06-10 00:00:00","Installs":26925,"Total Revenue":287345.59},{"Day of EVENT_DATE":"2024-06-09 00:00:00","Installs":26928,"Total Revenue":291915.6},{"Day of EVENT_DATE":"2024-06-08 00:00:00","Installs":24769,"Total Revenue":268730.42},{"Day of EVENT_DATE":"2024-06-07 00:00:00","Installs":24719,"Total Revenue":275787.33},{"Day of EVENT_DATE":"2024-06-06 00:00:00","Installs":25937,"Total Revenue":280432.17},{"Day of EVENT_DATE":"2024-06-05 00:00:00","Installs":27113,"Total Revenue":290012.24},{"Day of EVENT_DATE":"2024-06-04 00:00:00","Installs":28190,"Total Revenue":291463.2},{"Day of EVENT_DATE":"2024-06-03 00:00:00","Installs":28090,"Total Revenue":269125.56},{"Day of EVENT_DATE":"2024-06-02 00:00:00","Installs":27569,"Total Revenue":274365.56},{"Day of EVENT_DATE":"2024-06-01 00:00:00","Installs":26601,"Total Revenue":270546.99},{"Day of EVENT_DATE":"2024-05-31 00:00:00","Installs":24802,"Total Revenue":268801.85},{"Day of EVENT_DATE":"2024-05-30 00:00:00","Installs":25848,"Total Revenue":273949.76},{"Day of EVENT_DATE":"2024-05-29 00:00:00","Installs":24135,"Total Revenue":269496.91},{"Day of EVENT_DATE":"2024-05-28 00:00:00","Installs":28257,"Total Revenue":290318.56},{"Day of EVENT_DATE":"2024-05-27 00:00:00","Installs":29508,"Total Revenue":300621.3},{"Day of EVENT_DATE":"2024-05-26 00:00:00","Installs":27372,"Total Revenue":279814.27},{"Day of EVENT_DATE":"2024-05-25 00:00:00","Installs":24470,"Total Revenue":256690.04},{"Day of EVENT_DATE":"2024-05-24 00:00:00","Installs":25787,"Total Revenue":268792.03},{"Day of EVENT_DATE":"2024-05-23 00:00:00","Installs":26320,"Total Revenue":267332.69},{"Day of EVENT_DATE":"2024-05-22 00:00:00","Installs":27399,"Total Revenue":275288.75},{"Day of EVENT_DATE":"2024-05-21 00:00:00","Installs":28933,"Total Revenue":276352.14},{"Day of EVENT_DATE":"2024-05-20 00:00:00","Installs":28148,"Total Revenue":268581.71},{"Day of EVENT_DATE":"2024-05-19 00:00:00","Installs":29040,"Total Revenue":267601.44},{"Day of EVENT_DATE":"2024-05-18 00:00:00","Installs":29461,"Total Revenue":269160.32},{"Day of EVENT_DATE":"2024-05-17 00:00:00","Installs":30067,"Total Revenue":288703.11},{"Day of EVENT_DATE":"2024-05-16 00:00:00","Installs":26923,"Total Revenue":257373.8},{"Day of EVENT_DATE":"2024-05-15 00:00:00","Installs":26403,"Total Revenue":274182.08},{"Day of EVENT_DATE":"2024-05-14 00:00:00","Installs":26748,"Total Revenue":286410.92},{"Day of EVENT_DATE":"2024-05-13 00:00:00","Installs":25725,"Total Revenue":277573.03},{"Day of EVENT_DATE":"2024-05-12 00:00:00","Installs":23735,"Total Revenue":252496.29},{"Day of EVENT_DATE":"2024-05-11 00:00:00","Installs":23033,"Total Revenue":243174.74},{"Day of EVENT_DATE":"2024-05-10 00:00:00","Installs":24840,"Total Revenue":284292.4},{"Day of EVENT_DATE":"2024-05-09 00:00:00","Installs":24219,"Total Revenue":268779.98},{"Day of EVENT_DATE":"2024-05-08 00:00:00","Installs":23838,"Total Revenue":263922.22},{"Day of EVENT_DATE":"2024-05-07 00:00:00","Installs":25959,"Total Revenue":287242.18},{"Day of EVENT_DATE":"2024-05-06 00:00:00","Installs":29211,"Total Revenue":306156.99},{"Day of EVENT_DATE":"2024-05-05 00:00:00","Installs":28470,"Total Revenue":308548.44},{"Day of EVENT_DATE":"2024-05-04 00:00:00","Installs":26506,"Total Revenue":290680.76},{"Day of EVENT_DATE":"2024-05-03 00:00:00","Installs":26886,"Total Revenue":296165.49},{"Day of EVENT_DATE":"2024-05-02 00:00:00","Installs":26387,"Total Revenue":277465.8},{"Day of EVENT_DATE":"2024-05-01 00:00:00","Installs":28024,"Total Revenue":294593.54},{"Day of EVENT_DATE":"2024-04-30 00:00:00","Installs":26977,"Total Revenue":295704.79},{"Day of EVENT_DATE":"2024-04-29 00:00:00","Installs":28649,"Total Revenue":307654.46},{"Day of EVENT_DATE":"2024-04-28 00:00:00","Installs":31148,"Total Revenue":336970.63},{"Day of EVENT_DATE":"2024-04-27 00:00:00","Installs":29157,"Total Revenue":318367.88},{"Day of EVENT_DATE":"2024-04-26 00:00:00","Installs":27737,"Total Revenue":316143.12},{"Day of EVENT_DATE":"2024-04-25 00:00:00","Installs":29619,"Total Revenue":321067.14},{"Day of EVENT_DATE":"2024-04-24 00:00:00","Installs":29743,"Total Revenue":324340.21},{"Day of EVENT_DATE":"2024-04-23 00:00:00","Installs":28131,"Total Revenue":306753.9},{"Day of EVENT_DATE":"2024-04-22 00:00:00","Installs":27176,"Total Revenue":284686.61},{"Day of EVENT_DATE":"2024-04-21 00:00:00","Installs":28536,"Total Revenue":299094.03},{"Day of EVENT_DATE":"2024-04-20 00:00:00","Installs":26992,"Total Revenue":279128.65},{"Day of EVENT_DATE":"2024-04-19 00:00:00","Installs":27175,"Total Revenue":291123.6},{"Day of EVENT_DATE":"2024-04-18 00:00:00","Installs":26783,"Total Revenue":283105.83},{"Day of EVENT_DATE":"2024-04-17 00:00:00","Installs":27522,"Total Revenue":290301.13},{"Day of EVENT_DATE":"2024-04-16 00:00:00","Installs":26718,"Total Revenue":273759.12},{"Day of EVENT_DATE":"2024-04-15 00:00:00","Installs":25804,"Total Revenue":281492.95},{"Day of EVENT_DATE":"2024-04-14 00:00:00","Installs":25509,"Total Revenue":280504.48},{"Day of EVENT_DATE":"2024-04-13 00:00:00","Installs":24539,"Total Revenue":263041.86},{"Day of EVENT_DATE":"2024-04-12 00:00:00","Installs":24912,"Total Revenue":266912.2},{"Day of EVENT_DATE":"2024-04-11 00:00:00","Installs":22704,"Total Revenue":264046.74},{"Day of EVENT_DATE":"2024-04-10 00:00:00","Installs":22748,"Total Revenue":274257.59},{"Day of EVENT_DATE":"2024-04-09 00:00:00","Installs":24005,"Total Revenue":284021.77},{"Day of EVENT_DATE":"2024-04-08 00:00:00","Installs":22733,"Total Revenue":267824.32},{"Day of EVENT_DATE":"2024-04-07 00:00:00","Installs":24638,"Total Revenue":290979.4},{"Day of EVENT_DATE":"2024-04-06 00:00:00","Installs":24465,"Total Revenue":278483.51},{"Day of EVENT_DATE":"2024-04-05 00:00:00","Installs":24213,"Total Revenue":284984.35},{"Day of EVENT_DATE":"2024-04-04 00:00:00","Installs":24451,"Total Revenue":286084.22},{"Day of EVENT_DATE":"2024-04-03 00:00:00","Installs":24040,"Total Revenue":289573.61},{"Day of EVENT_DATE":"2024-04-02 00:00:00","Installs":25313,"Total Revenue":293394.39},{"Day of EVENT_DATE":"2024-04-01 00:00:00","Installs":24250,"Total Revenue":280459.78},{"Day of EVENT_DATE":"2024-03-31 00:00:00","Installs":21759,"Total Revenue":264476.5},{"Day of EVENT_DATE":"2024-03-30 00:00:00","Installs":21612,"Total Revenue":269094.09},{"Day of EVENT_DATE":"2024-03-29 00:00:00","Installs":22437,"Total Revenue":270246.45},{"Day of EVENT_DATE":"2024-03-28 00:00:00","Installs":23736,"Total Revenue":293406.04},{"Day of EVENT_DATE":"2024-03-27 00:00:00","Installs":24416,"Total Revenue":288448.46},{"Day of EVENT_DATE":"2024-03-26 00:00:00","Installs":24888,"Total Revenue":292689.79},{"Day of EVENT_DATE":"2024-03-25 00:00:00","Installs":24307,"Total Revenue":285416.24},{"Day of EVENT_DATE":"2024-03-24 00:00:00","Installs":24494,"Total Revenue":290257.09},{"Day of EVENT_DATE":"2024-03-23 00:00:00","Installs":23709,"Total Revenue":274532.8},{"Day of EVENT_DATE":"2024-03-22 00:00:00","Installs":43728,"Total Revenue":325243.14},{"Day of EVENT_DATE":"2024-03-21 00:00:00","Installs":28161,"Total Revenue":288649.88},{"Day of EVENT_DATE":"2024-03-20 00:00:00","Installs":23935,"Total Revenue":275019.84},{"Day of EVENT_DATE":"2024-03-19 00:00:00","Installs":26288,"Total Revenue":295917.66},{"Day of EVENT_DATE":"2024-03-18 00:00:00","Installs":25317,"Total Revenue":299548.83},{"Day of EVENT_DATE":"2024-03-17 00:00:00","Installs":25171,"Total Revenue":299516.3},{"Day of EVENT_DATE":"2024-03-16 00:00:00","Installs":22775,"Total Revenue":280384.33},{"Day of EVENT_DATE":"2024-03-15 00:00:00","Installs":21746,"Total Revenue":275991.09},{"Day of EVENT_DATE":"2024-03-14 00:00:00","Installs":22272,"Total Revenue":277567.66},{"Day of EVENT_DATE":"2024-03-13 00:00:00","Installs":22151,"Total Revenue":272731.54},{"Day of EVENT_DATE":"2024-03-12 00:00:00","Installs":22999,"Total Revenue":294523.43},{"Day of EVENT_DATE":"2024-03-11 00:00:00","Installs":18347,"Total Revenue":267772.34},{"Day of EVENT_DATE":"2024-03-10 00:00:00","Installs":18554,"Total Revenue":254477.25},{"Day of EVENT_DATE":"2024-03-09 00:00:00","Installs":23282,"Total Revenue":295535.92},{"Day of EVENT_DATE":"2024-03-08 00:00:00","Installs":22104,"Total Revenue":286396.29},{"Day of EVENT_DATE":"2024-03-07 00:00:00","Installs":23066,"Total Revenue":294902.91},{"Day of EVENT_DATE":"2024-03-06 00:00:00","Installs":24202,"Total Revenue":296587.2},{"Day of EVENT_DATE":"2024-03-05 00:00:00","Installs":24840,"Total Revenue":312402.97},{"Day of EVENT_DATE":"2024-03-04 00:00:00","Installs":23404,"Total Revenue":277430.31},{"Day of EVENT_DATE":"2024-03-03 00:00:00","Installs":24324,"Total Revenue":272393.52},{"Day of EVENT_DATE":"2024-03-02 00:00:00","Installs":23866,"Total Revenue":285453.28},{"Day of EVENT_DATE":"2024-03-01 00:00:00","Installs":22392,"Total Revenue":281909.51},{"Day of EVENT_DATE":"2024-02-29 00:00:00","Installs":20868,"Total Revenue":287873.25},{"Day of EVENT_DATE":"2024-02-28 00:00:00","Installs":22641,"Total Revenue":293302.21},{"Day of EVENT_DATE":"2024-02-27 00:00:00","Installs":25231,"Total Revenue":331244.65},{"Day of EVENT_DATE":"2024-02-26 00:00:00","Installs":24268,"Total Revenue":343247.53},{"Day of EVENT_DATE":"2024-02-25 00:00:00","Installs":24024,"Total Revenue":315993.5},{"Day of EVENT_DATE":"2024-02-24 00:00:00","Installs":23533,"Total Revenue":313954.57},{"Day of EVENT_DATE":"2024-02-23 00:00:00","Installs":21660,"Total Revenue":313457.56},{"Day of EVENT_DATE":"2024-02-22 00:00:00","Installs":21293,"Total Revenue":303379.85},{"Day of EVENT_DATE":"2024-02-21 00:00:00","Installs":22032,"Total Revenue":318496.95},{"Day of EVENT_DATE":"2024-02-20 00:00:00","Installs":21611,"Total Revenue":311441.89},{"Day of EVENT_DATE":"2024-02-19 00:00:00","Installs":23440,"Total Revenue":366322.6},{"Day of EVENT_DATE":"2024-02-18 00:00:00","Installs":22498,"Total Revenue":309468.27},{"Day of EVENT_DATE":"2024-02-17 00:00:00","Installs":22427,"Total Revenue":309432.06},{"Day of EVENT_DATE":"2024-02-16 00:00:00","Installs":21957,"Total Revenue":314679.68},{"Day of EVENT_DATE":"2024-02-15 00:00:00","Installs":21432,"Total Revenue":308414.35},{"Day of EVENT_DATE":"2024-02-14 00:00:00","Installs":20084,"Total Revenue":296982.49},{"Day of EVENT_DATE":"2024-02-13 00:00:00","Installs":22141,"Total Revenue":329666.21},{"Day of EVENT_DATE":"2024-02-12 00:00:00","Installs":21979,"Total Revenue":348080.58},{"Day of EVENT_DATE":"2024-02-11 00:00:00","Installs":21641,"Total Revenue":343165.88},{"Day of EVENT_DATE":"2024-02-10 00:00:00","Installs":21461,"Total Revenue":324595.39},{"Day of EVENT_DATE":"2024-02-09 00:00:00","Installs":21696,"Total Revenue":320694.33},{"Day of EVENT_DATE":"2024-02-08 00:00:00","Installs":22025,"Total Revenue":316754.08},{"Day of EVENT_DATE":"2024-02-07 00:00:00","Installs":22624,"Total Revenue":327584.02},{"Day of EVENT_DATE":"2024-02-06 00:00:00","Installs":23213,"Total Revenue":329317.79},{"Day of EVENT_DATE":"2024-02-05 00:00:00","Installs":24344,"Total Revenue":361107.68},{"Day of EVENT_DATE":"2024-02-04 00:00:00","Installs":23807,"Total Revenue":320085.98},{"Day of EVENT_DATE":"2024-02-03 00:00:00","Installs":21856,"Total Revenue":285924.94},{"Day of EVENT_DATE":"2024-02-02 00:00:00","Installs":21135,"Total Revenue":290682.12},{"Day of EVENT_DATE":"2024-02-01 00:00:00","Installs":20966,"Total Revenue":288485.06},{"Day of EVENT_DATE":"2024-01-31 00:00:00","Installs":22966,"Total Revenue":347364.8},{"Day of EVENT_DATE":"2024-01-30 00:00:00","Installs":26514,"Total Revenue":396897.69},{"Day of EVENT_DATE":"2024-01-29 00:00:00","Installs":27290,"Total Revenue":415206.48},{"Day of EVENT_DATE":"2024-01-28 00:00:00","Installs":27161,"Total Revenue":390960.81},{"Day of EVENT_DATE":"2024-01-27 00:00:00","Installs":24747,"Total Revenue":341135.84},{"Day of EVENT_DATE":"2024-01-26 00:00:00","Installs":24094,"Total Revenue":337526.35},{"Day of EVENT_DATE":"2024-01-25 00:00:00","Installs":23592,"Total Revenue":330714.62},{"Day of EVENT_DATE":"2024-01-24 00:00:00","Installs":24381,"Total Revenue":331829.69},{"Day of EVENT_DATE":"2024-01-23 00:00:00","Installs":25413,"Total Revenue":349919.02},{"Day of EVENT_DATE":"2024-01-22 00:00:00","Installs":25120,"Total Revenue":347402.44},{"Day of EVENT_DATE":"2024-01-21 00:00:00","Installs":24973,"Total Revenue":338066.79},{"Day of EVENT_DATE":"2024-01-20 00:00:00","Installs":23638,"Total Revenue":333153.96},{"Day of EVENT_DATE":"2024-01-19 00:00:00","Installs":24608,"Total Revenue":336880.31},{"Day of EVENT_DATE":"2024-01-18 00:00:00","Installs":23539,"Total Revenue":308658.98},{"Day of EVENT_DATE":"2024-01-17 00:00:00","Installs":24237,"Total Revenue":324957.69},{"Day of EVENT_DATE":"2024-01-16 00:00:00","Installs":26234,"Total Revenue":337880.45},{"Day of EVENT_DATE":"2024-01-15 00:00:00","Installs":27608,"Total Revenue":355217.8},{"Day of EVENT_DATE":"2024-01-14 00:00:00","Installs":26749,"Total Revenue":347010.92},{"Day of EVENT_DATE":"2024-01-13 00:00:00","Installs":25488,"Total Revenue":325421.8},{"Day of EVENT_DATE":"2024-01-12 00:00:00","Installs":23700,"Total Revenue":305925.39},{"Day of EVENT_DATE":"2024-01-11 00:00:00","Installs":22936,"Total Revenue":290687.93},{"Day of EVENT_DATE":"2024-01-10 00:00:00","Installs":23961,"Total Revenue":301855.99},{"Day of EVENT_DATE":"2024-01-09 00:00:00","Installs":26860,"Total Revenue":336197.47},{"Day of EVENT_DATE":"2024-01-08 00:00:00","Installs":25063,"Total Revenue":313471.6},{"Day of EVENT_DATE":"2024-01-07 00:00:00","Installs":27200,"Total Revenue":330596.62},{"Day of EVENT_DATE":"2024-01-06 00:00:00","Installs":27337,"Total Revenue":320224.4},{"Day of EVENT_DATE":"2024-01-05 00:00:00","Installs":26961,"Total Revenue":312934.19},{"Day of EVENT_DATE":"2024-01-04 00:00:00","Installs":27268,"Total Revenue":307364.98},{"Day of EVENT_DATE":"2024-01-03 00:00:00","Installs":30118,"Total Revenue":346965.79},{"Day of EVENT_DATE":"2024-01-02 00:00:00","Installs":29344,"Total Revenue":364920.74},{"Day of EVENT_DATE":"2024-01-01 00:00:00","Installs":25782,"Total Revenue":338669.31}],"webhookUrl":"https://prodegellc.app.n8n.cloud/webhook/generic-a802-48e3-ad992af233e0","executionMode":"production"}}]},"versionId":"d0741a14-2f0c-44a6-af77-8a26220db799","activeVersionId":"d0741a14-2f0c-44a6-af77-8a26220db799","triggerCount":2,"shared":[{"updatedAt":"2025-12-18T22:29:14.005Z","createdAt":"2025-12-18T22:29:14.005Z","role":"workflow:owner","workflowId":"teiSkerAYLvP7ybJ","projectId":"PZkDRO2KVE09GlpT"}],"activeVersion":{"updatedAt":"2025-12-18T22:28:49.837Z","createdAt":"2025-12-18T22:28:49.837Z","versionId":"d0741a14-2f0c-44a6-af77-8a26220db799","workflowId":"teiSkerAYLvP7ybJ","nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-5.1","mode":"list","cachedResultName":"gpt-5.1"},"responsesApiEnabled":false,"options":{"timeout":30000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[976,560],"id":"26058256-6087-4339-b48b-f720bc83828b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"httpMethod":"POST","path":"generic-a802-48e3-ad992af233e0","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[304,432],"id":"68af8151-c699-42ca-aefb-f70856a31749","name":"Webhook","webhookId":"3dc58acb-a802-48e3-88ab-ad992af233e0"},{"parameters":{"promptType":"define","text":"=# **Objective**\nIf you detect an anomaly in **Data** below, use the attached Slack Tool: \"Send to Slack {{ $('set Vars').item.json.slackType.toUpperCase()  }}\" and use {{ $('set Vars').item.json.slackTarget }} as the ID.\n\n# Context\n- Current time: {{ $now.format('yyyy-MM-dd HH:mm:ss') }}\n- Timezone: {{ $now.toLocal() }} {{ $now.toLocal().locale }}\n\n# User Controls\n- Standard Deviation Sensitivity (StdDevMultiplier): {{ $('set Vars').item.json.StdDevMultiplier }}\n- Alert Range Units (alertRangeUnits): {{ $('set Vars').item.json.alertRangeUnits }}\n\n# **Data**\nProcess the incoming JSON data for anomalies: {{ $json.data }}\n","options":{"systemMessage":"=# Role\nYou are an automated data monitoring and alerting bot. You analyze a JSON time-series dataset, detect anomalies using standard deviation thresholds, and post one Slack-formatted message if anomalies are found.\n\n# Instructions\n1. Analyze the returned data following the statistical analysis guidelines below\n2. Generate a Slack alert if anomalies are detected\n\n\n# Inputs\nYou will receive input data with the following structure:\n- data: array of objects (rows) - **this will be provided in the input**\n- StdDevMultiplier: number (default 3)\n- alertRangeUnits: integer N, the number of most recent complete time periods\n- timezone: IANA timezone string (default UTC)\n- direction: one of high | low | both (default high)\n\nThe input data will be passed to you as a JSON object. Access the time-series data \nfrom the 'data' field, and configuration parameters from their respective fields.\n\n# Data Structure Analysis\n- Time column detection:\n  - Detect the timestamp/date column by name patterns: date, time, datetime, day, hour, week, month, timestamp, ts.\n  - If multiple candidates exist, choose the most granular column by priority: second > minute > hour > day > week > month. Break ties by the column with the highest distinct count.\n- Time parsing and granularity:\n  - Parse timestamps using $json.timezone.\n  - Determine the dataset’s granularity by inspecting intervals and/or formats.\n  - Define complete periods in the chosen timezone. Exclude the most recent incomplete period.\n  - Week definition: ISO week (Monday start) unless data clearly indicates a different convention.\n- Metric detection:\n  - Consider numeric columns (including numeric strings).\n  - Ignore non-numeric columns and ID-like columns (names containing id, uuid, guid).\n- Aggregation within time buckets:\n  - If multiple rows map to the same time bucket, aggregate per metric by sum.\n\n# Statistical Analysis (Per Metric)\n- Baseline:\n  - Use the full history of complete periods (exclude the current incomplete period).\n  - Compute mean and population standard deviation (divide by N).\n  - If baseline size < max(10, $json.alertRangeUnits), proceed but note limited significance.\n- Thresholds and direction:\n  - Let k = $json.StdDevMultiplier.\n  - Upper = mean + k * stdev\n  - Lower = mean − k * stdev\n  - Direction rules:\n    - high: value > Upper\n    - low: value < Lower\n    - both: apply both rules\n  - If stdev = 0, treat the series as constant; only flag values that deviate from the mean per direction.\n- Alerting window:\n  - Consider only the last N complete periods, where N = $json.alertRangeUnits.\n  - If fewer than N complete periods exist, use the available complete periods and note the reduction.\n\n# Time-Based Filtering and Completeness\n- Build statistics on the full historical set of complete periods.\n- For anomaly detection, use only the last N complete periods.\n- Do not include any partial period in calculations or alerts. Completeness is evaluated using $json.timezone relative to the current period boundary.\n\n# Output Requirements and Constraints\n- Mandatory: produce at most one single message as output.\n- If no anomalies are detected across all metrics, produce no output.\n- Output must be formatted for Slack and may use Markdown for emphasis (bold) and bullet lists.\n- Use actual column names from the data.\n- Adapt references to the correct time unit (second, minute, hour, day, week, month) based on detected granularity.\n- For transparency, include:\n  - Metric name\n  - The time range analyzed for anomalies (last N complete periods, timezone)\n  - A list of each detected anomaly with its time period and value\n  - Sample size used for baseline\n  - Mean and threshold(s): Upper (and Lower if direction ≠ high)\n- When multiple metrics have anomalies, organize findings by metric.\n\n# Slack Message Structure and Formatting\n- Title line with emoji (e.g., \"🚨 Anomaly Detected ... 🚨\")\n- Lines for:\n  - Time Granularity (and Timezone)\n  - Alert Range: \"Past N [units]\"\n- For each metric with anomalies:\n  - Bold section header with the metric name with emoji (e.g., \":spiral_calendar_pad: Revenue\")\n  - Bullet list of anomalies:\n    - Each item: time period label and value\n    - Sorted chronologically descending (most recent first)\n    - Limit to 10; if truncated, append \"+ X more ...\"\n  - Statistical Summary:\n    - Upper threshold\n    - Mean\n    - Lower threshold\n    - Standard Deviation Sensitivity\n    - Baseline sample size\n- Number formatting:\n  - Use thousands separators for large numbers\n  - Round mean/stdev/thresholds to 2 decimals\n  - Detect percentages by name (rate, pct, %) and format to one decimal with a % sign\n  - Detect currency by name (amount, revenue, cost, $) and prefix with $ plus thousands separators\n\n# Edge Cases and Safeguards\n- Insufficient data:\n  - If baseline has very few points (< max(10, N)), include a note about limited significance.\n- Missing values: drop null/NaN from calculations and detection.\n- Duplicate timestamps within a bucket: aggregate by sum.\n- Multiple time columns: pick the most granular per rules.\n- If the time column cannot be parsed or determined, produce no output.\n- If $json.alertRangeUnits exceeds available complete periods, reduce to the available complete periods and note it.\n\n# Behavior Summary\n1. Detect time column and granularity; parse times in $json.timezone; exclude the incomplete current period.\n2. Identify numeric metric columns (ignore ID-like and non-numeric).\n3. Aggregate values per complete time bucket as needed (sum).\n4. Compute baseline mean and population stdev over all complete historical periods.\n5. Determine Upper/Lower thresholds using k = $json.StdDevMultiplier and $json.direction.\n6. Scan only the last N complete periods (N = $json.alertRangeUnits) for anomalies.\n7. If no anomalies are found for all metrics, output nothing; otherwise, produce exactly one Slack-formatted message per the structure above.","maxIterations":5}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1040,336],"id":"d58ce022-8687-494c-9537-0bc8e9704e47","name":"AI Agent Generic Anomaly"},{"parameters":{"content":"Webhook: https://prodegellc.app.n8n.cloud/webhook/generic-a802-48e3-ad992af233e0\nSet parameters:\n- ?StdDevMultiplier=2.5\n- &alertRangeUnits=3\n- &slackType=user (or 'channel')\n- &slackTarget=U2Y1ESCBZ (Slack User ID or name of channel without hash, e.g. 'ncrave-adops')","width":864,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-128,464],"typeVersion":1,"id":"f43d48b3-39ae-4e44-b8d1-a4a76f739f5d","name":"Sticky Note"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"body","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[80,240],"id":"486ee9c7-2e14-46ed-b359-bfcf7cad6d58","name":"Aggregate"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-368,144],"id":"78a25a47-29e1-4eae-bc2f-9f6ad9d09123","name":"Click"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    TO_CHAR(zd.created_at, 'YYYY-MM-DD HH24:00') AS created_date_hour\n    , zd.status\n    , COUNT(DISTINCT zd.ticket_id)\nFROM zendesk_db.zendesk_support.tickets zd\nJOIN zendesk_db.zendesk_support.ticket_tags zt ON zd.ticket_id = zt.ticket_id\nWHERE 1=1\n    --AND zd.ticket_id=16808425 // 2025-1029 added as example of a single ticket\n    AND zd.created_at >= DATEADD('day', -7, CURRENT_DATE())\n    --AND zd.created_at <= DATEADD('day', 0, CURRENT_DATE())\n    AND zd.custom_intent ILIKE '%offer%'\n    AND zd.status NOT IN ('solved','closed')\n    AND zd.brand_id NOT IN ('17689546278164','33000050083988') -- Adgate, PPN\n    AND zd.group_id NOT IN ('16297850363668') -- Verification group\n    AND zd.\"via/channel\" NOT LIKE 'native_messaging'\n    AND UPPER(zd.status) IN ('NEW','OPEN','PENDING')\nGROUP BY 1, 2\nORDER BY created_date_hour DESC\nLIMIT 450"},"type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[-144,240],"id":"14f0e99d-f7e0-4c25-8e6d-b76851337827","name":"SQL: Zendesk Tickets by Status","credentials":{"snowflake":{"id":"gyAQtZa8Xv82pKrh","name":"Snowflake SUPPORT n8n-support-gservice-2025oct"}}},{"parameters":{"content":"## Anomaly Notification\n\nUse data in generic format of:\n- x-axis = time unit\n- y-axis = numeric value(s)\n\nTrigger: Manual, Scheduled, Webhook\n\n### Webhook\n- Allow generic data input from sources like Sigma\n\n### Manual/Scheduled Snowflake:\n- Queries Zendesk ticket data from Snowflake\n- Transforms flat SQL results into nested JSON format\n- Aggregates multiple rows into single structured output","height":416,"width":464},"type":"n8n-nodes-base.stickyNote","position":[-352,-288],"typeVersion":1,"id":"b2067d07-19b2-4471-b1d7-4d5b79f8bbef","name":"Sticky Note3"},{"parameters":{"content":"## Robustness Improvements\n\n### Error Handling:\n- Add error handling for Snowflake connection failures\n- Validate SQL query returns data before transformation\n- Add retry logic with 3 attempts and exponential backoff\n\n### Data Validation:\n- Check for null/empty results from SQL query\n- Validate date formats before transformation\n- Add logging node to track execution history\n\n### Best Practices:\n- Add timeout handling (300s max)\n- Include data quality checks for ticket_count > 0\n- Consider adding data freshness validation","height":416,"width":448,"color":3},"type":"n8n-nodes-base.stickyNote","position":[128,-288],"typeVersion":1,"id":"832cde57-1d42-48d6-a6b1-d4f62474ae0a","name":"Sticky Note4"},{"parameters":{"content":"## Required Credentials\n\n### Snowflake:\n- Type: Service Account\n- Name: Snowflake SUPPORT n8n-support-gservice-2025oct\n- Access: Read-only on zendesk_db schema\n- Storage Location: n8n Cloud Credentials Manager","height":416,"width":352,"color":5},"type":"n8n-nodes-base.stickyNote","position":[608,-288],"typeVersion":1,"id":"b35e87f0-6b61-42a6-8257-a69d2723f106","name":"Sticky Note5"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Channel', ``, 'string') }}","mode":"name"},"text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_Text', ``, 'string') }}","otherOptions":{"includeLinkToWorkflow":true,"mrkdwn":true}},"type":"n8n-nodes-base.slackTool","typeVersion":2.3,"position":[1104,560],"id":"a4c8d2fe-c994-485e-adb9-2820ddccb9c0","name":"Send to Slack CHANNEL","webhookId":"dd33af5d-2fec-4b56-ab96-359b28643e4a","credentials":{"slackApi":{"id":"3toyTjW1jCWQIrsZ","name":"Slack Access Token n8n (LastPass)"}}},{"parameters":{"select":"user","user":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('User', ``, 'string') }}","mode":"id"},"text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_Text', ``, 'string') }}","otherOptions":{"includeLinkToWorkflow":true,"mrkdwn":true}},"type":"n8n-nodes-base.slackTool","typeVersion":2.3,"position":[1232,560],"id":"5a2f1e5a-1bc7-4acf-b4f8-2ccf6659d72c","name":"Send to Slack USER","webhookId":"dd33af5d-2fec-4b56-ab96-359b28643e4a","credentials":{"slackApi":{"id":"3toyTjW1jCWQIrsZ","name":"Slack Access Token n8n (LastPass)"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"97322d9c-a9dd-4744-af3c-fd20e0cd4da6","leftValue":"={{ $json.slackType }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[752,336],"id":"791d06e6-7b8a-4ff2-b301-f1a844b0fc95","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"bad37810-dd8b-4e4d-8052-55e8c9f3bd76","name":"data","value":"={{ $json.body.toJsonString() }}","type":"string"},{"id":"6bc5d666-bcdd-4b7f-bba4-013b394dc418","name":"alertRangeUnits","value":"={{ $json.query?.alertRangeUnits ?? 10 }}","type":"number"},{"id":"07a6deec-41c9-4ced-85b5-c1e9c7193423","name":"StdDevMultiplier","value":"={{ $json.query?.StdDevMultiplier ?? 2.0 }}","type":"number"},{"id":"dfbdbae7-9338-435e-8fab-3079ece1c616","name":"slackUserID.Feffer","value":"U2Y1ESCBZ","type":"string"},{"id":"c47ea308-1d09-408c-8745-72d6ae4f8cd0","name":"slackUserID.Kristie","value":"U1RHSMFGA","type":"string"},{"id":"1edff41b-7c31-43bf-8cda-55d01caaf678","name":"slackType","value":"={{ $json.query?.slackType ?? 'channel' }}","type":"string"},{"id":"466226a4-3f58-4d0b-b8c3-575fee308c96","name":"=slackTarget","value":"={{ $json.query?.slackTarget ?? 'test-fake-data-testing' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[528,336],"id":"cbf2cd94-8eca-4346-80ef-cd986b6e2322","name":"set Vars"},{"parameters":{"content":"**ChatGPT 5.1 (API) usage likely cost** using current OpenAI pricing (API token billing):\n\n### 📊 Token Usage You Provided\n* **Prompt tokens:** 24,227\n* **Completion tokens:** 294\n* **Total tokens:** 24,521\n\n### 💰 GPT-5.1 API Pricing (Standard Rates)\nAccording to OpenAI’s official API pricing:\n* **Input tokens:** **$1.25 / 1M tokens**\n* **Output tokens:** **$10.00 / 1M tokens** ([OpenAI Platform][1])\n\nThat means:\n* Each **input token** costs **$1.25 ÷ 1,000,000 ≈ $0.00000125**\n* Each **output token** costs **$10 ÷ 1,000,000 ≈ $0.00001** ([OpenAI Platform][1])\n\n### 🧮 Cost Breakdown\n#### 🔹 Input Cost\nPrompt tokens (24,227) × $0.00000125 ≈ **$0.03028**\n\n#### 🔹 Output Cost\nCompletion tokens (294) × $0.00001 ≈ **$0.00294**\n\n✅ Estimated Total Cost\n**≈ $0.0332** (about **3.3 cents USD**) for that single API call.\n\n### Notes & Clarifications\n* **Prompt caching discounts:** If you’re reusing the same system prompt or few repeated tokens, OpenAI applies a cached-input discount (often ~90%, dramatically lowering input cost). That could *reduce your real cost further*. ([ThePromptBuddy][2])\n* This estimate assumes **standard (non-cached) billing**. With caching, your input cost could be even lower.\n* These figures are based on **GPT-5.1 API pricing** — if you’re using a *specific variant* (like “gpt-5.1-chat-latest”), rates are the same by official docs. ([OpenAI Platform][1])","height":768,"width":880,"color":4},"type":"n8n-nodes-base.stickyNote","position":[992,-464],"typeVersion":1,"id":"5e462303-a6b5-4dc2-a399-67741d211f14","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"199fba0e-9ea2-4e0d-bb21-496234e15f99","name":"query.alertRangeUnits","value":"48","type":"string"},{"id":"b02655e8-3f02-4917-936e-a3142d384937","name":"query.slackType","value":"channel","type":"string"},{"id":"df5bedd3-adae-4cfb-abe7-d63dbdea2aab","name":"query.slackTarget","value":"test-fake-data-testing","type":"string"},{"id":"f5faf282-c43d-4a6a-a52d-1a491f6f6bda","name":"query.StdDevMultiplier","value":1.5,"type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,240],"id":"503aa862-96b2-4156-a471-350e44fff0d5","name":"set Manual Vars"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"43 10 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-368,336],"id":"f3ec3dbc-d9be-43cd-909b-1030972671c3","name":"Schedule Trigger"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent Generic Anomaly","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"set Vars","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"set Manual Vars","type":"main","index":0}]]},"Click":{"main":[[{"node":"SQL: Zendesk Tickets by Status","type":"main","index":0}]]},"SQL: Zendesk Tickets by Status":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Send to Slack CHANNEL":{"ai_tool":[[{"node":"AI Agent Generic Anomaly","type":"ai_tool","index":0}]]},"Send to Slack USER":{"ai_tool":[[{"node":"AI Agent Generic Anomaly","type":"ai_tool","index":0}]]},"If":{"main":[[{"node":"AI Agent Generic Anomaly","type":"main","index":0}]]},"set Vars":{"main":[[{"node":"If","type":"main","index":0}]]},"set Manual Vars":{"main":[[{"node":"set Vars","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"SQL: Zendesk Tickets by Status","type":"main","index":0}]]}},"authors":"Fef Feffer","name":null,"description":null},"tags":[{"updatedAt":"2025-11-21T23:26:05.849Z","createdAt":"2025-11-21T23:26:05.849Z","id":"3XyKYikIpsgAxVep","name":"Slack"},{"updatedAt":"2025-10-23T19:15:38.174Z","createdAt":"2025-10-23T19:15:38.174Z","id":"C5MM4qYo2tGr38Hs","name":"support CS"},{"updatedAt":"2025-06-06T18:17:45.414Z","createdAt":"2025-05-20T18:50:07.486Z","id":"o9kQdq2i4tcW3ACG","name":"disco PM"}]}