GitHub SYnc.json
{"updatedAt":"2025-11-07T09:15:42.000Z","createdAt":"2025-11-07T09:15:25.322Z","id":"mlSFNIprJ5CE9hS7","name":"GitHub SYnc","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"2c2005b7-f705-40de-b007-ec853e26bab7","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[480,320],"typeVersion":1},{"parameters":{"content":"## Subworkflow","height":731.7039821513649,"width":1910.7813046051347,"color":6},"id":"3c7ca1db-5224-4598-aa81-6663a8493444","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,704],"typeVersion":1},{"parameters":{},"id":"7a519ea3-52ac-4d6c-8d3a-ec6e176253b7","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[64,1088],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"636221a8-12e6-406c-8b50-4b0596280f88","name":"n8n","type":"n8n-nodes-base.n8n","position":[880,432],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"64a8af46-6c48-470c-8074-f865cd02e519","name":"Return","type":"n8n-nodes-base.set","position":[1728,912],"typeVersion":3.3},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"858c402c-f324-485d-9a49-7e123c4323c7","name":"Get File","type":"n8n-nodes-base.httpRequest","position":[688,784],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"9619a55f-7fb1-4f24-b1a7-7aeb82365806","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"16d3b4e7-9f22-4788-a9e2-be5fd9257468","name":"If file too large","type":"n8n-nodes-base.if","position":[448,800],"typeVersion":2},{"parameters":{},"id":"9bcc3d8f-3a69-4cae-b17b-e2d95b2eff56","name":"Merge Items","type":"n8n-nodes-base.merge","position":[448,1072],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"},"id":"8ab20749-f850-4759-8a9c-b5b6f5ca2e69","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[640,1072],"typeVersion":1},{"parameters":{"dataType":"string","value1":"={{$json.github_status}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"120801bf-4977-49d0-a9bb-b1592e1adfea","name":"Check Status","type":"n8n-nodes-base.switch","position":[1040,1072],"typeVersion":1},{"parameters":{},"id":"3eb0f7b3-7643-432a-bb77-e2f2a029c4e2","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[1264,912],"typeVersion":1},{"parameters":{},"id":"ed2895fa-29fa-47a6-b290-d7192dea6011","name":"File is different","type":"n8n-nodes-base.noOp","position":[1264,1072],"typeVersion":1},{"parameters":{},"id":"fa32aabf-ed66-45c1-b830-b55d8db6b95e","name":"File is new","type":"n8n-nodes-base.noOp","position":[1264,1264],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"43f558a4-52e9-41b1-9faa-40ea789e6712","name":"Create new file","type":"n8n-nodes-base.github","position":[1488,1264],"typeVersion":1,"webhookId":"088fbb2d-7ceb-4cc3-bdb7-f3f183725a63"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"a332e40c-f31c-4c31-9cee-05b107d2a178","name":"Edit existing file","type":"n8n-nodes-base.github","position":[1488,1072],"typeVersion":1,"webhookId":"a4b5af80-da3f-4463-886b-14069a9f02cd"},{"parameters":{"options":{}},"id":"fdd01afd-528f-4b5b-957a-a29aac5edaa7","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1088,432],"typeVersion":3},{"parameters":{"rule":{"interval":[{"triggerAtHour":1,"triggerAtMinute":33}]}},"id":"708c975f-2443-4ef6-9d90-2d0c9e6b3b53","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[480,528],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"dae43d3b-56e5-4098-b602-862ebf5cd073","name":"subPath","type":"string","value":"={{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/"}]},"includeOtherFields":true,"options":{}},"id":"1b952991-d8d9-4601-a9af-43457677b828","name":"Create sub path","type":"n8n-nodes-base.set","position":[848,1072],"typeVersion":3.3},{"parameters":{"content":"## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.","height":417,"width":385,"color":4},"id":"ed7aaf5c-7b59-411d-af15-86e55dd7ed34","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,240],"typeVersion":1},{"parameters":{"content":"## Main workflow loop","height":416.1856906618075,"width":1272.6408145680155,"color":7},"id":"d885dfc4-a87f-49d3-9781-cba39c70a512","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[448,240],"typeVersion":1},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#notifications"},"text":"=:information_source:  Starting Workflow Backup [{{ $execution.id }}]","otherOptions":{"includeLinkToWorkflow":false}},"id":"ab5eff90-0442-42cb-9ead-db0c362f9e67","name":"Starting Message","type":"n8n-nodes-base.slack","position":[720,432],"webhookId":"c02eb407-5547-4aa0-9ebf-46dab67b63b6","typeVersion":2.2},{"parameters":{"workflowId":"={{ $workflow.id }}","mode":"each","options":{}},"id":"22f232e7-d139-4332-9a64-158d933454ce","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[1312,448],"typeVersion":1,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#notifications"},"text":"=✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.","otherOptions":{}},"id":"bce92fe9-95ca-4a88-b50e-103daf216560","name":"Completed Notification","type":"n8n-nodes-base.slack","position":[1312,272],"webhookId":"a0c6e8c8-5d71-40fa-b02b-63a7ed5726c4","executeOnce":true,"typeVersion":2.2},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#notifications"},"text":"=:x: Failed to backup {{ $('Loop Over Items').item.json.id }}","otherOptions":{"includeLinkToWorkflow":false}},"id":"04e96a16-264c-4918-a0b2-ba5b9a32d116","name":"Failed Flows","type":"n8n-nodes-base.slack","position":[1504,464],"webhookId":"2a092edb-de12-490f-931b-34d70e7d7696","typeVersion":2.2},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/{{$json.id}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"1f0a320b-5531-4d54-a152-686772335788","name":"Get file data","type":"n8n-nodes-base.github","position":[240,800],"typeVersion":1,"alwaysOutputData":true,"webhookId":"fe052954-f982-4505-9920-6cdb544bc2d7","continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"8f6d1741-772f-462a-811f-4c334185e4f0","name":"repo_owner","type":"string","value":"={{ $vars.repo_owner }}"},{"id":"8cac215c-4fd7-422f-9fd2-6b2d1e5e0383","name":"repo_name","type":"string","value":"={{ $vars.repo_name }}"},{"id":"eee305e9-4164-462a-86bd-80f0d58a31ae","name":"repo_path","type":"string","value":"={{ $vars.repo_path }}"}]},"includeOtherFields":true,"options":{}},"id":"4255522b-c180-46e3-9ea8-e808e7b45049","name":"Config","type":"n8n-nodes-base.set","position":[240,1088],"typeVersion":3.4}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Config":{"main":[[{"node":"Get file data","type":"main","index":0},{"node":"Merge Items","type":"main","index":1}]]},"Get File":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Create sub path","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Failed Flows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Create sub path":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Completed Notification","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Failed Flows","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Starting Message":{"main":[[{"node":"n8n","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Config","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5265972e-758c-4f1f-a345-170c9deed2e4","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-07T09:15:25.324Z","createdAt":"2025-11-07T09:15:25.324Z","role":"workflow:owner","workflowId":"mlSFNIprJ5CE9hS7","projectId":"NOrA7nVi3G84Nq0v"}],"activeVersion":null,"tags":[]}