HubSpot Disco PM.json
{"updatedAt":"2025-07-01T23:00:57.000Z","createdAt":"2025-06-06T17:02:21.480Z","id":"pSoJHUUWhevAaUuT","name":"HubSpot Disco PM","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,100],"id":"b9e442a9-f424-4d60-a84f-b867694c0f97","name":"When clicking ‘Test workflow’"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"62aaa505-13fe-4f15-9910-c60fb841930d","leftValue":"={{ $json.properties.dealname }}","rightValue":"(D)","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[880,100],"id":"aabe2579-cbbb-4926-81b3-5aa559e4e740","name":"filterNonStandard"},{"parameters":{"assignments":{"assignments":[{"id":"d90a342d-3ca7-4c30-b261-c460702d32fe","name":"hubSpotDealID","value":"={{ $json.id }}","type":"string"},{"id":"10901174-67e8-4938-90a6-f6b41ff34eff","name":"hubSpotDealName","value":"={{ $json.properties.dealname.replace(/\\(D\\).*/g, '') }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,100],"id":"73186428-08d9-4541-91de-a5ffd5fd8a63","name":"setHSvars"},{"parameters":{"authentication":"appToken","resource":"deal","operation":"search","limit":"={{ $json.howMany }}","filterGroupsUi":{"filterGroupsValues":[{"filtersUi":{"filterValues":[{"propertyName":"company_name__deal_","operator":"HAS_PROPERTY"},{"propertyName":"dealname","operator":"HAS_PROPERTY"},{"propertyName":"pipeline","value":"={{ $json.hubspotPipeline }}"}]}}]},"additionalFields":{"properties":["netsuite_opportunity__","project_type","io_netsuite_id","netsuite_id","opportunity_name__in_netsuite_","company_name__deal_","hubspot_owner_id","dealname","deal_id","custom_form","budget_nor","billing_platform","android__ios__desktop","brand_url","ios_url","netsuite_link___url","tracking_url__link_id","caps__syndication_or_no_syndication","caps__system_wide__o_o_","offer_title","advertiser_email_for_tune_login","need_cost_reporting___tune__appsflyer__adjust_","integration","integration_type","pipeline","sales_pipeline","full_service_pm","vertical","clients_kpis__roas_goals","gs_revenue_from_iap__","deal_category","description","deal_identifier","dealstage","dealtype","hs_is_closed","intregration_type___platform__same_as_pmmr_","rate__type_","payback_window_","launch_dates","conversion_point___when_pixel_fires","io_title","award","keywords","pend_or_instant_award__if_different_than_standard_","other_notes_context_required_copy_","cost_to_member___minimum_spend","targeting__demographics_geo","client_estimate_of_time_it_takes_to_complete____days_","contract__cookie__attribution_window__ctit____days_","member_displayed__time_allowed_to_complete____days_","if_a_game__what_category_","suppress_shop_merchant_page_","did_you_add_it_to_the_pmmr_","pass_sale_amount_ad_revenue_in_mmp","product_name","hs_is_closed_won"]}},"type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[440,100],"id":"1f49e520-d490-4034-a7ad-793e6c490e7b","name":"getHubSpotDeals","alwaysOutputData":false,"credentials":{"hubspotAppToken":{"id":"g2yPcP4yBsSlHE4S","name":"HubSpot: N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"operation":"html","options":{"fileName":"={{ $now.format('yyyy-MM-dd HHmm' ) }} HubSpot Disco.html","headerRow":true}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1100,0],"id":"7636829c-f575-4dd8-9f06-12db055fc101","name":"makeHTML"},{"parameters":{"authentication":"oAuth2","resource":"engagement","operation":"get","engagementId":{"__rl":true,"value":"79410974900","mode":"id"}},"type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[0,460],"id":"cc2403bf-0ebb-4bba-bd69-00aa0b80ebe8","name":"hsGetEngagement","credentials":{"hubspotOAuth2Api":{"id":"avVp7gqk4yX1ss8E","name":"HubSpot Fef OAuth"}},"disabled":true},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1fd0JjkbnoM5XbV2yswh0WRU8CNnWA04mXPcTpbvRZdU","mode":"url"},"sheetName":{"__rl":true,"value":"190885744","mode":"id"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"properties","displayName":"properties","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"updatedAt","displayName":"updatedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"archived","displayName":"archived","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"hubSpotDealID","displayName":"hubSpotDealID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"hubSpotDealName","displayName":"hubSpotDealName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1100,200],"id":"7c7a32a5-ca6a-403c-823e-10a81979aa6e","name":"Google Sheets","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"authentication":"serviceAccount","name":"={{ $now.format('yyyy-MM-dd HHmm' ) }} HubSpot Disco.html","driveId":{"__rl":true,"value":"0ALf9iYd0MrdqUk9PVA","mode":"id"},"folderId":{"__rl":true,"value":"1U69iFJ6oeelNmtBwMgB2Qh26z7vcPuCW","mode":"id"},"options":{"propertiesUi":{"propertyValues":[{"key":"source","value":"n8n Automation"}]}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1320,0],"id":"269acaf7-17ed-4fb7-a48f-cb380571ec6b","name":"Google Drive","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"content":"# NOR HubSpot\n### WIP Version\n* Gets Disco PM Deals from HubSpot\n* Add them to:\n* [GSheet rows](https://docs.google.com/spreadsheets/d/1fd0JjkbnoM5XbV2yswh0WRU8CNnWA04mXPcTpbvRZdU/edit?gid=190885744#gid=190885744)\n* [GDrive PM AdOps HubSpot as HTML](https://drive.google.com/drive/folders/1U69iFJ6oeelNmtBwMgB2Qh26z7vcPuCW)","height":220,"width":300,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-100,-120],"typeVersion":1,"id":"63240a06-a763-4f3f-bc93-1ac152b31fa3","name":"Sticky Note"},{"parameters":{"content":"### Credentials:\n* HubSpot: n8n App from HS (Prod or Sandbox)\n* Google: GSA n8n Disco","height":100,"width":380},"type":"n8n-nodes-base.stickyNote","position":[1060,-160],"typeVersion":1,"id":"fdf1eed9-34c3-4dda-a9eb-199b59157422","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"1b08698d-0d4d-4e30-b71d-2eef849980e1","name":"howMany","value":20,"type":"number"},{"id":"1a0b90e3-0cc4-46e1-95a3-2ec359b72f11","name":"hubspotPipeline","value":"={{$vars.hubspotPipeline_perfmktg_sandbox}}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,100],"id":"6aba652c-584a-47cd-b945-8cb383f0cd47","name":"initVars"},{"parameters":{"content":"### HubSpot Sandbox Creds\n[HubSpot](https://app.hubspot.com/private-apps/40213119/14859713)\n### Pipelines\n* $vars.hubspotPipeline_insights_PRODUCTION \n* $vars.hubspotPipeline_insights_sandbox  \n* $vars.hubspotPipeline_perfmktg_PRODUCTION \n* $vars.hubspotPipeline_perfmktg_sandbox","height":200,"width":480,"color":3},"type":"n8n-nodes-base.stickyNote","position":[340,260],"typeVersion":1,"id":"cabd5ebf-aa90-4bdd-8412-a18aa2ac25bd","name":"Sticky Note2"},{"parameters":{"url":"https://api.hubapi.com/automation/v3/workflows/","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,400],"id":"ad653535-b00f-434c-a23e-0b9729be4213","name":"hsWorkflows","credentials":{"hubspotAppToken":{"id":"g2yPcP4yBsSlHE4S","name":"HubSpot: N8N-SANDBOX-DISCO-2025_0623a"}},"disabled":true}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"initVars","type":"main","index":0}]]},"setHSvars":{"main":[[{"node":"filterNonStandard","type":"main","index":0}]]},"getHubSpotDeals":{"main":[[{"node":"setHSvars","type":"main","index":0}]]},"filterNonStandard":{"main":[[{"node":"makeHTML","type":"main","index":0},{"node":"Google Sheets","type":"main","index":0}]]},"makeHTML":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Sheets":{"main":[[]]},"initVars":{"main":[[{"node":"getHubSpotDeals","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"43a28c75-d780-404b-8f62-31a3cbdcc3d4","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-06-24T02:13:53.986Z","createdAt":"2025-06-24T02:13:53.986Z","role":"workflow:owner","workflowId":"pSoJHUUWhevAaUuT","projectId":"NOrA7nVi3G84Nq0v"}],"activeVersion":null,"tags":[{"updatedAt":"2025-06-06T18:17:40.197Z","createdAt":"2025-06-06T18:17:16.177Z","id":"QSobdHvedr4NOCqq","name":"hubspot HS"},{"updatedAt":"2025-06-06T18:17:45.414Z","createdAt":"2025-05-20T18:50:07.486Z","id":"o9kQdq2i4tcW3ACG","name":"disco PM"}]}