HubSpot Insights test WIP.json
{"updatedAt":"2025-07-31T20:34:38.000Z","createdAt":"2025-06-13T15:47:47.058Z","id":"CTY3bP5WZaaUcxqK","name":"HubSpot Insights test WIP","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,192],"id":"90db47d3-95da-4162-83fa-3c2ac5abe1af","name":"When clicking ‘Test workflow’"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"62aaa505-13fe-4f15-9910-c60fb841930d","leftValue":"={{ $json.properties.dealname }}","rightValue":"(D)","operator":{"type":"string","operation":"notContains"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[896,192],"id":"4a264b1f-6aa6-4c24-8f2c-e6abfd872b2d","name":"filterNonStandard"},{"parameters":{"assignments":{"assignments":[{"id":"d90a342d-3ca7-4c30-b261-c460702d32fe","name":"hubSpotDealID","value":"={{ $json.id }}","type":"string"},{"id":"10901174-67e8-4938-90a6-f6b41ff34eff","name":"hubSpotDealName","value":"={{ $json.properties.dealname.replace(/\\(D\\).*/g, '') }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,192],"id":"5d63e86a-a015-4b14-8a51-953a9ffa2aa2","name":"setHSvars"},{"parameters":{"authentication":"appToken","resource":"deal","operation":"search","limit":"={{ $json.howMany }}","filterGroupsUi":{"filterGroupsValues":[{"filtersUi":{"filterValues":[{"propertyName":"company_name__deal_","operator":"HAS_PROPERTY"},{"propertyName":"dealname","operator":"HAS_PROPERTY"},{"propertyName":"pipeline","value":"={{ $json.hubspotPipeline }}"}]}}]},"additionalFields":{"properties":["netsuite_opportunity__","project_type","io_netsuite_id","netsuite_id","opportunity_name__in_netsuite_","company_name__deal_","hubspot_owner_id","dealname","deal_id","custom_form","budget_nor","billing_platform","android__ios__desktop","brand_url","ios_url","netsuite_link___url","tracking_url__link_id","caps__syndication_or_no_syndication","caps__system_wide__o_o_","offer_title","advertiser_email_for_tune_login","need_cost_reporting___tune__appsflyer__adjust_","integration","integration_type","pipeline","sales_pipeline","full_service_pm","vertical","clients_kpis__roas_goals","gs_revenue_from_iap__","deal_category","description","deal_identifier","dealstage","dealtype","hs_is_closed","intregration_type___platform__same_as_pmmr_","rate__type_","payback_window_","launch_dates","conversion_point___when_pixel_fires","io_title","award","keywords","pend_or_instant_award__if_different_than_standard_","other_notes_context_required_copy_","cost_to_member___minimum_spend","targeting__demographics_geo","client_estimate_of_time_it_takes_to_complete____days_","contract__cookie__attribution_window__ctit____days_","member_displayed__time_allowed_to_complete____days_","if_a_game__what_category_","suppress_shop_merchant_page_","did_you_add_it_to_the_pmmr_","pass_sale_amount_ad_revenue_in_mmp"]}},"type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[448,192],"id":"95c474d1-af4c-4ced-8496-8888d8a86cb3","name":"getHubSpotDeals","alwaysOutputData":false,"credentials":{"hubspotAppToken":{"id":"g2yPcP4yBsSlHE4S","name":"HubSpot: N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"operation":"html","options":{"fileName":"={{ $now.format('yyyy-MM-dd HHmm' ) }} HubSpot Disco.html","headerRow":true}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1120,0],"id":"89145ac1-2e20-4079-82ba-c7c0b69050b4","name":"makeHTML"},{"parameters":{"authentication":"oAuth2","resource":"engagement","operation":"get","engagementId":{"__rl":true,"value":"79410974900","mode":"id"}},"type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[0,712],"id":"7474e335-a6b7-4199-a1f7-30ab3dda3617","name":"hsGetEngagement","credentials":{"hubspotOAuth2Api":{"id":"avVp7gqk4yX1ss8E","name":"HubSpot Fef OAuth"}},"disabled":true},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1fd0JjkbnoM5XbV2yswh0WRU8CNnWA04mXPcTpbvRZdU","mode":"url"},"sheetName":{"__rl":true,"value":"190885744","mode":"id"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"properties","displayName":"properties","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"updatedAt","displayName":"updatedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"archived","displayName":"archived","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"hubSpotDealID","displayName":"hubSpotDealID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"hubSpotDealName","displayName":"hubSpotDealName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1120,192],"id":"948b954c-2fc9-420a-8c28-23d41b37e98f","name":"Google Sheets","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"authentication":"serviceAccount","name":"={{ $now.format('yyyy-MM-dd HHmm' ) }} HubSpot Disco.html","driveId":{"__rl":true,"value":"0ALf9iYd0MrdqUk9PVA","mode":"id"},"folderId":{"__rl":true,"value":"1U69iFJ6oeelNmtBwMgB2Qh26z7vcPuCW","mode":"id"},"options":{"propertiesUi":{"propertyValues":[{"key":"source","value":"n8n Automation"}]}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1464,0],"id":"d5a97990-6728-429c-ad8d-ce8bce63d007","name":"Google Drive","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}},"disabled":true},{"parameters":{"content":"# NOR HubSpot\n### WIP Version\n* Gets Disco PM Deals from HubSpot\n* Add them to:\n* [GSheet rows](https://docs.google.com/spreadsheets/d/1fd0JjkbnoM5XbV2yswh0WRU8CNnWA04mXPcTpbvRZdU/edit?gid=190885744#gid=190885744)\n* [GDrive PM AdOps HubSpot as HTML](https://drive.google.com/drive/folders/1U69iFJ6oeelNmtBwMgB2Qh26z7vcPuCW)","height":220,"width":300,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-96,-128],"typeVersion":1,"id":"64368b32-0c58-47c9-a519-512ed51f807a","name":"Sticky Note"},{"parameters":{"content":"### Credentials:\n* HubSpot: Feffer\n* Google: GSA n8n Disco","height":100,"width":380},"type":"n8n-nodes-base.stickyNote","position":[1072,-160],"typeVersion":1,"id":"4b58ae5b-70ad-48ca-97da-71a7998643de","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"1b08698d-0d4d-4e30-b71d-2eef849980e1","name":"howMany","value":20,"type":"number"},{"id":"1a0b90e3-0cc4-46e1-95a3-2ec359b72f11","name":"hubspotPipeline","value":66391861,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,192],"id":"3503e723-4c43-4249-b66d-e8f3b64e4e49","name":"initVars"},{"parameters":{"content":"### HubSpot Sandbox Creds\n[HubSpot](https://app.hubspot.com/private-apps/40213119/14859713)\n### Pipelines\n* $vars.hubspotPipeline_insights_PRODUCTION \n* $vars.hubspotPipeline_insights_sandbox  \n* $vars.hubspotPipeline_perfmktg_PRODUCTION \n* $vars.hubspotPipeline_perfmktg_sandbox","height":200,"width":480,"color":3},"type":"n8n-nodes-base.stickyNote","position":[192,288],"typeVersion":1,"id":"a4418537-dbe5-486d-988f-e646dc122c13","name":"Sticky Note2"},{"parameters":{"authentication":"appToken","resource":"engagement","type":"email","metadata":{"fromEmail":"jason.f@prodege.com","firstName":"Jason n8n","lastName":"Feffer","html":"<div> <h1>My First Heading</h1> Hello world. Please read my email. I want to make good things happen for my clients.  <p>My first paragraph.</p> <ul><li>bullet item</li></ul> <ul><li>2nd item</li></ul> <p>My Main Message.</p> </div>","subject":"TEST from n8n","toEmail":["Joey.Sweeney@prodege.com"]},"additionalFields":{"associations":{"dealIds":"40664455777"}}},"type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[0,936],"id":"72384e37-1846-4735-a585-450e09bfe649","name":"Create an engagement","credentials":{"hubspotAppToken":{"id":"g2yPcP4yBsSlHE4S","name":"HubSpot: N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"promptType":"define","text":"=create an Engagement TASK for each ID using the MCP HubSpot Create Engagement.\nThe incoming Deal IDs:  {{ $json.id }}\nDeal Name: {{ $json.properties.dealname }}\nPipeline: {{ $json.properties.pipeline }}","options":{"maxIterations":2}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[1376,384],"id":"aae993bf-3a56-461c-adc6-380b27abcfb9","name":"AI Agent"},{"parameters":{"maxItems":3},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1120,384],"id":"7e3929d7-43a0-4ef2-8227-a583d235dfed","name":"Limit"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{"timeout":6000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1344,608],"id":"2d002f1d-df28-4ded-ad82-f93d4dccc690","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"authentication":"appToken","resource":"ticket","pipelineId":"160261218","stageId":"268400513","ticketName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Ticket_Name', ``, 'string') }}","additionalFields":{"createDate":"={{ $now.format('yyyy-MM-dd') }}","description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}"}},"type":"n8n-nodes-base.hubspotTool","typeVersion":2.1,"position":[1472,608],"id":"4f1f5fd8-5a19-41cc-b034-b9cfff041c1b","name":"HubSpot MCP Create Ticket","credentials":{"hubspotAppToken":{"id":"g2yPcP4yBsSlHE4S","name":"HubSpot: N8N-SANDBOX-DISCO-2025_0623a"}},"disabled":true},{"parameters":{"authentication":"appToken","resource":"engagement","type":"task","metadata":{"body":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Body', ``, 'string') }}","status":"NOT_STARTED","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}"},"additionalFields":{"associations":{"dealIds":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Deals_IDs', ``, 'string') }}"}}},"type":"n8n-nodes-base.hubspotTool","typeVersion":2.1,"position":[1600,608],"id":"5b6c18a6-9551-43ee-b4df-1a2b3a6fea84","name":"MCP HubSpot Create Engagement","credentials":{"hubspotAppToken":{"id":"g2yPcP4yBsSlHE4S","name":"HubSpot: N8N-SANDBOX-DISCO-2025_0623a"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"initVars","type":"main","index":0}]]},"setHSvars":{"main":[[{"node":"filterNonStandard","type":"main","index":0}]]},"getHubSpotDeals":{"main":[[{"node":"setHSvars","type":"main","index":0}]]},"filterNonStandard":{"main":[[{"node":"makeHTML","type":"main","index":0},{"node":"Google Sheets","type":"main","index":0},{"node":"Limit","type":"main","index":0}]]},"makeHTML":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Sheets":{"main":[[]]},"initVars":{"main":[[{"node":"getHubSpotDeals","type":"main","index":0}]]},"Google Drive":{"main":[[]]},"Limit":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"HubSpot MCP Create Ticket":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"MCP HubSpot Create Engagement":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"initVars":[{"json":{"howMany":20,"hubspotPipeline":66391861}}]},"versionId":"34cc70e9-6821-4e7d-9b95-9c5bfde20232","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-06-17T18:46:40.719Z","createdAt":"2025-06-17T18:46:40.719Z","role":"workflow:owner","workflowId":"CTY3bP5WZaaUcxqK","projectId":"NOrA7nVi3G84Nq0v"}],"activeVersion":null,"tags":[{"updatedAt":"2025-06-06T18:17:40.197Z","createdAt":"2025-06-06T18:17:16.177Z","id":"QSobdHvedr4NOCqq","name":"hubspot HS"}]}