INSIGHTS: HubSpot Bid Request.json
{"updatedAt":"2025-08-04T17:31:40.000Z","createdAt":"2025-08-02T00:35:38.435Z","id":"UeDmkrm0kPQP7WHD","name":"INSIGHTS: HubSpot Bid Request","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-16,0],"id":"d7dc4c82-4357-4936-a40b-ba22954615ce","name":"When clicking ‘Execute workflow’"},{"parameters":{"authentication":"appToken","resource":"engagement","operation":"get","engagementId":{"__rl":true,"value":"={{ $json.objectId && $json.objectId !== '' ? $json.objectId : 84715133367 }}  ","mode":"id"}},"type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[624,64],"id":"50a35257-913b-49e2-a8c2-ab23a31fd09e","name":"Get an engagement","credentials":{"hubspotAppToken":{"id":"g2yPcP4yBsSlHE4S","name":"HubSpot: N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"promptType":"define","text":"=BID REQUEST: {{ $json.chatInput }} for Engagement ID: {{ $json.engagement_id }} associated to Deal ID: {{ $json.deal_id }}","options":{"systemMessage":"=You are an expert at categorizing natural language into enumerated values.\n\n## Tasks ##\nYou have 6 task to perform in sequence:\n1. Select the answer for Gender. Based on the input marked \"BID REQUEST:\", you have to categorize that input into an enumerated answer. Convert the Bid Request into one of the following options **ONLY** if you have high confidence:\n* Male\n* Female\n* Not Specified\nIf you cannot convert the input into the enumerated options, then return Option \"Prefer not to say\".\n\n2. Identify the length of interview aka \"LOI\". Based on the input marked \"BID REQUEST:\", you have to identify the length of the interview in terms of minutes rounded to nearest minute, round up. Input may look like these examples:\n* 5 min LOI --> 5 minutes\n* LOI: 12 --> 12 minutes\n* Length: 130 seconds --> 3 minutes\n\n3. Select the answer for State. Based on the input marked \"BID REQUEST:\", you have to identify the 2-letter state abbreviations **ONLY** if you have high confidence. If you cannot convert the input into any of the 50 state ISO 3166-2:US abbreviations, then return Option \"Not Specified\".\n\n4. Select the answer for Marital Status. Based on the input marked \"BID REQUEST:\", you have to categorize that input into an enumerated answer. Convert the Bid Request into one of the following options **ONLY** if you have high confidence:\n* Single, never married\n* Domestic Partnership\n* Married\n* Separated\n* Prefer not to say\nIf you cannot convert the input into the enumerated options, then return Option \"Prefer not to say\".\n\n5. Select the answer for Children in Household. Based on the input marked \"BID REQUEST:\", you have to categorize that input into an enumerated answer. Convert the Bid Request into options \"None\" or a whole number from 1 - 10, or \"11+\" if more than 11, or \"Prefer not to say\". **ONLY** if you have high confidence. If you cannot convert the input into the enumerated options, then return Option \"Prefer not to say\".\n\n6. Use the Tool HubSpot TASK to make a Task Engagement using the format below with the response and details.\n\n## Format for Body of Engagement ##\n\n<li> Number Requested: (numeric value in bid request prompt) </li>\n\n<li> Length of Interview (LOI): (length of interview) </li>\n\n<li> Gender: (Male, Female, or Not Specified) </li>\n\n<li> State: (State or state abbreviation) </li>\n\n<li> Marital Status (martial status reseponse) </li>\n\n<li> Children in Household: (number or response) </li>\n","maxIterations":5}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[1232,64],"id":"3bb9b491-43c0-4359-b88d-b3d66b10d658","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"timeout":8000,"maxRetries":3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1168,256],"id":"1729ff9f-0a3b-40ea-abf5-d9211c61e0bc","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[512,464],"id":"8bc381b7-1286-45ad-a6e4-ee89782ae70d","name":"When chat message received","webhookId":"1bc70560-efcc-4ec9-bf94-f1d498ece40c"},{"parameters":{"assignments":{"assignments":[{"id":"09351598-4e9f-45b7-bac3-3af9d3c7ea60","name":"engagement.bodyPreviewHtml","value":"={{ $json.engagement.bodyPreviewHtml }}","type":"string"},{"id":"213f3a7f-c7af-43ae-b486-1f141b16cef7","name":"engagement_id","value":"={{ $json.engagement.id }}","type":"number"},{"id":"449ea87c-f28f-4a24-bd18-57ab2356c4da","name":"associations.dealIds","value":"={{ $json.associations.dealIds }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,64],"id":"b19fa609-3cd1-4a89-b9c0-617fe6a01262","name":"HTML from Email"},{"parameters":{"assignments":{"assignments":[{"id":"42517f6d-d65a-446d-b483-863b7aafb3be","name":"chatInput","value":"={{ $json.engagement.bodyPreviewHtml.replace(/<[^>]*>/g, '').replace(/\\s+/g, ' ').trim() }}","type":"string"},{"id":"be86fd3f-5b2f-401f-8d34-f6dba48ad209","name":"engagement_id","value":"={{ $json.engagement_id }}","type":"number"},{"id":"c4ca0c60-b9b6-4021-8a6f-a6037311922e","name":"deal_id","value":"={{ $json.associations.dealIds.first() }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,64],"id":"65fdc0ea-1687-4c9c-a99a-296e46a62a4d","name":"Text from HTML"},{"parameters":{"descriptionType":"manual","toolDescription":"Create a TASK Engagement in HubSpot for record. Include ","authentication":"appToken","resource":"engagement","type":"task","metadata":{"body":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Body', ``, 'string') }}","status":"IN_PROGRESS","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `Create a subject with a very concise synopsis of the initial BID REQUEST`, 'string') }}"},"additionalFields":{"associations":{"dealIds":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Deals_IDs', ``, 'string') }}"}}},"type":"n8n-nodes-base.hubspotTool","typeVersion":2.1,"position":[1520,256],"id":"8ff25aad-ac5f-48e4-acac-68fdf3a5a85c","name":"HubSpot TASK","credentials":{"hubspotAppToken":{"id":"g2yPcP4yBsSlHE4S","name":"HubSpot: N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"content":"📋 Summary of Functionality\n- Extracts email content from HubSpot engagements\n- Processes bid requests using AI to categorize:\n-- Same Size requested\n-- Length of Interview (minutes rounded up)\n-- Gender (Male/Female/Not Specified)\n-- Marital Status\n-- US State abbreviations\n-- Children in Household\n- Creates structured HubSpot tasks with analysis results\n- Supports both manual trigger and chat interface input\n- Links tasks to associated deal records","height":304,"width":464},"type":"n8n-nodes-base.stickyNote","position":[16,-352],"typeVersion":1,"id":"e92907f9-b394-4aa7-b648-89b75f91e718","name":"Sticky Note"},{"parameters":{"content":"🛡️ How to Make it More Robust\n- *Webhook from HubSpot security*\n- Add error handling nodes for HubSpot API failures\n- Implement retry logic with exponential backoff\n- Add data validation for engagement ID existence\n- Include fallback mechanisms for AI service outages\n-- Secondary AI model or manual processing queue\n- Add logging nodes to track processing status\n- Implement rate limiting for API calls\n- Add input sanitization for HTML content\n- Create notification system for failed executions","height":304,"width":416,"color":3},"type":"n8n-nodes-base.stickyNote","position":[496,-352],"typeVersion":1,"id":"bc6a847f-b4a3-44e2-96e0-227caf1b0e11","name":"Sticky Note1"},{"parameters":{"content":"🔑 Credentials Used\n- HubSpot App Token:\n-- Name: \"HubSpot: N8N-SANDBOX-DISCO-2025_0623a\"\n-- Type: App Token Authentication\n- OpenAI API:\n-- Name: \"OpenAi 1L6 4E5\"\n-- Type: API Key Authentication\n-- Model: GPT-4.1-mini","height":304,"width":432,"color":5},"type":"n8n-nodes-base.stickyNote","position":[928,-352],"typeVersion":1,"id":"d6095a4e-e3ed-4fcb-9ca5-b13ed5beafc7","name":"Sticky Note2"},{"parameters":{"httpMethod":"POST","path":"n8n-hubspot-sandbox-bid-req-WHD","options":{"ignoreBots":false}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-16,192],"id":"88aba7f8-0e57-4507-b962-fc46e1f72537","name":"Webhook","webhookId":"d8407ebc-590a-4095-8bfe-09856faf0d46"},{"parameters":{"content":"### Email Creation (Simulate)\n- Edit to change the body\n- Execute both nodes","height":288,"width":368,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-32,368],"typeVersion":1,"id":"5de5b80e-66f1-42a4-82c8-79272c597f1d","name":"Sticky Note3"},{"parameters":{"authentication":"appToken","resource":"engagement","type":"email","metadata":{"html":"={{ $json.email_body }}","subject":"={{ $json.email_body.substring(0, 30) }}..."},"additionalFields":{"associations":{"dealIds":"={{ $json.deal_id }}"}}},"type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[192,464],"id":"08b23b9d-b0a7-4cc6-891d-44bfe9a01604","name":"Create Email Engagement","credentials":{"hubspotAppToken":{"id":"g2yPcP4yBsSlHE4S","name":"HubSpot: N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"content":"### Test AI Response\nSend a chat to test result of AI without creating Engagement (email or Task)","height":288,"width":320,"color":4},"type":"n8n-nodes-base.stickyNote","position":[416,368],"typeVersion":1,"id":"034609e9-9562-447f-9c66-12322ba19ec4","name":"Sticky Note4"},{"parameters":{"assignments":{"assignments":[{"id":"8e98945a-6d82-4963-b413-f6d32d592d30","name":"email_body","value":"I hope you are doing well. I have a business bid request for 9.876k that you can review and bid on.\nMarket - USA\nTarget audience -\nHR/L&D Leaders\n1. Age: 24-74 M/F    2. Full-time employed only    3. Employee Size: 100+\n4. single\n5. 2 kids outside of the home\n6. Department: Human Resources & Personnel / Benefits\n7. Level: Dir and above titles\nLOI - 20 minutes IR - 30%","type":"string"},{"id":"41513780-90a3-46f2-b0eb-1be2ab8b5679","name":"deal_id","value":"40664455777","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,464],"id":"ebaba90a-aec4-4704-ac10-ed148ae37687","name":"Email Values"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cf4bd734-0612-48b6-aecc-e474e5bf55b8","leftValue":"={{ $json.body[0].propertyName }}","rightValue":"bid_request_from_engagement_id","operator":{"type":"string","operation":"equals"}},{"id":"9dd56984-695d-40be-a56c-cb428b1ac706","leftValue":"={{ $json.body[0].propertyValue }}","rightValue":999,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[192,80],"id":"2d4df480-85e0-4ab5-a469-2d2f30cd4b37","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"73f76c3d-b58e-4691-94f8-5933b9f0e8a3","name":"objectId","value":"={{ $json.body.first().objectId && $json.body.first().objectId !== '' ? $json.body.first().objectId : 84715133367 }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,144],"id":"fdaabcdd-4f7a-480a-b5cb-41216ff3498d","name":"ObjectId from Email"},{"parameters":{"assignments":{"assignments":[{"id":"73f76c3d-b58e-4691-94f8-5933b9f0e8a3","name":"objectId","value":"={{ $json.body[0].propertyValue }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,-16],"id":"c289344c-44ec-4d24-9864-654fd6403535","name":"ObjectId from Deal Bid Req ID"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"If","type":"main","index":0}]]},"Get an engagement":{"main":[[{"node":"HTML from Email","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"HTML from Email":{"main":[[{"node":"Text from HTML","type":"main","index":0}]]},"Text from HTML":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"HubSpot TASK":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"Email Values":{"main":[[{"node":"Create Email Engagement","type":"main","index":0}]]},"If":{"main":[[{"node":"ObjectId from Deal Bid Req ID","type":"main","index":0}],[{"node":"ObjectId from Email","type":"main","index":0}]]},"ObjectId from Email":{"main":[[{"node":"Get an engagement","type":"main","index":0}]]},"ObjectId from Deal Bid Req ID":{"main":[[{"node":"Get an engagement","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{"headers":{"host":"prodegellc.app.n8n.cloud","user-agent":"HubSpot Connect 2.0 (http://dev.hubspot.com/) (namespace: webhooks-nio-http-client) - WebhooksExecutorDaemon-executor","content-length":"368","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"54.174.62.139","cf-ew-via":"15","cf-ipcountry":"US","cf-ray":"9699b79cf4440616-IAD","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"application/json","x-forwarded-for":"54.174.62.139, 172.70.42.132","x-forwarded-host":"prodegellc.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-30-6d57d45df-gvn7f","x-hubspot-request-timestamp":"1754265025941","x-hubspot-signature":"3051b9fb46e91f35427e4fcaa580f1ab9bb42e7170450033d16ba5f8f52508fb","x-hubspot-signature-v3":"Y5A8sTgGbN7uu38ncmS25vAlwzsI1C81jezhANcBgpw=","x-hubspot-signature-version":"v1","x-hubspot-timeout-millis":"10000","x-is-trusted":"yes","x-real-ip":"54.174.62.139"},"params":{},"query":{},"body":[{"eventId":261005061,"subscriptionId":4036106,"portalId":40213119,"appId":17241188,"occurredAt":1754265025483,"subscriptionType":"object.propertyChange","attemptNumber":0,"objectId":40664455777,"objectTypeId":"0-3","propertyName":"bid_request_from_engagement_id","propertyValue":"84962539665","changeSource":"CRM_UI","sourceId":"userId:60427776","isSensitive":false}],"webhookUrl":"https://prodegellc.app.n8n.cloud/webhook/n8n-hubspot-sandbox-bid-req-WHD","executionMode":"production"}}],"Webhook":[{"json":{"headers":{"host":"prodegellc.app.n8n.cloud","user-agent":"HubSpot Connect 2.0 (http://dev.hubspot.com/) (namespace: webhooks-nio-http-client) - WebhooksExecutorDaemon-executor","content-length":"287","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"54.174.62.164","cf-ew-via":"15","cf-ipcountry":"US","cf-ray":"96997cfca58654bb-IAD","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"application/json","x-forwarded-for":"54.174.62.164, 104.23.209.173","x-forwarded-host":"prodegellc.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-30-6d57d45df-2npxl","x-hubspot-request-timestamp":"1754262624664","x-hubspot-signature":"788e43020a4ea3489cd85b700901b7acb2d941319fae04988584e393fb81fc9b","x-hubspot-signature-v3":"SZkoajYeqS4wbw7gr1BcGZByb7HxICyQBQtvrbKiG8E=","x-hubspot-signature-version":"v1","x-hubspot-timeout-millis":"10000","x-is-trusted":"yes","x-real-ip":"54.174.62.164"},"params":{},"query":{},"body":[{"eventId":1057312610,"subscriptionId":4036054,"portalId":40213119,"appId":17241188,"occurredAt":1754262623011,"subscriptionType":"object.creation","attemptNumber":0,"objectId":84966732092,"objectTypeId":"0-49","changeFlag":"CREATED","changeSource":"INTEGRATION","sourceId":"14859713"}],"webhookUrl":"https://prodegellc.app.n8n.cloud/webhook/n8n-hubspot-sandbox-bid-req-WHD","executionMode":"production"}}],"Email Values":[{"json":{"email_body":"I hope you are doing well. I have a business bid request for 9.876k that you can review and bid on.\nMarket - USA\nTarget audience -\nHR/L&D Leaders\n1. Age: 24-74 M/F    2. Full-time employed only    3. Employee Size: 100+\n4. single\n5. 2 kids outside of the home\n6. Department: Human Resources & Personnel / Benefits\n7. Level: Dir and above titles\nLOI - 20 minutes IR - 30%","deal_id":"40664455777"}}]},"versionId":"b4c8da84-9a1b-4927-8894-a8f39d26db23","activeVersionId":null,"triggerCount":2,"shared":[{"updatedAt":"2025-08-02T00:35:38.438Z","createdAt":"2025-08-02T00:35:38.438Z","role":"workflow:owner","workflowId":"UeDmkrm0kPQP7WHD","projectId":"NOrA7nVi3G84Nq0v"}],"activeVersion":null,"tags":[]}