Insights Pre-Scrub CLOSURE BAI-62.json
{"updatedAt":"2025-12-18T22:09:01.458Z","createdAt":"2025-09-10T15:18:46.498Z","id":"DzLmKW1XscnTDrb8","name":"Insights Pre-Scrub CLOSURE BAI-62","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"=https://api.hubapi.com/files/v3/files/{{ $('setTicketId').item.json.final_ids_file }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2000,2240],"id":"63b2299a-07a6-404b-8861-cab021e63830","name":"Get CSV Meta","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"url":"=https://api.hubapi.com/files/v3/files/{{ $json.id }}/signed-url","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"expirationSeconds","value":"10"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1760,2240],"id":"a91bee92-93c5-48d9-82a7-624e3a7d86dc","name":"HTTP createSignedURL","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"url":"={{ $json.url }}","options":{"redirect":{"redirect":{"maxRedirects":3}},"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1120,2096],"id":"6f4f0fbe-0b17-494f-a084-42e0f7d5d96b","name":"HTTP downloadSignedURL"},{"parameters":{"httpMethod":"POST","path":"insights-pre-scrub-Drb8","options":{"responseData":"=workflow/{{ $workflow.id }}/executions/{{ $execution.id }}"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2688,2240],"id":"9f9114e7-b60a-4aca-a3c4-ea912ff84284","name":"Webhook","webhookId":"096aed41-0da0-460c-9a40-0c5875be3466"},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/tickets/{{ $('setTicketId').first().json.ticketID }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"associations","value":"deals"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4368,2368],"id":"b5f24da4-5379-4939-89e5-b3ede66c0a43","name":"HTTP Request: get dealid","executeOnce":true,"credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  NETSUITELINEITEMID,\n  PROJECTID,\nFROM OPS_AUTOMATION_DB.SURVEYS.NETSUITE_LINE_PROJECT_MAP\nWHERE projectid in ({{ $json.projectId }})"},"type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[4128,2240],"id":"b075cd58-9ca3-4c47-9ef2-ab2f217e13dd","name":"NetSuitelLineItem","credentials":{"snowflake":{"id":"reIlyZhfAfZTYk8S","name":"Snowflake prodegeqa"}}},{"parameters":{"jsCode":"// Extract line item IDs from the response\nconst lineItemIds = $input.all()[0].json.results.map(result => result.id);\n\nif (lineItemIds.length === 0) {\n  console.log(\"No line items found for this deal\");\n  return [{ success: true, message: \"No line items to delete\", lineItemId: null }];\n}\n\n// Return each line item ID as a separate object\nreturn lineItemIds.map(id => ({\n  success: true,\n  lineItemId: id\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4800,2368],"id":"acdbf902-4214-42cb-b556-2e8d809784ec","name":"cleanLineItems"},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/line_items/{{ $json.lineItemId }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"properties","value":"netsuite_line_id, line_,billable_event,name,peeq_projectid,price"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5008,2368],"id":"1176db60-5e21-4a38-b615-ae2c8fe6b278","name":"HTTP Get NS_line_item values","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/deals/{{ $json.associations.deals.results[0].id }}/associations/line_items","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4576,2368],"id":"c56014f9-6350-44b8-9ae1-5752dee59730","name":"HTTP Get HS_line_items","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"NETSUITELINEITEMID","field2":"properties.netsuite_line_id"}]},"joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[5680,2256],"id":"d4700549-21ef-4b54-a5ab-7e1ade6c602b","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"aafbefae-6c6d-4acd-b690-35818bbeb7bf","name":"ticketId","value":"={{ $('setTicketId').first().json.ticketID }}","type":"number"},{"id":"e670bd11-a49b-4615-a270-311d56b4b364","name":"completeStatus","value":"={{ $('status Column agent').first().json.output.statusFound }}","type":"string"},{"id":"ec2ea504-b791-410d-9e1d-407a3a6c7221","name":"columnName","value":"={{ $('determineColumn').first().json.name }}","type":"string"},{"id":"f5d0c7a1-4529-481f-b08a-8709b350d5af","name":"completeName","value":"={{ $('status Column agent').first().json.output.completeName }}","type":"string"},{"id":"163bacae-0c29-4e8b-b939-0808ea2787a8","name":"columnName","value":"={{ $('status Column agent').first().json.output.columnName }}","type":"string"},{"id":"3ecf711b-cbbd-40d0-9f71-25de7c70fe77","name":"billable_event","value":"={{ $('Webhook').first().json.body.billable_event }}","type":"number"},{"id":"56017757-a439-46df-b724-8e30d558c21c","name":"projects","value":"={{ $json.projects }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[8016,2256],"id":"16f743e8-fd68-4c44-be91-a192db671697","name":"triggerScrub"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5960e78-952f-4314-bea2-26420ca63736","leftValue":"={{ $json.properties.do_not_kick_back_final_ids }}","rightValue":"true","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[8560,3136],"id":"5d82eb18-5e8a-4e10-9db1-df784e3723cd","name":"ifKickBack"},{"parameters":{"workflowId":{"__rl":true,"value":"hqbOggslY4THOEaa","mode":"list","cachedResultUrl":"/workflow/hqbOggslY4THOEaa","cachedResultName":"STAGING — Insights Scrub CLOSURE BAI-11"},"workflowInputs":{"mappingMode":"defineBelow","value":{"ticketId":"={{ $json.ticketId }}","statusColumn":"={{ $json.completeStatus }}","completeName":"={{ $json.completeName }}","statusColumnName":"={{ $json.columnName }}","clickColumn":"={{ $('determineColumn').first().json.name }}","billableEvent":"={{ $json.billable_event }}","projects":"={{ $json.projects }}","finalIdsFile":"={{ $('Webhook').item.json.body.final_ids_file }}"},"matchingColumns":["ticketId"],"schema":[{"id":"ticketId","displayName":"ticketId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"billableEvent","displayName":"billableEvent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"clickColumn","displayName":"clickColumn","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"statusColumn","displayName":"statusColumn","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"statusColumnName","displayName":"statusColumnName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"completeName","displayName":"completeName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"projects","displayName":"projects","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"finalIdsFile","displayName":"finalIdsFile","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[8208,2256],"id":"d8a3c75c-f162-4658-8528-9d62287d86d2","name":"Call 'Insights Scrub CLOSURE BAI-11'"},{"parameters":{"method":"PATCH","url":"=https://api.hubapi.com/crm/v3/objects/tickets/{{ $('setTicketId').first().json.ticketID }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"properties\": {\n    \"final_ids_status\": \"Manual Review Required\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8848,2992],"id":"cc6da880-97e5-4939-92a8-0106d280139a","name":"finalIdsStatus=ManualReview","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"method":"PATCH","url":"=https://api.hubapi.com/crm/v3/objects/tickets/{{ $('setTicketId').first().json.ticketID }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"properties\": {\n    \"final_ids_status\": \"Client Review (Mismatched)\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8848,3296],"id":"f57f3602-d7de-445f-8f03-4561dd40dd44","name":"finalIdsStatus=Mismatched","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"content":"# Pre-Scrub Data Validation Workflow\n\n## Functionality Overview\nThis workflow validates incoming client data submissions before processing begins, ensuring data quality and integrity for downstream systems.\n\n## Key Triggers & Inputs\n\nWebhook Trigger: Receives client data submissions via API endpoint\nInput Sources: Client file uploads, API payloads, form submissions\nExpected Data Formats: JSON, CSV, XML files with required field schemas\n## Core Validation Process\n\nSchema Validation: Verifies required fields and data types\nData Quality Checks: Validates format, range, and business rule compliance\nDuplicate Detection: Identifies and handles duplicate records\nMissing Data Assessment: Flags incomplete or null critical fields\n## Outputs & Actions\n\nValid Data: Routes to main processing pipeline\nInvalid Data: Triggers error handling and client notification\nValidation Reports: Generates detailed error logs and metrics\nClient Notifications: Automated emails for data quality issues\n## Business Value\nPrevents downstream processing errors, reduces manual data cleanup, and ensures consistent data quality standards while maintaining client relationships through proactive communication.","height":928,"width":704},"type":"n8n-nodes-base.stickyNote","position":[-1312,304],"typeVersion":1,"id":"b1a85a5d-e8e1-401b-bdfd-c67bd3436cc7","name":"Sticky Note"},{"parameters":{"content":"# Required Credentials\n\n## API Credentials\n\nHubSpot API Key (Production: Account #20464009)\n\nType: API Key Token\nUsage: Client data logging, contact updates\nOwner: n8n-automation@prodege.com\nJira Service Account (prodege.atlassian.net)\n\nType: API Token + Email\nUsage: Creating validation error tickets\nOwner: automation-service@prodege.com\n## Email & Notification Credentials\n\nSMTP Service Account\n\nType: Username/Password\nUsage: Client notification emails for validation failures\nOwner: n8n-notifications@prodege.com\nSlack Bot Token (Optional)\n\nType: OAuth2 Bot Token\nUsage: Internal team notifications\nOwner: slack-bot@prodege.com\n## Database & Storage Credentials\n\nGoogle Cloud Service Account (Recommended over OAuth)\nType: Service Account JSON Key\nUsage: Cloud Storage for validation logs, BigQuery for metrics\nOwner: gcp-automation@prodege.com\n## Security Notes\n\nDO NOT USE: Google OAuth (per company security policy)\nCredential Storage: All credentials stored in n8n's encrypted credential store\nRotation Schedule: API keys rotated quarterly, service accounts annually\nAccess Principle: Least-privilege access - credentials limited to specific workflow requirements only","height":928,"width":720,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-560,304],"typeVersion":1,"id":"32434e52-e21f-4047-acb5-26c00d59f899","name":"Sticky Note1"},{"parameters":{"jsCode":"// Get the input data from the previous node\nconst inputData = $input.all();\n\n// Initialize result object to collect columns\nconst columns = {};\n\n// Iterate through each item (row) in the n8n items array\ninputData.forEach(item => {\n  const row = item.json;\n  \n  // For each property in the row\n  Object.keys(row).forEach(columnName => {\n    // If this column doesn't exist in result yet, create an empty array\n    if (!columns[columnName]) {\n      columns[columnName] = [];\n    }\n    \n    // Add the value to the array for this column, wrapped in single quotes\n    columns[columnName].push(`'${row[columnName]}'`);\n  });\n});\n\n// Transform the result into the desired format with columnName and columnList\nconst result = Object.keys(columns).map(columnName => ({\n  columnName: columnName,\n  columnList: columns[columnName]\n}));\n\n// Return the result as n8n expects it - each object becomes a separate item\nreturn result.map(item => ({ json: item }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,2352],"id":"1e452f94-26b4-4f09-b4f3-505482c7dc9f","name":"columnsToLists","alwaysOutputData":true},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"value","field2":"CLICKID"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3488,2240],"id":"d585e9f6-ecfd-4611-ab10-7d36f1d46982","name":"Merge1","alwaysOutputData":false},{"parameters":{"jsCode":"// Get the input data from the previous node\nconst inputData = $input.all();\n\n// Initialize output array\nconst outputItems = [];\n\n// Process each input item\ninputData.forEach((item) => {\n  const data = item.json;\n  \n  // Break out each property into name-value format\n  Object.entries(data).forEach(([key, value]) => {\n    // Convert value to number\n    let numericValue = Number(value);\n    \n    // If conversion results in NaN, set to 0 (or handle as needed)\n    if (isNaN(numericValue)) {\n      numericValue = 0;\n    }\n    \n    outputItems.push({\n      json: {\n        name: key,\n        value: numericValue\n      }\n    });\n  });\n});\n\nreturn outputItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,2160],"id":"f0dcb4bd-bfb1-48bc-befb-ea2f2fc0f4fd","name":"flattenData"},{"parameters":{"operation":"executeQuery","query":"SELECT\n    DISTINCT pclk.projectid, pclk.clickid as clickid, pclk.revenue\nFROM OPS_AUTOMATION_DB.SURVEYS.PROJECT_CLICK pclk\nJOIN OPS_AUTOMATION_DB.SURVEYS.PROJECT p on pclk.projectid = p.projectid\nWHERE 1=1\n    AND CAST(pclk.CLICKID AS VARCHAR) IN ({{ $json.columnList }})\n    AND pclk.CLICKDATE >= DATEADD(MONTH, -6, CURRENT_DATE())\n    --AND p.pmr_status != 'COMPLETE'\nGROUP BY ALL"},"type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[2832,2352],"id":"1e5a7f3f-5afe-43a2-bd8b-af78c200b5d2","name":"getClicks","alwaysOutputData":true,"credentials":{"snowflake":{"id":"reIlyZhfAfZTYk8S","name":"Snowflake prodegeqa"}}},{"parameters":{"jsCode":"// Get the input data (assuming it's in $input.all())\nconst inputData = $input.all();\n\n// Create a map to group by name and collect unique values\nconst groupedData = {};\n\n// Process each input item\ninputData.forEach(item => {\n  const data = item.json; // Get the JSON data from the item\n  const name = data.name;\n  \n  // Initialize group if it doesn't exist\n  if (!groupedData[name]) {\n    groupedData[name] = {\n      name: name,\n      clickIds: new Set(),\n      projectIds: new Set(),\n      projectRevenues: {} // Track revenues by project ID\n    };\n  }\n  \n  // Add CLICKID and PROJECTID to respective sets (sets automatically handle uniqueness)\n  if (data.CLICKID !== undefined && data.CLICKID !== null) {\n    groupedData[name].clickIds.add(data.CLICKID);\n  }\n  \n  if (data.PROJECTID !== undefined && data.PROJECTID !== null) {\n    groupedData[name].projectIds.add(data.PROJECTID);\n    \n    // Track unique REVENUE values for each PROJECTID\n    if (!groupedData[name].projectRevenues[data.PROJECTID]) {\n      groupedData[name].projectRevenues[data.PROJECTID] = new Set();\n    }\n    \n    // Add REVENUE to the set for this project (if it exists and is not null)\n    if (data.REVENUE !== undefined && data.REVENUE !== null) {\n      groupedData[name].projectRevenues[data.PROJECTID].add(data.REVENUE);\n    }\n  }\n});\n\n// Convert grouped data to include counts\nconst resultsWithCounts = Object.values(groupedData).map(group => ({\n  name: group.name,\n  countdistinctclickids: group.clickIds.size,\n  projectIds: Array.from(group.projectIds), // Convert Set to Array\n  originalGroup: group // Keep reference to original group data\n}));\n\n// Find the result with the largest countdistinctclickids value\nconst maxResult = resultsWithCounts.reduce((max, current) => {\n  return current.countdistinctclickids > max.countdistinctclickids ? current : max;\n}, resultsWithCounts[0]);\n\n// Create CPI mapping for the winning name's projects\nconst projectCPIs = {};\nmaxResult.originalGroup.projectIds.forEach(projectId => {\n  const revenueSet = maxResult.originalGroup.projectRevenues[projectId];\n  projectCPIs[projectId] = revenueSet ? Array.from(revenueSet) : [];\n});\n\n// Create the final output object\nconst finalResult = {\n  name: maxResult.name,\n  projectIds: maxResult.projectIds,\n  projectCPIs: projectCPIs // Revenue mapping renamed to projectCPIs\n};\n\n// Return the result in n8n format\nreturn [{ json: finalResult }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3696,2240],"id":"8e709d40-7cac-408c-b5ba-c2c7e0811249","name":"determineColumn"},{"parameters":{"jsCode":"// Get the input data\nconst inputData = $input.all();\n\n// Array to store the results\nconst results = [];\n\n// Process each input item\ninputData.forEach(item => {\n  const data = item.json;\n  const name = data.name;\n  const projectIds = data.projectIds || [];\n  \n  // Create a separate object for each projectId\n  projectIds.forEach(projectId => {\n    results.push({\n      name: name,\n      projectId: projectId\n    });\n  });\n});\n\n// Return the results in n8n format\nreturn results.map(item => ({ json: item }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3904,2240],"id":"b2a8e5ae-5d0d-4af0-8fff-cfd0f24d3609","name":"flattenProjects"},{"parameters":{"assignments":{"assignments":[{"id":"b3afed92-ee48-4484-a556-0fd0f8f1cd4a","name":"ticketID","value":"={{ $('Webhook').item.json.body.ticketId }}","type":"number"},{"id":"3c0949ce-c08d-4054-890d-6e6998c3240c","name":"billable_event","value":"={{ $('Webhook').item.json.body.billable_event }}","type":"string"},{"id":"ff4bece3-c4e7-40c5-83c7-583867102165","name":"finalIdsCorrect","value":"={{ $('Webhook').item.json.body.finalIdsCorrect }}","type":"boolean"},{"id":"d6901fcf-8a19-417c-8384-e9b9d394b7ba","name":"enagmentId","value":"={{ $json.id }}","type":"string"},{"id":"b6ad0364-3560-406a-84f9-e6ab59082b18","name":"final_ids_file","value":"={{ $('Webhook').item.json.body.final_ids_file }}","type":"string"}]},"options":{}},"id":"68f2d5e8-25c5-4031-a741-635a353e95b2","name":"setTicketId","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2224,2240]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fbc671a1-1012-4ab0-aed2-e57893338890","leftValue":"=","rightValue":"false","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6624,2256],"id":"7493ba38-44aa-4d56-ada0-a1bbd7cbba4d","name":"If"},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/companies/{{ $('getCompanyId').first().json.associations.companies.results[0].id }}?properties=do_not_kick_back_final_ids","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8352,3136],"id":"c45ed347-63df-4164-8cd9-f7abddd4828e","name":"getKickBackStatus","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"statusFound\": \"true\",\n    \"columnName\": \"description\",\n    \"completeFound\": \"true\",\n    \"completeName\": \"complete\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1088,2464],"id":"eda12f5a-5f54-4314-9afe-4c736462e169","name":"Structured Output Parser1"},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[864,2464],"id":"12e816f0-6f9b-402d-b96f-23e4b51a3cfe","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"promptType":"define","text":"=You are tasked with reviewing the data below and determining if there is a survey status or description field that has values like but not limited: Complete, DQ, OQ, abandon, quality DQ, disqualified, etc.\n\nOUTPUT: \n\nstatusFound = this is a boolean true or false if you found a status/description field in the data below\ncolumnName = if you found the column, then put it's exact name here, else null\ncompleteFound = if you found the column and a value that identifies 'completes', put true, else false\ncompleteName = if you found the column, put the value used to identify the \"complete\" state used in data below, else null\n\n\nData:\n{{ $('setData').item.json.data }}\n\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[896,2240],"id":"1077e6f1-9ff9-4af0-afe0-9ceff1526482","name":"status Column agent"},{"parameters":{"jsCode":"// Get the data from setData node\nconst dataString = $('setData').first().json.data;\n\n// Parse the JSON string into an array\nconst dataArray = JSON.parse(dataString);\n\n// Get the column name and value to filter by\nconst columnName = $json.output.columnName; // \"Status\"\nconst completeName = $json.output.completeName; // \"Success\"\n\n// Filter the array where the specified column equals the specified value\nconst filteredItems = dataArray.filter(item => {\n  return item[columnName] === completeName;\n});\n\nreturn filteredItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,2352],"id":"91f7ea43-a5ed-42d9-98b7-28ea0528cc9d","name":"removeDQs"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"210205ce-34fd-4eb1-b073-0916f80ec6fb","leftValue":"={{ $json.output.statusFound }}","rightValue":"true","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1296,2240],"id":"f9767194-8f2a-46c0-8553-723e4b56c10a","name":"noStatusColumn"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3ed5d8b0-cb33-4af6-91ec-ec5a40eea0a8","leftValue":"={{ $('status Column agent').item.json.output.statusFound }}","rightValue":"true","operator":{"type":"string","operation":"contains"}},{"id":"6cb423f1-aff4-4293-8a2f-aba6b6b5b21d","leftValue":"={{ $('status Column agent').item.json.output.completeFound }}","rightValue":"true","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1936,2368],"id":"dfdbf33a-6292-4215-a783-1caaeb327f5f","name":"statusIdentified"},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-80,2464],"id":"0cc5a32e-58b8-4383-96d2-0e9a852bb798","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"multiColumns\": \"true\",\n    \"transColumn\": \"false\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[240,2464],"id":"29853909-efe9-4c7c-97d4-98d161737184","name":"Structured Output Parser3"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[80,2464],"id":"685f5e97-bed8-46d9-a53a-982a8d2d1805","name":"Think"},{"parameters":{"promptType":"define","text":"=You are tasked with reviewing this client submitted CSV of survey response data below to identify if:\n\n- If there is a column that has numeric transaction ids in it, the column could be named something like but not lmited to: transid, response id, transaction id, etc \n- There are multiple potential transaction id columns: they could be split by survey name, month, etc\n\nNext, you need to review your findings and provide structured output.\n\nJSON OUTPUT: \n\ntransColumn = boolean if there is a column with potential transaction ids in it\nmultiColumns = boolean if there are multiple potential transaction id columns or not\n\nData:\n{{ $json.data }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[16,2240],"id":"a4881842-641d-43a8-83b3-c519c5f2246a","name":"multI Column Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[976,2464],"id":"0451a523-82f2-4140-b63e-6e5f5d52fba7","name":"Think1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be0a5c6b-f33f-44fc-bc6a-77953ca0e500","leftValue":"={{ $json.output.multiColumns }}, ","rightValue":"false","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[384,2240],"id":"355c4ec8-a69e-4499-9594-bb6223eac557","name":"noMultiColumns?"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1OONPkhts001P6q9JBHsUY_T4BflAreM6hmSvr-8AJJ8","mode":"list","cachedResultName":"Insights_Pre-Scrub_kickback-logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OONPkhts001P6q9JBHsUY_T4BflAreM6hmSvr-8AJJ8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OONPkhts001P6q9JBHsUY_T4BflAreM6hmSvr-8AJJ8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now }}","Kickback Reason":"Project to Billable Event Line Item Count Mismatch","n8n Execution ID":"={{ $execution }}","HS TicketId":"={{ $('setTicketId').first().json.ticketID }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HS TicketId","displayName":"HS TicketId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Kickback Reason","displayName":"Kickback Reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"n8n Execution ID","displayName":"n8n Execution ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[7248,3120],"id":"1fa88a4a-0288-4b8d-98bb-d6041da606fa","name":"addKickbackLog","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1OONPkhts001P6q9JBHsUY_T4BflAreM6hmSvr-8AJJ8","mode":"list","cachedResultName":"Insights_Pre-Scrub_kickback-logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OONPkhts001P6q9JBHsUY_T4BflAreM6hmSvr-8AJJ8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OONPkhts001P6q9JBHsUY_T4BflAreM6hmSvr-8AJJ8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now }}","Kickback Reason":"=No Complete Status Found","n8n Execution ID":"={{ $execution }}","HS TicketId":"{{ $('setTicketId').first().json.ticketID }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HS TicketId","displayName":"HS TicketId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Kickback Reason","displayName":"Kickback Reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"n8n Execution ID","displayName":"n8n Execution ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2480,3072],"id":"7b829f7a-7b11-464c-b46b-4c3350fe5a65","name":"addKickbackLog1","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1OONPkhts001P6q9JBHsUY_T4BflAreM6hmSvr-8AJJ8","mode":"list","cachedResultName":"Insights_Pre-Scrub_kickback-logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OONPkhts001P6q9JBHsUY_T4BflAreM6hmSvr-8AJJ8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OONPkhts001P6q9JBHsUY_T4BflAreM6hmSvr-8AJJ8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now }}","n8n Execution ID":"={{ $execution }}","Kickback Reason":"Multiple Column Sets Detected","HS TicketId":"={{ $('setTicketId').first().json.ticketID }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HS TicketId","displayName":"HS TicketId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Kickback Reason","displayName":"Kickback Reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"n8n Execution ID","displayName":"n8n Execution ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[912,3072],"id":"ac3860a2-d381-40bb-a00d-3d5c303c3354","name":"addKickbackLog2","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"method":"POST","url":"https://api.hubspot.com/crm/v3/objects/notes","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"properties\": {\n    \"hs_timestamp\": {{ new Date($now.toISO()).getTime() }},\n    \"hs_note_body\": \"Pre-Scrub n8n Execution: https://prodegellc.app.n8n.cloud/{{ $workflow.id }}/executions/{{ $execution.id }}\"\n  },\n  \"associations\": [\n    {\n      \"to\": {\n        \"id\": {{ $json.body.ticketId }}\n      },\n      \"types\": [\n        {\n          \"associationCategory\": \"HUBSPOT_DEFINED\",\n          \"associationTypeId\": 228\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2464,2240],"id":"e95a1490-b162-49e4-a2ed-e19557c9017d","name":"createEngagmentTracker","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"83046a82-dc51-458a-8c2f-b7cb9b418cf6","leftValue":"={{ $json.properties.billable_event }}","rightValue":"={{ $('setTicketId').first().json.billable_event }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"dcccfcf7-f2d6-4c60-b741-133039f73d56","leftValue":"={{ $json.properties.name }}","rightValue":"Sample","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[5232,2368],"id":"9ab0491d-7629-4aac-abf6-680a31a3d1a2","name":"Filter"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aebb00e6-cf95-4194-82dd-7dab94fc1bd5","leftValue":"={{ $json.extension }}","rightValue":"csv","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1520,2240],"id":"9a494e5d-76eb-46e8-b7aa-a746289cac5e","name":"If csv"},{"parameters":{"assignments":{"assignments":[{"id":"eb44415f-38ce-443a-825e-f33259bd253d","name":"id","value":"={{ $json.id }}","type":"number"},{"id":"de93b522-c788-4912-84b5-1beed514030b","name":"properties.billable_event","value":"={{ $json.properties.billable_event }}","type":"number"},{"id":"0962daf0-323c-4b75-98e9-112be4770740","name":"properties.createdate","value":"={{ $json.properties.createdate }}","type":"string"},{"id":"456735ec-fbc4-49df-931b-dcd268d3a8af","name":"properties.hs_lastmodifieddate","value":"={{ $json.properties.hs_lastmodifieddate }}","type":"string"},{"id":"7245531e-e0b8-402c-a017-09c1aa0ca5ac","name":"properties.hs_object_id","value":"={{ $json.properties.hs_object_id }}","type":"number"},{"id":"6d3aa425-b37c-4e47-9b1a-eeaad8b1a81e","name":"properties.line_","value":"={{ $json.properties.line_ }}","type":"number"},{"id":"1c302186-cff9-4528-b0d4-4da71562a212","name":"properties.name","value":"={{ $json.properties.name }}","type":"string"},{"id":"da327cc9-f660-478b-96e6-2653bbe4132d","name":"properties.netsuite_line_id","value":"={{ $json.properties.netsuite_line_id }}","type":"number"},{"id":"04ef6a29-43de-4691-aedf-ad4f5944e403","name":"properties.price","value":"={{ $json.properties.price }}","type":"string"},{"id":"ec7f33d8-d34e-4416-995b-02ead5b68034","name":"properties.peeq_projectid","value":"={{ $json.properties.peeq_projectid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5440,2368],"id":"b867ae39-7e2c-4245-8b87-baaf9d48e7f0","name":"cleanJSON"},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/tickets/{{ $('setTicketId').first().json.ticketID }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"associations","value":"companies"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8144,3136],"id":"902bc2ed-6b29-4220-90ce-b31a32a97fe6","name":"getCompanyId","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-912,2400],"id":"5b4572e5-208a-46e0-abee-308bb6a73e15","name":"Extract from File1","alwaysOutputData":true},{"parameters":{"url":"={{ $json.url }}","options":{"redirect":{"redirect":{"maxRedirects":3}},"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1120,2400],"id":"7b666bb5-ce55-4522-a0fc-c6fd28293822","name":"HTTP downloadSignedURL1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-720,2400],"id":"6bff5f2c-b177-4c25-b88f-00df6c023ddc","name":"Aggregate1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[6096,2256],"id":"816103c3-5944-4988-9a38-83efc5a64433","name":"Aggregate2"},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[7216,2592],"id":"3b50d1ea-8f70-4669-8dec-157f661f9263","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"jsonSchemaExample":"{\n    \"projectId\": 12345,\n    \"matchingNetsuiteIds\": \"True\",\n    \"matchingProjectIds\": \"False\",\n    \"multipleMatches\": \"True\",\n    \"matchingPrice\": \"True\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[7392,2592],"id":"355fd11a-c6ab-45b9-abd6-afa58d1d4dce","name":"Structured Output Parser4"},{"parameters":{"jsCode":"// Process each item and ensure the field is added to ALL items\nconst items = $input.all();\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  \n  // Check if NETSUITELINEITEMID exists and is not null\n  const hasLineItemId = item.json.NETSUITELINEITEMID != null;\n  \n  // Check if properties.netsuite_line_id exists and is not null\n  const hasLineId = item.json.properties?.netsuite_line_id != null;\n  \n  // Add the boolean field to EVERY item\n  item.json.matching_netsuite_ids = hasLineItemId && hasLineId;\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5888,2256],"id":"f9d66baa-f2d0-471a-bdf0-c19aa59a8781","name":"runChecks1"},{"parameters":{"jsCode":"// Option 1: Group into an object with projectId as keys\nconst groupedByProject = {};\n\n// Loop through each item and group by PROJECTID\nfor (const item of $('runChecks1').all()) {\n  const projectId = item.json.PROJECTID;\n  \n  if (!groupedByProject[projectId]) {\n    groupedByProject[projectId] = [];\n  }\n  \n  groupedByProject[projectId].push(item.json);\n}\n\n// Convert to array format for n8n output\nconst result = Object.keys(groupedByProject).map(projectId => ({\n  json: {\n    projectId: parseInt(projectId),\n    itemCount: groupedByProject[projectId].length,\n    items: groupedByProject[projectId]\n  }\n}));\n\nreturn result;\n\n// Alternative Option 2: Simple object with projectId as keys\n// Uncomment the code below if you prefer this format instead\n\n/*\nconst groupedByProject = {};\n\nfor (const item of $('runChecks1').all()) {\n  const projectId = item.json.PROJECTID;\n  \n  if (!groupedByProject[projectId]) {\n    groupedByProject[projectId] = [];\n  }\n  \n  groupedByProject[projectId].push(item.json);\n}\n\nreturn [{ json: groupedByProject }];\n*/\n\n// Alternative Option 3: Include project metadata\n// Uncomment if you want additional project-level information\n\n/*\nconst groupedByProject = {};\n\nfor (const item of $('runChecks1').all()) {\n  const projectId = item.json.PROJECTID;\n  \n  if (!groupedByProject[projectId]) {\n    groupedByProject[projectId] = {\n      projectId: projectId,\n      items: [],\n      totalPrice: 0,\n      itemCount: 0\n    };\n  }\n  \n  groupedByProject[projectId].items.push(item.json);\n  groupedByProject[projectId].totalPrice += parseFloat(item.json.properties.price || 0);\n  groupedByProject[projectId].itemCount++;\n}\n\nreturn Object.values(groupedByProject).map(project => ({ json: project }));\n*/\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6960,2256],"id":"5bbde0c9-ceb8-403a-931b-30fc2fa6cae1","name":"groupByProject"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"projectId","field2":"output.projectId"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[7616,2256],"id":"5db346f3-c527-4a9e-a5c4-34df5fc08599","name":"Merge2"},{"parameters":{"promptType":"define","text":"=You are a data analyst. Your job is to review the following data and compile answers to the following questions using approved output formatting.\n\n1. Does each JSON object in results have matching 'NETSUITELINEITEMID' and 'netsuite_line_id' values?\n2. Does each JSON object in results have matching 'PROJECTID' and 'peeq_projectid' values?\n3. Do multiple items have the same PROJECTID? \n4. Does each object's 'price' value match a value in this key of 'projectIds' and their associated 'price' values?: {{ JSON.stringify($('determineColumn').first().json.projectCPIs) }}\n\n\nResults:\nProjectId: {{ $json.projectId }}\nItems in project: {{ JSON.stringify($json.items) }}\n\n\nOuput:\n1. findings in matchingNetsuiteIds as Boolean\n2. findings in matchingProjectIds as Boolean\n3. findings in multipleMatches as Boolean\n4. findings in matchingPrice as Boolean\n5. projectid in projectId","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[7232,2368],"id":"ec623b72-1f6c-47f1-ac93-4583c164de95","name":"recoType Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[6272,2480],"id":"8e0a058a-a352-43c1-b49b-84d67ff5dcb1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"jsonSchemaExample":"{\n    \"matchingNetsuiteIds\": \"True\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[6448,2480],"id":"0953d3f3-6d34-4e77-89cd-8e079b7f7ebd","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=Do any of the following results not have matching_netsuite_ids = true?\n\n{{ JSON.stringify($json.data) }}\n\noutput boolean true or false","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[6288,2256],"id":"40900ddb-97e3-41ae-836a-39ed51acbb8e","name":"itemMatch Agent"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"projects","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[7824,2256],"id":"26964c3b-f3bd-49b5-8ad7-8db7e14129b8","name":"Aggregate3"},{"parameters":{"assignments":{"assignments":[{"id":"11d6dbb7-17e4-4e9a-b19d-5254c2799285","name":"data","value":"={{ $json.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,2240],"id":"6d65066d-95dd-440f-bb70-f5d2bc8a8642","name":"setData"},{"parameters":{"jsCode":"// Get the CSV data from the specific HTTP downloadSignedURL node\nconst csvData = $('HTTP downloadSignedURL').first().json.data;\n\nif (!csvData) {\n  throw new Error('No CSV data found in HTTP downloadSignedURL node');\n}\n\n// Split CSV into lines - handle both \\n and \\r\\n line endings\nconst lines = csvData.split(/\\r?\\n/).filter(line => line.trim() !== '');\n\nif (lines.length === 0) {\n  throw new Error('No valid CSV lines found');\n}\n\n// Parse the header row and make duplicate headers unique\nconst rawHeaders = lines[0].split(',').map(h => h.trim());\nconst headers = [];\nconst headerCounts = {};\n\nrawHeaders.forEach(header => {\n  if (headerCounts[header]) {\n    headerCounts[header]++;\n    headers.push(`${header}_${headerCounts[header]}`);\n  } else {\n    headerCounts[header] = 1;\n    headers.push(header);\n  }\n});\n\n// Parse data rows\nconst results = [];\n\nfor (let i = 1; i < lines.length; i++) {\n  const row = lines[i];\n  if (row.trim() === '') continue; // Skip empty lines\n  \n  // Split the row by comma, but handle quotes\n  const values = [];\n  let currentValue = '';\n  let inQuotes = false;\n  \n  for (let j = 0; j < row.length; j++) {\n    const char = row[j];\n    \n    if (char === '\"') {\n      inQuotes = !inQuotes;\n    } else if (char === ',' && !inQuotes) {\n      values.push(currentValue.trim());\n      currentValue = '';\n    } else {\n      currentValue += char;\n    }\n  }\n  // Don't forget the last value\n  values.push(currentValue.trim());\n  \n  // Create object mapping headers to values\n  const rowObject = {};\n  \n  headers.forEach((header, index) => {\n    const value = values[index] || '';\n    // Handle null values and clean the data\n    rowObject[header] = value === 'null' ? null : String(value);\n  });\n  \n  // Only add the object if it has some data\n  if (Object.values(rowObject).some(val => val !== '' && val !== null)) {\n    results.push({ json: rowObject });\n  }\n}\n\n// Return all the parsed objects\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-928,2096],"id":"fa05396a-603f-48bc-b73c-4ff4c5818abd","name":"cleanCSV1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-720,2096],"id":"d771f277-ab07-4ad2-9e45-54c5808d9d05","name":"Aggregate4"},{"parameters":{"jsCode":"// Get all items from the 'setData' node\nconst items = $('setData').all();\n\n// Flatten the data\nconst flattenedItems = items.flatMap(item => {\n  // Parse the JSON string in the 'data' field\n  const parsedData = JSON.parse(item.json.data);\n  \n  // Return each object as a separate item\n  return parsedData.map(obj => ({\n    json: obj\n  }));\n});\n\nreturn flattenedItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,2160],"id":"a8cf1336-deb9-4aeb-af3f-761f03a3afa6","name":"getData"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1OONPkhts001P6q9JBHsUY_T4BflAreM6hmSvr-8AJJ8","mode":"list","cachedResultName":"Insights_Pre-Scrub_kickback-logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OONPkhts001P6q9JBHsUY_T4BflAreM6hmSvr-8AJJ8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OONPkhts001P6q9JBHsUY_T4BflAreM6hmSvr-8AJJ8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now }}","Kickback Reason":"=No Matching ClickIDs Found","n8n Execution ID":"={{ $execution }}","HS TicketId":"{{ $('setTicketId').first().json.ticketID }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HS TicketId","displayName":"HS TicketId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Kickback Reason","displayName":"Kickback Reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"n8n Execution ID","displayName":"n8n Execution ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3616,3072],"id":"aa245f73-a945-4471-9d06-1ec0134a768b","name":"addKickbackLog3","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fb6c23b1-d93f-49f3-9fd0-51f0f29e7818","leftValue":"={{ $json.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3040,2352],"id":"dc00d460-f9f9-4a5c-a634-7a23a6dc2006","name":"clicksFound"},{"parameters":{"height":368,"width":688},"type":"n8n-nodes-base.stickyNote","position":[-1248,2640],"typeVersion":1,"id":"9ea2eab6-e1e3-4c00-a553-38698683b26a","name":"Sticky Note2"}],"connections":{"Get CSV Meta":{"main":[[{"node":"HTTP createSignedURL","type":"main","index":0}]]},"HTTP createSignedURL":{"main":[[{"node":"If csv","type":"main","index":0}]]},"HTTP downloadSignedURL":{"main":[[{"node":"cleanCSV1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"createEngagmentTracker","type":"main","index":0}]]},"HTTP Request: get dealid":{"main":[[{"node":"HTTP Get HS_line_items","type":"main","index":0}]]},"NetSuitelLineItem":{"main":[[{"node":"HTTP Request: get dealid","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"cleanLineItems":{"main":[[{"node":"HTTP Get NS_line_item values","type":"main","index":0}]]},"HTTP Get NS_line_item values":{"main":[[{"node":"Filter","type":"main","index":0}]]},"HTTP Get HS_line_items":{"main":[[{"node":"cleanLineItems","type":"main","index":0}]]},"Merge":{"main":[[{"node":"runChecks1","type":"main","index":0}]]},"ifKickBack":{"main":[[{"node":"finalIdsStatus=ManualReview","type":"main","index":0}],[{"node":"finalIdsStatus=Mismatched","type":"main","index":0}]]},"triggerScrub":{"main":[[{"node":"Call 'Insights Scrub CLOSURE BAI-11'","type":"main","index":0}]]},"finalIdsStatus=ManualReview":{"main":[[]]},"columnsToLists":{"main":[[{"node":"getClicks","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"determineColumn","type":"main","index":0}]]},"flattenData":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"getClicks":{"main":[[{"node":"clicksFound","type":"main","index":0}]]},"determineColumn":{"main":[[{"node":"flattenProjects","type":"main","index":0}]]},"flattenProjects":{"main":[[{"node":"NetSuitelLineItem","type":"main","index":0}]]},"setTicketId":{"main":[[{"node":"Get CSV Meta","type":"main","index":0}]]},"If":{"main":[[{"node":"groupByProject","type":"main","index":0}],[{"node":"addKickbackLog","type":"main","index":0}]]},"getKickBackStatus":{"main":[[{"node":"ifKickBack","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"status Column agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"status Column agent","type":"ai_languageModel","index":0}]]},"status Column agent":{"main":[[{"node":"noStatusColumn","type":"main","index":0}]]},"removeDQs":{"main":[[{"node":"flattenData","type":"main","index":0},{"node":"columnsToLists","type":"main","index":0}]]},"noStatusColumn":{"main":[[{"node":"getData","type":"main","index":0}],[{"node":"statusIdentified","type":"main","index":0}]]},"statusIdentified":{"main":[[{"node":"removeDQs","type":"main","index":0}],[{"node":"addKickbackLog1","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"multI Column Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"multI Column Agent","type":"ai_outputParser","index":0}]]},"Think":{"ai_tool":[[{"node":"multI Column Agent","type":"ai_tool","index":0}]]},"Think1":{"ai_tool":[[{"node":"status Column agent","type":"ai_tool","index":0}]]},"multI Column Agent":{"main":[[{"node":"noMultiColumns?","type":"main","index":0}]]},"noMultiColumns?":{"main":[[{"node":"status Column agent","type":"main","index":0}],[{"node":"addKickbackLog2","type":"main","index":0}]]},"addKickbackLog":{"main":[[{"node":"getCompanyId","type":"main","index":0}]]},"addKickbackLog1":{"main":[[{"node":"getCompanyId","type":"main","index":0}]]},"addKickbackLog2":{"main":[[{"node":"getCompanyId","type":"main","index":0}]]},"createEngagmentTracker":{"main":[[{"node":"setTicketId","type":"main","index":0}]]},"If csv":{"main":[[{"node":"HTTP downloadSignedURL","type":"main","index":0}],[{"node":"HTTP downloadSignedURL1","type":"main","index":0}]]},"cleanJSON":{"main":[[{"node":"Merge","type":"main","index":1}]]},"getCompanyId":{"main":[[{"node":"getKickBackStatus","type":"main","index":0}]]},"Filter":{"main":[[{"node":"cleanJSON","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"HTTP downloadSignedURL1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"setData","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"itemMatch Agent","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"recoType Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"recoType Agent","type":"ai_outputParser","index":0}]]},"runChecks1":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"groupByProject":{"main":[[{"node":"recoType Agent","type":"main","index":0},{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"recoType Agent":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"itemMatch Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"itemMatch Agent","type":"ai_outputParser","index":0}]]},"itemMatch Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"triggerScrub","type":"main","index":0}]]},"setData":{"main":[[{"node":"multI Column Agent","type":"main","index":0}]]},"cleanCSV1":{"main":[[{"node":"Aggregate4","type":"main","index":0}]]},"Aggregate4":{"main":[[{"node":"setData","type":"main","index":0}]]},"getData":{"main":[[{"node":"columnsToLists","type":"main","index":0},{"node":"flattenData","type":"main","index":0}]]},"addKickbackLog3":{"main":[[{"node":"getCompanyId","type":"main","index":0}]]},"clicksFound":{"main":[[{"node":"Merge1","type":"main","index":1}],[{"node":"addKickbackLog3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":600,"timeSavedMode":"fixed","availableInMCP":false,"errorWorkflow":"oYA9v0CuR3mPGV14"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"prodegellc.app.n8n.cloud","user-agent":"axios/1.6.7","content-length":"102","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"3.88.1.246","cf-ew-via":"15","cf-ipcountry":"US","cf-ray":"9b01ed6a61b40595-IAD","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"application/json","x-forwarded-for":"3.88.1.246, 172.71.190.95","x-forwarded-host":"prodegellc.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-30-6d57d45df-7fwhs","x-is-trusted":"yes","x-real-ip":"3.88.1.246"},"params":{},"query":{},"body":{"ticketId":"30422002229","billable_event":"1","final_ids_file":"202922313094","finalIdsCorrect":true},"webhookUrl":"https://prodegellc.app.n8n.cloud/webhook/insights-pre-scrub-Drb8","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"56b7fec6-4cdc-47ad-8925-b97eb9ad5f2a","activeVersionId":"56b7fec6-4cdc-47ad-8925-b97eb9ad5f2a","triggerCount":1,"shared":[{"updatedAt":"2025-12-18T17:26:22.861Z","createdAt":"2025-12-18T17:26:22.861Z","role":"workflow:owner","workflowId":"DzLmKW1XscnTDrb8","projectId":"PZkDRO2KVE09GlpT"}],"activeVersion":{"updatedAt":"2025-12-18T22:09:01.459Z","createdAt":"2025-12-18T22:09:01.459Z","versionId":"56b7fec6-4cdc-47ad-8925-b97eb9ad5f2a","workflowId":"DzLmKW1XscnTDrb8","nodes":[{"parameters":{"url":"=https://api.hubapi.com/files/v3/files/{{ $('setTicketId').item.json.final_ids_file }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2000,2240],"id":"63b2299a-07a6-404b-8861-cab021e63830","name":"Get CSV Meta","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"url":"=https://api.hubapi.com/files/v3/files/{{ $json.id }}/signed-url","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"expirationSeconds","value":"10"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1760,2240],"id":"a91bee92-93c5-48d9-82a7-624e3a7d86dc","name":"HTTP createSignedURL","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"url":"={{ $json.url }}","options":{"redirect":{"redirect":{"maxRedirects":3}},"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1120,2096],"id":"6f4f0fbe-0b17-494f-a084-42e0f7d5d96b","name":"HTTP downloadSignedURL"},{"parameters":{"httpMethod":"POST","path":"insights-pre-scrub-Drb8","options":{"responseData":"=workflow/{{ $workflow.id }}/executions/{{ $execution.id }}"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2688,2240],"id":"9f9114e7-b60a-4aca-a3c4-ea912ff84284","name":"Webhook","webhookId":"096aed41-0da0-460c-9a40-0c5875be3466"},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/tickets/{{ $('setTicketId').first().json.ticketID }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"associations","value":"deals"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4368,2368],"id":"b5f24da4-5379-4939-89e5-b3ede66c0a43","name":"HTTP Request: get dealid","executeOnce":true,"credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  NETSUITELINEITEMID,\n  PROJECTID,\nFROM OPS_AUTOMATION_DB.SURVEYS.NETSUITE_LINE_PROJECT_MAP\nWHERE projectid in ({{ $json.projectId }})"},"type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[4128,2240],"id":"b075cd58-9ca3-4c47-9ef2-ab2f217e13dd","name":"NetSuitelLineItem","credentials":{"snowflake":{"id":"reIlyZhfAfZTYk8S","name":"Snowflake prodegeqa"}}},{"parameters":{"jsCode":"// Extract line item IDs from the response\nconst lineItemIds = $input.all()[0].json.results.map(result => result.id);\n\nif (lineItemIds.length === 0) {\n  console.log(\"No line items found for this deal\");\n  return [{ success: true, message: \"No line items to delete\", lineItemId: null }];\n}\n\n// Return each line item ID as a separate object\nreturn lineItemIds.map(id => ({\n  success: true,\n  lineItemId: id\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4800,2368],"id":"acdbf902-4214-42cb-b556-2e8d809784ec","name":"cleanLineItems"},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/line_items/{{ $json.lineItemId }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"properties","value":"netsuite_line_id, line_,billable_event,name,peeq_projectid,price"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5008,2368],"id":"1176db60-5e21-4a38-b615-ae2c8fe6b278","name":"HTTP Get NS_line_item values","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/deals/{{ $json.associations.deals.results[0].id }}/associations/line_items","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4576,2368],"id":"c56014f9-6350-44b8-9ae1-5752dee59730","name":"HTTP Get HS_line_items","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"NETSUITELINEITEMID","field2":"properties.netsuite_line_id"}]},"joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[5680,2256],"id":"d4700549-21ef-4b54-a5ab-7e1ade6c602b","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"aafbefae-6c6d-4acd-b690-35818bbeb7bf","name":"ticketId","value":"={{ $('setTicketId').first().json.ticketID }}","type":"number"},{"id":"e670bd11-a49b-4615-a270-311d56b4b364","name":"completeStatus","value":"={{ $('status Column agent').first().json.output.statusFound }}","type":"string"},{"id":"ec2ea504-b791-410d-9e1d-407a3a6c7221","name":"columnName","value":"={{ $('determineColumn').first().json.name }}","type":"string"},{"id":"f5d0c7a1-4529-481f-b08a-8709b350d5af","name":"completeName","value":"={{ $('status Column agent').first().json.output.completeName }}","type":"string"},{"id":"163bacae-0c29-4e8b-b939-0808ea2787a8","name":"columnName","value":"={{ $('status Column agent').first().json.output.columnName }}","type":"string"},{"id":"3ecf711b-cbbd-40d0-9f71-25de7c70fe77","name":"billable_event","value":"={{ $('Webhook').first().json.body.billable_event }}","type":"number"},{"id":"56017757-a439-46df-b724-8e30d558c21c","name":"projects","value":"={{ $json.projects }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[8016,2256],"id":"16f743e8-fd68-4c44-be91-a192db671697","name":"triggerScrub"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5960e78-952f-4314-bea2-26420ca63736","leftValue":"={{ $json.properties.do_not_kick_back_final_ids }}","rightValue":"true","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[8560,3136],"id":"5d82eb18-5e8a-4e10-9db1-df784e3723cd","name":"ifKickBack"},{"parameters":{"workflowId":{"__rl":true,"value":"hqbOggslY4THOEaa","mode":"list","cachedResultUrl":"/workflow/hqbOggslY4THOEaa","cachedResultName":"STAGING — Insights Scrub CLOSURE BAI-11"},"workflowInputs":{"mappingMode":"defineBelow","value":{"ticketId":"={{ $json.ticketId }}","statusColumn":"={{ $json.completeStatus }}","completeName":"={{ $json.completeName }}","statusColumnName":"={{ $json.columnName }}","clickColumn":"={{ $('determineColumn').first().json.name }}","billableEvent":"={{ $json.billable_event }}","projects":"={{ $json.projects }}","finalIdsFile":"={{ $('Webhook').item.json.body.final_ids_file }}"},"matchingColumns":["ticketId"],"schema":[{"id":"ticketId","displayName":"ticketId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"billableEvent","displayName":"billableEvent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"clickColumn","displayName":"clickColumn","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"statusColumn","displayName":"statusColumn","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"statusColumnName","displayName":"statusColumnName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"completeName","displayName":"completeName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"projects","displayName":"projects","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"finalIdsFile","displayName":"finalIdsFile","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[8208,2256],"id":"d8a3c75c-f162-4658-8528-9d62287d86d2","name":"Call 'Insights Scrub CLOSURE BAI-11'"},{"parameters":{"method":"PATCH","url":"=https://api.hubapi.com/crm/v3/objects/tickets/{{ $('setTicketId').first().json.ticketID }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"properties\": {\n    \"final_ids_status\": \"Manual Review Required\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8848,2992],"id":"cc6da880-97e5-4939-92a8-0106d280139a","name":"finalIdsStatus=ManualReview","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"method":"PATCH","url":"=https://api.hubapi.com/crm/v3/objects/tickets/{{ $('setTicketId').first().json.ticketID }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"properties\": {\n    \"final_ids_status\": \"Client Review (Mismatched)\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8848,3296],"id":"f57f3602-d7de-445f-8f03-4561dd40dd44","name":"finalIdsStatus=Mismatched","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"content":"# Pre-Scrub Data Validation Workflow\n\n## Functionality Overview\nThis workflow validates incoming client data submissions before processing begins, ensuring data quality and integrity for downstream systems.\n\n## Key Triggers & Inputs\n\nWebhook Trigger: Receives client data submissions via API endpoint\nInput Sources: Client file uploads, API payloads, form submissions\nExpected Data Formats: JSON, CSV, XML files with required field schemas\n## Core Validation Process\n\nSchema Validation: Verifies required fields and data types\nData Quality Checks: Validates format, range, and business rule compliance\nDuplicate Detection: Identifies and handles duplicate records\nMissing Data Assessment: Flags incomplete or null critical fields\n## Outputs & Actions\n\nValid Data: Routes to main processing pipeline\nInvalid Data: Triggers error handling and client notification\nValidation Reports: Generates detailed error logs and metrics\nClient Notifications: Automated emails for data quality issues\n## Business Value\nPrevents downstream processing errors, reduces manual data cleanup, and ensures consistent data quality standards while maintaining client relationships through proactive communication.","height":928,"width":704},"type":"n8n-nodes-base.stickyNote","position":[-1312,304],"typeVersion":1,"id":"b1a85a5d-e8e1-401b-bdfd-c67bd3436cc7","name":"Sticky Note"},{"parameters":{"content":"# Required Credentials\n\n## API Credentials\n\nHubSpot API Key (Production: Account #20464009)\n\nType: API Key Token\nUsage: Client data logging, contact updates\nOwner: n8n-automation@prodege.com\nJira Service Account (prodege.atlassian.net)\n\nType: API Token + Email\nUsage: Creating validation error tickets\nOwner: automation-service@prodege.com\n## Email & Notification Credentials\n\nSMTP Service Account\n\nType: Username/Password\nUsage: Client notification emails for validation failures\nOwner: n8n-notifications@prodege.com\nSlack Bot Token (Optional)\n\nType: OAuth2 Bot Token\nUsage: Internal team notifications\nOwner: slack-bot@prodege.com\n## Database & Storage Credentials\n\nGoogle Cloud Service Account (Recommended over OAuth)\nType: Service Account JSON Key\nUsage: Cloud Storage for validation logs, BigQuery for metrics\nOwner: gcp-automation@prodege.com\n## Security Notes\n\nDO NOT USE: Google OAuth (per company security policy)\nCredential Storage: All credentials stored in n8n's encrypted credential store\nRotation Schedule: API keys rotated quarterly, service accounts annually\nAccess Principle: Least-privilege access - credentials limited to specific workflow requirements only","height":928,"width":720,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-560,304],"typeVersion":1,"id":"32434e52-e21f-4047-acb5-26c00d59f899","name":"Sticky Note1"},{"parameters":{"jsCode":"// Get the input data from the previous node\nconst inputData = $input.all();\n\n// Initialize result object to collect columns\nconst columns = {};\n\n// Iterate through each item (row) in the n8n items array\ninputData.forEach(item => {\n  const row = item.json;\n  \n  // For each property in the row\n  Object.keys(row).forEach(columnName => {\n    // If this column doesn't exist in result yet, create an empty array\n    if (!columns[columnName]) {\n      columns[columnName] = [];\n    }\n    \n    // Add the value to the array for this column, wrapped in single quotes\n    columns[columnName].push(`'${row[columnName]}'`);\n  });\n});\n\n// Transform the result into the desired format with columnName and columnList\nconst result = Object.keys(columns).map(columnName => ({\n  columnName: columnName,\n  columnList: columns[columnName]\n}));\n\n// Return the result as n8n expects it - each object becomes a separate item\nreturn result.map(item => ({ json: item }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,2352],"id":"1e452f94-26b4-4f09-b4f3-505482c7dc9f","name":"columnsToLists","alwaysOutputData":true},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"value","field2":"CLICKID"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3488,2240],"id":"d585e9f6-ecfd-4611-ab10-7d36f1d46982","name":"Merge1","alwaysOutputData":false},{"parameters":{"jsCode":"// Get the input data from the previous node\nconst inputData = $input.all();\n\n// Initialize output array\nconst outputItems = [];\n\n// Process each input item\ninputData.forEach((item) => {\n  const data = item.json;\n  \n  // Break out each property into name-value format\n  Object.entries(data).forEach(([key, value]) => {\n    // Convert value to number\n    let numericValue = Number(value);\n    \n    // If conversion results in NaN, set to 0 (or handle as needed)\n    if (isNaN(numericValue)) {\n      numericValue = 0;\n    }\n    \n    outputItems.push({\n      json: {\n        name: key,\n        value: numericValue\n      }\n    });\n  });\n});\n\nreturn outputItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,2160],"id":"f0dcb4bd-bfb1-48bc-befb-ea2f2fc0f4fd","name":"flattenData"},{"parameters":{"operation":"executeQuery","query":"SELECT\n    DISTINCT pclk.projectid, pclk.clickid as clickid, pclk.revenue\nFROM OPS_AUTOMATION_DB.SURVEYS.PROJECT_CLICK pclk\nJOIN OPS_AUTOMATION_DB.SURVEYS.PROJECT p on pclk.projectid = p.projectid\nWHERE 1=1\n    AND CAST(pclk.CLICKID AS VARCHAR) IN ({{ $json.columnList }})\n    AND pclk.CLICKDATE >= DATEADD(MONTH, -6, CURRENT_DATE())\n    --AND p.pmr_status != 'COMPLETE'\nGROUP BY ALL"},"type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[2832,2352],"id":"1e5a7f3f-5afe-43a2-bd8b-af78c200b5d2","name":"getClicks","alwaysOutputData":true,"credentials":{"snowflake":{"id":"reIlyZhfAfZTYk8S","name":"Snowflake prodegeqa"}}},{"parameters":{"jsCode":"// Get the input data (assuming it's in $input.all())\nconst inputData = $input.all();\n\n// Create a map to group by name and collect unique values\nconst groupedData = {};\n\n// Process each input item\ninputData.forEach(item => {\n  const data = item.json; // Get the JSON data from the item\n  const name = data.name;\n  \n  // Initialize group if it doesn't exist\n  if (!groupedData[name]) {\n    groupedData[name] = {\n      name: name,\n      clickIds: new Set(),\n      projectIds: new Set(),\n      projectRevenues: {} // Track revenues by project ID\n    };\n  }\n  \n  // Add CLICKID and PROJECTID to respective sets (sets automatically handle uniqueness)\n  if (data.CLICKID !== undefined && data.CLICKID !== null) {\n    groupedData[name].clickIds.add(data.CLICKID);\n  }\n  \n  if (data.PROJECTID !== undefined && data.PROJECTID !== null) {\n    groupedData[name].projectIds.add(data.PROJECTID);\n    \n    // Track unique REVENUE values for each PROJECTID\n    if (!groupedData[name].projectRevenues[data.PROJECTID]) {\n      groupedData[name].projectRevenues[data.PROJECTID] = new Set();\n    }\n    \n    // Add REVENUE to the set for this project (if it exists and is not null)\n    if (data.REVENUE !== undefined && data.REVENUE !== null) {\n      groupedData[name].projectRevenues[data.PROJECTID].add(data.REVENUE);\n    }\n  }\n});\n\n// Convert grouped data to include counts\nconst resultsWithCounts = Object.values(groupedData).map(group => ({\n  name: group.name,\n  countdistinctclickids: group.clickIds.size,\n  projectIds: Array.from(group.projectIds), // Convert Set to Array\n  originalGroup: group // Keep reference to original group data\n}));\n\n// Find the result with the largest countdistinctclickids value\nconst maxResult = resultsWithCounts.reduce((max, current) => {\n  return current.countdistinctclickids > max.countdistinctclickids ? current : max;\n}, resultsWithCounts[0]);\n\n// Create CPI mapping for the winning name's projects\nconst projectCPIs = {};\nmaxResult.originalGroup.projectIds.forEach(projectId => {\n  const revenueSet = maxResult.originalGroup.projectRevenues[projectId];\n  projectCPIs[projectId] = revenueSet ? Array.from(revenueSet) : [];\n});\n\n// Create the final output object\nconst finalResult = {\n  name: maxResult.name,\n  projectIds: maxResult.projectIds,\n  projectCPIs: projectCPIs // Revenue mapping renamed to projectCPIs\n};\n\n// Return the result in n8n format\nreturn [{ json: finalResult }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3696,2240],"id":"8e709d40-7cac-408c-b5ba-c2c7e0811249","name":"determineColumn"},{"parameters":{"jsCode":"// Get the input data\nconst inputData = $input.all();\n\n// Array to store the results\nconst results = [];\n\n// Process each input item\ninputData.forEach(item => {\n  const data = item.json;\n  const name = data.name;\n  const projectIds = data.projectIds || [];\n  \n  // Create a separate object for each projectId\n  projectIds.forEach(projectId => {\n    results.push({\n      name: name,\n      projectId: projectId\n    });\n  });\n});\n\n// Return the results in n8n format\nreturn results.map(item => ({ json: item }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3904,2240],"id":"b2a8e5ae-5d0d-4af0-8fff-cfd0f24d3609","name":"flattenProjects"},{"parameters":{"assignments":{"assignments":[{"id":"b3afed92-ee48-4484-a556-0fd0f8f1cd4a","name":"ticketID","value":"={{ $('Webhook').item.json.body.ticketId }}","type":"number"},{"id":"3c0949ce-c08d-4054-890d-6e6998c3240c","name":"billable_event","value":"={{ $('Webhook').item.json.body.billable_event }}","type":"string"},{"id":"ff4bece3-c4e7-40c5-83c7-583867102165","name":"finalIdsCorrect","value":"={{ $('Webhook').item.json.body.finalIdsCorrect }}","type":"boolean"},{"id":"d6901fcf-8a19-417c-8384-e9b9d394b7ba","name":"enagmentId","value":"={{ $json.id }}","type":"string"},{"id":"b6ad0364-3560-406a-84f9-e6ab59082b18","name":"final_ids_file","value":"={{ $('Webhook').item.json.body.final_ids_file }}","type":"string"}]},"options":{}},"id":"68f2d5e8-25c5-4031-a741-635a353e95b2","name":"setTicketId","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2224,2240]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fbc671a1-1012-4ab0-aed2-e57893338890","leftValue":"=","rightValue":"false","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6624,2256],"id":"7493ba38-44aa-4d56-ada0-a1bbd7cbba4d","name":"If"},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/companies/{{ $('getCompanyId').first().json.associations.companies.results[0].id }}?properties=do_not_kick_back_final_ids","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8352,3136],"id":"c45ed347-63df-4164-8cd9-f7abddd4828e","name":"getKickBackStatus","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"statusFound\": \"true\",\n    \"columnName\": \"description\",\n    \"completeFound\": \"true\",\n    \"completeName\": \"complete\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1088,2464],"id":"eda12f5a-5f54-4314-9afe-4c736462e169","name":"Structured Output Parser1"},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[864,2464],"id":"12e816f0-6f9b-402d-b96f-23e4b51a3cfe","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"promptType":"define","text":"=You are tasked with reviewing the data below and determining if there is a survey status or description field that has values like but not limited: Complete, DQ, OQ, abandon, quality DQ, disqualified, etc.\n\nOUTPUT: \n\nstatusFound = this is a boolean true or false if you found a status/description field in the data below\ncolumnName = if you found the column, then put it's exact name here, else null\ncompleteFound = if you found the column and a value that identifies 'completes', put true, else false\ncompleteName = if you found the column, put the value used to identify the \"complete\" state used in data below, else null\n\n\nData:\n{{ $('setData').item.json.data }}\n\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[896,2240],"id":"1077e6f1-9ff9-4af0-afe0-9ceff1526482","name":"status Column agent"},{"parameters":{"jsCode":"// Get the data from setData node\nconst dataString = $('setData').first().json.data;\n\n// Parse the JSON string into an array\nconst dataArray = JSON.parse(dataString);\n\n// Get the column name and value to filter by\nconst columnName = $json.output.columnName; // \"Status\"\nconst completeName = $json.output.completeName; // \"Success\"\n\n// Filter the array where the specified column equals the specified value\nconst filteredItems = dataArray.filter(item => {\n  return item[columnName] === completeName;\n});\n\nreturn filteredItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,2352],"id":"91f7ea43-a5ed-42d9-98b7-28ea0528cc9d","name":"removeDQs"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"210205ce-34fd-4eb1-b073-0916f80ec6fb","leftValue":"={{ $json.output.statusFound }}","rightValue":"true","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1296,2240],"id":"f9767194-8f2a-46c0-8553-723e4b56c10a","name":"noStatusColumn"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3ed5d8b0-cb33-4af6-91ec-ec5a40eea0a8","leftValue":"={{ $('status Column agent').item.json.output.statusFound }}","rightValue":"true","operator":{"type":"string","operation":"contains"}},{"id":"6cb423f1-aff4-4293-8a2f-aba6b6b5b21d","leftValue":"={{ $('status Column agent').item.json.output.completeFound }}","rightValue":"true","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1936,2368],"id":"dfdbf33a-6292-4215-a783-1caaeb327f5f","name":"statusIdentified"},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-80,2464],"id":"0cc5a32e-58b8-4383-96d2-0e9a852bb798","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"multiColumns\": \"true\",\n    \"transColumn\": \"false\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[240,2464],"id":"29853909-efe9-4c7c-97d4-98d161737184","name":"Structured Output Parser3"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[80,2464],"id":"685f5e97-bed8-46d9-a53a-982a8d2d1805","name":"Think"},{"parameters":{"promptType":"define","text":"=You are tasked with reviewing this client submitted CSV of survey response data below to identify if:\n\n- If there is a column that has numeric transaction ids in it, the column could be named something like but not lmited to: transid, response id, transaction id, etc \n- There are multiple potential transaction id columns: they could be split by survey name, month, etc\n\nNext, you need to review your findings and provide structured output.\n\nJSON OUTPUT: \n\ntransColumn = boolean if there is a column with potential transaction ids in it\nmultiColumns = boolean if there are multiple potential transaction id columns or not\n\nData:\n{{ $json.data }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[16,2240],"id":"a4881842-641d-43a8-83b3-c519c5f2246a","name":"multI Column Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[976,2464],"id":"0451a523-82f2-4140-b63e-6e5f5d52fba7","name":"Think1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be0a5c6b-f33f-44fc-bc6a-77953ca0e500","leftValue":"={{ $json.output.multiColumns }}, ","rightValue":"false","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[384,2240],"id":"355c4ec8-a69e-4499-9594-bb6223eac557","name":"noMultiColumns?"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1OONPkhts001P6q9JBHsUY_T4BflAreM6hmSvr-8AJJ8","mode":"list","cachedResultName":"Insights_Pre-Scrub_kickback-logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OONPkhts001P6q9JBHsUY_T4BflAreM6hmSvr-8AJJ8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OONPkhts001P6q9JBHsUY_T4BflAreM6hmSvr-8AJJ8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now }}","Kickback Reason":"Project to Billable Event Line Item Count Mismatch","n8n Execution ID":"={{ $execution }}","HS TicketId":"={{ $('setTicketId').first().json.ticketID }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HS TicketId","displayName":"HS TicketId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Kickback Reason","displayName":"Kickback Reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"n8n Execution ID","displayName":"n8n Execution ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[7248,3120],"id":"1fa88a4a-0288-4b8d-98bb-d6041da606fa","name":"addKickbackLog","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1OONPkhts001P6q9JBHsUY_T4BflAreM6hmSvr-8AJJ8","mode":"list","cachedResultName":"Insights_Pre-Scrub_kickback-logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OONPkhts001P6q9JBHsUY_T4BflAreM6hmSvr-8AJJ8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OONPkhts001P6q9JBHsUY_T4BflAreM6hmSvr-8AJJ8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now }}","Kickback Reason":"=No Complete Status Found","n8n Execution ID":"={{ $execution }}","HS TicketId":"{{ $('setTicketId').first().json.ticketID }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HS TicketId","displayName":"HS TicketId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Kickback Reason","displayName":"Kickback Reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"n8n Execution ID","displayName":"n8n Execution ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2480,3072],"id":"7b829f7a-7b11-464c-b46b-4c3350fe5a65","name":"addKickbackLog1","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1OONPkhts001P6q9JBHsUY_T4BflAreM6hmSvr-8AJJ8","mode":"list","cachedResultName":"Insights_Pre-Scrub_kickback-logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OONPkhts001P6q9JBHsUY_T4BflAreM6hmSvr-8AJJ8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OONPkhts001P6q9JBHsUY_T4BflAreM6hmSvr-8AJJ8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now }}","n8n Execution ID":"={{ $execution }}","Kickback Reason":"Multiple Column Sets Detected","HS TicketId":"={{ $('setTicketId').first().json.ticketID }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HS TicketId","displayName":"HS TicketId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Kickback Reason","displayName":"Kickback Reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"n8n Execution ID","displayName":"n8n Execution ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[912,3072],"id":"ac3860a2-d381-40bb-a00d-3d5c303c3354","name":"addKickbackLog2","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"method":"POST","url":"https://api.hubspot.com/crm/v3/objects/notes","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"properties\": {\n    \"hs_timestamp\": {{ new Date($now.toISO()).getTime() }},\n    \"hs_note_body\": \"Pre-Scrub n8n Execution: https://prodegellc.app.n8n.cloud/{{ $workflow.id }}/executions/{{ $execution.id }}\"\n  },\n  \"associations\": [\n    {\n      \"to\": {\n        \"id\": {{ $json.body.ticketId }}\n      },\n      \"types\": [\n        {\n          \"associationCategory\": \"HUBSPOT_DEFINED\",\n          \"associationTypeId\": 228\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2464,2240],"id":"e95a1490-b162-49e4-a2ed-e19557c9017d","name":"createEngagmentTracker","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"83046a82-dc51-458a-8c2f-b7cb9b418cf6","leftValue":"={{ $json.properties.billable_event }}","rightValue":"={{ $('setTicketId').first().json.billable_event }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"dcccfcf7-f2d6-4c60-b741-133039f73d56","leftValue":"={{ $json.properties.name }}","rightValue":"Sample","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[5232,2368],"id":"9ab0491d-7629-4aac-abf6-680a31a3d1a2","name":"Filter"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aebb00e6-cf95-4194-82dd-7dab94fc1bd5","leftValue":"={{ $json.extension }}","rightValue":"csv","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1520,2240],"id":"9a494e5d-76eb-46e8-b7aa-a746289cac5e","name":"If csv"},{"parameters":{"assignments":{"assignments":[{"id":"eb44415f-38ce-443a-825e-f33259bd253d","name":"id","value":"={{ $json.id }}","type":"number"},{"id":"de93b522-c788-4912-84b5-1beed514030b","name":"properties.billable_event","value":"={{ $json.properties.billable_event }}","type":"number"},{"id":"0962daf0-323c-4b75-98e9-112be4770740","name":"properties.createdate","value":"={{ $json.properties.createdate }}","type":"string"},{"id":"456735ec-fbc4-49df-931b-dcd268d3a8af","name":"properties.hs_lastmodifieddate","value":"={{ $json.properties.hs_lastmodifieddate }}","type":"string"},{"id":"7245531e-e0b8-402c-a017-09c1aa0ca5ac","name":"properties.hs_object_id","value":"={{ $json.properties.hs_object_id }}","type":"number"},{"id":"6d3aa425-b37c-4e47-9b1a-eeaad8b1a81e","name":"properties.line_","value":"={{ $json.properties.line_ }}","type":"number"},{"id":"1c302186-cff9-4528-b0d4-4da71562a212","name":"properties.name","value":"={{ $json.properties.name }}","type":"string"},{"id":"da327cc9-f660-478b-96e6-2653bbe4132d","name":"properties.netsuite_line_id","value":"={{ $json.properties.netsuite_line_id }}","type":"number"},{"id":"04ef6a29-43de-4691-aedf-ad4f5944e403","name":"properties.price","value":"={{ $json.properties.price }}","type":"string"},{"id":"ec7f33d8-d34e-4416-995b-02ead5b68034","name":"properties.peeq_projectid","value":"={{ $json.properties.peeq_projectid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5440,2368],"id":"b867ae39-7e2c-4245-8b87-baaf9d48e7f0","name":"cleanJSON"},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/tickets/{{ $('setTicketId').first().json.ticketID }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"associations","value":"companies"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8144,3136],"id":"902bc2ed-6b29-4220-90ce-b31a32a97fe6","name":"getCompanyId","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-912,2400],"id":"5b4572e5-208a-46e0-abee-308bb6a73e15","name":"Extract from File1","alwaysOutputData":true},{"parameters":{"url":"={{ $json.url }}","options":{"redirect":{"redirect":{"maxRedirects":3}},"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1120,2400],"id":"7b666bb5-ce55-4522-a0fc-c6fd28293822","name":"HTTP downloadSignedURL1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-720,2400],"id":"6bff5f2c-b177-4c25-b88f-00df6c023ddc","name":"Aggregate1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[6096,2256],"id":"816103c3-5944-4988-9a38-83efc5a64433","name":"Aggregate2"},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[7216,2592],"id":"3b50d1ea-8f70-4669-8dec-157f661f9263","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"jsonSchemaExample":"{\n    \"projectId\": 12345,\n    \"matchingNetsuiteIds\": \"True\",\n    \"matchingProjectIds\": \"False\",\n    \"multipleMatches\": \"True\",\n    \"matchingPrice\": \"True\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[7392,2592],"id":"355fd11a-c6ab-45b9-abd6-afa58d1d4dce","name":"Structured Output Parser4"},{"parameters":{"jsCode":"// Process each item and ensure the field is added to ALL items\nconst items = $input.all();\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  \n  // Check if NETSUITELINEITEMID exists and is not null\n  const hasLineItemId = item.json.NETSUITELINEITEMID != null;\n  \n  // Check if properties.netsuite_line_id exists and is not null\n  const hasLineId = item.json.properties?.netsuite_line_id != null;\n  \n  // Add the boolean field to EVERY item\n  item.json.matching_netsuite_ids = hasLineItemId && hasLineId;\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5888,2256],"id":"f9d66baa-f2d0-471a-bdf0-c19aa59a8781","name":"runChecks1"},{"parameters":{"jsCode":"// Option 1: Group into an object with projectId as keys\nconst groupedByProject = {};\n\n// Loop through each item and group by PROJECTID\nfor (const item of $('runChecks1').all()) {\n  const projectId = item.json.PROJECTID;\n  \n  if (!groupedByProject[projectId]) {\n    groupedByProject[projectId] = [];\n  }\n  \n  groupedByProject[projectId].push(item.json);\n}\n\n// Convert to array format for n8n output\nconst result = Object.keys(groupedByProject).map(projectId => ({\n  json: {\n    projectId: parseInt(projectId),\n    itemCount: groupedByProject[projectId].length,\n    items: groupedByProject[projectId]\n  }\n}));\n\nreturn result;\n\n// Alternative Option 2: Simple object with projectId as keys\n// Uncomment the code below if you prefer this format instead\n\n/*\nconst groupedByProject = {};\n\nfor (const item of $('runChecks1').all()) {\n  const projectId = item.json.PROJECTID;\n  \n  if (!groupedByProject[projectId]) {\n    groupedByProject[projectId] = [];\n  }\n  \n  groupedByProject[projectId].push(item.json);\n}\n\nreturn [{ json: groupedByProject }];\n*/\n\n// Alternative Option 3: Include project metadata\n// Uncomment if you want additional project-level information\n\n/*\nconst groupedByProject = {};\n\nfor (const item of $('runChecks1').all()) {\n  const projectId = item.json.PROJECTID;\n  \n  if (!groupedByProject[projectId]) {\n    groupedByProject[projectId] = {\n      projectId: projectId,\n      items: [],\n      totalPrice: 0,\n      itemCount: 0\n    };\n  }\n  \n  groupedByProject[projectId].items.push(item.json);\n  groupedByProject[projectId].totalPrice += parseFloat(item.json.properties.price || 0);\n  groupedByProject[projectId].itemCount++;\n}\n\nreturn Object.values(groupedByProject).map(project => ({ json: project }));\n*/\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6960,2256],"id":"5bbde0c9-ceb8-403a-931b-30fc2fa6cae1","name":"groupByProject"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"projectId","field2":"output.projectId"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[7616,2256],"id":"5db346f3-c527-4a9e-a5c4-34df5fc08599","name":"Merge2"},{"parameters":{"promptType":"define","text":"=You are a data analyst. Your job is to review the following data and compile answers to the following questions using approved output formatting.\n\n1. Does each JSON object in results have matching 'NETSUITELINEITEMID' and 'netsuite_line_id' values?\n2. Does each JSON object in results have matching 'PROJECTID' and 'peeq_projectid' values?\n3. Do multiple items have the same PROJECTID? \n4. Does each object's 'price' value match a value in this key of 'projectIds' and their associated 'price' values?: {{ JSON.stringify($('determineColumn').first().json.projectCPIs) }}\n\n\nResults:\nProjectId: {{ $json.projectId }}\nItems in project: {{ JSON.stringify($json.items) }}\n\n\nOuput:\n1. findings in matchingNetsuiteIds as Boolean\n2. findings in matchingProjectIds as Boolean\n3. findings in multipleMatches as Boolean\n4. findings in matchingPrice as Boolean\n5. projectid in projectId","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[7232,2368],"id":"ec623b72-1f6c-47f1-ac93-4583c164de95","name":"recoType Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[6272,2480],"id":"8e0a058a-a352-43c1-b49b-84d67ff5dcb1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"jsonSchemaExample":"{\n    \"matchingNetsuiteIds\": \"True\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[6448,2480],"id":"0953d3f3-6d34-4e77-89cd-8e079b7f7ebd","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=Do any of the following results not have matching_netsuite_ids = true?\n\n{{ JSON.stringify($json.data) }}\n\noutput boolean true or false","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[6288,2256],"id":"40900ddb-97e3-41ae-836a-39ed51acbb8e","name":"itemMatch Agent"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"projects","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[7824,2256],"id":"26964c3b-f3bd-49b5-8ad7-8db7e14129b8","name":"Aggregate3"},{"parameters":{"assignments":{"assignments":[{"id":"11d6dbb7-17e4-4e9a-b19d-5254c2799285","name":"data","value":"={{ $json.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,2240],"id":"6d65066d-95dd-440f-bb70-f5d2bc8a8642","name":"setData"},{"parameters":{"jsCode":"// Get the CSV data from the specific HTTP downloadSignedURL node\nconst csvData = $('HTTP downloadSignedURL').first().json.data;\n\nif (!csvData) {\n  throw new Error('No CSV data found in HTTP downloadSignedURL node');\n}\n\n// Split CSV into lines - handle both \\n and \\r\\n line endings\nconst lines = csvData.split(/\\r?\\n/).filter(line => line.trim() !== '');\n\nif (lines.length === 0) {\n  throw new Error('No valid CSV lines found');\n}\n\n// Parse the header row and make duplicate headers unique\nconst rawHeaders = lines[0].split(',').map(h => h.trim());\nconst headers = [];\nconst headerCounts = {};\n\nrawHeaders.forEach(header => {\n  if (headerCounts[header]) {\n    headerCounts[header]++;\n    headers.push(`${header}_${headerCounts[header]}`);\n  } else {\n    headerCounts[header] = 1;\n    headers.push(header);\n  }\n});\n\n// Parse data rows\nconst results = [];\n\nfor (let i = 1; i < lines.length; i++) {\n  const row = lines[i];\n  if (row.trim() === '') continue; // Skip empty lines\n  \n  // Split the row by comma, but handle quotes\n  const values = [];\n  let currentValue = '';\n  let inQuotes = false;\n  \n  for (let j = 0; j < row.length; j++) {\n    const char = row[j];\n    \n    if (char === '\"') {\n      inQuotes = !inQuotes;\n    } else if (char === ',' && !inQuotes) {\n      values.push(currentValue.trim());\n      currentValue = '';\n    } else {\n      currentValue += char;\n    }\n  }\n  // Don't forget the last value\n  values.push(currentValue.trim());\n  \n  // Create object mapping headers to values\n  const rowObject = {};\n  \n  headers.forEach((header, index) => {\n    const value = values[index] || '';\n    // Handle null values and clean the data\n    rowObject[header] = value === 'null' ? null : String(value);\n  });\n  \n  // Only add the object if it has some data\n  if (Object.values(rowObject).some(val => val !== '' && val !== null)) {\n    results.push({ json: rowObject });\n  }\n}\n\n// Return all the parsed objects\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-928,2096],"id":"fa05396a-603f-48bc-b73c-4ff4c5818abd","name":"cleanCSV1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-720,2096],"id":"d771f277-ab07-4ad2-9e45-54c5808d9d05","name":"Aggregate4"},{"parameters":{"jsCode":"// Get all items from the 'setData' node\nconst items = $('setData').all();\n\n// Flatten the data\nconst flattenedItems = items.flatMap(item => {\n  // Parse the JSON string in the 'data' field\n  const parsedData = JSON.parse(item.json.data);\n  \n  // Return each object as a separate item\n  return parsedData.map(obj => ({\n    json: obj\n  }));\n});\n\nreturn flattenedItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,2160],"id":"a8cf1336-deb9-4aeb-af3f-761f03a3afa6","name":"getData"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1OONPkhts001P6q9JBHsUY_T4BflAreM6hmSvr-8AJJ8","mode":"list","cachedResultName":"Insights_Pre-Scrub_kickback-logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OONPkhts001P6q9JBHsUY_T4BflAreM6hmSvr-8AJJ8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OONPkhts001P6q9JBHsUY_T4BflAreM6hmSvr-8AJJ8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now }}","Kickback Reason":"=No Matching ClickIDs Found","n8n Execution ID":"={{ $execution }}","HS TicketId":"{{ $('setTicketId').first().json.ticketID }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HS TicketId","displayName":"HS TicketId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Kickback Reason","displayName":"Kickback Reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"n8n Execution ID","displayName":"n8n Execution ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3616,3072],"id":"aa245f73-a945-4471-9d06-1ec0134a768b","name":"addKickbackLog3","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fb6c23b1-d93f-49f3-9fd0-51f0f29e7818","leftValue":"={{ $json.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3040,2352],"id":"dc00d460-f9f9-4a5c-a634-7a23a6dc2006","name":"clicksFound"},{"parameters":{"height":368,"width":688},"type":"n8n-nodes-base.stickyNote","position":[-1248,2640],"typeVersion":1,"id":"9ea2eab6-e1e3-4c00-a553-38698683b26a","name":"Sticky Note2"}],"connections":{"Get CSV Meta":{"main":[[{"node":"HTTP createSignedURL","type":"main","index":0}]]},"HTTP createSignedURL":{"main":[[{"node":"If csv","type":"main","index":0}]]},"HTTP downloadSignedURL":{"main":[[{"node":"cleanCSV1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"createEngagmentTracker","type":"main","index":0}]]},"HTTP Request: get dealid":{"main":[[{"node":"HTTP Get HS_line_items","type":"main","index":0}]]},"NetSuitelLineItem":{"main":[[{"node":"HTTP Request: get dealid","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"cleanLineItems":{"main":[[{"node":"HTTP Get NS_line_item values","type":"main","index":0}]]},"HTTP Get NS_line_item values":{"main":[[{"node":"Filter","type":"main","index":0}]]},"HTTP Get HS_line_items":{"main":[[{"node":"cleanLineItems","type":"main","index":0}]]},"Merge":{"main":[[{"node":"runChecks1","type":"main","index":0}]]},"ifKickBack":{"main":[[{"node":"finalIdsStatus=ManualReview","type":"main","index":0}],[{"node":"finalIdsStatus=Mismatched","type":"main","index":0}]]},"triggerScrub":{"main":[[{"node":"Call 'Insights Scrub CLOSURE BAI-11'","type":"main","index":0}]]},"finalIdsStatus=ManualReview":{"main":[[]]},"columnsToLists":{"main":[[{"node":"getClicks","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"determineColumn","type":"main","index":0}]]},"flattenData":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"getClicks":{"main":[[{"node":"clicksFound","type":"main","index":0}]]},"determineColumn":{"main":[[{"node":"flattenProjects","type":"main","index":0}]]},"flattenProjects":{"main":[[{"node":"NetSuitelLineItem","type":"main","index":0}]]},"setTicketId":{"main":[[{"node":"Get CSV Meta","type":"main","index":0}]]},"If":{"main":[[{"node":"groupByProject","type":"main","index":0}],[{"node":"addKickbackLog","type":"main","index":0}]]},"getKickBackStatus":{"main":[[{"node":"ifKickBack","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"status Column agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"status Column agent","type":"ai_languageModel","index":0}]]},"status Column agent":{"main":[[{"node":"noStatusColumn","type":"main","index":0}]]},"removeDQs":{"main":[[{"node":"flattenData","type":"main","index":0},{"node":"columnsToLists","type":"main","index":0}]]},"noStatusColumn":{"main":[[{"node":"getData","type":"main","index":0}],[{"node":"statusIdentified","type":"main","index":0}]]},"statusIdentified":{"main":[[{"node":"removeDQs","type":"main","index":0}],[{"node":"addKickbackLog1","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"multI Column Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"multI Column Agent","type":"ai_outputParser","index":0}]]},"Think":{"ai_tool":[[{"node":"multI Column Agent","type":"ai_tool","index":0}]]},"Think1":{"ai_tool":[[{"node":"status Column agent","type":"ai_tool","index":0}]]},"multI Column Agent":{"main":[[{"node":"noMultiColumns?","type":"main","index":0}]]},"noMultiColumns?":{"main":[[{"node":"status Column agent","type":"main","index":0}],[{"node":"addKickbackLog2","type":"main","index":0}]]},"addKickbackLog":{"main":[[{"node":"getCompanyId","type":"main","index":0}]]},"addKickbackLog1":{"main":[[{"node":"getCompanyId","type":"main","index":0}]]},"addKickbackLog2":{"main":[[{"node":"getCompanyId","type":"main","index":0}]]},"createEngagmentTracker":{"main":[[{"node":"setTicketId","type":"main","index":0}]]},"If csv":{"main":[[{"node":"HTTP downloadSignedURL","type":"main","index":0}],[{"node":"HTTP downloadSignedURL1","type":"main","index":0}]]},"cleanJSON":{"main":[[{"node":"Merge","type":"main","index":1}]]},"getCompanyId":{"main":[[{"node":"getKickBackStatus","type":"main","index":0}]]},"Filter":{"main":[[{"node":"cleanJSON","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"HTTP downloadSignedURL1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"setData","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"itemMatch Agent","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"recoType Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"recoType Agent","type":"ai_outputParser","index":0}]]},"runChecks1":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"groupByProject":{"main":[[{"node":"recoType Agent","type":"main","index":0},{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"recoType Agent":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"itemMatch Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"itemMatch Agent","type":"ai_outputParser","index":0}]]},"itemMatch Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"triggerScrub","type":"main","index":0}]]},"setData":{"main":[[{"node":"multI Column Agent","type":"main","index":0}]]},"cleanCSV1":{"main":[[{"node":"Aggregate4","type":"main","index":0}]]},"Aggregate4":{"main":[[{"node":"setData","type":"main","index":0}]]},"getData":{"main":[[{"node":"columnsToLists","type":"main","index":0},{"node":"flattenData","type":"main","index":0}]]},"addKickbackLog3":{"main":[[{"node":"getCompanyId","type":"main","index":0}]]},"clicksFound":{"main":[[{"node":"Merge1","type":"main","index":1}],[{"node":"addKickbackLog3","type":"main","index":0}]]}},"authors":"Boden Johnson","name":null,"description":null},"tags":[{"updatedAt":"2025-09-16T22:03:04.244Z","createdAt":"2025-09-16T22:03:04.244Z","id":"1JleW3VaKeNkbHMv","name":"catalog"},{"updatedAt":"2025-08-31T22:15:28.746Z","createdAt":"2025-08-31T22:15:28.746Z","id":"MSbYUejSnKte9BCA","name":"insights"},{"updatedAt":"2025-06-06T18:17:40.197Z","createdAt":"2025-06-06T18:17:16.177Z","id":"QSobdHvedr4NOCqq","name":"hubspot HS"}]}