Insights Closure Error Monitoring.json
{"updatedAt":"2025-12-18T17:49:38.735Z","createdAt":"2025-12-16T17:01:40.569Z","id":"oYA9v0CuR3mPGV14","name":"Insights Closure Error Monitoring","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"a2d116fe-3030-42cf-a337-9ccff2e44534","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[32,192]},{"parameters":{"resource":"execution","operation":"get","executionId":"={{ $json.execution.id }}","options":{"activeWorkflows":true},"requestOptions":{}},"id":"4d6044f5-b153-42de-9e25-a48d9720c82e","name":"Get Full Execution Data","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[256,192],"notesInFlow":true,"credentials":{"n8nApi":{"id":"6INXABLmd3ZcZtud","name":"n8n Error monitoring (Boden)"}},"notes":"Fetches complete execution data including all node outputs from the failed workflow"},{"parameters":{"jsCode":"// Get the execution data from the n8n node\nconst executionData = $input.first().json;\n\n// Extract basic error information\nconst workflowId = executionData.workflowId || 'Unknown';\nconst workflowName = executionData.workflowData?.name || 'Unknown Workflow';\nconst executionId = executionData.id || 'Unknown';\nconst timestamp = executionData.startedAt || new Date().toISOString();\n\n// Find error details\nlet errorMessage = 'No error message available';\nlet errorNode = 'Unknown Node';\n\nif (executionData.data?.resultData?.error) {\n  errorMessage = executionData.data.resultData.error.message || errorMessage;\n  errorNode = executionData.data.resultData.error.node?.name || errorNode;\n}\n\n// Search through all nodes to find HubSpot ticket ID\nlet hubspotTicketId = null;\nlet hubspotNodeName = null;\n\nif (executionData.data?.resultData?.runData) {\n  const runData = executionData.data.resultData.runData;\n  \n  // Iterate through all nodes in the execution\n  for (const [nodeName, nodeExecutions] of Object.entries(runData)) {\n    // Check each execution of the node\n    for (const execution of nodeExecutions) {\n      if (execution.data?.main?.[0]) {\n        // Check each item in the node output\n        for (const item of execution.data.main[0]) {\n          // Look for HubSpot ticket ID in various possible fields\n          if (item.json) {\n            // Common HubSpot ticket ID fields\n            if (item.json.id && nodeName.toLowerCase().includes('hubspot')) {\n              hubspotTicketId = item.json.id;\n              hubspotNodeName = nodeName;\n              break;\n            }\n            if (item.json.hs_ticket_id) {\n              hubspotTicketId = item.json.hs_ticket_id;\n              hubspotNodeName = nodeName;\n              break;\n            }\n            if (item.json.ticket_id) {\n              hubspotTicketId = item.json.ticket_id;\n              hubspotNodeName = nodeName;\n              break;\n            }\n            if (item.json.ticketId) {\n              hubspotTicketId = item.json.ticketId;\n              hubspotNodeName = nodeName;\n              break;\n            }\n            // Check for nested properties object\n            if (item.json.properties?.hs_ticket_id) {\n              hubspotTicketId = item.json.properties.hs_ticket_id;\n              hubspotNodeName = nodeName;\n              break;\n            }\n          }\n        }\n        if (hubspotTicketId) break;\n      }\n    }\n    if (hubspotTicketId) break;\n  }\n}\n\n// Create execution URL\nconst executionUrl = `https://app.n8n.cloud/workflow/${workflowId}/executions/${executionId}`;\n\n// Format error details for HubSpot\nconst formattedError = {\n  workflow_id: workflowId,\n  workflow_name: workflowName,\n  execution_id: executionId,\n  error_message: errorMessage,\n  failed_node: errorNode,\n  timestamp: timestamp,\n  execution_url: executionUrl,\n  hubspot_ticket_id: hubspotTicketId,\n  hubspot_node_name: hubspotNodeName,\n  \n  // Formatted text for ticket update/comment\n  formatted_message: `**Workflow Error Detected**\\n\\n` +\n    `**Workflow:** ${workflowName} (${workflowId})\\n` +\n    `**Execution ID:** ${executionId}\\n` +\n    `**Failed Node:** ${errorNode}\\n` +\n    `**Error Message:** ${errorMessage}\\n` +\n    `**Timestamp:** ${new Date(timestamp).toLocaleString()}\\n` +\n    `**View Execution:** ${executionUrl}\\n` +\n    (hubspotTicketId ? `**HubSpot Ticket:** ${hubspotTicketId} (from node: ${hubspotNodeName})\\n` : ''),\n  \n  // HTML formatted version\n  formatted_html: `<h3>Workflow Error Detected</h3>` +\n    `<p><strong>Workflow:</strong> ${workflowName} (${workflowId})</p>` +\n    `<p><strong>Execution ID:</strong> ${executionId}</p>` +\n    `<p><strong>Failed Node:</strong> ${errorNode}</p>` +\n    `<p><strong>Error Message:</strong> ${errorMessage}</p>` +\n    `<p><strong>Timestamp:</strong> ${new Date(timestamp).toLocaleString()}</p>` +\n    `<p><strong><a href=\"${executionUrl}\">View Execution</a></strong></p>` +\n    (hubspotTicketId ? `<p><strong>HubSpot Ticket ID:</strong> ${hubspotTicketId} (from node: ${hubspotNodeName})</p>` : '')\n};\n\nreturn { json: formattedError };"},"id":"9d89aec3-e156-4f70-adda-3011bee7ed11","name":"Extract Error Data & Find HubSpot Ticket ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[496,192],"notesInFlow":true,"notes":"Searches through all node data to find HubSpot ticket ID\n\nLooks for:\n- id (in HubSpot nodes)\n- hs_ticket_id\n- ticket_id\n- ticketId\n- properties.hs_ticket_id"},{"parameters":{"method":"PATCH","url":"=https://api.hubapi.com/crm/v3/objects/tickets/{{ $('setFields').first().json.ticketID }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"properties\": {\n    \"final_ids_status\": \"Approved\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,192],"id":"6e2dd3eb-fc6a-4392-945c-e4f4947f0c88","name":"status=AutomationError","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}},"disabled":true},{"parameters":{"method":"POST","url":"https://api.hubspot.com/crm/v3/objects/notes","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"properties\": {\n    \"hs_timestamp\": {{ new Date($now.toISO()).getTime() }},\n    \"hs_note_body\": \"n8n Error: {{ $json.execution }}\"\n  },\n  \"associations\": [\n    {\n      \"to\": {\n        \"id\": {{ $json.ticketId }}\n      },\n      \"types\": [\n        {\n          \"associationCategory\": \"HUBSPOT_DEFINED\",\n          \"associationTypeId\": 228\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,192],"id":"71883c88-fe00-4c8a-bf5f-ab5a79763c36","name":"createEngagmentTracker","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"assignments":{"assignments":[{"id":"1e9bcb71-6489-4abb-acfd-5a2c578d41f2","name":"ticketId","value":"={{ $('Get Full Execution Data').item.json.data.resultData.runData['When Executed by Another Workflow'][0].data.main[0][0].json.ticketId }}","type":"number"},{"id":"a487e74b-51c7-4695-a7b5-1dde867feae9","name":"rootCause","value":"={{ $json.output.rootCause }}","type":"string"},{"id":"b539e5ec-a0b9-4654-a02b-16ef5209b349","name":"execution","value":"={{ $('Error Trigger').item.json.execution.url }}","type":"string"},{"id":"ad4fc5b1-fde3-485f-83e7-69722fe2cbb3","name":"workflow_name","value":"={{ $('Extract Error Data & Find HubSpot Ticket ID').item.json.workflow_name }}","type":"string"},{"id":"e4975a80-fd8a-4fe1-bf8e-a4911fb9eb7b","name":"formatted_message","value":"={{ $('Extract Error Data & Find HubSpot Ticket ID').item.json.formatted_message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,192],"id":"b460fe07-d929-4b93-bca6-05105838a40f","name":"setData"},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[720,432],"id":"753d6514-6558-4f6c-88c6-bf0bf0a4e79c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"rootCause\": \"API call error due to missing ticketid value\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[896,432],"id":"78f5f7d0-7142-4549-a5b8-88b18c97da14","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=Summarize the root cause issue from this errored n8n execution data:\n{{ JSON.stringify($('Get Full Execution Data').item.json.data) }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[736,192],"id":"841255a5-afa6-426f-9ae4-272f9aead3dd","name":"Root cause agent"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#oe-error-monitoring","mode":"name"},"text":"=Insights Closure Error: \n\nWorkflow: {{ $('setData').item.json.workflow_name }}\nTicketId: {{ $('setData').item.json.ticketId }}\nn8n Execution: {{ $('setData').item.json.execution }}\nRoot Cause: {{ $('setData').item.json.rootCause }}\n","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[1824,192],"id":"183573c5-0c5b-483e-83a5-8e9c4dd3486b","name":"Send a message","webhookId":"68b66709-ec24-4cd6-b446-b5fed493ecfd","credentials":{"slackApi":{"id":"3toyTjW1jCWQIrsZ","name":"Slack Access Token n8n (LastPass)"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Get Full Execution Data","type":"main","index":0}]]},"Get Full Execution Data":{"main":[[{"node":"Extract Error Data & Find HubSpot Ticket ID","type":"main","index":0}]]},"Extract Error Data & Find HubSpot Ticket ID":{"main":[[{"node":"Root cause agent","type":"main","index":0}]]},"setData":{"main":[[{"node":"createEngagmentTracker","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Root cause agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Root cause agent","type":"ai_outputParser","index":0}]]},"Root cause agent":{"main":[[{"node":"setData","type":"main","index":0}]]},"createEngagmentTracker":{"main":[[{"node":"status=AutomationError","type":"main","index":0}]]},"status=AutomationError":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"any","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5931fbd5-9026-4447-9b9c-d3d8259fd328","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-18T17:46:02.424Z","createdAt":"2025-12-18T17:46:02.424Z","role":"workflow:owner","workflowId":"oYA9v0CuR3mPGV14","projectId":"PZkDRO2KVE09GlpT"}],"activeVersion":null,"tags":[]}