INSIGHTS ClickID range.json
{"updatedAt":"2025-09-16T23:09:00.000Z","createdAt":"2025-09-16T16:04:04.794Z","id":"8acNVIdlE0v0vFhN","name":"INSIGHTS ClickID range","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"--//-- Clicks per Month trailing 6 months\nWITH monthly_clicks AS (\n  SELECT\n    DATE_TRUNC('month', clickdate) AS month_start,\n    MIN(clickid)                  AS min_clickid,\n    MAX(clickid)                  AS max_clickid\n  FROM SURVEYS.project_click\n  WHERE clickdate\n    BETWEEN DATE_TRUNC('month',\n                       DATEADD(month, -2, CURRENT_DATE()))  -- 2 months ago, 1st of that month\n        AND DATE_TRUNC('month',\n                       DATEADD(month, -0, CURRENT_DATE()))            -- up to the 1st of the last month (exclusive of this month)\n  GROUP BY 1\n)\nSELECT\n  month_start,\n  min_clickid,\n  max_clickid\nFROM monthly_clicks\nORDER BY month_start;\n;\n"},"type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[-336,80],"id":"a1b2e1a7-14ef-4504-a420-7fc669ada1ea","name":"Snowflake Insights average Clicks month","credentials":{"snowflake":{"id":"RC04CfI3v4QBk3xy","name":"Snowflake ops_disco_automation_db dev_wh"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-560,-16],"id":"4813dc78-d4f3-435d-9224-e7270e04eebc","name":"When clicking ‘Execute workflow’"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"28099170-4104-460a-ba86-d583ca2d95c6","leftValue":"={{ $json.MAX_CLICKID - $json.MIN_CLICKID }}","rightValue":1000000,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-112,80],"id":"c6c3db41-a6c7-4800-9ebe-088e8e832131","name":"Filter minimum clicks in month"},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1k5h78EJNRhKQNrFKC1JX9rVFJGTm9GVsXSm8d6toFGM","mode":"id"},"sheetName":{"__rl":true,"value":"854063429","mode":"id"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["MONTH_START"],"schema":[{"id":"MONTH_START","displayName":"MONTH_START","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MIN_CLICKID","displayName":"MIN_CLICKID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MAX_CLICKID","displayName":"MAX_CLICKID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Clicks in Month","displayName":"Clicks in Month","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Cumulative Avg","displayName":"Cumulative Avg","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[112,80],"id":"9fe27293-e8ba-4213-aea3-152f1874148f","name":"Append or update row in sheet","credentials":{"googleApi":{"id":"De9JHAXR607v23Qe","name":"GSA: n8n-insights-2025june10"}}},{"parameters":{"rule":{"interval":[{"field":"weeks","weeksInterval":3,"triggerAtDay":[3],"triggerAtHour":7,"triggerAtMinute":23}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-560,176],"id":"ae66bfbb-d58f-4fa8-9441-bffa2b5e73f8","name":"Schedule Trigger"},{"parameters":{"content":"# 📊 Summary\nPurpose: Automated monthly click analytics reporting system\n\n## Triggers:\n- Manual execution for ad-hoc reporting\n- Scheduled every 3 weeks (Wednesdays at 7:23 AM)\n\n## Data Flow:\n\n- Input: Snowflake database query for trailing 2-month click data\n- Processing: Filters months with ≥1000 clicks\n- Output: Google Sheets with monthly click ranges and statistics\n\n## Business Value:\n- Automated click volume monitoring\n- Historical trend analysis\n- Data-driven decision making support","height":576,"width":512},"type":"n8n-nodes-base.stickyNote","position":[-1008,-608],"typeVersion":1,"id":"75c6c1b5-2518-43d6-a422-8812cd66c778","name":"Sticky Note"},{"parameters":{"content":"# 🔧 Robustness\n\n### Error Handling Improvements:\n- Add error handling nodes after Snowflake query\n- Implement retry logic for Google Sheets API calls\n- Add timeout handling for database connections\n\n### Data Validation:\n- Validate Snowflake query results before processing\n- Check for null/empty values in click data\n- Add schema validation for Google Sheets columns\n\n### Monitoring & Notifications:\n- Add Slack/email notifications on workflow failure\n- Implement success confirmation messages\n- Log execution metrics for performance monitoring\n\n### Additional Robustness:\n- Add exponential backoff for API retries\n- Implement data backup before overwriting sheets\n- Add workflow execution history logging","height":560,"width":544,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-464,-608],"typeVersion":1,"id":"25004d22-f531-4477-85a8-b104b17147ac","name":"Sticky Note1"},{"parameters":{"content":"# 🔐 Credentials Used\n\n## Required Credentials:\n- Snowflake Database:\n-- Name: \"Snowflake ops_disco_automation_db dev_wh\"\n-- Access: ops_disco_automation_db database\n-- Warehouse: dev_wh\n- Google Sheets:\n-- Name: \"GSA: n8n-insights-2025june10\"\n-- Sheet ID: [1k5h78EJNRhKQNrFKC1JX9rVFJGTm9GVsXSm8d6toFGM](https://docs.google.com/spreadsheets/d/1k5h78EJNRhKQNrFKC1JX9rVFJGTm9GVsXSm8d6toFGM/edit?gid=854063429#gid=854063429)\n\n## Security Notes:\n- Both credentials use service account authentication","height":560,"width":512,"color":5},"type":"n8n-nodes-base.stickyNote","position":[96,-608],"typeVersion":1,"id":"6c543356-4984-413c-9755-d75ca911d5bc","name":"Sticky Note2"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Snowflake Insights average Clicks month","type":"main","index":0}]]},"Snowflake Insights average Clicks month":{"main":[[{"node":"Filter minimum clicks in month","type":"main","index":0}]]},"Filter minimum clicks in month":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Snowflake Insights average Clicks month","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[50]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"30f6b88d-42a3-4b18-8d95-eeabbfcf8434","activeVersionId":"30f6b88d-42a3-4b18-8d95-eeabbfcf8434","triggerCount":1,"shared":[{"updatedAt":"2025-09-16T17:06:04.613Z","createdAt":"2025-09-16T17:06:04.613Z","role":"workflow:owner","workflowId":"8acNVIdlE0v0vFhN","projectId":"PZkDRO2KVE09GlpT"}],"activeVersion":{"updatedAt":"2025-11-26T16:28:54.630Z","createdAt":"2025-11-26T16:28:54.630Z","versionId":"30f6b88d-42a3-4b18-8d95-eeabbfcf8434","workflowId":"8acNVIdlE0v0vFhN","nodes":[{"parameters":{"operation":"executeQuery","query":"--//-- Clicks per Month trailing 6 months\nWITH monthly_clicks AS (\n  SELECT\n    DATE_TRUNC('month', clickdate) AS month_start,\n    MIN(clickid)                  AS min_clickid,\n    MAX(clickid)                  AS max_clickid\n  FROM SURVEYS.project_click\n  WHERE clickdate\n    BETWEEN DATE_TRUNC('month',\n                       DATEADD(month, -2, CURRENT_DATE()))  -- 2 months ago, 1st of that month\n        AND DATE_TRUNC('month',\n                       DATEADD(month, -0, CURRENT_DATE()))            -- up to the 1st of the last month (exclusive of this month)\n  GROUP BY 1\n)\nSELECT\n  month_start,\n  min_clickid,\n  max_clickid\nFROM monthly_clicks\nORDER BY month_start;\n;\n"},"type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[-336,80],"id":"a1b2e1a7-14ef-4504-a420-7fc669ada1ea","name":"Snowflake Insights average Clicks month","credentials":{"snowflake":{"id":"RC04CfI3v4QBk3xy","name":"Snowflake ops_disco_automation_db dev_wh"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-560,-16],"id":"4813dc78-d4f3-435d-9224-e7270e04eebc","name":"When clicking ‘Execute workflow’"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"28099170-4104-460a-ba86-d583ca2d95c6","leftValue":"={{ $json.MAX_CLICKID - $json.MIN_CLICKID }}","rightValue":1000000,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-112,80],"id":"c6c3db41-a6c7-4800-9ebe-088e8e832131","name":"Filter minimum clicks in month"},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1k5h78EJNRhKQNrFKC1JX9rVFJGTm9GVsXSm8d6toFGM","mode":"id"},"sheetName":{"__rl":true,"value":"854063429","mode":"id"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["MONTH_START"],"schema":[{"id":"MONTH_START","displayName":"MONTH_START","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MIN_CLICKID","displayName":"MIN_CLICKID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MAX_CLICKID","displayName":"MAX_CLICKID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Clicks in Month","displayName":"Clicks in Month","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Cumulative Avg","displayName":"Cumulative Avg","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[112,80],"id":"9fe27293-e8ba-4213-aea3-152f1874148f","name":"Append or update row in sheet","credentials":{"googleApi":{"id":"De9JHAXR607v23Qe","name":"GSA: n8n-insights-2025june10"}}},{"parameters":{"rule":{"interval":[{"field":"weeks","weeksInterval":3,"triggerAtDay":[3],"triggerAtHour":7,"triggerAtMinute":23}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-560,176],"id":"ae66bfbb-d58f-4fa8-9441-bffa2b5e73f8","name":"Schedule Trigger"},{"parameters":{"content":"# 📊 Summary\nPurpose: Automated monthly click analytics reporting system\n\n## Triggers:\n- Manual execution for ad-hoc reporting\n- Scheduled every 3 weeks (Wednesdays at 7:23 AM)\n\n## Data Flow:\n\n- Input: Snowflake database query for trailing 2-month click data\n- Processing: Filters months with ≥1000 clicks\n- Output: Google Sheets with monthly click ranges and statistics\n\n## Business Value:\n- Automated click volume monitoring\n- Historical trend analysis\n- Data-driven decision making support","height":576,"width":512},"type":"n8n-nodes-base.stickyNote","position":[-1008,-608],"typeVersion":1,"id":"75c6c1b5-2518-43d6-a422-8812cd66c778","name":"Sticky Note"},{"parameters":{"content":"# 🔧 Robustness\n\n### Error Handling Improvements:\n- Add error handling nodes after Snowflake query\n- Implement retry logic for Google Sheets API calls\n- Add timeout handling for database connections\n\n### Data Validation:\n- Validate Snowflake query results before processing\n- Check for null/empty values in click data\n- Add schema validation for Google Sheets columns\n\n### Monitoring & Notifications:\n- Add Slack/email notifications on workflow failure\n- Implement success confirmation messages\n- Log execution metrics for performance monitoring\n\n### Additional Robustness:\n- Add exponential backoff for API retries\n- Implement data backup before overwriting sheets\n- Add workflow execution history logging","height":560,"width":544,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-464,-608],"typeVersion":1,"id":"25004d22-f531-4477-85a8-b104b17147ac","name":"Sticky Note1"},{"parameters":{"content":"# 🔐 Credentials Used\n\n## Required Credentials:\n- Snowflake Database:\n-- Name: \"Snowflake ops_disco_automation_db dev_wh\"\n-- Access: ops_disco_automation_db database\n-- Warehouse: dev_wh\n- Google Sheets:\n-- Name: \"GSA: n8n-insights-2025june10\"\n-- Sheet ID: [1k5h78EJNRhKQNrFKC1JX9rVFJGTm9GVsXSm8d6toFGM](https://docs.google.com/spreadsheets/d/1k5h78EJNRhKQNrFKC1JX9rVFJGTm9GVsXSm8d6toFGM/edit?gid=854063429#gid=854063429)\n\n## Security Notes:\n- Both credentials use service account authentication","height":560,"width":512,"color":5},"type":"n8n-nodes-base.stickyNote","position":[96,-608],"typeVersion":1,"id":"6c543356-4984-413c-9755-d75ca911d5bc","name":"Sticky Note2"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Snowflake Insights average Clicks month","type":"main","index":0}]]},"Snowflake Insights average Clicks month":{"main":[[{"node":"Filter minimum clicks in month","type":"main","index":0}]]},"Filter minimum clicks in month":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Snowflake Insights average Clicks month","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null},"tags":[{"updatedAt":"2025-08-31T22:15:28.746Z","createdAt":"2025-08-31T22:15:28.746Z","id":"MSbYUejSnKte9BCA","name":"insights"},{"updatedAt":"2025-05-19T05:10:36.690Z","createdAt":"2025-05-19T05:10:36.690Z","id":"XbZNUbSszDlg0tE4","name":"Google Service Creds"},{"updatedAt":"2025-03-28T05:18:56.320Z","createdAt":"2025-03-28T05:18:56.320Z","id":"jEMJy2OFy0YxTQSO","name":"GSheet"},{"updatedAt":"2025-04-30T04:41:58.583Z","createdAt":"2025-04-30T04:41:58.583Z","id":"s7RJscwb71jTz2ag","name":"Snowflake"}]}