Insights Scrub CLOSURE BAI-11.json
{"updatedAt":"2025-12-18T20:02:59.819Z","createdAt":"2025-08-22T19:38:53.375Z","id":"hqbOggslY4THOEaa","name":"Insights Scrub CLOSURE BAI-11","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"728d04e5-f5e4-4ec0-985a-4cd9f34c9382","name":"properties.final_ids","value":"={{ $json.properties.final_ids_file }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7648,-368],"id":"6bc321f8-863a-4366-ba46-04183ce447ec","name":"finalID","disabled":true},{"parameters":{"url":"=https://api.hubapi.com/files/v3/files/{{ $('setFields').item.json.finalIdsFile }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7424,-368],"id":"b741db69-5a9a-4734-910f-294dedd64a7c","name":"Get CSV Meta","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"url":"=https://api.hubapi.com/files/v3/files/{{ $json.id }}/signed-url","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"expirationSeconds","value":"10"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7200,-368],"id":"d77d4f32-1184-43b9-b847-f6065373c226","name":"HTTP createSignedURL","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"url":"={{ $json.url }}","options":{"redirect":{"redirect":{"maxRedirects":3}},"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6576,-512],"id":"864226c0-3fa6-44f1-85c8-333b4d65db0f","name":"HTTP downloadSignedURL"},{"parameters":{"operation":"executeQuery","query":"SELECT\nDISTINCT pclk.projectid\nFROM OPS_AUTOMATION_DB.SURVEYS.PROJECT_CLICK pclk\nWHERE 1=1\nAND pclk.CLICKID IN ({{ $json.idList }})\nGROUP BY ALL\n"},"type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[-4352,-544],"id":"55658cc4-a3e4-4fe0-87ce-f4f6803c5011","name":"getProjectId","credentials":{"snowflake":{"id":"reIlyZhfAfZTYk8S","name":"Snowflake prodegeqa"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n    p.projectid,\n    TO_VARCHAR(pclk.clickid) as clickid,\n    pclk.revenue,\n    SUM(CASE WHEN (pc.completionType IN (0,8,33,35)) THEN 1 ELSE 0 END) AS COMPLETED\nFROM OPS_AUTOMATION_DB.SURVEYS.project p\n    JOIN OPS_AUTOMATION_DB.SURVEYS.project_click pclk ON p.ProjectID = pclk.ProjectID\n    LEFT JOIN OPS_AUTOMATION_DB.SURVEYS.project_completion pc ON pc.clickid = pclk.ClickID\nWHERE 1=1\n    AND p.projectid in ({{ $json.PROJECTID }})\nGROUP BY ALL"},"type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[-4144,-544],"id":"44254bd8-9141-42b4-9b8e-146513d4eb0e","name":"getCompletes","credentials":{"snowflake":{"id":"reIlyZhfAfZTYk8S","name":"Snowflake prodegeqa"}}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"CLICKID","field2":"={{ $('setFields').first().json.clickColumn }}"}]},"joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-3728,-368],"id":"cdeed9e6-98bb-465d-8411-a6b88a174b0b","name":"Merge"},{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/line_items/batch/update","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"inputs\": [\n    {\n      \"id\": {{ $json.id }},\n      \"properties\": {\n        \"scrub_rate__line_item_\": {{ $json.scrub_rate__line_item_ }},\n        \"scrub_rate__billable_event_\": {{ $json.scrub_rate__billable_event_ }},\n        \"quantity\": {{ $json.quantity }},\n        \"final_ir\": {{ $json.final_ir }},\n        \"final_loi\": {{ $json.final_loi }},\n        \"last_complete\": {{ $json.last_complete }},\n        \"adgate\": {{ $json.adgate }},\n        \"bitburst\": {{ $json.bitburst }},\n        \"mypoints\": {{ $json.mypoints }},\n        \"pollfish\": {{ $json.pollfish }},\n        \"swagbucks\": {{ $json.swagbucks }},\n        \"upromise\": {{ $json.upromise }},\n        \"ysense\": {{ $json.ysense }},\n        \"inbox__\": {{ $json.inboxdollars }},\n        \"peeq_projectid\": \"https://prodegemr.qapeeq.com/projects.html?project={{ $json.projectid }}#tab-project\"\n      }\n    }\n  ]\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[928,-1152],"id":"8a7b2c79-17cc-4aa2-a69a-145facecec52","name":"HTTP update pf_line_item","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/tickets/{{ $('setFields').first().json.ticketID }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"associations","value":"deals"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2144,-1296],"id":"8edb76cb-7b4c-4f09-9bec-5041a199a0a7","name":"HTTP Request: get dealid","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"jsCode":"// Get input data from previous node\nconst items = $input.all();\n\n// Get the dynamic column name from the setFields node\nconst columnName = $('setFields').first().json.clickColumn;\n\n// Extract values from the specified column\nconst responseIds = items.map(item => {\n// Handle different possible data structures\nif (item.json && item.json[columnName]) {\nreturn item.json[columnName];\n} else if (item[columnName]) {\n// Direct property access\nreturn item[columnName];\n}\n}).filter(id => id !== undefined); // Remove any undefined values\n\n// Remove duplicates\nconst uniqueIds = [...new Set(responseIds)];\n\n// Create comma-separated string\nconst commaSeparatedIds = uniqueIds.join(',');\n\n// Return only the idList\nreturn [{\njson: {\nidList: commaSeparatedIds\n}\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4576,-544],"id":"a7ccb7a4-8dc3-43d8-9ccd-89c4c6285730","name":"createList"},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM OPS_AUTOMATION_DB.SURVEYS.NETSUITE_LINE_PROJECT_MAP\nWHERE projectid in ({{ $json.projectId }})"},"type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[-1920,-1600],"id":"9406478d-7081-4d5d-a300-6bc751a6b884","name":"NetSuitelLineItem","credentials":{"snowflake":{"id":"reIlyZhfAfZTYk8S","name":"Snowflake prodegeqa"}}},{"parameters":{"jsCode":"/**\n * Production Code Node - Flat Project-based Calculations\n * Handles records where clientResponseId records have null PROJECTID values\n * Updated: prodegeComplete counts distinct CLICKID when COMPLETED = 1\n * Updated: clientApproved counts distinct client responses regardless of COMPLETED status\n * Updated: matchCount counts records that have both clientResponseId AND CLICKID\n * Updated: scrubRate = 1 - (clientApproved / prodegeComplete) for specific project\n * Updated: eventScrubRate = 1 - (totalClientApproved / totalProdegeComplete) for all projects\n * Updated: Returns flat array of project calculations with eventScrubRate\n * Updated: Uses dynamic parameter name from setFields variable\n * Updated: Gets input data from 'Merge' node instead of $input.all()\n */\n\ntry {\n  // Get the dynamic parameter name from setFields\n  const parameterName = $('setFields').first().json.clickColumn;\n  \n  if (!parameterName) {\n    throw new Error('No parameter name found in setFields.clickColumn');\n  }\n  \n  // Get project IDs from the getProjectId node\n  const getProjectIdNode = $('getProjectId').all();\n  \n  if (!getProjectIdNode || getProjectIdNode.length === 0) {\n    throw new Error('getProjectId node has no data');\n  }\n  \n  const projectIds = getProjectIdNode\n    .map(item => item.json.PROJECTID)\n    .filter(id => id !== undefined && id !== null);\n  \n  if (projectIds.length === 0) {\n    throw new Error('No valid project IDs found');\n  }\n  \n  // Get all input data from the 'Merge' node\n  const allInputs = $('Merge').all();\n  \n  if (allInputs.length === 0) {\n    throw new Error('No input data available from Merge node');\n  }\n  \n  // Get all records with the dynamic parameter (these might have null PROJECTID)\n  const allClientResponseRecords = allInputs.filter(item => \n    item.json[parameterName] !== undefined && \n    item.json[parameterName] !== null\n  );\n  \n  // First pass: Calculate each project's metrics and totals\n  const projectCalculations = [];\n  let totalProdegeComplete = 0;\n  let totalClientApproved = 0;\n  \n  // Calculate project-level metrics\n  projectIds.forEach(projectId => {\n    \n    // Filter input data for current project - get all records with this PROJECTID\n    const projectData = allInputs.filter(item => {\n      const itemProjectId = item.json.PROJECTID;\n      return String(itemProjectId) === String(projectId);\n    });\n    \n    // Get distinct CLICKID values for this project WHERE COMPLETED = 1 (for prodegeComplete)\n    const projectClickIds = [...new Set(\n      projectData\n        .filter(item => item.json.COMPLETED === 1 || item.json.COMPLETED === '1') // Keep COMPLETED filter for prodegeComplete\n        .map(item => item.json.CLICKID)\n        .filter(id => id !== undefined && id !== null)\n    )];\n    const prodegeComplete = projectClickIds.length;\n    \n    // Get ALL CLICKIDs for this project (for clientApproved matching - no COMPLETED filter)\n    const allProjectClickIds = [...new Set(\n      projectData\n        .map(item => item.json.CLICKID)\n        .filter(id => id !== undefined && id !== null)\n    )];\n    \n    // Find client records that match ANY of this project's CLICKIDs (not just completed ones)\n    // Since records with the dynamic parameter have null PROJECTID, we match by CLICKID\n    const matchingClientRecords = allClientResponseRecords.filter(clientRecord => {\n      const clientClickId = clientRecord.json.CLICKID;\n      return allProjectClickIds.includes(clientClickId);\n    });\n    \n    // Get distinct values for the dynamic parameter for this project\n    const distinctClientResponseIds = [...new Set(\n      matchingClientRecords\n        .map(item => item.json[parameterName])\n        .filter(id => id !== undefined && id !== null)\n    )];\n    const clientApproved = distinctClientResponseIds.length;\n    \n    // Count records that have BOTH the dynamic parameter AND CLICKID for this project\n    const matchCount = matchingClientRecords.filter(record => \n      record.json[parameterName] !== undefined && \n      record.json[parameterName] !== null &&\n      record.json.CLICKID !== undefined && \n      record.json.CLICKID !== null\n    ).length;\n    \n    // Calculate derived metrics\n    const matchEqualsClient = (matchCount === clientApproved);\n    \n    // Calculate scrub rate: 1 - (clientApproved / prodegeComplete)\n    let scrubRate = 0;\n    if (prodegeComplete > 0) {\n      scrubRate = Number((1 - (clientApproved / prodegeComplete)).toFixed(4));\n    }\n    \n    // Calculate matching percent: clientApproved / prodegeComplete\n    let matchingPercent = 0;\n    if (prodegeComplete > 0) {\n      matchingPercent = Number((clientApproved / prodegeComplete).toFixed(4));\n    }\n    \n    // Store project calculations\n    projectCalculations.push({\n      projectId: projectId,\n      clientApproved: clientApproved,\n      prodegeComplete: prodegeComplete,\n      matchCount: matchCount,\n      matchEqualsClient: matchEqualsClient,\n      scrubRate: scrubRate,\n      matchingPercent: matchingPercent\n    });\n    \n    // Add to totals for eventScrubRate calculation\n    totalProdegeComplete += prodegeComplete;\n    totalClientApproved += clientApproved;\n  });\n  \n  // Calculate eventScrubRate: 1 - (totalClientApproved / totalProdegeComplete)\n  let eventScrubRate = 0;\n  if (totalProdegeComplete > 0) {\n    eventScrubRate = Number((1 - (totalClientApproved / totalProdegeComplete)).toFixed(4));\n  }\n  \n  // Second pass: Add eventScrubRate to each project (same value for all)\n  const results = projectCalculations.map(project => {\n    return {\n      json: {\n        projectId: project.projectId,\n        clientApproved: project.clientApproved,\n        prodegeComplete: project.prodegeComplete,\n        matchCount: project.matchCount,\n        matchEqualsClient: project.matchEqualsClient,\n        scrubRate: project.scrubRate,\n        matchingPercent: project.matchingPercent,\n        eventScrubRate: eventScrubRate  // Same for all projects\n      }\n    };\n  });\n  \n  // Validate results before returning\n  if (results.length === 0) {\n    throw new Error('No results generated for any project ID');\n  }\n  \n  return results;\n  \n} catch (error) {\n  // Production error handling\n  return [{\n    json: {\n      success: false,\n      error: error.message,\n      timestamp: new Date().toISOString(),\n      projectId: 'error',\n      clientApproved: 0,\n      prodegeComplete: 0,\n      matchCount: 0,\n      matchEqualsClient: false,\n      scrubRate: 0,\n      matchingPercent: 0,\n      eventScrubRate: 0\n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2368,-1472],"id":"dce3b0c9-158c-4731-97ab-cd088e374d15","name":"runCalcs"},{"parameters":{"jsCode":"// Extract line item IDs from the response\nconst lineItemIds = $input.all()[0].json.results.map(result => result.id);\n\nif (lineItemIds.length === 0) {\n  console.log(\"No line items found for this deal\");\n  return [{ success: true, message: \"No line items to delete\", lineItemId: null }];\n}\n\n// Return each line item ID as a separate object\nreturn lineItemIds.map(id => ({\n  success: true,\n  lineItemId: id\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1728,-1296],"id":"f82ec1a7-f1d4-4b18-b572-4a9db3685f72","name":"cleanLineItems"},{"parameters":{"jsCode":"// Get the data from the 'createList' node specifically\nconst inputData = $('createList').all();\n\n// Extract the idList from the first item\nconst idListString = inputData[0].json.idList;\n\n// Split the comma-separated string into individual IDs\nconst transactionIds = idListString.split(',');\n\n// Create the CSV data structure\nconst csvData = transactionIds.map(transactionId => ({\n  TransactionID: transactionId.trim(), // trim whitespace just in case\n  CPI: null,\n  Reward: null,\n  Ledger_Note: null\n}));\n\n// Return the data for the next node\nreturn csvData.map(item => ({ json: item }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,-336],"id":"a173f2e8-e623-4296-be9b-5ff3b8cd2d8b","name":"createRecoFile"},{"parameters":{"options":{"fileName":"={{ $now.toISODate() }}_{{ $('getNsIo').first().json.properties.io_order_ }}_Deal-{{ $('HTTP Request: get dealid2').first().json.associations.deals.results[0].id }}-_RecoIds.csv"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1728,-336],"id":"4e13c99e-ba2e-434a-a066-48b256e97853","name":"Convert to CSV"},{"parameters":{"method":"POST","url":"https://api.hubapi.com/files/v3/files","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"multipart/form-data"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"folderId","value":"185178688325"},{"name":"fileName","value":"={{ $now.toISODate() }}_{{ $('getNsIo').first().json.properties.io_order_ }}_Deal-{{ $('HTTP Request: get dealid2').first().json.associations.deals.results[0].id }}-_RecoIds.csv"},{"name":"charsetHunch","value":"utf-8"},{"name":"options","value":"{   \"access\": \"PRIVATE\",   \"overwrite\": true,   \"duplicateValidationStrategy\": \"NONE\",   \"duplicateValidationScope\": \"EXACT_FOLDER\" }"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1952,-336],"id":"d309b181-9863-4e52-b8db-4e4d84ffcc73","name":"Upload File","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"method":"PATCH","url":"=https://api.hubapi.com/crm/v3/objects/tickets/{{ $('setFields').first().json.ticketID }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"properties\": {\n    \"reconciliation_file\": \"{{ $json.id }}\"\n  }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2176,-336],"id":"c5cbe2bd-acfd-4d20-b537-0d45f9498662","name":"Add File to Ticket","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"PROJECTID","field2":"projectId"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1536,-1488],"id":"e682e17b-a1ce-4b76-b835-4594123b7731","name":"Merge1"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"NETSUITELINEITEMID","field2":"properties.line_"}]},"joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-880,-1472],"id":"fa6f1d5e-4d8f-41f8-ac12-9809ca2a7252","name":"Merge2"},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/line_items/{{ $json.lineItemId }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"properties","value":"netsuite_line_id, line_, billable_event,name,peeq_projectid"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1504,-1296],"id":"a6c5c204-50c6-4771-b399-483b98345a5d","name":"HTTP Get NS_line_item values","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/deals/{{ $json.associations.deals.results[0].id }}/associations/line_items","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1936,-1296],"id":"700d17af-aabf-4fcd-96a7-9b67f9d7c5d8","name":"HTTP Get HS_line_items","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"workflowInputs":{"values":[{"name":"ticketId","type":"number"},{"name":"billableEvent","type":"number"},{"name":"clickColumn"},{"name":"statusColumn"},{"name":"statusColumnName"},{"name":"completeName"},{"name":"projects","type":"any"},{"name":"finalIdsFile","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-8784,-368],"id":"b9ce74bb-b6f0-4157-95d4-932d2cb95061","name":"When Executed by Another Workflow"},{"parameters":{"content":"# Insights Scrub Processing Workflow\n\n## Functionality Overview\nThis workflow processes validated client data to calculate scrub rates for billing accuracy and compliance tracking, then updates HubSpot with results and attaches reconciliation files.\n\n## Key Triggers & Inputs\n\nTrigger: Successful pre-scrub validation completion or manual execution\nInput Data: Validated client data files (JSON/CSV formats)\nExpected Fields: Line item data, billable events, client identifiers, timestamp data\n## Core Processing Logic\n\nLine Item Scrub Rate Calculation: Analyzes individual data points for quality metrics\nBillable Event Scrub Rate: Calculates overall event-level scrub percentages\nData Aggregation: Summarizes scrub statistics and identifies patterns\nQuality Metrics: Generates pass/fail ratios and compliance scores\n## Integration & Outputs\n\nHubSpot Ticket Updates: Posts calculated scrub rates and processing status\nFile Attachments: Uploads reconciliation files to HubSpot for audit trail\nReporting Data: Generates structured output for downstream billing systems\nNotification System: Alerts stakeholders of completed processing\n## Business Value\nEnsures accurate billing calculations, maintains compliance audit trails, provides transparent client reporting, and enables automated reconciliation processes for the Insights/Research Marketing division.","height":1136,"width":864},"type":"n8n-nodes-base.stickyNote","position":[-7216,-2288],"typeVersion":1,"id":"935a6bd6-c35e-4935-8dba-19692824c8c6","name":"Sticky Note"},{"parameters":{"content":"# Required Credentials\n\n## HubSpot Integration\n\nHubSpot Production API Token (Account #20464009)\n\nType: Private App Token/API Key\nUsage: Ticket updates, file attachments, property modifications\nPermissions: Tickets (read/write), Files (upload), CRM Objects (read/write)\nOwner: hubspot-automation@prodege.com\nHubSpot Sandbox API Token (Account #40213119) - Optional for testing\n\nType: Private App Token/API Key\nUsage: Development and testing workflows\nOwner: hubspot-dev@prodege.com\n## File Storage & Processing\n\nGoogle Cloud Service Account (Recommended)\nType: Service Account JSON Key\nUsage: Cloud Storage for reconciliation files, BigQuery for analytics\nPermissions: Storage Object Admin, BigQuery Data Editor\nOwner: gcp-insights@prodege.com\n## Database Access\n\nInsights Database Service Account\nType: Database Connection String/Credentials\nUsage: Reading client configuration, writing scrub results\nOwner: db-insights@prodege.com\n## Notification Services\n\nSMTP Service Account\n\nType: Username/Password\nUsage: Stakeholder notifications for completed processing\nOwner: notifications-insights@prodege.com\nSlack Bot Token (Optional)\n\nType: Bot User OAuth Token\nUsage: Real-time alerts to Insights team channels\nOwner: slack-insights@prodege.com\n## Security & Compliance Notes\n\nOAuth Restriction: Do NOT use Google OAuth (use Service Accounts only)\nToken Rotation: HubSpot tokens rotated monthly, GCP keys quarterly\nLeast Privilege: All credentials scoped to minimum required permissions\nAudit Trail: All credential usage logged for compliance tracking\nEnvironment Separation: Separate credentials for production vs. sandbox environments","height":1136,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-6304,-2288],"typeVersion":1,"id":"3c9cc1ca-5910-4d19-bda1-1753fd0853e3","name":"Sticky Note1"},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/tickets/{{ $('setFields').item.json.ticketID }}?properties=final_ids_file,billable_event","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7888,-368],"id":"e4e5fd3e-5f5f-4257-a188-43187991b518","name":"getTicketData","credentials":{"hubspotAppToken":{"id":"g2yPcP4yBsSlHE4S","name":"HubSpot: N8N-SANDBOX-DISCO-2025_0623a"}},"disabled":true},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/deals/{{ $('HTTP Request: get dealid2').first().json.associations.deals.results[0].id }}?properties=io_order_","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1312,-336],"id":"ffd89827-d14d-427b-b5d8-da6796380f13","name":"getNsIo","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"method":"PATCH","url":"=https://api.hubapi.com/crm/v3/objects/tickets/{{ $('setFields').first().json.ticketID }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"properties\": {\n    \"final_ids_status\": \"Approved\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2416,-336],"id":"5a6ff506-d4ae-408b-9acb-496152a3b733","name":"finalIdsStatus=Approved","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\np.projectid\n, CASE \n    WHEN ma.REGCLIENTID IS NULL THEN 22\n    ELSE ma.REGCLIENTID\n  END AS REGCLIENTID\n, SUM(CASE WHEN (pc.completionType IN (0,8,33,35)) THEN 1 ELSE 0 END) AS GrossDNACandNonDNACCompletes\n\nFROM OPS_AUTOMATION_DB.SURVEYS.project p\nLEFT JOIN OPS_AUTOMATION_DB.SURVEYS.project_click pclk ON p.ProjectID = pclk.ProjectID\nLEFT JOIN OPS_AUTOMATION_DB.SURVEYS.project_completion pc ON pc.clickid = pclk.ClickID\nLEFT JOIN OPS_AUTOMATION_DB.PRODEGE.MEMBER_A ma ON pclk.memberid = ma.memberid\n\nWHERE 1=1\nAND p.projectid IN ({{ $json.PROJECTID }})\nAND pc.completionType IN (0,8,33,35)\nGROUP BY ALL\n;"},"type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[-640,-1328],"id":"59bf8793-9754-45cf-a791-b6ac08e1b63d","name":"getBrandStats","credentials":{"snowflake":{"id":"reIlyZhfAfZTYk8S","name":"Snowflake prodegeqa"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\np.projectid\n, SUM(CASE WHEN (pc.completionType IN (2,18,37,46) AND pe.clickid > 0) THEN 1 ELSE 0 END) AS PostEntryOQs\n, MEDIAN((CASE WHEN (pc.completionType IN (0,33,35)) THEN pc.actualloi ELSE NULL END)) AS MedianCompleteTime\n, MAX(CASE WHEN (pc.completionType IN (0,8,33,35)) THEN date_trunc('DAY', to_date(pc.completiondate)) ELSE null END) as Last_Complete_Date\n, SUM(CASE WHEN (pc.completionType IN (0,8,33,35)) THEN 1 ELSE 0 END) AS GrossDNACandNonDNACCompletes\n, SUM(CASE WHEN (pe.clickid > 0 AND pc.completionType NOT IN (0,2,8,18,33,35,37,46,10,31,34) AND pc.completionType > 0) THEN 1 ELSE 0 END) AS POSTENTRYDQSEXCLUDINGQUALITYTERMS\n\nFROM OPS_AUTOMATION_DB.SURVEYS.project p\nJOIN OPS_AUTOMATION_DB.SURVEYS.project_click pclk ON p.ProjectID = pclk.ProjectID\nLEFT JOIN OPS_AUTOMATION_DB.surveys.project_entry pe ON pclk.clickid = pe.clickid\nLEFT JOIN OPS_AUTOMATION_DB.SURVEYS.project_completion pc ON pc.clickid = pclk.ClickID\nLEFT JOIN OPS_AUTOMATION_DB.PRODEGE.MEMBER_A ma ON pclk.memberid = ma.memberid\n\nWHERE 1=1\nAND p.projectid IN ({{ $json.PROJECTID }})\nGROUP BY ALL\nlimit 10\n;"},"type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[32,-1360],"id":"1e2bf958-2ee0-4763-9a6d-d88ac31cbda7","name":"getLOIIRstats","credentials":{"snowflake":{"id":"reIlyZhfAfZTYk8S","name":"Snowflake prodegeqa"}}},{"parameters":{"assignments":{"assignments":[{"id":"e8aff9e8-9910-4450-af22-b4f47d69738d","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"8f10488b-c3cc-4e2b-97fc-78e03c380c08","name":"scrub_rate__line_item_","value":"={{ $json.scrubRate }}","type":"number"},{"id":"f970427d-0150-4a5e-99a5-cc46995a7425","name":"scrub_rate__billable_event_","value":"={{ $json.eventScrubRate }}","type":"number"},{"id":"5a51549e-4f8b-41ff-9f70-336c04fed22c","name":"quantity","value":"={{ $json.GROSSDNACANDNONDNACCOMPLETES }}","type":"number"},{"id":"45ad1061-dc88-4336-b7ee-ad018f497a8f","name":"final_ir","value":"={{ (($json.clientApproved / ($json.clientApproved + $json.POSTENTRYOQS + $json.POSTENTRYDQSEXCLUDINGQUALITYTERMS))* 100).toFixed(2) }}","type":"number"},{"id":"c8abe70b-fb90-4fa5-aa36-24e7226a6fcd","name":"final_loi","value":"={{ $json.MEDIANCOMPLETETIME }}","type":"number"},{"id":"8fa42fb1-9b25-4458-9d9f-f7ffe3de0e88","name":"last_complete","value":"={{ $json.LAST_COMPLETE_DATE }}","type":"string"},{"id":"9c7a3bca-4ad2-444d-ac77-b125b13d0d1b","name":"adgate","value":"={{ $json.REGCLIENTID[\"902\"]?.GROSSDNACANDNONDNACCOMPLETES ?? 0}}","type":"number"},{"id":"d9a40154-2763-470a-a81f-db1fb413913b","name":"bitburst","value":"={{ $json.REGCLIENTID[\"901\"]?.GROSSDNACANDNONDNACCOMPLETES ?? 0}}","type":"number"},{"id":"1a51bb2a-c3bf-4388-a98f-fd2c0d898a1a","name":"mypoints","value":"={{ $json.REGCLIENTID?.[\"257\"]?.GROSSDNACANDNONDNACCOMPLETES ?? 0 }}","type":"number"},{"id":"6354822f-bd20-4271-ab34-bc7d9bd598e1","name":"pollfish","value":"={{ $json.REGCLIENTID[\"900\"]?.GROSSDNACANDNONDNACCOMPLETES ?? 0}}","type":"number"},{"id":"861f8f30-814e-4761-8023-0de956c6603e","name":"swagbucks","value":"={{ ($json.REGCLIENTID[\"264\"]?.GROSSDNACANDNONDNACCOMPLETES ?? 0) + \n   ($json.REGCLIENTID[\"22\"]?.GROSSDNACANDNONDNACCOMPLETES ?? 0) + \n   ($json.REGCLIENTID[\"256\"]?.GROSSDNACANDNONDNACCOMPLETES ?? 0) }}","type":"number"},{"id":"4c91fa0d-b834-47e3-aaf1-d3dc25d446c4","name":"upromise","value":"={{ $json.REGCLIENTID[\"263\"]?.GROSSDNACANDNONDNACCOMPLETES ?? 0}}","type":"number"},{"id":"8e1543b8-cf63-473c-bae1-4dec46a5cf32","name":"ysense","value":"={{ $json.REGCLIENTID[\"259\"]?.GROSSDNACANDNONDNACCOMPLETES ?? 0}}","type":"number"},{"id":"7a6a69cf-ca6d-4802-915f-be8e5262d4a6","name":"inboxdollars","value":"={{ ($json.REGCLIENTID[\"260\"]?.GROSSDNACANDNONDNACCOMPLETES ?? 0) + \n   ($json.REGCLIENTID[\"261\"]?.GROSSDNACANDNONDNACCOMPLETES ?? 0) + \n   ($json.REGCLIENTID[\"262\"]?.GROSSDNACANDNONDNACCOMPLETES ?? 0) }}","type":"number"},{"id":"db8302e2-a759-406d-b1df-2d0bbaa2e1ac","name":"projectid","value":"={{ $json.PROJECTID }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,-1152],"id":"529ccfc2-9857-401a-ad17-0a2a430810eb","name":"setUpdate"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"PROJECTID","field2":"PROJECTID"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[256,-1472],"id":"2f996017-8ea5-4baf-85bf-7f37f167d4e1","name":"Merge3"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"PROJECTID","field2":"PROJECTID"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-208,-1472],"id":"c3b76ca9-688f-4651-9426-eef650ecda99","name":"Merge4"},{"parameters":{"method":"POST","url":"https://api-na1.hubapi.com/automation/v4/webhook-triggers/40213119/Ak79uyB","sendBody":true,"bodyParameters":{"parameters":[{"name":"ticketId","value":"={{ $('setFields').first().json.ticketID }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2832,-336],"id":"5efe5bcb-b01b-4ad5-a80c-924784e951da","name":"HTTP Request"},{"parameters":{"jsCode":"// Get all input items\nconst items = $input.all();\n\n// Transform each item with REGCLIENTID as key\nconst transformedItems = items.map(item => {\n  const data = item.json;\n  \n  return {\n    json: {\n      PROJECTID: data.PROJECTID,\n      REGCLIENTID: {\n        [data.REGCLIENTID]: {\n          GROSSDNACANDNONDNACCOMPLETES: data.GROSSDNACANDNONDNACCOMPLETES\n        }\n      }\n    }\n  };\n});\n\nreturn transformedItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,-1328],"id":"75f72d49-d084-4ba6-b011-02fd71f91d54","name":"organizeJSON"},{"parameters":{"assignments":{"assignments":[{"id":"b3afed92-ee48-4484-a556-0fd0f8f1cd4a","name":"ticketID","value":"={{ $json.ticketId }}","type":"number"},{"id":"db2204fc-0159-4bc2-9d94-c7d47e569dba","name":"clickColumn","value":"={{ $json.clickColumn }}","type":"string"},{"id":"c82e0108-a13d-4594-8072-a075abc3e925","name":"statusColumn","value":"={{ $json.statusColumn }}","type":"string"},{"id":"983a8472-e0c7-4604-880b-07e355441cc1","name":"statusColumnName","value":"={{ $json.statusColumnName }}","type":"string"},{"id":"ec676cbf-d539-472e-a803-8563248f046d","name":"completeName","value":"={{ $json.completeName }}","type":"string"},{"id":"4494202d-a1ca-46d8-90dd-7e80af49014f","name":"billableEvent","value":"={{ $json.billableEvent }}","type":"string"},{"id":"ddf34654-0a51-4b6c-b469-0e025e218557","name":"projects","value":"={{ $json.projects }}","type":"string"},{"id":"4e04fa5e-374e-497a-abcf-020fdc3ee79c","name":"finalIdsFile","value":"={{ $json.finalIdsFile }}","type":"string"}]},"options":{}},"id":"034576ab-4ccd-4020-999e-0e00505936db","name":"setFields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-8560,-368]},{"parameters":{"jsCode":"// Get all items from the 'convertCSV' node specifically\nconst items = $('cleanCSV').all();\n\n// Get the column name and value to filter by\nconst columnName = $('setFields').first().json.statusColumnName; // e.g., \"Description\"\nconst completeName = $('setFields').first().json.completeName; // e.g., \"Complete\"\n\n// Filter the items where the specified column equals the specified value\nconst filteredItems = items.filter(item => {\n  return item.json[columnName] === completeName;\n});\n\nreturn filteredItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4848,-240],"id":"9bf20cc8-2a2f-4fa7-b141-cac0eea88964","name":"removeDQs"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"210205ce-34fd-4eb1-b073-0916f80ec6fb","leftValue":"={{ $('setFields').item.json.statusColumn }}","rightValue":"true","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5136,-368],"id":"113a16bb-c4ab-42a3-9d68-cc2e864dcf87","name":"noStatusColumn","executeOnce":false},{"parameters":{"jsCode":"// Get the CSV data from the specific HTTP downloadSignedURL node\nconst csvData = $('HTTP downloadSignedURL').first().json.data;\n\nif (!csvData) {\n  throw new Error('No CSV data found in HTTP downloadSignedURL node');\n}\n\n// Split CSV into lines - handle both \\n and \\r\\n line endings\nconst lines = csvData.split(/\\r?\\n/).filter(line => line.trim() !== '');\n\nif (lines.length === 0) {\n  throw new Error('No valid CSV lines found');\n}\n\n// Parse the header row and make duplicate headers unique\nconst rawHeaders = lines[0].split(',').map(h => h.trim());\nconst headers = [];\nconst headerCounts = {};\n\nrawHeaders.forEach(header => {\n  if (headerCounts[header]) {\n    headerCounts[header]++;\n    headers.push(`${header}_${headerCounts[header]}`);\n  } else {\n    headerCounts[header] = 1;\n    headers.push(header);\n  }\n});\n\n// Parse data rows\nconst results = [];\n\nfor (let i = 1; i < lines.length; i++) {\n  const row = lines[i];\n  if (row.trim() === '') continue; // Skip empty lines\n  \n  // Split the row by comma, but handle quotes\n  const values = [];\n  let currentValue = '';\n  let inQuotes = false;\n  \n  for (let j = 0; j < row.length; j++) {\n    const char = row[j];\n    \n    if (char === '\"') {\n      inQuotes = !inQuotes;\n    } else if (char === ',' && !inQuotes) {\n      values.push(currentValue.trim());\n      currentValue = '';\n    } else {\n      currentValue += char;\n    }\n  }\n  // Don't forget the last value\n  values.push(currentValue.trim());\n  \n  // Create object mapping headers to values\n  const rowObject = {};\n  \n  headers.forEach((header, index) => {\n    const value = values[index] || '';\n    // Handle null values and clean the data\n    rowObject[header] = value === 'null' ? null : String(value);\n  });\n  \n  // Only add the object if it has some data\n  if (Object.values(rowObject).some(val => val !== '' && val !== null)) {\n    results.push({ json: rowObject });\n  }\n}\n\n// Return all the parsed objects\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6368,-512],"id":"3e57a533-5342-4e32-ba78-ffb4004913b8","name":"cleanCSV"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"83046a82-dc51-458a-8c2f-b7cb9b418cf6","leftValue":"={{ $json.properties.billable_event }}","rightValue":"={{ $('setFields').first().json.billableEvent }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"dcccfcf7-f2d6-4c60-b741-133039f73d56","leftValue":"={{ $json.properties.name }}","rightValue":"Sample","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1296,-1296],"id":"97c17172-4197-42fc-9a98-8cd45978095c","name":"Filter"},{"parameters":{"assignments":{"assignments":[{"id":"eb44415f-38ce-443a-825e-f33259bd253d","name":"id","value":"={{ $json.id }}","type":"number"},{"id":"de93b522-c788-4912-84b5-1beed514030b","name":"properties.billable_event","value":"={{ $json.properties.billable_event }}","type":"number"},{"id":"0962daf0-323c-4b75-98e9-112be4770740","name":"properties.createdate","value":"={{ $json.properties.createdate }}","type":"string"},{"id":"456735ec-fbc4-49df-931b-dcd268d3a8af","name":"properties.hs_lastmodifieddate","value":"={{ $json.properties.hs_lastmodifieddate }}","type":"string"},{"id":"7245531e-e0b8-402c-a017-09c1aa0ca5ac","name":"properties.hs_object_id","value":"={{ $json.properties.hs_object_id }}","type":"number"},{"id":"6d3aa425-b37c-4e47-9b1a-eeaad8b1a81e","name":"properties.line_","value":"={{ $json.properties.line_ }}","type":"number"},{"id":"1c302186-cff9-4528-b0d4-4da71562a212","name":"properties.name","value":"={{ $json.properties.name }}","type":"string"},{"id":"da327cc9-f660-478b-96e6-2653bbe4132d","name":"properties.netsuite_line_id","value":"={{ $json.properties.netsuite_line_id }}","type":"number"},{"id":"4725cb2c-8cc8-4ebf-bacc-ec641f7c7321","name":"createdAt","value":"={{ $json.createdAt }}","type":"string"},{"id":"088e93fc-73b5-4119-bb97-bcb7718e4e17","name":"updatedAt","value":"={{ $json.updatedAt }}","type":"string"},{"id":"ed4aec6d-fe31-4536-8300-7cf7187e2804","name":"archived","value":"={{ $json.archived }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1120,-1296],"id":"52a06817-8b04-4c2b-8a0b-b65e65eccd54","name":"cleanJSON"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aebb00e6-cf95-4194-82dd-7dab94fc1bd5","leftValue":"={{ $json.extension }}","rightValue":"csv","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6976,-368],"id":"7710afc6-8309-4d6b-abf9-411d70dbf4ce","name":"If csv"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-6368,-208],"id":"1df05df4-f34e-4993-8476-47fe50fa8648","name":"Extract from File1"},{"parameters":{"url":"={{ $json.url }}","options":{"redirect":{"redirect":{"maxRedirects":3}},"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6576,-208],"id":"8db29d1e-656f-4f01-8c14-106697a9cf9a","name":"HTTP downloadSignedURL1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2235015f-f904-4719-bd5d-f7c1d766557d","leftValue":"={{ $json.output.multipleMatches }}","rightValue":"true","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3072,-368],"id":"baff189f-f386-4efe-a70e-8dc6817d12d8","name":"If Not 1:Many Check"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2624,-336],"id":"0fca2f9f-6e68-4d7d-9943-491eb0f04650","name":"Wait 5 sec","webhookId":"0bd6e640-2d2e-438e-8dc9-d02e0b5fa1e3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cc7d64d4-d390-4fce-b714-010b5f7e1fa8","leftValue":"={{ $json.output.matchingPrice }}","rightValue":"true","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2704,-352],"id":"e9efa34e-0ef8-49c5-8c9c-b5f371690c55","name":"If CPIs match"},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/tickets/{{ $('setFields').first().json.ticketID }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"associations","value":"deals"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2192,-656],"id":"19ea06e2-b774-46f9-a005-d37651aaa8e1","name":"HTTP Request: get dealid1","executeOnce":true,"credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"jsCode":"// Extract line item IDs from the response\nconst lineItemIds = $input.all()[0].json.results.map(result => result.id);\n\nif (lineItemIds.length === 0) {\n  console.log(\"No line items found for this deal\");\n  return [{ success: true, message: \"No line items to delete\", lineItemId: null }];\n}\n\n// Return each line item ID as a separate object\nreturn lineItemIds.map(id => ({\n  success: true,\n  lineItemId: id\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1776,-656],"id":"1f6038f4-6998-4411-bfa7-9436f31fb74a","name":"cleanLineItems1"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"revenue","field2":"properties.price"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-992,-816],"id":"aff1c4d3-3adc-4810-9cbb-ca6ef6c326f8","name":"Merge5"},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/line_items/{{ $json.lineItemId }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"properties","value":"netsuite_line_id, line_, billable_event,name,peeq_projectid,price"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1552,-656],"id":"def73e40-c0c4-4d09-b178-3a20d5b6382d","name":"HTTP Get NS_line_item values1","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/deals/{{ $json.associations.deals.results[0].id }}/associations/line_items","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1984,-656],"id":"e23fc82d-8760-4dda-8c63-19a5857e4b14","name":"HTTP Get HS_line_items1","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\np.projectid\n, pclk.revenue\n, CASE \n    WHEN ma.REGCLIENTID IS NULL THEN 22\n    ELSE ma.REGCLIENTID\n  END AS REGCLIENTID\n, SUM(CASE WHEN (pc.completionType IN (0,8,33,35)) THEN 1 ELSE 0 END) AS GrossDNACandNonDNACCompletes\n\nFROM OPS_AUTOMATION_DB.SURVEYS.project p\nLEFT JOIN OPS_AUTOMATION_DB.SURVEYS.project_click pclk ON p.ProjectID = pclk.ProjectID\nLEFT JOIN OPS_AUTOMATION_DB.SURVEYS.project_completion pc ON pc.clickid = pclk.ClickID\nLEFT JOIN OPS_AUTOMATION_DB.PRODEGE.MEMBER_A ma ON pclk.memberid = ma.memberid\n\nWHERE 1=1\nAND p.projectid IN ({{ $json.projectId }})\nAND pc.completionType IN (0,8,33,35)\nGROUP BY ALL\n;"},"type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[-576,-672],"id":"ff102afb-d643-49b2-9390-e520a43bf483","name":"getBrandStats1","executeOnce":true,"credentials":{"snowflake":{"id":"reIlyZhfAfZTYk8S","name":"Snowflake prodegeqa"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\np.projectid\n, pclk.revenue\n, SUM(CASE WHEN (pc.completionType IN (2,18,37,46) AND pe.clickid > 0) THEN 1 ELSE 0 END) AS PostEntryOQs\n, MEDIAN((CASE WHEN (pc.completionType IN (0,33,35)) THEN pc.actualloi ELSE NULL END)) AS MedianCompleteTime\n, MAX(CASE WHEN (pc.completionType IN (0,8,33,35)) THEN date_trunc('DAY', to_date(pc.completiondate)) ELSE null END) as Last_Complete_Date\n, SUM(CASE WHEN (pc.completionType IN (0,8,33,35)) THEN 1 ELSE 0 END) AS GrossDNACandNonDNACCompletes\n, SUM(CASE WHEN (pe.clickid > 0 AND pc.completionType NOT IN (0,2,8,18,33,35,37,46,10,31,34) AND pc.completionType > 0) THEN 1 ELSE 0 END) AS POSTENTRYDQSEXCLUDINGQUALITYTERMS\n\nFROM OPS_AUTOMATION_DB.SURVEYS.project p\nJOIN OPS_AUTOMATION_DB.SURVEYS.project_click pclk ON p.ProjectID = pclk.ProjectID\nLEFT JOIN OPS_AUTOMATION_DB.surveys.project_entry pe ON pclk.clickid = pe.clickid\nLEFT JOIN OPS_AUTOMATION_DB.SURVEYS.project_completion pc ON pc.clickid = pclk.ClickID\nLEFT JOIN OPS_AUTOMATION_DB.PRODEGE.MEMBER_A ma ON pclk.memberid = ma.memberid\n\nWHERE 1=1\nAND p.projectid IN ({{ $json.PROJECTID }})\nGROUP BY ALL\nlimit 10\n;"},"type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[272,-704],"id":"64a020a3-2aff-48f8-a4b5-ebe4ab65da3f","name":"getLOIIRstats1","executeOnce":true,"credentials":{"snowflake":{"id":"reIlyZhfAfZTYk8S","name":"Snowflake prodegeqa"}}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"revenue","field2":"REVENUE"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[496,-816],"id":"0f9b80ee-bd1c-4751-acbd-35dbc270b3b6","name":"Merge7"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"revenue","field2":"REVENUE"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[32,-816],"id":"84afeff1-5e75-4753-9282-0da0036dfbfa","name":"Merge8"},{"parameters":{"jsCode":"// Get all input items\nconst items = $input.all();\n\n// Transform each item with REGCLIENTID as key\nconst transformedItems = items.map(item => {\n  const data = item.json;\n  \n  return {\n    json: {\n      PROJECTID: data.PROJECTID,\n      REVENUE: data.REVENUE,\n      REGCLIENTID: {\n        [data.REGCLIENTID]: {\n          GROSSDNACANDNONDNACCOMPLETES: data.GROSSDNACANDNONDNACCOMPLETES\n        }\n      }\n    }\n  };\n});\n\nreturn transformedItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-368,-672],"id":"924ad845-c4e7-44b7-a586-7f24efcfe7d7","name":"organizeJSON1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"83046a82-dc51-458a-8c2f-b7cb9b418cf6","leftValue":"={{ $json.properties.billable_event }}","rightValue":"={{ $('setFields').first().json.billableEvent }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"dcccfcf7-f2d6-4c60-b741-133039f73d56","leftValue":"={{ $json.properties.name }}","rightValue":"Sample","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1344,-656],"id":"a5973a7b-fe95-41d8-a1b4-14ab38284f70","name":"Filter1"},{"parameters":{"assignments":{"assignments":[{"id":"eb44415f-38ce-443a-825e-f33259bd253d","name":"id","value":"={{ $json.id }}","type":"number"},{"id":"de93b522-c788-4912-84b5-1beed514030b","name":"properties.billable_event","value":"={{ $json.properties.billable_event }}","type":"number"},{"id":"7245531e-e0b8-402c-a017-09c1aa0ca5ac","name":"properties.hs_object_id","value":"={{ $json.properties.hs_object_id }}","type":"number"},{"id":"6d3aa425-b37c-4e47-9b1a-eeaad8b1a81e","name":"properties.line_","value":"={{ $json.properties.line_ }}","type":"number"},{"id":"1c302186-cff9-4528-b0d4-4da71562a212","name":"properties.name","value":"={{ $json.properties.name }}","type":"string"},{"id":"da327cc9-f660-478b-96e6-2653bbe4132d","name":"properties.netsuite_line_id","value":"={{ $json.properties.netsuite_line_id }}","type":"number"},{"id":"0ae880c9-069a-4aec-b9a7-9982b5f67370","name":"properties.peeq_projectid","value":"={{ $json.properties.peeq_projectid }}","type":"string"},{"id":"24a87b98-c777-4b46-80cf-09a903b4fd81","name":"properties.price","value":"={{ $json.properties.price }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1152,-656],"id":"7ea123b2-b369-4f40-b02b-20a0bec5aa9c","name":"cleanJSON1"},{"parameters":{"jsCode":"/**\n * Production Code Node - Flat Project+Revenue-based Calculations\n * Handles records where clientResponseId records have null PROJECTID values\n * Updated: Groups by both PROJECTID and REVENUE combination\n * Updated: prodegeComplete counts distinct CLICKID when COMPLETED = 1\n * Updated: clientApproved counts distinct client responses regardless of COMPLETED status\n * Updated: matchCount counts records that have both clientResponseId AND CLICKID\n * Updated: scrubRate = 1 - (clientApproved / prodegeComplete) for specific project+revenue combination\n * Updated: eventScrubRate = 1 - (totalClientApproved / totalProdegeComplete) for all combinations\n * Updated: Returns flat array of project+revenue calculations with eventScrubRate\n * Updated: Uses dynamic parameter name from setFields variable\n * Updated: Gets input data from 'Merge' node instead of $input.all()\n */\n\ntry {\n  // Get the dynamic parameter name from setFields\n  const parameterName = $('setFields').first().json.clickColumn;\n  \n  if (!parameterName) {\n    throw new Error('No parameter name found in setFields.clickColumn');\n  }\n  \n  // Get all input data from the 'Merge' node\n  const allInputs = $('Merge').all();\n  \n  if (allInputs.length === 0) {\n    throw new Error('No input data available from Merge node');\n  }\n  \n  // Get unique combinations of PROJECTID and REVENUE from input data\n  const projectRevenueMap = new Map();\n  \n  allInputs.forEach(item => {\n    const projectId = item.json.PROJECTID;\n    const revenue = item.json.REVENUE;\n    \n    // Only include records that have both PROJECTID and REVENUE\n    if (projectId !== undefined && projectId !== null && \n        revenue !== undefined && revenue !== null) {\n      const key = `${projectId}-${revenue}`;\n      projectRevenueMap.set(key, { projectId, revenue });\n    }\n  });\n  \n  if (projectRevenueMap.size === 0) {\n    throw new Error('No valid project ID and revenue combinations found');\n  }\n  \n  // Get all records with the dynamic parameter (these might have null PROJECTID)\n  const allClientResponseRecords = allInputs.filter(item => \n    item.json[parameterName] !== undefined && \n    item.json[parameterName] !== null\n  );\n  \n  // First pass: Calculate each project+revenue combination's metrics and totals\n  const projectCalculations = [];\n  let totalProdegeComplete = 0;\n  let totalClientApproved = 0;\n  \n  // Calculate project+revenue-level metrics\n  projectRevenueMap.forEach(({ projectId, revenue }, key) => {\n    \n    // Filter input data for current project+revenue combination\n    const combinationData = allInputs.filter(item => {\n      const itemProjectId = item.json.PROJECTID;\n      const itemRevenue = item.json.REVENUE;\n      return String(itemProjectId) === String(projectId) && \n             Number(itemRevenue) === Number(revenue);\n    });\n    \n    // Get distinct CLICKID values for this combination WHERE COMPLETED = 1 (for prodegeComplete)\n    const combinationClickIds = [...new Set(\n      combinationData\n        .filter(item => item.json.COMPLETED === 1 || item.json.COMPLETED === '1') // Keep COMPLETED filter for prodegeComplete\n        .map(item => item.json.CLICKID)\n        .filter(id => id !== undefined && id !== null)\n    )];\n    const prodegeComplete = combinationClickIds.length;\n    \n    // Get ALL CLICKIDs for this combination (for clientApproved matching - no COMPLETED filter)\n    const allCombinationClickIds = [...new Set(\n      combinationData\n        .map(item => item.json.CLICKID)\n        .filter(id => id !== undefined && id !== null)\n    )];\n    \n    // Find client records that match ANY of this combination's CLICKIDs (not just completed ones)\n    // Since records with the dynamic parameter have null PROJECTID, we match by CLICKID\n    const matchingClientRecords = allClientResponseRecords.filter(clientRecord => {\n      const clientClickId = clientRecord.json.CLICKID;\n      return allCombinationClickIds.includes(clientClickId);\n    });\n    \n    // Get distinct values for the dynamic parameter for this combination\n    const distinctClientResponseIds = [...new Set(\n      matchingClientRecords\n        .map(item => item.json[parameterName])\n        .filter(id => id !== undefined && id !== null)\n    )];\n    const clientApproved = distinctClientResponseIds.length;\n    \n    // Count records that have BOTH the dynamic parameter AND CLICKID for this combination\n    const matchCount = matchingClientRecords.filter(record => \n      record.json[parameterName] !== undefined && \n      record.json[parameterName] !== null &&\n      record.json.CLICKID !== undefined && \n      record.json.CLICKID !== null\n    ).length;\n    \n    // Calculate derived metrics\n    const matchEqualsClient = (matchCount === clientApproved);\n    \n    // Calculate scrub rate: 1 - (clientApproved / prodegeComplete)\n    let scrubRate = 0;\n    if (prodegeComplete > 0) {\n      scrubRate = Number((1 - (clientApproved / prodegeComplete)).toFixed(4));\n    }\n    \n    // Calculate matching percent: clientApproved / prodegeComplete\n    let matchingPercent = 0;\n    if (prodegeComplete > 0) {\n      matchingPercent = Number((clientApproved / prodegeComplete).toFixed(4));\n    }\n    \n    // Store combination calculations\n    projectCalculations.push({\n      projectId: projectId,\n      revenue: revenue,\n      clientApproved: clientApproved,\n      prodegeComplete: prodegeComplete,\n      matchCount: matchCount,\n      matchEqualsClient: matchEqualsClient,\n      scrubRate: scrubRate,\n      matchingPercent: matchingPercent\n    });\n    \n    // Add to totals for eventScrubRate calculation\n    totalProdegeComplete += prodegeComplete;\n    totalClientApproved += clientApproved;\n  });\n  \n  // Calculate eventScrubRate: 1 - (totalClientApproved / totalProdegeComplete)\n  let eventScrubRate = 0;\n  if (totalProdegeComplete > 0) {\n    eventScrubRate = Number((1 - (totalClientApproved / totalProdegeComplete)).toFixed(4));\n  }\n  \n  // Second pass: Add eventScrubRate to each combination (same value for all)\n  const results = projectCalculations.map(combination => {\n    return {\n      json: {\n        projectId: combination.projectId,\n        revenue: combination.revenue,\n        clientApproved: combination.clientApproved,\n        prodegeComplete: combination.prodegeComplete,\n        matchCount: combination.matchCount,\n        matchEqualsClient: combination.matchEqualsClient,\n        scrubRate: combination.scrubRate,\n        matchingPercent: combination.matchingPercent,\n        eventScrubRate: eventScrubRate  // Same for all combinations\n      }\n    };\n  });\n  \n  // Validate results before returning\n  if (results.length === 0) {\n    throw new Error('No results generated for any project ID and revenue combination');\n  }\n  \n  return results;\n  \n} catch (error) {\n  // Production error handling\n  return [{\n    json: {\n      success: false,\n      error: error.message,\n      timestamp: new Date().toISOString(),\n      projectId: 'error',\n      revenue: 0,\n      clientApproved: 0,\n      prodegeComplete: 0,\n      matchCount: 0,\n      matchEqualsClient: false,\n      scrubRate: 0,\n      matchingPercent: 0,\n      eventScrubRate: 0\n    }\n  }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2368,-832],"id":"7a43e1bc-ef3a-4d39-9e31-a7faff1f43a4","name":"runCalcsMulti"},{"parameters":{"content":"## 1:1 project line item","height":80},"type":"n8n-nodes-base.stickyNote","position":[-2384,-1632],"typeVersion":1,"id":"6cded2aa-e799-4f08-965c-6a9ab12b6ee1","name":"Sticky Note3"},{"parameters":{"content":"## 1:many project line item","height":80},"type":"n8n-nodes-base.stickyNote","position":[-2400,-960],"typeVersion":1,"id":"9c9d91e2-5e96-4894-bd6b-8ac776b25909","name":"Sticky Note4"},{"parameters":{"content":"## 1:many project line item, incomplete data","height":80},"type":"n8n-nodes-base.stickyNote","position":[-2400,-400],"typeVersion":1,"id":"4511508c-4089-49f7-a207-e7fb8523e25d","name":"Sticky Note5"},{"parameters":{"jsCode":"// Get the projects data from the setFields node\nconst setFieldsData = $('setFields').all();\nconst projectsString = setFieldsData[0].json.projects;\n\n// Parse the JSON string into proper JSON format\nconst projects = JSON.parse(projectsString);\n\n// Return the parsed projects data\nreturn projects.map((project, index) => ({\n  json: {\n    projectId: project.projectId,\n    itemCount: project.itemCount,\n    items: project.items,\n    output: project.output\n  },\n  pairedItem: { item: index }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3392,-368],"id":"fe2df33b-2e26-430e-852e-c6d1c7c243d1","name":"getProjects"},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/tickets/{{ $('setFields').item.json.ticketID }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"associations","value":"deals"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8112,-368],"id":"a14433ca-b35f-499f-9f30-d2c201fce674","name":"HTTP Request: get dealid2","executeOnce":false,"credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}},"disabled":true},{"parameters":{"method":"POST","url":"https://api.hubspot.com/crm/v3/objects/notes","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"properties\": {\n    \"hs_timestamp\": {{ new Date($now.toISO()).getTime() }},\n    \"hs_note_body\": \"Scrub n8n Execution: https://prodegellc.app.n8n.cloud/{{ $workflow.id }}/executions/{{ $execution.id }}\"\n  },\n  \"associations\": [\n    {\n      \"to\": {\n        \"id\": {{ $json.ticketID }}\n      },\n      \"types\": [\n        {\n          \"associationCategory\": \"HUBSPOT_DEFINED\",\n          \"associationTypeId\": 228\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8336,-368],"id":"ff36d272-844d-4bd5-8e1c-a61c0369f5d6","name":"createEngagmentTracker","credentials":{"httpBearerAuth":{"id":"oPwelkmcY7W8TTeJ","name":"Bearer Auth HubSpot N8N-SANDBOX-DISCO-2025_0623a"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-6144,-208],"id":"60cd2054-7afe-4df2-ae53-c7845cb4ab60","name":"Aggregate1"},{"parameters":{"assignments":{"assignments":[{"id":"11d6dbb7-17e4-4e9a-b19d-5254c2799285","name":"data","value":"={{ $json.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5856,-368],"id":"338dd9ae-1c96-4343-8957-f6988984a858","name":"setData"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-6144,-512],"id":"b9a7e2e8-3ead-422f-aff4-911ccce84dd4","name":"Aggregate4"},{"parameters":{"jsCode":"// Get all items from the 'setData' node\nconst items = $('setData').all();\n\n// Flatten the data\nconst flattenedItems = items.flatMap(item => {\n  // Parse the JSON string in the 'data' field\n  const parsedData = JSON.parse(item.json.data);\n  \n  // Return each object as a separate item with all values converted to strings\n  return parsedData.map(obj => {\n    // Convert all values to strings\n    const stringifiedObj = {};\n    for (const key in obj) {\n      if (obj.hasOwnProperty(key)) {\n        // Convert value to string, handling null and undefined\n        stringifiedObj[key] = obj[key] === null || obj[key] === undefined \n          ? '' \n          : String(obj[key]);\n      }\n    }\n    \n    return {\n      json: stringifiedObj\n    };\n  });\n});\n\nreturn flattenedItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5504,-368],"id":"65277050-038c-477c-8468-b6bed4873a26","name":"getData"}],"connections":{"finalID":{"main":[[{"node":"Get CSV Meta","type":"main","index":0}]]},"Get CSV Meta":{"main":[[{"node":"HTTP createSignedURL","type":"main","index":0}]]},"HTTP createSignedURL":{"main":[[{"node":"If csv","type":"main","index":0}]]},"HTTP downloadSignedURL":{"main":[[{"node":"cleanCSV","type":"main","index":0}]]},"getProjectId":{"main":[[{"node":"getCompletes","type":"main","index":0}]]},"getCompletes":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"getProjects","type":"main","index":0}]]},"HTTP update pf_line_item":{"main":[[{"node":"getNsIo","type":"main","index":0}]]},"HTTP Request: get dealid":{"main":[[{"node":"HTTP Get HS_line_items","type":"main","index":0}]]},"createList":{"main":[[{"node":"getProjectId","type":"main","index":0}]]},"NetSuitelLineItem":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"runCalcs":{"main":[[{"node":"NetSuitelLineItem","type":"main","index":0},{"node":"Merge1","type":"main","index":1},{"node":"HTTP Request: get dealid","type":"main","index":0}]]},"cleanLineItems":{"main":[[{"node":"HTTP Get NS_line_item values","type":"main","index":0}]]},"createRecoFile":{"main":[[{"node":"Convert to CSV","type":"main","index":0}]]},"Convert to CSV":{"main":[[{"node":"Upload File","type":"main","index":0}]]},"Upload File":{"main":[[{"node":"Add File to Ticket","type":"main","index":0}]]},"Add File to Ticket":{"main":[[{"node":"finalIdsStatus=Approved","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"getBrandStats","type":"main","index":0},{"node":"Merge4","type":"main","index":0}]]},"HTTP Get NS_line_item values":{"main":[[{"node":"Filter","type":"main","index":0}]]},"HTTP Get HS_line_items":{"main":[[{"node":"cleanLineItems","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"setFields","type":"main","index":0}]]},"getTicketData":{"main":[[{"node":"finalID","type":"main","index":0}]]},"getNsIo":{"main":[[{"node":"createRecoFile","type":"main","index":0}]]},"getBrandStats":{"main":[[{"node":"organizeJSON","type":"main","index":0}]]},"getLOIIRstats":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"setUpdate":{"main":[[{"node":"HTTP update pf_line_item","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"setUpdate","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"getLOIIRstats","type":"main","index":0},{"node":"Merge3","type":"main","index":0}]]},"finalIdsStatus=Approved":{"main":[[{"node":"Wait 5 sec","type":"main","index":0}]]},"organizeJSON":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"setFields":{"main":[[{"node":"createEngagmentTracker","type":"main","index":0}]]},"removeDQs":{"main":[[{"node":"createList","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"noStatusColumn":{"main":[[{"node":"createList","type":"main","index":0},{"node":"Merge","type":"main","index":1}],[{"node":"removeDQs","type":"main","index":0}]]},"cleanCSV":{"main":[[{"node":"Aggregate4","type":"main","index":0}]]},"Filter":{"main":[[{"node":"cleanJSON","type":"main","index":0}]]},"cleanJSON":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"If csv":{"main":[[{"node":"HTTP downloadSignedURL","type":"main","index":0}],[{"node":"HTTP downloadSignedURL1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"HTTP downloadSignedURL1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"If Not 1:Many Check":{"main":[[{"node":"runCalcs","type":"main","index":0}],[{"node":"If CPIs match","type":"main","index":0}]]},"Wait 5 sec":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"If CPIs match":{"main":[[{"node":"runCalcsMulti","type":"main","index":0}],[{"node":"getNsIo","type":"main","index":0}]]},"HTTP Request: get dealid1":{"main":[[{"node":"HTTP Get HS_line_items1","type":"main","index":0}]]},"cleanLineItems1":{"main":[[{"node":"HTTP Get NS_line_item values1","type":"main","index":0}]]},"Merge5":{"main":[[{"node":"Merge8","type":"main","index":0},{"node":"getBrandStats1","type":"main","index":0}]]},"HTTP Get NS_line_item values1":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"HTTP Get HS_line_items1":{"main":[[{"node":"cleanLineItems1","type":"main","index":0}]]},"getBrandStats1":{"main":[[{"node":"organizeJSON1","type":"main","index":0}]]},"getLOIIRstats1":{"main":[[{"node":"Merge7","type":"main","index":1}]]},"Merge8":{"main":[[{"node":"getLOIIRstats1","type":"main","index":0},{"node":"Merge7","type":"main","index":0}]]},"organizeJSON1":{"main":[[{"node":"Merge8","type":"main","index":1}]]},"Filter1":{"main":[[{"node":"cleanJSON1","type":"main","index":0}]]},"cleanJSON1":{"main":[[{"node":"Merge5","type":"main","index":1}]]},"Merge7":{"main":[[{"node":"setUpdate","type":"main","index":0}]]},"runCalcsMulti":{"main":[[{"node":"HTTP Request: get dealid1","type":"main","index":0},{"node":"Merge5","type":"main","index":0}]]},"getProjects":{"main":[[{"node":"If Not 1:Many Check","type":"main","index":0}]]},"HTTP Request: get dealid2":{"main":[[{"node":"getTicketData","type":"main","index":0}]]},"createEngagmentTracker":{"main":[[{"node":"HTTP Request: get dealid2","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"setData","type":"main","index":0}]]},"Aggregate4":{"main":[[{"node":"setData","type":"main","index":0}]]},"setData":{"main":[[{"node":"getData","type":"main","index":0}]]},"getData":{"main":[[{"node":"noStatusColumn","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":600,"timeSavedMode":"fixed","availableInMCP":false,"errorWorkflow":"oYA9v0CuR3mPGV14"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"ticketId":37735399033,"billableEvent":1,"clickColumn":"transid","statusColumn":"false","statusColumnName":"null","completeName":"null","projects":"[{\"projectId\":50754255,\"itemCount\":1,\"items\":[{\"NETSUITELINEITEMID\":10947624,\"PROJECTID\":50754255,\"id\":47177792311,\"properties\":{\"billable_event\":1,\"createdate\":\"2025-12-17T20:51:32.489Z\",\"hs_lastmodifieddate\":\"2025-12-17T21:12:43.837Z\",\"hs_object_id\":47177792311,\"line_\":10947624,\"name\":\"Sample\",\"netsuite_line_id\":10947624,\"price\":\"2\",\"peeq_projectid\":null},\"matching_netsuite_ids\":true}],\"output\":{\"projectId\":50754255,\"matchingNetsuiteIds\":\"true\",\"matchingProjectIds\":\"false\",\"multipleMatches\":\"false\",\"matchingPrice\":\"true\"}}]","finalIdsFile":"202819955790"},"pairedItem":{"item":0}}]},"versionId":"90b9e94c-728e-46fc-8ee3-7fa512ad2fb2","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-18T17:26:38.495Z","createdAt":"2025-12-18T17:26:38.495Z","role":"workflow:owner","workflowId":"hqbOggslY4THOEaa","projectId":"PZkDRO2KVE09GlpT"}],"activeVersion":null,"tags":[{"updatedAt":"2025-09-16T22:03:04.244Z","createdAt":"2025-09-16T22:03:04.244Z","id":"1JleW3VaKeNkbHMv","name":"catalog"},{"updatedAt":"2025-08-31T22:15:28.746Z","createdAt":"2025-08-31T22:15:28.746Z","id":"MSbYUejSnKte9BCA","name":"insights"},{"updatedAt":"2025-04-30T04:41:58.583Z","createdAt":"2025-04-30T04:41:58.583Z","id":"s7RJscwb71jTz2ag","name":"Snowflake"}]}