JIRA extract OID from Descriptions.json
{"updatedAt":"2025-05-29T16:28:50.000Z","createdAt":"2025-05-29T01:38:49.242Z","id":"EauInLqELkYZVx0b","name":"JIRA extract OID from Descriptions","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-720,380],"id":"b2c7d6c6-11dd-44fe-bb55-bc62840b43c3","name":"setGS Orig","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"3c705c27-607a-47e2-b988-0b2e0a5a6e32","name":"key","value":"={{ $json.key }}","type":"string"},{"id":"328690ac-ce4a-45f3-8134-19f07dd2fa83","name":"ProductTitle","value":"={{ $json.fields.customfield_10447 }}","type":"string"},{"id":"fcba44be-5368-48a6-95c0-c92261751206","name":"Status","value":"={{ $json.fields.status.name }}","type":"string"},{"id":"c45ad3ef-be9c-473c-8ee8-3059977d1bcc","name":"OSIDs","value":"={{ $json.fields.description.substring($json.fields.description.search(/OSIDs/),$json.fields.description.search(/OSIDs/)+20).replaceAll('\\n',' ') }}","type":"string"},{"id":"45d448bd-1391-4974-8086-4ea9bd46d65d","name":"Reporter","value":"={{ $json.fields.reporter.displayName }}","type":"string"},{"id":"992e6bbc-924d-475a-b62a-d22fa9e313e2","name":"description","value":"={{ $json.fields.description.replaceAll('/n',' ').substring(0,100) }}...","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,-80],"id":"9a11df9b-dbe6-4cb0-8713-e2f0487cf5a7","name":"getOSIDs"},{"parameters":{"operation":"getAll","limit":"={{ $('setChat').item.json.jiraLimit || 10 }}","options":{"fields":"description,summary,customfield_10447,reporter,status","fieldsByKey":true,"jql":"={{ $('setChat').item.json.jiraQuery || 'project=10096 AND issuetype=\"Change Request\" AND updated >= -1d'  }}"}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[-280,20],"id":"b8075bd9-4f56-465e-b2ab-a884867379ab","name":"getJiraDescriptions","alwaysOutputData":true,"credentials":{"jiraSoftwareCloudApi":{"id":"GDYZH1VJ2qrlv5SU","name":"Jira fef checkExpire"}}},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/19KzTT7gNQO3oh7UxnT6sUuwh62eRUk06Roy0rriBn1c/","mode":"url"},"sheetName":{"__rl":true,"value":"635141085","mode":"id"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["fields"],"schema":[{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ProductTitle","displayName":"ProductTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"OSIDs","displayName":"OSIDs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Reporter","displayName":"Reporter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[380,-80],"id":"9b1327a0-a48a-4378-ab47-3aab46addb8a","name":"getGS","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"n8n-disco-gservice-20250520"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-720,20],"id":"83c659a5-b43c-4ac2-8f88-b34b312c442e","name":"When chat message received","webhookId":"34ef9979-5dfc-495b-bf5e-5c601b98452f"},{"parameters":{"assignments":{"assignments":[{"id":"b7b4b280-4a77-460d-a79f-98c93d8c36ea","name":"jiraQuery","value":"={{ $json.chatInput }}","type":"string"},{"id":"5de775ac-bab4-48db-accd-fa6d4d579dcc","name":"jiraLimit","value":3,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-500,20],"id":"4a996d33-5ea5-452e-bb9b-4d18a9a90bc5","name":"setChat"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-688,740],"id":"d36157f2-34c9-4a53-8912-1b1b5a1efd5a","name":"AI Agent","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-720,960],"id":"9fe5ebef-3709-41d9-a70f-848a499abc92","name":"Google Gemini Chat Model","disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-600,960],"id":"d22a69c3-a218-493d-b845-b7e37213eab1","name":"Simple Memory","disabled":true},{"parameters":{"project":{"__rl":true,"mode":"list","value":""},"issueType":{"__rl":true,"mode":"list","value":""},"additionalFields":{}},"type":"n8n-nodes-base.jiraTool","typeVersion":1,"position":[-480,960],"id":"141fdf11-abc2-4599-afb3-9009152fb8eb","name":"Jira Software","credentials":{"jiraSoftwareCloudApi":{"id":"GDYZH1VJ2qrlv5SU","name":"Jira fef checkExpire"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"5ed0be35-aa8a-4f70-98e0-ba19ec26f56f","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"cea2331e-45a1-441e-a06c-22f4eee0f0c6","name":"key","value":"={{ $json.key }}","type":"string"},{"id":"d53c1de5-0cb9-4c2c-870e-9f627c8d522d","name":"summary","value":"={{ $json.fields.summary }}","type":"string"},{"id":"d7439eb1-a475-44d4-9c02-16f123ae2af1","name":"Description","value":"={{ $json.fields.description }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,120],"id":"a118eedf-5e34-4f09-828c-b57968e3a61a","name":"setCAO"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.key.substring(0,3) }}","rightValue":"ADO","operator":{"type":"string","operation":"equals"},"id":"e204b08f-7597-4bfc-ab68-460571782660"}],"combinator":"and"},"renameOutput":true,"outputKey":"ADO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2437508a-7944-495b-8ec6-e97bf5a68e98","leftValue":"={{ $json.key.substring(0,3) }}","rightValue":"CAO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CAO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-60,20],"id":"534882bd-d97c-4bf1-b559-054d8799a62c","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"57f6e0cb-91e2-42d7-b0d3-2a3689d93942","name":"OfferIDs","value":"={{ $json.Description.match(\"\\:.*[0-9]\") }}","type":"string"},{"id":"852e1170-d217-4bdc-a1fd-f4bc4093b5fb","name":"Description","value":"={{ $json.Description.replaceAll(\"\\n\\n\\nProdege\\n2030 E Maple Avenue Suite 200\\nEl Segundo, CA 90245\\n-----------\", '\\n') }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[380,120],"id":"b69f6709-a8a9-42aa-aaa7-05609f573b87","name":"remAddress"},{"parameters":{"operation":"update","issueKey":"={{ $json.id }}","updateFields":{"description":"={{ $json.Description }}"}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[600,120],"id":"fe673486-c719-4727-af7c-5842342ebce0","name":"Jira Software1","credentials":{"jiraSoftwareCloudApi":{"id":"GDYZH1VJ2qrlv5SU","name":"Jira fef checkExpire"}},"disabled":true},{"parameters":{"url":"https://prodege.atlassian.net/rest/api/2/issue/226760/watchers","authentication":"predefinedCredentialType","nodeCredentialType":"jiraSoftwareCloudApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-100,580],"id":"a9576bee-b90b-4c07-9fe0-e1845d0f124e","name":"HTTP Request","credentials":{"jiraSoftwareCloudApi":{"id":"GDYZH1VJ2qrlv5SU","name":"Jira fef checkExpire"}},"disabled":true}],"connections":{"setGS Orig":{"main":[[]]},"getJiraDescriptions":{"main":[[{"node":"Switch","type":"main","index":0}]]},"getGS":{"main":[[]]},"getOSIDs":{"main":[[{"node":"getGS","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"setChat","type":"main","index":0}]]},"setChat":{"main":[[{"node":"getJiraDescriptions","type":"main","index":0}]]},"AI Agent":{"main":[[]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Jira Software":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Switch":{"main":[[{"node":"getOSIDs","type":"main","index":0}],[{"node":"setCAO","type":"main","index":0}]]},"setCAO":{"main":[[{"node":"remAddress","type":"main","index":0}]]},"remAddress":{"main":[[{"node":"Jira Software1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e20a969a-9865-47b0-b349-af1daae5cac5","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-05-29T01:38:49.247Z","createdAt":"2025-05-29T01:38:49.247Z","role":"workflow:owner","workflowId":"EauInLqELkYZVx0b","projectId":"NOrA7nVi3G84Nq0v"}],"activeVersion":null,"tags":[{"updatedAt":"2025-05-19T05:10:36.690Z","createdAt":"2025-05-19T05:10:36.690Z","id":"XbZNUbSszDlg0tE4","name":"Google Service Creds"},{"updatedAt":"2025-03-28T05:18:56.320Z","createdAt":"2025-03-28T05:18:56.320Z","id":"jEMJy2OFy0YxTQSO","name":"GSheet"},{"updatedAt":"2025-06-06T18:17:45.414Z","createdAt":"2025-05-20T18:50:07.486Z","id":"o9kQdq2i4tcW3ACG","name":"disco PM"},{"updatedAt":"2025-06-06T18:17:53.513Z","createdAt":"2025-04-09T22:53:12.719Z","id":"ua93nX6ZUDbcpnxI","name":"jira"}]}