Jira OID and HubSpot Deal ID.json
{"updatedAt":"2025-07-01T23:01:25.000Z","createdAt":"2025-06-25T03:08:22.870Z","id":"vATzxEguX3UR7D9i","name":"Jira OID and HubSpot Deal ID","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Updates Jira Ticket with HubSpot Deal ID\n* Searches HubSpot Deals in:\n** only those with Jira Links\n** Perf Mkgt Pipeline\n* Extracts Jira ADO Key\n* Updates Jira NOR with HubSpot Deal ID","width":500},"type":"n8n-nodes-base.stickyNote","position":[-260,80],"typeVersion":1,"id":"fc89bac6-ca45-44e1-b104-f4061190a236","name":"Sticky Note"},{"parameters":{"authentication":"appToken","resource":"deal","operation":"search","limit":"={{ Math.min(100, $json.howMany) }}","filterGroupsUi":{"filterGroupsValues":[{"filtersUi":{"filterValues":[{"propertyName":"jira_ticket_link","value":"https://prodege.atlassian.net/browse/ADO*"},{"propertyName":"pipeline","value":"={{$vars.hubspotPipeline_perfmktg_PRODUCTION}}"}]}}]},"additionalFields":{"properties":["jira_ticket_link","io_netsuite_id","offer_ids","hs_object_id","dealname","product_name","pipeline"],"sortBy":"hs_createdate"}},"type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[180,260],"id":"f4883bbf-b388-40b8-bbab-64c6106a7aba","name":"hubspotSearch","credentials":{"hubspotAppToken":{"id":"PlnQEFCxdSC4xSy9","name":"HubSpot n8n-HubSpot-PRODUCTION_20464009-202506-fef"}}},{"parameters":{"assignments":{"assignments":[{"id":"7e50349a-5b5c-4678-87da-63e464bf7e79","name":"ADOkey","value":"={{ \n  (function() {\n    const link = $json.properties.jira_ticket_link;\n    if (!link) return '';\n    \n    const parts = link.split('/');\n    return parts.length > 0 ? parts[parts.length - 1] : '';\n  })()\n}}","type":"string"},{"id":"6ce78136-991b-4008-a495-7535ff183f2d","name":"hubspot_deal_id","value":"={{ $json.id }}","type":"string"},{"id":"be2037b1-9a3f-4053-854d-84b7569d4a5d","name":"offer_ids","value":"={{ $json.properties.offer_ids }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[840,260],"id":"d5b8130a-d13a-4168-a852-2871154f3166","name":"setHubSpotDeals"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"e1c8968e-1324-48e4-af1c-d24b18045cc9","leftValue":"={{ $json.properties.jira_ticket_link }}","rightValue":"https://prodege.atlassian.net/browse/ADO-","operator":{"type":"string","operation":"startsWith"}},{"id":"7a5b4c61-515b-4b96-af53-19ca98fdcf22","leftValue":"={{ $json.properties.pipeline }}","rightValue":"={{$vars.hubspotPipeline_perfmktg_PRODUCTION}}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[400,260],"id":"718d98e8-8829-4548-9737-367ae8922849","name":"Filter"},{"parameters":{"operation":"update","issueKey":"={{ $json.ADOkey }}","updateFields":{"customFieldsUi":{"customFieldsValues":[{"fieldId":{"__rl":true,"value":"customfield_11153","mode":"id"},"fieldValue":"={{ $json.hubspot_deal_id }}"}]}}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[1060,260],"id":"b4c897c5-c033-4725-8a9a-09cf8367b6d4","name":"jiraUpdate","credentials":{"jiraSoftwareCloudApi":{"id":"GDYZH1VJ2qrlv5SU","name":"Jira n8n-fef-exp_July31"}}},{"parameters":{"formTitle":"Update Jira NOR with HubSpot","formFields":{"values":[{"fieldLabel":"howMany","fieldType":"number","placeholder":"10"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-260,260],"id":"cf867b09-795a-46d8-93e0-c381766f83d1","name":"On form submission1","webhookId":"95ff0c0d-a97d-489d-a455-2c16e3ccd252"},{"parameters":{"assignments":{"assignments":[{"id":"be168a05-d208-46f8-8bc2-8b2ac6c6879a","name":"howMany","value":"={{ $json.howMany|| 10  }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,260],"id":"ef21a712-5dd4-4151-8217-906916b4e9c5","name":"setForm"},{"parameters":{"maxItems":"={{ Math.min(100, $('setForm').item.json.howMany) }}"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[620,260],"id":"cc9bd535-7c39-42bb-867d-4904bec31c9c","name":"limit100Max"},{"parameters":{"content":"? need to figure how to not re-run already updates","height":80,"width":160,"color":3},"type":"n8n-nodes-base.stickyNote","position":[380,140],"typeVersion":1,"id":"961baac7-03a0-4877-b9a3-ea880f26c1e6","name":"Sticky Note1"},{"parameters":{"content":"### HubSpot Sandbox Creds\n[HubSpot](https://app.hubspot.com/private-apps/40213119/14859713)\n### Pipelines\n* $vars.hubspotPipeline_insights_PRODUCTION \n* $vars.hubspotPipeline_insights_sandbox  \n* $vars.hubspotPipeline_perfmktg_PRODUCTION \n* $vars.hubspotPipeline_perfmktg_sandbox","height":200,"width":480,"color":3},"type":"n8n-nodes-base.stickyNote","position":[120,420],"typeVersion":1,"id":"4a9b1d4e-286c-4078-a998-820b0eedbe3c","name":"Sticky Note2"},{"parameters":{"content":"### Credentials:\n* HubSpot: n8n App from HS (Prod or Sandbox)\n* Google: GSA n8n Disco","height":100,"width":380},"type":"n8n-nodes-base.stickyNote","position":[-280,420],"typeVersion":1,"id":"c26aa451-e53a-4973-8f7a-04d42394e361","name":"Sticky Note3"}],"connections":{"hubspotSearch":{"main":[[{"node":"Filter","type":"main","index":0}]]},"setHubSpotDeals":{"main":[[{"node":"jiraUpdate","type":"main","index":0}]]},"Filter":{"main":[[{"node":"limit100Max","type":"main","index":0}]]},"jiraUpdate":{"main":[[]]},"On form submission1":{"main":[[{"node":"setForm","type":"main","index":0}]]},"setForm":{"main":[[{"node":"hubspotSearch","type":"main","index":0}]]},"limit100Max":{"main":[[{"node":"setHubSpotDeals","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":300},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6530f1ac-ba0b-4e3d-aeb2-aa25c1450f9b","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-06-25T04:43:17.760Z","createdAt":"2025-06-25T04:43:17.760Z","role":"workflow:owner","workflowId":"vATzxEguX3UR7D9i","projectId":"PZkDRO2KVE09GlpT"}],"activeVersion":null,"tags":[{"updatedAt":"2025-06-06T18:17:40.197Z","createdAt":"2025-06-06T18:17:16.177Z","id":"QSobdHvedr4NOCqq","name":"hubspot HS"},{"updatedAt":"2025-06-06T18:17:45.414Z","createdAt":"2025-05-20T18:50:07.486Z","id":"o9kQdq2i4tcW3ACG","name":"disco PM"},{"updatedAt":"2025-06-06T18:17:53.513Z","createdAt":"2025-04-09T22:53:12.719Z","id":"ua93nX6ZUDbcpnxI","name":"jira"}]}