Jira update HubSpot Deal ID using Link.json
{"updatedAt":"2025-07-01T23:04:07.000Z","createdAt":"2025-06-25T04:52:44.580Z","id":"ish7oTpis7c6lrlG","name":"Jira update HubSpot Deal ID using Link","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Updates Jira Ticket with HubSpot Deal ID\n* Searches Jira NORs in:\n** only those with HubSpot link in Description\n** doesn't already have HubSpot ID\n* Extracts HubSpot Deal ID from URL\n* Updates Jira NOR with HubSpot Deal ID","width":500},"type":"n8n-nodes-base.stickyNote","position":[-260,80],"typeVersion":1,"id":"c9d649b8-755a-416b-ab5d-1eb8ef121a39","name":"Sticky Note"},{"parameters":{"formTitle":"Update Jira NOR with HubSpot","formFields":{"values":[{"fieldLabel":"howMany","fieldType":"number","placeholder":"10"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-320,520],"id":"d468e251-c5a3-4708-9349-7ba118b1a744","name":"On form submission1","webhookId":"aa4d2337-78d2-40eb-80f6-6900f8f0889b"},{"parameters":{"operation":"getAll","limit":"={{ Math.min(50, $('setForm1').item.json.howMany) }}","options":{"fields":"id,key,description,customfield_11153","jql":"project=\"AdOps Disco PM\" and issuetype=\"New Offer Request\" AND description !~ \"testing flow\" AND summary !~ \"Test Deal\"  AND \"HubSpotID[Short text]\" IS EMPTY AND description ~ \"https://app.hubspot.com/contacts/20464009/\" AND created > -60d ORDER BY key DESC"}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[120,420],"id":"e8116500-3afc-458c-a8f3-28c4d39d4db7","name":"Get many issues","credentials":{"jiraSoftwareCloudApi":{"id":"GDYZH1VJ2qrlv5SU","name":"Jira n8n-fef-exp_July31"}}},{"parameters":{"assignments":{"assignments":[{"id":"59c1be4a-2600-4c42-9238-65ae0cf824ef","name":"howMany","value":"={{ Math.min(100, $json.howMany) || 2 }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-100,420],"id":"0a80fd6f-cfd7-451d-8ffd-d29f16ce6fec","name":"setForm1"},{"parameters":{"assignments":{"assignments":[{"id":"4bec259f-18fb-4335-b7f5-e4a06b03900a","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"82bb25bd-33df-48ab-aea1-c27094de507b","name":"key","value":"={{ $json.key }}","type":"string"},{"id":"ff7d40d5-c471-4560-922e-6f63b76a4e22","name":"hubspot_deal_id","value":"={{ \n  (function() {\n    const match = $json.fields.description.match(/\\/record\\/\\d+-\\d+\\/(\\d+)/);\n    return match ? match[1] : '';\n  })()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[340,420],"id":"00c731c4-ef1e-41c9-aa79-e25e68d53137","name":"setJiraVars"},{"parameters":{"operation":"update","issueKey":"={{ $json.key }}","updateFields":{"customFieldsUi":{"customFieldsValues":[{"fieldId":{"__rl":true,"value":"customfield_11153","mode":"id"},"fieldValue":"={{ $json.hubspot_deal_id }}"}]}}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[560,420],"id":"80076f26-c733-49b3-bac5-2bd9cbaf67c7","name":"jiraUpdate","credentials":{"jiraSoftwareCloudApi":{"id":"GDYZH1VJ2qrlv5SU","name":"Jira n8n-fef-exp_July31"}}},{"parameters":{"path":"jira-webhook-n8n-updateNOR-hsDeal","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-320,320],"id":"195bf7fb-fb81-41a9-ab68-9dda212c8737","name":"Webhook","webhookId":"3e9a60df-d215-4368-8000-99b077f96b45"},{"parameters":{"content":"[JQL find Missing](https://prodege.atlassian.net/issues/?jql=project%3D%22AdOps%20Disco%20PM%22%20and%20issuetype%3D%22New%20Offer%20Request%22%20AND%20description%20%21~%20%22testing%20flow%22%20AND%20summary%20%21~%20%22Test%20Deal%22%20%20AND%20%22HubSpotID%5BShort%20text%5D%22%20IS%20EMPTY%20AND%20description%20~%20%22https%3A%2F%2Fapp.hubspot.com%2Fcontacts%2F20464009%2F%22%20AND%20created%20%3E%20-60d%20ORDER%20BY%20key%20DESC)","height":80,"color":6},"type":"n8n-nodes-base.stickyNote","position":[60,580],"typeVersion":1,"id":"3bc3b676-1c82-4b5f-b9ba-a05bd356a169","name":"Sticky Note1"},{"parameters":{"content":"### HubSpot Sandbox Creds\n[HubSpot](https://app.hubspot.com/private-apps/40213119/14859713)\n### Pipelines\n* $vars.hubspotPipeline_insights_PRODUCTION \n* $vars.hubspotPipeline_insights_sandbox  \n* $vars.hubspotPipeline_perfmktg_PRODUCTION \n* $vars.hubspotPipeline_perfmktg_sandbox","height":200,"width":480,"color":3},"type":"n8n-nodes-base.stickyNote","position":[320,580],"typeVersion":1,"id":"d92aa949-31ef-4811-bdac-961602ccde51","name":"Sticky Note2"},{"parameters":{"content":"### Credentials:\n* Jira fef n8n\n* Google: GSA n8n Disco","height":100,"width":380},"type":"n8n-nodes-base.stickyNote","position":[300,220],"typeVersion":1,"id":"f2ad2ed3-b390-4ab6-97fa-922f5693d62e","name":"Sticky Note3"}],"connections":{"On form submission1":{"main":[[{"node":"setForm1","type":"main","index":0}]]},"setForm1":{"main":[[{"node":"Get many issues","type":"main","index":0}]]},"Get many issues":{"main":[[{"node":"setJiraVars","type":"main","index":0}]]},"setJiraVars":{"main":[[{"node":"jiraUpdate","type":"main","index":0}]]},"jiraUpdate":{"main":[[]]},"Webhook":{"main":[[{"node":"setForm1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":300},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"92c33fe0-83d6-46c3-8f5c-fb47441e67f2","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-06-25T05:18:12.099Z","createdAt":"2025-06-25T05:18:12.099Z","role":"workflow:owner","workflowId":"ish7oTpis7c6lrlG","projectId":"PZkDRO2KVE09GlpT"}],"activeVersion":null,"tags":[{"updatedAt":"2025-06-06T18:17:40.197Z","createdAt":"2025-06-06T18:17:16.177Z","id":"QSobdHvedr4NOCqq","name":"hubspot HS"},{"updatedAt":"2025-06-06T18:17:45.414Z","createdAt":"2025-05-20T18:50:07.486Z","id":"o9kQdq2i4tcW3ACG","name":"disco PM"},{"updatedAt":"2025-06-06T18:17:53.513Z","createdAt":"2025-04-09T22:53:12.719Z","id":"ua93nX6ZUDbcpnxI","name":"jira"}]}