My workflow 18.json
{"updatedAt":"2025-11-07T09:18:40.183Z","createdAt":"2025-11-07T09:18:40.183Z","id":"SyyoTPVdLn0uJCug","name":"My workflow 18","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"21dcb398-70f6-4b90-9d90-c316e4cb161d","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[480,80],"typeVersion":1},{"parameters":{"content":"## Subworkflow","height":731.7039821513649,"width":1910.7813046051347,"color":6},"id":"cc43ac28-c0f1-4b71-86b2-b24fe2cd9357","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,464],"typeVersion":1},{"parameters":{},"id":"42b5a299-b32c-4592-98e4-aa62f9f299fa","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[64,848],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"95da9595-d2f8-4cb2-97b6-72fbca30dc3e","name":"n8n","type":"n8n-nodes-base.n8n","position":[880,192],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"7239704b-78d2-4d2f-bf4d-e419cba7b39e","name":"Return","type":"n8n-nodes-base.set","position":[1728,672],"typeVersion":3.3},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"d73a058a-5260-437a-bfa0-68d9b84b1773","name":"Get File","type":"n8n-nodes-base.httpRequest","position":[688,544],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"9619a55f-7fb1-4f24-b1a7-7aeb82365806","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"177ab773-dd31-46f8-a6ab-897549cf5733","name":"If file too large","type":"n8n-nodes-base.if","position":[448,560],"typeVersion":2},{"parameters":{},"id":"7deefc51-d637-40b6-9110-e7098dd721ba","name":"Merge Items","type":"n8n-nodes-base.merge","position":[448,832],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"},"id":"9dc6d6c7-9840-408f-9a16-01caf4df061e","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[640,832],"typeVersion":1},{"parameters":{"dataType":"string","value1":"={{$json.github_status}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"98390217-20aa-4200-8c18-df7378ae9ccf","name":"Check Status","type":"n8n-nodes-base.switch","position":[1040,832],"typeVersion":1},{"parameters":{},"id":"2b8ca748-00d7-4a3d-abaf-e1bd6efc283f","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[1264,672],"typeVersion":1},{"parameters":{},"id":"dc741ec9-40ba-4ac0-9f73-4982936eaa39","name":"File is different","type":"n8n-nodes-base.noOp","position":[1264,832],"typeVersion":1},{"parameters":{},"id":"dc7fe895-ae85-4921-88d0-d5e3bf2ceda2","name":"File is new","type":"n8n-nodes-base.noOp","position":[1264,1024],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"b065f4f0-3cc9-4c17-a393-8e25213a6677","name":"Create new file","type":"n8n-nodes-base.github","position":[1488,1024],"typeVersion":1,"webhookId":"0edcc256-25bb-47f0-83ad-9f44f0891bf7"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"15388c44-e89c-4360-88a1-0690d6a7a865","name":"Edit existing file","type":"n8n-nodes-base.github","position":[1488,832],"typeVersion":1,"webhookId":"6f8faaf8-d66e-4308-820c-8795a7706ce5"},{"parameters":{"options":{}},"id":"3a3d5601-9368-462c-a6a6-0acc47bdd43a","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1088,192],"typeVersion":3},{"parameters":{"rule":{"interval":[{"triggerAtHour":1,"triggerAtMinute":33}]}},"id":"a6359f05-28ec-4e28-be33-f8181beeafab","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[480,288],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"dae43d3b-56e5-4098-b602-862ebf5cd073","name":"subPath","type":"string","value":"={{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/"}]},"includeOtherFields":true,"options":{}},"id":"5f285df6-4909-420b-bd57-880f48fd4e01","name":"Create sub path","type":"n8n-nodes-base.set","position":[848,832],"typeVersion":3.3},{"parameters":{"content":"## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.","height":417,"width":385,"color":4},"id":"63422752-eabd-49e4-8a50-dd40425e2b63","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## Main workflow loop","height":416.1856906618075,"width":1272.6408145680155,"color":7},"id":"73e7e146-be1c-45e8-a315-34e086f6c7f3","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[448,0],"typeVersion":1},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#notifications"},"text":"=:information_source:  Starting Workflow Backup [{{ $execution.id }}]","otherOptions":{"includeLinkToWorkflow":false}},"id":"9cde361d-77a7-4df2-a3f8-f8c0d62b3503","name":"Starting Message","type":"n8n-nodes-base.slack","position":[720,192],"webhookId":"c02eb407-5547-4aa0-9ebf-46dab67b63b6","typeVersion":2.2},{"parameters":{"workflowId":"={{ $workflow.id }}","mode":"each","options":{}},"id":"56c2f4c8-3784-41e0-800e-0345923f649e","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[1312,208],"typeVersion":1,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#notifications"},"text":"=✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.","otherOptions":{}},"id":"8f8ddcdc-bae3-4a88-95f5-2412442f5e5e","name":"Completed Notification","type":"n8n-nodes-base.slack","position":[1312,32],"webhookId":"a0c6e8c8-5d71-40fa-b02b-63a7ed5726c4","executeOnce":true,"typeVersion":2.2},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#notifications"},"text":"=:x: Failed to backup {{ $('Loop Over Items').item.json.id }}","otherOptions":{"includeLinkToWorkflow":false}},"id":"cb86bf7d-5a78-419d-a791-d8c8513f5451","name":"Failed Flows","type":"n8n-nodes-base.slack","position":[1504,224],"webhookId":"2a092edb-de12-490f-931b-34d70e7d7696","typeVersion":2.2},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/{{$json.id}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"f52d73bc-4cd5-4cf5-bc6f-e9dffe3493f8","name":"Get file data","type":"n8n-nodes-base.github","position":[240,560],"typeVersion":1,"alwaysOutputData":true,"webhookId":"72709301-cd61-4cf1-b8cb-754481da5374","continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"8f6d1741-772f-462a-811f-4c334185e4f0","name":"repo_owner","type":"string","value":"={{ $vars.repo_owner }}"},{"id":"8cac215c-4fd7-422f-9fd2-6b2d1e5e0383","name":"repo_name","type":"string","value":"={{ $vars.repo_name }}"},{"id":"eee305e9-4164-462a-86bd-80f0d58a31ae","name":"repo_path","type":"string","value":"={{ $vars.repo_path }}"}]},"includeOtherFields":true,"options":{}},"id":"1f4e140e-3c33-411d-b9ef-c3222033671e","name":"Config","type":"n8n-nodes-base.set","position":[240,848],"typeVersion":3.4}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Config":{"main":[[{"node":"Get file data","type":"main","index":0},{"node":"Merge Items","type":"main","index":1}]]},"Get File":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Create sub path","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Failed Flows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Create sub path":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Completed Notification","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Failed Flows","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Starting Message":{"main":[[{"node":"n8n","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Config","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"3932a85c-a402-428d-8e5a-3029526c07db","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-07T09:18:40.184Z","createdAt":"2025-11-07T09:18:40.184Z","role":"workflow:owner","workflowId":"SyyoTPVdLn0uJCug","projectId":"Lgsn4NWhkbeG1opy"}],"activeVersion":null,"tags":[]}