NOR Packaging Agents WIP V2.json
{"updatedAt":"2025-07-24T16:12:49.000Z","createdAt":"2025-07-23T19:31:13.809Z","id":"9MzcEJbYR2Bjn2Wj","name":"NOR Packaging Agents WIP V2","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"36b76f9b-ffab-4a1c-9e09-6dcab23483da","name":"issueKey","value":"={{ $json.body.key }}","type":"string"},{"id":"8b02f016-1596-4d33-87be-2d8e0939abf4","name":"productTitle","value":"={{ $json.body.fields.customfield_10447 }}","type":"string"},{"id":"151a9c6d-4c03-426c-9f7f-bf24f2f78f29","name":"clientName","value":"={{ $json.body.fields.customfield_10048 }}","type":"string"},{"id":"af184b69-5749-4c8b-a6b6-fb34247c7e65","name":"events","value":"={{ $json.body.fields.customfield_10477 }}","type":"string"},{"id":"8496a324-23e2-40ec-a411-9eed78dcec55","name":"description","value":"={{ $json.body.fields.description }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2528,2848],"id":"f2417a4d-8343-4325-98db-7313de801a55","name":"Edit Fields"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-752,1888],"id":"a8986767-f8f1-48d8-9e2b-c93a6b32f031","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"operation":"get","issueKey":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Issue_Key', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.jiraTool","typeVersion":1,"position":[-656,2032],"id":"d7e0095b-9203-4788-ab10-39a18790b247","name":"Get Parent Issue","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"Jira n8n-jira_automation-exp_Sep9"}}},{"parameters":{"operation":"getAll","limit":5,"options":{"fields":"id,key,summary","jql":"=project = \"AdOps Disco PM\" AND type = \"Parent\" AND customfield_10048 ~ \"{{ $('Edit Fields').item.json.clientName }}\""}},"type":"n8n-nodes-base.jiraTool","typeVersion":1,"position":[-336,2032],"id":"27ac38d5-6f07-4fe4-9554-0be5514cd369","name":"Search for Parent Issue","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"Jira n8n-jira_automation-exp_Sep9"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"parentStatus\": \"Parent found and attached.\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[128,2048],"id":"56c171fe-06d5-4a83-af61-fb966e5944d5","name":"Structured Output Parser"},{"parameters":{"project":{"__rl":true,"value":"10096","mode":"list","cachedResultName":"AdOps Disco PM"},"issueType":{"__rl":true,"value":"10115","mode":"list","cachedResultName":"Parent"},"summary":"={{ $('Edit Fields').item.json.productTitle }}({{ $('Edit Fields').item.json.clientName }})","additionalFields":{"customFieldsUi":{"customFieldsValues":[{"fieldId":{"__rl":true,"value":"customfield_10048","mode":"list","cachedResultName":"Client Name"},"fieldValue":"={{ $('Edit Fields').item.json.clientName }}"},{"fieldId":{"__rl":true,"value":"customfield_10447","mode":"list","cachedResultName":"Product Title"},"fieldValue":"={{ $('Edit Fields').item.json.productTitle }}"}]}}},"type":"n8n-nodes-base.jiraTool","typeVersion":1,"position":[-160,2032],"id":"0d4c0b77-b254-48cc-b848-6970e3ccdeef","name":"Create Parent Issue","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"Jira n8n-jira_automation-exp_Sep9"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2800,2656],"id":"91d889c9-8bdd-416a-9bd8-73b5a4cb3e15","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"promptType":"define","text":"=Execute parent check and update function","hasOutputParser":true,"options":{"systemMessage":"=You are a Jira expert. Use the tools provided to manage parent issue associations for Jira tickets based on the following data:\n\nIssue Key: {{ $json.issueKey }}\n\nProduct Title: {{ $json.productTitle }}\n\nAdvertiser: {{ $json.clientName }}\n\nYour workflow should follow these steps:\n\n1. Check if a parent is already attached\n\nUse the Get Parent Issue tool on the issue key: {{ $json.issueKey }}\n.\n\nIf a parent exists:\n\nCheck if the parent’s customfield_10048 matches the advertiser: {{ $json.clientName }}\n\nCheck if the Product Title ({{ $json.productTitle }}) appears somewhere in the parent.\n\nIf both match, output:\n\n\"🟢 Parent (parent key) already attached to ticket\" and end function here.\n\nIf either one does not match, there is no parent, or there is an error retrieving parent then move on to step 2.\n\n2. Search for an existing parent issue\n\nIf no parent is attached or it doesn't match the conditions above:\n\nUse the Search for Parent Issue tool to find a parent issue that:\n\nHas customfield_10048 equal to {{ $json.clientName }}\n\nContains the Product Title {{ $json.productTitle }} somewhere in the issue (e.g., summary, description).\n\nIf a valid parent is found:\n\nUse the Set Parent via API tool with:\n\nURL:\n\nhttps://prodege.atlassian.net/rest/api/3/issue/{{ $json.issueKey }}\n\n\nBody:\n\n{\n  \"fields\": {\n    \"parent\": {\n      \"key\": \"(insert found parent key)\"\n    }\n  }\n}\n\n\nThen output:\n\n\"🟢 Parent (parent key) found and added to ticket\" \n\nIf no matching parent is found move onto step 3.\n\n3. Create and assign a new parent issue\n\n\n\nUse the Create Parent Issue tool to create a new parent issue.\n\nThen use the Set Parent via API tool with:\n\nURL:\n\nhttps://prodege.atlassian.net/rest/api/3/issue/{{ $json.issueKey }}\n\nBody:\n\n{\n  \"fields\": {\n    \"parent\": {\n      \"key\": \"(insert newly created parent key)\"\n    }\n  }\n}\n\nThen output:\n\n\"🟢 Parent (parent key) created and added to ticket\" and end function here\n\n4. Handle errors\n\nIf any step fails (e.g., error getting, searching, creating, or setting parent), output:\n\n\"🔴 Error: {insert description of step you got stuck on}\" and end function here.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-576,1712],"id":"f5459738-6a5a-4620-af33-854f4cb57fd6","name":"Check Parent Agent"},{"parameters":{"descriptionType":"manual","toolDescription":"Update the parent to 'ADO-12539' and make issue contained in 'ADO-12539'.","operation":"update","issueKey":"={{ $('Edit Fields').item.json.issueKey }}","updateFields":{}},"type":"n8n-nodes-base.jiraTool","typeVersion":1,"position":[-16,2032],"id":"28b8a27b-7cd5-4b0c-82bb-44ddc59dc4f0","name":"Attach Parent to Issue","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"Jira n8n-jira_automation-exp_Sep9"}},"disabled":true},{"parameters":{"promptType":"define","text":"=You are a top-tier top-tier QA analyst agent. Your role is to analyze goal tables for mobile game events to ensure all required columns are present, minimum data needed is present and formatted correctly.\n\nYou will receive data below that contains the event or events for an offer. It could be a single sign up and make a deposit event for a fintech lead gen offer, or it could be many events for a mobile game offer including install, level and purchase events.\n\nYour job is to review, audit, and validate this data is complete based on the following checklist:\n\nAudit Checklist:\n\n1. The data received contains at least 1 table of event(s)\n\n2. Determine if this is a mobile game offer or another type of offer.\n\n  2.A. If it's a mobile game offer, make sure the following are present.\n    1. Tables have these columns: \nAndroid Tokens, Conversion Rate, Estimated Conversion Time, Event Type, Goal For Members, Hs Createdate, Hs Lastmodifieddate, Hs Object Id, Ios Tokens, Maximum Time To Complete, Minimum Time To Complete, Purchase Amount, Revenue, Rewards\n    2. At least one Install Event Type\n    3. A few non install, non purchase Event Types.\n    4. At least 1 purchase Event Type.\n    5. Non install, non purchase Event Types have conversion rates filled in. \n    7. All events have an Android or iOS token.\n    8. Install has revenue and/or other events have revenue.\n    9. If a purchase event is not general as in 'make first purchase' or 'make any purchase' and is make a specific purchase, then 'purchase amount' value must be greater than 0. \n\n  2.B. if it's not a mobile game offer, make sure the following are present.\n    1. At least one event is present.\n    2. Event revenue value is specified.\n\n3. Based on the results of your findings, provide a goalCheck update using the one of following formats. Keep it short and succinct:\n  3.A If items failed checklist:\n    🔴 {Insert your explanation of why offer is failing goalCheck}.\n  3.B If all items passed checklist:\n    🟢 {Insert your explanation of why offer is passing goalCheck}.\n\nData:\n\n{{ $json.events }}\n\nLimit output to 1-2 succinct sentences.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-576,2320],"id":"6acd45c3-779b-42f9-aaa8-ed9753b91438","name":"Check Goals Agent"},{"parameters":{"jsonSchemaExample":"{\n\t\"goalStatus\": \"Parent found and attached.\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-384,2544],"id":"da6e552f-69be-432b-b84b-7e91790d937a","name":"Structured Output Parser1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-576,2544],"id":"25e93cb4-b50e-4f28-be36-fe2ead5dca6c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"resource":"issueComment","issueKey":"={{ $('Edit Fields').first().json.issueKey }}","comment":"=📦 Packaging Check:\n--------------------\n👩‍👦 Parent Issue: {{ $json.output.parentStatus }}\n\n🎯 Goal Data: {{ $json.output.goalStatus }}\n\n📄 Copy Status: {{ $json.output.copyStatus }}\n\n🔗 Link Status: {{ $json.output.urlStatus }}\n\n🎨 Creative Status: {{ $json.output.creativesStatus }}\n\n","options":{}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[1840,2864],"id":"d8142856-fa60-49df-80a6-e47055698898","name":"Add a comment","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"Jira n8n-jira_automation-exp_Sep9"}}},{"parameters":{"resource":"issueComment","issueKey":"={{ $('Edit Fields').first().json.issueKey }}","comment":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Comment', ``, 'string') }}","options":{"wikiMarkup":true}},"type":"n8n-nodes-base.jiraTool","typeVersion":1,"position":[-432,3168],"id":"a6f11ea1-68f5-466f-a2e8-75816a3870a2","name":"Add a comment in Jira Software1","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"Jira n8n-jira_automation-exp_Sep9"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"temperature":0.6,"maxRetries":5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-656,3168],"id":"290fecc1-fef9-4f03-9d73-f7053eb14faf","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"copyStatus\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-224,3152],"id":"976b3298-4599-4b7b-a271-9c1bf6f79a57","name":"Structured Output Parser2"},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1424,2800],"id":"b7b12f98-cfb4-494b-b3d4-1968db7e8545","name":"Merge"},{"parameters":{"jsCode":"// Get all items from the input\nconst items = $input.all();\n\n// Create a new merged object\nlet mergedOutput = {};\n\n// Loop through each item and merge its output properties\nitems.forEach(item => {\n  if (item.json && item.json.output) {\n    // Merge all properties from the current item's output into the mergedOutput\n    Object.assign(mergedOutput, item.json.output);\n  }\n});\n\n// Return a single item with the merged output\nreturn [\n  {\n    json: {\n      output: mergedOutput\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1632,2864],"id":"854e9dfd-a1eb-4477-b853-bd875465c1a6","name":"Code"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[512,4720],"id":"801ec3ff-dd16-4e23-ac95-705b8a0770db","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}},"disabled":true},{"parameters":{"jsonSchemaExample":"{\n\t\"urlStatus\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[864,4720],"id":"ff15414c-5537-45ff-86be-1195bd67e1b8","name":"Structured Output Parser3","disabled":true},{"parameters":{"resource":"crawl","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[704,4720],"id":"8045ecf1-b650-4b7e-b62f-59e4599c3d58","name":"Crawl URL","credentials":{"tavilyApi":{"id":"2SHWdpC10Rb5CNvy","name":"Tavily: n8n-fef-tavily2"}},"disabled":true},{"parameters":{"promptType":"define","text":"=Your task is to review this data and follow these instructions and provide an update based on results accordingly.\n\nYour instructions:\n\n1. Identify if there is an 'iOS URL' and/or 'Android URL' present.\n2. For urls found, use your 'Crawl URL' tool to validate urls are valid.\n\nAnd finally, output the results from everything you did or were not able to do, to urlStatus, using this format:\n\nIf you weren't able to do everything successfully:\n    🔴 {Insert your explination of why offer is failing urlStatus}.\nIf you were able to do everything successfully:\n    🟢 {Insert your explination of why offer is passing urlStatus}.\n\nData:\n\n{{ $json.description }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[512,4512],"id":"59877f76-eca1-482a-8e98-5af12acd9d5a","name":"URL Agent","disabled":true},{"parameters":{"operation":"get","issueKey":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Issue_Key', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.jiraTool","typeVersion":1,"position":[-416,4176],"id":"2371ed38-5a61-4ad6-86f5-40669ca248cb","name":"Get an issue in Jira Software1","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"Jira n8n-jira_automation-exp_Sep9"}}},{"parameters":{"url":"=https://prodege.atlassian.net/rest/api/3/issue/{{ $json.issueKey }}/remotelink","authentication":"predefinedCredentialType","nodeCredentialType":"jiraSoftwareCloudApi","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-272,4176],"id":"564cf488-da5f-4403-8046-87d2e9f5ee3a","name":"HTTP Request3","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"Jira n8n-jira_automation-exp_Sep9"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-576,4144],"id":"8e5cd254-552e-4a57-a355-e0434005d202","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"promptType":"define","text":"=Execute function for {{ $json.issueKey }} .","hasOutputParser":true,"options":{"systemMessage":"=Your task is to review the Jira ticket identified by the key provded by the user.\n\nSteps to follow:\n\n1. Use the HTTP Request node to get all remote links associated with the provided Jira ticket.\n\n2.Extract all hyperlinks from the remote links’ response.\n\n3.Identify any hyperlinks that point to other Jira tickets, i.e., links that contain a Jira issue key (e.g., \"PRT-123\").\n\n4.For each linked Jira ticket:\n\n  -Extract the project key (the part before the hyphen, e.g., \"PRT\" in \"PRT-123\").\n\n  -If the project key is \"PRT\", continue.\n\n5. Use the \"Get Issue\" node (Jira Get an Issue tool) to fetch the full details of the linked PRT ticket.\n\n6. Check the attachments on that PRT ticket:\n\nAt least one attachment must be a PNG or JPEG image.\n\nAt least one image must be at least 1500px wide and at least 1000px high (they can be the same image that satisfies both conditions).\n\nIf you weren't able to verify both conditions successfully:\n    🔴 {Insert your explination of why offer is failing the Creatives Check}.\nIf you were able to verify both conditions successfully:\n    🟢 {Insert your explination of why offer is passing the Creatives Check}.\n\nLimit output to 1-2 succinct sentences."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-576,3968],"id":"f5d2c7e7-9d3f-4339-845b-92c784a8e049","name":"Creatives Agent"},{"parameters":{"jsonSchemaExample":"{\n\t\"creativesStatus\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-128,4160],"id":"6c3d9c6e-9a44-4cfb-9fe1-3adcfa1ea9e5","name":"Structured Output Parser4"},{"parameters":{"operation":"get","issueKey":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Issue_Key', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.jiraTool","typeVersion":1,"position":[-560,3648],"id":"8da2e18f-a5d7-4f6f-a280-579bc0ec626a","name":"Get an issue in Jira Software2","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"Jira n8n-jira_automation-exp_Sep9"}}},{"parameters":{"resource":"extract","urls":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('urls0_URLs', `IOS LINK`, 'string') }}","={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('urls1_URLs', `ANDroid Link`, 'string') }}"],"options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[-400,3648],"id":"6bbd05f8-ca99-4dee-9291-b12429ac5626","name":"Extract in Tavily1","credentials":{"tavilyApi":{"id":"2SHWdpC10Rb5CNvy","name":"Tavily: n8n-fef-tavily2"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-704,3584],"id":"7248e2a6-edec-4da9-bf51-dc8de5769b3a","name":"OpenAI Chat Model6","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"linkStatus\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-240,3648],"id":"d6e33c0a-3fdc-4bbc-b30c-6363d42578a6","name":"Structured Output Parser5"},{"parameters":{"promptType":"define","text":"=Execute function for  {{ $json.issueKey }}.","hasOutputParser":true,"options":{"systemMessage":"You are an automation agent integrated with Jira and Tavily. Follow these steps exactly:\n\n1. Use the Jira MCP tool to get the Description and customfield_10447 for the user provided JIRA ticekt key.\n\n2. Extract the Google Play Store and Apple App Store URLs from the Jira Description.\n\n3. Use the Tavily MCP tool with the URLs to:\n\nCheck if each link is working\n\nVerify that the page content is correct based on the product title and client name from Jira.\n\n\nIf you weren't able to verify the conditions successfully:\n    🔴 {Insert your explanation of why offer is failing the URL Check}.\nIf you were able to verify the conditions successfully:\n    🟢 {Insert your explanation of why offer is passing the URL Check}.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-688,3440],"id":"36503063-c4fb-4fe1-996e-d46198757713","name":"Link Agent"},{"parameters":{"path":"e88e57c5-a373-4860-aebc-942b6df4003f","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2816,3056],"id":"22e5cd9c-9224-417f-b3da-faa34448fc2a","name":"Webhook","webhookId":"e88e57c5-a373-4860-aebc-942b6df4003f"},{"parameters":{"authentication":"serviceAccount","operation":"get","documentURL":"https://docs.google.com/document/d/1Sx8OikwUFb5P9gvaT6S88PUnK4d6ZZ0l3EczVNYFAW0/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-768,2944],"id":"4bb0edad-687c-4f3f-a159-04b235f8867d","name":"Get a document","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"content":"## Prompt doc links\n- [goal check prompt](https://docs.google.com/document/d/1dQXtgxlj8y3iwLzdS6Vkb4uT49nh4g0domTNyXlheh4/edit?tab=t.0)\n- [copy check prompt](https://docs.google.com/document/d/1FK8bdz0Ehm9wULdYXHMBIXb7ZMdV2MmGGUSfi81OWO8/edit?tab=t.0)","height":304,"width":400,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-2912,2144],"typeVersion":1,"id":"ab4827d8-e868-40f9-b80d-b44b960a7698","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"718482ab-45f8-4985-a163-ad78e89088f1","leftValue":"={{ $json.events }}","rightValue":"null","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-976,2944],"id":"c6456bf9-323d-45b7-81b4-d57fcdf88350","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"a4045bd0-fc47-42cf-9468-f260b81b9d7c","name":"copyCheck","value":"🔴 No goal copy data available to analyze","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-768,2784],"id":"706a36df-42a1-4c69-917b-08ed443a03ae","name":"Edit Fields1","alwaysOutputData":false},{"parameters":{"promptType":"define","text":"=You are a top-tier copywriting compliance AI agent. Your role is to analyze goal descriptions from mobile game events, focusing exclusively on the “goal_for_members” field provided in structured goal data from tabular exports.\n\nYour mission is to:\n\n- Ensure every goal shown to members adheres to the Swagbucks Style Guide for Game Offers\n- Identify formatting or clarity violations (e.g., title case, length, vague verbs, redundant phrasing)\n- Suggest revised goal names that are clear, actionable, and compliant\n\nHere is the Swagbucks Style Guide for Game Offers to reference:\n\n{{ $json.content }}\n\nHere is your goal data to analyze:\n\n{{ $('Edit Fields').first().json.events }}\n\nData quality check: If you did not receive a field in the goal data named “goal_for_members” or similar that has goal descriptions, skip the rest and only output the following to goalCheck: 🔴 No goal_for_members data found to analyze.\n\nHere are your instructions:\n\n1. Review the each goal against this checklist:\n\n- Follows Swagbucks Style Guide for Game Offers \n- Must be ≤ 50 characters  \n- Must use Title Case  \n- Must include a clear, approved action verb  \n- Must avoid internal references or unclear terms  \n- Must match the correct style guide goal type\n- Ensure character count compliance and remove any disallowed patterns (like app names or unclear tokens).\n- Determine it’s color coded score based on prior items in checklist:\n🟢 Green = Fully Compliant  \n🟡 Yellow = Minor Fixes Needed  \n🔴 Red = Major Revision Required  \n\n2. Suggest Fixes if needed for each goal:\n- Provide a revised version for each 🟡 or 🔴 goal  \n- Shorten or reword to be clear and actionable  \n- Use proper templates and tone for the audience\n\n3. Compile your results into a table for a Jira comment using this format:\n\n|| SCORE || BEFORE || AFTER || NOTES ||  \n| 🟢 | Original Goal | Revised Goal | \"Fixed capitalization\", \"Replaced vague verb\", etc. |\n\n4. Use your ‘Add jira comment’ tool to post the comment like this:\n\n 🎮 GOALS COPY ANALYSIS RESULTS\n\n{insert your table from Step 3}\n\n5. Final structured output\n\nSet your final goalCheck output equal to one of the following options:\n\n- If you were successful in performing the analysis and adding it as a comment to Jira output this:\n    🔴 {Insert your explanation of why offer is failing goalCheck} Check comments for results.\n- If you were not successful in performing the analysis and/or adding it as a comment to Jira output this:\n    🟢 {Insert your explanation of why offer is passing goalCheck}.\n\nLimit output to 1-2 succinct sentences.","hasOutputParser":true,"options":{"maxIterations":5}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-560,2944],"id":"65005351-584f-4f25-b10c-c589b61fc834","name":"Game Coco Agent"},{"parameters":{"toolDescription":"Sets Parent","method":"PUT","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}","authentication":"predefinedCredentialType","nodeCredentialType":"jiraSoftwareCloudApi","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"[\n  {\n    \"name\": \"Content-Type\",\n    \"value\": \"application/json\"\n  },\n  {\n    \"name\": \"Accept\",\n    \"value\": \"application/json\"\n  }\n]\n","sendBody":true,"specifyBody":"json","jsonBody":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', ``, 'json') }}","options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-496,2032],"id":"4ff6b08d-4492-4a04-9439-1fbfc31916c2","name":"Set Parent via API","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"Jira n8n-jira_automation-exp_Sep9"}}}],"connections":{"Edit Fields":{"main":[[{"node":"Check Parent Agent","type":"main","index":0},{"node":"Creatives Agent","type":"main","index":0},{"node":"Check Goals Agent","type":"main","index":0},{"node":"If","type":"main","index":0},{"node":"Link Agent","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Check Parent Agent","type":"ai_languageModel","index":0}]]},"Get Parent Issue":{"ai_tool":[[{"node":"Check Parent Agent","type":"ai_tool","index":0}]]},"Search for Parent Issue":{"ai_tool":[[{"node":"Check Parent Agent","type":"ai_tool","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Check Parent Agent","type":"ai_outputParser","index":0}]]},"Create Parent Issue":{"ai_tool":[[{"node":"Check Parent Agent","type":"ai_tool","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Attach Parent to Issue":{"ai_tool":[[{"node":"Check Parent Agent","type":"ai_tool","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Check Goals Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Check Goals Agent","type":"ai_languageModel","index":0}]]},"Check Goals Agent":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Check Parent Agent":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Add a comment in Jira Software1":{"ai_tool":[[{"node":"Game Coco Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Game Coco Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Game Coco Agent","type":"ai_outputParser","index":0}]]},"Add a comment":{"main":[[]]},"Merge":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Add a comment","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"URL Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"URL Agent","type":"ai_outputParser","index":0}]]},"Crawl URL":{"ai_tool":[[{"node":"URL Agent","type":"ai_tool","index":0}]]},"URL Agent":{"main":[[]]},"Get an issue in Jira Software1":{"ai_tool":[[{"node":"Creatives Agent","type":"ai_tool","index":0}]]},"HTTP Request3":{"ai_tool":[[{"node":"Creatives Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Creatives Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"Creatives Agent","type":"ai_outputParser","index":0}]]},"Creatives Agent":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Get an issue in Jira Software2":{"ai_tool":[[{"node":"Link Agent","type":"ai_tool","index":0}]]},"Extract in Tavily1":{"ai_tool":[[{"node":"Link Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"Link Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser5":{"ai_outputParser":[[{"node":"Link Agent","type":"ai_outputParser","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"Game Coco Agent","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Get a document","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Link Agent":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Game Coco Agent":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Set Parent via API":{"ai_tool":[[{"node":"Check Parent Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":900},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"prodegellc.app.n8n.cloud","user-agent":"Automation for Jira AC app/1.0;5b14195c-19ee-461d-959b-632dd2f89b0f","content-length":"13677","accept":"application/json; charset=UTF-8, */*;q=0.8","accept-encoding":"gzip, br","adokey":"ADO-12599","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"2401:1d80:321c:4:5792:d7bb:198a:abbd","cf-ew-via":"15","cf-ipcountry":"US","cf-ray":"9637d034e1d55a21-IAD","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"application/json","x-b3-sampled":"0","x-b3-spanid":"88ec6118fe59a6b3","x-b3-traceid":"53d5e1ebef751d7ff0c066d0eec383e2","x-forwarded-for":"2401:1d80:321c:4:5792:d7bb:198a:abbd, 172.70.35.208","x-forwarded-host":"prodegellc.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-30-6d57d45df-x2ghq","x-is-trusted":"yes","x-real-ip":"2401:1d80:321c:4:5792:d7bb:198a:abbd"},"params":{},"query":{},"body":{"self":"https://prodege.atlassian.net/rest/api/2/issue/233902","id":233902,"key":"ADO-12599","changelog":{"startAt":0,"maxResults":0,"total":0,"histories":null},"fields":{"statuscategorychangedate":"2025-07-22T16:16:27.072-0700","issuetype":{"namedValue":"New Offer Request","self":"https://prodege.atlassian.net/rest/api/2/issuetype/10120","id":10120,"description":"Stories track functionality or features expressed as user goals.","iconUrl":"https://prodege.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10315?size=medium","name":"New Offer Request","untranslatedName":null,"subtask":false,"fields":{},"statuses":[],"hierarchyLevel":0},"timespent":null,"project":{"self":"https://prodege.atlassian.net/rest/api/2/project/10096","id":10096,"key":"ADO","name":"AdOps Disco PM","description":null,"avatarUrls":{"48x48":"https://prodege.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10569","24x24":"https://prodege.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10569?size=small","16x16":"https://prodege.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10569?size=xsmall","32x32":"https://prodege.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10569?size=medium"},"issuetypes":null,"projectCategory":null,"email":null,"lead":null,"components":null,"versions":null,"projectTypeKey":"business","simplified":true},"fixVersions":[],"aggregatetimespent":null,"statusCategory":{"self":"https://prodege.atlassian.net/rest/api/2/statuscategory/2","id":2,"key":"new","colorName":"blue-gray","name":"To Do"},"resolution":null,"customfield_10476":[{"self":"https://prodege.atlassian.net/rest/api/2/customFieldOption/11454","value":"Needs RevOps","id":"11454"}],"customfield_10477":null,"customfield_11316":null,"customfield_10349":null,"resolutiondate":null,"workratio":-1,"lastViewed":"2025-07-22T17:19:23.519-0700","watches":{"self":"https://prodege.atlassian.net/rest/api/2/issue/ADO-12599/watchers","watchCount":4,"isWatching":true},"created":1753226186498,"customfield_11151":"Comma-delimited list of Offer Shell IDs in OS3","customfield_11153":"40614626921","customfield_10021":null,"priority":{"self":"https://prodege.atlassian.net/rest/api/2/priority/10011","id":10011,"name":"Minor","iconUrl":"https://prodege.atlassian.net/images/icons/priorities/minor.svg","namedValue":"Minor"},"labels":[],"customfield_10019":"1|i02i13:","timeestimate":null,"aggregatetimeoriginalestimate":null,"versions":[],"issuelinks":[{"id":127794,"type":{"id":10001,"name":"Cloners","inward":"is cloned by","outward":"clones"},"outwardIssue":{"self":"https://prodege.atlassian.net/rest/api/2/issue/233724","id":233724,"key":"ADO-12540","changelog":{"startAt":0,"maxResults":0,"total":0,"histories":null},"fields":{"summary":"Farmers_Ciao Games (D)_7/21/25","status":{"self":"https://prodege.atlassian.net/rest/api/2/status/10178","description":"","iconUrl":"https://prodege.atlassian.net/","name":"New Offer Request","untranslatedName":null,"id":10178,"statusCategory":{"self":"https://prodege.atlassian.net/rest/api/2/statuscategory/2","id":2,"key":"new","colorName":"blue-gray","name":"To Do"},"untranslatedNameValue":null},"priority":{"self":"https://prodege.atlassian.net/rest/api/2/priority/10011","id":10011,"name":"Minor","iconUrl":"https://prodege.atlassian.net/images/icons/priorities/minor.svg","namedValue":"Minor"},"issuetype":{"namedValue":"New Offer Request","self":"https://prodege.atlassian.net/rest/api/2/issuetype/10120","id":10120,"description":"Stories track functionality or features expressed as user goals.","iconUrl":"https://prodege.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10315?size=medium","name":"New Offer Request","untranslatedName":null,"subtask":false,"fields":{},"statuses":[],"hierarchyLevel":0}},"renderedFields":null},"inwardIssue":null,"issue":{"self":"https://prodege.atlassian.net/rest/api/2/issue/233724","id":233724,"key":"ADO-12540","changelog":{"startAt":0,"maxResults":0,"total":0,"histories":null},"fields":{"summary":"Farmers_Ciao Games (D)_7/21/25","status":{"self":"https://prodege.atlassian.net/rest/api/2/status/10178","description":"","iconUrl":"https://prodege.atlassian.net/","name":"New Offer Request","untranslatedName":null,"id":10178,"statusCategory":{"self":"https://prodege.atlassian.net/rest/api/2/statuscategory/2","id":2,"key":"new","colorName":"blue-gray","name":"To Do"},"untranslatedNameValue":null},"priority":{"self":"https://prodege.atlassian.net/rest/api/2/priority/10011","id":10011,"name":"Minor","iconUrl":"https://prodege.atlassian.net/images/icons/priorities/minor.svg","namedValue":"Minor"},"issuetype":{"namedValue":"New Offer Request","self":"https://prodege.atlassian.net/rest/api/2/issuetype/10120","id":10120,"description":"Stories track functionality or features expressed as user goals.","iconUrl":"https://prodege.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10315?size=medium","name":"New Offer Request","untranslatedName":null,"subtask":false,"fields":{},"statuses":[],"hierarchyLevel":0}},"renderedFields":null},"inward":false},{"id":127795,"type":{"id":10011,"name":"Contains(WBSGantt)","inward":"is contained in","outward":"contains"},"outwardIssue":null,"inwardIssue":{"self":"https://prodege.atlassian.net/rest/api/2/issue/233820","id":233820,"key":"ADO-12580","changelog":{"startAt":0,"maxResults":0,"total":0,"histories":null},"fields":{"summary":" Farmers (Ciao Games (D))","status":{"self":"https://prodege.atlassian.net/rest/api/2/status/10178","description":"","iconUrl":"https://prodege.atlassian.net/","name":"New Offer Request","untranslatedName":null,"id":10178,"statusCategory":{"self":"https://prodege.atlassian.net/rest/api/2/statuscategory/2","id":2,"key":"new","colorName":"blue-gray","name":"To Do"},"untranslatedNameValue":null},"priority":{"self":"https://prodege.atlassian.net/rest/api/2/priority/10003","id":10003,"name":"Low","iconUrl":"https://prodege.atlassian.net/images/icons/priorities/trivial.svg","namedValue":"Low"},"issuetype":{"namedValue":"Parent","self":"https://prodege.atlassian.net/rest/api/2/issuetype/10115","id":10115,"description":"Parent (fka Epics) track large pieces of work. The parent of other tickets like OCR, SRT, NOR, COM, etc...","iconUrl":"https://prodege.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10307?size=medium","name":"Parent","untranslatedName":null,"subtask":false,"fields":{},"statuses":[],"hierarchyLevel":1}},"renderedFields":null},"issue":{"self":"https://prodege.atlassian.net/rest/api/2/issue/233820","id":233820,"key":"ADO-12580","changelog":{"startAt":0,"maxResults":0,"total":0,"histories":null},"fields":{"summary":" Farmers (Ciao Games (D))","status":{"self":"https://prodege.atlassian.net/rest/api/2/status/10178","description":"","iconUrl":"https://prodege.atlassian.net/","name":"New Offer Request","untranslatedName":null,"id":10178,"statusCategory":{"self":"https://prodege.atlassian.net/rest/api/2/statuscategory/2","id":2,"key":"new","colorName":"blue-gray","name":"To Do"},"untranslatedNameValue":null},"priority":{"self":"https://prodege.atlassian.net/rest/api/2/priority/10003","id":10003,"name":"Low","iconUrl":"https://prodege.atlassian.net/images/icons/priorities/trivial.svg","namedValue":"Low"},"issuetype":{"namedValue":"Parent","self":"https://prodege.atlassian.net/rest/api/2/issuetype/10115","id":10115,"description":"Parent (fka Epics) track large pieces of work. The parent of other tickets like OCR, SRT, NOR, COM, etc...","iconUrl":"https://prodege.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10307?size=medium","name":"Parent","untranslatedName":null,"subtask":false,"fields":{},"statuses":[],"hierarchyLevel":1}},"renderedFields":null},"inward":true}],"assignee":null,"updated":1753229374478,"status":{"self":"https://prodege.atlassian.net/rest/api/2/status/10178","description":"","iconUrl":"https://prodege.atlassian.net/","name":"New Offer Request","untranslatedName":null,"id":10178,"statusCategory":{"self":"https://prodege.atlassian.net/rest/api/2/statuscategory/2","id":2,"key":"new","colorName":"blue-gray","name":"To Do"},"untranslatedNameValue":null},"components":[],"timeoriginalestimate":null,"description":"Deal Link: [https://app.hubspot.com/contacts/20464009/record/0-3/40614626921|https://app.hubspot.com/contacts/20464009/record/0-3/40614626921]\n\n||*Fields*||*Values*||\n|Campaign Name|FRM_iOS_US_Prodege|\n|Advertiser|Ciao Games (D)|\n|Sales Rep|Carlos Villagran|\n|Account Manager|Carlos Villagran|\n|Advertiser Email for Tune Login|samet@ciao.games|\n|Intregration Type / Platform (same as PMMR)|Singular : Prodege|\n|Billing Platform|Singular|\n|Android URL|[https://play.google.com/store/apps/details?id=com.quartsoft.gracesisland|https://play.google.com/store/apps/details?id=com.quartsoft.gracesisland]|\n|IOS URL|[https://apps.apple.com/ua/app/the-farmers-island-adventure/id6447639188|https://apps.apple.com/ua/app/the-farmers-island-adventure/id6447639188]|\n|Budget_NOR|$20,000|\n|Rate(&Type)|CPI|\n|Clients KPIs|D1-40% - D7 - 85%, D30- 115%|\n|ROAS Goals (format as Day & ROAS %)|D1-40% - D7 - 85%, D30- 115%|\n|GS Revenue from IAP %|0.05%|\n|Payback Window?|30 days|\n|Launch Dates|ASAP|\n|CAPS: System Wide (O&O)|140|\n|Conversion Point / When Pixel Fires| |\n|Cost to Member / Minimum Spend| |\n|Targeting: Demographics/Geo|US|\n|Disqualifications/Rejections| |\n|Android/ iOS/ Desktop|Android & iOS|\n|Need Cost Reporting? (TUNE, AppsFlyer, Adjust)|Singular|\n|Client Estimate of Time it Takes to Complete (# Days)|30 days|\n|Contract: Cookie/ Attribution Window/ CTIT (# Days)|30 days|\n|Member Displayed: Time Allowed to Complete (# Days)|30 days|\n|If a game, what category?|Puzzle|\n|Did you add it to the PMMR?|Yes|\n|Tracking URL/ Link ID|[https://ciao.sng.link/Dp22d/79gib?_smtype=3&idfa=|https://ciao.sng.link/Dp22d/79gib?_smtype=3&idfa=]{ios_ifa}&aifa={google_aid}&pcn={offer_name}&redirect=false&p={device_os}&ip={ip}&ve={device_os_version}&pcrn={aff_sub2}&cl={transaction_id}|\n|Suppress Shop/Merchant Page?|Yes|\n|Keywords|Farmers, puzzle, island, adventure|\n|Pass sale amount/Ad Revenue in MMP|Yes|\n|Award| |\n|Pend or Instant Award (if different than standard)| |\n|Other Notes/Context/Required Copy?|All the information can be found in this spreadsheet - [https://docs.google.com/spreadsheets/d/1tVW8CV5oTUUJuWY5NAQDc8akjPS5eVmuTLCKA2CheN4/edit?gid=927397400#gid=927397400|https://docs.google.com/spreadsheets/d/1tVW8CV5oTUUJuWY5NAQDc8akjPS5eVmuTLCKA2CheN4/edit?gid=927397400#gid=927397400]|","timetracking":{"originalEstimate":null,"remainingEstimate":null,"timeSpent":null,"originalEstimateSeconds":0,"remainingEstimateSeconds":0,"timeSpentSeconds":0},"customfield_10015":null,"customfield_10447":" Farmers","security":null,"attachment":[],"aggregatetimeestimate":null,"customfield_10009":null,"summary":"CLONED FOR TESTING AUTOMATIONS ONLY - Farmers_Ciao Games (D)_7/21/25","creator":{"self":"https://prodege.atlassian.net/rest/api/2/user?accountId=622980f249c9000070235f43","name":null,"key":null,"accountId":"622980f249c9000070235f43","emailAddress":"boden.johnson@prodege.com","avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/40522b244a8eb9b1b3f8b7cb1ec47b6e?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FBJ-4.png","24x24":"https://secure.gravatar.com/avatar/40522b244a8eb9b1b3f8b7cb1ec47b6e?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FBJ-4.png","16x16":"https://secure.gravatar.com/avatar/40522b244a8eb9b1b3f8b7cb1ec47b6e?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FBJ-4.png","32x32":"https://secure.gravatar.com/avatar/40522b244a8eb9b1b3f8b7cb1ec47b6e?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FBJ-4.png"},"displayName":"Boden Johnson","active":true,"timeZone":"America/Los_Angeles","groups":null,"locale":null,"accountType":"atlassian"},"subtasks":[],"customfield_10480":null,"customfield_10120":null,"reporter":{"self":"https://prodege.atlassian.net/rest/api/2/user?accountId=622980f249c9000070235f43","name":null,"key":null,"accountId":"622980f249c9000070235f43","emailAddress":"boden.johnson@prodege.com","avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/40522b244a8eb9b1b3f8b7cb1ec47b6e?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FBJ-4.png","24x24":"https://secure.gravatar.com/avatar/40522b244a8eb9b1b3f8b7cb1ec47b6e?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FBJ-4.png","16x16":"https://secure.gravatar.com/avatar/40522b244a8eb9b1b3f8b7cb1ec47b6e?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FBJ-4.png","32x32":"https://secure.gravatar.com/avatar/40522b244a8eb9b1b3f8b7cb1ec47b6e?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FBJ-4.png"},"displayName":"Boden Johnson","active":true,"timeZone":"America/Los_Angeles","groups":null,"locale":null,"accountType":"atlassian"},"aggregateprogress":{"progress":0,"total":0},"customfield_10001":null,"customfield_10048":"Ciao Games (D)","environment":null,"customfield_10557":null,"duedate":null,"progress":{"progress":0,"total":0},"votes":{"self":"https://prodege.atlassian.net/rest/api/2/issue/ADO-12599/votes","votes":0,"hasVoted":false},"comment":{"maxResults":0,"total":0,"startAt":0,"comments":[],"last":false},"worklog":{"maxResults":20,"total":0,"startAt":0,"worklogs":[],"last":false}},"renderedFields":null},"webhookUrl":"https://prodegellc.app.n8n.cloud/webhook/packaging-agents","executionMode":"production"}}],"Edit Fields":[{"json":{"issueKey":"ADO-12598","productTitle":" Bingo","clientName":"Treehouse Games (D)","events":null,"description":"Deal Link: [-|"}}]},"versionId":"8ce6af51-5a28-49a2-83fc-526b5150bea4","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-07-23T19:31:13.813Z","createdAt":"2025-07-23T19:31:13.813Z","role":"workflow:owner","workflowId":"9MzcEJbYR2Bjn2Wj","projectId":"NOrA7nVi3G84Nq0v"}],"activeVersion":null,"tags":[{"updatedAt":"2025-06-06T18:17:45.414Z","createdAt":"2025-05-20T18:50:07.486Z","id":"o9kQdq2i4tcW3ACG","name":"disco PM"},{"updatedAt":"2025-06-06T18:17:53.513Z","createdAt":"2025-04-09T22:53:12.719Z","id":"ua93nX6ZUDbcpnxI","name":"jira"}]}