NOR Packaging Agents.json
{"updatedAt":"2025-12-04T18:24:39.000Z","createdAt":"2025-07-21T20:28:50.199Z","id":"Dw3UFo8PO27u0PcQ","name":"NOR Packaging Agents","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"36b76f9b-ffab-4a1c-9e09-6dcab23483da","name":"issueKey","value":"={{ $json.body.key }}","type":"string"},{"id":"8b02f016-1596-4d33-87be-2d8e0939abf4","name":"productTitle","value":"={{ $json.body.fields.customfield_10447 }}","type":"string"},{"id":"151a9c6d-4c03-426c-9f7f-bf24f2f78f29","name":"clientName","value":"={{ $json.body.fields.customfield_10048 }}","type":"string"},{"id":"af184b69-5749-4c8b-a6b6-fb34247c7e65","name":"events","value":"={{ $json.body.fields.customfield_10477 }}","type":"string"},{"id":"8496a324-23e2-40ec-a411-9eed78dcec55","name":"description","value":"={{ $json.body.fields.description }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2528,2848],"id":"5ea8101f-faaf-40af-8181-17044dd7b6b9","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2800,2656],"id":"2ad820ba-0efc-44e2-b532-1de61d8dd90a","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"promptType":"define","text":"=You are a top-tier top-tier QA analyst agent. Your role is to analyze goal tables for mobile game events to ensure all required columns are present, minimum data needed is present and formatted correctly.\n\nYou will receive data below that contains the event or events for an offer. It could be a single sign up and make a deposit event for a fintech lead gen offer, or it could be many events for a mobile game offer including install, level and purchase events.\n\nYour job is to review, audit, and validate this data is complete based on the following checklist:\n\nAudit Checklist:\n\n1. The data received contains at least 1 table of event(s)\n\n2. Determine if this is a mobile game offer or another type of offer.\n\n  2.A. If it's a mobile game offer, make sure the following are present.\n    1. At least one Install Event Type\n    2. A few non install, non purchase Event Types.\n    3. At least 1 purchase Event Type.\n    4. Non install, non purchase Event Types have conversion rates filled in. \n    5. Install has revenue and/or other events have revenue.\n    6. If a purchase event is not general as in 'make first purchase' or 'make any purchase' and is make a specific purchase, then 'purchase amount' value must be greater than 0. \n\n  2.B. if it's not a mobile game offer, make sure the following are present.\n    1. At least one event is present.\n    2. Event revenue value is specified.\n\n3. Based on the results of your findings, provide a goalCheck update using the one of following formats. Keep it short and succinct:\n  3.A If items failed checklist:\n    🔴 {Insert your explanation of why offer is failing goalCheck}.\n  3.B If all items passed checklist:\n    🟢 {Insert your explanation of why offer is passing goalCheck}.\n\nEvent Data:\n\n{{ $json.events }}\n\nLimit output to 1-2 succinct sentences.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-576,2320],"id":"5e68b57e-be66-4c76-a50d-1cf476723a0e","name":"Check Goals Agent"},{"parameters":{"jsonSchemaExample":"{\n\t\"goalStatus\": \"Parent found and attached.\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-384,2544],"id":"50252ae0-ebe4-4eca-aa93-9906354314b4","name":"Structured Output Parser1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-576,2544],"id":"669db28e-67ff-461f-abbf-7a378173b2e6","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"resource":"issueComment","issueKey":"={{ $('Edit Fields').first().json.issueKey }}","comment":"=📦 Packaging Check:\n--------------------\n👩‍👦 Parent Issue: {{ $json.output.parentStatus }}\n\n🎯 Goal Data: {{ $json.output.goalStatus }}\n\n📄 Copy Status: {{ $json.output.copyStatus }}\n\n🔗 Link Status: {{ $json.output.linkStatus }}\n\n🎨 Creative Status: {{ $json.output.creativesStatus }}\n\n","options":{}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[2256,2848],"id":"048fd4ed-219d-433c-9a9b-9c67d5c78a32","name":"Add a comment","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"n8n-jira_automation-expires_2026_Feb15"}}},{"parameters":{"resource":"issueComment","issueKey":"={{ $('Edit Fields').first().json.issueKey }}","comment":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Comment', ``, 'string') }}","options":{"wikiMarkup":true}},"type":"n8n-nodes-base.jiraTool","typeVersion":1,"position":[-288,3168],"id":"0b9fd88f-1c4f-4b6b-8dcb-e7aa4ab59eb2","name":"Add a comment in Jira Software1","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"n8n-jira_automation-expires_2026_Feb15"}},"disabled":true},{"parameters":{"jsonSchemaExample":"{\n\t\"copyStatus\": \"\",\n    \"jiraComment\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-96,3152],"id":"3b100250-6e70-4f13-827d-d6c1dba4bff9","name":"Structured Output Parser2"},{"parameters":{"numberInputs":5},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1840,2800],"id":"3ab48be5-d5a3-4ee5-a96d-217056003f60","name":"Merge"},{"parameters":{"jsCode":"// Get all items from the input\nconst items = $input.all();\n\n// Create a new merged object\nlet mergedOutput = {};\n\n// Loop through each item and merge its output properties\nitems.forEach(item => {\n  if (item.json && item.json.output) {\n    // Merge all properties from the current item's output into the mergedOutput\n    Object.assign(mergedOutput, item.json.output);\n  }\n});\n\n// Return a single item with the merged output\nreturn [\n  {\n    json: {\n      output: mergedOutput\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2048,2848],"id":"586a7f76-6684-4d04-9eea-71948ded2190","name":"Code"},{"parameters":{"operation":"get","issueKey":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Issue_Key', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.jiraTool","typeVersion":1,"position":[-416,4176],"id":"d47eb3ff-ae13-4a7e-95b8-607be1e08925","name":"Get an issue in Jira Software1","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"n8n-jira_automation-expires_2026_Feb15"}}},{"parameters":{"url":"=https://prodege.atlassian.net/rest/api/3/issue/{{ $json.issueKey }}/remotelink","authentication":"predefinedCredentialType","nodeCredentialType":"jiraSoftwareCloudApi","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-272,4176],"id":"605d44f2-5d24-482c-87dc-465d3472e42b","name":"HTTP Request3","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"n8n-jira_automation-expires_2026_Feb15"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-576,4144],"id":"bacef137-82f4-46ea-998e-4da1cdddf82b","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"promptType":"define","text":"=Execute function for {{ $json.issueKey }} .","hasOutputParser":true,"options":{"systemMessage":"=Your task is to review the Jira ticket identified by the key provded by the user.\n\nSteps to follow:\n\n1. Use the HTTP Request node to get all remote links associated with the provided Jira ticket.\n\n2.Extract all hyperlinks from the remote links’ response.\n\n3.Identify any hyperlinks that point to other Jira tickets, i.e., links that contain a Jira issue key (e.g., \"PRT-123\").\n\n4.For each linked Jira ticket:\n\n  -Extract the project key (the part before the hyphen, e.g., \"PRT\" in \"PRT-123\").\n\n  -If the project key is \"PRT\", continue.\n\n5. Use the \"Get Issue\" node (Jira Get an Issue tool) to fetch the full details of the linked PRT ticket.\n\n6. Check the attachments on that PRT ticket:\n\nAt least one attachment must be a PNG or JPEG image.\n\nAt least one image must be at least 1500px wide and at least 1000px high (they can be the same image that satisfies both conditions).\n\nIf you weren't able to verify both conditions successfully:\n    \"🔴 {Insert your explination of why offer is failing the Creatives Check}.\"\nIf you were able to verify both conditions successfully:\n    \"🟢 {Insert your explination of why offer is passing the Creatives Check}.\"\n\nLimit output to 1-2 succinct sentences."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-576,3968],"id":"817e7d70-854f-42bc-9709-20fd15353a21","name":"Creatives Agent"},{"parameters":{"jsonSchemaExample":"{\n\t\"creativesStatus\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-128,4160],"id":"3181360d-cafd-42d0-9946-1b185971399c","name":"Structured Output Parser4"},{"parameters":{"operation":"get","issueKey":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Issue_Key', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.jiraTool","typeVersion":1,"position":[-560,3648],"id":"5a44f2f5-816a-4272-a420-b43a3fd6d9f1","name":"Get an issue in Jira Software2","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"n8n-jira_automation-expires_2026_Feb15"}},"disabled":true},{"parameters":{"resource":"extract","urls":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('urls0_URLs', `IOS LINK`, 'string') }}","={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('urls1_URLs', `ANDroid Link`, 'string') }}"],"options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[-400,3648],"id":"c3d88059-5862-48dd-84ec-bd16c6407dbd","name":"Extract in Tavily1","credentials":{"tavilyApi":{"id":"2SHWdpC10Rb5CNvy","name":"Tavily: n8n-fef-tavily2"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-704,3584],"id":"e221499d-90c9-43dc-9835-8e023c325c8f","name":"OpenAI Chat Model6","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"linkStatus\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-240,3648],"id":"e51f3abc-f6a8-4b5c-9320-46b7b863b359","name":"Structured Output Parser5"},{"parameters":{"promptType":"define","text":"=Here is your offer info: {{ $json.description }}","hasOutputParser":true,"options":{"systemMessage":"You are an automation agent integrated with Jira and Tavily. Follow these steps exactly:\n\n1. Using the offer info provided, determine which device platforms this offer runs on by looking at the 'Android/ iOS/ Desktop' field's value.\n\n2. For the device platforms that are present for this offer, extract the Google Play Store and/or Apple App Store URLs from the Jira Description, some offers will only be one device platform and that is fine.\n\n3. Use the Tavily MCP tool with the URLs to:\n\nCheck if each link is working\n\nVerify that the page content is correct based on the product title and client name from Jira.\n\nOutput one of following to linkStatus based on your results:\n\nIf you weren't able to find or verify link(s):\n    \"🔴 {Insert your explanation of why offer is failing the URL Check}.\"\nIf you were able to find and verify link(s):\n    \"🟢 {Insert your explanation of why offer is passing the URL Check}.\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-688,3440],"id":"0efd3f7d-2d2c-4f3b-b9ab-1682c9ce4ef0","name":"Link Agent"},{"parameters":{"path":"packaging-agents","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2816,3056],"id":"6a90c484-042c-460f-a179-9af08dbd5a55","name":"Webhook","webhookId":"40af1405-ca88-4112-be63-5694944782c2"},{"parameters":{"content":"## Prompt doc links\n- [GAMES STYLE GUIDE](https://docs.google.com/document/d/1n3vUwt2qaf-Bu85j3DThQwjPfC6c-Yze7_G1RtEdFsE/edit?tab=t.0)","height":304,"width":288,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-2912,2144],"typeVersion":1,"id":"5419179b-f96d-4c4b-9797-6a26b5c0ad29","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"718482ab-45f8-4985-a163-ad78e89088f1","leftValue":"={{ $json.events }}","rightValue":"null","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-912,2944],"id":"ce6862a6-7d55-457d-a212-050c68baa435","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"a4045bd0-fc47-42cf-9468-f260b81b9d7c","name":"output.copyStatus","value":"🔴 No goal copy data available to analyze","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-352,2784],"id":"f6cf58b9-705e-4558-ba30-b14d0aa613a7","name":"Edit Fields1","alwaysOutputData":false},{"parameters":{"promptType":"define","text":"=Here is your goal description data to analyze, specifically the “goal for members” field, which could be named goal description instead:\n\n{{ $('Edit Fields').first().json.events }}","hasOutputParser":true,"options":{"systemMessage":"=# Games Coco - Games Goal Description Specialist\n\n## Core Identity & Expertise Statement\n\nYou are **\"Games Coco\"**, the Games Goal Description Specialist, an elite copywriter and behavioral psychology expert focused exclusively on optimizing mobile game goal descriptions for Swagbucks members. Your mission is to transform client-provided event names into clear, engaging, and psychologically compelling goal descriptions that drive member engagement and completion.\n\n### Primary Identity\n\nYou possess specialized expertise in:\n- Advanced behavioral psychology application for gaming engagement and habit formation\n- Hook Model implementation for variable reward systems in mobile games\n- Member-friendly copywriting that transforms technical jargon into clear, actionable goals\n- Swagbucks brand voice and style guide compliance for games content\n- Gaming psychology principles that motivate completion and sustained engagement\n\n### Core Competencies\n- **Style Guide Mastery**: Enforce all formatting, character limits, and structural requirements\n- **Psychology Integration**: Apply Hook Model and habit formation principles to goal descriptions\n- **Clarity Optimization**: Transform confusing client terminology into member-comprehensible language\n- **Engagement Enhancement**: Create goal descriptions that motivate action and completion\n- **Brand Consistency**: Maintain Swagbucks voice while optimizing for gaming context\n\n## Your responsibilites:\n\n#### Step 1. Analyze goal descriptions against the Games Coco Knowledge Base - Synthesized Reference Document found below.\n\n#### Step 2. Determine a score for each goal description using this framework and if any changes are required, suggest an updated goal description.:\n\n- Score Option 1: 🟢 GREEN (Excellent, you didn't identify any require changes): Meets all Games Coco Knowledge Base - Synthesized Reference Document requirements\n- Score Option 2: 🟡 YELLOW (Needs Minor Fixes): Mostly compliant, 1-2 fixable issues\n- Score Option 3: 🔴 RED (Poor/Major Revision/Human Review Required): Multiple violations\n\n#### Step 3: Compile the results from your analysis into your output like this:\n\ncopyStatus:\n\n- If you analyzed all goals and absolutely no changes were needed:\n“🟢 {Insert 1-2 sentence explanation of why}”\n\n- If you analyzed all goals and a few minor changes were suggested:\n“🟡 {Insert 1-2 sentence explanation of why}”\n\n- If you analyzed all goals and major changes are needed/ were suggested:\n“🔴 {Insert 1-2 sentence explanation of why}”\n\njiraComment:\n\n```\n🎮 GOALS COPY ANALYSIS RESULTS\n\n|| SCORE || BEFORE || AFTER || NOTES ||\n| 🟢 (No Changes) | Original Goal | Revised Goal | \"No changes required\", \"Replaced vague verb\", etc. |\n| 🟡 (Minor Changes) | Original Goal | Revised Goal | \"Shortened for character limit\", \"Clarified action verb\", etc. |\n| 🔴 (Major Changes)| Original Goal | Revised Goal | \"Major rewrite for clarity\", \"Removed jargon\", etc. |\n```\n\n–\n\n{{ $json.content }}","maxIterations":5}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-432,2944],"id":"6a117e67-5fb8-4042-8ed8-09be74bd56e5","name":"Game Coco Agent"},{"parameters":{"toolDescription":"Sets Parent","method":"PUT","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}","authentication":"predefinedCredentialType","nodeCredentialType":"jiraSoftwareCloudApi","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"[\n  {\n    \"name\": \"Content-Type\",\n    \"value\": \"application/json\"\n  },\n  {\n    \"name\": \"Accept\",\n    \"value\": \"application/json\"\n  }\n]\n","sendBody":true,"specifyBody":"json","jsonBody":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', ``, 'json') }}","options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-496,2096],"id":"33d39ca6-e9cc-4b20-b2db-ff2e45053dd6","name":"Set Parent via API","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"n8n-jira_automation-expires_2026_Feb15"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-752,1952],"id":"a24d0a87-ac5c-43b7-8ed8-71d9a49c723e","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"operation":"get","issueKey":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Issue_Key', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.jiraTool","typeVersion":1,"position":[-656,2096],"id":"48467b14-f51d-49fc-976e-d09fb1378ce0","name":"Get Parent Issue1","credentials":{"jiraSoftwareCloudApi":{"id":"2Q2IOFvXJTaYdPvZ","name":"Jira n8n-jira_automation-expires_2026_Jan28"}}},{"parameters":{"operation":"getAll","limit":5,"options":{"fields":"id,key,summary","jql":"=project = \"AdOps Disco PM\" AND type = \"Parent\" AND customfield_10048 ~ \"{{ $('Edit Fields').item.json.clientName }}\""}},"type":"n8n-nodes-base.jiraTool","typeVersion":1,"position":[-336,2096],"id":"4f146ecc-57a7-4159-9c87-83cd7959b3f4","name":"Search for Parent Issue1","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"n8n-jira_automation-expires_2026_Feb15"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"parentStatus\": \"Parent found and attached.\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[128,2112],"id":"f17fa606-52c4-42b4-b653-9670bfe1ff57","name":"Structured Output Parser3"},{"parameters":{"project":{"__rl":true,"value":"10096","mode":"list","cachedResultName":"AdOps Disco PM"},"issueType":{"__rl":true,"value":"10115","mode":"list","cachedResultName":"Parent"},"summary":"={{ $('Edit Fields').item.json.productTitle }}({{ $('Edit Fields').item.json.clientName }})","additionalFields":{"customFieldsUi":{"customFieldsValues":[{"fieldId":{"__rl":true,"value":"customfield_10048","mode":"list","cachedResultName":"Client Name"},"fieldValue":"={{ $('Edit Fields').item.json.clientName }}"},{"fieldId":{"__rl":true,"value":"customfield_10447","mode":"list","cachedResultName":"Product Title"},"fieldValue":"={{ $('Edit Fields').item.json.productTitle }}"}]}}},"type":"n8n-nodes-base.jiraTool","typeVersion":1,"position":[-160,2096],"id":"1b63ce36-476d-4907-9b7c-1051137ceb84","name":"Create Parent Issue1","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"n8n-jira_automation-expires_2026_Feb15"}}},{"parameters":{"promptType":"define","text":"=Execute parent check and update function","hasOutputParser":true,"options":{"systemMessage":"=You are a Jira expert. Use the tools provided to manage parent issue associations for Jira tickets based on the following data:\n\nIssue Key: {{ $json.issueKey }}\n\nProduct Title: {{ $json.productTitle }}\n\nAdvertiser: {{ $json.clientName }}\n\nYour workflow should follow these steps:\n\n1. Check if a parent is already attached\n\nUse the Get Parent Issue tool to retrieve the PARENT information of issue key: {{ $json.issueKey }}\n.\n\nIf a parent exists:\n\nCheck if the parent’s customfield_10048 matches the advertiser: {{ $json.clientName }}\n\nCheck if the Product Title ({{ $json.productTitle }}) appears somewhere in the parent.\n\nIf both match, output:\n\n\"🟢 Parent (parent key) already attached to ticket\" and end function here.\n\nIf either one does not match, there is no parent, or there is an error retrieving parent then move on to step 2.\n\n2. Search for an existing parent issue\n\nIf no parent is attached or it doesn't match the conditions above:\n\nUse the Search for Parent Issue tool to find a parent issue that:\n\nHas customfield_10048 equal to {{ $json.clientName }}\n\nContains the Product Title {{ $json.productTitle }} somewhere in the issue (e.g., summary, description).\n\nIf a valid parent is found:\n\nUse the Set Parent via API tool with:\n\nURL:\n\nhttps://prodege.atlassian.net/rest/api/3/issue/{{ $json.issueKey }}\n\n\nBody:\n\n{\n  \"fields\": {\n    \"parent\": {\n      \"key\": \"(insert found parent key)\"\n    }\n  }\n}\n\n\nThen output:\n\n\"🟢 Parent (parent key) found and added to ticket\" \n\nIf no matching parent is found move onto step 3.\n\n3. Create and assign a new parent issue\n\n\n\nUse the Create Parent Issue tool to create a new parent issue.\n\nThen use the Set Parent via API tool with:\n\nURL:\n\nhttps://prodege.atlassian.net/rest/api/3/issue/{{ $json.issueKey }}\n\nBody:\n\n{\n  \"fields\": {\n    \"parent\": {\n      \"key\": \"(insert newly created parent key)\"\n    }\n  }\n}\n\nThen output:\n\n\"🟢 Parent (parent key) created and added to ticket\" and end function here\n\n4. Handle errors\n\nIf any step fails (e.g., error getting, searching, creating, or setting parent), output:\n\n\"🔴 Error: {insert description of step you got stuck on}\" and end function here.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-576,1776],"id":"04aa4505-bc8a-4e4d-bcab-1f322b7cee89","name":"Check Parent Agent1"},{"parameters":{"descriptionType":"manual","toolDescription":"Update the parent to 'ADO-12539' and make issue contained in 'ADO-12539'.","operation":"update","issueKey":"={{ $('Edit Fields').item.json.issueKey }}","updateFields":{}},"type":"n8n-nodes-base.jiraTool","typeVersion":1,"position":[-16,2096],"id":"bf7ae2cd-1d43-412b-8823-bd59b2cbeecf","name":"Attach Parent to Issue1","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"n8n-jira_automation-expires_2026_Feb15"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-64,2864],"id":"3445664b-b5c4-4be6-ac2a-3d551336c2b4","name":"Merge1"},{"parameters":{"authentication":"serviceAccount","operation":"get","documentURL":"https://docs.google.com/document/d/1n3vUwt2qaf-Bu85j3DThQwjPfC6c-Yze7_G1RtEdFsE/edit?tab=t.0#heading=h.6tvytw38ta9s"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-608,2944],"id":"71939d54-7cfb-4028-bd17-0afc65debd32","name":"GAMES STYLE GUIDE","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"temperature":0.6}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-496,3168],"id":"e9ad5f47-2a78-435b-8c43-ebfed984cacb","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"content":"## Packaging Agents\n- Check parent\n- Check goal data\n- Check goal copy\n- Check links\n- Check creatives","height":304,"width":352},"type":"n8n-nodes-base.stickyNote","position":[-3296,2144],"typeVersion":1,"id":"1d3398a9-63c1-4a99-8ea9-b734709aefc1","name":"Sticky Note1"},{"parameters":{"content":"## Credentials\n- Jira\n- google service account\n- Tivaley\n- Openai","height":304,"width":400,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-2592,2144],"typeVersion":1,"id":"f7bee768-ded9-4db8-b701-b0df8a5563a8","name":"Sticky Note2"}],"connections":{"Edit Fields":{"main":[[{"node":"Creatives Agent","type":"main","index":0},{"node":"Check Goals Agent","type":"main","index":0},{"node":"If","type":"main","index":0},{"node":"Link Agent","type":"main","index":0},{"node":"Check Parent Agent1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Check Goals Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Check Goals Agent","type":"ai_languageModel","index":0}]]},"Check Goals Agent":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Add a comment in Jira Software1":{"ai_tool":[[{"node":"Game Coco Agent","type":"ai_tool","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Game Coco Agent","type":"ai_outputParser","index":0}]]},"Add a comment":{"main":[[]]},"Merge":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Add a comment","type":"main","index":0}]]},"Get an issue in Jira Software1":{"ai_tool":[[{"node":"Creatives Agent","type":"ai_tool","index":0}]]},"HTTP Request3":{"ai_tool":[[{"node":"Creatives Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Creatives Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"Creatives Agent","type":"ai_outputParser","index":0}]]},"Creatives Agent":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Get an issue in Jira Software2":{"ai_tool":[[{"node":"Link Agent","type":"ai_tool","index":0}]]},"Extract in Tavily1":{"ai_tool":[[{"node":"Link Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"Link Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser5":{"ai_outputParser":[[{"node":"Link Agent","type":"ai_outputParser","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"GAMES STYLE GUIDE","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Link Agent":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Game Coco Agent":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Set Parent via API":{"ai_tool":[[{"node":"Check Parent Agent1","type":"ai_tool","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Check Parent Agent1","type":"ai_languageModel","index":0}]]},"Get Parent Issue1":{"ai_tool":[[{"node":"Check Parent Agent1","type":"ai_tool","index":0}]]},"Search for Parent Issue1":{"ai_tool":[[{"node":"Check Parent Agent1","type":"ai_tool","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"Check Parent Agent1","type":"ai_outputParser","index":0}]]},"Create Parent Issue1":{"ai_tool":[[{"node":"Check Parent Agent1","type":"ai_tool","index":0}]]},"Attach Parent to Issue1":{"ai_tool":[[{"node":"Check Parent Agent1","type":"ai_tool","index":0}]]},"Check Parent Agent1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Merge","type":"main","index":2}]]},"GAMES STYLE GUIDE":{"main":[[{"node":"Game Coco Agent","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Game Coco Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":900},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"prodegellc.app.n8n.cloud","user-agent":"Automation for Jira AC app/1.0;1e7a8ada-fec3-4b46-a34f-450f9742439c","content-length":"42611","accept":"application/json; charset=UTF-8, */*;q=0.8","accept-encoding":"gzip, br","adokey":"ADO-12700","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"2401:1d80:321c:5:f12a:8b5:819f:24cc","cf-ew-via":"15","cf-ipcountry":"US","cf-ray":"964641b104a98c9d-IAD","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"application/json","x-b3-sampled":"0","x-b3-spanid":"8401e26931fa6b57","x-b3-traceid":"1849e49d0520cfe2e05cc0aabbc1dc7d","x-forwarded-for":"2401:1d80:321c:5:f12a:8b5:819f:24cc, 104.23.211.41","x-forwarded-host":"prodegellc.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-30-6d57d45df-gvn7f","x-is-trusted":"yes","x-real-ip":"2401:1d80:321c:5:f12a:8b5:819f:24cc"},"params":{},"query":{},"body":{"self":"https://prodege.atlassian.net/rest/api/2/issue/234299","id":234299,"key":"ADO-12700","changelog":{"startAt":0,"maxResults":0,"total":0,"histories":null},"fields":{"statuscategorychangedate":"2025-07-24T12:58:11.056-0700","issuetype":{"namedValue":"New Offer Request","self":"https://prodege.atlassian.net/rest/api/2/issuetype/10120","id":10120,"description":"Stories track functionality or features expressed as user goals.","iconUrl":"https://prodege.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10315?size=medium","name":"New Offer Request","untranslatedName":null,"subtask":false,"fields":{},"statuses":[],"hierarchyLevel":0},"timespent":null,"project":{"self":"https://prodege.atlassian.net/rest/api/2/project/10096","id":10096,"key":"ADO","name":"AdOps Disco PM","description":null,"avatarUrls":{"48x48":"https://prodege.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10569","24x24":"https://prodege.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10569?size=small","16x16":"https://prodege.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10569?size=xsmall","32x32":"https://prodege.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10569?size=medium"},"issuetypes":null,"projectCategory":null,"email":null,"lead":null,"components":null,"versions":null,"projectTypeKey":"business","simplified":true},"fixVersions":[],"aggregatetimespent":null,"statusCategory":{"self":"https://prodege.atlassian.net/rest/api/2/statuscategory/2","id":2,"key":"new","colorName":"blue-gray","name":"To Do"},"resolution":null,"customfield_10476":null,"customfield_10477":"{adf:display=block}\n{\"type\":\"table\",\"attrs\":{\"isNumberColumnEnabled\":false,\"layout\":\"center\",\"localId\":\"d460bc20-afc7-40e9-aab3-02d96b9f19de\"},\"content\":[{\"type\":\"tableRow\",\"content\":[{\"type\":\"tableCell\",\"attrs\":{\"colspan\":7,\"background\":\"#cfe2f3\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"GOALS\"}]}]}]},{\"type\":\"tableRow\",\"content\":[{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"Goal Description\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"Time to Complete\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"Estimated CR\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"iOS Tokens\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"Revenue\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#a4c2f4\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"O&O Rewards\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#f4cccc\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"PPN Rewards\"}]}]}]},{\"type\":\"tableRow\",\"content\":[{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"Install (O&O Only)\"}]}]},{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#c9daf8\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"$8.00\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\"}]}]},{\"type\":\"tableRow\",\"content\":[{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"Install (PPN Only)\"}]}]},{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#f4cccc\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"$6.00\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\"}]}]},{\"type\":\"tableRow\",\"content\":[{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"Reach Level 3\"}]}]},{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"30 days\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"35%\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"jzd61n\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"$0.35\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"$0.25\"}]}]}]},{\"type\":\"tableRow\",\"content\":[{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"Reach Level 5\"}]}]},{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"30 days\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"20%\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"kev42i\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"$0.60\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"$0.45\"}]}]}]},{\"type\":\"tableRow\",\"content\":[{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"Reach Level 10\"}]}]},{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"30 days\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"14%\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"lxdynb\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"$0.90\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"$0.65\"}]}]}]},{\"type\":\"tableRow\",\"content\":[{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"Reach Level 15\"}]}]},{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"30 days\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"10%\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"notyyx\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"$1.30\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"$0.90\"}]}]}]},{\"type\":\"tableRow\",\"content\":[{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"Reach Level 25\"}]}]},{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"30 days\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"8%\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"8zr8u4\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"$1.60\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"$1.10\"}]}]}]},{\"type\":\"tableRow\",\"content\":[{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"Reach Level 40\"}]}]},{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"30 days\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"6%\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"3iuxz4\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"$2.10\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"$1.50\"}]}]}]},{\"type\":\"tableRow\",\"content\":[{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"Reach Level 50\"}]}]},{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"30 days\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"5%\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"wrkmvf\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"$2.50\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"$1.80\"}]}]}]},{\"type\":\"tableRow\",\"content\":[{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"Reach Level 70\"}]}]},{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"30 days\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"2%\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"47plwi\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"$6.40\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"$4.50\"}]}]}]},{\"type\":\"tableRow\",\"content\":[{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"Purchase Power Cores 150 (cost is $1.99)\"}]}]},{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"30 days\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"4%\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"nvkdw5\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"$1.00\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"$1.00\"}]}]}]},{\"type\":\"tableRow\",\"content\":[{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"Purchase Cluster of Power Cores 375 (cost is $4.99)\"}]}]},{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"30 days\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"2%\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"i5gorn\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"$2.50\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"$2.50\"}]}]}]},{\"type\":\"tableRow\",\"content\":[{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"Revenue\"}]}]},{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"tracking only for ROAS\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\",\"content\":[{\"type\":\"text\",\"text\":\"lkmreo\"}]}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\"}]}]},{\"type\":\"tableRow\",\"content\":[{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{\"background\":\"#ffffff\"},\"content\":[{\"type\":\"paragraph\"}]},{\"type\":\"tableCell\",\"attrs\":{},\"content\":[{\"type\":\"paragraph\"}]}]}]}\n{adf}","customfield_11316":null,"customfield_10349":null,"resolutiondate":null,"workratio":-1,"lastViewed":"2025-07-24T13:42:38.318-0700","watches":{"self":"https://prodege.atlassian.net/rest/api/2/issue/ADO-12700/watchers","watchCount":3,"isWatching":true},"created":1753387090322,"customfield_11151":"Comma-delimited list of Offer Shell IDs in OS3","customfield_11153":"40242791312","customfield_10021":null,"priority":{"self":"https://prodege.atlassian.net/rest/api/2/priority/10011","id":10011,"name":"Minor","iconUrl":"https://prodege.atlassian.net/images/icons/priorities/minor.svg","namedValue":"Minor"},"labels":[],"customfield_10019":"1|i02jsf:","timeestimate":null,"aggregatetimeoriginalestimate":null,"versions":[],"issuelinks":[{"id":128016,"type":{"id":10001,"name":"Cloners","inward":"is cloned by","outward":"clones"},"outwardIssue":{"self":"https://prodege.atlassian.net/rest/api/2/issue/232662","id":232662,"key":"ADO-12237","changelog":{"startAt":0,"maxResults":0,"total":0,"histories":null},"fields":{"summary":"Marvel Force_Scopely (D)_7/14/25","status":{"self":"https://prodege.atlassian.net/rest/api/2/status/10179","description":"","iconUrl":"https://prodege.atlassian.net/","name":"Done","untranslatedName":null,"id":10179,"statusCategory":{"self":"https://prodege.atlassian.net/rest/api/2/statuscategory/3","id":3,"key":"done","colorName":"green","name":"Done"},"untranslatedNameValue":null},"priority":{"self":"https://prodege.atlassian.net/rest/api/2/priority/10011","id":10011,"name":"Minor","iconUrl":"https://prodege.atlassian.net/images/icons/priorities/minor.svg","namedValue":"Minor"},"issuetype":{"namedValue":"New Offer Request","self":"https://prodege.atlassian.net/rest/api/2/issuetype/10120","id":10120,"description":"Stories track functionality or features expressed as user goals.","iconUrl":"https://prodege.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10315?size=medium","name":"New Offer Request","untranslatedName":null,"subtask":false,"fields":{},"statuses":[],"hierarchyLevel":0}},"renderedFields":null},"inwardIssue":null,"issue":{"self":"https://prodege.atlassian.net/rest/api/2/issue/232662","id":232662,"key":"ADO-12237","changelog":{"startAt":0,"maxResults":0,"total":0,"histories":null},"fields":{"summary":"Marvel Force_Scopely (D)_7/14/25","status":{"self":"https://prodege.atlassian.net/rest/api/2/status/10179","description":"","iconUrl":"https://prodege.atlassian.net/","name":"Done","untranslatedName":null,"id":10179,"statusCategory":{"self":"https://prodege.atlassian.net/rest/api/2/statuscategory/3","id":3,"key":"done","colorName":"green","name":"Done"},"untranslatedNameValue":null},"priority":{"self":"https://prodege.atlassian.net/rest/api/2/priority/10011","id":10011,"name":"Minor","iconUrl":"https://prodege.atlassian.net/images/icons/priorities/minor.svg","namedValue":"Minor"},"issuetype":{"namedValue":"New Offer Request","self":"https://prodege.atlassian.net/rest/api/2/issuetype/10120","id":10120,"description":"Stories track functionality or features expressed as user goals.","iconUrl":"https://prodege.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10315?size=medium","name":"New Offer Request","untranslatedName":null,"subtask":false,"fields":{},"statuses":[],"hierarchyLevel":0}},"renderedFields":null},"inward":false}],"assignee":{"self":"https://prodege.atlassian.net/rest/api/2/user?accountId=6180b67ce79ff6006f099528","name":null,"key":null,"accountId":"6180b67ce79ff6006f099528","emailAddress":"kelly.wimmer@prodege.com","avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/1aedaf8d743d96ccb1d86e9b8929d8c2?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FKW-3.png","24x24":"https://secure.gravatar.com/avatar/1aedaf8d743d96ccb1d86e9b8929d8c2?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FKW-3.png","16x16":"https://secure.gravatar.com/avatar/1aedaf8d743d96ccb1d86e9b8929d8c2?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FKW-3.png","32x32":"https://secure.gravatar.com/avatar/1aedaf8d743d96ccb1d86e9b8929d8c2?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FKW-3.png"},"displayName":"Kelly Wimmer","active":true,"timeZone":"America/Los_Angeles","groups":null,"locale":null,"accountType":"atlassian"},"updated":1753389291470,"status":{"self":"https://prodege.atlassian.net/rest/api/2/status/10178","description":"","iconUrl":"https://prodege.atlassian.net/","name":"New Offer Request","untranslatedName":null,"id":10178,"statusCategory":{"self":"https://prodege.atlassian.net/rest/api/2/statuscategory/2","id":2,"key":"new","colorName":"blue-gray","name":"To Do"},"untranslatedNameValue":null},"components":[],"timeoriginalestimate":null,"description":"Deal Link: [https://app.hubspot.com/contacts/20464009/record/0-3/40242791312|https://app.hubspot.com/contacts/20464009/record/0-3/40242791312]\n\n||*Fields*||*Values*||\n|Campaign Name|msf-prodege-us-ios-multirewards-cpi-7232025|\n|Advertiser|Scopely (D)|\n|Sales Rep|Alex Conner|\n|Account Manager|Darren Nokes|\n|Advertiser Email for Tune Login|Cher.Liang@scopely|\n|Intregration Type / Platform (same as PMMR)|Adjust : Prodege|\n|Billing Platform|Adgate|\n|Android URL| |\n|IOS URL|[https://apps.apple.com/nz/app/marvel-strike-force-squad-rpg/id1292952049|https://apps.apple.com/nz/app/marvel-strike-force-squad-rpg/id1292952049|smart-link]|\n|Budget_NOR|18000|\n|Rate(&Type)|$8 CPI O&O/ $6 PPN|\n|Clients KPIs/ ROAS goals|10% D7|\n|GS Revenue from IAP %|0%|\n|Payback Window?|30 days|\n|Launch Dates|7/15/2025|\n|CAPS: System Wide (O&O)|50 daily installs for O&O\n33 daily installs for PPN|\n|Conversion Point / When Pixel Fires|Install and Events|\n|Cost to Member / Minimum Spend|$0|\n|Targeting: Demographics/Geo|US|\n|Disqualifications/Rejections|Not first time players|\n|Android/ iOS/ Desktop|iOS (Apple)|\n|Need Cost Reporting? (TUNE, AppsFlyer, Adjust)|Yes (adjust)|\n|Client Estimate of Time it Takes to Complete (# Days)|30|\n|Contract: Cookie/ Attribution Window/ CTIT (# Days)|30|\n|Member Displayed: Time Allowed to Complete (# Days)|30|\n|If a game, what category?|Role Playing|\n|Did you add it to the PMMR?|Yes|\n|Tracking URL/ Link ID|[https://app.adjust.com/t974ydl?|https://app.adjust.com/t974ydl?]|\n|Suppress Shop/Merchant Page?|Yes|\n|Keywords| |\n|Pass sale amount/Ad Revenue in MMP|Yes|\n|Award| |\n|Pend or Instant Award (if different than standard)| |\n|Other Notes/Context/Required Copy?| |","timetracking":{"originalEstimate":null,"remainingEstimate":null,"timeSpent":null,"originalEstimateSeconds":0,"remainingEstimateSeconds":0,"timeSpentSeconds":0},"customfield_10015":null,"customfield_10447":" Marvel Force","security":null,"attachment":[],"aggregatetimeestimate":null,"customfield_10009":"2025-07-23T08:58:00.846-0700","summary":"CLONE (KW Test) - Marvel Force_Scopely (D)_7/14/25","creator":{"self":"https://prodege.atlassian.net/rest/api/2/user?accountId=6180b67ce79ff6006f099528","name":null,"key":null,"accountId":"6180b67ce79ff6006f099528","emailAddress":"kelly.wimmer@prodege.com","avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/1aedaf8d743d96ccb1d86e9b8929d8c2?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FKW-3.png","24x24":"https://secure.gravatar.com/avatar/1aedaf8d743d96ccb1d86e9b8929d8c2?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FKW-3.png","16x16":"https://secure.gravatar.com/avatar/1aedaf8d743d96ccb1d86e9b8929d8c2?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FKW-3.png","32x32":"https://secure.gravatar.com/avatar/1aedaf8d743d96ccb1d86e9b8929d8c2?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FKW-3.png"},"displayName":"Kelly Wimmer","active":true,"timeZone":"America/Los_Angeles","groups":null,"locale":null,"accountType":"atlassian"},"subtasks":[],"customfield_10480":6,"customfield_10120":null,"reporter":{"self":"https://prodege.atlassian.net/rest/api/2/user?accountId=6180b67ce79ff6006f099528","name":null,"key":null,"accountId":"6180b67ce79ff6006f099528","emailAddress":"kelly.wimmer@prodege.com","avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/1aedaf8d743d96ccb1d86e9b8929d8c2?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FKW-3.png","24x24":"https://secure.gravatar.com/avatar/1aedaf8d743d96ccb1d86e9b8929d8c2?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FKW-3.png","16x16":"https://secure.gravatar.com/avatar/1aedaf8d743d96ccb1d86e9b8929d8c2?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FKW-3.png","32x32":"https://secure.gravatar.com/avatar/1aedaf8d743d96ccb1d86e9b8929d8c2?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FKW-3.png"},"displayName":"Kelly Wimmer","active":true,"timeZone":"America/Los_Angeles","groups":null,"locale":null,"accountType":"atlassian"},"aggregateprogress":{"progress":0,"total":0},"customfield_10001":null,"customfield_10048":"Scopely (D)","environment":null,"customfield_10557":null,"duedate":null,"progress":{"progress":0,"total":0},"votes":{"self":"https://prodege.atlassian.net/rest/api/2/issue/ADO-12700/votes","votes":0,"hasVoted":false},"comment":{"maxResults":6,"total":6,"startAt":0,"comments":[{"self":"https://prodege.atlassian.net/rest/api/2/issue/234299/comment/712065","id":712065,"author":{"self":"https://prodege.atlassian.net/rest/api/2/user?accountId=557058%3Af58131cb-b67d-43c7-b30d-6b58d40bd077","name":null,"key":null,"accountId":"557058:f58131cb-b67d-43c7-b30d-6b58d40bd077","emailAddress":"com.codebarrel.addons.automation@connect.atlassian.com","avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAJ-0.png","24x24":"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAJ-0.png","16x16":"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAJ-0.png","32x32":"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAJ-0.png"},"displayName":"Automation for Jira","active":true,"timeZone":"America/Los_Angeles","groups":null,"locale":null,"accountType":"app"},"body":"Packaging check attempted. Check comments for results. ","renderedBody":null,"updateAuthor":{"self":"https://prodege.atlassian.net/rest/api/2/user?accountId=557058%3Af58131cb-b67d-43c7-b30d-6b58d40bd077","name":null,"key":null,"accountId":"557058:f58131cb-b67d-43c7-b30d-6b58d40bd077","emailAddress":"com.codebarrel.addons.automation@connect.atlassian.com","avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAJ-0.png","24x24":"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAJ-0.png","16x16":"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAJ-0.png","32x32":"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAJ-0.png"},"displayName":"Automation for Jira","active":true,"timeZone":"America/Los_Angeles","groups":null,"locale":null,"accountType":"app"},"created":1753387149567,"updated":1753387149567,"visibility":null},{"self":"https://prodege.atlassian.net/rest/api/2/issue/234299/comment/712067","id":712067,"author":{"self":"https://prodege.atlassian.net/rest/api/2/user?accountId=712020%3A0561b20a-79b4-4469-b9a7-8943e0c5fdca","name":null,"key":null,"accountId":"712020:0561b20a-79b4-4469-b9a7-8943e0c5fdca","emailAddress":null,"avatarUrls":{"48x48":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png","24x24":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png","16x16":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png","32x32":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png"},"displayName":"N8N Automation Service","active":true,"timeZone":"America/Los_Angeles","groups":null,"locale":null,"accountType":"atlassian"},"body":"📦 Packaging Check:\n--------------------\n👩‍👦 Parent Issue: 🟢 Parent ADO-12237 already attached to ticket\n\n🎯 Goal Data: 🟢 Mobile game offer with at least one install event, multiple non-install non-purchase events with conversion rates, and purchase events with purchase amounts > 0; revenue values are present as required, meeting all checklist criteria.\n\n📄 Copy Status: 🟢 All goal descriptions have passed the copyCheck, meeting all style guide requirements and optimizing for member engagement.\n\n🔗 Link Status: 🟢 The iOS App Store link for the offer is working and the page content is correct. It points to the \"MARVEL Strike Force: Squad RPG\" app by Scopely, which matches the product title and client name provided in the offer information. There is no Android URL to verify for this offer as it supports only iOS.\n\n🎨 Creative Status: 🔴 No remote links found for ticket ADO-12700 to verify linked PRT tickets for creatives check.\n\n","renderedBody":null,"updateAuthor":{"self":"https://prodege.atlassian.net/rest/api/2/user?accountId=712020%3A0561b20a-79b4-4469-b9a7-8943e0c5fdca","name":null,"key":null,"accountId":"712020:0561b20a-79b4-4469-b9a7-8943e0c5fdca","emailAddress":null,"avatarUrls":{"48x48":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png","24x24":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png","16x16":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png","32x32":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png"},"displayName":"N8N Automation Service","active":true,"timeZone":"America/Los_Angeles","groups":null,"locale":null,"accountType":"atlassian"},"created":1753387189111,"updated":1753387189111,"visibility":null},{"self":"https://prodege.atlassian.net/rest/api/2/issue/234299/comment/712075","id":712075,"author":{"self":"https://prodege.atlassian.net/rest/api/2/user?accountId=557058%3Af58131cb-b67d-43c7-b30d-6b58d40bd077","name":null,"key":null,"accountId":"557058:f58131cb-b67d-43c7-b30d-6b58d40bd077","emailAddress":"com.codebarrel.addons.automation@connect.atlassian.com","avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAJ-0.png","24x24":"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAJ-0.png","16x16":"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAJ-0.png","32x32":"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAJ-0.png"},"displayName":"Automation for Jira","active":true,"timeZone":"America/Los_Angeles","groups":null,"locale":null,"accountType":"app"},"body":"(-) REMOVED: Needs Additional? = *Needs RevOps*\n\nby: Alexandria Barton","renderedBody":null,"updateAuthor":{"self":"https://prodege.atlassian.net/rest/api/2/user?accountId=557058%3Af58131cb-b67d-43c7-b30d-6b58d40bd077","name":null,"key":null,"accountId":"557058:f58131cb-b67d-43c7-b30d-6b58d40bd077","emailAddress":"com.codebarrel.addons.automation@connect.atlassian.com","avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAJ-0.png","24x24":"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAJ-0.png","16x16":"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAJ-0.png","32x32":"https://secure.gravatar.com/avatar/600529a9c8bfef89daa848e6db28ed2d?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAJ-0.png"},"displayName":"Automation for Jira","active":true,"timeZone":"America/Los_Angeles","groups":null,"locale":null,"accountType":"app"},"created":1753387672287,"updated":1753387672287,"visibility":null},{"self":"https://prodege.atlassian.net/rest/api/2/issue/234299/comment/712078","id":712078,"author":{"self":"https://prodege.atlassian.net/rest/api/2/user?accountId=712020%3A0561b20a-79b4-4469-b9a7-8943e0c5fdca","name":null,"key":null,"accountId":"712020:0561b20a-79b4-4469-b9a7-8943e0c5fdca","emailAddress":null,"avatarUrls":{"48x48":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png","24x24":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png","16x16":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png","32x32":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png"},"displayName":"N8N Automation Service","active":true,"timeZone":"America/Los_Angeles","groups":null,"locale":null,"accountType":"atlassian"},"body":"🎮 GOALS COPY ANALYSIS RESULTS\n\n|| SCORE || BEFORE || AFTER || NOTES ||\n| 🟢 | Install (O&O Only) | Install | \"Removed specific channel reference\" |\n| 🟢 | Install (PPN Only) | Install | \"Removed specific channel reference\" |\n| 🟢 | Reach Level 3 | Complete Level 3 | \"Replaced with action verb for clarity\" |\n| 🟢 | Reach Level 5 | Complete Level 5 | \"Replaced with action verb for clarity\" |\n| 🟢 | Reach Level 10 | Complete Level 10 | \"Replaced with action verb for clarity\" |\n| 🟢 | Reach Level 15 | Complete Level 15 | \"Replaced with action verb for clarity\" |\n| 🟢 | Reach Level 25 | Complete Level 25 | \"Replaced with action verb for clarity\" |\n| 🟢 | Reach Level 40 | Complete Level 40 | \"Replaced with action verb for clarity\" |\n| 🟢 | Reach Level 50 | Complete Level 50 | \"Replaced with action verb for clarity\" |\n| 🟢 | Reach Level 70 | Complete Level 70 | \"Replaced with action verb for clarity\" |\n| 🟢 | Purchase Power Cores 150 (cost is $1.99) | Make a Purchase of 150 Power Cores | \"Simplified and clarified purchase details\" |\n| 🟢 | Purchase Cluster of Power Cores 375 (cost is $4.99) | Make a Purchase of 375 Power Cores | \"Simplified and clarified purchase details\" |","renderedBody":null,"updateAuthor":{"self":"https://prodege.atlassian.net/rest/api/2/user?accountId=712020%3A0561b20a-79b4-4469-b9a7-8943e0c5fdca","name":null,"key":null,"accountId":"712020:0561b20a-79b4-4469-b9a7-8943e0c5fdca","emailAddress":null,"avatarUrls":{"48x48":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png","24x24":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png","16x16":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png","32x32":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png"},"displayName":"N8N Automation Service","active":true,"timeZone":"America/Los_Angeles","groups":null,"locale":null,"accountType":"atlassian"},"created":1753388065682,"updated":1753388065682,"visibility":null},{"self":"https://prodege.atlassian.net/rest/api/2/issue/234299/comment/712080","id":712080,"author":{"self":"https://prodege.atlassian.net/rest/api/2/user?accountId=712020%3A0561b20a-79b4-4469-b9a7-8943e0c5fdca","name":null,"key":null,"accountId":"712020:0561b20a-79b4-4469-b9a7-8943e0c5fdca","emailAddress":null,"avatarUrls":{"48x48":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png","24x24":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png","16x16":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png","32x32":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png"},"displayName":"N8N Automation Service","active":true,"timeZone":"America/Los_Angeles","groups":null,"locale":null,"accountType":"atlassian"},"body":"📦 Packaging Check:\n--------------------\n👩‍👦 Parent Issue: 🟢 Parent ADO-12237 already attached to ticket\n\n🎯 Goal Data: 🟢 The data contains multiple event types including install, level achievements, and specific purchases with appropriate conversion rates and revenue values, meeting all checklist criteria for a mobile game offer.\n\n📄 Copy Status: 🟢 All goals have been successfully revised to meet style guide requirements. Clear action verbs and member-friendly language have been applied, ensuring engagement and clarity. The analysis results have been posted to Jira for record-keeping.\n\n🔗 Link Status: 🟢 The iOS App Store link for the offer 'MARVEL Strike Force: Squad RPG' by Scopely is working correctly. The page content matches the product title and client name from the offer details, confirming that the link is valid and correct.\n\n🎨 Creative Status: 🔴 No remote links found for the ticket ADO-12700, so the creatives check cannot be performed.\n\n","renderedBody":null,"updateAuthor":{"self":"https://prodege.atlassian.net/rest/api/2/user?accountId=712020%3A0561b20a-79b4-4469-b9a7-8943e0c5fdca","name":null,"key":null,"accountId":"712020:0561b20a-79b4-4469-b9a7-8943e0c5fdca","emailAddress":null,"avatarUrls":{"48x48":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png","24x24":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png","16x16":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png","32x32":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png"},"displayName":"N8N Automation Service","active":true,"timeZone":"America/Los_Angeles","groups":null,"locale":null,"accountType":"atlassian"},"created":1753388077014,"updated":1753388077014,"visibility":null},{"self":"https://prodege.atlassian.net/rest/api/2/issue/234299/comment/712094","id":712094,"author":{"self":"https://prodege.atlassian.net/rest/api/2/user?accountId=712020%3A0561b20a-79b4-4469-b9a7-8943e0c5fdca","name":null,"key":null,"accountId":"712020:0561b20a-79b4-4469-b9a7-8943e0c5fdca","emailAddress":null,"avatarUrls":{"48x48":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png","24x24":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png","16x16":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png","32x32":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png"},"displayName":"N8N Automation Service","active":true,"timeZone":"America/Los_Angeles","groups":null,"locale":null,"accountType":"atlassian"},"body":"📦 Packaging Check:\n--------------------\n👩‍👦 Parent Issue: 🟢 Parent ADO-12237 already attached to ticket\n\n🎯 Goal Data: 🟢 The data contains a table with multiple mobile game events including install, level reach, and purchase events; all non-install, non-purchase events have conversion rates and revenue; purchase events specify purchase amounts, meeting all checklist criteria.\n\n📄 Copy Status: 🔴 Major revisions required for purchase goals. Check comments for detailed analysis.\n\n🔗 Link Status: 🟢 The iOS Apple App Store link for 'MARVEL Strike Force: Squad RPG' by Scopely was found and verified successfully. The app page content matches the product title and client name from Jira, confirming the link is correct and working.\n\n🎨 Creative Status: 🔴 No remote links associated with the ticket ADO-12700 to verify any linked PRT tickets for creatives check.\n\n","renderedBody":null,"updateAuthor":{"self":"https://prodege.atlassian.net/rest/api/2/user?accountId=712020%3A0561b20a-79b4-4469-b9a7-8943e0c5fdca","name":null,"key":null,"accountId":"712020:0561b20a-79b4-4469-b9a7-8943e0c5fdca","emailAddress":null,"avatarUrls":{"48x48":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png","24x24":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png","16x16":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png","32x32":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/NS-6.png"},"displayName":"N8N Automation Service","active":true,"timeZone":"America/Los_Angeles","groups":null,"locale":null,"accountType":"atlassian"},"created":1753389291470,"updated":1753389291470,"visibility":null}],"last":false},"worklog":{"maxResults":20,"total":0,"startAt":0,"worklogs":[],"last":false}},"renderedFields":null},"webhookUrl":"https://prodegellc.app.n8n.cloud/webhook/packaging-agents","executionMode":"production"}}]},"versionId":"376059d6-df75-4538-9ea1-bea1ff560e26","activeVersionId":"376059d6-df75-4538-9ea1-bea1ff560e26","triggerCount":1,"shared":[{"updatedAt":"2025-07-21T20:28:50.205Z","createdAt":"2025-07-21T20:28:50.205Z","role":"workflow:owner","workflowId":"Dw3UFo8PO27u0PcQ","projectId":"NOrA7nVi3G84Nq0v"}],"activeVersion":{"updatedAt":"2025-12-04T18:24:39.400Z","createdAt":"2025-12-04T18:24:39.400Z","versionId":"376059d6-df75-4538-9ea1-bea1ff560e26","workflowId":"Dw3UFo8PO27u0PcQ","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"36b76f9b-ffab-4a1c-9e09-6dcab23483da","name":"issueKey","value":"={{ $json.body.key }}","type":"string"},{"id":"8b02f016-1596-4d33-87be-2d8e0939abf4","name":"productTitle","value":"={{ $json.body.fields.customfield_10447 }}","type":"string"},{"id":"151a9c6d-4c03-426c-9f7f-bf24f2f78f29","name":"clientName","value":"={{ $json.body.fields.customfield_10048 }}","type":"string"},{"id":"af184b69-5749-4c8b-a6b6-fb34247c7e65","name":"events","value":"={{ $json.body.fields.customfield_10477 }}","type":"string"},{"id":"8496a324-23e2-40ec-a411-9eed78dcec55","name":"description","value":"={{ $json.body.fields.description }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2528,2848],"id":"5ea8101f-faaf-40af-8181-17044dd7b6b9","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2800,2656],"id":"2ad820ba-0efc-44e2-b532-1de61d8dd90a","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"promptType":"define","text":"=You are a top-tier top-tier QA analyst agent. Your role is to analyze goal tables for mobile game events to ensure all required columns are present, minimum data needed is present and formatted correctly.\n\nYou will receive data below that contains the event or events for an offer. It could be a single sign up and make a deposit event for a fintech lead gen offer, or it could be many events for a mobile game offer including install, level and purchase events.\n\nYour job is to review, audit, and validate this data is complete based on the following checklist:\n\nAudit Checklist:\n\n1. The data received contains at least 1 table of event(s)\n\n2. Determine if this is a mobile game offer or another type of offer.\n\n  2.A. If it's a mobile game offer, make sure the following are present.\n    1. At least one Install Event Type\n    2. A few non install, non purchase Event Types.\n    3. At least 1 purchase Event Type.\n    4. Non install, non purchase Event Types have conversion rates filled in. \n    5. Install has revenue and/or other events have revenue.\n    6. If a purchase event is not general as in 'make first purchase' or 'make any purchase' and is make a specific purchase, then 'purchase amount' value must be greater than 0. \n\n  2.B. if it's not a mobile game offer, make sure the following are present.\n    1. At least one event is present.\n    2. Event revenue value is specified.\n\n3. Based on the results of your findings, provide a goalCheck update using the one of following formats. Keep it short and succinct:\n  3.A If items failed checklist:\n    🔴 {Insert your explanation of why offer is failing goalCheck}.\n  3.B If all items passed checklist:\n    🟢 {Insert your explanation of why offer is passing goalCheck}.\n\nEvent Data:\n\n{{ $json.events }}\n\nLimit output to 1-2 succinct sentences.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-576,2320],"id":"5e68b57e-be66-4c76-a50d-1cf476723a0e","name":"Check Goals Agent"},{"parameters":{"jsonSchemaExample":"{\n\t\"goalStatus\": \"Parent found and attached.\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-384,2544],"id":"50252ae0-ebe4-4eca-aa93-9906354314b4","name":"Structured Output Parser1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-576,2544],"id":"669db28e-67ff-461f-abbf-7a378173b2e6","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"resource":"issueComment","issueKey":"={{ $('Edit Fields').first().json.issueKey }}","comment":"=📦 Packaging Check:\n--------------------\n👩‍👦 Parent Issue: {{ $json.output.parentStatus }}\n\n🎯 Goal Data: {{ $json.output.goalStatus }}\n\n📄 Copy Status: {{ $json.output.copyStatus }}\n\n🔗 Link Status: {{ $json.output.linkStatus }}\n\n🎨 Creative Status: {{ $json.output.creativesStatus }}\n\n","options":{}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[2256,2848],"id":"048fd4ed-219d-433c-9a9b-9c67d5c78a32","name":"Add a comment","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"n8n-jira_automation-expires_2026_Feb15"}}},{"parameters":{"resource":"issueComment","issueKey":"={{ $('Edit Fields').first().json.issueKey }}","comment":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Comment', ``, 'string') }}","options":{"wikiMarkup":true}},"type":"n8n-nodes-base.jiraTool","typeVersion":1,"position":[-288,3168],"id":"0b9fd88f-1c4f-4b6b-8dcb-e7aa4ab59eb2","name":"Add a comment in Jira Software1","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"n8n-jira_automation-expires_2026_Feb15"}},"disabled":true},{"parameters":{"jsonSchemaExample":"{\n\t\"copyStatus\": \"\",\n    \"jiraComment\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-96,3152],"id":"3b100250-6e70-4f13-827d-d6c1dba4bff9","name":"Structured Output Parser2"},{"parameters":{"numberInputs":5},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1840,2800],"id":"3ab48be5-d5a3-4ee5-a96d-217056003f60","name":"Merge"},{"parameters":{"jsCode":"// Get all items from the input\nconst items = $input.all();\n\n// Create a new merged object\nlet mergedOutput = {};\n\n// Loop through each item and merge its output properties\nitems.forEach(item => {\n  if (item.json && item.json.output) {\n    // Merge all properties from the current item's output into the mergedOutput\n    Object.assign(mergedOutput, item.json.output);\n  }\n});\n\n// Return a single item with the merged output\nreturn [\n  {\n    json: {\n      output: mergedOutput\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2048,2848],"id":"586a7f76-6684-4d04-9eea-71948ded2190","name":"Code"},{"parameters":{"operation":"get","issueKey":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Issue_Key', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.jiraTool","typeVersion":1,"position":[-416,4176],"id":"d47eb3ff-ae13-4a7e-95b8-607be1e08925","name":"Get an issue in Jira Software1","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"n8n-jira_automation-expires_2026_Feb15"}}},{"parameters":{"url":"=https://prodege.atlassian.net/rest/api/3/issue/{{ $json.issueKey }}/remotelink","authentication":"predefinedCredentialType","nodeCredentialType":"jiraSoftwareCloudApi","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-272,4176],"id":"605d44f2-5d24-482c-87dc-465d3472e42b","name":"HTTP Request3","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"n8n-jira_automation-expires_2026_Feb15"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-576,4144],"id":"bacef137-82f4-46ea-998e-4da1cdddf82b","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"promptType":"define","text":"=Execute function for {{ $json.issueKey }} .","hasOutputParser":true,"options":{"systemMessage":"=Your task is to review the Jira ticket identified by the key provded by the user.\n\nSteps to follow:\n\n1. Use the HTTP Request node to get all remote links associated with the provided Jira ticket.\n\n2.Extract all hyperlinks from the remote links’ response.\n\n3.Identify any hyperlinks that point to other Jira tickets, i.e., links that contain a Jira issue key (e.g., \"PRT-123\").\n\n4.For each linked Jira ticket:\n\n  -Extract the project key (the part before the hyphen, e.g., \"PRT\" in \"PRT-123\").\n\n  -If the project key is \"PRT\", continue.\n\n5. Use the \"Get Issue\" node (Jira Get an Issue tool) to fetch the full details of the linked PRT ticket.\n\n6. Check the attachments on that PRT ticket:\n\nAt least one attachment must be a PNG or JPEG image.\n\nAt least one image must be at least 1500px wide and at least 1000px high (they can be the same image that satisfies both conditions).\n\nIf you weren't able to verify both conditions successfully:\n    \"🔴 {Insert your explination of why offer is failing the Creatives Check}.\"\nIf you were able to verify both conditions successfully:\n    \"🟢 {Insert your explination of why offer is passing the Creatives Check}.\"\n\nLimit output to 1-2 succinct sentences."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-576,3968],"id":"817e7d70-854f-42bc-9709-20fd15353a21","name":"Creatives Agent"},{"parameters":{"jsonSchemaExample":"{\n\t\"creativesStatus\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-128,4160],"id":"3181360d-cafd-42d0-9946-1b185971399c","name":"Structured Output Parser4"},{"parameters":{"operation":"get","issueKey":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Issue_Key', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.jiraTool","typeVersion":1,"position":[-560,3648],"id":"5a44f2f5-816a-4272-a420-b43a3fd6d9f1","name":"Get an issue in Jira Software2","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"n8n-jira_automation-expires_2026_Feb15"}},"disabled":true},{"parameters":{"resource":"extract","urls":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('urls0_URLs', `IOS LINK`, 'string') }}","={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('urls1_URLs', `ANDroid Link`, 'string') }}"],"options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[-400,3648],"id":"c3d88059-5862-48dd-84ec-bd16c6407dbd","name":"Extract in Tavily1","credentials":{"tavilyApi":{"id":"2SHWdpC10Rb5CNvy","name":"Tavily: n8n-fef-tavily2"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-704,3584],"id":"e221499d-90c9-43dc-9835-8e023c325c8f","name":"OpenAI Chat Model6","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"linkStatus\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-240,3648],"id":"e51f3abc-f6a8-4b5c-9320-46b7b863b359","name":"Structured Output Parser5"},{"parameters":{"promptType":"define","text":"=Here is your offer info: {{ $json.description }}","hasOutputParser":true,"options":{"systemMessage":"You are an automation agent integrated with Jira and Tavily. Follow these steps exactly:\n\n1. Using the offer info provided, determine which device platforms this offer runs on by looking at the 'Android/ iOS/ Desktop' field's value.\n\n2. For the device platforms that are present for this offer, extract the Google Play Store and/or Apple App Store URLs from the Jira Description, some offers will only be one device platform and that is fine.\n\n3. Use the Tavily MCP tool with the URLs to:\n\nCheck if each link is working\n\nVerify that the page content is correct based on the product title and client name from Jira.\n\nOutput one of following to linkStatus based on your results:\n\nIf you weren't able to find or verify link(s):\n    \"🔴 {Insert your explanation of why offer is failing the URL Check}.\"\nIf you were able to find and verify link(s):\n    \"🟢 {Insert your explanation of why offer is passing the URL Check}.\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-688,3440],"id":"0efd3f7d-2d2c-4f3b-b9ab-1682c9ce4ef0","name":"Link Agent"},{"parameters":{"path":"packaging-agents","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2816,3056],"id":"6a90c484-042c-460f-a179-9af08dbd5a55","name":"Webhook","webhookId":"40af1405-ca88-4112-be63-5694944782c2"},{"parameters":{"content":"## Prompt doc links\n- [GAMES STYLE GUIDE](https://docs.google.com/document/d/1n3vUwt2qaf-Bu85j3DThQwjPfC6c-Yze7_G1RtEdFsE/edit?tab=t.0)","height":304,"width":288,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-2912,2144],"typeVersion":1,"id":"5419179b-f96d-4c4b-9797-6a26b5c0ad29","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"718482ab-45f8-4985-a163-ad78e89088f1","leftValue":"={{ $json.events }}","rightValue":"null","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-912,2944],"id":"ce6862a6-7d55-457d-a212-050c68baa435","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"a4045bd0-fc47-42cf-9468-f260b81b9d7c","name":"output.copyStatus","value":"🔴 No goal copy data available to analyze","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-352,2784],"id":"f6cf58b9-705e-4558-ba30-b14d0aa613a7","name":"Edit Fields1","alwaysOutputData":false},{"parameters":{"promptType":"define","text":"=Here is your goal description data to analyze, specifically the “goal for members” field, which could be named goal description instead:\n\n{{ $('Edit Fields').first().json.events }}","hasOutputParser":true,"options":{"systemMessage":"=# Games Coco - Games Goal Description Specialist\n\n## Core Identity & Expertise Statement\n\nYou are **\"Games Coco\"**, the Games Goal Description Specialist, an elite copywriter and behavioral psychology expert focused exclusively on optimizing mobile game goal descriptions for Swagbucks members. Your mission is to transform client-provided event names into clear, engaging, and psychologically compelling goal descriptions that drive member engagement and completion.\n\n### Primary Identity\n\nYou possess specialized expertise in:\n- Advanced behavioral psychology application for gaming engagement and habit formation\n- Hook Model implementation for variable reward systems in mobile games\n- Member-friendly copywriting that transforms technical jargon into clear, actionable goals\n- Swagbucks brand voice and style guide compliance for games content\n- Gaming psychology principles that motivate completion and sustained engagement\n\n### Core Competencies\n- **Style Guide Mastery**: Enforce all formatting, character limits, and structural requirements\n- **Psychology Integration**: Apply Hook Model and habit formation principles to goal descriptions\n- **Clarity Optimization**: Transform confusing client terminology into member-comprehensible language\n- **Engagement Enhancement**: Create goal descriptions that motivate action and completion\n- **Brand Consistency**: Maintain Swagbucks voice while optimizing for gaming context\n\n## Your responsibilites:\n\n#### Step 1. Analyze goal descriptions against the Games Coco Knowledge Base - Synthesized Reference Document found below.\n\n#### Step 2. Determine a score for each goal description using this framework and if any changes are required, suggest an updated goal description.:\n\n- Score Option 1: 🟢 GREEN (Excellent, you didn't identify any require changes): Meets all Games Coco Knowledge Base - Synthesized Reference Document requirements\n- Score Option 2: 🟡 YELLOW (Needs Minor Fixes): Mostly compliant, 1-2 fixable issues\n- Score Option 3: 🔴 RED (Poor/Major Revision/Human Review Required): Multiple violations\n\n#### Step 3: Compile the results from your analysis into your output like this:\n\ncopyStatus:\n\n- If you analyzed all goals and absolutely no changes were needed:\n“🟢 {Insert 1-2 sentence explanation of why}”\n\n- If you analyzed all goals and a few minor changes were suggested:\n“🟡 {Insert 1-2 sentence explanation of why}”\n\n- If you analyzed all goals and major changes are needed/ were suggested:\n“🔴 {Insert 1-2 sentence explanation of why}”\n\njiraComment:\n\n```\n🎮 GOALS COPY ANALYSIS RESULTS\n\n|| SCORE || BEFORE || AFTER || NOTES ||\n| 🟢 (No Changes) | Original Goal | Revised Goal | \"No changes required\", \"Replaced vague verb\", etc. |\n| 🟡 (Minor Changes) | Original Goal | Revised Goal | \"Shortened for character limit\", \"Clarified action verb\", etc. |\n| 🔴 (Major Changes)| Original Goal | Revised Goal | \"Major rewrite for clarity\", \"Removed jargon\", etc. |\n```\n\n–\n\n{{ $json.content }}","maxIterations":5}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-432,2944],"id":"6a117e67-5fb8-4042-8ed8-09be74bd56e5","name":"Game Coco Agent"},{"parameters":{"toolDescription":"Sets Parent","method":"PUT","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}","authentication":"predefinedCredentialType","nodeCredentialType":"jiraSoftwareCloudApi","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"[\n  {\n    \"name\": \"Content-Type\",\n    \"value\": \"application/json\"\n  },\n  {\n    \"name\": \"Accept\",\n    \"value\": \"application/json\"\n  }\n]\n","sendBody":true,"specifyBody":"json","jsonBody":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', ``, 'json') }}","options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-496,2096],"id":"33d39ca6-e9cc-4b20-b2db-ff2e45053dd6","name":"Set Parent via API","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"n8n-jira_automation-expires_2026_Feb15"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-752,1952],"id":"a24d0a87-ac5c-43b7-8ed8-71d9a49c723e","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"operation":"get","issueKey":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Issue_Key', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.jiraTool","typeVersion":1,"position":[-656,2096],"id":"48467b14-f51d-49fc-976e-d09fb1378ce0","name":"Get Parent Issue1","credentials":{"jiraSoftwareCloudApi":{"id":"2Q2IOFvXJTaYdPvZ","name":"Jira n8n-jira_automation-expires_2026_Jan28"}}},{"parameters":{"operation":"getAll","limit":5,"options":{"fields":"id,key,summary","jql":"=project = \"AdOps Disco PM\" AND type = \"Parent\" AND customfield_10048 ~ \"{{ $('Edit Fields').item.json.clientName }}\""}},"type":"n8n-nodes-base.jiraTool","typeVersion":1,"position":[-336,2096],"id":"4f146ecc-57a7-4159-9c87-83cd7959b3f4","name":"Search for Parent Issue1","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"n8n-jira_automation-expires_2026_Feb15"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"parentStatus\": \"Parent found and attached.\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[128,2112],"id":"f17fa606-52c4-42b4-b653-9670bfe1ff57","name":"Structured Output Parser3"},{"parameters":{"project":{"__rl":true,"value":"10096","mode":"list","cachedResultName":"AdOps Disco PM"},"issueType":{"__rl":true,"value":"10115","mode":"list","cachedResultName":"Parent"},"summary":"={{ $('Edit Fields').item.json.productTitle }}({{ $('Edit Fields').item.json.clientName }})","additionalFields":{"customFieldsUi":{"customFieldsValues":[{"fieldId":{"__rl":true,"value":"customfield_10048","mode":"list","cachedResultName":"Client Name"},"fieldValue":"={{ $('Edit Fields').item.json.clientName }}"},{"fieldId":{"__rl":true,"value":"customfield_10447","mode":"list","cachedResultName":"Product Title"},"fieldValue":"={{ $('Edit Fields').item.json.productTitle }}"}]}}},"type":"n8n-nodes-base.jiraTool","typeVersion":1,"position":[-160,2096],"id":"1b63ce36-476d-4907-9b7c-1051137ceb84","name":"Create Parent Issue1","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"n8n-jira_automation-expires_2026_Feb15"}}},{"parameters":{"promptType":"define","text":"=Execute parent check and update function","hasOutputParser":true,"options":{"systemMessage":"=You are a Jira expert. Use the tools provided to manage parent issue associations for Jira tickets based on the following data:\n\nIssue Key: {{ $json.issueKey }}\n\nProduct Title: {{ $json.productTitle }}\n\nAdvertiser: {{ $json.clientName }}\n\nYour workflow should follow these steps:\n\n1. Check if a parent is already attached\n\nUse the Get Parent Issue tool to retrieve the PARENT information of issue key: {{ $json.issueKey }}\n.\n\nIf a parent exists:\n\nCheck if the parent’s customfield_10048 matches the advertiser: {{ $json.clientName }}\n\nCheck if the Product Title ({{ $json.productTitle }}) appears somewhere in the parent.\n\nIf both match, output:\n\n\"🟢 Parent (parent key) already attached to ticket\" and end function here.\n\nIf either one does not match, there is no parent, or there is an error retrieving parent then move on to step 2.\n\n2. Search for an existing parent issue\n\nIf no parent is attached or it doesn't match the conditions above:\n\nUse the Search for Parent Issue tool to find a parent issue that:\n\nHas customfield_10048 equal to {{ $json.clientName }}\n\nContains the Product Title {{ $json.productTitle }} somewhere in the issue (e.g., summary, description).\n\nIf a valid parent is found:\n\nUse the Set Parent via API tool with:\n\nURL:\n\nhttps://prodege.atlassian.net/rest/api/3/issue/{{ $json.issueKey }}\n\n\nBody:\n\n{\n  \"fields\": {\n    \"parent\": {\n      \"key\": \"(insert found parent key)\"\n    }\n  }\n}\n\n\nThen output:\n\n\"🟢 Parent (parent key) found and added to ticket\" \n\nIf no matching parent is found move onto step 3.\n\n3. Create and assign a new parent issue\n\n\n\nUse the Create Parent Issue tool to create a new parent issue.\n\nThen use the Set Parent via API tool with:\n\nURL:\n\nhttps://prodege.atlassian.net/rest/api/3/issue/{{ $json.issueKey }}\n\nBody:\n\n{\n  \"fields\": {\n    \"parent\": {\n      \"key\": \"(insert newly created parent key)\"\n    }\n  }\n}\n\nThen output:\n\n\"🟢 Parent (parent key) created and added to ticket\" and end function here\n\n4. Handle errors\n\nIf any step fails (e.g., error getting, searching, creating, or setting parent), output:\n\n\"🔴 Error: {insert description of step you got stuck on}\" and end function here.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-576,1776],"id":"04aa4505-bc8a-4e4d-bcab-1f322b7cee89","name":"Check Parent Agent1"},{"parameters":{"descriptionType":"manual","toolDescription":"Update the parent to 'ADO-12539' and make issue contained in 'ADO-12539'.","operation":"update","issueKey":"={{ $('Edit Fields').item.json.issueKey }}","updateFields":{}},"type":"n8n-nodes-base.jiraTool","typeVersion":1,"position":[-16,2096],"id":"bf7ae2cd-1d43-412b-8823-bd59b2cbeecf","name":"Attach Parent to Issue1","credentials":{"jiraSoftwareCloudApi":{"id":"HRUpATJEMTy50miK","name":"n8n-jira_automation-expires_2026_Feb15"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-64,2864],"id":"3445664b-b5c4-4be6-ac2a-3d551336c2b4","name":"Merge1"},{"parameters":{"authentication":"serviceAccount","operation":"get","documentURL":"https://docs.google.com/document/d/1n3vUwt2qaf-Bu85j3DThQwjPfC6c-Yze7_G1RtEdFsE/edit?tab=t.0#heading=h.6tvytw38ta9s"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-608,2944],"id":"71939d54-7cfb-4028-bd17-0afc65debd32","name":"GAMES STYLE GUIDE","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"temperature":0.6}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-496,3168],"id":"e9ad5f47-2a78-435b-8c43-ebfed984cacb","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"content":"## Packaging Agents\n- Check parent\n- Check goal data\n- Check goal copy\n- Check links\n- Check creatives","height":304,"width":352},"type":"n8n-nodes-base.stickyNote","position":[-3296,2144],"typeVersion":1,"id":"1d3398a9-63c1-4a99-8ea9-b734709aefc1","name":"Sticky Note1"},{"parameters":{"content":"## Credentials\n- Jira\n- google service account\n- Tivaley\n- Openai","height":304,"width":400,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-2592,2144],"typeVersion":1,"id":"f7bee768-ded9-4db8-b701-b0df8a5563a8","name":"Sticky Note2"}],"connections":{"Edit Fields":{"main":[[{"node":"Creatives Agent","type":"main","index":0},{"node":"Check Goals Agent","type":"main","index":0},{"node":"If","type":"main","index":0},{"node":"Link Agent","type":"main","index":0},{"node":"Check Parent Agent1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Check Goals Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Check Goals Agent","type":"ai_languageModel","index":0}]]},"Check Goals Agent":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Add a comment in Jira Software1":{"ai_tool":[[{"node":"Game Coco Agent","type":"ai_tool","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Game Coco Agent","type":"ai_outputParser","index":0}]]},"Add a comment":{"main":[[]]},"Merge":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Add a comment","type":"main","index":0}]]},"Get an issue in Jira Software1":{"ai_tool":[[{"node":"Creatives Agent","type":"ai_tool","index":0}]]},"HTTP Request3":{"ai_tool":[[{"node":"Creatives Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Creatives Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"Creatives Agent","type":"ai_outputParser","index":0}]]},"Creatives Agent":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Get an issue in Jira Software2":{"ai_tool":[[{"node":"Link Agent","type":"ai_tool","index":0}]]},"Extract in Tavily1":{"ai_tool":[[{"node":"Link Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"Link Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser5":{"ai_outputParser":[[{"node":"Link Agent","type":"ai_outputParser","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"GAMES STYLE GUIDE","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Link Agent":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Game Coco Agent":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Set Parent via API":{"ai_tool":[[{"node":"Check Parent Agent1","type":"ai_tool","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Check Parent Agent1","type":"ai_languageModel","index":0}]]},"Get Parent Issue1":{"ai_tool":[[{"node":"Check Parent Agent1","type":"ai_tool","index":0}]]},"Search for Parent Issue1":{"ai_tool":[[{"node":"Check Parent Agent1","type":"ai_tool","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"Check Parent Agent1","type":"ai_outputParser","index":0}]]},"Create Parent Issue1":{"ai_tool":[[{"node":"Check Parent Agent1","type":"ai_tool","index":0}]]},"Attach Parent to Issue1":{"ai_tool":[[{"node":"Check Parent Agent1","type":"ai_tool","index":0}]]},"Check Parent Agent1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Merge","type":"main","index":2}]]},"GAMES STYLE GUIDE":{"main":[[{"node":"Game Coco Agent","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Game Coco Agent","type":"ai_languageModel","index":0}]]}},"authors":"Steven Vassallo","name":null,"description":null},"tags":[{"updatedAt":"2025-09-16T22:03:04.244Z","createdAt":"2025-09-16T22:03:04.244Z","id":"1JleW3VaKeNkbHMv","name":"catalog"},{"updatedAt":"2025-08-12T00:55:34.514Z","createdAt":"2025-08-12T00:55:34.514Z","id":"jqG09lthyedpcHHO","name":"AI Automation"},{"updatedAt":"2025-06-06T18:17:45.414Z","createdAt":"2025-05-20T18:50:07.486Z","id":"o9kQdq2i4tcW3ACG","name":"disco PM"},{"updatedAt":"2025-06-06T18:17:53.513Z","createdAt":"2025-04-09T22:53:12.719Z","id":"ua93nX6ZUDbcpnxI","name":"jira"}]}