OS3 EventType Categorize (BAI-84).json
{"updatedAt":"2025-11-26T22:25:00.000Z","createdAt":"2025-11-11T22:27:46.492Z","id":"LBkJKKwkAHy6uZuh","name":"OS3 EventType Categorize (BAI-84)","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,112],"id":"ee9c9880-c787-4e95-8c71-8b3a5a94f28e","name":"When clicking ‘Execute workflow’"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1Y4C2RQbEUgJ_I3inj7qXTiRVEY29hEyF5ecfcWG9OQU","mode":"list","cachedResultName":"OS3 Event Type Testing Ground AMCD-3569","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4C2RQbEUgJ_I3inj7qXTiRVEY29hEyF5ecfcWG9OQU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ $('init Vars').item.json.GSheetID }}","mode":"id"},"filtersUI":{"values":[{"lookupColumn":"=n8n Status","lookupValue":"forn8n"},{"lookupColumn":"=SuggestedTYPE"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[400,112],"id":"44a3dec3-9267-4b03-9523-05d52077a444","name":"GSheet Get forn8n","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"maxItems":100},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[896,112],"id":"0077e088-5e26-4298-9771-ee882c059011","name":"Limit"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1e7ffd20-73e0-42bf-8997-bc10c9bc4a3a","leftValue":"={{ $json.OFFER_EVENT_ID }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"5f68afbf-4936-4492-907d-0a5c3b39fafc","leftValue":"={{ $json.EVENT_TYPE }}","rightValue":"ADJUST","operator":{"type":"string","operation":"notEquals"}},{"id":"5eeb0dbf-9039-45a3-9a91-45443874f171","leftValue":"={{ $json.EVENT_TYPE }}","rightValue":"PLAYTIME","operator":{"type":"string","operation":"notEquals"}},{"id":"a944e801-9e7f-437d-8012-2f0fd6b97c9f","leftValue":"={{ $json.EVENT_TYPE }}","rightValue":"INSTALL","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,-64],"id":"44509b37-5bc5-432f-bec2-df5adcdd6df5","name":"If Good Event","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1344,112],"id":"dc8d0cce-4e00-433d-bbe4-623dc724fb42","name":"Loop Over Items"},{"parameters":{"promptType":"define","text":"=The ID of Row Number Row_Number to identify: {{ $json.row_number }}\n\nThe data to review: \nRow Number: {{ $json.data.row_number }}\nEvent Name: {{ $json.data.OFFER_EVENT_NAME }}\nExisting Event Type: {{ $json.data.EXISTING_EVENT_TYPE }}\n\nAnd supporting contextual information:\nOffer ID: {{ $json.data.OFFER_ID }}\nOffer Name: {{ $json.data.CAMPAIGN_NAME }}\nCategories: {{ $json.data.OFFER_CATEGORIES_ARRAY }}\nDESCRIPTION: {{ $json.data.OFFER_DESCRIPTION }}\nTHINGS TO KNOW: {{ $json.data.OFFER_THINGS_TO_KNOW }}\nAPP TITLE: {{ $json.data.APP_TITLE }}\nAPP ID: {{ $json.data.APP_ID }}\n\n","options":{"systemMessage":"=# Persona\nYou are an agent designed to populate an event type value for a given offer event name. Each offer event name represents a conversion event label for one of Prodege's performance marketing offers served to users on their consumer rewards sites and publisher network. Event Type classification is important when an offer has multiple events associated with it.\n\n## Input Data\nYou will typically be supplied with meta data that will be used to inform your categorization, including:\n- offer event id (a matching key, not useful for categorization)\n- offer event name (contains critical keyword descriptor values)\n- existing offer event type \n- offer id (a matching key, not useful for categorization)\n- campaign name (contains descriptors of the overall offer)\n- categories array (contains both internal categories and app store categories where applicable associated with the offer)\n- offer description (a summary of the required offer tasks as positioned to the end user)\n- things to know (a distillation of the offer description that fits into a 'top things to know' about an offer for the end user)\n- app title (applicable if offer is an app download offer and our system successfully scraped app title from the app store)\n- app id (if applicable)\n- app store description (if applicable, the description of the featured app as presented in the app store / play store)\n\nExisting Offer Event Type data will be coded as one of six variables: \n- EVENT\n- PURCHASE\n- INSTALL\n- ADJUST\n- UNKNOWN\n- PLAYTIME\n\n# Rules to Classify\n\n## Ignore Event Types\nINSTALL, ADJUST, and PLAYTIME event types should not change ever with this reclassification.\n- For original Event Types INSTALL, ADJUST, and PLAYTIME, return the original Event Type\n- Do not suggest changing INSTALL, ADJUST, and PLAYTIME\n\n## Other and Unknown Event Types\nThe remainder of the exercise is to more finely classify existing EVENT or PURCHASE event types into one of the more specific event types outlined below, if possible.\n\nNever classify EVENT or PURCHASE event types as INSTALL, ADJUST, or PLAYTIME.\n\n## Exactly One Event Type\n Each Offer Event should have exactly one event type suggested.\n\n## Event Types and Descriptions\nCheck for monetary transactions first (has sale amount present or is an obvious monetary transaction event) (DEPOSIT, DIRECT DEPOSIT, ANY PURCHASE, PURCHASE, OTHER SALE)\nFor games, distinguish between ordered progression (ORDERED LEVEL EVENT) and general events (EVENT)\nLook for explicit ad mentions (AD VIEW)\nDefault to EVENT for ambiguous non-purchase activities\nContext matters: same keyword might classify differently for games vs. non-games\n\nDetailed descriptions, key indicators, and exclusions are listed below for each event type:\n\nList of available Event Types to suggest:\n- INSTALL\n- SIGN UP\n- DEPOSIT\n- DIRECT DEPOSIT\n- ANY PURCHASE\n- PURCHASE\n- OTHER SALE\n- ORDERED LEVEL EVENT\n- AD VIEW\n- EVENT\n- ADJUST\n- PLAYTIME\n\nDetailed descriptions, key indicators, and exclusions are listed below for each event type:\n\n### INSTALL\nDescription:\n- Application installation events, typically the first step for app-based offers. \n- No offer should have more than one install event type set.\n- Event Order Number is NULL, 0, or 1\n- Event Order Number is never higher than 1\nKey Indicators:\nKeywords:\n- \"install\"\n- \"download\"\n- \"get the app\"\n- \"install and open\"\nApplies to: mobile apps, desktop applications, games\nUsually the first event in multi-step app offers\nExamples from data: \"Install any game that you have not downloaded before\"\nExclusions:\n- Web-based sign-ups without app installation (use SIGN UP)\n- Existing Event Type does not equal PURCHASE\n\n### SIGN UP\nDescription: First-step conversion events for non-game offers requiring user registration or account creation.. No offer should have more than one sign up event type set.\nKey Indicators:\nKeywords: \"sign up\", \"register\", \"create account\", \"join\", \"enroll\", \"subscribe\", \"start trial\", \"become a member\"\nApplies to: streaming services, financial services, retail accounts, loyalty programs, newsletters, online services\nContext: Always the initial interaction step for multi-step non-game offers\nExclusions:\nGame installations or game account creations (use INSTALL)\nDeposits or payments during signup (classify subsequent deposit events separately)\nSimple email/newsletter submissions without full account creation\n\n### DEPOSIT\nDescription: User-initiated cash deposits where the user transfers their own withdrawable funds into an account.\nKey Indicators:\nKeywords: \"deposit\", \"fund account\", \"add money\", \"transfer funds\", \"load wallet\"\nMust involve: user's own money being added to an account they control\nCommon in: fintech apps, investment platforms, cash game apps, betting/gambling apps, cryptocurrency exchanges\nAmount is withdrawable by the user\nExclusions:\nEmployer direct deposits (use DIRECT DEPOSIT)\nIn-app purchases in games (use PURCHASE/ANY PURCHASE)\nNon-withdrawable credits or points purchases\n\n### DIRECT DEPOSIT\nDescription: Employer-initiated ACH/payroll transfers where funds are deposited from an employer or benefits provider.\nKey Indicators:\nKeywords: \"direct deposit\", \"payroll deposit\", \"employer deposit\", \"ACH transfer\", \"paycheck\"\nSource: employer, government benefits, or other institutional payers\nTypically recurring and automated\nOften has minimum amount requirements (e.g., \"$500 direct deposit\")\nExclusions:\nUser-initiated deposits (use DEPOSIT)\nP2P transfers from friends/family (use DEPOSIT if withdrawable)\n\n### PURCHASE\nDescription: \n- Specific game purchase events with defined items or amounts.\n- Specifies a spend threshold rather than a single generic purchase.\n- Specifies a purchase minimum (example Make a $9.99+ Purchase)\n- Specifies item names, specific prices\n- Existing Event Type does not equal INSTALL\nKey Indicators:\nKeywords:\nExamples:\n- \"buy [specific pack]\"\n- \"Purchase starter pack\", \"Buy $4.99 gem bundle\", \"Purchase golden chest\"\n- Has specific purchase requirements (not just \"any purchase\")\nExclusions:\n- Generic \"any purchase\" events (use ANY PURCHASE)\n- Non-game purchases (use OTHER SALE)\n\n### ANY PURCHASE\nDescription: \n- Game events tracking any in-app purchase regardless of specific item or amount. \n- Specifies a single purchase event, and not an accumulation of purchases. \n- Does not specify to a spending threshold.\n- Does not specify a purchase minimum (example Make a $9.99+ Purchase)\nKey Indicators:\nKeywords:\n- \"make any purchase\"\n- \"any in-app purchase\"\n- \"first purchase\", \"complete any IAP\"\nMust record Sale Amount (revenue from user)\nExclusions:\n- Specific purchase requirements: \"buy starter pack\", \"purchase $9.99 ruby bundle\"\n- Non-game purchases (use OTHER SALE)\n- Deposits in cash games (use DEPOSIT)\n- Existing Event Type does not equal INSTALL\n\n### OTHER SALE\nDescription:\n- Non-game monetary transactions that generate sale amounts but don't fit deposit categories.\nKey Indicators:\nKeywords:\n- \"purchase\"\n- \"buy\"\n- \"order\"\n- \"subscription payment\"\nContext:\n- e-commerce\n- subscriptions\n- service payments\n- course purchases\nRecords Sale Amount but isn't a game IAP or deposit\nExamples: \"complete first order\", \"purchase subscription\", \"buy product\"\nExclusions:\n- Game purchases (use PURCHASE or ANY PURCHASE)\n- Deposits (use DEPOSIT or DIRECT DEPOSIT)\n- Existing Event Type does not equal INSTALL\n\n### ORDERED LEVEL EVENT\nDescription: Game progression events with clear linear/sequential advancement where previous levels must be completed before advancing.\nKey Indicators:\nKeywords: \"reach level X\", \"complete stage Y\", \"reach board Z\", \"achieve chapter N\"\nClear numerical progression: level 5 → level 10 → level 20\nPrerequisites: must complete earlier stages to reach later ones\nCommon patterns: \"reach [number]\", \"complete level [number]\", \"unlock world [number]\"\nExclusions:\nNon-sequential game achievements: \"collect 50 coins\", \"upgrade hero to level 6\", \"unlock bat wings\"\nEvents that can be completed in any order\nGeneral gameplay milestones without clear ordering\n\n### AD VIEW\nDescription: Events specifically tracking advertisement viewing or ad-based revenue generation.\nKey Indicators:\nKeywords: \"watch ads\", \"view advertisements\", \"ad revenue\", \"watch video\", \"complete ad viewing\"\nExplicitly mentions advertising engagement\nMay include requirements like \"watch 10 ads\" or \"generate $X in ad revenue\"\nExclusions:\nGeneral app usage that might include ads\nReward-based video watching without explicit ad mention\n\n### EVENT\nDescription: Catch-all category for all non-purchase conversion events that don't fit other specific categories.\nKey Indicators:\nGeneral gameplay: \"collect coins\", \"unlock character\", \"complete tutorial\"\nNon-ordered achievements: \"upgrade building\", \"win battles\", \"earn trophies\"\nWeb actions: \"complete survey\", \"verify email\", \"watch video\" (non-ad)\nDefault classification when no other category clearly applies\nUse When:\nEvent doesn't involve money/purchases\nDoesn't fit the specific criteria of other event types\nGeneral engagement or activity milestones\n\n\n# Output\nIMPORTANT: Your response must be a valid JSON object with these exact fields:\n\n- row_number: (integer) Keep the original row number\n- OFFER_EVENT_ID: (string) Keep the original offer event ID\n- Suggested_Event_Type: (string) Choose ONE from described Event Types\n- Suggested_Reason: (string) Brief explanation for your classification (2-3 sentences)\n\n\nYou must return ONLY a raw JSON object. No markdown, no code blocks, no explanations.\n\nStart your response with { and end with }\n\n## Example\n\n{\n  \"row_number\": 2,\n  \"OFFER_EVENT_ID\": \"a913959e-2a93-11f0-b286-069eb31df495\",\n  \"Suggested_Event_Type\": \"SIGN UP\",\n  \"Suggested_Reason\": \"The offer requires users to register as an Uber Eats driver and pass a background check, which is a sign-up process.\"\n}\n\n## Critical\nCRITICAL: You MUST output valid JSON only. Structure:\n{\"row_number\": <int>, \"OFFER_EVENT_ID\": \"<string>\", \"Suggested_Event_Type\": \"<enum>\", \"Suggested_Reason\": \"<string>\"}\n\nNo text before {, no text after }, no markdown, no explanations."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1792,-16],"id":"dbb1a5e8-7d30-4f42-b682-0bd370665700","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"={{ $('init Vars').item.json.GPT_Model }}","mode":"id"},"options":{"maxTokens":10000,"responseFormat":"json_object","timeout":15000,"maxRetries":2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1744,208],"id":"31fc3f81-1c49-42af-8d22-47cdf60fc3c8","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Code in JavaScript').item.json.OFFER_EVENT_ID }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1920,208],"id":"856905b0-a959-428d-9df9-eadd71d57934","name":"Simple Memory","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"f2f2d371-e272-4e4e-9f62-8f2e8b2a3170","name":"row_number","value":"={{ $('Code in JavaScript').item.json.row_number }}","type":"number"},{"id":"b3dbd173-8702-4e0e-8c74-0139e2b0c2f2","name":"SuggestedEventType","value":"={{ $json.output.parseJson().Suggested_Event_Type }}","type":"string"},{"id":"9e4c44aa-5b29-44c5-8493-61818d9d3156","name":"SuggestREASON","value":"={{ $json.output.parseJson().Suggested_Reason}}","type":"string"},{"id":"7c903914-b57c-4dd7-9477-18a8d8f53137","name":"GPT_Model","value":"={{ $('init Vars').item.json.GPT_Model }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2144,-16],"id":"fc6344dd-7141-458a-9256-543dccc79be1","name":"Set AIOutput"},{"parameters":{"jsCode":"// Loop through all input items\nfor (const item of $input.all()) {\n  // Extract the values we want to promote\n  const rowNumber = item.json.row_number;\n  const offerEventId = item.json.OFFER_EVENT_ID;\n  \n  // Create new structure with promoted fields at top level\n  // and all original data nested under 'data' property\n  item.json = {\n    row_number: rowNumber,\n    OFFER_EVENT_ID: offerEventId,\n    data: item.json  // This keeps all original fields including row_number and OFFER_EVENT_ID\n  };\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,-16],"id":"074312c8-b73c-4e7d-bd32-8a2fa5b070ac","name":"Code in JavaScript"},{"parameters":{"jsonSchemaExample":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"row_number\": {\n      \"type\": \"integer\",\n      \"description\": \"The row number from the source data\"\n    },\n    \"OFFER_EVENT_ID\": {\n      \"type\": \"string\",\n      \"description\": \"The unique offer event identifier\"\n    },\n    \"Suggested_Event_Type\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"INSTALL\",\n        \"SIGN UP\",\n        \"DEPOSIT\",\n        \"DIRECT DEPOSIT\",\n        \"ANY PURCHASE\",\n        \"PURCHASE\",\n        \"OTHER SALE\",\n        \"ORDERED LEVEL EVENT\",\n        \"AD VIEW\",\n        \"EVENT\",\n        \"ADJUST\",\n        \"PLAYTIME\"\n      ],\n      \"description\": \"The suggested event type classification from the allowed enum values\"\n    },\n    \"Suggested_Reason\": {\n      \"type\": \"string\",\n      \"description\": \"Brief explanation for the event type classification (2-3 sentences)\"\n    }\n  },\n  \"required\": [\"row_number\", \"OFFER_EVENT_ID\", \"Suggested_Event_Type\", \"Suggested_Reason\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[0,416],"id":"19e40f26-c150-443c-a0f0-a66de8ebb323","name":"Structured Output Parser","disabled":true},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1Y4C2RQbEUgJ_I3inj7qXTiRVEY29hEyF5ecfcWG9OQU","mode":"list","cachedResultName":"OS3 Event Type Testing Ground AMCD-3569","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4C2RQbEUgJ_I3inj7qXTiRVEY29hEyF5ecfcWG9OQU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ $('init Vars').item.json.GSheetID }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"SuggestedTYPE":"={{ $json.SuggestedEventType }}","SuggestREASON":"={{ $json.SuggestREASON }}","Updated":"={{ $now.toLocal('America/Los Angeles').format('yyyy-MM-dd hh:mm:ss') }}","row_number":"={{ $json.row_number }}","Model":"={{ $('init Vars').item.json.GPT_Model }}"},"matchingColumns":["row_number"],"schema":[{"id":"n8n Status","displayName":"n8n Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OFFER_EVENT_NAME","displayName":"OFFER_EVENT_NAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXISTING_EVENT_TYPE","displayName":"EXISTING_EVENT_TYPE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CAMPAIGN_NAME","displayName":"CAMPAIGN_NAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OFFER_NAME","displayName":"OFFER_NAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OFFER_ID","displayName":"OFFER_ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROMISED_PAYOUTS","displayName":"PROMISED_PAYOUTS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NUMBER_OF_EVENTS","displayName":"NUMBER_OF_EVENTS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OFFER_CATEGORIES_ARRAY","displayName":"OFFER_CATEGORIES_ARRAY","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OFFER_DESCRIPTION","displayName":"OFFER_DESCRIPTION","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OFFER_THINGS_TO_KNOW","displayName":"OFFER_THINGS_TO_KNOW","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OFFER_URL","displayName":"OFFER_URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"APP_TITLE","displayName":"APP_TITLE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"APP_ID","displayName":"APP_ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"APP_DESCRIPTION","displayName":"APP_DESCRIPTION","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SuggestedTYPE","displayName":"SuggestedTYPE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SuggestREASON","displayName":"SuggestREASON","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Updated","displayName":"Updated","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Model","displayName":"Model","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2368,112],"id":"c75ae621-8522-45fe-bc69-87798f61ea1f","name":"GSheet Update Row","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}}},{"parameters":{"assignments":{"assignments":[{"id":"7c1373cc-df38-4860-b9d0-42d2bab079ed","name":"GPT_Model","value":"gpt-5-mini","type":"string"},{"id":"fc8891b2-c77d-4b8a-9edf-6f93855d716f","name":"GSheetID","value":1946355493,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,112],"id":"00a3c812-e07d-4bd3-a700-09df678f5774","name":"init Vars"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1e7ffd20-73e0-42bf-8997-bc10c9bc4a3a","leftValue":"={{ $json.OFFER_EVENT_NAME }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"5f68afbf-4936-4492-907d-0a5c3b39fafc","leftValue":"={{ $json.row_number }}","rightValue":2,"operator":{"type":"number","operation":"gte"}},{"id":"1b435e8c-b648-4120-a838-97a3e35e48a2","leftValue":"={{ $json.PROMISED_PAYOUTS }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"5eeb0dbf-9039-45a3-9a91-45443874f171","leftValue":"={{ $json.EXISTING_EVENT_TYPE }}","rightValue":"PLAYTIME","operator":{"type":"string","operation":"notEquals"}},{"id":"a944e801-9e7f-437d-8012-2f0fd6b97c9f","leftValue":"={{ $json.EXISTING_EVENT_TYPE }}","rightValue":"INSTALL","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1120,192],"id":"480948ca-ac43-4491-a37c-69bf8724baa0","name":"If Good Event1"},{"parameters":{"content":"## I'm a note \n- Add Filter in GSheet to islate rows\n- Review Prompt to evaluate\n- Decide which Columns to include","height":368,"width":752,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1328,-320],"typeVersion":1,"id":"b1ebcdb3-b150-4f56-954e-884487912b75","name":"Sticky Note"},{"parameters":{"content":"## Objective:\n- Update the existing OS3 Event Types in the GSheet so (someone else) can then use the GSheet to update the EventType in OS3.\n\n## Detail: \nNeed to populate Column \"O\" (SuggestedTYPE) of Sheet n8nNarrowed.\n\nContacts: \n- AndrewR, Feffer, Kyle","height":240,"width":512},"type":"n8n-nodes-base.stickyNote","position":[48,-368],"typeVersion":1,"id":"38fba4e4-5e58-4c0c-b256-85d4d4128679","name":"Sticky Note1"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1Y4C2RQbEUgJ_I3inj7qXTiRVEY29hEyF5ecfcWG9OQU","mode":"list","cachedResultName":"OS3 Event Type Testing Ground AMCD-3569","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4C2RQbEUgJ_I3inj7qXTiRVEY29hEyF5ecfcWG9OQU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ $('init Vars1').item.json.GSheetID }}","mode":"id"},"filtersUI":{"values":[{"lookupColumn":"Updated"},{"lookupColumn":"SuggestedTYPE"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[272,1104],"id":"72e1b1c3-51ff-4be2-a01a-85221fe683f0","name":"GSheet Get forn8n1","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}},"disabled":true},{"parameters":{"maxItems":40},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[720,1104],"id":"29f9377c-f54e-4339-a78e-db80e14fa7e4","name":"Limit1","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1e7ffd20-73e0-42bf-8997-bc10c9bc4a3a","leftValue":"={{ $json.OFFER_EVENT_ID }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"5f68afbf-4936-4492-907d-0a5c3b39fafc","leftValue":"={{ $json.EVENT_TYPE }}","rightValue":"ADJUST","operator":{"type":"string","operation":"notEquals"}},{"id":"5eeb0dbf-9039-45a3-9a91-45443874f171","leftValue":"={{ $json.EVENT_TYPE }}","rightValue":"PLAYTIME","operator":{"type":"string","operation":"notEquals"}},{"id":"a944e801-9e7f-437d-8012-2f0fd6b97c9f","leftValue":"={{ $json.EVENT_TYPE }}","rightValue":"INSTALL","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[496,1040],"id":"571832ad-d245-45f6-b6cf-869c8cb1cd0a","name":"If Good Event2","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1168,1104],"id":"db72869d-7d8f-4c90-bb2f-1a01bf0ac6f3","name":"Loop Over Items1","disabled":true},{"parameters":{"promptType":"define","text":"=The ID of Row Number Row_Number to identify: {{ $json.row_number }}\nAnd the Event ID to identify: {{ $json.OFFER_EVENT_ID }}\n\nThe data to review: \nRow Number: {{ $json.data.row_number }}\nEvent ID: {{ $json.data.OFFER_EVENT_ID }}\nEvent Name: {{ $json.data.OFFER_EVENT_NAME }}\nExisting Event Type: {{ $json.data.EVENT_TYPE }}\n\nAnd supporting contextual information:\nOffer ID: {{ $json.data.OFFER_ID }}\nOffer Name: {{ $json.data.CAMPAIGN_NAME }}\nCategories: {{ $json.data.CATEGORIES_ARRAY }}\nDESCRIPTION: {{ $json.data.DESCRIPTION }}\nTHINGS TO KNOW: {{ $json.data.THINGS_TO_KNOW }}\nAPP TITLE: {{ $json.data.TITLE }}\nAPP ID: {{ $json.data.APP_ID }}\nEvent Order Number: {{ $json.data.ORDER_NUM }}\n","options":{"systemMessage":"# Persona\nYou are an agent designed to populate an event type value for a given offer event name. Each offer event name represents a conversion event label for one of Prodege's performance marketing offers served to users on their consumer rewards sites and publisher network. Event Type classification is important when an offer has multiple events associated with it.\n\n## Input Data\nYou will typically be supplied with meta data that will be used to inform your categorization, including:\n- offer event id (a matching key, not useful for categorization)\n- offer event name (contains critical keyword descriptor values)\n- existing offer event type \n- offer id (a matching key, not useful for categorization)\n- campaign name (contains descriptors of the overall offer)\n- categories array (contains both internal categories and app store categories where applicable associated with the offer)\n- offer description (a summary of the required offer tasks as positioned to the end user)\n- things to know (a distillation of the offer description that fits into a 'top things to know' about an offer for the end user)\n- app title (applicable if offer is an app download offer and our system successfully scraped app title from the app store)\n- app id (if applicable)\n- app store description (if applicable, the description of the featured app as presented in the app store / play store)\n\nExisting Offer Event Type data will be coded as one of six variables: \n- EVENT\n- PURCHASE\n- INSTALL\n- ADJUST\n- UNKNOWN\n- PLAYTIME\n\n# Rules to Classify\n\n## Ignore Event Types\nINSTALL, ADJUST, and PLAYTIME event types should not change ever with this reclassification.\n- For original Event Types INSTALL, ADJUST, and PLAYTIME, return the original Event Type\n- Do not suggest changing INSTALL, ADJUST, and PLAYTIME\n\n## Other and Unknown Event Types\nThe remainder of the exercise is to more finely classify existing EVENT or PURCHASE event types into one of the more specific event types outlined below, if possible.\n\nNever classify EVENT or PURCHASE event types as INSTALL, ADJUST, or PLAYTIME.\n\n## Exactly One Event Type\n Each Offer Event should have exactly one event type suggested.\n\n## Event Types and Descriptions\nCheck for monetary transactions first (has sale amount present or is an obvious monetary transaction event) (DEPOSIT, DIRECT DEPOSIT, ANY PURCHASE, PURCHASE, OTHER SALE)\nFor games, distinguish between ordered progression (ORDERED LEVEL EVENT) and general events (EVENT)\nLook for explicit ad mentions (AD VIEW)\nDefault to EVENT for ambiguous non-purchase activities\nContext matters: same keyword might classify differently for games vs. non-games\n\nDetailed descriptions, key indicators, and exclusions are listed below for each event type:\n\nList of available Event Types to suggest:\n- INSTALL\n- SIGN UP\n- DEPOSIT\n- DIRECT DEPOSIT\n- ANY PURCHASE\n- PURCHASE\n- OTHER SALE\n- ORDERED LEVEL EVENT\n- AD VIEW\n- EVENT\n- ADJUST\n- PLAYTIME\n\nDetailed descriptions, key indicators, and exclusions are listed below for each event type:\n\n### INSTALL\nDescription:\n- Application installation events, typically the first step for app-based offers. \n- No offer should have more than one install event type set.\n- Event Order Number is NULL, 0, or 1\n- Event Order Number is never higher than 1\nKey Indicators:\nKeywords:\n- \"install\"\n- \"download\"\n- \"get the app\"\n- \"install and open\"\nApplies to: mobile apps, desktop applications, games\nUsually the first event in multi-step app offers\nExamples from data: \"Install any game that you have not downloaded before\"\nExclusions:\n- Web-based sign-ups without app installation (use SIGN UP)\n- Existing Event Type does not equal PURCHASE\n\n### SIGN UP\nDescription: First-step conversion events for non-game offers requiring user registration or account creation.. No offer should have more than one sign up event type set.\nKey Indicators:\nKeywords: \"sign up\", \"register\", \"create account\", \"join\", \"enroll\", \"subscribe\", \"start trial\", \"become a member\"\nApplies to: streaming services, financial services, retail accounts, loyalty programs, newsletters, online services\nContext: Always the initial interaction step for multi-step non-game offers\nExclusions:\nGame installations or game account creations (use INSTALL)\nDeposits or payments during signup (classify subsequent deposit events separately)\nSimple email/newsletter submissions without full account creation\n\n### DEPOSIT\nDescription: User-initiated cash deposits where the user transfers their own withdrawable funds into an account.\nKey Indicators:\nKeywords: \"deposit\", \"fund account\", \"add money\", \"transfer funds\", \"load wallet\"\nMust involve: user's own money being added to an account they control\nCommon in: fintech apps, investment platforms, cash game apps, betting/gambling apps, cryptocurrency exchanges\nAmount is withdrawable by the user\nExclusions:\nEmployer direct deposits (use DIRECT DEPOSIT)\nIn-app purchases in games (use PURCHASE/ANY PURCHASE)\nNon-withdrawable credits or points purchases\n\n### DIRECT DEPOSIT\nDescription: Employer-initiated ACH/payroll transfers where funds are deposited from an employer or benefits provider.\nKey Indicators:\nKeywords: \"direct deposit\", \"payroll deposit\", \"employer deposit\", \"ACH transfer\", \"paycheck\"\nSource: employer, government benefits, or other institutional payers\nTypically recurring and automated\nOften has minimum amount requirements (e.g., \"$500 direct deposit\")\nExclusions:\nUser-initiated deposits (use DEPOSIT)\nP2P transfers from friends/family (use DEPOSIT if withdrawable)\n\n### PURCHASE\nDescription: \n- Specific game purchase events with defined items or amounts.\n- Specifies a spend threshold rather than a single generic purchase.\n- Specifies a purchase minimum (example Make a $9.99+ Purchase)\n- Specifies item names, specific prices\n- Existing Event Type does not equal INSTALL\nKey Indicators:\nKeywords:\nExamples:\n- \"buy [specific pack]\"\n- \"Purchase starter pack\", \"Buy $4.99 gem bundle\", \"Purchase golden chest\"\n- Has specific purchase requirements (not just \"any purchase\")\nExclusions:\n- Generic \"any purchase\" events (use ANY PURCHASE)\n- Non-game purchases (use OTHER SALE)\n\n### ANY PURCHASE\nDescription: \n- Game events tracking any in-app purchase regardless of specific item or amount. \n- Specifies a single purchase event, and not an accumulation of purchases. \n- Does not specify to a spending threshold.\n- Does not specify a purchase minimum (example Make a $9.99+ Purchase)\nKey Indicators:\nKeywords:\n- \"make any purchase\"\n- \"any in-app purchase\"\n- \"first purchase\", \"complete any IAP\"\nMust record Sale Amount (revenue from user)\nExclusions:\n- Specific purchase requirements: \"buy starter pack\", \"purchase $9.99 ruby bundle\"\n- Non-game purchases (use OTHER SALE)\n- Deposits in cash games (use DEPOSIT)\n- Existing Event Type does not equal INSTALL\n\n### OTHER SALE\nDescription:\n- Non-game monetary transactions that generate sale amounts but don't fit deposit categories.\nKey Indicators:\nKeywords:\n- \"purchase\"\n- \"buy\"\n- \"order\"\n- \"subscription payment\"\nContext:\n- e-commerce\n- subscriptions\n- service payments\n- course purchases\nRecords Sale Amount but isn't a game IAP or deposit\nExamples: \"complete first order\", \"purchase subscription\", \"buy product\"\nExclusions:\n- Game purchases (use PURCHASE or ANY PURCHASE)\n- Deposits (use DEPOSIT or DIRECT DEPOSIT)\n- Existing Event Type does not equal INSTALL\n\n### ORDERED LEVEL EVENT\nDescription: Game progression events with clear linear/sequential advancement where previous levels must be completed before advancing.\nKey Indicators:\nKeywords: \"reach level X\", \"complete stage Y\", \"reach board Z\", \"achieve chapter N\"\nClear numerical progression: level 5 → level 10 → level 20\nPrerequisites: must complete earlier stages to reach later ones\nCommon patterns: \"reach [number]\", \"complete level [number]\", \"unlock world [number]\"\nExclusions:\nNon-sequential game achievements: \"collect 50 coins\", \"upgrade hero to level 6\", \"unlock bat wings\"\nEvents that can be completed in any order\nGeneral gameplay milestones without clear ordering\n\n### AD VIEW\nDescription: Events specifically tracking advertisement viewing or ad-based revenue generation.\nKey Indicators:\nKeywords: \"watch ads\", \"view advertisements\", \"ad revenue\", \"watch video\", \"complete ad viewing\"\nExplicitly mentions advertising engagement\nMay include requirements like \"watch 10 ads\" or \"generate $X in ad revenue\"\nExclusions:\nGeneral app usage that might include ads\nReward-based video watching without explicit ad mention\n\n### EVENT\nDescription: Catch-all category for all non-purchase conversion events that don't fit other specific categories.\nKey Indicators:\nGeneral gameplay: \"collect coins\", \"unlock character\", \"complete tutorial\"\nNon-ordered achievements: \"upgrade building\", \"win battles\", \"earn trophies\"\nWeb actions: \"complete survey\", \"verify email\", \"watch video\" (non-ad)\nDefault classification when no other category clearly applies\nUse When:\nEvent doesn't involve money/purchases\nDoesn't fit the specific criteria of other event types\nGeneral engagement or activity milestones\n\n\n# Output\nIMPORTANT: Your response must be a valid JSON object with these exact fields:\n\n- row_number: (integer) Keep the original row number\n- OFFER_EVENT_ID: (string) Keep the original offer event ID\n- Suggested_Event_Type: (string) Choose ONE from described Event Types\n- Suggested_Reason: (string) Brief explanation for your classification (2-3 sentences)\n\n\nYou must return ONLY a raw JSON object. No markdown, no code blocks, no explanations.\n\nStart your response with { and end with }\n\n## Example\n\n{\n  \"row_number\": 2,\n  \"OFFER_EVENT_ID\": \"a913959e-2a93-11f0-b286-069eb31df495\",\n  \"Suggested_Event_Type\": \"SIGN UP\",\n  \"Suggested_Reason\": \"The offer requires users to register as an Uber Eats driver and pass a background check, which is a sign-up process.\"\n}\n\n## Critical\nCRITICAL: You MUST output valid JSON only. Structure:\n{\"row_number\": <int>, \"OFFER_EVENT_ID\": \"<string>\", \"Suggested_Event_Type\": \"<enum>\", \"Suggested_Reason\": \"<string>\"}\n\nNo text before {, no text after }, no markdown, no explanations."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1616,976],"id":"0cfb6f0e-fc29-4746-ab94-e45e5c1adba6","name":"AI Agent1","disabled":true},{"parameters":{"model":{"__rl":true,"value":"={{ $('init Vars1').item.json.GPT_Model }}","mode":"id"},"options":{"maxTokens":10000,"responseFormat":"json_object","timeout":15000,"maxRetries":2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1632,1200],"id":"518f4bbc-166b-4f7f-b02a-15ef9fe2ca54","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}},"disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Code in JavaScript1').item.json.OFFER_EVENT_ID }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1760,1200],"id":"b7944850-8bdc-4d51-b19d-40c24d0e0b1a","name":"Simple Memory1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"f2f2d371-e272-4e4e-9f62-8f2e8b2a3170","name":"row_number","value":"={{ $('Code in JavaScript1').item.json.row_number }}","type":"number"},{"id":"08c22f14-cc07-482a-b3aa-cb54b353e2a0","name":"OFFER_EVENT_ID","value":"={{ $('Code in JavaScript1').item.json.OFFER_EVENT_ID }}","type":"string"},{"id":"b3dbd173-8702-4e0e-8c74-0139e2b0c2f2","name":"SuggestedEventType","value":"={{ $json.output.parseJson().Suggested_Event_Type }}","type":"string"},{"id":"9e4c44aa-5b29-44c5-8493-61818d9d3156","name":"SuggestREASON","value":"={{ $json.output.parseJson().Suggested_Reason}}","type":"string"},{"id":"7c903914-b57c-4dd7-9477-18a8d8f53137","name":"GPT_Model","value":"={{ $('Code in JavaScript1').item.json.GPT_Model }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1968,976],"id":"70ad3d9a-501a-44da-a7d4-7fddd62e8382","name":"Set AIOutput1","disabled":true},{"parameters":{"jsCode":"// Loop through all input items\nfor (const item of $input.all()) {\n  // Extract the values we want to promote\n  const rowNumber = item.json.row_number;\n  const offerEventId = item.json.OFFER_EVENT_ID;\n  \n  // Create new structure with promoted fields at top level\n  // and all original data nested under 'data' property\n  item.json = {\n    row_number: rowNumber,\n    OFFER_EVENT_ID: offerEventId,\n    data: item.json  // This keeps all original fields including row_number and OFFER_EVENT_ID\n  };\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,976],"id":"ab9314f0-0f47-42a5-ae38-3f1e535d3afe","name":"Code in JavaScript1","disabled":true},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1Y4C2RQbEUgJ_I3inj7qXTiRVEY29hEyF5ecfcWG9OQU","mode":"list","cachedResultName":"OS3 Event Type Testing Ground AMCD-3569","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y4C2RQbEUgJ_I3inj7qXTiRVEY29hEyF5ecfcWG9OQU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ $('init Vars1').item.json.GSheetID }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"SuggestedTYPE":"={{ $json.SuggestedEventType }}","SuggestREASON":"={{ $json.SuggestREASON }}","Updated":"={{ $now.toLocal('America/Los Angeles').format('yyyy-MM-dd hh:mm:ss') }}","row_number":"={{ $json.row_number }}","Model":"={{ $('init Vars1').item.json.GPT_Model }}"},"matchingColumns":["row_number"],"schema":[{"id":"n8n Status","displayName":"n8n Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OFFER_EVENT_ID","displayName":"OFFER_EVENT_ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OFFER_EVENT_NAME","displayName":"OFFER_EVENT_NAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EVENT_TYPE","displayName":"EVENT_TYPE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OFFER_ID","displayName":"OFFER_ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CAMPAIGN_NAME","displayName":"CAMPAIGN_NAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CATEGORIES_ARRAY","displayName":"CATEGORIES_ARRAY","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIPTION","displayName":"DESCRIPTION","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"THINGS_TO_KNOW","displayName":"THINGS_TO_KNOW","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"TITLE","displayName":"TITLE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"APP_ID","displayName":"APP_ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIPTION","displayName":"DESCRIPTION","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DAYS_TO_COMPLETE","displayName":"DAYS_TO_COMPLETE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ORDER_NUM","displayName":"ORDER_NUM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SuggestedTYPE","displayName":"SuggestedTYPE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SuggestREASON","displayName":"SuggestREASON","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Updated","displayName":"Updated","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Model","displayName":"Model","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2192,1104],"id":"446171b7-5df0-4bf8-912b-33cf8d6aa968","name":"GSheet Update Row1","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"GSA: n8n-disco-gservice-20250520"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"7c1373cc-df38-4860-b9d0-42d2bab079ed","name":"GPT_Model","value":"gpt-5-mini","type":"string"},{"id":"fc8891b2-c77d-4b8a-9edf-6f93855d716f","name":"GSheetID","value":1946355493,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,1104],"id":"4c4c1d96-be88-484c-964b-7f5cd4a9aeda","name":"init Vars1","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1e7ffd20-73e0-42bf-8997-bc10c9bc4a3a","leftValue":"={{ $json.OFFER_EVENT_NAME }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"5f68afbf-4936-4492-907d-0a5c3b39fafc","leftValue":"={{ $json.row_number }}","rightValue":2,"operator":{"type":"number","operation":"gte"}},{"id":"1b435e8c-b648-4120-a838-97a3e35e48a2","leftValue":"={{ $json.PROMISED_PAYOUTS }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"5eeb0dbf-9039-45a3-9a91-45443874f171","leftValue":"={{ $json.EXISTING_EVENT_TYPE }}","rightValue":"PLAYTIME","operator":{"type":"string","operation":"notEquals"}},{"id":"a944e801-9e7f-437d-8012-2f0fd6b97c9f","leftValue":"={{ $json.EXISTING_EVENT_TYPE }}","rightValue":"INSTALL","operator":{"type":"string","operation":"notEquals"}},{"id":"1c0eab20-916f-4b7f-8d7d-b94d4afa09e7","leftValue":"={{ $json.EXISTING_EVENT_TYPE }}","rightValue":"APPSFLYER","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[944,1184],"id":"e69c8be9-2fdd-4b94-a5b8-dffd6b2737d5","name":"If Good Event3","disabled":true}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"init Vars","type":"main","index":0}]]},"GSheet Get forn8n":{"main":[[{"node":"If Good Event","type":"main","index":0},{"node":"Limit","type":"main","index":0}]]},"If Good Event":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"If Good Event1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Code in JavaScript","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Set AIOutput","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Set AIOutput":{"main":[[{"node":"GSheet Update Row","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[]]},"GSheet Update Row":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"init Vars":{"main":[[{"node":"GSheet Get forn8n","type":"main","index":0}]]},"If Good Event1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"GSheet Get forn8n1":{"main":[[{"node":"If Good Event2","type":"main","index":0},{"node":"Limit1","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0},{"node":"If Good Event3","type":"main","index":0}]]},"If Good Event2":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Code in JavaScript1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Set AIOutput1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Set AIOutput1":{"main":[[{"node":"GSheet Update Row1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"GSheet Update Row1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"init Vars1":{"main":[[{"node":"GSheet Get forn8n1","type":"main","index":0}]]},"If Good Event3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":600,"availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e2751e39-62b1-40c1-a0c3-2185ced99a02","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-24T20:33:20.948Z","createdAt":"2025-11-24T20:33:20.948Z","role":"workflow:owner","workflowId":"LBkJKKwkAHy6uZuh","projectId":"NOrA7nVi3G84Nq0v"}],"activeVersion":null,"tags":[{"updatedAt":"2025-06-06T18:17:45.414Z","createdAt":"2025-05-20T18:50:07.486Z","id":"o9kQdq2i4tcW3ACG","name":"disco PM"}]}