OS3 OfferWall Health Check.json
{"updatedAt":"2025-06-23T19:19:52.000Z","createdAt":"2025-06-01T22:37:30.946Z","id":"QuzPnZwWC8j9them","name":"OS3 OfferWall Health Check","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"c3804622-b1ef-4f40-a3dd-d9d6256c08dc","name":"jiraADO","value":"=ADO-{{ $json[\"Jira Ticket (numeric value of ADO)\"] }}","type":"string"},{"id":"ee896149-66a8-456f-8024-f38e4a1dc69c","name":"offerID","value":"={{ $json[\"Offer ID\"] }}","type":"number"},{"id":"e4e11a56-d3db-411c-a8f6-c53f7e950212","name":"countries","value":"={{ $json[\"Country(ies)?\"].join(',') }}","type":"string"},{"id":"40edc153-f634-4469-aa2d-eb8603c594fe","name":"submittedAt","value":"={{ $json.submittedAt }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0],"id":"82941773-412e-43f7-9204-91494ccb152d","name":"setFormVars"},{"parameters":{"content":"## Get Offers as a Pub\nTry to use Credentials of:\n**AGM Pollfish - Test Rewarded Ads Account** 132346\n [OS3/AGM API Docs](https://docs.prodegeads.com/apis/offers-api)","height":360,"width":300},"type":"n8n-nodes-base.stickyNote","position":[560,-160],"typeVersion":1,"id":"a2798780-42c1-41eb-97a6-b0cc4918101b","name":"Sticky Note"},{"parameters":{"content":"### Form Credentials\nUses Streamlit \n**Replace later**","height":300,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-80,-80],"typeVersion":1,"id":"2fbe1e63-fd66-4b98-a0af-6a807a698e9f","name":"Sticky Note1"},{"parameters":{"fieldToSplitOut":"data","options":{"destinationFieldName":"=Offer_ID_{{ $json.data[0].id }}"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[880,0],"id":"09c392be-c0b0-4e85-9abc-c0119766b9a4","name":"Split Out"},{"parameters":{"content":"## Adds JSON attachment to Jira\nUses Jira API Creds\n [Jira API Tokens](https://id.atlassian.com/manage-profile/security/api-tokens)","height":360,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1260,-160],"typeVersion":1,"id":"86bdb18a-2a02-42da-b154-6524d40023eb","name":"Sticky Note2"},{"parameters":{"content":"# Health Check\n**WIP** \n* Add Trigger from Jira or??\n* Error Checking\n* Security","width":360,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-80,-300],"typeVersion":1,"id":"bc17a275-5ed2-4341-a998-4743ca5430bf","name":"Sticky Note3"},{"parameters":{"resource":"issueAttachment","issueKey":"={{ $('setFormVars').item.json.jiraADO }}"},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[1320,0],"id":"268ce1a9-e164-4106-b356-83cb226cb7c8","name":"Jira add JSON to Ticket","credentials":{"jiraSoftwareCloudApi":{"id":"GDYZH1VJ2qrlv5SU","name":"Jira fef checkExpire"}}},{"parameters":{"url":"https://api.adgatemedia.com/v3/offers?","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"aff","value":"132346"},{"name":"wall_code","value":"nayTqmw"},{"name":"offer","value":"={{ $json.offerID }}"},{"name":"=countries","value":"={{ $json.countries }}"}]},"options":{"redirect":{"redirect":{"maxRedirects":4}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,0],"id":"3d6cc118-c382-4c4f-9fa0-17d1460ab9fe","name":"os3HTTP","credentials":{"httpQueryAuth":{"id":"nG4jKRADZWmf4gnw","name":"AGM OS3 Aff: Pollfish - Test Rewarded Ads Account"}}},{"parameters":{"operation":"get","issueKey":"=176358","simplifyOutput":true,"additionalFields":{}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[440,0],"id":"2ced7e3c-eb15-4af0-a4c7-72d7c3c4a934","name":"testJira","credentials":{"jiraSoftwareCloudApi":{"id":"GDYZH1VJ2qrlv5SU","name":"Jira fef checkExpire"}},"disabled":true},{"parameters":{"operation":"toJson","options":{"encoding":"utf8","fileName":"={{ $json.Offer_ID_1302426.id }}-{{ $json.Offer_ID_1302426.geo_targeting.countries[0].country_code }}-{{ DateTime.now($json[\"Now\"]).toFormat('yyyy-LLL-dd HHmm')}}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1100,0],"id":"71cab186-1481-420e-b98c-8841643cd64a","name":"convertFile"},{"parameters":{"authentication":"basicAuth","formTitle":"Show Offer Details","formDescription":"Enter the Jira ADO Ticket ID and the Offer ID to attach the JSON of the File at time of execution.","formFields":{"values":[{"fieldLabel":"Jira Ticket (numeric value of ADO)","fieldType":"number","placeholder":"ADO-??????","requiredField":true},{"fieldLabel":"Country(ies)?","fieldType":"dropdown","fieldOptions":{"values":[{"option":"us"},{"option":"gb"},{"option":"ca"},{"option":"au"}]},"multiselect":true},{"fieldLabel":"Offer ID","fieldType":"number"}]},"responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,0],"id":"a9e1096f-2c14-48bd-8760-d031beed06a8","name":"formTrigger","webhookId":"a525f75e-8337-4140-b572-c294405f346e","credentials":{"httpBasicAuth":{"id":"yRUigZ91Hl3x36uP","name":"streamlit to n8n"}}}],"connections":{"setFormVars":{"main":[[{"node":"testJira","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"convertFile","type":"main","index":0}]]},"os3HTTP":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"testJira":{"main":[[{"node":"os3HTTP","type":"main","index":0}]]},"convertFile":{"main":[[{"node":"Jira add JSON to Ticket","type":"main","index":0}]]},"formTrigger":{"main":[[{"node":"setFormVars","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":600},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e6198231-1b35-4d67-9a28-089996f6504c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-06-23T19:19:52.334Z","createdAt":"2025-06-23T19:19:52.334Z","role":"workflow:owner","workflowId":"QuzPnZwWC8j9them","projectId":"NOrA7nVi3G84Nq0v"}],"activeVersion":null,"tags":[{"updatedAt":"2025-06-06T18:17:45.414Z","createdAt":"2025-05-20T18:50:07.486Z","id":"o9kQdq2i4tcW3ACG","name":"disco PM"},{"updatedAt":"2025-06-06T18:17:53.513Z","createdAt":"2025-04-09T22:53:12.719Z","id":"ua93nX6ZUDbcpnxI","name":"jira"}]}