OS3 OfferWall Get Offers any Aff Source.json
{"updatedAt":"2025-06-09T22:36:32.000Z","createdAt":"2025-06-09T20:55:52.236Z","id":"dCbLKxIozwPZraFI","name":"OS3 OfferWall Get Offers any Aff Source","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"c3804622-b1ef-4f40-a3dd-d9d6256c08dc","name":"jiraADO","value":"=ADO-{{ $json[\"Jira Ticket (numeric value of ADO)\"] }}","type":"string"},{"id":"ee896149-66a8-456f-8024-f38e4a1dc69c","name":"offerID","value":"={{ $json[\"Offer ID\"] }}","type":"number"},{"id":"e4e11a56-d3db-411c-a8f6-c53f7e950212","name":"countries","value":"={{ $json[\"Country(ies)?\"].join(',') }}","type":"string"},{"id":"40edc153-f634-4469-aa2d-eb8603c594fe","name":"submittedAt","value":"={{ $json.submittedAt }}","type":"string"},{"id":"98e6a6de-40e0-40a4-9bb6-d016860dec5d","name":"aff","value":"={{ $json.aff || 132346 }}","type":"string"},{"id":"96661e4d-e0b2-431b-bee3-aa27fb471143","name":"wall_id","value":"={{ $json.wall_id || nayTqmw }}","type":"string"},{"id":"378b1d0a-0a73-4a54-8fc3-af690c101a19","name":"take","value":"={{ $json[\"How many?\"] }}","type":"number"},{"id":"c85c9550-c6a5-4e57-8d15-3f6140d5c832","name":"gSheet","value":"={{ $json.aff }}-{{ $json.wall_id }} {{ $now.format('yyyy-MM-dd HHmmss') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,100],"id":"f10056a6-9041-4d37-9514-1ca73a905e07","name":"setFormVars"},{"parameters":{"content":"## Get Offers as a Pub\nTry to use Credentials of:\n{{ form vars }}\n* Flip: 101768/nq2armQ\n* Pollfish Test: 132346/nayTqmw\n* Test: 1656/nq6VrmQ\n\nRequires setting the API key in the Auth\n\n [OS3/AGM API Docs](https://docs.prodegeads.com/apis/offers-api)","height":400,"width":320},"type":"n8n-nodes-base.stickyNote","position":[550,-140],"typeVersion":1,"id":"74bd28ef-aec3-4084-a6fc-0ebe01f3dabd","name":"Sticky Note"},{"parameters":{"content":"### Form Credentials\nUses Streamlit \n**Replace later**","height":300,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-70,-40],"typeVersion":1,"id":"31d215da-8651-4fd3-9589-5499e65bbf82","name":"Sticky Note1"},{"parameters":{"content":"# Get Offers on Wall\nSelect Aff and Wall in Form, match with Credentials in HTTP request\n* Error Checking\n* Security","height":280,"width":540,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-80,-340],"typeVersion":1,"id":"af1918cd-0c8d-45aa-aeb5-439fc29f9e04","name":"Sticky Note3"},{"parameters":{"url":"https://api.adgatemedia.com/v3/offers?","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"aff","value":"={{ $('setFormVars').item.json.aff }}"},{"name":"wall_code","value":"={{ $('setFormVars').item.json.wall_id }}"},{"name":"offer","value":"={{ $('setFormVars').item.json.offerID }}"},{"name":"=countries","value":"={{ $('setFormVars').item.json.countries }}"},{"name":"take","value":"={{ $('setFormVars').item.json.take }}"}]},"options":{"redirect":{"redirect":{"maxRedirects":4}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,100],"id":"c44edb69-bbb4-4a85-9651-e6e88eee274f","name":"os3HTTP","credentials":{"httpCustomAuth":{"id":"I7SRZCPRcSJ9h38l","name":"Scraper API"},"httpQueryAuth":{"id":"u7JZdAmOk8gTTnkZ","name":"AGM OS3 Aff: BitLabs"}}},{"parameters":{"operation":"toJson","options":{"encoding":"utf8","fileName":"={{ DateTime.now($json[\"Now\"]).toFormat('yyyy-LLL-dd HHmm')}}-aff_{{ $('setFormVars').item.json.aff }}-wall_{{ $('setFormVars').item.json.wall_id }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1540,0],"id":"06734b62-bb08-4f65-8b20-d697ec810c36","name":"convertFile","disabled":true},{"parameters":{"authentication":"basicAuth","formTitle":"Get Offers on Specific Wall","formDescription":"remember to set the Credential for the Pub\n* Flip: 101768/nq2armQ\n* Pollfish Test 132346/nayTqmw\n* Test: 1656/nq6VrmQ","formFields":{"values":[{"fieldLabel":"aff","fieldType":"number","placeholder":"101768 (BitLabs)","requiredField":true},{"fieldLabel":"wall_id","placeholder":"nq2armQ (Flip)"},{"fieldLabel":"Country(ies)?","fieldType":"dropdown","fieldOptions":{"values":[{"option":"us"},{"option":"gb"},{"option":"ca"},{"option":"au"}]},"multiselect":true},{"fieldLabel":"How many?","fieldType":"number","placeholder":"99"}]},"responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,100],"id":"f17bd291-68ba-4cea-9492-985d34da4f62","name":"formTrigger","webhookId":"03949cad-b08a-4374-9f76-bdc529ddf47f","credentials":{"httpBasicAuth":{"id":"yRUigZ91Hl3x36uP","name":"streamlit to n8n"}}},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1sxq0DlNa7BY37H2N3PN8STvSpN5Uq5xWH-bU4wsl4d4/","mode":"url"},"sheetName":{"__rl":true,"value":"={{ $('setFormVars').item.json.gSheet }}","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"advertiser_id","displayName":"advertiser_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_sensitive","displayName":"is_sensitive","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"product_id","displayName":"product_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"product_name","displayName":"product_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_game","displayName":"is_game","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"app_metadata","displayName":"app_metadata","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"geo_targeting","displayName":"geo_targeting","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"demographic_targeting","displayName":"demographic_targeting","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"categories","displayName":"categories","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"total_points","displayName":"total_points","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"total_promotional_points","displayName":"total_promotional_points","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"translations","displayName":"translations","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1540,200],"id":"0db1a260-b6b1-43ba-801b-770f58ff45bc","name":"Google Sheets","credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"n8n-disco-gservice-20250520"}}},{"parameters":{"authentication":"serviceAccount","operation":"create","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1sxq0DlNa7BY37H2N3PN8STvSpN5Uq5xWH-bU4wsl4d4","mode":"url"},"title":"={{ $json.gSheet }}","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[440,100],"id":"11e8284f-ca73-43b9-aa61-c5e48156dcb6","name":"Google Sheets1","alwaysOutputData":true,"credentials":{"googleApi":{"id":"QiFnc6LASwUHHaim","name":"n8n-disco-gservice-20250520"}}},{"parameters":{"jsCode":"// Make a copy of the input data\nconst modifiedData = JSON.parse(JSON.stringify($input.all()[0].json.data));\n\n// Loop through each item in the array\nfor (let item of modifiedData) {\n  // Check if app_metadata exists\n    delete item.anchor;\n    delete item.click_url;\n    delete item.country_stats;\n    delete item.creatives;\n    delete item.description;\n    delete item.device_targeting;\n    delete item.disclaimer;\n    delete item.events;\n    delete item.events;\n    delete item.pending_time;\n    delete item.preview_url;\n    delete item.requirements;\n    delete item.support_url;\n    delete item.things_to_know;\n  if (item && item.app_metadata ) {\n    // Delete the screenshot_urls property\n    delete item.app_metadata.categories;\n    delete item.app_metadata.screenshot_urls;\n    delete item.app_metadata.video_urls;\n  }\n}\n\n// Return the modified data\nreturn { data: modifiedData };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,100],"id":"859a2c74-ba0f-4800-a992-a9c56a834c63","name":"delArrayItems"},{"parameters":{"assignments":{"assignments":[{"id":"45b863a4-d522-40a4-b085-0e940a94029a","name":"data","value":"={{ $json.data }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,100],"id":"7c5ed479-fd1b-4230-a85b-7955c1277207","name":"setOfferData"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1320,100],"id":"d20da2a6-84f6-42e2-8367-b0ff2b5b6331","name":"splitOffers"}],"connections":{"setFormVars":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"os3HTTP":{"main":[[{"node":"setOfferData","type":"main","index":0}]]},"convertFile":{"main":[[]]},"formTrigger":{"main":[[{"node":"setFormVars","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"os3HTTP","type":"main","index":0}]]},"delArrayItems":{"main":[[{"node":"splitOffers","type":"main","index":0}]]},"setOfferData":{"main":[[{"node":"delArrayItems","type":"main","index":0}]]},"splitOffers":{"main":[[{"node":"convertFile","type":"main","index":0},{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":480},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4d9fab5f-e824-42fa-8a5e-9ba52e55495f","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-06-09T22:36:32.369Z","createdAt":"2025-06-09T22:36:32.369Z","role":"workflow:owner","workflowId":"dCbLKxIozwPZraFI","projectId":"NOrA7nVi3G84Nq0v"}],"activeVersion":null,"tags":[{"updatedAt":"2025-06-06T18:17:45.414Z","createdAt":"2025-05-20T18:50:07.486Z","id":"o9kQdq2i4tcW3ACG","name":"disco PM"}]}