OS3 New Offer Shell Req.json
{"updatedAt":"2025-11-12T08:13:06.000Z","createdAt":"2025-11-12T07:54:50.474Z","id":"1zt6BIx518mPVaBl","name":"OS3 New Offer Shell Req","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"0e5be566-d98a-4d8e-83a2-3c5f9a041781","name":"When clicking ‘Execute workflow’"},{"parameters":{"mode":"raw","includeOtherFields":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"ad3c5d33-15b1-4e72-a7a9-b84a4ecbfb85","name":"Edit Fields"},{"parameters":{"method":"PUT","url":"https://api17.agm.mobi/internal/v1/offer","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[416,0],"id":"34b18126-dd44-4a32-9b4e-8cf01298dbd7","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"ytNtUDVDezumS8OP","name":"Header Auth account 3"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When clicking ‘Execute workflow’":[{"json":{"details":{"advertiser_id":123,"name":"Premium Mobile Game","campaign_name":"Q4 Gaming Campaign","product_id":"GAME001","status":"pending","url":"https://example.com/game?tid={transaction_id}","preview_url":"https://example.com/preview","offer_ref":"REF123","app_id":"com.example.game","uuid":"unique-offer-id-123","notes":"High-performing mobile game offer","categories":[1,21,2],"labels":[1,5],"session_hours":720,"is_game":true,"has_jump_page_enabled":false,"is_pausing_postbacks_disabled":false,"keep_on_ow_after_conversion":false,"toolPermissions":["vc_allowed"],"vc_allowed":1,"vc_description":"Complete the tutorial...","vc_anchor":"Play Now","vc_sticky":true,"vc_things_to_know":"Game requires 100MB storage","vc_days_to_complete":7,"budget_type":"fixed","daily_budget":1000,"monthly_budget":25000,"roas_goals":[{"day":1,"percentage":80}],"locale":{"language":"en","anchor":"Play Now","description":"Complete the tutorial...","things_to_know":"Game requires 100MB storage"},"offer_events":[{"name":"install","label":"Install Game","default":true,"cpc":false,"sticky_payout":true,"payable":true,"payout_type":"flat","payout":3,"revenue":4,"multiple_conversions_allowed":false,"hourly_cap":100,"daily_cap":1000,"monthly_cap":30000,"total_cap":500000,"daily_aff_cap":50,"monthly_aff_cap":1500,"daily_ppn_cap":10,"monthly_ppn_cap":300,"total_ppn_cap":1000,"order":1,"completion_order":1,"uuid":"temp-uuid-123","has_temporary_uuid":true,"event_type":null,"ttc":null,"dynamic_payout_display":"up_to","dynamic_payout_display_up_to":100,"x_conversions":500,"every_y_minutes":0}]},"limitations":{"private":1,"is_sensitive":0,"is_sms_verification_required":1,"is_phone_reverification_disabled":0,"minimum_contact_time_minutes":60,"uses_hourly_scheduling":1,"device_id_required":1,"ignore_high_complaint_rule":0,"conversion_delay":120,"countries":[1,2,3],"states":[1,5,12],"browsers":["chrome","safari","firefox"],"platforms":["mobile","tablet"],"deviceModels":["iPhone","Samsung Galaxy"],"deviceManufacturers":["Apple","Samsung"],"operatingSystems":[{"name":"iOS","minVersion":13,"maxVersion":17}],"ageTargeting":{"hasAgeTargeting":true,"unknownAllowed":false,"options":{"minAge":18,"maxAge":35}},"genderTargeting":{"hasGenderTargeting":true,"unknownAllowed":false,"options":["male","female"]},"userTags":["premium-users","mobile-gamers"],"postalCodes":["902","101","000","160","601"],"hourly_schedules":[{"day":1,"hour":9}]},"allowed_affiliates":{"approved":[{"affiliateId":123}],"blocked":[{"affiliateId":789}],"approved_tags":["premium","mobile","gaming"],"blocked_tags":["incentive","low-quality"]}}}]},"versionId":"e12542bc-310c-4874-89e6-4b4fd2bd1ced","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-12T07:54:50.478Z","createdAt":"2025-11-12T07:54:50.478Z","role":"workflow:owner","workflowId":"1zt6BIx518mPVaBl","projectId":"Lgsn4NWhkbeG1opy"}],"activeVersion":null,"tags":[]}