Packaging - Check goal grid agent.json
{"updatedAt":"2025-07-22T18:00:38.000Z","createdAt":"2025-07-22T16:33:32.956Z","id":"PpJnqymjmcsxsN9s","name":"Packaging - Check goal grid agent","active":false,"isArchived":true,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"ac456492-40f9-4a86-af8a-8c06eaef5cfe","name":"issueKey","value":"=ADO-11860","type":"string"},{"id":"44d9b097-8927-4476-918b-911bad901aca","name":"Product Title","value":"=Testing Ticket Flow_Test PF Flow(Boden)","type":"string"},{"id":"e0668194-03ac-4f0c-ae62-9ddf02e77f10","name":"parentKey","value":"=","type":"string"},{"id":"035088c3-21a8-44be-b4d0-a05ea83046d3","name":"advertiser","value":"TEST CLIENT NAME (Boden1)","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1680,1712],"id":"b33a873b-82e3-41ab-a132-50e06ccd98c1","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1856,1712],"id":"ec2b0fa0-a7fb-443a-bcb5-ee58c80bca94","name":"When clicking ‘Execute workflow’"},{"parameters":{"content":"## Todo\n- debug attach to parent tool","color":3},"type":"n8n-nodes-base.stickyNote","position":[-1856,1456],"typeVersion":1,"id":"1b878f85-2f06-4790-afab-51d20357c230","name":"Sticky Note"},{"parameters":{"operation":"get","issueKey":"={{ $json.issueKey }}","additionalFields":{"fields":"customfield_10477"}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[-1472,1712],"id":"a6a05d90-aeb7-4795-9e9f-99b02616ae37","name":"Get an issue","credentials":{"jiraSoftwareCloudApi":{"id":"GDYZH1VJ2qrlv5SU","name":"n8n-fef-exp_Aug31"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"goalStatus\": \"Parent found and attached.\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1040,1936],"id":"66d15fbe-509e-4b89-b0c8-8fa0de5dfd7c","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1232,1936],"id":"836f6bfc-33fe-4dc4-905a-f29e83b6dd40","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"promptType":"define","text":"=You will recieve data below that contains the event or events for an offer. It could be a single sign up and make a deposit event for a fintech lead gen offer, or it could be many events for a mobile game offer including install, level and purchase events.\n\nYour job is to review, audit, and validate this data is complete based on the following checklist:\n\nAudit Checklist:\n\n1. The data recieved contains at least 1 table of event(s)\n\n2. Determine if this is a mobile game offer or another type of offer.\n\n  2.A. If it's a mobile game offer, make sure the following are present.\n    1. At least one install event\n    2. A few level (non install, non purchase) events.\n    3. Most likely at least 1 purchase event.\n    4. Non install, non purchase events should have conversion rates. \n    5. Conversion rates are formatted like: 50% or .5\n    6. All events have an Android or iOS token.\n    7. Install has revenue and/or other events have revenue.\n    8. Revenue is formatted like $5 or 5.\n\n  2.B. if it's not a mobile game offer, make sure the following are present.\n    1. At least one event is present.\n    2. Event revenue value is specified.\n\n3. Based on the results of your findings, provide a goalCheck update using the following format:\n\n🔴 {Insert your explination of why offer is failing goalCheck}.\n🟢 {Insert your explination of why offer is passing goalCheck}.\n\nData:\n\n{{ $json.fields.customfield_10477 }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-1232,1712],"id":"69812389-b979-4d81-8ab6-4218ed9414b6","name":"Check Goals Agent"}],"connections":{"Edit Fields":{"main":[[{"node":"Get an issue","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get an issue":{"main":[[{"node":"Check Goals Agent","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Check Goals Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Check Goals Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":900},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"226ee54b-dc4c-471d-ae18-d9eeae79a53d","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-07-22T16:33:32.961Z","createdAt":"2025-07-22T16:33:32.961Z","role":"workflow:owner","workflowId":"PpJnqymjmcsxsN9s","projectId":"NOrA7nVi3G84Nq0v"}],"activeVersion":null,"tags":[{"updatedAt":"2025-06-06T18:17:45.414Z","createdAt":"2025-05-20T18:50:07.486Z","id":"o9kQdq2i4tcW3ACG","name":"disco PM"},{"updatedAt":"2025-06-06T18:17:53.513Z","createdAt":"2025-04-09T22:53:12.719Z","id":"ua93nX6ZUDbcpnxI","name":"jira"}]}