Peeq BID automation (BAI-63).json
{"updatedAt":"2025-12-18T22:20:29.089Z","createdAt":"2025-10-29T17:58:34.006Z","id":"VFB6Ysug68HqdaG6","name":"Peeq BID automation (BAI-63)","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Peeq Bid Email Automation Test","formDescription":"=Submit hubspot email engagment link to test. \n\nExample: https://app.hubspot.com/contacts/20464009/record/0-3/44206538524/view/1?engagement=89272792909&type=EMAIL\n\nWARNING: This automation can take 5+ minutes to run.\n\nReview results here: \n\n{{ `<a href=\"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit?gid=0#gid=0\" target=\"_blank\">Open Google Sheet</a>` }}\n","formFields":{"values":[{"fieldLabel":"Hubspot Email Engagment Link","placeholder":"https://app.hubspot.com/contacts/20464009/record/0-3/44206538524/view/1?engagement=89272792909&type=EMAIL","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-4288,1088],"id":"21a2fe31-2e3b-494e-845f-b6456862fb70","name":"On form submission","webhookId":"bde40cd0-5386-49e6-8f69-0b1ae9c70afc"},{"parameters":{"endpointUrl":"https://mcp-peeq-prod.bitburst.workers.dev/mcp","serverTransport":"httpStreamable","authentication":"headerAuth","options":{"timeout":60000}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.1,"position":[-384,1184],"id":"6b69815e-7ff5-42b9-bbcf-bd494f29eb5a","name":"MCP Peeq QA2","credentials":{"httpHeaderAuth":{"id":"H0rzW182ounuNxWp","name":"Header Auth X-Peeq-Auth PROD bitburst - 3"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{"timeout":60000,"maxRetries":5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-656,1184],"id":"5f4ec053-6dd8-4d50-ad1b-ae7802b105be","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[-272,1184],"id":"270d015b-d458-41b1-bf48-492639ee0874","name":"Think2"},{"parameters":{"jsonSchemaExample":"{\n\"country_name\": \"USA\",\n  \"country_id\": 1\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-144,1184],"id":"9942ec8f-c987-4a98-95fe-c5026e5a4fac","name":"Structured Output Parser2"},{"parameters":{"promptType":"define","text":"=Country: {{ $json.criteria.country }}","hasOutputParser":true,"options":{"systemMessage":"=Determine country from request and look up country id using your lookup_all_countries tool.\nReturn country name and  id in output.","maxIterations":5}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-480,960],"id":"804bea98-db49-45da-9630-0c37976dc3de","name":"Country Agent"},{"parameters":{"jsCode":"// Import necessary library\nconst crypto = require('crypto');\n\n// Function to generate the signature\nconst generateSignature = (parameters, secretKey) => {\n    const sortedKeys = Object.keys(parameters).sort();\n    const stringToSign = sortedKeys.map(key => `${key}=${parameters[key]}`).join(':');\n    const utf8Bytes = Buffer.from(`${secretKey}:${stringToSign}`, 'utf-8');\n    const hash = crypto.createHash('sha256').update(utf8Bytes).digest();\n    const base64Hash = hash.toString('base64');\n    const signature = base64Hash.replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=+$/, '');\n    return signature;\n};\n\n// Obtain current time in milliseconds for the request_date parameter\nconst requestDate = Date.now();\n\n// Define your API key, secret key, and any optional parameters\nconst apiKey = $input.first().json.apiKey;\nconst secretKey = $input.first().json.secretKey;\nconst countryId = $input.first().json.country_id;\n\n// Get criteria from the criteria node\nconst answer_text = $('criteria').first().json;\n\n// Define the parameters for the request\nconst parameters = {\n    apik: apiKey,              // Your API key\n    request_date: requestDate, // Timestamp in milliseconds\n    country_id: countryId      // The ID for the specific country\n};\n\n// Generate the signature\nconst signature = generateSignature(parameters, secretKey);\n\n// Define the base URL and path for the request\nconst baseUrl = 'https://surveypmr.prodegeapisqa.com/prodegemr';\nconst path = '/lookup-question-by-country';\nconst fullUrl = `${baseUrl}${path}`;\n\n// Return all necessary details to complete the request\nreturn {\n    fullUrl,      // The complete URL for the GET request\n    parameters,   // Parameters required for the request\n    signature,    // Generated signature for authentication\n    requestDate,  // Timestamp used in the request\n    answer_text      // Criteria from the criteria node\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,944],"id":"ae460d68-ed68-494b-9b20-77e149df3736","name":"Questions By CountryID"},{"parameters":{"jsCode":"// Get the input items\nconst items = $input.all();\n\n// Process each item and flatten the questions\nconst outputItems = [];\n\nitems.forEach(item => {\n  try {\n    // Check if intermediateSteps exists\n    if (!item.json.intermediateSteps || item.json.intermediateSteps.length === 0) {\n      return;\n    }\n    \n    // Find the MCP tool call step\n    const mcpStep = item.json.intermediateSteps.find(step => \n      step.action && step.action.tool === 'lookup_questions_by_country'\n    );\n    \n    if (!mcpStep || !mcpStep.observation) {\n      return;\n    }\n    \n    // Parse the observation field (it's a JSON string containing an array)\n    const observationArray = JSON.parse(mcpStep.observation);\n    \n    // Extract the text field from the first item in the array\n    const mcpResponseText = observationArray[0].text;\n    \n    // Parse the actual MCP response data\n    const mcpData = JSON.parse(mcpResponseText);\n    \n    // Get the exclude list - check if it's available in the current item or previous node\n    let excludeList = [];\n    if (item.json.Exclude) {\n      excludeList = item.json.Exclude;\n    } else {\n      // Try to get exclude list from previous node data\n      const previousItems = $input.all();\n      for (const prevItem of previousItems) {\n        if (prevItem.json.Exclude) {\n          excludeList = prevItem.json.Exclude;\n          break;\n        }\n      }\n    }\n    \n    // Extract questions and add each as a separate item (filtered by exclude list)\n    if (mcpData.questions && mcpData.questions.length > 0) {\n      mcpData.questions.forEach(question => {\n        // Only include questions whose ID is NOT in the exclude list\n        if (!excludeList.includes(question.question_id)) {\n          outputItems.push({\n            json: question\n          });\n        }\n      });\n    }\n    \n  } catch (error) {\n    // If parsing fails, return error information\n    outputItems.push({\n      json: {\n        error: 'Failed to parse observation data',\n        errorMessage: error.message\n      }\n    });\n  }\n});\n\n// If no questions found, return empty array\nif (outputItems.length === 0) {\n  return [{\n    json: {\n      message: 'No questions found (all filtered out or none returned)'\n    }\n  }];\n}\n\nreturn outputItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1728,944],"id":"98020c01-a417-4129-b967-157dffae6d29","name":"cleaned json"},{"parameters":{"assignments":{"assignments":[{"id":"eb19ea5c-8562-4ab0-9087-ac8dabaf23e5","name":"apiKey","value":"dnMHmAcdsrGqviJ","type":"string"},{"id":"4c44349f-ad7b-4eab-b81d-3ffe25a9c717","name":"secretKey","value":"aZXK1cbmAGZ5sUqS8GKs8QSH0FIaUtChurlSCqYIx7LjyZIMEZPivA8HQn6ZwQX10","type":"string"},{"id":"607df5e8-7715-4c32-9ab9-d174f14bf163","name":"URL","value":"https://surveypmr.prodegeapisqa.com/prodegemr","type":"string"},{"id":"f2506a11-6c0d-465f-bbcb-5c2c5dfdd793","name":"country_id","value":"={{ $json.output.country_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,944],"id":"fa958d6f-a65a-4e82-8a32-c3b16e652ab3","name":"setCountryRequestFields"},{"parameters":{"fieldToSplitOut":"=question_id","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1952,944],"id":"b57cb2fc-6be1-4bc0-98ef-29fb245f7973","name":"Split Out"},{"parameters":{"sessionIdType":"customKey","sessionKey":"test_session"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-512,1184],"id":"48392bc3-6564-4265-a4b3-a9f9eec55e26","name":"Simple Memory2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"27d579b2-5260-428b-8ad9-88addb1db7fa","leftValue":"={{ $json.question_text }}","rightValue":"car ","operator":{"type":"string","operation":"notContains"}},{"id":"ccecb330-e985-43cd-8548-634fd6158f0e","leftValue":"={{ $json.question_id }}","rightValue":602,"operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2304,944],"id":"de4dc6ef-757a-4b74-85ce-c4ef48e77166","name":"Filter"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"90b87dcc-8e15-4e3e-9acb-93164bd4f66e","leftValue":"={{ $json.output.match }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[3056,496],"id":"c0ca6f8e-976f-4eb1-884e-417d9d9138bb","name":"Filter1"},{"parameters":{"jsCode":"// Import necessary library\nconst crypto = require('crypto');\n\n// Function to generate the signature\nconst generateSignature = (parameters, secretKey) => {\n    const sortedKeys = Object.keys(parameters).sort();\n    const stringToSign = sortedKeys.map(key => `${key}=${parameters[key]}`).join(':');\n    const utf8Bytes = Buffer.from(`${secretKey}:${stringToSign}`, 'utf-8');\n    const hash = crypto.createHash('sha256').update(utf8Bytes).digest();\n    const base64Hash = hash.toString('base64');\n    const signature = base64Hash.replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=+$/, '');\n    return signature;\n};\n\n// Obtain current time in milliseconds for the request_date parameter\nconst requestDate = Date.now();\n\n// Get all input items\nconst allInputs = $input.all();\n\n// Extract common data from the first item (should be same across all)\nconst firstInput = allInputs[0].json;\nconst apiKey = firstInput.apiKey;\nconst secretKey = firstInput.secretKey;\nconst countryId = firstInput.country_id;\nconst loi = firstInput.LOI;\nconst ir = firstInput.IR;\n\n// Collect all questions exactly as they are (as strings)\nconst questionsArray = allInputs.map(item => item.json.questions);\n\n// Convert questions array to JSON string for the API\nconst questionsJson = JSON.stringify(questionsArray);\n\n// Extract unique question IDs\nconst questionIds = [...new Set(allInputs.map(item => {\n    const questionData = JSON.parse(item.json.questions);\n    return questionData.questionId;\n}))];\nconst questionIdsString = questionIds.join(',');\n\nconsole.log('All input items:', JSON.stringify(allInputs, null, 2));\nconsole.log('Collected questions array:', questionsArray);\nconsole.log('Questions JSON string:', questionsJson);\n\n// Parameters for signature generation\nconst parametersForSignature = {\n    apik: apiKey,\n    request_date: requestDate,\n    country_id: countryId,\n    questions: questionsJson,\n    LOI: loi,\n    IR: ir\n};\n\n// Generate the signature\nconst signature = generateSignature(parametersForSignature, secretKey);\n\n// Return the data for HTTP request\nreturn {\n    apik: apiKey,\n    request_date: requestDate,\n    country_id: countryId,\n    questions: questionsJson, // Send questions as JSON string\n    LOI: loi,\n    IR: ir,\n    signature: signature,\n    fullUrl: \"https://surveypmr.prodegeapisqa.com/prodegemr/feasibility-run\",\n    question_ids: questionIdsString\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3680,496],"id":"62d65d6d-79b5-46ba-a64f-572f1b4a6720","name":"Compile Feasibility"},{"parameters":{"assignments":{"assignments":[{"id":"eb19ea5c-8562-4ab0-9087-ac8dabaf23e5","name":"apiKey","value":"dtpmr8daegwer","type":"string"},{"id":"4c44349f-ad7b-4eab-b81d-3ffe25a9c717","name":"secretKey","value":"akkl9803ehlansdg8hjaasdlnk9wehklgao8hgwg09wey","type":"string"},{"id":"607df5e8-7715-4c32-9ab9-d174f14bf163","name":"URL","value":"https://surveypmr.prodegeapisqa.com/prodegemr","type":"string"},{"id":"f2506a11-6c0d-465f-bbcb-5c2c5dfdd793","name":"country_id","value":"={{ $('setCountryRequestFields').first().json.country_id }}","type":"number"},{"id":"14519b0c-8549-494a-90ba-2014ef116cf2","name":"questions","value":"={{ $json.output }}","type":"string"},{"id":"48431f14-5485-4bd1-9098-72d0e4e707f2","name":"LOI","value":"={{ $('criteria').first().json.criteria.loi }}","type":"string"},{"id":"b602df91-cc6c-4036-afe3-b2978e34042c","name":"IR","value":"={{ $('criteria').first().json.criteria.ir }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3424,496],"id":"a9f3a902-17f5-4097-9b36-65ebd9984901","name":"setFeasibility"},{"parameters":{"assignments":{"assignments":[{"id":"e60df256-5e28-432b-97dd-42cf321d92e0","name":"quotas","value":"={{ $json.output }}","type":"array"},{"id":"c3003dea-a1de-4c9a-b38f-d8d7e5a1364d","name":"quotas.criteria","value":"={{ $('criteria').first().json.criteria }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5360,496],"id":"951154a9-863d-4a45-a6f8-3b31b2f2af9e","name":"results"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2416,1168],"id":"98892b59-36e1-48e8-bdad-33b76ff77a9d","name":"OpenAI Chat Model6","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"jsonSchemaExample":"{\n  \"quotas\": [\n    {\n      \"country\": \"United States\",\n      \"loi\": \"15 minutes\",\n      \"quota\": 1000,\n      \"criteria\": \"Age 18-65, household income >$50K, drives a honda\",\n      \"car_question\": \"True\",\n      \"income_irregular\": \"False\",\n      \"ir\": \"25%\"\n    },\n    {\n      \"country\": \"United Kingdom\", \n      \"loi\": \"12 minutes\",\n      \"quota\": 500,\n      \"criteria\": \"Age 25-55, employed full-time\",\n      \"car_question\": \"False\",\n      \"income_irregular\": \"False\",\n      \"ir\": \"30%\"\n    },\n    {\n      \"country\": \"Canada\",\n      \"loi\": \"18 minutes\", \n      \"quota\": 750,\n      \"criteria\": \"Age 21-60, urban residents\",\n      \"car_question\": \"False\",\n      \"income_irregular\": \"False\",\n      \"ir\": \"35%\"\n    },\n    {\n      \"country\": \"Australia\",\n      \"loi\": \"14 minutes\",\n      \"quota\": 400,\n      \"criteria\": \"Age 30-65, have children under 18, make over $17,000\",\n      \"car_question\": \"False\",\n      \"income_irregular\": \"True\",\n      \"ir\": \"20%\"\n    }\n  ]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2192,1168],"id":"12d24037-6638-43b3-8a2f-4378dfb142df","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=Email: {{ $json.email }}","hasOutputParser":true,"options":{"systemMessage":"=You are an assistant that analyzes incoming project bid request emails to extract demographic and sample feasibility questions only.\n\nYour job:\n1. Read the email content\n2. Identify only questions about SAMPLE DEMOGRAPHICS and RESPONDENT CHARACTERISTICS\n   - Age groups, gender distribution, geographic location\n   - Health conditions, lifestyle characteristics, behavior patterns  \n   - Incidence rates for specific populations\n   - Sample composition and quotas\n   - Respondent screening criteria\n\nIGNORE internal questions like:\n- \"Can we deliver by X date?\" \n- \"Do we have enough people?\"\n- \"Can we meet the timeline?\"\n- Questions about company capabilities\n\nONLY extract questions about the TARGET AUDIENCE/SAMPLE, such as:\n- \"What's the feasibility of recruiting adults aged 18-25?\"\n- \"Can we achieve 34% incidence rate for digestive health consumers?\"\n- \"Can we get equal gender distribution?\"\n\nCONVERT the plain text answers into more digestable survey answers. For example:\n\n\"Lives in the USA\" turns into \"United States\"\n\"We need ages 25-34 and 60+\" turns into \"Ages 25-34 and 60+\"\n\nInclude the required sample size mapped to each.\nIf the criteria is related to cars makes and models make Car_Question as \"True\".\nIf the criteria mentions income amounts that are NOT in increments of $5,000, mark income_irregular as \"True\".\n\nExample:\nSample Email input:\nHi team, we have a new survey we want to run. I need 100 responses for males, age 25-35, living in the US, making $17,000 or more annually. Would like to get this done by next month.\n\nSample json output:\n{\n  \"Country\": \"United States\",\n  \"Criteria\": [\n    \"Ages 25-35\",\n    \"Male\", \n    \"Income $17,000+\"\n  ],\n  \"Car_Question\": \"False\",\n  \"income_irregular\": \"True\"\n}\n\nSample Email input 2:\nHi team, we have a new survey we want to run. I need 100 responses for males, drive a lexus, living in the US, making $10,000 or more annually. Would like to get this done by next month.\n\nSample json output:\n{\n  \"Country\": \"United States\",\n  \"Criteria\": [\n    \"Drive a lexus\",\n    \"Male\", \n    \"Income $10,000+\"\n  ],\n  \"Car_Question\": \"True\",\n  \"income_irregular\": \"False\"\n}\n\nReturn only valid JSON with no explanations.","maxIterations":5}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-2368,944],"id":"a18800c3-0702-492f-ab65-3da3b1922ca0","name":"Email Analyst"},{"parameters":{"fieldToSplitOut":"output.quotas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1712,944],"id":"b5e14ba6-a957-48b6-bac5-0c78ac8504c7","name":"Split Out1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1072,944],"id":"029bf5da-0d31-4543-958e-d3f74694a910","name":"Loop Over Items1"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko","mode":"list","cachedResultName":"Bid Request Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email Analyst Agent Output":"={{ $json.output.quotas }}","Email Request":"={{ $('setEmail').item.json.email }}","submittedAt":"={{ $('setEmail').item.json.submittedAt }}"},"matchingColumns":[],"schema":[{"id":"submittedAt","displayName":"submittedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Request","displayName":"Email Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email Analyst Agent Output","displayName":"Email Analyst Agent Output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Question Agent Ouput","displayName":"Question Agent Ouput","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Feasibility Results","displayName":"Feasibility Results","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-2032,944],"id":"fa18005d-11c4-4146-b2ec-730d0179b9a2","name":"Append row in sheet","credentials":{"googleApi":{"id":"x5TAmnenTwfnUc5f","name":"boden-n8n-agent-access"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"quotas"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[80,208],"id":"73191793-a4bf-4120-91c1-07a1388a16a4","name":"Aggregate"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko","mode":"list","cachedResultName":"Bid Request Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"submittedAt","lookupValue":"={{ $('setEmail').first().json.submittedAt }}"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3488,80],"id":"965567c6-06b0-4036-a103-a6e825c52dcf","name":"Get Row","credentials":{"googleApi":{"id":"x5TAmnenTwfnUc5f","name":"boden-n8n-agent-access"}}},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko","mode":"list","cachedResultName":"Bid Request Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Question Agent Ouput":"={{ $json[\"Question Agent Ouput\"] }}, {{ JSON.stringify($('Aggregate1').item.json.output) }}","submittedAt":"={{ $('setEmail').first().json.submittedAt }}"},"matchingColumns":["submittedAt"],"schema":[{"id":"submittedAt","displayName":"submittedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Request","displayName":"Email Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Analyst Agent Output","displayName":"Email Analyst Agent Output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Question Agent Ouput","displayName":"Question Agent Ouput","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Feasibility Results","displayName":"Feasibility Results","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Link to Execution","displayName":"Link to Execution","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"n8n form link","displayName":"n8n form link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3712,80],"id":"9481e756-d3cc-4927-928d-1b3604e9e166","name":"Update Row","credentials":{"googleApi":{"id":"x5TAmnenTwfnUc5f","name":"boden-n8n-agent-access"}}},{"parameters":{"assignments":{"assignments":[{"id":"40d9d304-9a9d-4663-9b8f-275afe52678b","name":"criteria.country","value":"={{ $json.country }}","type":"string"},{"id":"d153080a-647b-4db8-b2bb-69426a229a07","name":"criteria.loi","value":"={{ $json.loi }}","type":"string"},{"id":"edbb9fcd-7c72-487b-b230-d4bd1aae7227","name":"criteria.quota","value":"={{ $json.quota }}","type":"string"},{"id":"921ec425-2436-484b-8171-7567feb957b0","name":"criteria.ir","value":"={{ $json.ir }}","type":"string"},{"id":"c2b6fa58-5a95-4546-85aa-9ca4ec21a91e","name":"criteria.criteria","value":"={{ $json.criteria }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-752,960],"id":"5f979fdf-6b0e-4f23-86c4-76dfc33d899e","name":"criteria"},{"parameters":{"assignments":{"assignments":[{"id":"87b37d9d-4c8f-4018-ad1f-72ec948c4e98","name":"output","value":"={{ $('Email Analyst').item.json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1872,944],"id":"52ca8379-797a-4db8-ae08-02b25d023625","name":"setOutput"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko","mode":"list","cachedResultName":"Bid Request Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"submittedAt","lookupValue":"={{ $('setEmail').first().json.submittedAt }}"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[480,208],"id":"03215348-c26b-4dd4-b365-519208e85407","name":"Get Row1","credentials":{"googleApi":{"id":"x5TAmnenTwfnUc5f","name":"boden-n8n-agent-access"}}},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko","mode":"list","cachedResultName":"Bid Request Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Feasibility Results":"={{ $('Aggregate').item.json.quotas }}","Link to Execution":"=https://app.n8n.cloud/workflow/{{ $workflow.id }}/executions/{{ $execution.id }}","submittedAt":"={{ $('setEmail').first().json.submittedAt }}"},"matchingColumns":["submittedAt"],"schema":[{"id":"submittedAt","displayName":"submittedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Request","displayName":"Email Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Analyst Agent Output","displayName":"Email Analyst Agent Output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Question Agent Ouput","displayName":"Question Agent Ouput","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Feasibility Results","displayName":"Feasibility Results","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link to Execution","displayName":"Link to Execution","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"n8n form link","displayName":"n8n form link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[672,208],"id":"cd65fbad-dac9-4c16-a905-8f09f270a3a7","name":"Update Row1","credentials":{"googleApi":{"id":"x5TAmnenTwfnUc5f","name":"boden-n8n-agent-access"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1017c600-c588-4626-9320-69004d4c976b","leftValue":"={{ $json.output.country_id }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-128,960],"id":"81e18d0f-e721-46bb-8494-e400fab5dfab","name":"If"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko","mode":"list","cachedResultName":"Bid Request Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"submittedAt","lookupValue":"={{ $('setEmail').item.json.submittedAt }}"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[688,1328],"id":"05548ec6-4c40-4fbc-ba16-630db37396ac","name":"Get Row2","credentials":{"googleApi":{"id":"x5TAmnenTwfnUc5f","name":"boden-n8n-agent-access"}}},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko","mode":"list","cachedResultName":"Bid Request Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"submittedAt":"={{ $('setEmail').first().json.submittedAt }}","Feasibility Results":"ERROR: No country specified in email"},"matchingColumns":["submittedAt"],"schema":[{"id":"submittedAt","displayName":"submittedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Request","displayName":"Email Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Analyst Agent Output","displayName":"Email Analyst Agent Output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Question Agent Ouput","displayName":"Question Agent Ouput","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Feasibility Results","displayName":"Feasibility Results","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1280,1328],"id":"7b085e21-dddd-4866-bff8-9b70c0f70ffe","name":"Update Row2","credentials":{"googleApi":{"id":"x5TAmnenTwfnUc5f","name":"boden-n8n-agent-access"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{"temperature":0.7,"timeout":60000,"maxRetries":5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2704,1152],"id":"d10e6944-a7c7-44a4-961c-9f6b6ee293c3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"promptType":"define","text":"={{ $json }}","hasOutputParser":true,"options":{"systemMessage":"=Review the question and its answers against this survey feasibility request to determine if it is a match.\n\nCriteria:\n{{ $('criteria').first().json.criteria.criteria }}\n\nFor each question, determine if it matches and is found in the targeting criteria:\n- For questions with options: match against the specific option values\n- For numeric questions (like age): determine if the question is relevant to the criteria, even without specific options\n- For single-select questions: determine if the question is relevant to the criteria and if there are answer options that are relevant to the criteria\n\n**CRITICAL MATCHING RULES:**\n- **EXACT CONTEXT MATCHING**: The question must match the EXACT context of the criteria\n  - If criteria says \"Asthma patients\" → only match questions about the RESPONDENT having asthma\n  - If criteria says \"Male\" → only match questions about the RESPONDENT'S gender\n  - DO NOT match questions about household members, family members, or other people\n  - DO NOT match questions that ask about \"anyone else\" or \"others in household\"\n- **DIRECT RELEVANCE ONLY**: If the question topic is not DIRECTLY and EXPLICITLY mentioned in the criteria, mark as FALSE\n- **RESPONDENT-FOCUSED**: Only match questions that target the survey respondent themselves, not their household/family\n\n**EXAMPLES OF INCORRECT MATCHES:**\n- Criteria: \"Asthma patients\" + Question: \"Has anyone else in your household been diagnosed with asthma?\" → FALSE (asks about others, not respondent)\n- Criteria: \"Male\" + Question: \"What is your spouse's gender?\" → FALSE (asks about spouse, not respondent)\n\nOutput the result in the following JSON format:\n\n{\n  \"questionId\": \"The question ID\",\n  \"question_name\": \"The question name\", \n  \"question_text\": \"The question text\",\n  \"optionId\": \"The answer/option ID, or 'RANGE' for numeric questions, or empty for open-ended\",\n  \"option_text\": \"The answer/option result/text, or the required range/value for numeric questions\",\n  \"match\": true or false if we need the question for the feasibility request\n}\n\nSpecial handling for numeric questions:\n- If {{ $json.question_type }} is \"Numeric\" \n  - Set optionId to \"RANGE\" and option_text to the required range (e.g., \"30-39\")\n- If {{ $json.question_type }} is \"Single-Select\"\n  - Set optionId to the option ID or ID's that match the criteria\n\n**Remember: Only match questions that directly target the survey respondent themselves and exactly match the criteria context.**","maxIterations":5}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2704,944],"id":"4f1c75a8-b69f-4f71-b2b4-bdd413ce1c98","name":"QuestionIdentification1","executeOnce":false},{"parameters":{"jsonSchemaExample":"{\n  \"questionId\": \"1\",\n  \"question_name\": \"Age\",\n  \"question_text\": \"What is your age?\",\n  \"optionId\": \"1\",\n  \"option_text\": \"24\",\n  \"match\": true\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2848,1152],"id":"2f22fb70-0d4d-4291-bd0d-a6879f99fc2d","name":"Structured Output Parser4"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"feasibility"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3264,80],"id":"706fa360-34b3-40e3-a6c1-0a6ff888dcb5","name":"Aggregate1"},{"parameters":{"authentication":"appToken","resource":"engagement","operation":"get","engagementId":{"__rl":true,"value":"={{ $json.engagmentId }}","mode":"id"}},"type":"n8n-nodes-base.hubspot","typeVersion":2.2,"position":[-3648,1088],"id":"3f35358c-8b76-401f-ace2-bd721d1c5e7d","name":"Get an engagement","credentials":{"hubspotAppToken":{"id":"PlnQEFCxdSC4xSy9","name":"HubSpot n8n-HubSpot-PRODUCTION_20464009-202506-fef"}}},{"parameters":{"assignments":{"assignments":[{"id":"40a62e39-0863-4eae-8b10-873830c4069b","name":"engagmentId","value":"={{ $json.link.split('engagement=')[1]?.split('&')[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3856,1088],"id":"5cc797df-bca0-422a-b8e7-1ad92ddb55c0","name":"setEngagmentId"},{"parameters":{"assignments":{"assignments":[{"id":"40a62e39-0863-4eae-8b10-873830c4069b","name":"link","value":"={{ $json['Hubspot Email Engagment Link'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4064,1088],"id":"f266103e-a8ae-465f-93f5-90a0733fa72c","name":"setLink"},{"parameters":{"assignments":{"assignments":[{"id":"d62f2d5b-d797-4c14-972a-81e5a62c13dd","name":"metadata.text","value":"={{ $json.metadata.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3232,944],"id":"25919dfe-c3fe-48c5-8bd0-6bb491181d9a","name":"setText"},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-3024,1152],"id":"6495c6f1-9345-4777-881a-93df723ae1c7","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"bidRequest\": \"men in USA that have dogs\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2848,1152],"id":"1ea1f8df-acf3-4b89-9e57-282473e0d4b8","name":"Structured Output Parser1"},{"parameters":{"promptType":"define","text":"=Email text: {{ $json.metadata.text }}","hasOutputParser":true,"options":{"systemMessage":"Review the given email text and extract the initial Bid request from it. Do not summarize or consolidate any parts of the bid request."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-3008,944],"id":"8bbbd39f-0436-4382-8803-a87a1e32c693","name":"Email Extractor"},{"parameters":{"assignments":{"assignments":[{"id":"8084fe08-51e6-4a8e-b7e9-eb345781a1dd","name":"email","value":"={{ $json.output.bidRequest }}","type":"string"},{"id":"bb3abe6f-0d12-4e35-a4f0-f3659b18f1ce","name":"submittedAt","value":"={{ $('On form submission').item.json.submittedAt }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2624,944],"id":"05f0dbe1-59c1-4414-97ea-a83b3c460577","name":"setEmail"},{"parameters":{"endpointUrl":"https://mcp-peeq-prod.bitburst.workers.dev/mcp","serverTransport":"httpStreamable","authentication":"headerAuth","include":"selected","includeTools":["run_feasibility"],"options":{"timeout":60000}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.1,"position":[4976,720],"id":"51d44f43-5750-4d08-9835-a2a465fd5358","name":"MCP Peeq QA3","credentials":{"httpHeaderAuth":{"id":"H0rzW182ounuNxWp","name":"Header Auth X-Peeq-Auth PROD bitburst - 3"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{"timeout":60000,"maxRetries":5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4704,720],"id":"771158fe-fb86-4b25-ad51-2ef725fdf49e","name":"OpenAI Chat Model7","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[5088,720],"id":"55ac7f83-49eb-4886-b09b-e6ec6c3ab603","name":"Think3"},{"parameters":{"jsonSchemaExample":"[\n  {\n    \"output\": {\n      \"base_cpi\": 0.0,\n      \"cpi\": 0.0,\n      \"completes_estimate\": 1,\n      \"return_status\": {\n        \"status_id\": 1,\n        \"message\": [\"Request Successful\"]\n      }\n    }\n  }\n]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[5216,720],"id":"4f1047fc-ad72-4cee-9486-164e6f42a10f","name":"Structured Output Parser8"},{"parameters":{"sessionIdType":"customKey","sessionKey":"test_session"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4848,720],"id":"f6de0923-7b03-4ef9-b829-c11134868ca3","name":"Simple Memory3"},{"parameters":{"promptType":"define","text":"=Feasibility request: \n\nTargeting Criteria = {{ $json.questions }}\n\nLOI = {{ $json.LOI }}\n\nIR = {{ $json.IR }}\n\ncountry_id = {{ $json.country_id }}","hasOutputParser":true,"options":{"systemMessage":"=Use your run_feasibility tool to calculate the feasibility for the given request. Format the response as an array with a single object containing an 'output' property that holds the feasibility results as a structured object.","maxIterations":5}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[4880,496],"id":"7f15d8c7-2594-401a-bf4f-34f4ca70c783","name":"Feasibility Agent2"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6e76c7e4-25fe-440f-bc38-db5a430c6ebf","leftValue":"={{ $json.car_question }}","rightValue":"True","operator":{"type":"string","operation":"contains"}},{"id":"18977b2f-c658-4517-9308-fc4d2e924b7d","leftValue":"={{ $json.income_irregular }}","rightValue":"True","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1552,944],"id":"a3fea07c-327b-42ab-bf01-4d7f2fc27ea8","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1360,736],"id":"759468d9-1e43-4892-9e50-81694806305a","name":"No Operation, do nothing"},{"parameters":{"endpointUrl":"https://mcp-peeq-prod.bitburst.workers.dev/mcp","serverTransport":"httpStreamable","authentication":"headerAuth","include":"selected","includeTools":["lookup_questions_by_country"],"options":{"timeout":60000}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.1,"position":[1072,1152],"id":"d690674f-fa20-41b8-aa54-88b427e57b06","name":"MCP Peeq QA","credentials":{"httpHeaderAuth":{"id":"H0rzW182ounuNxWp","name":"Header Auth X-Peeq-Auth PROD bitburst - 3"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"gpt-5-nano"},"options":{"timeout":60000,"maxRetries":5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[752,1168],"id":"04fddf87-2229-488c-abea-ba691f0d8871","name":"OpenAI Chat Model10","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[1184,1152],"id":"ef135c35-e4a8-46a9-9b63-34103bd2e047","name":"Think"},{"parameters":{"sessionIdType":"customKey","sessionKey":"optimization_session"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[896,1168],"id":"d250ee39-288e-4090-9261-2a458e8ddca8","name":"Simple Memory"},{"parameters":{"promptType":"define","text":"=Set Parameters as :\n\ncountry_id =  {{ $json.parameters.country_id }}\n\nanswer_text = Key word(s) from {{ $json.answer_text.criteria.criteria }}\n\nquestion_text = Key word(s) from {{ $json.answer_text.criteria.criteria }}\n\nlimit = 100\n\n","hasOutputParser":true,"options":{"systemMessage":"=Retrieve questions for the specified country using your lookup-question-by-country tool. Follow these steps:\n\n**Step 1: Extract Parameters**\n- country_id = {{ $json.parameters.country_id }}\n- Extract key terms from {{ $json.answer_text.criteria.criteria }} to use as search filters\n\n**Step 2: Process Criteria**\nFrom the criteria string in {{ $json.answer_text.criteria.criteria }}, identify and extract:\n- Specific values AND their conceptual categories\n- Key demographic concepts (e.g., \"age\", \"income\", \"education\", \"gender\")\n- Specific conditions or characteristics (e.g., \"Asthma\", \"diabetes\", \"patients\")\n- For numeric fields (age, income, height, weight, etc.), use only the concept word, NOT the actual numbers or ranges\n\n**Step 3: Expand Keywords**\nFor each term, include both the specific term AND the broader concept:\n- \"Male\" → include \"male, gender\"\n- \"Female\" → include \"female, gender\"  \n- \"Dog Owners\" → include \"dog, ownership, owners\"\n- \"Pet Owners\" → include \"pet, ownership, owners\"\n- \"Car Owners\" → include \"car, ownership, owners\"\n- \"Home Owners\" → include \"home, ownership, owners\"\n- \"Parents\" → include \"parents, children\"\n- \"Students\" → include \"students, education\"\n\n**Step 4: Set Search Parameters**\nBefore calling lookup-question-by-country, configure:\n- country_id = {{ $json.parameters.country_id }}\n- answer_text = [expanded concept keywords from criteria]\n- question_text = [expanded concept keywords from criteria]\n\n**Examples:**\nIf criteria = \"Ages 18-25, Asthma patients\"\nThen set:\n- answer_text = \"age, Asthma, patients\"\n- question_text = \"age, Asthma, patients\"\n\nIf criteria = \"Male, Dog Owners\"\nThen set:\n- answer_text = \"male, gender, dog, ownership, owners\"\n- question_text = \"male, gender, dog, ownership, owners\"\n\nIf criteria = \"Income $50,000-$75,000, Female, College educated\"\nThen set:\n- answer_text = \"income, female, gender, education, college\"\n- question_text = \"income, female, gender, education, college\"\n\n**Step 5: Execute Lookup**\nUse the lookup-question-by-country tool with the configured parameters to retrieve ALL matching questions for the specified country.\n\nFocus on extracting both specific terms and their broader conceptual categories to maximize relevant question matches.","maxIterations":1,"returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[928,944],"id":"782da73c-9265-4cd0-9e54-b634b7e37ce3","name":"Get Questions by Country V2"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko","mode":"list","cachedResultName":"Bid Request Automation (BAI-63)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1321003384,"mode":"list","cachedResultName":"QuestionIDs to Exclude","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit#gid=1321003384"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[848,736],"id":"fe630123-c41f-4b03-9ce5-3bb7ce9655c4","name":"Get Exclude QID List","executeOnce":true,"credentials":{"googleApi":{"id":"x5TAmnenTwfnUc5f","name":"boden-n8n-agent-access"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Exclude"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1072,736],"id":"dba51f79-e4c3-4338-bdc5-0e57d8d8cec7","name":"Combine Exclude"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1520,944],"id":"c7fa6bf5-1a61-420b-a4ad-bd47b1b89029","name":"Merge"},{"parameters":{"promptType":"define","text":"=Analyze this feasibility request and optimize it by removing similar/duplicate questions:\n\nRequest Data: {{ JSON.stringify($json) }}\n\nPlease analyze the questions in the Targeting Criteria for similarities. If you find similar questions (same topic, condition, or demographic with similar answer options), use the Snowflake tool to check completion data and keep only the question with the highest completes. Return the complete optimized request maintaining the exact same structure as the input.","hasOutputParser":true,"options":{"systemMessage":"=You are a feasibility optimization agent that processes survey targeting requests to eliminate redundant similar questions.\n\nYour task:\n1. Parse the incoming feasibility request containing targeting criteria questions\n2. Analyze the questions to identify any that are similar in nature (e.g., asking about the same condition, demographic, or topic with similar answer options)\n3. When similar questions are found:\n   - Extract the question IDs of the similar questions\n   - Use the Snowflake tool to query completion data for those question IDs\n   - Keep only the question with the highest number of completes\n   - Remove the other similar questions from the targeting criteria\n4. Return the optimized request with the same structure as the input, but with duplicate/similar questions removed\n\nGuidelines for identifying similar questions:\n- Questions asking about the same medical condition/ailment\n- Questions with identical or very similar answer options\n- Questions covering the same demographic or behavioral topic\n- Questions that would logically screen for the same target audience\n\nWhen using the Snowflake tool, query for completion data using the question IDs you've identified as similar. The tool will return completes data that you should use to determine which question to retain.\n\nAlways maintain the exact input structure in your response, only modifying the questions array to remove similar questions with lower completes. If no similar questions are found, return the input unchanged.\n\nFormat your final response as an array with a single object containing an 'output' property that holds the optimized feasibility request.","maxIterations":5}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[3984,496],"id":"f37e71f3-1b09-486b-b0e3-58c24e37c8d6","name":"FinalQuestion Check"},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{"timeout":60000,"maxRetries":5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3776,704],"id":"f418731d-c0c3-4d4a-b029-d349fd8503be","name":"OpenAI Chat Model8","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"test_session"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[3936,704],"id":"43f529f1-eba3-4896-a3e9-e591b7a8f350","name":"Simple Memory5"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[4064,704],"id":"f56b6301-f2dd-468f-96b5-063eacb5563c","name":"Think5"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  substr (a.questionid, 1) as QuestionID,\n  MAX(q.QuestionName) as QuestionName,\n  p.COUNTRYNAME as Country,\n  c.country_key,\n  COUNT(distinct a.projectid) as Count\nFROM\n  OPS_AUTOMATION_DB.surveys.qual_questions a\n  JOIN OPS_AUTOMATION_DB.surveys.project p on p.projectid = a.projectid\n  JOIN OPS_AUTOMATION_DB.dwstage.mm_country_dim c on c.country = p.countryname\n  LEFT JOIN OPS_AUTOMATION_DB.prodege.profile_question q on q.ExtQuestionID = a.QuestionID\n  AND q.extprofiletypeid = 1\nWHERE\n  p.pmr_status != 'PENDING'\n -- and p.apiuserid \n  AND p.createdon >= dateadd(YEAR,-1,CURRENT_DATE)\n  AND p.createdon <= CURRENT_DATE\n  -- AND c.country_key IN (@ Country @)\n  AND a.questionid in ({{ $json.question_ids }})\n  AND c.country_key = {{ $json.country_id }}\nGROUP BY a.questionid, 3,4\nORDER BY 3, a.questionid"},"type":"n8n-nodes-base.snowflakeTool","typeVersion":1,"position":[4192,704],"id":"036d258d-30db-413b-a781-0d7719bd756b","name":"Snowflake","credentials":{"snowflake":{"id":"gyAQtZa8Xv82pKrh","name":"Snowflake SUPPORT n8n-support-gservice-2025oct"}}},{"parameters":{"jsonSchemaExample":"\n[\n{\n\"apik\": \n\"dtpmr8daegwer\",\n\"request_date\": \n1764020943370,\n\"country_id\": \n\"1\",\n\"questions\": \n\"[\\\"{\\\\\\\"questionId\\\\\\\":\\\\\\\"3\\\\\\\",\\\\\\\"question_name\\\\\\\":\\\\\\\"Gender\\\\\\\",\\\\\\\"question_text\\\\\\\":\\\\\\\"I am...\\\\\\\",\\\\\\\"optionId\\\\\\\":\\\\\\\"1\\\\\\\",\\\\\\\"option_text\\\\\\\":\\\\\\\"Male\\\\\\\",\\\\\\\"match\\\\\\\":true}\\\",\\\"{\\\\\\\"questionId\\\\\\\":\\\\\\\"395\\\\\\\",\\\\\\\"question_name\\\\\\\":\\\\\\\"Ailments 1\\\\\\\",\\\\\\\"question_text\\\\\\\":\\\\\\\"Have you been diagnosed with any of the following illnesses/conditions? Note that the information will be kept in strictest confidence.\\\\\\\",\\\\\\\"optionId\\\\\\\":\\\\\\\"17\\\\\\\",\\\\\\\"option_text\\\\\\\":\\\\\\\"Asthma\\\\\\\",\\\\\\\"match\\\\\\\":true}\\\",\\\"{\\\\\\\"questionId\\\\\\\":\\\\\\\"400\\\\\\\",\\\\\\\"question_name\\\\\\\":\\\\\\\"Sufferer Ailments 1\\\\\\\",\\\\\\\"question_text\\\\\\\":\\\\\\\"Do you suffer from any of the following illnesses/conditions?\\\\\\\",\\\\\\\"optionId\\\\\\\":\\\\\\\"17\\\\\\\",\\\\\\\"option_text\\\\\\\":\\\\\\\"Asthma\\\\\\\",\\\\\\\"match\\\\\\\":true}\\\"]\",\n\"LOI\": \n\"\",\n\"IR\": \n\"\",\n\"signature\": \n\"64Qh9cmf1rAs755wrYfsnJUg-0D-JA2427WjyFKbBvo\",\n\"fullUrl\": \n\"https://surveypmr.prodegeapisqa.com/prodegemr/feasibility-run\"\n}\n]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[4320,704],"id":"fd6707a0-d43c-4edd-b71d-f3fecdc9fd79","name":"Structured Output Parser9"},{"parameters":{"jsCode":"// Extract the data from the output wrapper\nconst inputData = $input.all();\nconst outputArray = [];\n\nfor (const item of inputData) {\n  // Extract the actual data from the output property\n  const actualData = item.json.output[0];\n  outputArray.push(actualData);\n}\n\nreturn outputArray.map(item => ({ json: item }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4448,496],"id":"1dc894cc-71a4-40b4-b3ef-300e3fbc1544","name":"Compile Feasibility1"},{"parameters":{"assignments":{"assignments":[{"id":"6ebfb9fe-4aa7-4cb2-be29-9e518635df52","name":"data","value":"={{ $json['Bid Request Text Area']}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4080,736],"id":"3616d09f-1384-4ddd-ab01-9537f5ddb4e3","name":"setData"},{"parameters":{"formTitle":"Peeq Bid Text Trigger (Manual API)","formDescription":"=Submit hubspot email engagment link to test. \n\nExample: https://app.hubspot.com/contacts/20464009/record/0-3/44206538524/view/1?engagement=89272792909&type=EMAIL\n\nWARNING: This automation can take 5+ minutes to run.\n\nReview results here: \n\n{{ `<a href=\"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit?gid=0#gid=0\" target=\"_blank\">Open Google Sheet</a>` }}\n","formFields":{"values":[{"fieldLabel":"Bid Request Text Area","fieldType":"textarea","placeholder":"I need feasibility for males in USA with a dog","defaultValue":"I need feasibility for males in USA with a dog","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-4288,736],"id":"19c0b8b3-1d37-4b48-8672-5b615f4966e0","name":"Text Form1","webhookId":"11cda743-7a8a-4ee3-ac2e-287361457c82"}],"connections":{"On form submission":{"main":[[{"node":"setLink","type":"main","index":0}]]},"MCP Peeq QA2":{"ai_tool":[[{"node":"Country Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Country Agent","type":"ai_languageModel","index":0}]]},"Think2":{"ai_tool":[[{"node":"Country Agent","type":"ai_tool","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Country Agent","type":"ai_outputParser","index":0}]]},"Country Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Questions By CountryID":{"main":[[{"node":"Get Questions by Country V2","type":"main","index":0},{"node":"Get Exclude QID List","type":"main","index":0}]]},"cleaned json":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"setCountryRequestFields":{"main":[[{"node":"Questions By CountryID","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"Country Agent","type":"ai_memory","index":0}]]},"Filter":{"main":[[{"node":"QuestionIdentification1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"setFeasibility","type":"main","index":0},{"node":"Aggregate1","type":"main","index":0}]]},"Compile Feasibility":{"main":[[{"node":"FinalQuestion Check","type":"main","index":0}]]},"setFeasibility":{"main":[[{"node":"Compile Feasibility","type":"main","index":0}]]},"results":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"Email Analyst","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Email Analyst","type":"ai_outputParser","index":0}]]},"Email Analyst":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"criteria","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"setOutput","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Get Row1","type":"main","index":0}]]},"Get Row":{"main":[[{"node":"Update Row","type":"main","index":0}]]},"criteria":{"main":[[{"node":"Country Agent","type":"main","index":0}]]},"setOutput":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Get Row1":{"main":[[{"node":"Update Row1","type":"main","index":0}]]},"If":{"main":[[{"node":"setCountryRequestFields","type":"main","index":0}],[{"node":"Get Row2","type":"main","index":0}]]},"Get Row2":{"main":[[{"node":"Update Row2","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"QuestionIdentification1","type":"ai_languageModel","index":0}]]},"QuestionIdentification1":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"QuestionIdentification1","type":"ai_outputParser","index":0}]]},"Aggregate1":{"main":[[{"node":"Get Row","type":"main","index":0}]]},"Get an engagement":{"main":[[{"node":"setText","type":"main","index":0}]]},"setEngagmentId":{"main":[[{"node":"Get an engagement","type":"main","index":0}]]},"setLink":{"main":[[{"node":"setEngagmentId","type":"main","index":0}]]},"setText":{"main":[[{"node":"Email Extractor","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Email Extractor","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Email Extractor","type":"ai_outputParser","index":0}]]},"Email Extractor":{"main":[[{"node":"setEmail","type":"main","index":0}]]},"setEmail":{"main":[[{"node":"Email Analyst","type":"main","index":0}]]},"MCP Peeq QA3":{"ai_tool":[[{"node":"Feasibility Agent2","type":"ai_tool","index":0}]]},"OpenAI Chat Model7":{"ai_languageModel":[[{"node":"Feasibility Agent2","type":"ai_languageModel","index":0}]]},"Think3":{"ai_tool":[[{"node":"Feasibility Agent2","type":"ai_tool","index":0}]]},"Structured Output Parser8":{"ai_outputParser":[[{"node":"Feasibility Agent2","type":"ai_outputParser","index":0}]]},"Simple Memory3":{"ai_memory":[[{"node":"Feasibility Agent2","type":"ai_memory","index":0}]]},"Feasibility Agent2":{"main":[[{"node":"results","type":"main","index":0}]]},"If1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"MCP Peeq QA":{"ai_tool":[[{"node":"Get Questions by Country V2","type":"ai_tool","index":0}]]},"OpenAI Chat Model10":{"ai_languageModel":[[{"node":"Get Questions by Country V2","type":"ai_languageModel","index":0}]]},"Think":{"ai_tool":[[{"node":"Get Questions by Country V2","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Get Questions by Country V2","type":"ai_memory","index":0}]]},"Get Questions by Country V2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Get Exclude QID List":{"main":[[{"node":"Combine Exclude","type":"main","index":0}]]},"Combine Exclude":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"cleaned json","type":"main","index":0}]]},"FinalQuestion Check":{"main":[[{"node":"Compile Feasibility1","type":"main","index":0}]]},"OpenAI Chat Model8":{"ai_languageModel":[[{"node":"FinalQuestion Check","type":"ai_languageModel","index":0}]]},"Simple Memory5":{"ai_memory":[[{"node":"FinalQuestion Check","type":"ai_memory","index":0}]]},"Think5":{"ai_tool":[[{"node":"FinalQuestion Check","type":"ai_tool","index":0}]]},"Snowflake":{"ai_tool":[[{"node":"FinalQuestion Check","type":"ai_tool","index":0}]]},"Structured Output Parser9":{"ai_outputParser":[[{"node":"FinalQuestion Check","type":"ai_outputParser","index":0}]]},"Compile Feasibility1":{"main":[[{"node":"Feasibility Agent2","type":"main","index":0}]]},"setData":{"main":[[{"node":"setText","type":"main","index":0}]]},"Text Form1":{"main":[[{"node":"setData","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":1200,"availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"On form submission":[{"json":{"Hubspot Email Engagment Link":"https://app.hubspot.com/contacts/20464009/deal/44206788630/?engagement=87595686568","submittedAt":"2025-11-13T10:59:21.780-08:00","formMode":"production"}}],"Email Extractor":[{"json":{"output":{"bidRequest":"IR: 10-15%?\nLOI: 25 min\nDevices: All\nN600-1800\nAdults 18-64 (25% 18-29, 25% 30-39, 25% 40-49, 25% 50-64\n70% Female, 30% Male\n75% MVPD subs (cable, satellite, telco) 25% Hulu + Live TV, Philo, and Sling subs.\n80% Lifetime viewers (monthly+) 20% comp viewers (Hallmark, LMN, Bravo, E, OWN, VH1, TLC)\n100% made-for-TV movie viewers\n50% Caucasian/20% AA/20% Hispanic/10% Multi-Race, Asian, + Other"}},"pairedItem":{"item":0}}],"setEmail":[{"json":{"email":"I need USA males","submittedAt":"2025-11-13T10:59:21.780-08:00"}}],"Text Form1":[{"json":{"Bid Request Text Area":"I need feasibility for males in USA with a dog","submittedAt":"2025-12-11T12:22:41.605-08:00","formMode":"production"}}]},"versionId":"af3501f2-90da-4630-9f21-dc803e122899","activeVersionId":"af3501f2-90da-4630-9f21-dc803e122899","triggerCount":2,"shared":[{"updatedAt":"2025-10-29T17:58:34.032Z","createdAt":"2025-10-29T17:58:34.032Z","role":"workflow:owner","workflowId":"VFB6Ysug68HqdaG6","projectId":"NOrA7nVi3G84Nq0v"}],"activeVersion":{"updatedAt":"2025-12-18T22:20:29.091Z","createdAt":"2025-12-18T22:20:29.091Z","versionId":"af3501f2-90da-4630-9f21-dc803e122899","workflowId":"VFB6Ysug68HqdaG6","nodes":[{"parameters":{"formTitle":"Peeq Bid Email Automation Test","formDescription":"=Submit hubspot email engagment link to test. \n\nExample: https://app.hubspot.com/contacts/20464009/record/0-3/44206538524/view/1?engagement=89272792909&type=EMAIL\n\nWARNING: This automation can take 5+ minutes to run.\n\nReview results here: \n\n{{ `<a href=\"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit?gid=0#gid=0\" target=\"_blank\">Open Google Sheet</a>` }}\n","formFields":{"values":[{"fieldLabel":"Hubspot Email Engagment Link","placeholder":"https://app.hubspot.com/contacts/20464009/record/0-3/44206538524/view/1?engagement=89272792909&type=EMAIL","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-4288,1088],"id":"21a2fe31-2e3b-494e-845f-b6456862fb70","name":"On form submission","webhookId":"bde40cd0-5386-49e6-8f69-0b1ae9c70afc"},{"parameters":{"endpointUrl":"https://mcp-peeq-prod.bitburst.workers.dev/mcp","serverTransport":"httpStreamable","authentication":"headerAuth","options":{"timeout":60000}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.1,"position":[-384,1184],"id":"6b69815e-7ff5-42b9-bbcf-bd494f29eb5a","name":"MCP Peeq QA2","credentials":{"httpHeaderAuth":{"id":"H0rzW182ounuNxWp","name":"Header Auth X-Peeq-Auth PROD bitburst - 3"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{"timeout":60000,"maxRetries":5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-656,1184],"id":"5f4ec053-6dd8-4d50-ad1b-ae7802b105be","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[-272,1184],"id":"270d015b-d458-41b1-bf48-492639ee0874","name":"Think2"},{"parameters":{"jsonSchemaExample":"{\n\"country_name\": \"USA\",\n  \"country_id\": 1\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-144,1184],"id":"9942ec8f-c987-4a98-95fe-c5026e5a4fac","name":"Structured Output Parser2"},{"parameters":{"promptType":"define","text":"=Country: {{ $json.criteria.country }}","hasOutputParser":true,"options":{"systemMessage":"=Determine country from request and look up country id using your lookup_all_countries tool.\nReturn country name and  id in output.","maxIterations":5}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-480,960],"id":"804bea98-db49-45da-9630-0c37976dc3de","name":"Country Agent"},{"parameters":{"jsCode":"// Import necessary library\nconst crypto = require('crypto');\n\n// Function to generate the signature\nconst generateSignature = (parameters, secretKey) => {\n    const sortedKeys = Object.keys(parameters).sort();\n    const stringToSign = sortedKeys.map(key => `${key}=${parameters[key]}`).join(':');\n    const utf8Bytes = Buffer.from(`${secretKey}:${stringToSign}`, 'utf-8');\n    const hash = crypto.createHash('sha256').update(utf8Bytes).digest();\n    const base64Hash = hash.toString('base64');\n    const signature = base64Hash.replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=+$/, '');\n    return signature;\n};\n\n// Obtain current time in milliseconds for the request_date parameter\nconst requestDate = Date.now();\n\n// Define your API key, secret key, and any optional parameters\nconst apiKey = $input.first().json.apiKey;\nconst secretKey = $input.first().json.secretKey;\nconst countryId = $input.first().json.country_id;\n\n// Get criteria from the criteria node\nconst answer_text = $('criteria').first().json;\n\n// Define the parameters for the request\nconst parameters = {\n    apik: apiKey,              // Your API key\n    request_date: requestDate, // Timestamp in milliseconds\n    country_id: countryId      // The ID for the specific country\n};\n\n// Generate the signature\nconst signature = generateSignature(parameters, secretKey);\n\n// Define the base URL and path for the request\nconst baseUrl = 'https://surveypmr.prodegeapisqa.com/prodegemr';\nconst path = '/lookup-question-by-country';\nconst fullUrl = `${baseUrl}${path}`;\n\n// Return all necessary details to complete the request\nreturn {\n    fullUrl,      // The complete URL for the GET request\n    parameters,   // Parameters required for the request\n    signature,    // Generated signature for authentication\n    requestDate,  // Timestamp used in the request\n    answer_text      // Criteria from the criteria node\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,944],"id":"ae460d68-ed68-494b-9b20-77e149df3736","name":"Questions By CountryID"},{"parameters":{"jsCode":"// Get the input items\nconst items = $input.all();\n\n// Process each item and flatten the questions\nconst outputItems = [];\n\nitems.forEach(item => {\n  try {\n    // Check if intermediateSteps exists\n    if (!item.json.intermediateSteps || item.json.intermediateSteps.length === 0) {\n      return;\n    }\n    \n    // Find the MCP tool call step\n    const mcpStep = item.json.intermediateSteps.find(step => \n      step.action && step.action.tool === 'lookup_questions_by_country'\n    );\n    \n    if (!mcpStep || !mcpStep.observation) {\n      return;\n    }\n    \n    // Parse the observation field (it's a JSON string containing an array)\n    const observationArray = JSON.parse(mcpStep.observation);\n    \n    // Extract the text field from the first item in the array\n    const mcpResponseText = observationArray[0].text;\n    \n    // Parse the actual MCP response data\n    const mcpData = JSON.parse(mcpResponseText);\n    \n    // Get the exclude list - check if it's available in the current item or previous node\n    let excludeList = [];\n    if (item.json.Exclude) {\n      excludeList = item.json.Exclude;\n    } else {\n      // Try to get exclude list from previous node data\n      const previousItems = $input.all();\n      for (const prevItem of previousItems) {\n        if (prevItem.json.Exclude) {\n          excludeList = prevItem.json.Exclude;\n          break;\n        }\n      }\n    }\n    \n    // Extract questions and add each as a separate item (filtered by exclude list)\n    if (mcpData.questions && mcpData.questions.length > 0) {\n      mcpData.questions.forEach(question => {\n        // Only include questions whose ID is NOT in the exclude list\n        if (!excludeList.includes(question.question_id)) {\n          outputItems.push({\n            json: question\n          });\n        }\n      });\n    }\n    \n  } catch (error) {\n    // If parsing fails, return error information\n    outputItems.push({\n      json: {\n        error: 'Failed to parse observation data',\n        errorMessage: error.message\n      }\n    });\n  }\n});\n\n// If no questions found, return empty array\nif (outputItems.length === 0) {\n  return [{\n    json: {\n      message: 'No questions found (all filtered out or none returned)'\n    }\n  }];\n}\n\nreturn outputItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1728,944],"id":"98020c01-a417-4129-b967-157dffae6d29","name":"cleaned json"},{"parameters":{"assignments":{"assignments":[{"id":"eb19ea5c-8562-4ab0-9087-ac8dabaf23e5","name":"apiKey","value":"dnMHmAcdsrGqviJ","type":"string"},{"id":"4c44349f-ad7b-4eab-b81d-3ffe25a9c717","name":"secretKey","value":"aZXK1cbmAGZ5sUqS8GKs8QSH0FIaUtChurlSCqYIx7LjyZIMEZPivA8HQn6ZwQX10","type":"string"},{"id":"607df5e8-7715-4c32-9ab9-d174f14bf163","name":"URL","value":"https://surveypmr.prodegeapisqa.com/prodegemr","type":"string"},{"id":"f2506a11-6c0d-465f-bbcb-5c2c5dfdd793","name":"country_id","value":"={{ $json.output.country_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,944],"id":"fa958d6f-a65a-4e82-8a32-c3b16e652ab3","name":"setCountryRequestFields"},{"parameters":{"fieldToSplitOut":"=question_id","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1952,944],"id":"b57cb2fc-6be1-4bc0-98ef-29fb245f7973","name":"Split Out"},{"parameters":{"sessionIdType":"customKey","sessionKey":"test_session"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-512,1184],"id":"48392bc3-6564-4265-a4b3-a9f9eec55e26","name":"Simple Memory2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"27d579b2-5260-428b-8ad9-88addb1db7fa","leftValue":"={{ $json.question_text }}","rightValue":"car ","operator":{"type":"string","operation":"notContains"}},{"id":"ccecb330-e985-43cd-8548-634fd6158f0e","leftValue":"={{ $json.question_id }}","rightValue":602,"operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2304,944],"id":"de4dc6ef-757a-4b74-85ce-c4ef48e77166","name":"Filter"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"90b87dcc-8e15-4e3e-9acb-93164bd4f66e","leftValue":"={{ $json.output.match }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[3056,496],"id":"c0ca6f8e-976f-4eb1-884e-417d9d9138bb","name":"Filter1"},{"parameters":{"jsCode":"// Import necessary library\nconst crypto = require('crypto');\n\n// Function to generate the signature\nconst generateSignature = (parameters, secretKey) => {\n    const sortedKeys = Object.keys(parameters).sort();\n    const stringToSign = sortedKeys.map(key => `${key}=${parameters[key]}`).join(':');\n    const utf8Bytes = Buffer.from(`${secretKey}:${stringToSign}`, 'utf-8');\n    const hash = crypto.createHash('sha256').update(utf8Bytes).digest();\n    const base64Hash = hash.toString('base64');\n    const signature = base64Hash.replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=+$/, '');\n    return signature;\n};\n\n// Obtain current time in milliseconds for the request_date parameter\nconst requestDate = Date.now();\n\n// Get all input items\nconst allInputs = $input.all();\n\n// Extract common data from the first item (should be same across all)\nconst firstInput = allInputs[0].json;\nconst apiKey = firstInput.apiKey;\nconst secretKey = firstInput.secretKey;\nconst countryId = firstInput.country_id;\nconst loi = firstInput.LOI;\nconst ir = firstInput.IR;\n\n// Collect all questions exactly as they are (as strings)\nconst questionsArray = allInputs.map(item => item.json.questions);\n\n// Convert questions array to JSON string for the API\nconst questionsJson = JSON.stringify(questionsArray);\n\n// Extract unique question IDs\nconst questionIds = [...new Set(allInputs.map(item => {\n    const questionData = JSON.parse(item.json.questions);\n    return questionData.questionId;\n}))];\nconst questionIdsString = questionIds.join(',');\n\nconsole.log('All input items:', JSON.stringify(allInputs, null, 2));\nconsole.log('Collected questions array:', questionsArray);\nconsole.log('Questions JSON string:', questionsJson);\n\n// Parameters for signature generation\nconst parametersForSignature = {\n    apik: apiKey,\n    request_date: requestDate,\n    country_id: countryId,\n    questions: questionsJson,\n    LOI: loi,\n    IR: ir\n};\n\n// Generate the signature\nconst signature = generateSignature(parametersForSignature, secretKey);\n\n// Return the data for HTTP request\nreturn {\n    apik: apiKey,\n    request_date: requestDate,\n    country_id: countryId,\n    questions: questionsJson, // Send questions as JSON string\n    LOI: loi,\n    IR: ir,\n    signature: signature,\n    fullUrl: \"https://surveypmr.prodegeapisqa.com/prodegemr/feasibility-run\",\n    question_ids: questionIdsString\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3680,496],"id":"62d65d6d-79b5-46ba-a64f-572f1b4a6720","name":"Compile Feasibility"},{"parameters":{"assignments":{"assignments":[{"id":"eb19ea5c-8562-4ab0-9087-ac8dabaf23e5","name":"apiKey","value":"dtpmr8daegwer","type":"string"},{"id":"4c44349f-ad7b-4eab-b81d-3ffe25a9c717","name":"secretKey","value":"akkl9803ehlansdg8hjaasdlnk9wehklgao8hgwg09wey","type":"string"},{"id":"607df5e8-7715-4c32-9ab9-d174f14bf163","name":"URL","value":"https://surveypmr.prodegeapisqa.com/prodegemr","type":"string"},{"id":"f2506a11-6c0d-465f-bbcb-5c2c5dfdd793","name":"country_id","value":"={{ $('setCountryRequestFields').first().json.country_id }}","type":"number"},{"id":"14519b0c-8549-494a-90ba-2014ef116cf2","name":"questions","value":"={{ $json.output }}","type":"string"},{"id":"48431f14-5485-4bd1-9098-72d0e4e707f2","name":"LOI","value":"={{ $('criteria').first().json.criteria.loi }}","type":"string"},{"id":"b602df91-cc6c-4036-afe3-b2978e34042c","name":"IR","value":"={{ $('criteria').first().json.criteria.ir }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3424,496],"id":"a9f3a902-17f5-4097-9b36-65ebd9984901","name":"setFeasibility"},{"parameters":{"assignments":{"assignments":[{"id":"e60df256-5e28-432b-97dd-42cf321d92e0","name":"quotas","value":"={{ $json.output }}","type":"array"},{"id":"c3003dea-a1de-4c9a-b38f-d8d7e5a1364d","name":"quotas.criteria","value":"={{ $('criteria').first().json.criteria }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5360,496],"id":"951154a9-863d-4a45-a6f8-3b31b2f2af9e","name":"results"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2416,1168],"id":"98892b59-36e1-48e8-bdad-33b76ff77a9d","name":"OpenAI Chat Model6","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"jsonSchemaExample":"{\n  \"quotas\": [\n    {\n      \"country\": \"United States\",\n      \"loi\": \"15 minutes\",\n      \"quota\": 1000,\n      \"criteria\": \"Age 18-65, household income >$50K, drives a honda\",\n      \"car_question\": \"True\",\n      \"income_irregular\": \"False\",\n      \"ir\": \"25%\"\n    },\n    {\n      \"country\": \"United Kingdom\", \n      \"loi\": \"12 minutes\",\n      \"quota\": 500,\n      \"criteria\": \"Age 25-55, employed full-time\",\n      \"car_question\": \"False\",\n      \"income_irregular\": \"False\",\n      \"ir\": \"30%\"\n    },\n    {\n      \"country\": \"Canada\",\n      \"loi\": \"18 minutes\", \n      \"quota\": 750,\n      \"criteria\": \"Age 21-60, urban residents\",\n      \"car_question\": \"False\",\n      \"income_irregular\": \"False\",\n      \"ir\": \"35%\"\n    },\n    {\n      \"country\": \"Australia\",\n      \"loi\": \"14 minutes\",\n      \"quota\": 400,\n      \"criteria\": \"Age 30-65, have children under 18, make over $17,000\",\n      \"car_question\": \"False\",\n      \"income_irregular\": \"True\",\n      \"ir\": \"20%\"\n    }\n  ]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2192,1168],"id":"12d24037-6638-43b3-8a2f-4378dfb142df","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=Email: {{ $json.email }}","hasOutputParser":true,"options":{"systemMessage":"=You are an assistant that analyzes incoming project bid request emails to extract demographic and sample feasibility questions only.\n\nYour job:\n1. Read the email content\n2. Identify only questions about SAMPLE DEMOGRAPHICS and RESPONDENT CHARACTERISTICS\n   - Age groups, gender distribution, geographic location\n   - Health conditions, lifestyle characteristics, behavior patterns  \n   - Incidence rates for specific populations\n   - Sample composition and quotas\n   - Respondent screening criteria\n\nIGNORE internal questions like:\n- \"Can we deliver by X date?\" \n- \"Do we have enough people?\"\n- \"Can we meet the timeline?\"\n- Questions about company capabilities\n\nONLY extract questions about the TARGET AUDIENCE/SAMPLE, such as:\n- \"What's the feasibility of recruiting adults aged 18-25?\"\n- \"Can we achieve 34% incidence rate for digestive health consumers?\"\n- \"Can we get equal gender distribution?\"\n\nCONVERT the plain text answers into more digestable survey answers. For example:\n\n\"Lives in the USA\" turns into \"United States\"\n\"We need ages 25-34 and 60+\" turns into \"Ages 25-34 and 60+\"\n\nInclude the required sample size mapped to each.\nIf the criteria is related to cars makes and models make Car_Question as \"True\".\nIf the criteria mentions income amounts that are NOT in increments of $5,000, mark income_irregular as \"True\".\n\nExample:\nSample Email input:\nHi team, we have a new survey we want to run. I need 100 responses for males, age 25-35, living in the US, making $17,000 or more annually. Would like to get this done by next month.\n\nSample json output:\n{\n  \"Country\": \"United States\",\n  \"Criteria\": [\n    \"Ages 25-35\",\n    \"Male\", \n    \"Income $17,000+\"\n  ],\n  \"Car_Question\": \"False\",\n  \"income_irregular\": \"True\"\n}\n\nSample Email input 2:\nHi team, we have a new survey we want to run. I need 100 responses for males, drive a lexus, living in the US, making $10,000 or more annually. Would like to get this done by next month.\n\nSample json output:\n{\n  \"Country\": \"United States\",\n  \"Criteria\": [\n    \"Drive a lexus\",\n    \"Male\", \n    \"Income $10,000+\"\n  ],\n  \"Car_Question\": \"True\",\n  \"income_irregular\": \"False\"\n}\n\nReturn only valid JSON with no explanations.","maxIterations":5}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-2368,944],"id":"a18800c3-0702-492f-ab65-3da3b1922ca0","name":"Email Analyst"},{"parameters":{"fieldToSplitOut":"output.quotas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1712,944],"id":"b5e14ba6-a957-48b6-bac5-0c78ac8504c7","name":"Split Out1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1072,944],"id":"029bf5da-0d31-4543-958e-d3f74694a910","name":"Loop Over Items1"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko","mode":"list","cachedResultName":"Bid Request Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email Analyst Agent Output":"={{ $json.output.quotas }}","Email Request":"={{ $('setEmail').item.json.email }}","submittedAt":"={{ $('setEmail').item.json.submittedAt }}"},"matchingColumns":[],"schema":[{"id":"submittedAt","displayName":"submittedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Request","displayName":"Email Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email Analyst Agent Output","displayName":"Email Analyst Agent Output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Question Agent Ouput","displayName":"Question Agent Ouput","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Feasibility Results","displayName":"Feasibility Results","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-2032,944],"id":"fa18005d-11c4-4146-b2ec-730d0179b9a2","name":"Append row in sheet","credentials":{"googleApi":{"id":"x5TAmnenTwfnUc5f","name":"boden-n8n-agent-access"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"quotas"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[80,208],"id":"73191793-a4bf-4120-91c1-07a1388a16a4","name":"Aggregate"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko","mode":"list","cachedResultName":"Bid Request Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"submittedAt","lookupValue":"={{ $('setEmail').first().json.submittedAt }}"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3488,80],"id":"965567c6-06b0-4036-a103-a6e825c52dcf","name":"Get Row","credentials":{"googleApi":{"id":"x5TAmnenTwfnUc5f","name":"boden-n8n-agent-access"}}},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko","mode":"list","cachedResultName":"Bid Request Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Question Agent Ouput":"={{ $json[\"Question Agent Ouput\"] }}, {{ JSON.stringify($('Aggregate1').item.json.output) }}","submittedAt":"={{ $('setEmail').first().json.submittedAt }}"},"matchingColumns":["submittedAt"],"schema":[{"id":"submittedAt","displayName":"submittedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Request","displayName":"Email Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Analyst Agent Output","displayName":"Email Analyst Agent Output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Question Agent Ouput","displayName":"Question Agent Ouput","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Feasibility Results","displayName":"Feasibility Results","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Link to Execution","displayName":"Link to Execution","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"n8n form link","displayName":"n8n form link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3712,80],"id":"9481e756-d3cc-4927-928d-1b3604e9e166","name":"Update Row","credentials":{"googleApi":{"id":"x5TAmnenTwfnUc5f","name":"boden-n8n-agent-access"}}},{"parameters":{"assignments":{"assignments":[{"id":"40d9d304-9a9d-4663-9b8f-275afe52678b","name":"criteria.country","value":"={{ $json.country }}","type":"string"},{"id":"d153080a-647b-4db8-b2bb-69426a229a07","name":"criteria.loi","value":"={{ $json.loi }}","type":"string"},{"id":"edbb9fcd-7c72-487b-b230-d4bd1aae7227","name":"criteria.quota","value":"={{ $json.quota }}","type":"string"},{"id":"921ec425-2436-484b-8171-7567feb957b0","name":"criteria.ir","value":"={{ $json.ir }}","type":"string"},{"id":"c2b6fa58-5a95-4546-85aa-9ca4ec21a91e","name":"criteria.criteria","value":"={{ $json.criteria }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-752,960],"id":"5f979fdf-6b0e-4f23-86c4-76dfc33d899e","name":"criteria"},{"parameters":{"assignments":{"assignments":[{"id":"87b37d9d-4c8f-4018-ad1f-72ec948c4e98","name":"output","value":"={{ $('Email Analyst').item.json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1872,944],"id":"52ca8379-797a-4db8-ae08-02b25d023625","name":"setOutput"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko","mode":"list","cachedResultName":"Bid Request Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"submittedAt","lookupValue":"={{ $('setEmail').first().json.submittedAt }}"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[480,208],"id":"03215348-c26b-4dd4-b365-519208e85407","name":"Get Row1","credentials":{"googleApi":{"id":"x5TAmnenTwfnUc5f","name":"boden-n8n-agent-access"}}},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko","mode":"list","cachedResultName":"Bid Request Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Feasibility Results":"={{ $('Aggregate').item.json.quotas }}","Link to Execution":"=https://app.n8n.cloud/workflow/{{ $workflow.id }}/executions/{{ $execution.id }}","submittedAt":"={{ $('setEmail').first().json.submittedAt }}"},"matchingColumns":["submittedAt"],"schema":[{"id":"submittedAt","displayName":"submittedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Request","displayName":"Email Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Analyst Agent Output","displayName":"Email Analyst Agent Output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Question Agent Ouput","displayName":"Question Agent Ouput","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Feasibility Results","displayName":"Feasibility Results","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link to Execution","displayName":"Link to Execution","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"n8n form link","displayName":"n8n form link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[672,208],"id":"cd65fbad-dac9-4c16-a905-8f09f270a3a7","name":"Update Row1","credentials":{"googleApi":{"id":"x5TAmnenTwfnUc5f","name":"boden-n8n-agent-access"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1017c600-c588-4626-9320-69004d4c976b","leftValue":"={{ $json.output.country_id }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-128,960],"id":"81e18d0f-e721-46bb-8494-e400fab5dfab","name":"If"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko","mode":"list","cachedResultName":"Bid Request Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"submittedAt","lookupValue":"={{ $('setEmail').item.json.submittedAt }}"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[688,1328],"id":"05548ec6-4c40-4fbc-ba16-630db37396ac","name":"Get Row2","credentials":{"googleApi":{"id":"x5TAmnenTwfnUc5f","name":"boden-n8n-agent-access"}}},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko","mode":"list","cachedResultName":"Bid Request Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"submittedAt":"={{ $('setEmail').first().json.submittedAt }}","Feasibility Results":"ERROR: No country specified in email"},"matchingColumns":["submittedAt"],"schema":[{"id":"submittedAt","displayName":"submittedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Request","displayName":"Email Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Analyst Agent Output","displayName":"Email Analyst Agent Output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Question Agent Ouput","displayName":"Question Agent Ouput","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Feasibility Results","displayName":"Feasibility Results","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1280,1328],"id":"7b085e21-dddd-4866-bff8-9b70c0f70ffe","name":"Update Row2","credentials":{"googleApi":{"id":"x5TAmnenTwfnUc5f","name":"boden-n8n-agent-access"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{"temperature":0.7,"timeout":60000,"maxRetries":5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2704,1152],"id":"d10e6944-a7c7-44a4-961c-9f6b6ee293c3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"promptType":"define","text":"={{ $json }}","hasOutputParser":true,"options":{"systemMessage":"=Review the question and its answers against this survey feasibility request to determine if it is a match.\n\nCriteria:\n{{ $('criteria').first().json.criteria.criteria }}\n\nFor each question, determine if it matches and is found in the targeting criteria:\n- For questions with options: match against the specific option values\n- For numeric questions (like age): determine if the question is relevant to the criteria, even without specific options\n- For single-select questions: determine if the question is relevant to the criteria and if there are answer options that are relevant to the criteria\n\n**CRITICAL MATCHING RULES:**\n- **EXACT CONTEXT MATCHING**: The question must match the EXACT context of the criteria\n  - If criteria says \"Asthma patients\" → only match questions about the RESPONDENT having asthma\n  - If criteria says \"Male\" → only match questions about the RESPONDENT'S gender\n  - DO NOT match questions about household members, family members, or other people\n  - DO NOT match questions that ask about \"anyone else\" or \"others in household\"\n- **DIRECT RELEVANCE ONLY**: If the question topic is not DIRECTLY and EXPLICITLY mentioned in the criteria, mark as FALSE\n- **RESPONDENT-FOCUSED**: Only match questions that target the survey respondent themselves, not their household/family\n\n**EXAMPLES OF INCORRECT MATCHES:**\n- Criteria: \"Asthma patients\" + Question: \"Has anyone else in your household been diagnosed with asthma?\" → FALSE (asks about others, not respondent)\n- Criteria: \"Male\" + Question: \"What is your spouse's gender?\" → FALSE (asks about spouse, not respondent)\n\nOutput the result in the following JSON format:\n\n{\n  \"questionId\": \"The question ID\",\n  \"question_name\": \"The question name\", \n  \"question_text\": \"The question text\",\n  \"optionId\": \"The answer/option ID, or 'RANGE' for numeric questions, or empty for open-ended\",\n  \"option_text\": \"The answer/option result/text, or the required range/value for numeric questions\",\n  \"match\": true or false if we need the question for the feasibility request\n}\n\nSpecial handling for numeric questions:\n- If {{ $json.question_type }} is \"Numeric\" \n  - Set optionId to \"RANGE\" and option_text to the required range (e.g., \"30-39\")\n- If {{ $json.question_type }} is \"Single-Select\"\n  - Set optionId to the option ID or ID's that match the criteria\n\n**Remember: Only match questions that directly target the survey respondent themselves and exactly match the criteria context.**","maxIterations":5}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2704,944],"id":"4f1c75a8-b69f-4f71-b2b4-bdd413ce1c98","name":"QuestionIdentification1","executeOnce":false},{"parameters":{"jsonSchemaExample":"{\n  \"questionId\": \"1\",\n  \"question_name\": \"Age\",\n  \"question_text\": \"What is your age?\",\n  \"optionId\": \"1\",\n  \"option_text\": \"24\",\n  \"match\": true\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2848,1152],"id":"2f22fb70-0d4d-4291-bd0d-a6879f99fc2d","name":"Structured Output Parser4"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"feasibility"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3264,80],"id":"706fa360-34b3-40e3-a6c1-0a6ff888dcb5","name":"Aggregate1"},{"parameters":{"authentication":"appToken","resource":"engagement","operation":"get","engagementId":{"__rl":true,"value":"={{ $json.engagmentId }}","mode":"id"}},"type":"n8n-nodes-base.hubspot","typeVersion":2.2,"position":[-3648,1088],"id":"3f35358c-8b76-401f-ace2-bd721d1c5e7d","name":"Get an engagement","credentials":{"hubspotAppToken":{"id":"PlnQEFCxdSC4xSy9","name":"HubSpot n8n-HubSpot-PRODUCTION_20464009-202506-fef"}}},{"parameters":{"assignments":{"assignments":[{"id":"40a62e39-0863-4eae-8b10-873830c4069b","name":"engagmentId","value":"={{ $json.link.split('engagement=')[1]?.split('&')[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3856,1088],"id":"5cc797df-bca0-422a-b8e7-1ad92ddb55c0","name":"setEngagmentId"},{"parameters":{"assignments":{"assignments":[{"id":"40a62e39-0863-4eae-8b10-873830c4069b","name":"link","value":"={{ $json['Hubspot Email Engagment Link'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4064,1088],"id":"f266103e-a8ae-465f-93f5-90a0733fa72c","name":"setLink"},{"parameters":{"assignments":{"assignments":[{"id":"d62f2d5b-d797-4c14-972a-81e5a62c13dd","name":"metadata.text","value":"={{ $json.metadata.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3232,944],"id":"25919dfe-c3fe-48c5-8bd0-6bb491181d9a","name":"setText"},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-3024,1152],"id":"6495c6f1-9345-4777-881a-93df723ae1c7","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"bidRequest\": \"men in USA that have dogs\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2848,1152],"id":"1ea1f8df-acf3-4b89-9e57-282473e0d4b8","name":"Structured Output Parser1"},{"parameters":{"promptType":"define","text":"=Email text: {{ $json.metadata.text }}","hasOutputParser":true,"options":{"systemMessage":"Review the given email text and extract the initial Bid request from it. Do not summarize or consolidate any parts of the bid request."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-3008,944],"id":"8bbbd39f-0436-4382-8803-a87a1e32c693","name":"Email Extractor"},{"parameters":{"assignments":{"assignments":[{"id":"8084fe08-51e6-4a8e-b7e9-eb345781a1dd","name":"email","value":"={{ $json.output.bidRequest }}","type":"string"},{"id":"bb3abe6f-0d12-4e35-a4f0-f3659b18f1ce","name":"submittedAt","value":"={{ $('On form submission').item.json.submittedAt }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2624,944],"id":"05f0dbe1-59c1-4414-97ea-a83b3c460577","name":"setEmail"},{"parameters":{"endpointUrl":"https://mcp-peeq-prod.bitburst.workers.dev/mcp","serverTransport":"httpStreamable","authentication":"headerAuth","include":"selected","includeTools":["run_feasibility"],"options":{"timeout":60000}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.1,"position":[4976,720],"id":"51d44f43-5750-4d08-9835-a2a465fd5358","name":"MCP Peeq QA3","credentials":{"httpHeaderAuth":{"id":"H0rzW182ounuNxWp","name":"Header Auth X-Peeq-Auth PROD bitburst - 3"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{"timeout":60000,"maxRetries":5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4704,720],"id":"771158fe-fb86-4b25-ad51-2ef725fdf49e","name":"OpenAI Chat Model7","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[5088,720],"id":"55ac7f83-49eb-4886-b09b-e6ec6c3ab603","name":"Think3"},{"parameters":{"jsonSchemaExample":"[\n  {\n    \"output\": {\n      \"base_cpi\": 0.0,\n      \"cpi\": 0.0,\n      \"completes_estimate\": 1,\n      \"return_status\": {\n        \"status_id\": 1,\n        \"message\": [\"Request Successful\"]\n      }\n    }\n  }\n]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[5216,720],"id":"4f1047fc-ad72-4cee-9486-164e6f42a10f","name":"Structured Output Parser8"},{"parameters":{"sessionIdType":"customKey","sessionKey":"test_session"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4848,720],"id":"f6de0923-7b03-4ef9-b829-c11134868ca3","name":"Simple Memory3"},{"parameters":{"promptType":"define","text":"=Feasibility request: \n\nTargeting Criteria = {{ $json.questions }}\n\nLOI = {{ $json.LOI }}\n\nIR = {{ $json.IR }}\n\ncountry_id = {{ $json.country_id }}","hasOutputParser":true,"options":{"systemMessage":"=Use your run_feasibility tool to calculate the feasibility for the given request. Format the response as an array with a single object containing an 'output' property that holds the feasibility results as a structured object.","maxIterations":5}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[4880,496],"id":"7f15d8c7-2594-401a-bf4f-34f4ca70c783","name":"Feasibility Agent2"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6e76c7e4-25fe-440f-bc38-db5a430c6ebf","leftValue":"={{ $json.car_question }}","rightValue":"True","operator":{"type":"string","operation":"contains"}},{"id":"18977b2f-c658-4517-9308-fc4d2e924b7d","leftValue":"={{ $json.income_irregular }}","rightValue":"True","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1552,944],"id":"a3fea07c-327b-42ab-bf01-4d7f2fc27ea8","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1360,736],"id":"759468d9-1e43-4892-9e50-81694806305a","name":"No Operation, do nothing"},{"parameters":{"endpointUrl":"https://mcp-peeq-prod.bitburst.workers.dev/mcp","serverTransport":"httpStreamable","authentication":"headerAuth","include":"selected","includeTools":["lookup_questions_by_country"],"options":{"timeout":60000}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.1,"position":[1072,1152],"id":"d690674f-fa20-41b8-aa54-88b427e57b06","name":"MCP Peeq QA","credentials":{"httpHeaderAuth":{"id":"H0rzW182ounuNxWp","name":"Header Auth X-Peeq-Auth PROD bitburst - 3"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"gpt-5-nano"},"options":{"timeout":60000,"maxRetries":5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[752,1168],"id":"04fddf87-2229-488c-abea-ba691f0d8871","name":"OpenAI Chat Model10","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[1184,1152],"id":"ef135c35-e4a8-46a9-9b63-34103bd2e047","name":"Think"},{"parameters":{"sessionIdType":"customKey","sessionKey":"optimization_session"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[896,1168],"id":"d250ee39-288e-4090-9261-2a458e8ddca8","name":"Simple Memory"},{"parameters":{"promptType":"define","text":"=Set Parameters as :\n\ncountry_id =  {{ $json.parameters.country_id }}\n\nanswer_text = Key word(s) from {{ $json.answer_text.criteria.criteria }}\n\nquestion_text = Key word(s) from {{ $json.answer_text.criteria.criteria }}\n\nlimit = 100\n\n","hasOutputParser":true,"options":{"systemMessage":"=Retrieve questions for the specified country using your lookup-question-by-country tool. Follow these steps:\n\n**Step 1: Extract Parameters**\n- country_id = {{ $json.parameters.country_id }}\n- Extract key terms from {{ $json.answer_text.criteria.criteria }} to use as search filters\n\n**Step 2: Process Criteria**\nFrom the criteria string in {{ $json.answer_text.criteria.criteria }}, identify and extract:\n- Specific values AND their conceptual categories\n- Key demographic concepts (e.g., \"age\", \"income\", \"education\", \"gender\")\n- Specific conditions or characteristics (e.g., \"Asthma\", \"diabetes\", \"patients\")\n- For numeric fields (age, income, height, weight, etc.), use only the concept word, NOT the actual numbers or ranges\n\n**Step 3: Expand Keywords**\nFor each term, include both the specific term AND the broader concept:\n- \"Male\" → include \"male, gender\"\n- \"Female\" → include \"female, gender\"  \n- \"Dog Owners\" → include \"dog, ownership, owners\"\n- \"Pet Owners\" → include \"pet, ownership, owners\"\n- \"Car Owners\" → include \"car, ownership, owners\"\n- \"Home Owners\" → include \"home, ownership, owners\"\n- \"Parents\" → include \"parents, children\"\n- \"Students\" → include \"students, education\"\n\n**Step 4: Set Search Parameters**\nBefore calling lookup-question-by-country, configure:\n- country_id = {{ $json.parameters.country_id }}\n- answer_text = [expanded concept keywords from criteria]\n- question_text = [expanded concept keywords from criteria]\n\n**Examples:**\nIf criteria = \"Ages 18-25, Asthma patients\"\nThen set:\n- answer_text = \"age, Asthma, patients\"\n- question_text = \"age, Asthma, patients\"\n\nIf criteria = \"Male, Dog Owners\"\nThen set:\n- answer_text = \"male, gender, dog, ownership, owners\"\n- question_text = \"male, gender, dog, ownership, owners\"\n\nIf criteria = \"Income $50,000-$75,000, Female, College educated\"\nThen set:\n- answer_text = \"income, female, gender, education, college\"\n- question_text = \"income, female, gender, education, college\"\n\n**Step 5: Execute Lookup**\nUse the lookup-question-by-country tool with the configured parameters to retrieve ALL matching questions for the specified country.\n\nFocus on extracting both specific terms and their broader conceptual categories to maximize relevant question matches.","maxIterations":1,"returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[928,944],"id":"782da73c-9265-4cd0-9e54-b634b7e37ce3","name":"Get Questions by Country V2"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko","mode":"list","cachedResultName":"Bid Request Automation (BAI-63)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1321003384,"mode":"list","cachedResultName":"QuestionIDs to Exclude","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit#gid=1321003384"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[848,736],"id":"fe630123-c41f-4b03-9ce5-3bb7ce9655c4","name":"Get Exclude QID List","executeOnce":true,"credentials":{"googleApi":{"id":"x5TAmnenTwfnUc5f","name":"boden-n8n-agent-access"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Exclude"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1072,736],"id":"dba51f79-e4c3-4338-bdc5-0e57d8d8cec7","name":"Combine Exclude"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1520,944],"id":"c7fa6bf5-1a61-420b-a4ad-bd47b1b89029","name":"Merge"},{"parameters":{"promptType":"define","text":"=Analyze this feasibility request and optimize it by removing similar/duplicate questions:\n\nRequest Data: {{ JSON.stringify($json) }}\n\nPlease analyze the questions in the Targeting Criteria for similarities. If you find similar questions (same topic, condition, or demographic with similar answer options), use the Snowflake tool to check completion data and keep only the question with the highest completes. Return the complete optimized request maintaining the exact same structure as the input.","hasOutputParser":true,"options":{"systemMessage":"=You are a feasibility optimization agent that processes survey targeting requests to eliminate redundant similar questions.\n\nYour task:\n1. Parse the incoming feasibility request containing targeting criteria questions\n2. Analyze the questions to identify any that are similar in nature (e.g., asking about the same condition, demographic, or topic with similar answer options)\n3. When similar questions are found:\n   - Extract the question IDs of the similar questions\n   - Use the Snowflake tool to query completion data for those question IDs\n   - Keep only the question with the highest number of completes\n   - Remove the other similar questions from the targeting criteria\n4. Return the optimized request with the same structure as the input, but with duplicate/similar questions removed\n\nGuidelines for identifying similar questions:\n- Questions asking about the same medical condition/ailment\n- Questions with identical or very similar answer options\n- Questions covering the same demographic or behavioral topic\n- Questions that would logically screen for the same target audience\n\nWhen using the Snowflake tool, query for completion data using the question IDs you've identified as similar. The tool will return completes data that you should use to determine which question to retain.\n\nAlways maintain the exact input structure in your response, only modifying the questions array to remove similar questions with lower completes. If no similar questions are found, return the input unchanged.\n\nFormat your final response as an array with a single object containing an 'output' property that holds the optimized feasibility request.","maxIterations":5}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[3984,496],"id":"f37e71f3-1b09-486b-b0e3-58c24e37c8d6","name":"FinalQuestion Check"},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{"timeout":60000,"maxRetries":5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3776,704],"id":"f418731d-c0c3-4d4a-b029-d349fd8503be","name":"OpenAI Chat Model8","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"test_session"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[3936,704],"id":"43f529f1-eba3-4896-a3e9-e591b7a8f350","name":"Simple Memory5"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[4064,704],"id":"f56b6301-f2dd-468f-96b5-063eacb5563c","name":"Think5"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  substr (a.questionid, 1) as QuestionID,\n  MAX(q.QuestionName) as QuestionName,\n  p.COUNTRYNAME as Country,\n  c.country_key,\n  COUNT(distinct a.projectid) as Count\nFROM\n  OPS_AUTOMATION_DB.surveys.qual_questions a\n  JOIN OPS_AUTOMATION_DB.surveys.project p on p.projectid = a.projectid\n  JOIN OPS_AUTOMATION_DB.dwstage.mm_country_dim c on c.country = p.countryname\n  LEFT JOIN OPS_AUTOMATION_DB.prodege.profile_question q on q.ExtQuestionID = a.QuestionID\n  AND q.extprofiletypeid = 1\nWHERE\n  p.pmr_status != 'PENDING'\n -- and p.apiuserid \n  AND p.createdon >= dateadd(YEAR,-1,CURRENT_DATE)\n  AND p.createdon <= CURRENT_DATE\n  -- AND c.country_key IN (@ Country @)\n  AND a.questionid in ({{ $json.question_ids }})\n  AND c.country_key = {{ $json.country_id }}\nGROUP BY a.questionid, 3,4\nORDER BY 3, a.questionid"},"type":"n8n-nodes-base.snowflakeTool","typeVersion":1,"position":[4192,704],"id":"036d258d-30db-413b-a781-0d7719bd756b","name":"Snowflake","credentials":{"snowflake":{"id":"gyAQtZa8Xv82pKrh","name":"Snowflake SUPPORT n8n-support-gservice-2025oct"}}},{"parameters":{"jsonSchemaExample":"\n[\n{\n\"apik\": \n\"dtpmr8daegwer\",\n\"request_date\": \n1764020943370,\n\"country_id\": \n\"1\",\n\"questions\": \n\"[\\\"{\\\\\\\"questionId\\\\\\\":\\\\\\\"3\\\\\\\",\\\\\\\"question_name\\\\\\\":\\\\\\\"Gender\\\\\\\",\\\\\\\"question_text\\\\\\\":\\\\\\\"I am...\\\\\\\",\\\\\\\"optionId\\\\\\\":\\\\\\\"1\\\\\\\",\\\\\\\"option_text\\\\\\\":\\\\\\\"Male\\\\\\\",\\\\\\\"match\\\\\\\":true}\\\",\\\"{\\\\\\\"questionId\\\\\\\":\\\\\\\"395\\\\\\\",\\\\\\\"question_name\\\\\\\":\\\\\\\"Ailments 1\\\\\\\",\\\\\\\"question_text\\\\\\\":\\\\\\\"Have you been diagnosed with any of the following illnesses/conditions? Note that the information will be kept in strictest confidence.\\\\\\\",\\\\\\\"optionId\\\\\\\":\\\\\\\"17\\\\\\\",\\\\\\\"option_text\\\\\\\":\\\\\\\"Asthma\\\\\\\",\\\\\\\"match\\\\\\\":true}\\\",\\\"{\\\\\\\"questionId\\\\\\\":\\\\\\\"400\\\\\\\",\\\\\\\"question_name\\\\\\\":\\\\\\\"Sufferer Ailments 1\\\\\\\",\\\\\\\"question_text\\\\\\\":\\\\\\\"Do you suffer from any of the following illnesses/conditions?\\\\\\\",\\\\\\\"optionId\\\\\\\":\\\\\\\"17\\\\\\\",\\\\\\\"option_text\\\\\\\":\\\\\\\"Asthma\\\\\\\",\\\\\\\"match\\\\\\\":true}\\\"]\",\n\"LOI\": \n\"\",\n\"IR\": \n\"\",\n\"signature\": \n\"64Qh9cmf1rAs755wrYfsnJUg-0D-JA2427WjyFKbBvo\",\n\"fullUrl\": \n\"https://surveypmr.prodegeapisqa.com/prodegemr/feasibility-run\"\n}\n]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[4320,704],"id":"fd6707a0-d43c-4edd-b71d-f3fecdc9fd79","name":"Structured Output Parser9"},{"parameters":{"jsCode":"// Extract the data from the output wrapper\nconst inputData = $input.all();\nconst outputArray = [];\n\nfor (const item of inputData) {\n  // Extract the actual data from the output property\n  const actualData = item.json.output[0];\n  outputArray.push(actualData);\n}\n\nreturn outputArray.map(item => ({ json: item }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4448,496],"id":"1dc894cc-71a4-40b4-b3ef-300e3fbc1544","name":"Compile Feasibility1"},{"parameters":{"assignments":{"assignments":[{"id":"6ebfb9fe-4aa7-4cb2-be29-9e518635df52","name":"data","value":"={{ $json['Bid Request Text Area']}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4080,736],"id":"3616d09f-1384-4ddd-ab01-9537f5ddb4e3","name":"setData"},{"parameters":{"formTitle":"Peeq Bid Text Trigger (Manual API)","formDescription":"=Submit hubspot email engagment link to test. \n\nExample: https://app.hubspot.com/contacts/20464009/record/0-3/44206538524/view/1?engagement=89272792909&type=EMAIL\n\nWARNING: This automation can take 5+ minutes to run.\n\nReview results here: \n\n{{ `<a href=\"https://docs.google.com/spreadsheets/d/1Qg1TCdGnOehSgbEbHt1OFZIgE3XNtwO7T2jlnSPn1Ko/edit?gid=0#gid=0\" target=\"_blank\">Open Google Sheet</a>` }}\n","formFields":{"values":[{"fieldLabel":"Bid Request Text Area","fieldType":"textarea","placeholder":"I need feasibility for males in USA with a dog","defaultValue":"I need feasibility for males in USA with a dog","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-4288,736],"id":"19c0b8b3-1d37-4b48-8672-5b615f4966e0","name":"Text Form1","webhookId":"11cda743-7a8a-4ee3-ac2e-287361457c82"}],"connections":{"On form submission":{"main":[[{"node":"setLink","type":"main","index":0}]]},"MCP Peeq QA2":{"ai_tool":[[{"node":"Country Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Country Agent","type":"ai_languageModel","index":0}]]},"Think2":{"ai_tool":[[{"node":"Country Agent","type":"ai_tool","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Country Agent","type":"ai_outputParser","index":0}]]},"Country Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Questions By CountryID":{"main":[[{"node":"Get Questions by Country V2","type":"main","index":0},{"node":"Get Exclude QID List","type":"main","index":0}]]},"cleaned json":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"setCountryRequestFields":{"main":[[{"node":"Questions By CountryID","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"Country Agent","type":"ai_memory","index":0}]]},"Filter":{"main":[[{"node":"QuestionIdentification1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"setFeasibility","type":"main","index":0},{"node":"Aggregate1","type":"main","index":0}]]},"Compile Feasibility":{"main":[[{"node":"FinalQuestion Check","type":"main","index":0}]]},"setFeasibility":{"main":[[{"node":"Compile Feasibility","type":"main","index":0}]]},"results":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"Email Analyst","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Email Analyst","type":"ai_outputParser","index":0}]]},"Email Analyst":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"criteria","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"setOutput","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Get Row1","type":"main","index":0}]]},"Get Row":{"main":[[{"node":"Update Row","type":"main","index":0}]]},"criteria":{"main":[[{"node":"Country Agent","type":"main","index":0}]]},"setOutput":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Get Row1":{"main":[[{"node":"Update Row1","type":"main","index":0}]]},"If":{"main":[[{"node":"setCountryRequestFields","type":"main","index":0}],[{"node":"Get Row2","type":"main","index":0}]]},"Get Row2":{"main":[[{"node":"Update Row2","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"QuestionIdentification1","type":"ai_languageModel","index":0}]]},"QuestionIdentification1":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"QuestionIdentification1","type":"ai_outputParser","index":0}]]},"Aggregate1":{"main":[[{"node":"Get Row","type":"main","index":0}]]},"Get an engagement":{"main":[[{"node":"setText","type":"main","index":0}]]},"setEngagmentId":{"main":[[{"node":"Get an engagement","type":"main","index":0}]]},"setLink":{"main":[[{"node":"setEngagmentId","type":"main","index":0}]]},"setText":{"main":[[{"node":"Email Extractor","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Email Extractor","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Email Extractor","type":"ai_outputParser","index":0}]]},"Email Extractor":{"main":[[{"node":"setEmail","type":"main","index":0}]]},"setEmail":{"main":[[{"node":"Email Analyst","type":"main","index":0}]]},"MCP Peeq QA3":{"ai_tool":[[{"node":"Feasibility Agent2","type":"ai_tool","index":0}]]},"OpenAI Chat Model7":{"ai_languageModel":[[{"node":"Feasibility Agent2","type":"ai_languageModel","index":0}]]},"Think3":{"ai_tool":[[{"node":"Feasibility Agent2","type":"ai_tool","index":0}]]},"Structured Output Parser8":{"ai_outputParser":[[{"node":"Feasibility Agent2","type":"ai_outputParser","index":0}]]},"Simple Memory3":{"ai_memory":[[{"node":"Feasibility Agent2","type":"ai_memory","index":0}]]},"Feasibility Agent2":{"main":[[{"node":"results","type":"main","index":0}]]},"If1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"MCP Peeq QA":{"ai_tool":[[{"node":"Get Questions by Country V2","type":"ai_tool","index":0}]]},"OpenAI Chat Model10":{"ai_languageModel":[[{"node":"Get Questions by Country V2","type":"ai_languageModel","index":0}]]},"Think":{"ai_tool":[[{"node":"Get Questions by Country V2","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Get Questions by Country V2","type":"ai_memory","index":0}]]},"Get Questions by Country V2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Get Exclude QID List":{"main":[[{"node":"Combine Exclude","type":"main","index":0}]]},"Combine Exclude":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"cleaned json","type":"main","index":0}]]},"FinalQuestion Check":{"main":[[{"node":"Compile Feasibility1","type":"main","index":0}]]},"OpenAI Chat Model8":{"ai_languageModel":[[{"node":"FinalQuestion Check","type":"ai_languageModel","index":0}]]},"Simple Memory5":{"ai_memory":[[{"node":"FinalQuestion Check","type":"ai_memory","index":0}]]},"Think5":{"ai_tool":[[{"node":"FinalQuestion Check","type":"ai_tool","index":0}]]},"Snowflake":{"ai_tool":[[{"node":"FinalQuestion Check","type":"ai_tool","index":0}]]},"Structured Output Parser9":{"ai_outputParser":[[{"node":"FinalQuestion Check","type":"ai_outputParser","index":0}]]},"Compile Feasibility1":{"main":[[{"node":"Feasibility Agent2","type":"main","index":0}]]},"setData":{"main":[[{"node":"setText","type":"main","index":0}]]},"Text Form1":{"main":[[{"node":"setData","type":"main","index":0}]]}},"authors":"Boden Johnson","name":null,"description":null},"tags":[{"updatedAt":"2025-09-16T22:03:04.244Z","createdAt":"2025-09-16T22:03:04.244Z","id":"1JleW3VaKeNkbHMv","name":"catalog"},{"updatedAt":"2025-08-31T22:15:28.746Z","createdAt":"2025-08-31T22:15:28.746Z","id":"MSbYUejSnKte9BCA","name":"insights"},{"updatedAt":"2025-05-19T05:10:36.690Z","createdAt":"2025-05-19T05:10:36.690Z","id":"XbZNUbSszDlg0tE4","name":"Google Service Creds"},{"updatedAt":"2025-03-28T05:18:56.320Z","createdAt":"2025-03-28T05:18:56.320Z","id":"jEMJy2OFy0YxTQSO","name":"GSheet"}]}