SHOP: Walmart Flash Image URL.json
{"updatedAt":"2025-06-24T01:46:17.000Z","createdAt":"2025-05-22T23:46:54.442Z","id":"gLARn9Cd9uAxZBUB","name":"SHOP: Walmart Flash Image URL","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"0ee51064-254a-47f4-9b5f-807e06c2d671","leftValue":"={{ $('GSheet').item.json['Image URL'] }}","rightValue":"={{ $ifemp }}","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1100,180],"id":"7bebef41-e65b-4225-b6c1-814ca8263e7e","name":"Filter"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-220,100],"id":"5889b516-dbcd-4df1-a7f9-3bb5ee0ba02f","name":"Loop Over Items"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"imgrCarousel2","cssSelector":"div[data-seo-id=\"hero-carousel-image\"]","returnValue":"html"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[440,200],"id":"ac6994ed-9143-4fb9-aa24-09306f07b5d8","name":"HTML"},{"parameters":{"formTitle":"Get Walmart Flash Deal Images","formDescription":"This updates the <a href=\"https://docs.google.com/spreadsheets/d/1TxqWrM7yFb6bIq2kF1LpRmv9Q5Dc0gfYS5mWoEO4N1w/edit?gid=410192749#gid=410192749\" target=\"_blank\">WMT Google Sheet</a> with the IMG URL from the Landing Pages of the Walmart Flash Deals.\n<ol>\n<li>First, go to the specific Week (tab/sheet) to update.</li>\n<li>If the first time running the script on that week, select \"Custom Menu > UnMerge\"</li>\n<li>Then click \"Custom Menu > Start n8n Process\"</li>\n<li>Copy the URL of the specific Week (tab/sheet) that you want to update.</li>\n<li>Paste the URL into this n8n Form.</li>\n</ol>\nContact Feffer for any issues.\nNotes:\n* Check for merged cells in \"Walmart URL\" & \"Image URL\"\n* Use the URL from the specific Week (tab/sheet).","formFields":{"values":[{"fieldLabel":"URL of GSheet","placeholder":"https://docs.google.com/spreadsheets/d/1TxqWrM7yFb6bIq2kF1LpRmv9Q5Dc0gfYS5mWoEO4N1w/edit?gid=410192749#gid=410192749","requiredField":true},{"fieldLabel":"Number of Images","fieldType":"number","placeholder":"20"}]},"responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-2420,180],"id":"45e9af70-6ade-498c-b443-fd2dcb5aa8b8","name":"On form submission","webhookId":"c75af2f8-a860-41f4-9389-b452a17941fc"},{"parameters":{"maxItems":"={{ $('renVars').item.json.numbImages }}"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-660,180],"id":"ae04488e-84e8-430e-999d-5265a0f1fd54","name":"Max "},{"parameters":{"operation":"completion","respondWith":"redirect","redirectUrl":"={{ $('renVars').item.json['urlGSheet'] }}&range=L{{ $('Loop Over Items').item.json.row_number }}"},"type":"n8n-nodes-base.form","typeVersion":1,"position":[0,0],"id":"cd001b36-6679-402c-a997-c41fec24af81","name":"Load GS in Form","webhookId":"e2fb8784-2132-437d-a2b9-bcc2dda3f3b1"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n    // Get the HTML string from the 'imgrCarousel2' field\n    const htmlString = item.json.imgrCarousel2;\n\n    // Check if htmlString is defined and is a string\n    if (typeof htmlString === 'string') {\n        // Define the regex pattern to extract the image URL from the src attribute\n        const regex = /src=[\"']([^\"']+)[\"']/;\n\n        // Match the regex against the HTML string\n        const match = htmlString.match(regex);\n\n        // Initialize the new field with a default value\n        item.json.myNewField = 1;\n\n        // If a match is found, add the image URL to the new field\n        if (match && match[1]) {\n            item.json.imageUrl = match[1]; // Add the extracted URL\n        } else {\n            item.json.imageUrl = null; // If no URL is found, set it to null or handle as needed\n        }\n    } else {\n        // If htmlString is not valid, handle the case accordingly\n        item.json.myNewField = 1; // You can still assign other fields if needed\n        item.json.imageUrl = null; // or any default value\n    }\n}\n\n// Return all modified items\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,200],"id":"e2b166c5-d7db-4d80-bf77-168c74a14358","name":"regEx to imageURL"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"={{ $('renVars').item.json['urlGSheet'] }}","mode":"url"},"sheetName":{"__rl":true,"value":"={{ $('renVars').item.json['urlGSheet'] }}","mode":"url"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRange","headerRow":2,"firstDataRow":3}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1320,180],"id":"905b4623-4a32-46a6-a3d5-79729c25c227","name":"GSheet","credentials":{"googleApi":{"id":"oEEbP0TZ34kNKGnb","name":"GSA: n8n-shop-gservice-2025may18"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[220,200],"id":"86e0ba02-f6e3-4548-bc83-ecba5319dfed","name":"Wait2s","webhookId":"f22aa790-8726-4654-aaf2-4645ca4aeeb2"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1100,280],"id":"53c3b30b-c4e1-43d8-aca2-3d8b67ba1a08","name":"Wait3s","webhookId":"d5302323-e5cf-4248-a38c-abe15602f598"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-440,180],"id":"7ed0df62-7876-4760-8066-0615fad0eb7b","name":"Wait 2s","webhookId":"6a95379f-d80c-428a-80f7-63640eaa792b"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1540,180],"id":"ada8536f-d623-499f-95b5-4e478f28e7c3","name":"Wait 5s","webhookId":"ad1d91f6-731d-4654-bed2-e9b5b1820e6d"},{"parameters":{"maxItems":75},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-880,180],"id":"6949da0f-a27d-48f4-bba0-d1df6a5bf242","name":"Max 75"},{"parameters":{"content":"## ScraperAPI [Docs](https://docs.scraperapi.com/making-requests/api-endpoint-method)","height":80},"type":"n8n-nodes-base.stickyNote","position":[-60,380],"typeVersion":1,"id":"5e60c650-56d6-44be-b34f-ad521fdafcc7","name":"Sticky Note"},{"parameters":{"content":"## Walmart [Week 10](https://docs.google.com/spreadsheets/d/1TxqWrM7yFb6bIq2kF1LpRmv9Q5Dc0gfYS5mWoEO4N1w/edit?gid=410192749#gid=410192749)","height":80,"width":280},"type":"n8n-nodes-base.stickyNote","position":[-2440,20],"typeVersion":1,"id":"132f9459-d519-471c-b6d2-d896f605e73d","name":"Sticky Note2"},{"parameters":{"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2200,180],"id":"be31f9a2-2271-4c5c-9905-852280270d34","name":"formVars"},{"parameters":{"assignments":{"assignments":[{"id":"fe204f6a-1f08-4778-bae0-d91be1322421","name":"URL of GSheet","value":"={{ $json['URL of GSheet'] }}","type":"string"},{"id":"436b5ee8-5062-47e0-8741-147b6bad21ec","name":"Number of Images","value":"={{ $('formVars').first().json['Number of Images'] ? $('On form submission').first().json['Number of Images'] : ( $('On form submission').first().json['Number of Images'] === null ? 20 : 20 ) }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1980,180],"id":"0413e214-3c3d-44cd-beeb-4c23a75ae0e4","name":"validateVars"},{"parameters":{"jsCode":"// Process the incoming items\nconst items = $input.all(); // Access all incoming data items\n\n// Function to format date\nfunction formatDate(dateString) {\n    const date = new Date(dateString);\n    \n    const year = date.getFullYear();\n    const day = String(date.getDate()).padStart(2, '0');\n    const month = String(date.getMonth() + 1).padStart(2, '0');\n    let hours = date.getHours();\n    const minutes = String(date.getMinutes()).padStart(2, '0');\n    const ampm = hours >= 12 ? 'PM' : 'AM';\n\n    // Convert hours to 12-hour format\n    hours = hours % 12;\n    hours = hours ? String(hours).padStart(2, '0') : '12';\n\n    return `${year}-${day}-${month} ${hours}:${minutes} ${ampm}`;\n}\n\n// Process each incoming item\nitems.forEach(item => {\n    const entry = item.json; // Access the JSON data of the current item\n\n// GSHEET URL\n    if (entry[\"URL of GSheet\"] === null || entry[\"URL of GSheet\"] === 0) {\n        entry[\"URL of GSheet\"] = 'https://docs.google.com/spreadsheets/d/11CMSlZdrZF1RERkThFlga4qHBRJiJyHbkZaEK7g8OL8/edit?gid=1273812888#gid=1273812888'; // Set to 5 if null or 0\n    }\n    entry[\"urlGSheet\"] = entry[\"URL of GSheet\"];\n\n// IMAGES\n    if (entry[\"Number of Images\"] === null || entry[\"Number of Images\"] === 0) {\n        entry[\"Number of Images\"] = 5; // Set to 5 if null or 0\n    }\n    entry[\"numbImages\"] = entry[\"Number of Images\"];\n\n\n// submittedAt\n    if (entry[\"submittedAt\"]) {\n        entry[\"submittedAt\"] = formatDate(entry[\"submittedAt\"]);\n    }\n});\n\n// Return the processed items\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2420,540],"id":"7e6fb1e7-6273-4f7d-abe9-5f383e36f385","name":"Code","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"1ddd398a-87b5-4e44-b312-78971f03ccc0","name":"urlGSheet","value":"={{ $json['URL of GSheet'] }}","type":"string"},{"id":"48b5b2bd-2823-432e-9b7e-98083d00283a","name":"numbImages","value":"={{ $json['Number of Images'] }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1760,180],"id":"83eb52f6-ec36-47a9-a380-788511f1f18f","name":"renVars"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"={{ $('renVars').item.json['urlGSheet'] }}","mode":"url"},"sheetName":{"__rl":true,"value":"={{ $('renVars').item.json['urlGSheet'] }}","mode":"url"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('GSheet').item.json['row_number'] }}","Image URL":"={{ $('regEx to imageURL').item.json.imageUrl }}"},"matchingColumns":["row_number"],"schema":[{"id":"SKU","displayName":"SKU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Display Value","displayName":"Display Value","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Active Start Date","displayName":"Active Start Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Active End Date","displayName":"Active End Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Regular Retail Price","displayName":"Regular Retail Price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Promo Retail Price","displayName":"Promo Retail Price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"WK8","displayName":"WK8","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rpt_lvl_0_nm","displayName":"rpt_lvl_0_nm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rpt_lvl_1_nm","displayName":"rpt_lvl_1_nm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rpt_lvl_2_nm","displayName":"rpt_lvl_2_nm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Walmart URL","displayName":"Walmart URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Image URL","displayName":"Image URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Manufacturer","displayName":"Manufacturer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"locationDefine":{"values":{"headerRow":2,"firstDataRow":3}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[880,200],"id":"cfb1bb9d-4f07-46b9-ba71-d75c4bd063d3","name":"updateGS","credentials":{"googleApi":{"id":"oEEbP0TZ34kNKGnb","name":"GSA: n8n-shop-gservice-2025may18"}}},{"parameters":{"url":"https://api.scraperapi.com","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"url","value":"=https://{{ $('Max 75').item.json[\"Walmart URL\"] }}"}]},"options":{"redirect":{"redirect":{"maxRedirects":5}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,200],"id":"140384f9-64f0-4f8e-9470-7383ca0ba365","name":"scraperAPI","alwaysOutputData":true,"executeOnce":true,"credentials":{"httpCustomAuth":{"id":"q6pZ4TseaEh92zGN","name":"AGM OS3 Aff: 132346 Pollfish - Test Rewarded Ads Account"}}},{"parameters":{"content":"## TIMEOUT: 10m","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2420,340],"id":"c78d4466-2a6e-4c3e-b7a8-5435abad73cd","name":"Sticky Note1"}],"connections":{"Filter":{"main":[[{"node":"Max 75","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Load GS in Form","type":"main","index":0}],[{"node":"scraperAPI","type":"main","index":0}]]},"HTML":{"main":[[{"node":"regEx to imageURL","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"formVars","type":"main","index":0}]]},"Max ":{"main":[[{"node":"Wait 2s","type":"main","index":0}]]},"regEx to imageURL":{"main":[[{"node":"updateGS","type":"main","index":0}]]},"GSheet":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Wait2s":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Wait3s":{"main":[[{"node":"Wait 2s","type":"main","index":0}]]},"Wait 2s":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait 5s":{"main":[[{"node":"GSheet","type":"main","index":0}]]},"Max 75":{"main":[[{"node":"Max ","type":"main","index":0}]]},"formVars":{"main":[[{"node":"validateVars","type":"main","index":0}]]},"validateVars":{"main":[[{"node":"renVars","type":"main","index":0}]]},"renVars":{"main":[[{"node":"Wait 5s","type":"main","index":0}]]},"updateGS":{"main":[[{"node":"Wait3s","type":"main","index":0}]]},"scraperAPI":{"main":[[{"node":"Wait2s","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1c640d4d-c8e2-4764-b226-09afc9783695","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-06-24T01:46:15.044Z","createdAt":"2025-06-24T01:46:15.044Z","role":"workflow:owner","workflowId":"gLARn9Cd9uAxZBUB","projectId":"NOrA7nVi3G84Nq0v"}],"activeVersion":null,"tags":[{"updatedAt":"2025-04-02T19:53:10.762Z","createdAt":"2025-04-02T19:53:10.762Z","id":"3rysViByRv0eiWCw","name":"SHOP"},{"updatedAt":"2025-03-28T05:18:56.320Z","createdAt":"2025-03-28T05:18:56.320Z","id":"jEMJy2OFy0YxTQSO","name":"GSheet"}]}