TEST: DataTable and Chart Agent.json
{"updatedAt":"2025-09-30T15:43:08.000Z","createdAt":"2025-09-30T00:14:53.053Z","id":"jgohAItC7Gib5C0L","name":"TEST: DataTable and Chart Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"labelsMode":"array","labelsArray":"={{ $json.output.fruit }}","data":"={{ $json.output.count }}","chartOptions":{"format":"svg","height":300,"horizontal":false,"width":500},"datasetOptions":{}},"type":"n8n-nodes-base.quickChart","typeVersion":1,"position":[704,0],"id":"3d834552-24d5-4bfd-ba61-bb5ed0254ffe","name":"QuickChart","disabled":true},{"parameters":{"promptType":"define","text":"=Create a pie chart showing the type of fruit and the count.\n- Labels Array {{ $json.output.fruit }}\n- Data {{ $json.output.count }}\n","options":{"systemMessage":"=You're a general purpose ai. Using markdown, you can display images in the conversation. Don't change the width of the chart\n- Labels Array {{ $json.output.fruit }}\n- Data {{ $json.output.count }}\n","maxIterations":3}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[640,304],"id":"00423690-1cd7-4110-926d-5e71e2a297df","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"timeout":20000,"maxRetries":2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[576,528],"id":"1ed0a34b-cef6-4cc2-9a9d-8ab75a2d1eb5","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Q8Dkie3VMouch4E5","name":"OpenAi 1L6 4E5"}}},{"parameters":{"chartType":"pie","labelsMode":"array","labelsArray":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Labels_Array', ``, 'string') }}","data":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Data', ``, 'json') }}","output":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Put_Output_In_Field', ``, 'string') }}","chartOptions":{},"datasetOptions":{}},"type":"n8n-nodes-base.quickChartTool","typeVersion":1,"position":[704,528],"id":"00d923ea-6c6f-4fe5-bffa-7d4971f82247","name":"QuickChart Tool","disabled":true},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"fruit","renameField":true,"outputFieldName":"output.fruit"},{"fieldToAggregate":"count","renameField":true,"outputFieldName":"output.count"}]},"options":{"keepMissing":true}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[352,160],"id":"20e518b0-eac3-4a7d-a490-7c3aea098ff7","name":"Aggregate"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[832,528],"id":"43054f5a-3ded-426c-addd-2a9771aafb33","name":"Think"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"xft5e0TQcDNHLl8f","mode":"list","cachedResultName":"fefTest01","cachedResultUrl":"/projects/w67UmfOboR7FFV1I/datatables/xft5e0TQcDNHLl8f"},"filters":{"conditions":[{"keyName":"fruit","condition":"isNotEmpty"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[128,160],"id":"ffd5ba3f-ee51-4f84-845e-05e16fff584a","name":"data table GetRows","executeOnce":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-96,160],"id":"f2d8f9b6-ac0d-4fe5-981b-0938acb77d43","name":"Chat","webhookId":"43e903d7-7acc-4f75-bd24-3410742ad0b8"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"QuickChart Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0},{"node":"QuickChart","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"data table GetRows":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Chat":{"main":[[{"node":"data table GetRows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4313bf01-8bcc-4696-a448-1b2647fcfaf1","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-09-30T00:45:10.195Z","createdAt":"2025-09-30T00:45:10.195Z","role":"workflow:owner","workflowId":"jgohAItC7Gib5C0L","projectId":"NOrA7nVi3G84Nq0v"}],"activeVersion":null,"tags":[{"updatedAt":"2025-03-27T02:22:51.862Z","createdAt":"2025-03-27T02:22:51.862Z","id":"588qevcpi6N20eWF","name":"test"}]}