test-error-workflow.json
{"updatedAt":"2025-12-15T07:09:39.908Z","createdAt":"2025-12-15T06:57:59.910Z","id":"ax4s46LPtt9jjsB2","name":"test-error-workflow","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"9e111d5f-5dcd-49a0-ad95-75050e9cb5e3","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"9b679dc5-3c3f-42ca-8ee0-f869cba1a01c","name":"Webhook","webhookId":"9e111d5f-5dcd-49a0-ad95-75050e9cb5e3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"83e8e110-5d51-4fde-ab6f-79df36378232","leftValue":"true","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[208,0],"id":"7fe8548a-1c76-4e9e-8672-0e4a35c67781","name":"If"},{"parameters":{"errorMessage":"=Error occurred please look into the workflow {{ $json }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[416,-96],"id":"3ea1e18a-43cb-4ddc-952b-45fe352dea47","name":"Stop and Error"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[16,160],"id":"e004352d-73ac-4d14-828f-67dab5e217a0","name":"When clicking ‘Execute workflow’"}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"jLFSwa3HZpulBKUR"},"staticData":null,"meta":null,"pinData":{},"versionId":"23456be0-92c4-48c2-ad36-e0568442b61e","activeVersionId":"23456be0-92c4-48c2-ad36-e0568442b61e","triggerCount":1,"shared":[{"updatedAt":"2025-12-15T06:57:59.912Z","createdAt":"2025-12-15T06:57:59.912Z","role":"workflow:owner","workflowId":"ax4s46LPtt9jjsB2","projectId":"NOrA7nVi3G84Nq0v"}],"activeVersion":{"updatedAt":"2025-12-15T07:09:39.909Z","createdAt":"2025-12-15T07:09:39.909Z","versionId":"23456be0-92c4-48c2-ad36-e0568442b61e","workflowId":"ax4s46LPtt9jjsB2","nodes":[{"parameters":{"path":"9e111d5f-5dcd-49a0-ad95-75050e9cb5e3","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"9b679dc5-3c3f-42ca-8ee0-f869cba1a01c","name":"Webhook","webhookId":"9e111d5f-5dcd-49a0-ad95-75050e9cb5e3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"83e8e110-5d51-4fde-ab6f-79df36378232","leftValue":"true","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[208,0],"id":"7fe8548a-1c76-4e9e-8672-0e4a35c67781","name":"If"},{"parameters":{"errorMessage":"=Error occurred please look into the workflow {{ $json }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[416,-96],"id":"3ea1e18a-43cb-4ddc-952b-45fe352dea47","name":"Stop and Error"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[16,160],"id":"e004352d-73ac-4d14-828f-67dab5e217a0","name":"When clicking ‘Execute workflow’"}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"If","type":"main","index":0}]]}},"authors":"Rushikesh Nalbalwar","name":null,"description":null},"tags":[]}